<a class="game-thumbnail"
	ng-href="{{ ::$ctrl.url }}"
	>

	<div class="game-thumbnail-controls"
		ng-if="::$ctrl.showControl || $ctrl.showModTools"
		>
		<button class="btn btn-sparse"
			ng-if="::$ctrl.showControl"
			tooltip="{{ ::$ctrl.controlLabel }}"
			ng-click="$ctrl.onControlClick( $event )"
			>
			<span class="jolticon" ng-class="::'jolticon-' + $ctrl.controlType"></span>
		</button>
		<span ng-if="::$ctrl.showModTools">
			<button class="btn btn-sparse"
				gj-popover-trigger="game-mod-tools-{{ ::$ctrl.game.id }}"
				ng-click="$event.preventDefault()"
				>
				<span class="jolticon jolticon-cog"></span>
			</button>
			<gj-popover
				popover-id="game-mod-tools-{{ ::$ctrl.game.id }}"
				popover-append-to-body="true"
				>
				<gj-game-mod-links game="::$ctrl.game"></gj-game-mod-links>
			</gj-popover>
		</span>
	</div>

	<div class="game-thumbnail-thumb">
		<span class="jolticon jolticon-game"></span>

		<span class="game-thumbnail-tag" ng-if="::$ctrl.game.development_status == 2" translate>
			Early Access
		</span>

		<span class="game-thumbnail-tag" ng-if="::$ctrl.game.development_status == 4" translate>
			Devlog-Only
		</span>

		<span class="game-thumbnail-video-tag" ng-if="::$ctrl.game.thumbnail_media_item.is_animated && $ctrl.screen.isDesktop">
			<span class="jolticon jolticon-stream"></span>
		</span>

		<gj-game-thumbnail-img [game]="::$ctrl.game"></gj-game-thumbnail-img>

		<gj-video
			ng-if="$ctrl.game.thumbnail_media_item.is_animated && $ctrl.screen.isDesktop && $ctrl.isActive"
			poster="{{ ::$ctrl.game.thumbnail_media_item.mediaserver_url }}"
			webm="{{ ::$ctrl.game.thumbnail_media_item.mediaserver_url_webm }}"
			mp4="{{ ::$ctrl.game.thumbnail_media_item.mediaserver_url_mp4 }}"
			>
		</gj-video>
	</div>

	<div class="game-thumbnail-meta">

		<div class="game-thumbnail-pricing"
			ng-if="::$ctrl.game._has_packages && !$ctrl.hidePricing"
			ng-class="::{ 'game-thumbnail-pricing-owned': $ctrl.game.sellable.is_owned, 'game-thumbnail-pricing-sale': $ctrl.sale }"
			>
			<div ng-if="::!$ctrl.game.sellable.is_owned" ng-switch="::$ctrl.game.sellable.type">
				<div ng-switch-when="paid">
					<div class="game-thumbnail-pricing-sale-percentage"
						ng-if="::$ctrl.sale"
						>
						-{{ ::$ctrl.salePercentageOff }}%
					</div>
					<div class="game-thumbnail-pricing-container">
						<div class="game-thumbnail-pricing-amount-old"
							ng-if="::$ctrl.sale"
							>
							${{ ::$ctrl.saleOldPricing.amount | gjCurrency:'' }}
						</div>
						<div class="game-thumbnail-pricing-amount">
							<span class="game-thumbnail-pricing-currency">$</span>{{ ::$ctrl.pricing.amount | gjCurrency:'' }}
						</div>
					</div>
				</div>
				<span class="game-thumbnail-pricing-tag" ng-switch-when="pwyw" translate>
					Name Your Price
				</span>
				<span class="game-thumbnail-pricing-tag" ng-switch-default translate>
					Free
				</span>
			</div>
			<div ng-if="::$ctrl.game.sellable.is_owned">
				<span class="game-thumbnail-pricing-tag" translate>
					Owned
				</span>
			</div>
		</div>

		<div class="game-thumbnail-os">
			<gj-game-compat-icons gj-game="::$ctrl.game"></gj-game-compat-icons>
		</div>
		<div class="game-thumbnail-dev" title="{{ ::$ctrl.game.developer.display_name }} (@{{ ::$ctrl.game.developer.username }})">
			{{ ::$ctrl.game.developer.display_name }}
		</div>
		<div class="game-thumbnail-title" title="{{ ::$ctrl.game.title }}">
			{{ ::$ctrl.game.title }}
		</div>
	</div>
</a>
