@require '~styles/variables'

.game-thumbnail-thumb

	$zindex-img = 1
	$zindex-video = 2

	img
	video
	.video
		position: absolute !important
		display: block
		left: 0
		right: 0
		top: 0
		bottom: 0
		width: 100%
		height: 100%

	img
		z-index: $zindex-img

	video
		z-index: $zindex-video
