<a class="game-thumbnail"
	ng-href="{{ ::$ctrl.url }}"
	ng-mouseenter="$ctrl.isHovered = true"
	ng-mouseleave="$ctrl.isHovered = false"
	>

	<div class="game-thumbnail-controls" ng-if="::$ctrl.showControl">
		<button class="i-button big sparse" tooltip="{{ ::$ctrl.controlLabel }}" ng-click="$ctrl.onControlClick( $event )">
			<span class="jolticon" ng-class="::'jolticon-' + $ctrl.controlType"></span>
		</button>
	</div>

	<div class="game-thumbnail-thumb">
		<span class="jolticon jolticon-game"></span>

		<span class="game-thumbnail-tag" ng-if="::$ctrl.game.development_status == 2" translate>
			Early Access
		</span>

		<span class="game-thumbnail-tag" ng-if="::$ctrl.game.development_status == 4" translate>
			Devlog-Only
		</span>

		<span class="game-thumbnail-video-tag" ng-if="::$ctrl.game.has_animated_thumbnail && $ctrl.screen.isDesktop">
			<span class="jolticon jolticon-stream"></span>
		</span>

		<gj-game-thumbnail-img game="::$ctrl.game"></gj-game-thumbnail-img>

		<gj-video
			ng-if="$ctrl.game.has_animated_thumbnail && $ctrl.screen.isDesktop && $ctrl.isHovered"
			poster="{{ ::$ctrl.game.img_thumbnail }}"
			webm="{{ ::$ctrl.game.img_thumbnail_webm }}"
			mp4="{{ ::$ctrl.game.img_thumbnail_mp4 }}"
			>
		</gj-video>
	</div>

	<div class="game-thumbnail-meta">

		<div class="game-thumbnail-pricing"
			ng-if="::$ctrl.game._has_packages"
			ng-class="::{ 'game-thumbnail-pricing-owned': $ctrl.game.sellable.is_owned }"
			>
			<div ng-if="::!$ctrl.game.sellable.is_owned" ng-switch="::$ctrl.game.sellable.type">
				<span class="game-thumbnail-pricing-amount" ng-switch-when="paid">
					<span class="game-thumbnail-pricing-currency">$</span>{{ ::$ctrl.game.sellable.pricings[0].amount | gjCurrency:'' }}
				</span>
				<span class="game-thumbnail-pricing-tag" ng-switch-when="pwyw" translate>
					name your price
				</span>
				<span class="game-thumbnail-pricing-tag" ng-switch-default translate>
					Free
				</span>
			</div>
			<div ng-if="::$ctrl.game.sellable.is_owned">
				<span class="game-thumbnail-pricing-tag" translate>
					Owned
				</span>
			</div>
		</div>

		<div class="game-thumbnail-os">
			<gj-game-compat-icons gj-game="::$ctrl.game"></gj-game-compat-icons>
		</div>
		<div class="game-thumbnail-dev" title="{{ ::$ctrl.game.developer.display_name }} (@{{ ::$ctrl.game.developer.username }})">
			{{ ::$ctrl.game.developer.display_name }}
		</div>
		<div class="game-thumbnail-title" title="{{ ::$ctrl.game.title }}">
			{{ ::$ctrl.game.title }}
		</div>
	</div>
</a>
