<div class="game-listing">
	<section class="section section-thin" v-if="showAds && !Environment.isClient && !Screen.isXs">
		<app-ad size="leaderboard" />
	</section>

	<section class="section fill-lightest nav-only" v-if="!hideFilters" id="games">
		<div class="container">
			<app-game-filtering-widget :filtering="listing.filteringContainer" />
		</div>
	</section>

	<div class="container" v-if="!hideFilters">
		<div class="clearfix">

			<app-game-filtering-tags :filtering="listing.filteringContainer" />

			<!--
				On mobile we show the filtering input above.
			-->
			<app-game-filtering-input
				v-if="Screen.isSm || (Screen.isXs && listing.filteringContainer.filters.query)"
				:filtering="listing.filteringContainer"
				/>

		</div>
	</div>

	<!--
		Use ng-show so that the ui-view gets loaded in.
	-->
	<section class="section">
		<div class="container-lg">

			<div class="row">
				<div class="col-sm-6 col-md-3">

					<nav class="pills" :class="{ 'nav-justified': Screen.isXs }"
						v-if="!hideSectionNav"
						>
						<ul>
							<li v-if="includeFeaturedSection">
								<router-link
									:to="{ name: $route.name, params: { section: 'featured' } }"
									:exact="true"
									active-class="active"
									gj-no-auto-scroll
									v-app-track-event="`game-list:section-selector:featured`"
									translate
									>
									<translate>games.list.sections_selector_featured</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{ name: $route.name, params: { section: undefined } }"
									:exact="true"
									active-class="active"
									gj-no-auto-scroll
									v-app-track-event="`game-list:section-selector:hot`"
									>
									<translate>games.list.sections_selector_hot</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{ name: $route.name, params: { section: 'best' } }"
									:exact="true"
									active-class="active"
									gj-no-auto-scroll
									v-app-track-event="`game-list:section-selector:best`"
									>
									<translate>games.list.sections_selector_best</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{ name: $route.name, params: { section: 'new' } }"
									:exact="true"
									active-class="active"
									gj-no-auto-scroll
									v-app-track-event="`game-list:section-selector:new`"
									>
									<translate>games.list.sections_selector_new</translate>
								</router-link>
							</li>
						</ul>
					</nav>

				</div>
				<div
					:class="{
						'col-sm-6 col-md-5': !hideFilters,
						'col-sm-6 col-md-9': hideFilters,
					}"
					>

					<p class="text-muted small" :class="{ 'text-right': !Screen.isXs }">
						<translate v-if="listing.gamesCount === 0">
							games.list.games_count_none
						</translate>

						<translate
							v-if="listing.gamesCount > 0"
							:translate-params="{ count: number( listing.gamesCount ), page: number( listing.currentPage ) }"
							:translate-n="listing.gamesCount"
							translate-plural="Page %{ page } of %{ count } games."
							translate-comment="%{ page } expands to the current page of games"
							>
							%{ count } game.
						</translate>
					</p>

				</div>
				<div class="col-md-4 visible-md visible-lg" v-if="!hideFilters">

					<app-game-filtering-input :filtering="listing.filteringContainer" />

				</div>
			</div>

			<div v-if="listing.gamesCount">

				<app-loading-fade :is-loading="isLoading">
					<slot />
				</app-loading-fade>

				<app-pagination
					class="text-center"
					:items-per-page="listing.perPage"
					:total-items="listing.gamesCount"
					:current-page="listing.currentPage"
					@pagechange="Scroll.to( 'games', { animate: false } )"
					/>

			</div>
		</div>
		<div class="container">
			<div v-if="!listing.gamesCount" class="alert alert-warning anim-fade-in no-animate-leave">
				<div class="container">
					<p>
						<translate>No games match your filters. Zoinks!</translate>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-thin" v-if="showAds && !Environment.isClient && !Screen.isXs">
		<app-ad size="leaderboard" />
	</section>
</div>
