<div class="game-media-bar-lightbox-item" ng-if="ctrl.isActive || ctrl.isNext || ctrl.isPrev">
	<div class="game-media-bar-lightbox-item-inner" ng-switch="ctrl.item.media_type">

		<!-- Image -->
		<div ng-switch-when="image">
			<div class="game-media-bar-lightbox-item-embed"
				ng-if="ctrl.maxWidth && ctrl.maxHeight"
				>

				<!--
					The min/max will be the actual dimensions for the image thumbnail.
				-->
				<img
					gj-img-responsive="{{ ctrl.item.img_thumbnail }}"
					alt="{{ ctrl.item.caption }}"
					ng-style="{ width: ctrl.maxWidth + 'px', height: ctrl.maxHeight + 'px' }"
					>
			</div>

			<div class="game-media-bar-lightbox-item-caption" ng-if="ctrl.item.caption">
				<h4>{{ ctrl.item.caption }}</h4>
			</div>
		</div>

		<!-- Video -->
		<div ng-switch-when="video">
			<div class="game-media-bar-lightbox-item-embed"
				ng-if="ctrl.maxWidth && ctrl.maxHeight"
				>
				<div ng-if="ctrl.mediaBarCtrl.isPlaying != ctrl.itemIndex ">

					<!--
						Since we don't have the original width/height for videos, we have to just set max dimensions for the thumbnail.
					-->
					<img
						gj-img-responsive="{{ ctrl.item.img_thumbnail }}"
						alt="{{ ctrl.item.title }}"
						ng-style="{ 'max-height': ctrl.maxHeight + 'px', 'max-width': ctrl.maxWidth + 'px' }"
						>

					<span class="play-button-overlay" ng-click="ctrl.play()">
						<span class="jolticon jolticon-play"></span>
					</span>
				</div>

				<div ng-if="ctrl.mediaBarCtrl.isPlaying == ctrl.itemIndex">
					<gj-video-embed
						class="game-media-bar-lightbox-item-embed"
						video-provider="{{ ctrl.item.type }}"
						video-id="ctrl.item.url"
						max-video-width="ctrl.maxWidth"
						max-video-height="ctrl.maxHeight"
						autoplay="true"
						>
					</gj-video-embed>
				</div>
			</div>

			<div class="game-media-bar-lightbox-item-caption">
				<h4>{{ ctrl.item.title }}</h4>
				<p ng-if="ctrl.item.description" ng-bind-html="ctrl.item.description | linky"></p>
			</div>
		</div>

	</div>
</div>
