@require '~styles/variables'
@require '~styles-lib/mixins'

#footer
	theme-prop('background-color', 'darkest-subtle')
	position: relative
	// background-image: url('../shell-bg.png')
	// background-repeat: repeat
	z-index: $zindex-footer

	@media $media-xs
		text-align: center

.footer
	&-ad .ad-inner
		margin-left: auto
		margin-right: auto

	&-link-list
		font-size: $font-size-tiny

		@media $media-sm-up
			font-size: $font-size-small

		> li > a
			theme-prop('color', 'fg-muted')

			&:hover
				color: $white

	@media $media-xs
		&-links
			margin-top: $line-height-computed

	@media $media-sm-up
		&-ad
			float: right

		&-links
			margin-right: 300px + $grid-gutter-width

		&-jolt
			float: left

		&-meta
			float: left
			margin-left: $grid-gutter-width

		&-translations
			float: right
			text-align: right
