#footer
	position: relative
	z-index: $zindex-footer
	// background: transparent !important
	background-color: $gray-darkest
	background-image: url('/app/components/shell/shell-bg.png')
	background-repeat: repeat

	@media $media-xs
		text-align: center

	hr
		border-color: $gray-dark

.footer-link-list
	font-size: $font-size-tiny

	@media $media-sm-up
		font-size: $font-size-small

	> li > a
		color: $text-muted
		&:hover
			color: $white

.footer-translations
	@media $media-sm-up
		text-align: right
