@require '~styles/variables'
@require '~styles-lib/mixins'

#footer
	theme-prop('background-color', 'darkest')
	padding-top: $grid-gutter-width * 0.5
	position: relative
	z-index: $zindex-footer

	@media $media-xs
		text-align: center

.-client-logo
	margin-right: 10px

.footer
	&-link-list
		font-size: $font-size-tiny

		@media $media-sm-up
			font-size: $font-size-small

		& > li
			margin-bottom: 6px

			& > a
				theme-prop('color', 'fg-muted')

				&:hover
					color: $white

	@media $media-sm-up
		&-jolt
			float: left

		&-meta
			float: left
			margin-left: $grid-gutter-width

		&-translations
			float: right
			text-align: right
