<footer id="footer" class="section">
	<div class="container">

		<div class="hidden-xs" ng-if="!$ctrl.env.isClient">
			<div class="text-center">
				<p>
					<a ui-sref="client" gj-track-event="footer:client-promo">
						<img src="~img/game-jolt-client-logo.svg" alt="Game Jolt Client">
					</a>
				</p>
				<p>
					<a ui-sref="client" class="btn btn-primary">
						Get It Now
					</a>
				</p>
			</div>

			<br>
			<br>
			<br>
		</div>

		<div class="footer-jolt" ng-if="$ctrl.Screen.isXs">
			<a ui-sref="discover.home">
				<img src="~img/jolt.svg" alt="Game Jolt" width="68" height="72">
			</a>
		</div>

		<br class="visible-xs">

		<div class="clearfix">
			<div class="footer-ad" ng-if="!$ctrl.Screen.isXs">
				<gj-ad ng-repeat="i in [ $ctrl.adIndex ] track by i" size="rectangle"></gj-ad>
			</div>

			<div class="footer-links">
				<div class="row">
					<div class="col-xs-4">
						<ol class="list-unstyled footer-link-list">
							<li>
								<a ui-sref="landing.learn" translate>What's Game Jolt</a>
							</li>
							<li>
								<a ui-sref="client" translate>Client</a>
							</li>
							<li>
								<a ui-sref="discover.devlogs.overview" translate>Devlogs</a>
							</li>
							<li>
								<a href="http://fireside.gamejolt.com" translate>Fireside</a>
							</li>
							<li>
								<a ui-sref="radio" translate>Radio</a>
							</li>
							<li>
								<a href="http://jams.gamejolt.com" translate>Jams</a>
							</li>
						</ol>
					</div>
					<div class="col-xs-4">
						<ol class="list-unstyled footer-link-list">
							<!--<li>
								<a ui-sref="landing.developers" translate>Developers</a>
							</li>-->
							<li>
								<a ui-sref="landing.marketplace" translate>Marketplace</a>
							</li>
							<li>
								<a ui-sref="landing.partners" translate>Partners</a>
							</li>
							<!--<li>
								<a ui-sref="landing.game-api" translate>Game API</a>
							</li>-->
							<li>
								<a href="https://www.redbubble.com/people/gamejolt/shop" target="_blank" translate>Merch</a>
							</li>
							<li>
								<a ui-sref="forums.landing.overview" translate>Forums</a>
							</li>
							<li>
								<a href="https://github.com/gamejolt" target="_blank" translate>footer.open_source</a>
							</li>
						</ol>
					</div>
					<div class="col-xs-4">
						<ol class="list-unstyled footer-link-list">
							<li>
								<a href="https://fireside.gamejolt.com/tag/gjbroadcast" target="_blank" translate>Blog</a>
							</li>
							<li>
								<a ui-sref="landing.about" translate>About</a>
							</li>
							<li>
								<a href="mailto:contact@gamejolt.com" translate>footer.contact</a>
							</li>
							<li>
								<a ui-sref="legal.terms" translate>legal.terms</a>
							</li>
							<li>
								<a ui-sref="legal.privacy" translate>legal.privacy</a>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<br class="visible-xs">

		<div class="footer-ad" ng-if="$ctrl.Screen.isXs">
			<gj-ad ng-repeat="i in [ $ctrl.adIndex ] track by i" size="rectangle"></gj-ad>
		</div>

		<hr>

		<div class="clearfix">
			<div class="footer-jolt" ng-if="!$ctrl.Screen.isXs">
				<a ui-sref="discover.home">
					<img src="~img/jolt.svg" alt="Game Jolt" width="68" height="72">
				</a>
			</div>
			<div class="footer-meta">

				<p>
					<a class="btn btn-sparse" href="https://twitter.com/gamejolt" target="_blank">
						<span class="jolticon jolticon-twitter-bird"></span>
					</a>
					<a class="btn btn-sparse" href="https://facebook.com/gamejolt" target="_blank">
						<span class="jolticon jolticon-facebook"></span>
					</a>
				</p>

				<p class="tiny">&copy; {{ ::$ctrl.curDate | date:'y' }} Lucent Web Creative, LLC</p>

				<p class="tiny text-muted" ng-if="$ctrl.env.isClient">
					<a ng-click="$ctrl.showSystemReport()" class="link-muted" translate>footer.send_system_report</a>
					<span class="dot-separator"></span>
					v{{ ::$ctrl.clientVersion }}
				</p>

			</div>
			<div class="footer-translations">

				<div>
					<gj-translate-lang-selector
						on-lang-change="$ctrl.onLangChange()"
						>
					</gj-translate-lang-selector>
				</div>

				<br class="hidden-xs">

				<p class="small text-muted">
					<span translate>footer.translations</span>
					<br>
					<a href="https://poeditor.com/join/project/B4nWT6EgnD" target="_blank" translate>footer.translations_help</a>
				</p>

			</div>
		</div>

	</div>
</footer>
