#footer
	position: relative
	z-index: $zindex-footer

	hr
		width: 50px
		border-color: $gray-dark

		@media $media-sm-up
			margin-left: 0
			margin-right: 0

.footer-client-promo
	padding: 10px 0
	color: $white
	font-size: $font-size-small
	text-align: center

	img
		margin-right: 10px

	.btn
		margin-left: 10px
