<footer id="footer" class="section">
	<div class="container" ng-class="{ 'text-center': Screen.isXs }">
		<div class="clearfix small">
			<div ng-class="{ 'pull-left': !Screen.isXs }">
				<div class="social-widgets" ng-if="!Environment.isClient">
					<gj-social-twitter-follow handle="gamejolt"></gj-social-twitter-follow>
					<span class="dot-separator hidden-xs"></span>
					<br ng-if="Screen.isXs">
					<br ng-if="Screen.isXs">
					<gj-social-facebook-like url="https://facebook.com/gamejolt" show-share="false"></gj-social-facebook-like>
				</div>

				<p class="small text-muted" translate>footer.tagline</p>

				<hr>

				<div>
					<gj-translate-lang-selector
						on-lang-change="ctrl.onLangChange()"
						>
					</gj-translate-lang-selector>
				</div>
				<br class="hidden-xs">

				<p class="small text-muted">
					<span translate>footer.translations</span>
					<a href="https://poeditor.com/join/project/B4nWT6EgnD" translate>footer.translations_help</a>
				</p>

			</div>
			<div ng-class="{ 'pull-right text-right': !Screen.isXs }">

				<hr class="visible-xs">

				<p>
					<a href="https://github.com/gamejolt" translate>footer.open_source</a>

					<span class="dot-separator"></span>
					<a href="/terms" translate>legal.terms</a>

					<span class="dot-separator"></span>
					<a href="/privacy" translate>legal.privacy</a>

					<span class="dot-separator"></span>
					<a href="mailto:contact@gamejolt.com" translate>footer.contact</a>
				</p>

				<p class="tiny">&copy; {{ ::ctrl.curDate | date:'y' }} Lucent Web Creative, LLC</p>

				<p class="tiny text-muted" ng-if="Environment.isClient">v{{ ::ctrl.clientVersion }}</p>
			</div>
		</div>
	</div>
</footer>
