<footer id="footer" class="section">
	<div class="container">

		<div class="hidden-xs" v-if="!GJ_IS_CLIENT">
			<div class="text-center">
				<p>
					<router-link :to="{ name: 'landing.client' }" v-app-track-event="`footer:client-promo`">
						<img src="~img/game-jolt-client-logo.svg" alt="Game Jolt Client">
					</router-link>
				</p>
				<p>
					<router-link :to="{ name: 'landing.client' }" class="btn btn-primary">
						<translate>Get It Now</translate>
					</router-link>
				</p>
			</div>

			<br>
			<br>
			<br>
		</div>

		<div class="footer-jolt" v-if="Screen.isXs">
			<router-link :to="{ name: 'discover.home' }">
				<img src="~img/jolt.svg" alt="Game Jolt" width="68" height="72">
			</router-link>
		</div>

		<br class="visible-xs">

		<div class="clearfix">
			<div class="footer-ad" v-if="!Screen.isXs">
				<app-ad size="rectangle" pos="footer" />
			</div>

			<div class="footer-links">
				<div class="row">
					<div class="col-xs-4">
						<ol class="list-unstyled footer-link-list">
							<li>
								<router-link :to="{ name: 'landing.learn' }">
									<translate>What's Game Jolt</translate>
								</router-link>
							</li>
							<li>
								<router-link :to="{ name: 'landing.client' }">
									<translate>Client</translate>
								</router-link>
							</li>
							<li>
								<router-link :to="{ name: 'discover.devlogs.overview' }">
									<translate>Devlogs</translate>
								</router-link>
							</li>
							<li>
								<a href="http://fireside.gamejolt.com" target="_blank">
									<translate>Fireside</translate>
								</a>
							</li>
							<li>
								<router-link :to="{ name: 'radio' }">
									<translate>Radio</translate>
								</router-link>
							</li>
							<li>
								<a href="http://jams.gamejolt.com" target="_blank">
									<translate>Jams</translate>
								</a>
							</li>
						</ol>
					</div>
					<div class="col-xs-4">
						<ol class="list-unstyled footer-link-list">
							<!--<li>
								<router-link :to="{ name: 'landing.developers">
									<translate>Developers</translate>
								</router-link>
							</li>-->
							<li>
								<router-link :to="{ name: 'landing.marketplace' }">
									<translate>Marketplace</translate>
								</router-link>
							</li>
							<li>
								<router-link :to="{ name: 'landing.partners' }">
									<translate>Partners</translate>
								</router-link>
							</li>
							<!--<li>
								<router-link :to="{ name: 'landing.game-api' }">
									<translate>Game API</translate>
								</router-link>
							</li>-->
							<li>
								<a href="https://www.redbubble.com/people/gamejolt/shop" target="_blank">
									<translate>Merch</translate>
								</a>
							</li>
							<li>
								<router-link :to="{ name: 'forums.landing.overview' }">
									<translate>Forums</translate>
								</router-link>
							</li>
							<li>
								<a href="https://github.com/gamejolt" target="_blank">
									<translate>footer.open_source</translate>
								</a>
							</li>
							<li>
								<router-link :to="{ name: 'forums.channels.view', params: { name: 'gj-improve' } }">
									<translate>Feature Requests</translate>
								</router-link>
							</li>
							<li>
								<a href="https://github.com/gamejolt/issue-tracker" target="_blank">
									<translate>Bug Tracker</translate>
								</a>
							</li>
						</ol>
					</div>
					<div class="col-xs-4">
						<ol class="list-unstyled footer-link-list">
							<li>
								<a href="https://fireside.gamejolt.com/tag/gjbroadcast" target="_blank">
									<translate>Blog</translate>
								</a>
							</li>
							<li>
								<router-link :to="{ name: 'landing.about' }">
									<translate>About</translate>
								</router-link>
							</li>
							<li>
								<a href="mailto:contact@gamejolt.com">
									<translate>footer.contact</translate>
								</a>
							</li>
							<li>
								<router-link :to="{ name: 'legal.terms' }">
									<translate>legal.terms</translate>
								</router-link>
							</li>
							<li>
								<router-link :to="{ name: 'legal.privacy' }">
									<translate>legal.privacy</translate>
								</router-link>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="clearfix">
			<div class="footer-jolt" v-if="!Screen.isXs">
				<router-link :to="{ name: 'discover.home' }">
					<img src="~img/jolt.svg" alt="Game Jolt" width="68" height="72">
				</router-link>
			</div>
			<div class="footer-meta">

				<p>
					<a class="btn btn-sparse" href="https://twitter.com/gamejolt" target="_blank">
						<app-jolticon icon="twitter-bird" />
					</a>
					<a class="btn btn-sparse" href="https://facebook.com/gamejolt" target="_blank">
						<app-jolticon icon="facebook" />
					</a>
				</p>

				<p class="tiny">
					&copy; {{ curDate | date( 'YYYY' ) }} Lucent Web Creative, LLC
				</p>

				<p class="tiny text-muted" v-if="GJ_IS_CLIENT">
					<a @click="showSystemReport" class="link-muted">
						<translate>footer.send_system_report</translate>
					</a>
					<span class="dot-separator"></span>
					v{{ clientVersion }}
				</p>

			</div>
			<div class="footer-translations">

				<div>
					<app-translate-lang-selector />
				</div>

				<br class="hidden-xs">

				<p class="small text-muted">
					<translate>footer.translations</translate>
					<br>
					<a href="https://poeditor.com/join/project/B4nWT6EgnD" target="_blank">
						<translate>footer.translations_help</translate>
					</a>
				</p>

			</div>
		</div>

	</div>
</footer>
