/**
 * Layering Z Indexes
 * This page only includes higher-level component zindexing.
 * We keep the first 10 zindexing for components to set simple zindexing.
 */
/**
 * Shell
 */
$zindex-backdrop = 100
$zindex-shell-top-nav = 103
$zindex-page-sidebar = 101
$zindex-shell-pane = 101
$zindex-shell-pane-under = 99
$zindex-shell-body = 98
$zindex-footer = 98
$zindex-shell-hot-bottom = 104
$zindex-offline-alert = 1000
/**
 * Chat (part of shell)
 */
$zindex-chat-window = 110
/**
 * Lightbox
 */
$zindex-media-bar-lightbox = 500
/**
 * Page level nav scroll affixed.
 */
$zindex-nav-scroll-affixed = 50
/**
 * Page Header
 */
$zindex-page-header-nav = 15
