/**
 * Layering Z Indexes
 * This page only includes higher-level component zindexing.
 * We keep the first 10 zindexing for components to set simple zindexing.
 */
/**
 * Shell
 */
$zindex-cbar = 103
$zindex-shell-top-nav = 103
$zindex-shell-pane = 102
$zindex-backdrop = 100
$zindex-shell-pane-under = 99
$zindex-shell-body = 98
$zindex-footer = 98
$zindex-shell-hot-bottom = 104
$zindex-offline-alert = 1000
/**
 * Windows (part of shell, Chat/Quests)
 */
$zindex-shell-window = 110
/**
 * Lightbox
 */
$zindex-media-bar-lightbox = $zindex-modal + 1
/**
 * Sticker Layer Mask
 */
$zindex-sticker-layer = $zindex-media-bar-lightbox + 1
/**
 * Page level nav scroll affixed.
 */
$zindex-nav-scroll-affixed = 50
/**
 * Page Header
 */
$zindex-page-header-nav = 15
