/**
 * Layering Z Indexes
 * This page only includes higher-level component zindexing.
 * We keep the first 10 zindexing for components to set simple zindexing.
 */

/**
 * Shell
 */
$zindex-backdrop = 100
$zindex-shell-top-nav = 101
$zindex-shell-pane = 2
$zindex-shell-body = 10
$zindex-shell-hot-bottom = 102
$zindex-footer = 10
$zindex-offline-alert = 1000
$zindex-page-sidebar = 11;

/**
 * Chat (part of shell)
 */
$zindex-chat-window = 110
$zindex-chat-bubbles = 120

/**
 * Lightbox
 */
$zindex-game-media-bar-lightbox = 500

/**
 * Page level nav scroll affixed.
 */
$zindex-nav-scroll-affixed = 50

/**
 * Play button overlays.
 * Should overlay most page-level stuff.
 */
$zindex-play-button-overlay = 11
