.post-body

	img
		@extend .img-responsive

		// Center it if too small.
		margin-left: auto
		margin-right: auto

	h1, h2, h3, h4, h5, h6
		&:first-child
			margin-top: 0

	// Widgets some times create empty P tags.
	// This hides them so they don't add extra spacing to the page.
	p:empty
		display: none

	// Removes the added spacing after iframes since they aren't block elements.
	// They basically by default add their line spacing to the bottom.
	iframe
		display: block

	table
		@extend .table
