@import '../../_styles/variables'
@import './layers'

/**
 * Shell
 */
$shell-border-color = $black
$shell-top-nav-height = 56px
$shell-user-box-height = 125px
$status-bar-height = 28px
// Have to override $body-bg from bootstrap to be transparent.
// It then falls through to what `html` is set to.
$body-bg = transparent
$shell-body-content-bg = $white
/**
 * Chat
 */
$chat-bubble-size = 60px
$chat-room-window-width = 900px
$chat-room-window-padding-h = 12px
$chat-room-window-padding-v = 16px
$chat-room-window-padding = $chat-room-window-padding-v $chat-room-window-padding-h
/**
 * Forums
 */
$forum-post-list-icon-size = 50px
$forum-post-list-avatar-margin = $grid-gutter-width
/**
 * Minbar
 */
$minbar-offset-right = $chat-bubble-size
/**
 * Modals
 */
$modal-padding = ($grid-gutter-width / 2)
$modal-padding-xs = ($grid-gutter-width-xs / 2)
/**
 * Page Header
 */
$page-header-spotlight-size = 100px
$page-header-spotlight-margin = ($grid-gutter-width / 2)
