/**
 * Colors
 */
$text-color = $gray-dark
$headings-color = $gray-dark
$link-color = $gj-dark-green
$link-hover-color = $black

/**
 * Grid System
 */
$grid-gutter-width = 40px
$grid-gutter-width-xs = 30px

/**
 * Shell
 */
$shell-border-color = $black
$shell-pane-width = 280px
$shell-top-nav-height = 50px
$shell-user-box-height = 125px
$status-bar-height = 28px
$chat-bubble-size = 60px

// Have to override $body-bg from bootstrap to be transparent.
// It then falls through to what `html` is set to.
$body-bg = transparent
$shell-body-content-bg = $white

/**
 * Overlay Scrollbars
 */
$overlay-scrollbar-width = 7px
$overlay-scrollbar-padding = 2px
$overlay-scrollbar-padding-horizontal = 5px
$overlay-scrollbar-border-radius = 0
