/**
 * Colors
 */
$body-bg = $white
$text-color = $gray-dark
$headings-color = $gray-dark
$link-color = $gj-dark-green
$link-hover-color = $black

// The defaults for bootstrap.
// $font-size-base = 14px
// $font-size-large =         ceil(($font-size-base * 1.25)); // ~18px
// $font-size-small =         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1 = 32px
$font-size-h2 = 28px
$font-size-h3 = 24px
$font-size-h4 = 18px
$font-size-h5 = $font-size-base;
$font-size-h6 = ceil( $font-size-base * 0.85 )  // ~12px

/**
 * Grid System
 */
$grid-gutter-width = 40px
$grid-gutter-width-xs = 30px

/**
 * Shell
 */
$shell-border-color = $black
$shell-pane-width = 280px
$shell-top-nav-height = 50px
$shell-user-box-height = 125px
$chat-tabs-height = 34px
$status-bar-height = 28px

// Body bg is the body area underneath the content.
// It's what the footer ends up being and when there is no shell.
// Content bg is what the content background ends up being.
$shell-body-bg = $gray-darkest
$shell-body-content-bg = $body-bg

/**
 * Overlay Scrollbars
 */
$overlay-scrollbar-width = 7px
$overlay-scrollbar-padding = 2px
$overlay-scrollbar-padding-horizontal = 5px
$overlay-scrollbar-border-radius = 0
