@require '~styles/variables'
@require '../../../lib/gj-lib-client/stylus/common/mixins'

#auth-container
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

	&.has-cover-img
		text-shadow: 1px 1px 1px rgba( $black, 0.3 )

.auth-scroll-container
	scrollable()
	position: relative
	height: 100%
	z-index: $zindex-scroll-container

.auth-island
	position: relative
	z-index: $zindex-content

	@media $media-sm-up
		margin-bottom: 20px

.auth-logo
	margin-top: 30px
	margin-bottom: 30px
	position: relative
	z-index: $zindex-content

	@media $media-sm-up
		margin-top: 100px

	a
		&
		&:hover
			border-bottom: 0 !important

	img
		margin: 0 auto

.auth-shell-bottom-links
	position: relative
	margin-top: $grid-gutter-width-xs
	margin-bottom: $grid-gutter-width-xs
	text-align: center
	z-index: $zindex-content

	@media $media-sm-up
		position: fixed
		bottom: 0
		left: 0
		margin-left: 20px
		margin-bottom: 20px
		text-align: left

	> a
		margin-right: 20px
