.jam-game-vote-widget

	// Only true for category voting type forms
	.form-group
		margin-bottom: $font-size-base

	.submit-group
		margin-bottom: 0

	.radio-inline
		opacity: 0.7

		&.active
			opacity: 1
			font-weight: bold

	// Fade help circles a bit.
	.muted-help
		opacity: 0.4
