<div class="list-group list-group-dark">
	<a class="list-group-item has-icon"
		@click="tag( 'fnaf' )"
		target="_blank"
		>
		<app-jolticon icon="tag" />
		<span>Tag: #fnaf</span>
	</a>
	<a class="list-group-item has-icon"
		@click="tag( 'fangame' )"
		target="_blank"
		>
		<app-jolticon icon="tag" />
		<span>Tag: #fangame</span>
	</a>
	<a class="list-group-item has-icon"
		@click="tag( 'gjfreeze' )"
		target="_blank"
		>
		<app-jolticon icon="tag" />
		<span>Tag: #gjfreeze</span>
	</a>
	<a class="list-group-item has-icon"
		:href="Environment.secureBaseUrl + `/moderate/games/view/${game.id}`"
		target="_blank"
		>
		<app-jolticon icon="cog" />
		<span>Moderate Game</span>
	</a>
</div>
