<div v-if="isRouteBootstrapped">

	<section class="section section-thin fill-notice" v-if="game.is_locked">
		<div class="container">
			<div class="col-sm-10 col-md-8 col-lg-6 col-centered text-center">
				<p>
					<app-jolticon icon="notice" big />
				</p>
				<p><b><translate>This game was removed from the site.</translate></b></p>
				<p><translate>We have received a DMCA takedown notice and were required to remove it from the site. Only you are able to view it.</translate></p>
			</div>
		</div>
	</section>

	<app-page-header :hide-nav="isWizard">
		<div class="row">
			<div class="col-sm-8">
				<template v-if="isWizard">
					<h1 class="section-header">
						<translate>Add Game</translate>
					</h1>
					<h4 class="section-header">
						{{ game.title }}
					</h4>
				</template>
				<template v-else>
					<h1 class="section-header">
						<template v-if="game.developer.id !== user.id">
							<small>
								<router-link
									:to="{
										name: 'profile.overview',
										params: {
											username: game.developer.username,
										},
									}"
									>
									@{{ game.developer.username }}
								</router-link>
							</small>
							<br>
						</template>
						{{ game.title }}
					</h1>
				</template>

				<p class="text-muted small">
					<span class="tag" v-if="game._is_wip">
						<translate>Early Access</translate>
					</span>
					<span class="tag" v-else-if="game._is_devlog">
						<translate>Devlog</translate>
					</span>

					<template v-if="!isWizard">
						<span class="tag tag-notice" v-if="game.status === Game.STATUS_HIDDEN">
							<translate>dash.games.hidden_tag</translate>
						</span>

						<template v-if="game.status === Game.STATUS_VISIBLE">
							<span class="tag tag-highlight">
								<translate>dash.games.published_tag</translate>
							</span>
							<span class="dot-separator"></span>
							<app-time-ago :date="game.published_on" />
						</template>
					</template>
				</p>
			</div>
			<div class="col-sm-4" v-if="!isWizard">
				<p>
					<app-game-perms required="analytics">
						<app-button
							icon="chart"
							class="hidden-xs"
							:to="{
								name: 'dash.analytics',
								params: { resource: 'Game', resourceId: game.id },
							}"
							>
							<translate>View Analytics</translate>
						</app-button>
					</app-game-perms>
					<app-button
						icon="arrow-forward"
						:to="game.getUrl()"
						>
						<translate>dash.games.view_page_button</translate>
					</app-button>
				</p>
			</div>
		</div>

		<app-expand :when="game.status === Game.STATUS_VISIBLE && !game.is_listable">
			<div class="alert alert-notice" v-translate>
				<b>Your game page is no longer visible in game listings!</b> It must have active game builds for it to show.
			</div>
		</app-expand>

		<nav class="platform-list inline" slot="nav">
			<ul>
				<li v-app-tooltip.bottom="$gettext( `Set up your game page and manage its builds.` )">
					<router-link
						:to="{ name: 'dash.games.manage.game.overview' }"
						:class="{ active: $route.name.indexOf( 'dash.games.manage.game' ) === 0 }"
						>
						<translate>Overview/Setup</translate>
					</router-link>
				</li>
				<li v-app-tooltip.bottom="$gettext( `dash.games.news_tooltip` )">
					<router-link
						:to="{ name: 'dash.games.manage.devlog' }"
						:class="{ active: $route.name.indexOf( 'dash.games.manage.devlog' ) === 0 }"
						>
						<translate>Devlog</translate>
					</router-link>
				</li>
				<app-game-perms required="game-api" tag="li" v-app-tooltip.bottom="$gettext( `dash.games.api_tooltip` )">
					<router-link
						:to="{ name: 'dash.games.manage.api.overview' }"
						:class="{ active: $route.name.indexOf( 'dash.games.manage.api' ) === 0 }"
						>
						<translate>dash.games.api_tab</translate>
					</router-link>
				</app-game-perms>
				<app-game-perms required="sales" tag="li" v-app-tooltip.bottom="$gettext( `Manage your game keys and give access to users.` )">
					<router-link
						:to="{ name: 'dash.games.manage.key-groups.list' }"
						:class="{ active: $route.name.indexOf( 'dash.games.manage.key-groups' ) === 0 }"
						>
						<translate>Keys/Access</translate>
					</router-link>
				</app-game-perms>
				<app-game-perms required="all" tag="li" v-app-tooltip.bottom="$gettext( `Game Jolt Sites are customizable external sites for your portfolio and games!` )">
					<router-link
						:to="{ name: 'dash.games.manage.site' }"
						active-class="active"
						>
						<translate>Site</translate>
					</router-link>
				</app-game-perms>

				<li
					v-if="game.developer.id == user.id"
					v-app-tooltip.bottom="$gettext( `Allow other users to manage your game.` )"
					>
					<router-link
						:to="{ name: 'dash.games.manage.collaborators' }"
						active-class="active"
						>
						<translate>Collaborators</translate>
					</router-link>
				</li>
			</ul>
		</nav>

	</app-page-header>

	<router-view />

</div>
