@require '~styles/variables'
@require '../../../../../lib/gj-lib-client/stylus/common/mixins'

.game-thumbnail-placeholder
	margin-bottom: $grid-gutter-width-xs

	@media $media-sm-up
		margin-bottom: $grid-gutter-width

.placeholder
	&-thumb
		height: 0
		padding-top: 56.25% // HD 16:9
		background-color: $gray-lightest
		border-radius: $border-radius-base

	&-meta
		position: relative
		padding-top: 10px

	&-avatar
		float: left
		width: $game-thumbnail-avatar-size
		height: $game-thumbnail-avatar-size
		background-color: $gray-lightest
		border-radius: $border-radius-base

	&-dev
		lazy-placeholder-block()
		margin-left: $game-thumbnail-avatar-size + $game-thumbnail-meta-spacing
		width: 40%
		height: $font-size-h6

	&-title
		lazy-placeholder-block()
		margin-top: 6px
		margin-left: $game-thumbnail-avatar-size + $game-thumbnail-meta-spacing
		width: 60%

	&-meta-extra
		clear: both
		margin-top: $game-thumbnail-meta-spacing

	&-tags
		lazy-placeholder-inline()
		width: 60px
		border-radius: $border-radius-base
