@require '~styles/variables'
@require '~styles-lib/mixins'

.-welcome
	theme-prop('background-color', 'darkest')
	position: absolute
	z-index: $zindex-shell-top-nav
	top: 0
	left: 0
	right: 0
	bottom: 0
	overflow-y: auto
	overflow-x: hidden

.-content
	display: flex
	flex-direction: column
	max-width: 500px
	margin: 0 auto
	padding: ($grid-gutter-width-xs / 2)

	@media $media-sm-up
		padding: $grid-gutter-width

	text-align: center

	> *:not(:first-child)
		margin-top: 30px

.-avatar .editable-overlay
	max-width: 130px
	margin: 0 auto
	border-radius: 50%
	overflow: hidden

.-muted
	theme-prop('color', 'fg-muted')
