<div class="event-item-manage">

	<div class="-stats">
		<translate
			:translate-n="post.view_count || 0"
			:translate-params="{ count: number( post.view_count || 0 ) }"
			translate-plural="%{ count } views"
			>
			%{ count } view
		</translate>

		<span class="dot-separator" />

		<translate
			:translate-n="post.expand_count || 0"
			:translate-params="{ count: number( post.expand_count || 0 ) }"
			translate-plural="%{ count } expands"
			>
			%{ count } expand
		</translate>

		<span
			class="hidden-xs"
			v-app-tooltip="$gettext( 'An expand is some sort of interaction with your post. For example, playing a video post, or clicking into your post.' )"
			>
			<app-jolticon icon="help-circle" />
		</span>
	</div>

	<div class="-controls" v-if="showEditControls || showCommunityControls">
		<template v-if="showEditControls">
			<app-button
				v-if="canPublish"
				primary
				@click="publishPost()"
				>
				<translate>Publish</translate>
			</app-button>
			<app-button
				@click="openEdit()"
				>
				<translate>Edit</translate>
			</app-button>
		</template>

		<app-popper>
			<app-button
				sparse
				circle
				trans
				icon="ellipsis-v"
				/>

			<div slot="popover" class="fill-darkest">
				<template v-if="showEditControls && post.platforms_published_to.length">
					<div class="popper-heading">
						<translate>Published to:</translate>
					</div>
					<div class="list-group list-group-dark" style="margin-bottom: 0">
						<a
							v-for="platform of post.platforms_published_to"
							:key="platform.id"
							class="list-group-item has-icon"
							:href="platform.url"
							target="_blank"
							>
							<app-jolticon :icon="getProviderIcon(platform.created_resource_provider)" />
							{{ platform.created_resource_account_name }}
						</a>
					</div>

					<hr>
				</template>

				<div class="list-group list-group-dark">
					<span
						v-if="showCommunityControls"
						v-for="tagCom of post.manageableCommunities"
						:key="tagCom.id"
						>
						<a
							class="list-group-item has-icon"
							@click.stop="toggleFeatured(tagCom)"
							>
							<app-jolticon icon="tag" />

							<translate
								v-if="tagCom.isFeatured"
								:translate-params="{ community: tagCom.community.name }"
								>
								Unfeature: %{ community }
							</translate>

							<translate
								v-else
								:translate-params="{ community: tagCom.community.name }"
								>
								Feature: %{ community }
							</translate>
						</a>

						<a
							class="list-group-item has-icon"
							@click.stop="rejectFromCommunity(tagCom)"
							>
							<app-jolticon icon="remove" notice />

							<translate
								:translate-params="{ community: tagCom.community.name }"
								>
								Remove: %{ community }
							</translate>
						</a>
					</span>

					<a
						v-if="showEditControls"
						class="list-group-item has-icon"
						@click.stop="removePost()"
						>
						<app-jolticon icon="remove" notice />
						<translate>Remove Post</translate>
					</a>
				</div>
			</div>
		</app-popper>
	</div>

</div>
