@require '~styles/variables'
@require '~styles-lib/mixins'

.event-item-manage
	display: flex
	align-items: center

.-stats
	theme-prop('color', 'fg-muted')
	flex: auto
	font-size: $font-size-small

.-controls
	flex: none
