.shell-pane
	@extend .clearfix
	position: fixed
	left: 0
	top: $shell-top-nav-height
	bottom: 0
	background-color: $gray-darkest
	z-index: $zindex-shell-pane
	width: $percentage-11

	@media $media-sm-up
		width: $shell-pane-width

	// When things in the hot bottom are active, we need to move up the pane bottoms.
	body.status-bar-visible &
		bottom: $status-bar-height

	body.status-bar-visible &
		bottom: $status-bar-height

.shell-pane-right
	left: auto
	right: 0

// When we are hiding the pane and showing the content again, we want to also
// keep it visible during this time.
// To do that, we hook into the main shell removal animation.
#shell.left-pane-visible-remove .shell-pane
#shell.right-pane-visible-remove .shell-pane
	display: block

@media $media-xs

	// On mobile, always hide the pane until it's visible.
	.shell-pane
		display: none

	.left-pane-visible .shell-pane-left
		display: block

	.right-pane-visible .shell-pane-right
		display: block

@media $media-sm-up

	// One sm-up, we always want to hide the chat sidebar until it shows.
	// The left sidebar will still show a bit, so we don't want to hide it completely.
	.shell-pane-right
		display: none

		.right-pane-visible &
			display: block
