.shell-card-popover
	padding: 10px
	$icon-size = 40px
	$media-width = 50px
	$gutter-width = 20px

	@media $media-sm-up
		min-width: 360px

	.card
		margin-bottom: 5px

		&-meta
			margin: 0
			font-size: $font-size-tiny

		&-remove
			display: none

		&:hover
			.card-remove
				display: block

			.shell-card-popover-card-time
				display: none

	&-card
		&-time
			theme-prop('color', 'fg-muted')
			float: right
			font-size: $font-size-tiny
			line-height: $line-height-computed
			margin-left: 10px

		&-media
			float: left
			width: $media-width
			text-align: center

		&-body
			margin-left: $media-width + $gutter-width

		&-controls
			float: right
			margin-left: 20px
