@require '~styles/variables'
@require '~styles-lib/mixins'

html, body
	// Firefox uses this color to blank the screen before it renders. It's
	// better to use this than constantly flicker black while rendering.
	theme-prop('background-color', 'bg')

body
	background-image: url('./shell-bg.png')
	background-repeat: repeat
