/**
 * Nav menu items.
 */
$shell-nav-item-spacing = 12px
$shell-nav-item-height = 50px
$shell-nav-item-color = $gray-lightest

ul.shell-nav
	@extend .list-unstyled
	font-size: 15px  // Stupid custom size!
	margin-bottom: 0

	.tag
	.badge
		float: right
		margin-left: 5px
		margin-top: 15px

	.shell-nav-icon
		display: block
		float: left
		width: $shell-nav-item-height
		line-height: $shell-nav-item-height
		color: $shell-nav-item-color
		text-align: center

		.jolticon
			vertical-align: middle

	.shell-nav-label
		text-overflow()
		display: block

	.user-avatar-img
		display: inline-block
		width: 25px
		vertical-align: middle

	.shell-nav-chevron
		float: right
		line-height: $shell-nav-item-height

		.jolticon
			vertical-align: middle

	// Firefox has a bug if you have a left floated, right floated, and then text-overflow ellipsis content in the middle
	// it will push the right float down. We can get around it by putting the right float first, but then the content is on top
	// of the right floated. We do the z-indexing so that at least it's on top.
	// Example: Chat user list with notification tags.
	.tag
	.badge
	.jolticon
		position: relative
		z-index: 1

	small
		color: $text-muted

	> li
		margin-bottom: 0

		> a
			@extend .clearfix
			position: relative
			display: block
			color: $shell-nav-item-color
			user-select: none
			padding: 0 7px
			padding-left: 0
			line-height: $shell-nav-item-height

			// &::before
			// 	position: absolute
			// 	display: block
			// 	content: ''
			// 	top: 0
			// 	left: 0
			// 	bottom: 0
			// 	width: 3px
			// 	background-color: $gj-green
			// 	transform: translate( -4px, 0 )
			// 	transition: transform 300ms $strong-ease-out

			&:hover
				color: $white
				background-color: $gray-darker

			&.no-icon
				padding-left: 15px

			&.active
				&
				&:hover
					color: $gj-green

					// &::before
					// 	transform: translate( 0, 0 )

					.jolticon
						color: $gj-green

					.tag
						@extend .tag-pink

					.badge
						@extend .badge-active

			// On press of it.
			&:active
				transform: translateY(2px)

// Nested ULs
ul.shell-nav ul

	> li > a
		position: relative
		padding-left: 15px

		&::after
			content: '';
			display: block;
			position: absolute;
			left: 21px;
			top: 0;
			bottom: 0;
			width: 3px;
			background-color: $gray-darker;

			&:hover
				display: none

/**
 * Nav headings
 */
.nav-heading
	display: block
	font-family: $font-family-heading
	font-size: $font-size-tiny
	letter-spacing: 0.1em
	line-height: 1
	text-transform: uppercase
	color: $gray-lightest
	margin-top: $font-size-base * 2
	margin-bottom: ($font-size-base / 2)
	margin-left: 15px
	margin-right: 7px

	&.first
		margin-top: $font-size-base

	> small
		float: right
		color: $gray-light
		font-weight: normal

	> .badge
		float: right
		margin-top: -3px
		margin-left: 5px

	a&:hover
		color: $white
		text-decoration: underline

/**
 * Nav Wells
 */
.nav-well
	// margin: 0 15px $font-size-base 15px
	padding: 15px
	font-size: $font-size-small
	background-color: $gray-darker
	color: $gray-lighter

/**
 * Alert Panes
 */
.shell-nav-pane-content .alert
	padding-left: 15px
	padding-right: 15px

/**
 * Nav controls
 */
.nav-controls
	padding: 0 7px 0 15px

	> .form-control
	> .btn
		margin-bottom: $font-size-base

	> .form-control
		placeholder( $gray-light )
		border: 0
		font-size: $font-size-small
		background-color: $gray-lighter
		color: $gray-darkest

		&:focus
			background-color: $gray-lightest
