<div
	id="shell"
	:class="{
		'left-pane-visible': isLeftPaneVisible,
		'right-pane-visible': isRightPaneVisible
	}"
	>

	<app-shell-notification-count v-if="app.user" />
	<app-offline-alert />
	<app-shell-top-nav />
	<app-shell-sidebar />

	<app-shell-body>
		<!--<gj-terms-change-alert></gj-terms-change-alert>-->
		<slot />
	</app-shell-body>

	<!--
		Without this containing div vue would fail with the dom diff after
		logging out and the whole page would disappear.
	-->
	<div>
		<app-shell-chat v-if="chat" />
	</div>

	<div>
		<app-shell-client v-if="GJ_IS_CLIENT" />
	</div>

	<app-loading-bar />
	<app-growls />
	<app-modals />

	<app-shell-hot-bottom>
		<app-minbar v-show="!isRightPaneVisible" />
		<!--<gj-client-status-bar></gj-client-status-bar>-->
	</app-shell-hot-bottom>

</div>
