<div
	id="shell"
	:class="{
		'is-client-offline': Connection.isClientOffline,
		'left-pane-visible': isLeftPaneVisible,
		'right-pane-visible': isRightPaneVisible,
		'has-banner': hasBanner,
	}"
	>

	<app-shell-banner />
	<app-shell-top-nav />
	<app-shell-sidebar />

	<app-shell-body>
		<slot />
	</app-shell-body>

	<app-shell-chat v-if="chat" key="shell-chat" />

	<div v-if="GJ_IS_CLIENT" key="shell-client">
		<app-client-base />
		<app-shell-client />
	</div>

	<app-loading-bar />
	<app-growls />
	<app-modals />

	<app-shell-hot-bottom>
		<app-minbar v-show="!isRightPaneVisible" />
		<app-client-status-bar v-if="GJ_IS_CLIENT" key="shell-client-status-bar" />
	</app-shell-hot-bottom>

</div>
