.shell-pane
	change-bg('darkest')
	@extend .clearfix
	position: fixed
	top: $shell-top-nav-height
	bottom: 0
	width: $shell-content-sidebar-width
	transition: transform 300ms $weak-ease-out, left 300ms $weak-ease-out
	will-change: transform
	// If a second left-pane opens while another is already open,
	// put the closing pane behind the opening pane.
	z-index: $zindex-shell-pane-under

	&.visible
		z-index: $zindex-shell-pane

.shell-pane-left
	left: 0
	right: auto

	// Span the remaining width on xs devices
	@media $media-xs
		width: unset
		max-width: $shell-content-sidebar-width
		right: 0

.shell-pane-right
	left: auto
	right: 0

.right-pane-visible .shell-pane-left
	z-index: $zindex-shell-pane-under !important

// When we are hiding the pane and showing the content again, we want to also
// keep it visible during this time.
// To do that, we hook into the main shell removal animation.
#shell.left-pane-visible-remove .shell-pane, #shell.right-pane-visible-remove .shell-pane
	display: block

// Pane slide transitions
.shell-pane-left
	transform: translateX(-100%)

	&.visible
		.left-pane-visible &
			transform: translateX(0)

.shell-pane-right
	transform: translateX(100%)

	.right-pane-visible &
		transform: translateX(0)
