.shell-pane
	@extend .clearfix
	position: fixed
	top: $shell-top-nav-height
	bottom: 0
	background-color: $gray-darkest
	z-index: $zindex-shell-pane
	width: $percentage-10
	transition: transform 300ms $weak-ease-out
	will-change: transform

	@media $media-sm-up
		width: $shell-pane-width

	// When things in the hot bottom are active, we need to move up the pane bottoms.
	body.status-bar-visible &
		bottom: $status-bar-height

	body.status-bar-visible &
		bottom: $status-bar-height

.shell-pane-left
	left: 0
	right: auto

.shell-pane-right
	left: auto
	right: 0

.right-pane-visible .shell-pane-left
.right-pane-visible .shell-sidebar
.left-pane-visible .shell-pane-right
	z-index: $zindex-shell-pane-under !important

// When we are hiding the pane and showing the content again, we want to also
// keep it visible during this time.
// To do that, we hook into the main shell removal animation.
#shell.left-pane-visible-remove .shell-pane
#shell.right-pane-visible-remove .shell-pane
	display: block

// Pane slide transitions
.shell-pane-left
	transform: translateX(-100%)
	.left-pane-visible &
		transform: translateX(0)

.shell-pane-right
	transform: translateX(100%)
	.right-pane-visible &
		transform: translateX(0)

@media $media-sm-up

	// On sm-up left pane is always visible.
	.shell-pane-left
		transform: translateX(0)
