@import '../variables'

.-controls-buffer
	&:last-of-type
		margin-bottom: $-item-padding-xs-v

		@media $media-sm-up
			margin-bottom: $-item-padding-v

.-container
	padding-bottom: $-item-padding-xs-v

	@media $media-sm-up
		padding-bottom: $-item-padding-v

.-item
	position: relative
	z-index: 1
	-activity-feed-item()

.-poll
	margin-bottom: $-item-padding-xs-v

	@media $media-sm-up
		margin-bottom: $-item-padding-v

.-communities
	white-space: nowrap
