pressy()
	transition: transform 200ms $strong-ease-out

	&:active
		transform: translateY(2px)
		transition: none

unpressy()
	transition: none !important
	transform: none !important

.pressy
	pressy()
