<div id="shell-sidebar"
	ng-class="{
		'shell-sidebar': !$ctrl.screen.isXs,
		'shell-pane shell-pane-left': $ctrl.screen.isXs,
		'visible': $ctrl.screen.isMobile && $ctrl.shell.isLeftPaneVisible,
	}"
	>

	<!--
		Gotta put any popovers out of the content area.
		This is so that we can scroll on the Y axis, but overflow on the X.
	-->
	<gj-popover
		popover-id="shell-sidebar-games"
		popover-position="right"
		popover-append-to-body="true"
		popover-position-by="fixed"
		popover-hide-on-state-change="true"
		>
		<div class="fill-darkest">
			<ul class="shell-nav">
				<li>
					<a
						class="no-icon"
						ui-sref="discover.games.list._fetch( { section: 'featured' } )"
						ui-sref-opts="{ inherit: false }"
						gj-track-event="sidebar:games:featured"
						translate
						>
						Featured Games
					</a>
				</li>
				<li>
					<a
						class="no-icon"
						ui-sref="discover.games.list._fetch( { section: 'hot' } )"
						ui-sref-opts="{ inherit: false }"
						gj-track-event="sidebar:games:hot"
						translate
						>
						Hot Games
					</a>
				</li>
				<li>
					<a
						class="no-icon"
						ui-sref="discover.games.list._fetch( { section: 'best' } )"
						ui-sref-opts="{ inherit: false }"
						gj-track-event="sidebar:games:best"
						translate
						>
						Best Games
					</a>
				</li>
				<li>
					<a
						class="no-icon"
						gj-popover-trigger="shell-sidebar-genres"
						popover-trigger-event="hover"
						>
						<span class="shell-nav-chevron jolticon jolticon-chevron-right"></span>
						<strong translate>
							Genres
						</strong>
					</a>
				</li>
				<li>
					<a
						class="no-icon"
						ui-sref="discover.channels.list"
						ui-sref-opts="{ inherit: false }"
						gj-track-event="sidebar:channels"
						gj-popover-trigger="shell-sidebar-channels"
						popover-trigger-event="hover"
						>
						<span class="shell-nav-chevron jolticon jolticon-chevron-right"></span>
						<strong translate>
							Channels
						</strong>
					</a>
				</li>
			</ul>
		</div>

		<gj-popover
			popover-id="shell-sidebar-genres"
			popover-position="right"
			popover-hide-on-state-change="true"
			>
			<div class="fill-darkest">
				<ul class="shell-nav">
					<li ng-repeat="( key, genre ) in ::$ctrl.genres track by key">
						<a
							class="no-icon"
							ui-sref="discover.games.list._fetch-category( { section: $ctrl.defaultBrowseSection, category: key } )"
							ui-sref-opts="{ inherit: false }"
							gj-track-event="sidebar:genres:{{ ::genre }}"
							>
							{{ ::genre }}
						</a>
					</li>
				</ul>
			</div>
		</gj-popover>

		<gj-popover
			popover-id="shell-sidebar-channels"
			popover-position="right"
			popover-hide-on-state-change="true"
			>
			<div class="fill-darkest">
				<ul class="shell-nav">
					<li ng-repeat="channel in ::$ctrl.channels track by channel">
						<a
							class="no-icon"
							ui-sref="discover.channels.channel.overview( { channel: channel } )"
							ui-sref-opts="{ inherit: false }"
							gj-track-event="sidebar:channels"
							>
							#{{ ::channel }}
						</a>
					</li>
					<li>
						<a
							class="no-icon"
							ui-sref="discover.channels.list"
							gj-track-event="sidebar:channels-all"
							>
							<strong translate>
								View all...
							</strong>
						</a>
					</li>
				</ul>
			</div>
		</gj-popover>
	</gj-popover>

	<gj-popover
		popover-id="shell-sidebar-more"
		popover-position="{{ $ctrl.screen.isXs ? 'bottom' : 'right' }}"
		popover-append-to-body="true"
		popover-position-by="{{ $ctrl.screen.isXs ? 'offset' : 'fixed' }}"
		popover-hide-on-state-change="true"
		>
		<div class="fill-darkest">
			<ul class="shell-nav">
				<li>
					<a
						class="no-icon"
						ui-sref="forums.landing.overview"
						gj-track-event="sidebar:forums"
						translate
						>
						Forums
					</a>
				</li>
				<li>
					<a
						class="no-icon"
						ui-sref="radio"
						gj-track-event="sidebar:radio"
						translate
						>
						Radio
					</a>
				</li>
			</ul>

			<div class="list-group list-group-dark">

				<a class="list-group-item" ng-href="{{ ::$ctrl.env.firesideBaseUrl }}"
					title="Fireside - Indie gaming opinions, news, and reviews"
					gj-track-event="sidebar:fireside"
					>
					<img src="/lib/gj-lib-client/components/site-selector/jolt-fireside.png" width="155" style="margin-top: -8px; margin-bottom: -2px" alt="Fireside">
				</a>

				<a class="list-group-item" ng-href="{{ ::$ctrl.env.jamsBaseUrl }}"
					title="Game Jolt Jams"
					gj-track-event="sidebar:jams"
					>
					<img src="/lib/gj-lib-client/components/site-selector/jolt.svg" alt="" style="margin-right: 6px;">
					<img src="/lib/gj-lib-client/components/site-selector/jams-logo.svg" alt="Game Jolt Jams">
				</a>

				<a class="list-group-item" ui-sref="client"
					ng-if="!$ctrl.env.isClient"
					title="Game Jolt Client"
					gj-track-event="sidebar:client"
					>
					<img src="/lib/gj-lib-client/components/site-selector/jolt.svg" alt="" style="margin-right: 6px;">
					<img src="/lib/gj-lib-client/components/site-selector/client-logo.svg" alt="Game Jolt Client">
				</a>

			</div>
		</div>
	</gj-popover>

	<div class="shell-sidebar-content fill-darkest scrollable overlay-scrollbar">

		<ul class="shell-nav">
			<li class="offline-disable">
				<a
					ui-sref="discover.games.list._fetch( { section: $ctrl.defaultBrowseSection } )"
					ui-sref-opts="{ inherit: false }"
					ng-class="{ active: $ctrl.$state.includes( 'discover.games.list' ) }"
					gj-track-event="sidebar:games"
					gj-popover-trigger="shell-sidebar-games"
					popover-trigger-event="hover"
					popover-trigger-disabled="!$ctrl.shell.isLeftPaneVisible || $ctrl.screen.isMobile"
					>
					<span class="shell-nav-chevron jolticon jolticon-chevron-right hidden-xs hidden-sm"></span>
					<span class="shell-nav-icon"
						gj-popover-trigger="shell-sidebar-games"
						popover-trigger-event="hover"
						popover-trigger-disabled="$ctrl.shell.isLeftPaneVisible || $ctrl.screen.isMobile"
						>
						<span class="jolticon jolticon-game"></span>
					</span>
					<span class="shell-nav-label" translate>
						Browse Games
					</span>
				</a>
			</li>

			<li class="offline-disable">
				<a
					ui-sref="discover.devlogs.overview"
					ui-sref-opts="{ inherit: false }"
					ng-class="{ active: $ctrl.$state.includes( 'discover.devlogs' ) }"
					gj-track-event="sidebar:devlogs"
					>
					<span class="shell-nav-icon"
						gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Devlogs' : '' }}"
						tooltip-placement="right"
						>
						<span class="jolticon jolticon-blog-article"></span>
					</span>
					<span class="shell-nav-label" translate>
						Devlogs
					</span>
				</a>
			</li>

			<li class="offline-disable" ng-if="$ctrl.screen.isXs">
				<a
					ui-sref="search.results"
					ui-sref-opts="{ inherit: false }"
					ng-class="{ active: $ctrl.$state.includes( 'search' ) }"
					gj-track-event="sidebar:search"
					>
					<span class="shell-nav-icon"
						gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Search' : '' }}"
						tooltip-placement="right"
						>
						<span class="jolticon jolticon-search"></span>
					</span>
					<span class="shell-nav-label" translate>
						Search
					</span>
				</a>
			</li>

			<li class="offline-disable">
				<a
					gj-popover-trigger="shell-sidebar-more"
					popover-trigger-event="{{ $ctrl.screen.isMobile ? 'click' : 'hover' }}"
					popover-trigger-disabled="!$ctrl.shell.isLeftPaneVisible"
					>
					<span class="shell-nav-chevron jolticon jolticon-chevron-right"></span>
					<span class="shell-nav-icon"
						gj-popover-trigger="shell-sidebar-more"
						popover-trigger-event="{{ $ctrl.screen.isMobile ? 'click' : 'hover' }}"
						popover-trigger-disabled="$ctrl.shell.isLeftPaneVisible || $ctrl.screen.isXs"
						>
						<span class="jolticon jolticon-ellipsis-h"></span>
					</span>
					<span class="shell-nav-label" translate>
						More
					</span>
				</a>
			</li>
		</ul>

		<div ng-if="$ctrl.app.user && $ctrl.shell.isBootstrapped">

			<hr>

			<div class="nav-heading" ng-if="$ctrl.shell.isLeftPaneVisible">
				@{{ $ctrl.app.user.username }}
			</div>

			<ul class="shell-nav">
				<li class="offline-disable">
					<a
						ui-sref="dashboard.activity.feed( { tab: 'activity' } )"
						ng-class="{ active: $ctrl.$state.includes( 'dashboard.activity' ) }"
						gj-track-event="sidebar:activity"
						gj-activity-notification-count="$ctrl.notificationsCount = $count"
						>
						<span class="notification-tag tag tag-pink anim-fade-enter anim-fade-leave"
							ng-if="$ctrl.notificationsCount > 0"
							>
							{{ $ctrl.notificationsCount < 100 ? $ctrl.notificationsCount : '99+' }}
						</span>
						<span class="shell-nav-icon"
							gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Activity Feed' : '' }}"
							tooltip-placement="right"
							>
							<span class="jolticon jolticon-feed"></span>
						</span>
						<span class="shell-nav-label" translate>
							Activity Feed
						</span>
					</a>
				</li>

				<li class="offline-disable">
					<a
						ui-sref="dashboard.main.overview"
						ng-class="{ active: $ctrl.$state.includes( 'dashboard' ) && !$ctrl.$state.includes( 'dashboard.activity' ) }"
						gj-track-event="sidebar:dashboard"
						>
						<span class="shell-nav-icon"
							gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Dashboard' : '' }}"
							tooltip-placement="right"
							>
							<span class="avatar-circle" gj-user-avatar="$ctrl.app.user"></span>
						</span>
						<span class="shell-nav-label" translate>
							Dashboard
						</span>
					</a>
				</li>
			</ul>

			<hr>

			<ul class="shell-nav">
				<li class="offline-disable" ng-if="$ctrl.env.isClient">
					<a
						ui-sref="library.installed"
						ui-sref-active="active"
						gj-track-event="sidebar:collection:installed"
						>
						<span class="shell-nav-icon"
							gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Installed Games' : '' }}"
							tooltip-placement="right"
							>
							<span class="jolticon jolticon-download-box"></span>
						</span>
						<span class="shell-nav-label" translate>
							Installed Games
						</span>
					</a>
				</li>

				<li class="offline-disable" ng-if="$ctrl.shell.developerCollection">
					<a
						ui-sref="{{ ::$ctrl.shell.developerCollection.getSref( true ) }}"
						ui-sref-opts="{ inherit: false }"
						ui-sref-active="active"
						gj-track-event="sidebar:collection:developer"
						>
						<span class="shell-nav-icon"
							gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Your Games' : '' }}"
							tooltip-placement="right"
							>
							<span class="jolticon jolticon-user"></span>
						</span>
						<span class="shell-nav-label">
							{{ ::'library.nav.developer' | translate }}
						</span>
					</a>
				</li>

				<li class="offline-disable">
					<a
						ui-sref="{{ ::$ctrl.shell.followedCollection.getSref( true ) }}"
						ui-sref-opts="{ inherit: false }"
						ui-sref-active="active"
						gj-track-event="sidebar:collection:followed"
						>
						<span class="shell-nav-icon"
							gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Followed Games' : '' }}"
							tooltip-placement="right"
							>
							<span class="jolticon jolticon-subscribe"></span>
						</span>
						<span class="shell-nav-label">
							{{ ::'library.nav.followed' | translate }}
						</span>
					</a>
				</li>

				<li class="offline-disable">
					<a
						ui-sref="{{ ::$ctrl.shell.recommendedCollection.getSref( true ) }}"
						ui-sref-opts="{ inherit: false }"
						ui-sref-active="active"
						gj-track-event="sidebar:collection:recommended"
						>
						<span class="shell-nav-icon"
							gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Recommended Games' : '' }}"
							tooltip-placement="right"
							>
							<span class="jolticon jolticon-pedestals-numbers"></span>
						</span>
						<span class="shell-nav-label" translate>
							Recommended Games
						</span>
					</a>
				</li>

				<li class="offline-disable">
					<a
						ui-sref="{{ ::$ctrl.shell.ownedCollection.getSref( true ) }}"
						ui-sref-opts="{ inherit: false }"
						ui-sref-active="active"
						gj-track-event="sidebar:collection:owned"
						>
						<span class="shell-nav-icon"
							gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Owned Games' : '' }}"
							tooltip-placement="right"
							>
							<span class="jolticon jolticon-heart"></span>
						</span>
						<span class="shell-nav-label" translate>
							Owned Games
						</span>
					</a>
				</li>
			</ul>

			<div ng-if="!$ctrl.shell.isLeftPaneVisible">
				<ul class="shell-nav">
					<li class="offline-disable">
						<a
							ui-sref="library.overview"
							ui-sref-active="active"
							gj-track-event="sidebar:playlists"
							>
							<span class="shell-nav-icon"
								gj-tooltip="{{ !$ctrl.shell.isLeftPaneVisible ? 'Playlists' : '' }}"
								tooltip-placement="right"
								>
								<span class="jolticon jolticon-playlist"></span>
							</span>
						</a>
					</li>
				</ul>
			</div>

			<div ng-if="$ctrl.shell.isLeftPaneVisible && $ctrl.shell.bundleCollections.length">
				<div class="nav-heading">
					{{ ::'library.nav.bundles' | translate }}
					<span class="badge">
						{{ $ctrl.shell.bundleCollections.length | number }}
					</span>
				</div>

				<ul class="shell-nav">
					<li class="offline-disable"
						ng-repeat="bundleCollection in $ctrl.shell.bundleCollections | orderBy:'name' track by bundleCollection._id"
						>
						<a
							ui-sref="{{ ::bundleCollection.getSref( true ) }}"
							ui-sref-active="active"
							gj-track-event="sidebar:collection:bundle"
							title="{{ ::bundleCollection.name }}"
							>
							<span class="shell-nav-icon">
								<span class="jolticon jolticon-bundle"></span>
							</span>
							<span class="shell-nav-label" translate>
								{{ ::bundleCollection.name }}
							</span>
						</a>
					</li>
				</ul>
			</div>

			<div ng-if="$ctrl.shell.isLeftPaneVisible">
				<div class="nav-heading">
					{{ ::'library.nav.playlists' | translate }}
					<span class="badge">
						{{ $ctrl.shell.collections.length | number }}
					</span>
				</div>

				<div class="nav-controls">
					<a
						class="btn btn-outline btn-block offline-disable"
						ng-click="$ctrl.showAddPlaylistModal()"
						gj-track-event="sidebar:playlist-add"
						>
						<span class="jolticon jolticon-add"></span>
						{{ ::'library.nav.new_playlist_button' | translate }}
					</a>
				</div>

				<div class="nav-controls" ng-if="$ctrl.shell.collections.length">
					<input type="search"
						class="form-control"
						ng-attr-placeholder="{{ ::'library.nav.filter_playlists_placeholder' | translate }}"
						ng-model="$ctrl.playlistFilterQuery"
						>
				</div>

				<div ng-if="!$ctrl.shell.collections.length">
					<div class="alert fill-gray" translate>
						library.nav.no_playlists_html
					</div>
				</div>

				<!--
					Never bind once since anything could change in their playlists.
				-->
				<ul class="shell-nav">
					<li
						class="offline-disable"
						ng-repeat="collection in $ctrl.shell.collections
							| filter:$ctrl.playlistFilterComparator
							| orderBy:'name'
							track by collection._id"
						>

						<!--
							Gotta do a manual ui-sref since the params could change.
							If we don't, it'll just interpolate once and any changes wouldn't get picked up.
						-->
						<a
							ui-sref="{{ ::collection.getSref( true ) }}"
							ui-sref-opts="{ inherit: false }"
							ui-sref-active="active"
							gj-track-event="sidebar:collection:playlist"
							title="{{ ::collection.getTitle() }}"
							>

							<span class="shell-nav-icon">
								<span class="jolticon jolticon-playlist"></span>
							</span>

							<span class="shell-nav-label">
								{{ collection.name }}

								<!-- Owner never changes, so bind once -->
								<small ng-if="::collection.from_subscription">
									{{ ::'library.by' | translate }}
									@{{ ::collection.owner.username }}
								</small>
							</span>
						</a>
					</li>
				</ul>
			</div>

		</div>

	</div>
</div>
