@require '~styles/variables'

#shell-sidebar
	hr
		margin: $line-height-computed 15px

	.tag
		margin-top: 15px

	.alert
		border-radius: 0

.-content
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	padding: $line-height-computed 0
