<div id="shell-sidebar"
	:class="{
		'shell-sidebar': !Screen.isXs,
		'shell-pane shell-pane-left': Screen.isXs,
		'visible': Screen.isMobile && isLeftPaneVisible,
	}"
	v-shortkey="[ 'm' ]"
	@shortkey="toggleLeftPane"
	>

	<!--
		Gotta put any popovers out of the content area.
		This is so that we can scroll on the Y axis, but overflow on the X.
	-->
	<app-popover
		popover-id="shell-sidebar-games"
		position="right"
		position-by="fixed"
		:append-to-body="true"
		:hide-on-state-change="true"
		>
		<div class="fill-darkest">
			<ul class="shell-nav">
				<li>
					<router-link
						class="no-icon"
						:to="{ name: 'discover.games.list._fetch', params: { section: 'featured' } }"
						v-app-track-event="`sidebar:games:featured`"
						>
						<translate>Featured Games</translate>
					</router-link>
				</li>
				<li>
					<router-link
						class="no-icon"
						:to="{ name: 'discover.games.list._fetch', params: { section: null } }"
						v-app-track-event="`sidebar:games:hot`"
						>
						<translate>Hot Games</translate>
					</router-link>
				</li>
				<li>
					<router-link
						class="no-icon"
						:to="{ name: 'discover.games.list._fetch', params: { section: 'best' } }"
						v-app-track-event="`sidebar:games:best`"
						>
						<translate>Best Games</translate>
					</router-link>
				</li>
				<li>
					<a
						class="no-icon"
						v-app-popover-trigger.hover="`shell-sidebar-genres`"
						>
						<app-jolticon icon="chevron-right" class="shell-nav-chevron" />
						<strong>
							<translate>Genres</translate>
						</strong>
					</a>
				</li>
				<li>
					<router-link
						class="no-icon"
						:to="{ name: 'discover.channels.list' }"
						v-app-track-event="`sidebar:channels`"
						v-app-popover-trigger.hover="`shell-sidebar-channels`"
						>
						<app-jolticon icon="chevron-right" class="shell-nav-chevron" />
						<strong>
							<translate>Channels</translate>
						</strong>
					</router-link>
				</li>
			</ul>
		</div>

		<app-popover
			popover-id="shell-sidebar-genres"
			position="right"
			:hide-on-state-change="true"
			>
			<div class="fill-darkest">
				<ul class="shell-nav">
					<li v-for="( genre, key ) of genres" :key="key">
						<router-link
							class="no-icon"
							:to="{
								name: 'discover.games.list._fetch-category',
								params: { section: defaultBrowseSection, category: key },
							}"
							v-app-track-event="`sidebar:genres:${genre}`"
							>
							{{ genre }}
						</router-link>
					</li>
				</ul>
			</div>
		</app-popover>

		<app-popover
			popover-id="shell-sidebar-channels"
			position="right"
			:hide-on-state-change="true"
			>
			<div class="fill-darkest">
				<ul class="shell-nav">
					<li v-for="channel of channels" :key="channel">
						<router-link
							class="no-icon"
							:to="{
								name: 'discover.channels.view.overview',
								params: { channel },
							}"
							v-app-track-event="`sidebar:channels`"
							>
							#{{ channel }}
						</router-link>
					</li>
					<li>
						<router-link
							class="no-icon"
							:to="{ name: 'discover.channels.list' }"
							v-app-track-event="`sidebar:channels-all`"
							>
							<strong>
								<translate>View all...</translate>
							</strong>
						</router-link>
					</li>
				</ul>
			</div>
		</app-popover>
	</app-popover>

	<app-popover
		popover-id="shell-sidebar-more"
		:position="Screen.isXs ? 'bottom' : 'right'"
		:append-to-body="true"
		:position-by="Screen.isXs ? 'offset' : 'fixed'"
		:hide-on-state-change="true"
		>
		<div class="fill-darkest">
			<ul class="shell-nav">
				<li>
					<router-link
						:to="{ name: 'radio' }"
						v-app-track-event="`sidebar:radio`"
						>
						<span class="shell-nav-icon">
							<app-jolticon icon="radio" />
						</span>
						<translate>Radio</translate>
					</router-link>
				</li>
				<li>
					<a
						:href="Environment.firesideBaseUrl"
						target="_blank"
						v-app-track-event="`sidebar:fireside`"
						>
						<span class="shell-nav-icon">
							<app-jolticon icon="fireside" />
						</span>
						<translate>Fireside</translate>
					</a>
				</li>
				<li>
					<a
						:href="Environment.jamsBaseUrl"
						target="_blank"
						v-app-track-event="`sidebar:jams`"
						>
						<span class="shell-nav-icon">
							<app-jolticon icon="jams" />
						</span>
						<translate>Jams</translate>
					</a>
				</li>
				<li v-if="!GJ_IS_CLIENT && !isLeftPaneVisible">
					<router-link
						:to="{ name: 'landing.client' }"
						v-app-track-event="`sidebar:client`"
						>
						<span class="shell-nav-icon">
							<app-jolticon icon="client" />
						</span>
						<translate>Client</translate>
					</router-link>
				</li>
			</ul>
		</div>
	</app-popover>

	<div class="shell-sidebar-content fill-darkest scrollable overlay-scrollbar">

		<ul class="shell-nav">
			<li class="offline-disable">

				<router-link
					:to="{ name: 'discover.games.list._fetch', params: { section: defaultBrowseSection } }"
					:class="{ active: $route.name.indexOf( 'discover.games.list' ) === 0 }"
					v-app-track-event="`sidebar:games`"
					v-app-popover-trigger.hover="{
						id: `shell-sidebar-games`,
						disabled: !isLeftPaneVisible || Screen.isMobile,
					}"
					>
					<app-jolticon icon="chevron-right" class="shell-nav-chevron hidden-xs" />
					<span class="shell-nav-icon"
						v-app-popover-trigger.hover="{
							id: `shell-sidebar-games`,
							disabled: isLeftPaneVisible || Screen.isMobile,
						}"
						>
						<app-jolticon icon="game" />
					</span>
					<span class="shell-nav-label">
						<translate>Browse Games</translate>
					</span>
				</router-link>
			</li>

			<li class="offline-disable">
				<router-link
					:to="{ name: 'discover.devlogs.overview' }"
					:class="{ active: $route.name.indexOf( 'discover.devlogs' ) === 0 }"
					v-app-track-event="`sidebar:devlogs`"
					>
					<span class="shell-nav-icon"
						v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Devlogs' ) : ''"
						>
						<app-jolticon icon="devlogs" />
					</span>
					<span class="shell-nav-label">
						<translate>Devlogs</translate>
					</span>
				</router-link>
			</li>

			<li class="offline-disable">
				<router-link
					:to="{ name: 'forums.landing.overview' }"
					:class="{ active: $route.name.indexOf( 'forums' ) === 0 }"
					v-app-track-event="`sidebar:forums`"
					>
					<span class="shell-nav-icon"
						v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Forums' ) : ''"
						>
						<app-jolticon icon="forums" />
					</span>
					<span class="shell-nav-label">
						<translate>Forums</translate>
					</span>
				</router-link>
			</li>

			<li class="offline-disable" v-if="Screen.isXs">
				<router-link
					:to="{ name: 'search.results' }"
					:class="{ active: $route.name.indexOf( 'search' ) === 0 }"
					v-app-track-event="`sidebar:search`"
					>
					<span class="shell-nav-icon"
						v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Search' ) : ''"
						>
						<app-jolticon icon="search" />
					</span>
					<span class="shell-nav-label">
						<translate>Search</translate>
					</span>
				</router-link>
			</li>

			<li v-if="!GJ_IS_CLIENT && !Screen.isXs && isLeftPaneVisible">
				<router-link
					:to="{ name: 'landing.client' }"
					active-class="active"
					v-app-track-event="`sidebar:client`"
					>
					<span class="shell-nav-icon">
						<app-jolticon icon="client" />
					</span>
					<span class="shell-nav-label">
						<translate>Client</translate>
					</span>
				</router-link>
			</li>

			<li class="offline-disable">
				<a
					v-app-popover-trigger="{
						id: `shell-sidebar-more`,
						event: Screen.isMobile ? 'click' : 'hover',
						disabled: !isLeftPaneVisible,
					}"
					>
					<app-jolticon icon="chevron-right" class="shell-nav-chevron" />
					<span class="shell-nav-icon"
						v-app-popover-trigger="{
							id: `shell-sidebar-more`,
							event: Screen.isMobile ? 'click' : 'hover',
							disabled: isLeftPaneVisible || Screen.isXs,
						}"
						>
						<app-jolticon icon="ellipsis-h" />
					</span>
					<span class="shell-nav-label">
						<translate>More</translate>
					</span>
				</a>
			</li>
		</ul>

		<template v-if="app.user && isBootstrapped">

			<hr>

			<div class="nav-heading" v-if="isLeftPaneVisible || Screen.isXs">
				@{{ app.user.username }}
			</div>

			<ul class="shell-nav">
				<li class="offline-disable">
					<router-link
						:to="{ name: 'activity', params: { tab: 'activity' } }"
						:class="{ active: $route.name.indexOf( 'activity' ) === 0 }"
						v-app-track-event="`sidebar:activity`"
						>
						<span class="notification-tag tag tag-pink anim-fade-enter anim-fade-leave"
							v-if="notificationCount > 0"
							>
							{{ notificationCount < 100 ? notificationCount : '99+' }}
						</span>
						<span class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Activity Feed' ) : ''"
							>
							<app-jolticon icon="feed" />
						</span>
						<span class="shell-nav-label">
							<translate>Activity Feed</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable">
					<router-link
						:to="{ name: 'dash.main.overview' }"
						:class="{ active: $route.name.indexOf( 'dasboard' ) === 0 && $route.name.indexOf( 'dash.activity' ) === -1 }"
						v-app-track-event="`sidebar:dashboard`"
						>
						<span class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Dashboard' ) : ''"
							>
							<app-user-avatar-img :user="app.user" />
						</span>
						<span class="shell-nav-label">
							<translate>Dashboard</translate>
						</span>
					</router-link>
				</li>
			</ul>

			<hr>

			<ul class="shell-nav">
				<li class="offline-disable" v-if="GJ_IS_CLIENT">
					<router-link
						:to="{ name: 'library.installed' }"
						active-class="active"
						v-app-track-event="`sidebar:collection:installed`"
						>
						<span class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Installed Games' ) : ''"
							>
							<app-jolticon icon="download-box" />
						</span>
						<span class="shell-nav-label">
							<translate>Installed Games</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable" v-if="developerCollection">
					<router-link
						:to="developerCollection.routeLocation"
						active-class="active"
						v-app-track-event="`sidebar:collection:developer`"
						>
						<span class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Your Games' ) : ''"
							>
							<app-jolticon icon="user" />
						</span>
						<span class="shell-nav-label">
							<translate>library.nav.developer</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable" v-if="followedCollection">
					<router-link
						:to="followedCollection.routeLocation"
						active-class="active"
						v-app-track-event="`sidebar:collection:followed`"
						>
						<span class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Followed Games' ) : ''"
							>
							<app-jolticon icon="subscribe" />
						</span>
						<span class="shell-nav-label">
							<translate>library.nav.followed</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable" v-if="recommendedCollection">
					<router-link
						:to="recommendedCollection.routeLocation"
						active-class="active"
						v-app-track-event="`sidebar:collection:recommended`"
						>
						<span class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Recommended Games' ) : ''"
							>
							<app-jolticon icon="pedestals-numbers" />
						</span>
						<span class="shell-nav-label">
							<translate>Recommended Games</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable" v-if="ownedCollection">
					<router-link
						:to="ownedCollection.routeLocation"
						active-class="active"
						v-app-track-event="`sidebar:collection:owned`"
						>
						<span class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Owned Games' ) : ''"
							>
							<app-jolticon icon="heart" />
						</span>
						<span class="shell-nav-label">
							<translate>Owned Games</translate>
						</span>
					</router-link>
				</li>
			</ul>

			<template v-if="!isLeftPaneVisible">
				<ul class="shell-nav">
					<li class="offline-disable">
						<router-link
							:to="{ name: 'library.overview' }"
							active-class="active"
							v-app-track-event="`sidebar:playlists`"
							>
							<span class="shell-nav-icon"
								v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Playlists' ) : ''"
								>
								<app-jolticon icon="playlist" />
							</span>
						</router-link>
					</li>
				</ul>
			</template>

			<template v-if="isLeftPaneVisible && bundleCollections.length">
				<div class="nav-heading">
					<translate>library.nav.bundles</translate>
					<span class="badge">
						{{ bundleCollections.length | number }}
					</span>
				</div>

				<ul class="shell-nav">
					<li class="offline-disable"
						v-for="bundleCollection of filteredBundleCollections"
						:key="bundleCollection._id"
						>
						<router-link
							:to="bundleCollection.routeLocation"
							active-class="active"
							v-app-track-event="`sidebar:collection:bundle`"
							:title="bundleCollection.name"
							>
							<span class="shell-nav-icon">
								<app-jolticon icon="bundle" />
							</span>
							<span class="shell-nav-label">
								{{ bundleCollection.name }}
							</span>
						</router-link>
					</li>
				</ul>
			</template>

			<!--
				Playlists
			-->
			<template v-if="isLeftPaneVisible">
				<div class="nav-heading" :title="$gettext( `library.nav.playlists` )">
					<translate>library.nav.playlists</translate>
					<span class="badge">
						{{ collections.length | number }}
					</span>
				</div>

				<div class="nav-controls">
					<a
						class="btn btn-outline btn-block offline-disable"
						@click="showAddPlaylistModal"
						v-app-track-event="`sidebar:playlist-add`"
						>
						<app-jolticon icon="add" />
						<translate>library.nav.new_playlist_button</translate>
					</a>
				</div>

				<div class="nav-controls" v-if="collections.length">
					<input type="search"
						class="form-control"
						:placeholder="$gettext( `library.nav.filter_playlists_placeholder` )"
						v-model="playlistFilterQuery"
						>
				</div>

				<template v-if="!collections.length">
					<div class="alert fill-gray" v-translate>
						library.nav.no_playlists_html
					</div>
				</template>

				<!--
					Playlist Folders
				-->
				<div
					v-for="( folder, key ) of playlistFolders"
					:key="key"
					v-if="key !== 'main'"
					>
					<ul class="shell-nav">
						<li class="offline-disable">
							<a @click="toggleFolder( key )">
								<span class="shell-nav-icon">
									<app-jolticon :icon="openFolders.indexOf( key ) === -1 ? 'folder' : 'folder-open'" />
								</span>
								{{ folder.title }}
							</a>
							<app-expand :when="openFolders.indexOf( key ) !== -1">
								<app-shell-sidebar-collection-list
									:collections="folder.collections"
									:filter="playlistFilterQuery"
									:should-sort="key === 'developers'"
									/>
							</app-expand>
						</li>
					</ul>
				</div>

				<!--
					Main Playlists (not in folders)
				-->
				<app-shell-sidebar-collection-list
					:collections="playlistFolders.main.collections"
					:filter="playlistFilterQuery"
					/>

			</template>

		</template>

	</div>
</div>
