<div id="shell-sidebar"
	:class="{
		'shell-sidebar': !Screen.isXs,
		'shell-pane shell-pane-left': Screen.isXs,
		'visible': Screen.isMobile && isLeftPaneVisible,
	}"
	v-shortkey="[ 'm' ]"
	@shortkey="toggleLeftPane"
	>

	<app-scroll-scroller
		overlay
		:hide-scrollbar="!isLeftPaneVisible"
		class="shell-sidebar-content fill-darkest"
		>

		<ul class="shell-nav">
			<li class="offline-disable">
				<router-link
					v-if="app.user && isBootstrapped"
					:to="{ name: 'activity.feed' }"
					:class="{ active: $route.name.indexOf( 'activity.' ) === 0 }"
					v-app-track-event="`sidebar:activity`"
					>
					<span
						class="notification-tag tag tag-highlight anim-fade-enter anim-fade-leave"
						v-if="notificationCount > 0"
						>
						{{ notificationCount < 100 ? notificationCount : '99+' }}
					</span>
					<span
						class="shell-nav-icon"
						v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Activity Feed' ) : ''"
						>
						<app-jolticon icon="feed" />
					</span>
					<span class="shell-nav-label">
						<translate>Activity Feed</translate>
					</span>
				</router-link>
			</li>

			<li class="offline-disable">
				<router-link
					:to="{ name: 'discover.games.list._fetch', params: { section: defaultBrowseSection } }"
					:class="{ active: $route.name.indexOf( 'discover.games.list' ) === 0 }"
					v-app-track-event="`sidebar:games`"
					>
					<span
						class="shell-nav-icon"
						v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Browse Games' ) : ''"
						>
						<app-jolticon icon="game" />
					</span>
					<span class="shell-nav-label">
						<translate>Browse Games</translate>
					</span>
				</router-link>
			</li>

			<li class="offline-disable">
				<router-link
					:to="{ name: 'discover.channels.list' }"
					:class="{ active: $route.name.indexOf( 'discover.channels' ) === 0 }"
					v-app-track-event="`sidebar:channels`"
					>
					<span
						class="shell-nav-icon"
						v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Channels' ) : ''"
						>
						<app-jolticon icon="tag" />
					</span>
					<span class="shell-nav-label">
						<translate>Channels</translate>
					</span>
				</router-link>
			</li>

			<template v-if="Screen.isXs">
				<li class="offline-disable">
					<router-link
						:to="{ name: 'search.results' }"
						:class="{ active: $route.name.indexOf( 'search' ) === 0 }"
						v-app-track-event="`sidebar:search`"
						>
						<span class="shell-nav-icon">
							<app-jolticon icon="search" />
						</span>
						<span class="shell-nav-label">
							<translate>Search</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable">
					<router-link
						:to="{ name: 'forums.landing.overview' }"
						:class="{ active: $route.name.indexOf( 'search' ) === 0 }"
						v-app-track-event="`sidebar:forums`"
						>
						<span class="shell-nav-icon">
							<app-jolticon icon="forums" />
						</span>
						<span class="shell-nav-label">
							<translate>Forums</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable">
					<a
						:href="Environment.jamsBaseUrl"
						target="_blank"
						v-app-track-event="`sidebar:jams`"
						>
						<span class="shell-nav-icon">
							<app-jolticon icon="jams" />
						</span>
						<span class="shell-nav-label">
							<translate>Jams</translate>
						</span>
					</a>
				</li>
			</template>
		</ul>

		<template v-if="app.user">

			<hr>

			<div class="nav-heading" v-if="isLeftPaneVisible || Screen.isXs">
				@{{ app.user.username }}
			</div>

			<ul class="shell-nav">
				<li class="offline-disable">
					<router-link
						:to="{ name: 'dash.main.overview' }"
						:class="{ active: $route.name.indexOf( 'dasboard' ) === 0 && $route.name.indexOf( 'dash.activity' ) === -1 }"
						v-app-track-event="`sidebar:dashboard`"
						>
						<span
							class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Dashboard' ) : ''"
							>
							<app-user-avatar-img :user="app.user" />
						</span>
						<span class="shell-nav-label">
							<translate>Dashboard</translate>
						</span>
					</router-link>
				</li>
			</ul>

			<hr>

			<ul class="shell-nav">
				<li v-if="GJ_IS_CLIENT">
					<router-link
						:to="{ name: 'library.installed' }"
						active-class="active"
						v-app-track-event="`sidebar:collection:installed`"
						>
						<span
							class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Installed Games' ) : ''"
							>
							<app-jolticon icon="download-box" />
						</span>
						<span class="shell-nav-label">
							<translate>Installed Games</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable" v-if="developerCollection">
					<router-link
						:to="developerCollection.routeLocation"
						active-class="active"
						v-app-track-event="`sidebar:collection:developer`"
						>
						<span
							class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Your Games' ) : ''"
							>
							<app-jolticon icon="user" />
						</span>
						<span class="shell-nav-label">
							<translate>library.nav.developer</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable" v-if="followedCollection">
					<router-link
						:to="followedCollection.routeLocation"
						active-class="active"
						v-app-track-event="`sidebar:collection:followed`"
						>
						<span
							class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Followed Games' ) : ''"
							>
							<app-jolticon icon="subscribe" />
						</span>
						<span class="shell-nav-label">
							<translate>library.nav.followed</translate>
						</span>
					</router-link>
				</li>

				<li class="offline-disable" v-if="ownedCollection">
					<router-link
						:to="ownedCollection.routeLocation"
						active-class="active"
						v-app-track-event="`sidebar:collection:owned`"
						>
						<span
							class="shell-nav-icon"
							v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Owned Games' ) : ''"
							>
							<app-jolticon icon="heart" />
						</span>
						<span class="shell-nav-label">
							<translate>Owned Games</translate>
						</span>
					</router-link>
				</li>
			</ul>

			<template v-if="!isLeftPaneVisible">
				<ul class="shell-nav">
					<li class="offline-disable">
						<router-link
							:to="{ name: 'library.overview' }"
							active-class="active"
							v-app-track-event="`sidebar:playlists`"
							>
							<span
								class="shell-nav-icon"
								v-app-tooltip.right="!isLeftPaneVisible ? $gettext( 'Playlists' ) : ''"
								>
								<app-jolticon icon="playlist" />
							</span>
						</router-link>
					</li>
				</ul>
			</template>

			<template v-if="isLeftPaneVisible && bundleCollections.length">
				<div class="nav-heading">
					<translate>library.nav.bundles</translate>
					<span class="badge">
						{{ bundleCollections.length | number }}
					</span>
				</div>

				<ul class="shell-nav">
					<li class="offline-disable"
						v-for="bundleCollection of filteredBundleCollections"
						:key="bundleCollection._id"
						>
						<router-link
							:to="bundleCollection.routeLocation"
							active-class="active"
							v-app-track-event="`sidebar:collection:bundle`"
							:title="bundleCollection.name"
							>
							<span class="shell-nav-icon">
								<app-jolticon icon="bundle" />
							</span>
							<span class="shell-nav-label">
								{{ bundleCollection.name }}
							</span>
						</router-link>
					</li>
				</ul>
			</template>

			<!--
				Playlists
			-->
			<template v-if="isLeftPaneVisible && isLibraryBootstrapped">
				<div class="nav-heading" :title="$gettext( `library.nav.playlists` )">
					<translate>library.nav.playlists</translate>
					<span class="badge">
						{{ collections.length | number }}
					</span>
				</div>

				<div class="nav-controls">
					<app-button
						primary
						block
						class="offline-disable"
						@click="showAddPlaylistModal"
						v-app-track-event="`sidebar:playlist-add`"
						>
						<translate>library.nav.new_playlist_button</translate>
					</app-button>
				</div>

				<div class="nav-controls" v-if="collections.length > 0">
					<input
						type="search"
						class="form-control"
						:placeholder="$gettext( `library.nav.filter_playlists_placeholder` )"
						v-model="playlistFilterQuery"
						>
				</div>
				<div class="alert fill-gray" v-else>
					<div v-translate>library.nav.no_playlists_html</div>
				</div>

				<!--
					Playlist Folders
				-->
				<div
					v-for="( folder, key ) of playlistFolders"
					:key="key"
					v-if="key !== 'main'"
					>
					<ul class="shell-nav">
						<li class="offline-disable">
							<a @click="toggleFolder( key )">
								<span class="shell-nav-icon">
									<app-jolticon :icon="openFolders.indexOf( key ) === -1 ? 'folder' : 'folder-open'" />
								</span>
								{{ folder.title }}
							</a>
							<app-expand :when="openFolders.indexOf( key ) !== -1">
								<app-shell-sidebar-collection-list
									:collections="folder.collections"
									:filter="playlistFilterQuery"
									:should-sort="key === 'developers'"
									/>
							</app-expand>
						</li>
					</ul>
				</div>

				<!--
					Main Playlists (not in folders)
				-->
				<app-shell-sidebar-collection-list
					:collections="playlistFolders.main.collections"
					:filter="playlistFilterQuery"
					/>

			</template>

		</template>

	</app-scroll-scroller>
</div>
