<app-form name="settingsForm">

	<app-form-group name="title" :label="$gettext( `Page Title` )" optional="true">
		<div class="help-block" v-if="!baseModel.game_id" translate>
			You can override the default title for your site. This will show in search engines, and in the tab bar of browsers. By default it's your display name.
		</div>
		<div class="help-block" v-if="baseModel.game_id" translate>
			You can override the default title for your site. This will show in search engines, and in the tab bar of browsers. By default it's the title of your game.
		</div>
		<input form-control="text"
			ng-maxlength="100"
			>
		<app-form-control-errors />
	</app-form-group>

	<app-form-group name="description" :label="$gettext( `Description` )" optional="true">
		<div class="help-block" translate>
			Search engines show this as the description under the page title in search results.
		</div>
		<textarea form-control ng-maxlength="250" rows="3"></textarea>
		<app-form-control-errors />
	</app-form-group>

	<app-form-group name="ga_tracking_id" :label="$gettext( `dash.games.settings.ga_tracking_id_label` )" optional="true">
		<input form-control="text"
			gj-pattern="gaTrackingId"
			ng-maxlength="30"
			:placeholder="$gettext( `dash.games.settings.ga_tracking_id_placeholder` )"
			>

		<app-form-control-errors :label="$gettext( `dash.games.settings.ga_tracking_id_error_label` )" />

		<div class="help-block">
			<p translate>Use <b>Google Analytics</b> to track a multitude of stats and get tons of information about your site. Just enter your Google Analytics tracking ID here and we'll start sending data over there right away.</p>
			<p>
				<a class="link-help" href="https://support.google.com/analytics/answer/1008080" target="_blank" translate>
					How do I get my tracking ID?
				</a>
			</p>
		</div>
	</app-form-group>

	<app-form-button icon="edit">
		<translate>Save</translate>
	</app-form-button>

</app-form>
