<form gj-form="formModel" name="settingsForm">
	<gj-form-loader
		url="/web/dash/developer/games/settings/save/{{ formModel.id }}"
		on-loaded="onLoaded( $payload )"
		>

		<form-group name="ga_tracking_id" label="{{ 'dash.games.settings.ga_tracking_id_label' | translate }}" optional="true">
			<input form-control="text"
				gj-pattern="gaTrackingId"
				ng-maxlength="30"
				ng-attr-placeholder="{{ 'dash.games.settings.ga_tracking_id_placeholder' | translate }}"
				>

			<control-errors label="{{ 'dash.games.settings.ga_tracking_id_error_label' | translate }}"></control-errors>

			<div class="help-block" translate>dash.games.settings.ga_tracking_id_help_html</div>
		</form-group>

		<form-group ng-if="!hasPackagesForSale" name="ads_enabled" label="{{ 'dash.games.settings.ads_label' | translate }}">
			<div class="help-block" translate>dash.games.settings.ads_help_html</div>

			<gj-toggle-switch
				form-control="checkbox"
				toggle-switch-on-text="{{ 'forms.on' | translate }}"
				toggle-switch-off-text="{{ 'forms.off' | translate }}"
				>
			</gj-toggle-switch>
		</form-group>

		<div ng-if="hasPackagesForSale" class="form-group">
			<label class="control-label" translate>
				dash.games.settings.ads_label
			</label>
			<div class="alert alert-info" translate>
				We don't show ads on Marketplace game pages (even for pay what you want games).
			</div>
		</div>

		<form-group name="comments_enabled" label="{{ 'dash.games.settings.comments_label' | translate }}">
			<div class="help-block" translate>dash.games.settings.comments_help_html</div>

			<gj-toggle-switch
				form-control="checkbox"
				toggle-switch-on-text="{{ 'forms.on' | translate }}"
				toggle-switch-off-text="{{ 'forms.off' | translate }}"
				>
			</gj-toggle-switch>
		</form-group>

		<form-group name="ratings_enabled" label="{{ 'dash.games.settings.ratings_label' | translate }}">

			<div class="alert alert-info" ng-if="baseModel._is_devlog">
				<span class="jolticon jolticon-notice warning"></span>
				<span class="translate"><b>Users can't rate devlog-only games.</b> Enable or disable ratings for when you're ready to transition to early access or a finished game.</span>
			</div>

			<div class="help-block" translate>dash.games.settings.ratings_help_html</div>

			<gj-toggle-switch
				form-control="checkbox"
				toggle-switch-on-text="{{ 'forms.on' | translate }}"
				toggle-switch-off-text="{{ 'forms.off' | translate }}"
				>
			</gj-toggle-switch>
		</form-group>

		<button
			ng-if="!isWizard"
			gj-form-submit-button
			class="btn btn-outline"
			ng-disabled="!settingsForm.$valid"
			ng-click="onSubmit()"
			>
			<span class="jolticon jolticon-edit"></span>
			<span translate>dash.games.settings.save_button</span>
		</button>

		<div ng-if="isWizard">
			<gj-form-dashboard-game-wizard-controls
				game="formModel"
				can-proceed="settingsForm.$valid"
				on-next="onSubmit()"
				>
			</gj-form-dashboard-game-wizard-controls>
		</div>

	</gj-form-loader>
</form>
