@require '~styles/variables'
@require '~styles-lib/mixins'

.-item
	position: relative
	display: inline-block
	vertical-align: middle
	width: 100%
	max-width: 100% !important

// The "item" gets the correct dimensions applied, so we want to stretch
// out any image or video in the item to be full width/height.
.-img, .-video
	rounded-corners()
	// theme-prop('background-color', 'bg-offset-back')
	display: block
	width: 100%
	margin-left: auto
	margin-right: auto
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: hidden

	.-filled &
		border-radius: 0

	// For SSR responsive-dimensions component doesn't work, so we want
	// to instead just try showing the media however the browser would
	// show it.
	.-ssr &
		position: static
