<form gj-form="formModel" name="newsArticleForm">
	<gj-form-loader
		url="/web/dash/developer/games/news/save/{{ game.id }}"
		on-loaded="onLoaded( $payload )"
		>

		<form-group name="title" label="{{ 'dash.games.news.form.title_label' | translate }}">
			<input form-control="text" ng-maxlength="250">
			<control-errors></control-errors>
		</form-group>

		<form-group name="content_markdown" label="{{ 'dash.games.news.form.content_label' | translate }}">

			<p class="help-block" translate>
				dash.games.news.form.content_help
			</p>

			<div
				form-markdown-editor
				preview-class="post-body"
				markdown-preview-url="/web/dash/developer/games/news/preview"
				>
			</div>

			<control-errors></control-errors>

		</form-group>

		<div class="form-group"
			ng-if="method == 'add' && keyGroups.length"
			>
			<label class="control-label" translate>
				Access Permissions
			</label>

			<p class="help-block" translate>
				You can restrict access to only the users within a specific key group. This is useful to send news updates out to testers instead of everyone, and gather feedback as you develop. Only User-type key groups can be selected.
			</p>

			<div class="checkbox" ng-repeat="keyGroup in keyGroups track by keyGroup.id">
				<label>
					<input type="checkbox" ng-model="formModel.keyGroups[ keyGroup.id ]">
					{{ keyGroup.name }}
				</label>
			</div>
		</div>

		<div
			class="form-group"
			ng-if="method == 'edit' && baseModel.key_groups.length"
			>
			<label class="control-label" translate>
				Access Permissions
			</label>
			<div class="alert alert-info">
				The below key groups have access to this post. You can't edit who has access after posting since notifications have already gone out.
			</div>
			<div>
				<span class="tag" ng-repeat="keyGroup in baseModel.key_groups track by keyGroup.id">
					{{ keyGroup.name }}
				</span>
			</div>
		</div>

		<p class="help-block" ng-if="method == 'add'">{{ 'dash.games.news.form.add_follower_message' | translate }}</p>

		<button gj-form-submit-button class="i-button" ng-disabled="!newsArticleForm.$valid" ng-click="onSubmit()">
			<span ng-if="method == 'add'">
				<span class="jolticon jolticon-add"></span>
				{{ 'dash.games.news.form.add_button' | translate }}
			</span>
			<span ng-if="method == 'edit'">
				<span class="jolticon jolticon-edit"></span>
				{{ 'dash.games.news.form.edit_button' | translate }}
			</span>
		</button>

	</gj-form-loader>
</form>
