<form gj-form="formModel" name="newsArticleForm">

	<form-group name="title" label="{{ 'dash.games.news.form.title_label' | translate }}">
		<input form-control="text" ng-maxlength="250">
		<control-errors></control-errors>
	</form-group>

	<form-group name="content_markdown" label="{{ 'dash.games.news.form.content_label' | translate }}">

		<p class="help-block" translate>
			dash.games.news.form.content_help
		</p>

		<div
			form-markdown-editor
			preview-class="post-body"
			markdown-preview-url="/web/dash/developer/games/news/preview"
			>
		</div>

		<control-errors></control-errors>

	</form-group>

	<p class="help-block" ng-if="method == 'add'">{{ 'dash.games.news.form.add_follower_message' | translate }}</p>

	<button gj-form-submit-button class="i-button" ng-disabled="!newsArticleForm.$valid" ng-click="onSubmit()">
		<span ng-if="method == 'add'">
			<span class="jolticon jolticon-add"></span>
			{{ 'dash.games.news.form.add_button' | translate }}
		</span>
		<span ng-if="method == 'edit'">
			<span class="jolticon jolticon-edit"></span>
			{{ 'dash.games.news.form.edit_button' | translate }}
		</span>
	</button>

</form>
