@require '~styles/variables'
@require '~styles-lib/mixins'

.route-game-overview
	// Match the styling of .stat-big labels.
	.rating-widget-label
		margin-top: 0

		@media $media-mobile
			theme-prop('color', 'fg-muted')
			font-family: $font-family-base
			font-size: $font-size-small
			margin-bottom: 5px

	// Collapse spacing between headers a bit on really small screens.
	@media $media-xs
		h2
			margin-top: $line-height-computed

			&.section-header
				margin-top: 0

	@media $media-sm
		#maturity-rating
			margin-top: 60px
