@require '~styles/variables'
@require '~styles-lib/mixins'

.route-game-overview
	// Match the styling of .stat-big labels.
	.rating-widget-label
		margin-top: 0

		@media $media-mobile
			font-family: $font-family-base
			color: $text-muted
			font-size: $font-size-small
			margin-bottom: 5px

	.game-supporters
		clearfix()
		margin-left: -5px
		margin-right: -5px

	.game-supporter
		float: left
		width: 50px
		margin: 0 5px 5px 5px

	.recommended-games
		.game-thumbnail
			margin-bottom: 0

	// Collapse spacing between headers a bit on really small screens.
	@media $media-xs
		h2
			margin-top: $line-height-computed

			&.section-header
				margin-top: 0

	@media $media-sm
		#maturity-rating
			margin-top: 60px
