<div class="route-game-overview">

	<!-- Media Bar -->
	<app-media-bar
		v-if="game.media_count"
		:media-items="mediaItems"
		/>

	<!--<section class="section section-thin fill-darker" ng-if="activeJam">
		<div class="container">

			<div class="row">
				<div class="col-sm-10 col-md-8 col-centered">

					<h2 class="section-header">{{ activeJam.name }} Voting</h2>

					<p>This game is part of the <strong><a ng-href="{{ activeJam.fullUrl }}">{{ activeJam.name }}</a></strong> game jam. <strong>Voting for the jam is separate from ratings on Game Jolt.</strong> If you'd like to vote on this game for the jam, you may cast your vote below.</p>

					<hr>

					<gj-jam-game-vote-widget
						gj-jam="activeJam"
						gj-game="game"
						>
					</gj-jam-game-vote-widget>

				</div>
			</div>

		</div>
	</section>-->

	<app-ad-placement hidden-xs pos="top" />

	<section class="section">
		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-md-4 pull-right" style="clear: right">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-12 col-md-push-0">

							<!--
								Can't rate your own games! Remember that.
							-->
							<template v-if="app.user && !hasAnyPerms && game.ratings_enabled && game.can_user_rate">
								<h2 class="rating-widget-label">
									<template v-if="!!userRating">
										<translate>Your Rating</translate>
									</template>
									<template v-else>
										<translate>Rate Game</translate>
									</template>
								</h2>

								<hr class="underbar">

								<div>
									<app-rating-widget
										:game="game"
										:rating="userRating"
										:big="true"
										/>
								</div>
								<br>
							</template>
						</div>
						<div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-12 col-md-pull-0">

							<app-discover-games-view-overview-stats />
							<br>

						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-8 col-lg-7 pull-left" style="clear: left">

					<!--
						Convenience Messaging
						This needs to be a div instead of a template or vue 2.4.4 complains about a
						patched vnode not existing.
					-->
					<div v-if="game._is_wip || game.canceled || customGameMessages.length">
						<br class="visible-xs">
						<div
							key="early-access"
							v-if="game._is_wip && !game.canceled"
							class="alert alert-info full-bleed-xs"
							v-translate
							>
							This game is in <b>early access</b>. It's still in development and the current version may be buggy or incomplete. Follow along to watch it as it develops!
						</div>
						<div
							key="wip"
							v-else-if="game.canceled"
							class="alert alert-warning full-bleed-xs"
							v-translate
							>
							This game was <b>canceled</b>, so the current version might be buggy or incomplete. You can still follow it if you'd like to be notified in the case that development continues.
						</div>

						<div
							v-for="msg of customGameMessages"
							class="alert full-bleed-xs"
							:class="{
								'alert-info': msg.type === 'info',
								'alert-warning': msg.type === 'alert',
							}"
							>
							<app-jolticon icon="notice" />
							<span v-html="msg.message" />
						</div>

						<br class="hidden-xs">
					</div>

					<!--
						Builds / Soundtrack
						This is a bit tricky. _has_packages doesn't yet take into account private packages.
						If the game has only private packages, this will still be set to true.
						We only use it to figure out if we should show the releases section while loading before
						we actually have the package data. Because of that, we only use it to figure out what to
						show while we're loading the section. After it's loaded in, we decide if it should show
						through the "hasReleasesSection" variable which has the correct data.
					-->
					<div id="game-releases" v-if="(game._has_packages && !isOverviewLoaded) || hasReleasesSection">

						<!--
							Partner Controls
						-->
						<app-card v-if="hasPartnerControls">
							<div class="card-content">
								<p>
									<translate tag="strong">This game is part of the Partner system!</translate>
									<translate>You can use this link for sharing the game.</translate>
								</p>
								<input class="form-control" :value="partnerLink">
							</div>
							<div class="card-controls">
								<button class="btn btn-outline" @click="copyPartnerLink">
									<app-jolticon icon="link" />
									<translate>Copy Partner Link</translate>
								</button>
								<router-link
									class="btn btn-outline"
									:to="{
										name: 'dash.analytics',
										params: { resource: 'Game', resourceId: game.id },
									}"
									>
									<app-jolticon icon="chart" />
									<translate>View Analytics</translate>
								</router-link>
							</div>
						</app-card>

						<div v-if="shouldShowMultiplePackagesMessage" class="alert alert-warning">
							<app-jolticon icon="notice" />
							<translate>There are multiple packages for your device. Please choose one below.</translate>
						</div>

						<app-lazy-placeholder :when="isOverviewLoaded">
							<div class="lazy-placeholder" style="height: 135px"></div>

							<template v-if="packages.length">
								<app-game-package-card
									v-for="package of packages"
									:key="package.id"
									:game="game"
									:sellable="package._sellable"
									:package="package"
									:releases="package._releases"
									:builds="package._builds"
									:is-partner="!!userPartnerKey"
									:partner-key="partnerKey"
									:partner="partner"
									/>
							</template>

							<app-game-soundtrack-card
								v-if="songs.length"
								:game="game"
								:songs="songs"
								/>
						</app-lazy-placeholder>

					</div>

					<div v-if="!game.description_compiled">
						<span class="lazy-placeholder"></span>
						<span class="lazy-placeholder"></span>
						<span class="lazy-placeholder"></span>
						<span class="lazy-placeholder" style="width: 40%"></span>
					</div>
					<div v-else>
						<!--
							Set a :key to let vue know that it should update
							this when the game changes.
						-->
						<app-fade-collapse
							:collapse-height="500"
							:is-open="showDescription"
							:animate="false"
							:key="game.id"
							@require-change="setCanToggleDescription"
							>
							<div
								class="game-compiled-description"
								v-html="game.description_compiled"
								>
							</div>
						</app-fade-collapse>

						<div class="page-cut" v-if="canToggleDescription">
							<button class="btn btn-outline"
								@click="toggleDescription()"
								v-app-track-event="`game-profile:show-full-description`"
								>
								<translate v-if="!showDescription">Show More</translate>
								<translate v-else>Less</translate>
							</button>
						</div>
					</div>

					<template v-if="supporters.length > 0">
						<h2>
							<translate>Supporters</translate>
						</h2>

						<p class="small text-muted">
							<translate :translate-params="{ developer: game.developer.display_name }">
								The kind people that helped support %{ developer } by paying more than the minimum. Sorted by amount contributed.
							</translate>
						</p>

						<hr class="underbar">

						<div class="game-supporters">
							<div class="game-supporter"
								v-for="user of supporters"
								:key="user.id"
								>
								<router-link
									class="user-avatar"
									:to="user.url"
									>
									<app-user-avatar-img
										:user="user"
										v-app-tooltip="`${user.display_name} (@${user.username})`"
										/>
								</router-link>
							</div>
						</div>
						<br class="visible-xs visible-sm">
					</template>

					<template v-if="feed">

						<br>

						<app-game-perms :game="game" required="devlogs">
							<h5 class="sans-margin-top">
								<translate>Add Post</translate>
							</h5>

							<app-devlog-post-add
								:game="game"
								@add="onPostAdded"
								/>

							<hr>
						</app-game-perms>

						<app-activity-feed
							v-if="feed.hasItems"
							:feed="feed"
							show-edit-controls
							/>
					</template>

				</div>

				<div class="col-xs-12 col-md-4 pull-right" style="clear: right">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-12 col-md-push-0">

							<div v-if="Screen.isDesktop" style="width: 300px">
								<app-ad size="rectangle" pos="top" />
								<br>
							</div>

							<div id="maturity-rating">
								<br class="visible-md visible-lg">
								<app-lazy-placeholder :when="isOverviewLoaded">
									<div class="lazy-placeholder" style="height: 115px"></div>
									<app-game-ogrs :game="game" />
								</app-lazy-placeholder>
							</div>

						</div>
						<div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-12 col-md-pull-0">

							<br>
							<h2 class="section-header">
								<translate>Details</translate>
							</h2>

							<hr class="underbar">

							<app-discover-games-view-overview-details />

							<div v-if="Screen.isDesktop" style="width: 300px">
								<br>
								<app-ad size="rectangle" pos="bottom" />
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<app-ad-placement :hidden-desktop="true" pos="bottom" />

	<!--
		Achievements
	-->
	<template v-if="hasScores || trophiesCount">
		<div class="page-cut"></div>

		<section class="section">
			<div class="container">

				<div class="row">

					<!--
						Scores
					-->
					<div
						v-if="hasScores"
						:class="isAchievementsTwoCol ? 'col-lg-7' : 'col-xs-12'"
						>

						<app-score-overview
							v-if="scoresPayload"
							:game="game"
							:initial-payload="scoresPayload"
							:size="isAchievementsTwoCol ? 'small' : 'full'"
							/>

					</div>

					<!--
						Trophies
					-->
					<div
						v-if="trophiesCount"
						:class="isAchievementsTwoCol ? 'col-lg-4 col-lg-offset-1' : 'col-xs-12'"
						>

						<app-trophy-overview
							v-if="trophiesPayload"
							:game="game"
							:initial-payload="trophiesPayload"
							:size="isAchievementsTwoCol ? 'small' : 'full'"
							/>

					</div>

				</div>

			</div>
		</section>
	</template>

	<!--
		Recommended Games
	-->
	<section class="section fill-darker recommended-games section-thin">
		<div class="container">

			<h2 class="section-header">
				<translate>You Might Also Like</translate>
			</h2>

			<hr class="underbar">

			<app-game-grid-placeholder
				v-if="!recommendedGames.length"
				:num="5"
				:truncate-to-fit="true"
				:scrollable="true"
				/>

			<app-game-grid
				v-else
				:games="recommendedGames"
				:truncate-to-fit="true"
				:scrollable="true"
				event-label="recommended"
				/>

		</div>
	</section>

	<!--
		Only show this placement if there's enough space separating the
		previous one.
	-->
	<app-ad-placement
		v-if="hasScores || trophiesCount || (feed && feed.hasItems)"
		:hidden-desktop="true"
		pos="bottom"
		/>

	<section class="section">
		<div class="container">

			<!-- Video Comments -->
			<template v-if="videoComments.length && game.comments_enabled">
				<h2 class="section-header sans-margin-bottom">
					<translate>Video Comments</translate>
					<small v-if="commentsCount">
						({{ videoCommentsCount | number }})
					</small>
				</h2>

				<p class="page-help">
					<translate>Video comments are sorted by most liked.</translate>
					<a class="link-help" href="https://help.gamejolt.com/video-comments" target="_blank">
						<translate>How do I add my video?</translate>
					</a>
				</p>

				<hr class="underbar">

				<div class="row">
					<div
						class="col-xs-6 col-sm-3"
						v-for="video of videoComments"
						:key="video.id"
						>
						<app-comment-video-thumbnail :video="video" />
					</div>
				</div>

				<div class="page-cut" v-if="videoComments.length < videoCommentsCount">
					<a class="btn btn-outline"
						@click="loadVideoComments"
						v-app-track-event="`game-profile:video-comment:more`"
						>
						<translate>Load More</translate>
					</a>
				</div>
			</template>

			<!-- Comments -->
			<div id="comments" v-if="isOverviewLoaded">
				<div class="row">

					<div class="col-sm-10 col-md-8 col-lg-7">

						<template v-if="!game.comments_enabled">
							<h2 class="section-header">
								<translate>Comments Disabled</translate>
							</h2>
							<hr class="underbar">
							<p class="text-muted">
								<translate>Comments have been disabled for this game.</translate>
							</p>
						</template>
						<template v-else>
							<h2 class="section-header">
								<translate>Comments</translate>
								<small v-if="commentsCount">
									({{ commentsCount | number }})
								</small>
							</h2>
							<hr class="underbar">

							<app-comment-widget
								resource="Game"
								:resource-id="game.id"
								@count="setCommentsCount"
								/>
						</template>

					</div>

				</div>
			</div>

		</div>
	</section>

	<app-ad-placement :visible-desktop="true" pos="bottom" />

</div>
