<section class="section landing-header text-center">
	<div class="container">
		<h1>
			<img class="bolt" src="/app/img/jolt.svg">
			Partners
		</h1>

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-7 col-centered">
				<p class="lead">Promote indie games on your YouTube and Twitch channels and earn revenue when people buy the game!</p>

				<a class="btn btn-primary-outline" href="https://docs.google.com/a/gamejolt.com/forms/d/1d_5jMXtKa8rYndFy1lZhzdiArdhZp6kycX-h1IOwjAU" target="_blank">
					Apply Now
				</a>
			</div>
		</div>
	</div>
</section>

<div class="landing-body">

	<section class="section">
		<div class="container">

			<div class="row">

				<div class="col-sm-6 col-md-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/partners/supporting-indies.svg" alt="">
					</div>

					<h4 class="text-center">Indies supporting indies</h4>

					<p>When you promote games from your favorite indie game developers on your YouTube and Twitch channels, they’ll support you right back! Feel that indie fellowship.</p>

				</div>

				<div class="col-sm-6 col-md-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/partners/revenue-share.svg" alt="">
					</div>

					<h4 class="text-center">Revenue Share</h4>

					<p>Developers in the program will show appreciation for your hard work by sharing 10% of revenue with you on sales resulting from your videos/streams! Mmm, 10% profit spells “pumpkin spice latte”, and it has your name on it.</p>

				</div>

				<div class="landing-break-sm"></div>

				<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">

					<div class="landing-graphic">
						<img src="/app/views/landing/partners/access-any-game.svg" alt="">
					</div>

					<h4 class="text-center">Access any game</h4>

					<p>No need to purchase games or ask for keys -- all games in the program have been willingly provided by their owners! No really, we didn’t force them or anything.</p>

				</div>

			</div>

		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-6 col-centered">

					<h2 class="section-header text-center">Have some questions?</h2>
					<hr class="underbar underbar-center">

					<h3>How does it work?</h3>

					<p>As a partner, you will be able to generate a referral link for any paid game in the partner program. Simply use that link in your video description, or while streaming. Any purchase resulting from that link gives you 10% of the sale.</p>

					<p>Gamers will be presented with a message prior to their purchase letting them know the game is part of the Game Jolt Partner Program. They will be aware that a portion of the revenue will go to you as a partner, as well as the developer.</p>

					<h3>Who should sign up?</h3>

					<p><strong>YouTubers</strong> must have at least 50,000 subs and an average of 3,000 views per video.</p>

					<p><strong>Twitch streamers</strong> must have at least 3,000 followers and more than 50 concurrent viewers. If you're a Twitch partner, we'll automatically make you a Game Jolt partner.</p>

					<p>We're starting out with bigger accounts to avoid potential program abuse. If you don't meet these requirements, but would like to be considered, apply anyway!</p>

					<a class="btn btn-primary-outline btn-block" href="https://docs.google.com/a/gamejolt.com/forms/d/1d_5jMXtKa8rYndFy1lZhzdiArdhZp6kycX-h1IOwjAU" target="_blank">
						Apply Now
					</a>

				</div>
			</div>
		</div>
	</section>

</div>
