<div class="client-game-buttons">

	<!--
		The mousedown handlers preventDefault() stops it from unfocusing input elements (like search).
		The stopPropagation() on the click handlers makes it so any <a> tag doesn't get "clicked" if it's inside one.
	-->

	<button class="btn btn-success-outline"
		v-if="!localPackage"
		:class="{
			'disabled': !canInstall,
			'btn-overlay-variant': overlay,
			'btn-sm': small,
			'btn-lg': large,
		}"
		@mousedown.prevent
		@click.stop="install()"
		v-app-tooltip="installTooltip"
		>
		<app-jolticon icon="download-box" />
		<translate>Install</translate>
	</button>

	<template v-else>

		<!-- If we're installing -->
		<template v-if="localPackage.install_state || localPackage.update_state">

			<template v-if="localPackage.didInstallFail || localPackage.didUpdateFail">
				<span class="tag tag-pink">
					{{ localPackage.didInstallFail ? $gettext('Installation Failed') : $gettext('Update Failed') }}
				</span>
				<button
					class="btn btn-outline"
					:class="{
						'btn-overlay-variant': overlay,
						'btn-sm': small,
						'btn-lg': large,
					}"
					@mousedown.prevent
					@click.stop="retryInstall()"
					>
					<translate>Retry</translate>
				</button>
			</template>

			<app-client-install-progress :local-package="localPackage" />

			<template v-if="localPackage.isPatching">

				<template v-if="localPackage.isPatchQueued">
					<translate class="tag">QUEUED</translate>
				</template>

				<template v-else-if="localPackage.isUpdating">
					<translate class="tag tag-blue">UPDATING</translate>
				</template>

				<template v-else-if="!localPackage.isPatchQueued">

					<template v-if="!localPackage.isPatchPaused">
						<button
							class="btn btn-outline"
							:class="{
								'btn-overlay-variant': overlay,
								'btn-sm btn-sparse': small,
								'btn-lg': large,
							}"
							@mousedown.prevent
							@click.stop="pause()"
							>
							<app-jolticon icon="pause" />
							<translate v-if="!small">Pause</translate>
						</button>
					</template>

					<template v-else>
						<button
							class="btn btn-outline"
							:class="{
								'btn-overlay-variant': overlay,
								'btn-sm btn-sparse': small,
								'btn-lg': large,
							}"
							@mousedown.prevent
							@click.stop="resume()"
							>
							<app-jolticon icon="play-small" />
							<translate v-if="!small">Resume</translate>
						</button>
					</template>
				</template>
			</template>

			<button
				v-if="localPackage.install_state"
				class="btn btn-danger-outline btn-sparse"
				:class="{
					'btn-overlay-variant': overlay,
					'btn-sm': small,
					'btn-lg': large,
				}"
				@mousedown.prevent
				@click.stop="cancel()"
				v-app-tooltip="$gettext('Cancel Installation')"
				>
				<app-jolticon icon="remove" />
			</button>
		</template>

		<template v-if="localPackage.isSettled">

			<!--
				Single game launching.
			-->
			<template v-if="gamePackages.length == 1">
				<button
					v-if="!localPackage.isRunning"
					class="btn btn-primary-outline"
					:class="{
						'btn-overlay-variant': overlay,
						'btn-sm': small,
						'btn-lg': large,
					}"
					@mousedown.prevent
					@click.stop="launch( localPackage )"
					v-app-tooltip="$gettext(localPackage.isRunning ? 'This game is currently running.' : undefined)"
					>
					<app-jolticon icon="play" />
					<translate>Launch</translate>
				</button>
			</template>

			<!--
				Multi game launching.
				Opens popover.
			-->
			<template v-else-if="gamePackages.length > 1">
				<button
					class="btn btn-primary-outline"
					:class="{
						'btn-overlay-variant': overlay,
						'btn-sm': small,
						'btn-lg': large,
					}"
					@mousedown.prevent
					@click.stop
					v-app-popover-trigger="`game-buttons-launch-${label}-${game.id}`"
					>
					<app-jolticon icon="play" />
					<translate>Launch</translate>
				</button>
			</template>
		</template>

		<button
			v-if="!localPackage.install_state"
			class="btn btn-outline btn-sparse"
			:class="{
				'btn-overlay-variant': overlay,
				'btn-sm': small,
				'btn-lg': large,
			}"
			@mousedown.prevent
			@click.stop
			v-app-popover-trigger="`game-buttons-options-${label}-${game.id}`"
			>
			<app-jolticon icon="ellipsis-h" />
		</button>

		<app-popover
			:popover-id="`game-buttons-options-${label}-${game.id}`"
			@focused="$emit('show-options', $event)"
			@blurred="$emit('hide-options', $event)"
			>
			<div class="list-group list-group-dark thin">
				<router-link
					class="list-group-item has-icon"
					:to="{
						name: 'discover.games.view.overview',
						params: {
							slug: game.slug,
							id: game.id,
						},
					}"
					>
					<app-jolticon icon="game" />
					<translate>View Game</translate>
				</router-link>
				<a
					v-for="package_ of gamePackages"
					:key="package_.id"
					v-if="package_.isSettled"
					class="list-group-item has-icon"
					@click="openFolder( package_ )"
					>
					<app-jolticon icon="folder-open" />
					<span v-translate="{ title: package_.title || game.title }">
						Open Folder for %{ title }
					</span>
				</a>
				<a
					v-for="package_ of gamePackages"
					:key="package_.id"
					v-if="!package_.install_state && !package_.isRemoving"
					class="list-group-item has-icon"
					:class="{
						'disabled': package_.isRunning,
					}"
					@click="uninstallPackage( package_ )"
					>
					<app-jolticon icon="remove warning" />
					<span v-translate="{ title: package_.title || game.title }">
						Uninstall %{ title }
					</span>
				</a>
			</div>
		</app-popover>

		<app-popover
			:popover-id="`game-buttons-launch-${label}-${game.id}`"
			@focused="$emit('show-launch-options', $event)"
			@blurred="$emit('hide-launch-options', $event)"
			>
			<div class="list-group list-group-dark thin">
				<a
					v-for="package_ of gamePackages"
					:key="package_.id"
					v-if="package_.isSettled"
					class="list-group-item has-icon"
					:class="{
						'disabled': package_.isRunning,
					}"
					@click="launch( package_ )"
					>
					<app-jolticon icon="play" />
					{{ package_.title || game.title }}
				</a>
			</div>
		</app-popover>
	</template>
</div>
