@require '../variables'
@require '~styles-lib/mixins'

.-container
	@media $media-sm-up
		padding-bottom: $-item-padding

.-spacer
	spacer-xs()

.-item
	padding: $-item-padding-xs
	margin-left: -($grid-gutter-width-xs / 2)
	margin-right: -($grid-gutter-width-xs / 2)
	transition: border-color 100ms

	@media $media-sm-up
		rounded-corners()
		theme-prop('border-color', 'bg-offset')
		padding: $-item-padding
		border-width: 2px
		border-style: solid
		margin-left: 0
		margin-right: 0

		&:hover
			theme-prop('border-color', 'link')
			cursor: pointer

.-header
	display: flex
	align-items: center

	&-avatar
		theme-prop('background-color', 'bg-subtle')
		theme-prop('color', 'fg-muted')
		flex: none
		text-align: center
		border-radius: 50%
		overflow: hidden
		margin-right: $-item-padding-xs
		width: $-avatar-size-xs
		height: $-avatar-size-xs
		line-height: $-avatar-size-xs

		.-item.-new &
			theme-prop('border-color', 'notice')
			border-width: 3px
			border-style: solid

		@media $media-sm-up
			margin-right: $-item-padding
			width: $-avatar-size
			height: $-avatar-size
			line-height: $-avatar-size

		img
			border-radius: 50% !important

	&-content
		flex: auto
		display: flex
		align-items: flex-start
		overflow: hidden

	&-byline
		flex: auto
		display: flex
		flex-direction: column
		overflow: hidden

		&-name, &-game
			text-overflow()

	&-date
		flex: none
		margin-left: $-item-padding-xs

		@media $media-sm-up
			margin-left: $-item-padding

.-poll, .-controls, .-manage, .-lead
	margin-top: $-item-padding-xs

	@media $media-sm-up
		margin-top: $-item-padding

.-lead
	font-size: $font-size-h4-xs
	line-height: 1.4

	@media $media-min-tablet
		font-size: $font-size-h4

	>>> a
		theme-prop('color', 'link')

		&:hover, &:focus
			theme-prop('color', 'link')
			text-decoration: underline

.-manage
	theme-prop('background-color', 'bg-offset')
	margin-bottom: $-item-padding-xs
	margin-left: -($-item-padding-xs)
	margin-right: -($-item-padding-xs)
	padding: $-item-padding-xs

	@media $media-sm-up
		margin-bottom: $-item-padding
		margin-left: -($-item-padding)
		margin-right: -($-item-padding)
		padding: $-item-padding
