<div class="-container">
	<div
		class="-item"
		:class="{
			'-new': isNew,
		}"
		@click.capture="onClickCapture"
		@click="onClick"
		>

		<div class="-byline">
			<app-user-avatar
				class="-avatar"
				:user="user"
				@click.native.stop
				/>

			<div class="-byline-content">
				<div class="-byline-row">
					<div class="-byline-name">
						<router-link
							class="-byline-displayname link-unstyled"
							:to="{
								name: 'profile.overview',
								params: { username: user.username },
							}"
							>
							{{ user.display_name }}
						</router-link>

						<span class="-byline-to text-muted small" v-if="game && feed.showGameInfo">
							<app-jolticon icon="game" class="middle" />
							<router-link :to="gameUrl" class="link-unstyled">
								{{ game.title }}
							</router-link>
						</span>
					</div>

					<div class="-byline-spacer" />

					<div class="small text-muted hidden-xs">
						<app-activity-feed-event-item-time
							:event-item="eventItem"
							:post="post"
							/>
					</div>
				</div>

				<div class="-byline-row">
					<small class="-byline-username text-muted">
						<router-link
							class="link-unstyled"
							:to="{
								name: 'profile.overview',
								params: { username: user.username },
							}"
							>
							@{{ user.username }}
						</router-link>
					</small>

					<div class="tiny text-muted visible-xs">
						<app-activity-feed-event-item-time
							:event-item="eventItem"
							:post="post"
							/>
					</div>
				</div>
			</div>
		</div>

		<app-activity-feed-comment-video
			v-if="eventItem.type === EventItem.TYPE_COMMENT_VIDEO_ADD"
			:item="item"
			:video="video"
			:is-hydrated="isHydrated"
			@expanded="onExpand"
			@content-bootstrapped="onContentBootstrapped"
			/>
		<template v-if="post">

			<app-activity-feed-devlog-post-video
				v-if="post.hasVideo"
				:item="item"
				:post="post"
				:is-hydrated="isHydrated"
				@click.native.stop
				@expanded="onExpand"
				@content-bootstrapped="onContentBootstrapped"
				/>

			<app-activity-feed-devlog-post-sketchfab
				v-if="post.hasSketchfab"
				:item="item"
				:post="post"
				:is-hydrated="isHydrated"
				@click.native.stop
				@expanded="onExpand"
				@content-bootstrapped="onContentBootstrapped"
				/>

			<app-activity-feed-devlog-post-media
				v-if="post.hasMedia"
				:item="item"
				:post="post"
				:is-hydrated="isHydrated"
				@expanded="onExpand"
				@content-bootstrapped="onContentBootstrapped"
				/>

			<!--
				This shouldn't ever really show a collapser. It's for the jokers that think it would
				be fun to make a post with a bunch of new lines.
			-->
			<app-fade-collapse
				:collapse-height="600"
				:is-open="item.isLeadOpen"
				:animate="false"
				@require-change="canToggleLeadChanged"
				>
				<div v-if="post.lead_compiled" class="-lead" v-html="post.lead_compiled" />
				<div class="-lead" v-else>
					<p>{{ post.title }}</p>
				</div>
			</app-fade-collapse>

			<a
				class="hidden-text-expander"
				v-if="canToggleLead"
				@click="toggleLead()"
				>
			</a>

			<app-activity-feed-devlog-post-text
				v-if="post.hasArticle"
				:item="item"
				:post="post"
				:is-hydrated="isHydrated"
				@expanded="onExpand"
				@content-bootstrapped="onContentBootstrapped"
				/>

			<div
				class="-poll"
				v-if="post.hasPoll"
				@click.stop
				>
				<app-poll-voting
					:poll="post.poll"
					:game="post.game"
					/>
			</div>
		</template>

		<div class="-manage" v-if="shouldShowManage">
			<app-event-item-manage
				:post="post"
				:show-edit-controls="feed.showEditControls"
				@edit="feed.onPostEdited( post )"
				@publish="feed.onPostPublished( post )"
				@remove="feed.onPostRemoved( post )"
				/>
		</div>

		<app-event-item-controls
			class="-controls"
			:post="post"
			:video="video"
			@expand="onExpand()"
			/>

	</div>
</div>
