<section class="section landing-header text-center">
	<div class="container">
		<h1>
			<img class="bolt anim-fade-in-down" src="/app/img/jolt.svg" tooltip="This is the mark of FREEDOM!">
		</h1>

		<div class="row anim-fade-in-up">
			<div class="col-sm-10 col-md-8 col-lg-6 col-centered">
				<p class="lead">Discover, play, buy, and follow 70,000+ independently developed games!</p>
			</div>
		</div>
	</div>
</section>

<div class="landing-body">

	<section class="section">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-3"></div>
				<div class="col-lg-2">
					<div class="stat-big">
						<div class="stat-big-digit">
							13,644,647
						</div>
						<div class="stat-big-label">Scores Logged</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="stat-big">
						<div class="stat-big-digit">
							1,264,897
						</div>
						<div class="stat-big-label">Trophies Achieved</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="stat-big">
						<div class="stat-big-digit">
							608,881
						</div>
						<div class="stat-big-label">Hours Logged</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">

			<h1 class="section-header text-center">
				Game Jolt Loves
			</h1>

			<hr class="underbar underbar-center">
			<br>

			<div class="row">

				<div class="col-lg-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/leaderboards.svg" alt="Leaderboards">
					</div>

					<h4 class="text-center">Gamers</h4>

					<p>With over 70k games, millions of gamers every month, and completely free to use, you'll be playing non-stop. Literally. Like, forever.</p>

				</div>

				<div class="col-lg-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/trophies.svg" alt="Trophies">
					</div>

					<h4 class="text-center">Let's Players</h4>

					<p>Let's players and indie content creators have been a massive help in getting indie games discovered and known! With a nearly non-stop catalog of games from people just like you.</p>

					<p>
						<a>Learn more</a>
					</p>

				</div>

				<div class="col-lg-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/trophies.svg" alt="Trophies">
					</div>

					<h4 class="text-center">Indie Developers</h4>

					<p>The goal of Game Jolt since it started in 2003 has always been to grow indie gaming. We give you the tools to distribute you game, and manage your base of players.</p>

					<p>
						<a>Learn more</a>
					</p>

				</div>

			</div>

		</div>
	</section>

	<hr>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-5">

					<h2 class="section-header">Discover</h2>

					<p><b>Browse</b> game listings to discover new and old gems created by independent developers! Once you've play and rate a few, we'll start giving you <b>personalized game recommendations</b>!</p>

					<p>Get started now and check our <a href="">Featured</a>, <a href="">Hot</a>, <a href="">Devlogs</a>, <a href="">Early Access</a> and <a href="">Marketplace</a> games!</p>

				</div>
				<div class="col-lg-3">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/leaderboards.svg" alt="Leaderboards">
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-3">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/leaderboards.svg" alt="Leaderboards">
					</div>

				</div>
				<div class="col-lg-5">

					<h2 class="section-header">Interact</h2>

					<p><b>Provide feedback</b>, ask questions, and discuss with the developers directly by commenting on game pages.</p>

					<p>You're in control of what becomes popular on Game Jolt and for all we know--the gaming industry. <b>Rate games</b> you love onto Game Jolt's home page and top of game listings.</p>

					<p>If you're a <b>Let's Player</b>, link your YouTube channel and post video comments to the game page! <a>Learn more</a></p>

				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-5">

					<h2 class="section-header">Support indie games</h2>

					<p>Be confident that the money you spend goes to the developer. We let developers decide the percentage to give to Game Jolt! Every little bit counts!</p>

					<p>We'll post your avatar as a supporter on the game's page when you pay more than the developer's asking price. Lead by example and show your support!</p>

				</div>
				<div class="col-lg-3">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/leaderboards.svg" alt="Leaderboards">
					</div>

				</div>
			</div>

		</div>
	</section>

	<section class="section">
		<div class="container">

			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-3">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/leaderboards.svg" alt="Leaderboards">
					</div>

				</div>
				<div class="col-lg-5">

					<h2 class="section-header">Devlogs</h2>

					<p>Every game on Game Jolt gets a devlog where developers can post the latest news and development for their games.</p>

					<p>Discover your future favorite game from its early devlog stage or keep up to date with complete games. Be the first to know about new characters, releases, canceled games and anything else devs want to share with the world!</p>

					<p><b>Follow</b> games to get notified when new devlog posts are released.</p>

					<p>Browse <a>Devlogs</a> and <a>Early Access</a> games.</p>

				</div>
			</div>
		</div>
	</section>

	<section class="section fill-black">
		<div class="container">

			<h1 class="section-header text-center">
				Organize
			</h1>

			<hr class="underbar underbar-center">
			<br>

			<div class="row">

				<div class="col-lg-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/leaderboards.svg" alt="Leaderboards">
					</div>

					<h4 class="text-center">Playlists</h4>

					<p>Implement leaderboards in your game to allow anyone to battle it out for the top spots. You create the leaderboards, you control the scoring. You can even allow guests to score without a Game Jolt account.</p>

				</div>

				<div class="col-lg-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/trophies.svg" alt="Trophies">
					</div>

					<h4 class="text-center">Follow Everything</h4>

					<p>Feed into your player base's hunger for trophy hunting. Trophies will sync to their Game Jolt profile for all to see as badges of honor.</p>

				</div>

				<div class="col-lg-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/trophies.svg" alt="Trophies">
					</div>

					<h4 class="text-center">Client</h4>

					<p>Feed into your player base's hunger for trophy hunting. Trophies will sync to their Game Jolt profile for all to see as badges of honor.</p>

				</div>

			</div>

		</div>
	</section>

	<section class="section">
		<div class="container">

			<h1 class="section-header text-center">
				Community
			</h1>

			<hr class="underbar underbar-center">
			<br>

			<div class="row">

				<div class="col-lg-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/leaderboards.svg" alt="Leaderboards">
					</div>

					<h4 class="text-center">Friends</h4>

					<p>Implement leaderboards in your game to allow anyone to battle it out for the top spots. You create the leaderboards, you control the scoring. You can even allow guests to score without a Game Jolt account.</p>

				</div>

				<div class="col-lg-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/trophies.svg" alt="Trophies">
					</div>

					<h4 class="text-center">Chat</h4>

					<p>Feed into your player base's hunger for trophy hunting. Trophies will sync to their Game Jolt profile for all to see as badges of honor.</p>

				</div>

				<div class="col-lg-4">

					<div class="landing-graphic">
						<img src="/app/views/landing/game-api/trophies.svg" alt="Trophies">
					</div>

					<h4 class="text-center">Forums</h4>

					<p>Feed into your player base's hunger for trophy hunting. Trophies will sync to their Game Jolt profile for all to see as badges of honor.</p>

				</div>

			</div>

		</div>
	</section>

	<section class="section fill-pink">
		<div class="container text-center">

			<h1 class="section-header">
				Everywhere
			</h1>

			<div class="row">
				<div class="col-lg-7 col-centered">
					<p class="lead">Play and follow games in your <b>browser</b>, on your <a ui-sref="client">desktop</a>, and through the mobile site on your <b>tablet</b> and <b>phone</b>.</p>
				</div>
			</div>

			<hr class="underbar underbar-center">
			<br>

			<img src="http://s.jams.gjcdn.net/app/views/home/mobile-ready-large-1.31f728b2.png" alt="">

			<br><br><br>

			<a class="btn btn-outline active" ui-sref="client">Get Desktop Client</a>

		</div>
	</section>

	<section class="section">
		<div class="container">

			<h1 class="section-header text-center">
				Join
			</h1>

			<hr class="underbar underbar-center">
			<br>

			<div class="row">
				<div class="col-sm-6 col-md-5 col-lg-4 col-centered">

					<gj-auth-join></gj-auth-join>

				</div>
			</div>

		</div>
	</section>

</div>
