.flow-child
	height: 100%
	display: flex
	flex-direction: column

.flow-title
	margin-top: 0

.flow-content
	height: 100%
	display: flex
	flex-direction: column

.games-list
	display: flex
	flex-wrap: wrap;
