$screen-xs = 200px // Not sure why we need xs...
$screen-sm = 400px

// Set up our global variables.
@import '../../_styles/variables'

/**
 * Grid System
 */
$grid-columns = 8
$grid-gutter-width = 10px
/**
 * Scaffolding
 */
$font-size-base = 13px
$font-size-large = ceil($font-size-base * 1.25)
$font-size-small = ceil($font-size-base * 0.85)
$input-height-base = 28px
/**
 * App variables
 */
$shell-height = 245px
$shell-padding = 7px
$pricing-card-offset = 4px
$thumbnail-width = 125px
