<div v-if="channel">

	<app-page-header>

		<h1>
			#{{ channel.name }}
		</h1>

		<!-- Don't let it get too long! -->
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-7">
				<p>{{ channel.description }}</p>
			</div>
		</div>

		<div class="clearfix">

			<ul class="stat-list" :class="Screen.isXs ? 'text-center' : 'pull-right'">
				<li class="stat-big stat-big-smaller">
					<div class="stat-big-label">
						Topics
					</div>
					<div class="stat-big-digit">
						{{ channel.topics_count || 0 | number }}
					</div>
				</li>
				<li class="stat-big stat-big-smaller">
					<div class="stat-big-label">
						Replies
					</div>
					<div class="stat-big-digit">
						{{ channel.replies_count || 0 | number }}
					</div>
				</li>
			</ul>

			<br class="visible-xs">

			<div :class="{ 'pull-left': !Screen.isXs }">
				<router-link
					class="btn btn-success-outline"
					:class="{ 'btn-block': Screen.isXs }"
					:to="{
						name: 'forums.topics.add',
						params: { channel: channel.name },
					}"
					>
					<app-jolticon icon="add" />
					<translate>Add Topic</translate>
				</router-link>
			</div>

		</div>

		<template slot="nav">
			<app-forum-breadcrumbs
				:channel="channel"
				/>
		</template>

	</app-page-header>

	<div class="section">
		<div class="container" id="forum-topics-list">

			<template v-if="stickyTopics.length">
				<app-forum-topic-list
					:topics="stickyTopics"
					:post-count-per-page="postCountPerPage"
					/>

				<hr>
			</template>

			<template v-if="topics.length">
				<p class="text-muted small">
					<translate
						:translate-params="{
							currentPage: number( currentPage ),
							count: number( channel.topics_count ),
						}"
						:translate-n="channel.topics_count"
						translate-plural="Page %{ currentPage } of %{ count } topics."
						>
						1 topic.
					</translate>
				</p>
				<br>

				<app-forum-topic-list
					:topics="topics"
					:post-count-per-page="postCountPerPage"
					/>

				<app-pagination
					:pager="true"
					:items-per-page="perPage"
					:total-items="channel.topics_count"
					:current-page="currentPage"
					@pagechange="Scroll.to( 'forum-topics-list', { animate: false } )"
					/>
			</template>
			<div v-else class="text-center">
				<p class="lead">
					<translate>There aren't any topics here yet!</translate>
				</p>
				<p>
					<router-link class="btn btn-outline"
						:to="{
							name: 'forums.topics.add',
							params: { channel: channel.name },
						}"
						>
						<translate>Add Topic</translate>
					</router-link>
				</p>
			</div>

		</div>
	</div>

</div>
