<nav class="chat-bubbles">

	<div class="chat-bubble"
		v-for="room of chat.openRooms"
		:key="room.id"
		:class="{ active: chat.room === room && isRightPaneVisible }"
		>
		<div class="chat-bubble-inner" @click="activateRoom( room.id )">
			<div
				:class="{
					'chat-bubble-icon': true,
					'chat-bubble-notification': chat.notifications[ room.id ] && chat.notifications[ room.id ] > 0,
					'chat-bubble-active': chat.room === room && isRightPaneVisible
				}"
				:title="room.isPmRoom ? room.user.displayName + ' (@' + room.user.username + ')' : '#' + room.title"
				>
				<img class="chat-bubble-image" :src="room.user.imgAvatar" v-if="room.isPmRoom">
				<div class="chat-bubble-letter" v-if="room.isGroupRoom">
					{{ room.title.toUpperCase().charAt( 0 ) }}
				</div>
			</div>
		</div>
	</div>

</nav>
