.chat-bubbles
	position: fixed
	bottom: 10px
	right: 10px
	z-index: $zindex-chat-bubbles
	transition: transform 450ms $strong-ease-out
	display: none

	#shell.right-pane-visible &
		transform: translate( -($shell-pane-width), 0 )

	@media $media-sm-up
		display: block

.chat-bubble
	user-select: none
	transform: scale(0.9, 0.9)
	transition: transform 0.2s ease-in-out

	&:not(:last-child)
		margin-bottom: 4px

	&:hover
		transform: scale(1.0, 1.0)

.chat-bubble-inner
	position: relative
	color: $white
	cursor: pointer

.chat-bubble-notification-icon
	position: absolute
	bottom: 1px
	right: 1px
	width: 12px
	height: 12px
	background-color: $gj-pink
	border: 2px solid $gray-dark
	border-radius: 100%

.chat-bubble-icon
	color: $white !important
	text-align: center
	font-size: 20px
	padding-left: 4px

	&.chat-bubble-active
		.chat-bubble-image, .chat-bubble-letter
			border: 2px solid $gj-green

	&.chat-bubble-notification
		.chat-bubble-image, .chat-bubble-letter
			border: 2px solid $gj-pink

	.chat-bubble-image
		width: 40px
		height: 40px
		border-radius: 100%
		border: 2px solid $gray-dark
		background-color: $gray-darker

		transition: border 0.2s $weak-ease-out

	.chat-bubble-letter
		width: 40px
		height: 40px
		line-height: 34px
		border-radius: 100%
		border: 2px solid $gray-dark
		background-color: $gray-darker

		transition: border 0.2s $weak-ease-out
