/**
 * Staggers
 */
.stagger
	for i in 2 .. 40
		&:nth-child({i})
			animation-delay: 50ms * i

.stagger-fast
	for i in 2 .. 40
		&:nth-child({i})
			animation-delay: 25ms * i

.stagger-fastest
	for i in 2 .. 40
		&:nth-child({i})
			animation-delay: 10ms * i

/**
 * Turning off animations.
 */
.no-animate
	animation-name: none !important
	animation-duration: 0s !important
	transition-duration: 0s !important
	opacity: 1 !important

.no-animate-enter
	&.v-enter-from
	&.v-enter-to
	&.v-enter-active
		animation-name: none !important
		animation-duration: 0s !important
		transition-duration: 0s !important
		opacity: 1 !important

.no-animate-leave
	&.v-leave-from
	&.v-leave-to
	&.v-leave-active
		animation-name: none !important
		animation-duration: 0s !important
		transition-duration: 0s !important
		opacity: 1 !important

@media $media-xs
	.no-animate-xs
		animation-name: none !important
		animation-duration: 0s !important
		transition-duration: 0s !important
		opacity: 1 !important

@media $media-sm
	.no-animate-sm
		animation-name: none !important
		animation-duration: 0s !important
		transition-duration: 0s !important
		opacity: 1 !important

@media $media-md
	.no-animate-md
		animation-name: none !important
		animation-duration: 0s !important
		transition-duration: 0s !important
		opacity: 1 !important

@media $media-lg
	.no-animate-lg
		animation-name: none !important
		animation-duration: 0s !important
		transition-duration: 0s !important
		opacity: 1 !important
