<span>

	<!-- User -->
	<strong v-if="notification.is_user_based">
		<template v-if="notification.from_model">
			{{ notification.from_model.display_name }}
		</template>
		<translate v-if="!notification.from_model">
			Someone
		</translate>
	</strong>

	<small v-if="notification.is_user_based && notification.from_model">
		(@{{ notification.from_model.username }})
	</small>

	<!-- Game -->
	<strong v-if="notification.is_game_based">
		{{ notification.to_model.title }}
	</strong>

	<!-- Actions -->
	<span v-html="action"></span>

</span>
