.account-popover

	$account-popover-padding = 10px

	.popover-content
		min-width: 250px

	h4
		margin: 0
		color: $gray-lightest

	small
		display: block
		color: $gray-light

	.user-box-exp
		margin-top: -10px
		padding: 0 $account-popover-padding

	&-button
		padding: 10px $account-popover-padding

	&-separator
		margin: 10px $account-popover-padding
		height: 1px
		line-height: 1px
		background-color: $gray-dark

	&-currency
		color: $gj-green
