<gj-popover class="account-popover shell-popover"
	popover-id="account-popover"
	popover-append-to-body="true"
	popover-position-by="fixed"
	popover-on-focus="$ctrl.onShow()"
	popover-on-blur="$ctrl.onHide()"
	popover-hide-on-state-change="true"
	>
	<div class="fill-darkest">

		<div class="list-group-dark">
			<a class="list-group-item offline-disable"
				ui-sref="profile.overview( { username: $ctrl.app.user.username } )"
				gj-track-event="account-popover:profile"
				>
				<h4 class="account-popover-heading" title="{{ 'View Profile' | translate }}">
					{{ $ctrl.app.user.display_name }}
				</h4>
				<small>@{{ $ctrl.app.user.username }}</small>
			</a>
		</div>

		<div class="account-popover-separator"></div>

		<div class="list-group-dark">
			<a class="list-group-item"
				ui-sref="{{ ::$ctrl.env.isClient ? 'library.installed' : 'library.overview' }}"
				gj-track-event="account-popover:library"
				translate
				>
				Game Library
			</a>
			<a class="list-group-item offline-disable"
				ui-sref="dashboard.main.overview"
				gj-track-event="account-popover:dashboard"
				translate
				>
				Dashboard
			</a>
			<a class="list-group-item offline-disable"
				ui-sref="{{ $ctrl.screen.isXs ? 'dashboard.account-mobile-nav' : 'dashboard.account.edit' }}"
				gj-track-event="account-popover:account"
				translate
				>
				Edit Account
			</a>
			<a class="list-group-item offline-disable"
				ng-click="$ctrl.showToken()"
				gj-track-event="account-popover:token"
				translate
				>
				Game Token
			</a>
			<a class="list-group-item" ui-sref="settings" translate>
				Settings
			</a>
		</div>

		<div class="account-popover-button offline-disable">
			<a class="btn btn-outline btn-block" ui-sref="dashboard.developer.games.add"
				gj-track-event="account-popover:add-game"
				>
				<span class="jolticon jolticon-add"></span>
				<span translate>Add Game</span>
			</a>
		</div>

		<div class="account-popover-separator"></div>

		<gj-shell-user-box></gj-shell-user-box>

		<div ng-if="$ctrl.app.user.is_developer">
			<div class="account-popover-separator"></div>

			<div class="list-group-dark">
				<a class="list-group-item small" ui-sref="dashboard.withdraw-funds">
					<span class="pull-right jolticon jolticon-help-circle" gj-tooltip="{{ 'These are your available funds to either buy games with or withdraw.' | translate }}"></span>

					<span translate>Wallet Balance</span>
					&mdash;
					<span ng-if="$ctrl.walletAmount === false" translate>
						Loading...
					</span>
					<span class="account-popover-currency" ng-if="ctrl.walletAmount !== false">
						{{ $ctrl.walletAmount | gjCurrency }}
					</span>
				</a>
			</div>
		</div>

		<!--
			We do slightly different styling here whether we're in client or not.
			Enough changes to require different markup.
		-->
		<div ng-if="::!$ctrl.env.isClient">
			<div class="account-popover-separator"></div>

			<div class="list-group-dark">
				<a class="list-group-item text-right" ng-click="$ctrl.logout()"
					gj-track-event="account-popover:logout"
					>
					<span class="jolticon jolticon-logout warning"></span>
					<span translate>Logout</span>
				</a>
			</div>
		</div>

		<div ng-if="::$ctrl.env.isClient">
			<div class="account-popover-separator"></div>

			<div class="clearfix">
				<div ng-if="!$ctrl.conn.isClientOffline" class="pull-left text-center" style="width: 50%">

					<div class="list-group-dark">
						<a class="list-group-item" ng-click="$ctrl.logout()"
							gj-track-event="account-popover:logout"
							>
							<span class="jolticon jolticon-logout warning"></span>
							<span translate>Logout</span>
						</a>
					</div>

				</div>
				<div class="pull-right text-center" style="width: 50%">

					<div class="list-group-dark">
						<a class="list-group-item" ng-click="Client.quit()">
							<span class="jolticon jolticon-remove warning"></span>
							<span translate>Quit</span>
						</a>
					</div>

				</div>
			</div>
		</div>

	</div>
</gj-popover>
