// Use border instead of underlines so that icons work well in the link.
#content a
	text-decoration: none

	&.button, &.link-unstyled, &.link-muted
		border-bottom: 0

	&:hover, &.link-unstyled:hover, &.link-muted:hover
		theme-prop('border-bottom-color', 'fg-muted')
		text-decoration: none
		border-bottom-width: 1px
		border-bottom-style: solid
