@require '../../lib/gj-lib-client/stylus/common/variables'
@require './layers'

/**
 * Colors
 */
$body-bg = $gray-darkest
$text-color = $white
$headings-color = $white
$link-color = $white
$link-hover-color = $white

/**
 * Grid System
 */
$grid-gutter-width = 40px
$grid-gutter-width-xs = 30px
