<section class="section section-thin fill-pink" ng-if="::$ctrl.game.is_locked">
	<div class="container">
		<div class="col-sm-10 col-md-8 col-lg-6 col-centered text-center">
			<p>
				<span class="jolticon jolticon-notice big"></span>
			</p>
			<p><b translate>This game was removed from the site.</b></p>
			<p translate>We have received a DMCA takedown notice and were required to remove it from the site. Only you are able to view it.</p>
		</div>
	</div>
</section>

<gj-page-header
	hide-nav="$ctrl.isWizard"
	>

	<gj-page-header-content>

		<div ng-if="$ctrl.isWizard">
			<h1 class="section-header" translate>
				Add Game
			</h1>
			<h4 class="section-header">
				{{ $ctrl.game.title }}
			</h4>
		</div>

		<div ng-if="!$ctrl.isWizard">
			<h1 class="section-header">
				{{ $ctrl.game.title }}
			</h1>
		</div>

		<p class="text-muted small sans-margin-bottom">
			<span class="tag tag-blue" ng-if="$ctrl.game._is_wip" translate>
				Early Access
			</span>
			<span class="tag tag-blue" ng-if="$ctrl.game._is_devlog" translate>
				Devlog
			</span>

			<span ng-if="!$ctrl.isWizard">
				<span class="tag tag-pink" ng-if="$ctrl.game.status == $ctrl.Game.STATUS_HIDDEN" translate>dash.games.hidden_tag</span>

				<span ng-if="$ctrl.game.status == $ctrl.Game.STATUS_VISIBLE">
					<span class="tag tag-active" translate>dash.games.published_tag</span>
					<span class="dot-separator"></span>
					<span am-time-ago="$ctrl.game.published_on"></span>
				</span>
			</span>
		</p>
		<br>

		<p ng-if="!$ctrl.isWizard">
			<a class="btn btn-outline hidden-xs" ui-sref="dashboard.analytics.view( { resource: 'Game', resourceId: $ctrl.game.id } )">
				<span class="jolticon jolticon-chart"></span>
				<span translate>View Analytics</span>
			</a>
			<a class="btn btn-outline" ng-href="{{ $ctrl.game.getUrl() }}">
				<span class="jolticon jolticon-share"></span>
				<span translate>dash.games.view_page_button</span>
			</a>
		</p>

		<div gj-expand-when="$ctrl.game.status == $ctrl.Game.STATUS_VISIBLE && !$ctrl.game.is_listable">
			<div class="alert alert-warning" translate>
				<b>Your game page is no longer visible in game listings!</b> It must have active game builds for it to show.
			</div>
		</div>
	</gj-page-header-content>

	<gj-page-header-nav>
		<nav class="platform-list inline">
			<ul>
				<li gj-tooltip="{{ 'Set up your game page and manage its builds.' | translate }}" tooltip-placement="bottom">
					<a ui-sref=".game.overview" ng-class="{ active: $ctrl.$state.includes( 'dashboard.developer.games.manage.game' ) }" translate>
						Overview/Setup
					</a>
				</li>
				<li gj-tooltip="{{ 'dash.games.news_tooltip' | translate }}" tooltip-placement="bottom">
					<a ui-sref=".devlog.feed" ng-class="{ active: $ctrl.$state.includes( 'dashboard.developer.games.manage.devlog' ) }" translate>
						Devlog
					</a>
				</li>
				<li gj-tooltip="{{ 'dash.games.api_tooltip' | translate }}" tooltip-placement="bottom">
					<a ui-sref=".api.overview" ng-class="{ active: $ctrl.$state.includes( 'dashboard.developer.games.manage.api' ) }" translate>
						dash.games.api_tab
					</a>
				</li>
				<li gj-tooltip="{{ 'Manage your game keys and give access to users.' | translate }}" tooltip-placement="bottom">
					<a ui-sref=".key-groups.list" ng-class="{ active: $ctrl.$state.includes( 'dashboard.developer.games.manage.key-groups' ) }" translate>
						Keys/Access
					</a>
				</li>
				<!--<li gj-tooltip="{{ 'Create a completely customized site for your game.' | translate }}" tooltip-placement="bottom">
					<a ui-sref=".site" ui-sref-active="active">
						<span translate>Site</span>
						&nbsp;
						<span class="tag tag-active" translate>
							New
						</span>
					</a>
				</li>-->
			</ul>
		</nav>
	</gj-page-header-nav>

</gj-page-header>

<ui-view></ui-view>
