@require '~styles/variables'

.game-maturity-block

	@media $media-sm-up
		text-align: center

	&-img
		display: inline-block
		border: 6px solid $black
		margin-bottom: $line-height-computed

	h4
		color: $gj-pink

		@media $media-xs
			margin-top: 0
