<div v-if="isLoaded">

	<section class="section fill-darker" v-if="game.tigrs_age === 3 && isBlocking">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-6 col-centered">
					<div class="game-maturity-block">

						<h4><translate>This game is tagged for mature audiences.</translate></h4>
						<p><translate>It could contain content you may not want to view.</translate></p>
						<br>

						<app-game-ogrs :game="game" />
						<br>

						<p>
							<button class="btn btn-danger-outline btn-block" @click="proceed">
								<translate>Proceed to Game</translate>
							</button>
						</p>
						<br>

						<p>
							<a class="link-muted" @click="removeRestriction">
								<translate>Don't ask me again, geez...</translate>
							</a>
						</p>

						<p class="small text-muted">
							<translate>This setting will apply to this browser/device only.</translate>
						</p>

					</div>
				</div>
			</div>
		</div>
	</section>

	<div v-else>
		<slot />
	</div>

</div>
