@require '~styles/variables'

.game-maturity-block

	.game-ogrs
		margin: 0 auto
		text-align: left
		max-width: 350px
		margin-bottom: $line-height-computed

		&.no-descriptors
			float: none !important
			width: 88px

		&-descriptors
			background-color: $gray-lightest
