/**
 * Profile header image
 */
.profile-cover
	position: relative
	background-color: $black

	.container
		position: relative
		z-index: 20

	// Avatar is 200px when it's in the cover image area.
	.user-avatar
		width: 200px
		margin: 0 auto

		@media $media-sm-up
			margin: 0

.profile-cover-img-wrapper
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 1
	overflow: hidden

.profile-cover-img
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	opacity: 0.8

/**
 * Profile header section
 */
.profile-header-section

	.user-avatar
		margin: 0 auto
		margin-bottom: $line-height-computed
		width: 150px

		@media $media-sm-up
			width: auto

	&-meta
		@extend .clearfix

		@media $media-sm-up
			float: right

	&-tags
		float: left

		@media $media-sm-up
			float: right

	&-links
		clear: right
		float: right

	.verified-account-tag
		color: $gj-green
