<div>
	<div class="-metadata">
		<div class="-metadata-label">
			<translate>Development Stage</translate>
		</div>
		<app-lazy-placeholder
			tag="span"
			:when="game.development_status"
			>
			<span class="lazy-placeholder" style="width: 80px"></span>

			<span class="-metadata-value">
				<translate v-if="game._is_devlog">
					Devlog
				</translate>

				<translate v-if="game._is_wip">
					Early Access
				</translate>

				<translate v-if="game._is_finished">
					Complete
				</translate>

				<translate class="tag tag-notice" v-if="game.canceled">
					Canceled
				</translate>
			</span>
		</app-lazy-placeholder>
	</div>

	<div class="-metadata">
		<div class="-metadata-label">
			<translate>Engine/Language</translate>
		</div>
		<app-lazy-placeholder tag="span" :when="game.creation_tool_human">
			<span class="lazy-placeholder" style="width: 100px"></span>
			<span class="-metadata-value">
				{{ game.creation_tool_human }}
			</span>
		</app-lazy-placeholder>
	</div>

	<div class="-metadata" v-if="game.published_on">
		<div class="-metadata-label">
			<translate>Published On</translate>
		</div>
		<app-lazy-placeholder tag="span" :when="game.category_human">
			<span class="lazy-placeholder" style="width: 120px"></span>
			<router-link
				class="-metadata-value"
				:to="{
					name: 'discover.games.list._fetch-date',
					params: {
						section: 'by-date',
						date: date( game.published_on, 'YYYY-MM-DD' ),
					},
				}"
				>
				{{ game.published_on | date( 'longDate' ) }}
			</router-link>
		</app-lazy-placeholder>
	</div>

	<br>

	<ul class="list-unstyled" v-if="game.web_site">
		<li>
			<app-jolticon icon="world" />
			<a :href="game.web_site" target="_blank">
				<translate>Game Website</translate>
			</a>
		</li>
		<li v-if="facebookAccount && facebookAccount.facebookSelectedPage">
			<app-jolticon icon="facebook" />
			<a :href="facebookAccount.facebookPageUrl" target="_blank">
				{{ facebookAccount.facebookSelectedPage.name }}
			</a>
		</li>
		<li v-if="twitterAccount">
			<app-jolticon icon="twitter-bird" />
			<a :href="twitterAccount.platformLink" target="_blank">
				@{{ twitterAccount.name }}
			</a>
		</li>
		<li v-if="tumblrAccount && tumblrAccount.tumblrSelectedBlog">
			<app-jolticon icon="tumblr" />
			<a :href="tumblrAccount.tumblrSelectedBlog.url" target="_blank">
				{{ tumblrAccount.tumblrSelectedBlog.title }}
			</a>
		</li>
	</ul>
</div>
