<div class="anim-fade-in-up">
	<h2 class="section-header">
		<translate>auth.join.almost.heading</translate>
	</h2>

	<translate tag="div" :escape-html="false">
		auth.join.almost.body_html
	</translate>
	<p class="small text-muted">
		<translate>auth.join.almost.spam</translate>
	</p>
	<p class="small text-muted">
		<translate>auth.join.almost.urgency</translate>
	</p>

	<!--
		We poll to see if their account gets authorized or not.
		When it does, we can log them in.
	-->
	<app-progress-poller
		v-if="credentials && credentials.username && credentials.password"
		:url="`/web/auth/poll-authorized/${credentials.username}`"
		@complete="onAuthorized"
		/>
</div>
