<div class="row">
	<div class="col-lg-8">

		<div gj-expand-when="!manageCtrl.game.is_published">

			<!-- Game isn't ready to publish yet. -->
			<div class="alert alert-warning" ng-if="!overviewCtrl.isPublishable">
				<p ng-if="manageCtrl.game._is_wip"
					translate
					translate-params-thumbnail-url="$state.href( '^.thumbnail' )"
					translate-params-maturity-url="$state.href( '^.maturity' )"
					translate-params-builds-url="$state.href( '^.^.packages' )"
					>
					dash.games.overview.todo_info_wip_html
				</p>

				<p ng-if="!manageCtrl.game._is_wip"
					translate
					translate-params-thumbnail-url="$state.href( '^.thumbnail' )"
					translate-params-maturity-url="$state.href( '^.maturity' )"
					translate-params-builds-url="$state.href( '^.^.packages' )"
					>
					dash.games.overview.todo_info_html
				</p>
			</div>

			<!-- Ready to publish! -->
			<div ng-if="overviewCtrl.isPublishable">
				<div class="alert alert-success" ng-if="!overviewCtrl.hasBuildsProcessing">
					<p translate>dash.games.overview.todo_info_ready_html</p>
				</div>

				<!-- Show a little message if they still have builds being processed. -->
				<div class="alert alert-info" ng-if="overviewCtrl.hasBuildsProcessing"
					gj-progress-poller="/web/dash/developer/games/poll-build-progress/{{ manageCtrl.game.id }}"
					progress-poller-on-complete="overviewCtrl.onAllBuildsProcessed()"
					>
					<div class="progress progress-thin progress-striped active">
						<div class="progress-bar" style="width: 100%"></div>
					</div>
					<p>
						<span class="jolticon jolticon-notice"></span>
						<span translate>dash.games.overview.todo_info_builds_processing_html</span>
					</p>
				</div>

				<button class="i-button block" gj-tooltip="{{ 'dash.games.overview.todo_info_publish_button_tooltip' | translate }}" ng-click="overviewCtrl.publish()">
					<span class="jolticon jolticon-active"></span>
					{{ ::'dash.games.overview.todo_info_publish_button' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>

<h2>{{ ::'dash.games.overview.stats_heading' | translate }}</h2>

<div class="row">
	<div class="col-lg-8">
		<gj-graph-widget
			graph-widget-url="/web/dash/developer/games/graphs/overview/{{ ::manageCtrl.game.id }}"
			graph-widget-hide-table="true"
			>
		</gj-graph-widget>
	</div>
	<div class="col-lg-4">
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-lg-6">
				<div class="stat-big">
					<div class="stat-big-label">
						{{ ::'dash.games.overview.stats_views' | translate }}
					</div>
					<div class="stat-big-digit">
						{{ overviewCtrl.viewCount | number }}
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-6">
				<div class="stat-big">
					<div class="stat-big-label">
						{{ ::'dash.games.overview.stats_plays' | translate }}
					</div>
					<div class="stat-big-digit">
						{{ overviewCtrl.downloadCount + overviewCtrl.playCount | number }}
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-6">
				<div class="stat-big">
					<div class="stat-big-label">
						{{ ::'dash.games.overview.stats_rating' | translate }}
					</div>
					<div class="stat-big-digit">
						<span ng-if="manageCtrl.game.avg_rating">
							{{ manageCtrl.game.avg_rating | number }}
						</span>
						<span ng-if="!manageCtrl.game.avg_rating">
							{{ ::'dash.games.overview.stats_na' | translate }}
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-6">
				<div class="stat-big">
					<div class="stat-big-label">
						{{ ::'dash.games.overview.stats_ratings' | translate }}
					</div>
					<div class="stat-big-digit">
						{{ manageCtrl.game.rating_count || 0 | number }}
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-6">
				<div class="stat-big">
					<div class="stat-big-label">
						{{ ::'dash.games.overview.stats_comments' | translate }}
					</div>
					<div class="stat-big-digit">
						{{ overviewCtrl.commentCount | number }}
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-6">
				<div class="stat-big">
					<div class="stat-big-label">
						{{ ::'dash.games.overview.stats_followers' | translate }}
					</div>
					<div class="stat-big-digit">
						{{ overviewCtrl.followerCount | number }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="visible-xs">
	<a class="btn btn-outline btn-block" ui-sref="dashboard.analytics.view( { resource: 'Game', resourceId: manageCtrl.game.id } )">
		<span class="jolticon jolticon-chart"></span>
		<span translate>View Game Analytics</span>
	</a>
</div>
