@require '~styles/variables'
@require '~styles-lib/mixins'

.channel-thumbnail
	display: block
	margin-bottom: $line-height-computed

	&-image-spacer
		position: relative
		height: 0
		padding-top: 100% // Makes it same height as width.
		overflow: hidden

	&-image
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		display: flex
		align-items: center
		justify-content: center
		background-color: $gray-darkest
		border-top-left-radius: $border-radius-base
		border-top-right-radius: $border-radius-base

		& > img
			width: 116px * 0.5
			height: 116px * 0.5

	&-info
		padding: 8px 0
		color: $white
		font-size: $font-size-small
		background-color: $gray-darkest
		border-bottom-left-radius: $border-radius-base
		border-bottom-right-radius: $border-radius-base

	&-label
		font-weight: bold
		text-align: center

	&-games-count
		theme-prop('background', 'fg-muted')

	// Looks weird on mobile devices.
	@media $media-md-up
		&:hover .channel-thumbnail
			&-info
				theme-prop('color', 'highlight')
