	<!--ui-sref="discover.channels.channel.overview( { channel: channel } )"-->
<a class="channel-thumbnail"
	v-app-track-event="`channel-list:${channel}`"
	>
	<div class="channel-thumbnail-image-spacer">
		<div class="channel-thumbnail-image">
			<img :src="Channels.images[ channel ]" alt="">
		</div>
	</div>
	<div class="channel-thumbnail-info">
		<div class="channel-thumbnail-label">
			#{{ channel }}
		</div>
		<div
			class="channel-thumbnail-games-count"
			v-if="gamesCount"
			translate
			translate-n="gamesCount"
			>
			<!--translate-plural="{{ $count | number }} games"-->
			1 game
		</div>
	</div>
</a>
