<div>

	<app-page-header
		:should-affix-nav="true"
		:hide-nav="!Search.query"
		>

		<template v-if="Screen.isXs">
			<app-search :autocomplete-disabled="true" />
		</template>
		<template v-else>
			<div class="small text-upper text-muted">
				<translate>search.showing_label</translate>
			</div>

			<h2 class="sans-margin-top">
				{{ query }}
			</h2>

			<br>
		</template>

		<nav slot="nav" class="platform-list inline">
			<ul>
				<li>
					<router-link :to="{ name: 'search.results', query: { q: query } }" :exact="true" active-class="active">
						<translate>search.results.overview_tab</translate>
					</router-link>
				</li>
				<li v-if="payload.usersCount">
					<router-link :to="{ name: 'search.users', query: { q: query } }" active-class="active">
						<translate>search.results.users_tab</translate>
						<span class="badge">{{ payload.usersCount | number }}</span>
					</router-link>
				</li>
				<li v-if="payload.gamesCount">
					<router-link :to="{ name: 'search.games', query: { q: query } }" active-class="active">
						<translate>search.results.games_tab</translate>
						<span class="badge">{{ payload.gamesCount | number }}</span>
					</router-link>
				</li>
				<li v-if="payload.devlogsCount">
					<router-link :to="{ name: 'search.devlogs', query: { q: query } }" active-class="active">
						<translate>Devlogs</translate>
						<span class="badge">{{ payload.devlogsCount | number }}</span>
					</router-link>
				</li>
			</ul>
		</nav>

	</app-page-header>

	<app-expand :when="noResults">
		<section class="section fill-pink">
			<div class="container">
				<translate>search.results.no_results</translate>
			</div>
		</section>
	</app-expand>

	<router-view
		:payload="payload"
		:query="query"
		@searchpayload="processPayload"
		/>

</div>
