@require '~styles/variables'

$search-media-list-gutter = 10px

.search-media-list
	margin-left: ($search-media-list-gutter / -2)
	margin-right: ($search-media-list-gutter / -2)

.search-media-list-item
	padding-left: ($search-media-list-gutter / 2)
	padding-right: ($search-media-list-gutter / 2)
	margin-bottom: $search-media-list-gutter

.search-page-form
	margin: 0

	.form-group
		margin: 0
		position: relative
