<div v-if="isRouteBootstrapped">
	<app-page-header
		:cover-media-item="community.header"
		:cover-max-height="300"
		>

		<div class="-header">
			<span class="tag">
				<translate>Community</translate>
			</span>

			<div class="clearfix" />

			<h1 class="section-header">
				<router-link
					:to="{
						name: 'communities.view',
						params: {
							path: community.path,
						},
					}"
					>
					{{ community.name }}
				</router-link>

				<span class="text-muted small">
					<span v-if="community.is_hidden" class="tag tag-notice">
						<translate>Hidden</translate>
					</span>
					<template v-else-if="community.is_published">
						<span class="tag tag-highlight">
							<translate>Published</translate>
						</span>
						<span class="dot-separator"></span>
						<app-time-ago :date="community.published_on" />
					</template>
				</span>
			</h1>
		</div>

		<app-editable-overlay
			slot="cover-image"
			@click="showEditHeader()"
			>
			<span slot="overlay">
				<translate v-if="!community.header">Upload Community Header</translate>
				<translate v-else>Change Header</translate>
			</span>

			<!--
				If no header yet, show their highlight color with a min-height.
			-->
			<div
				class="fill-highlight"
				:style="{
					'min-height': !community.header ? '200px' : '',
				}"
				>
				<app-media-item-cover
					v-if="community.header"
					:media-item="community.header"
					:max-height="300"
					/>
			</div>
		</app-editable-overlay>

		<app-editable-overlay
			slot="spotlight"
			@click="showEditThumbnail()"
			>
			<span slot="overlay">
				<translate v-if="!community.thumbnail">Upload</translate>
				<translate v-else>Change</translate>
			</span>

			<!--
				If no header yet, show their highlight color with a min-height.
			-->
			<div
				class="fill-highlight"
				:style="{
					'min-height': !community.thumbnail ? '100px' : '',
				}"
				>
				<app-community-thumbnail-img
					:community="community"
					/>
			</div>
		</app-editable-overlay>

	</app-page-header>

	<div>
		<!-- <section class="alert alert-well sans-margin-bottom" v-if="!community.is_published">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-lg-8 col-centered" :class="{ 'text-center': Screen.isDesktop }">
						<translate>This community is currently hidden from public view.</translate>
					</div>
				</div>
			</div>
		</section> -->

		<div class="container" v-if="Screen.isMobile">
			<br>
			<app-nav-tab-list>
				<app-manage-community-nav />
			</app-nav-tab-list>
		</div>

		<section class="section">
			<div class="container">

				<div class="row">
					<div class="col-md-2" v-if="Screen.isDesktop">
						<nav class="platform-list">
							<app-manage-community-nav />
						</nav>
					</div>
					<div class="col-xs-12 col-md-10">
						<transition name="body" mode="out-in">
							<router-view />
						</transition>
					</div>
				</div>

			</div>
		</section>

	</div>


</div>
