.-header
	position: relative
	z-index: 1
	// This meme is to help reduce flicker when you hover over the header image
	margin-left: -30px
	padding-left: 30px
	margin-top: -10px
	padding-top: 10px
	margin-bottom: -10px
	padding-bottom: 10px
	display: inline-block
