<app-form name="trophyForm">
	<app-form-loader
		:url="`/web/dash/developer/games/api/trophies/save/${ formModel.game_id }`"
		@loaded="onLoaded"
		>

		<!--
			Show the current image if there is one.
		-->
		<div class="form-group" v-if="formModel.has_thumbnail">
			<label class="control-label">
				<translate>Current Trophy Image</translate>
			</label>

			<app-img-responsive
				:src="formModel.img_thumbnail"
				:alt="$gettext( 'Current Trophy Image' )"
				/>

			<br>

			<div>
				<button class="btn btn-danger" @click="clearImage">
					<app-jolticon icon="remove" />
					<translate>Clear Image</translate>
				</button>
			</div>
		</div>

		<app-form-group
			v-if="method === 'edit'"
			name="difficulty"
			:label="$gettext( `dash.games.trophies.form.difficulty_label` )"
			>
			<app-form-control-select>
				<option
					v-for="item of difficultyOptions"
					:key="item.label"
					:value="item.value"
					>
					{{ item.label }}
				</option>
			</app-form-control-select>
			<app-form-control-errors />
		</app-form-group>

		<app-form-group
			name="file"
			:label="!formModel.has_thumbnail
				? $gettext( 'dash.games.trophies.form.upload_label' )
				: $gettext( 'dash.games.trophies.form.change_image_label' )
			"
			:optional="true"
			>

			<p class="help-block">
				<translate :escape-html="false">
					dash.forms.image_filetype_help_html
				</translate>
			</p>

			<p class="help-block">
				<a class="link-help">
					<translate>dash.games.trophies.form.image_help_link</translate>
				</a>
			</p>

			<app-form-control-upload
				:rules="{
					filesize: maxFilesize,
					max_img_dimensions: [ maxWidth, maxHeight ],
				}"
				accept=".png,.jpg,.jpeg,.gif"
				/>

			<app-form-control-errors
				:label="$gettext( `dash.games.trophies.form.image_error_label` )"
				/>

		</app-form-group>

		<app-form-group name="title" :label="$gettext( `dash.games.trophies.form.title_label` )">
			<app-form-control
				type="text"
				:rules="{
					max: 150,
				}"
				/>
			<app-form-control-errors />
		</app-form-group>

		<app-form-group name="description" :label="$gettext( `dash.games.trophies.form.description_label` )">
			<app-form-control-textarea
				rows="3"
				:rules="{
					max: 1500,
				}"
				/>
			<app-form-control-errors />
		</app-form-group>

		<app-form-group name="secret" :label="$gettext( `dash.games.trophies.form.secret_label` )">
			<p class="help-block">
				<translate>dash.games.trophies.form.secret_help</translate>
			</p>
			<app-form-control-toggle
				:on-label="$gettext( 'Yes' )"
				:off-label="$gettext( 'No' )"
				/>
		</app-form-group>

		<app-form-group name="visible" :label="$gettext( `Visible` )">
			<p class="help-block">
				<translate>dash.games.trophies.form.hidden_help</translate>
			</p>
			<app-form-control-toggle
				:on-label="$gettext( 'Yes' )"
				:off-label="$gettext( 'No' )"
				/>
		</app-form-group>

		<app-form-button :icon="method">
			<translate>dash.games.trophies.form.save_button</translate>
		</app-form-button>

	</app-form-loader>
</app-form>
