@require '~styles/variables'
@require '../../../../lib/gj-lib-client/stylus/common/mixins'

.rating-widget
	clearfix()
	position: relative
	display: inline-block

	&-icons
		display: inline-block
		margin-right: 20px

		.rating-widget-big &
			margin-right: 40px

	&-clear
		position: absolute
		bottom: 4px
		right: 0
		width: 20px
		text-align: center
		color: $gray-light
		cursor: pointer

		.rating-widget-dark &
			color: $gray-lightest

		.rating-widget-big &
			width: 40px
			right: 5px

		.jolticon
			display: none
			cursor: pointer

			@media $media-mobile
				display: block

			&:hover
				user-prop('color', 'notice')

			.rating-widget:hover &
				display: block

	&-icon
		content-prop('color', 'muted')
		float: left
		cursor: pointer
		margin: 0 !important

		// &, .rating-widget-icons:hover &
		// // color: $gray-lighter
		&.hover
			content-prop('color', 'link')
			// color: var(--user-blue) !important

		&.selected
			content-prop('color', 'link')
			// color: var(--user-blue)
