.devlog-post-text
	
	.devlog-post-header
		margin-left: -65px
		margin-bottom: 1em
		background-repeat: no-repeat
		background-size: cover
		background-position: center center
		
		.devlog-post-header-filter
			padding: 30px 0px
			background-color: rgba($black, 0.3)
	
	.devlog-post-title, .devlog-post-date
		margin: 0
		margin-left: 65px
		color: white
		text-shadow: 1px 1px 1px rgba($black, 0.5)
		
	.devlog-post-controls
		text-align: right
		a
			margin-right: 10px
			&:last-child
				margin-right: 0