<div class="devlog-post devlog-post-text">
	
	<!-- Post info -->
	<p class="devlog-post-info text-muted">
		<span class="jolticon jolticon-pencil-box"></span>
		New post for <a href="#">Low Poly Adventure</a> <span class="pull-right">3 days ago</span>
	</p>
	<span class="devlog-post-spot"></span>
	
	<!-- Post header -->
	<div class="devlog-post-header" style="background-image: url('http://cdn.pastemagazine.com/www/system/images/photo_albums/low-poly/large/12-jr-schmidt.jpg')">
		<div class="devlog-post-header-filter">
			<h1 class="devlog-post-title">New Trees, Bushes and Rivers</a></h1>
			<span class="devlog-post-meta text-muted">
				<small>April 27th, 2016</small>
				<span class="dot-separator"></span>
				<small>3 days ago</small>
			</span>
		</div>
	</div>
	
	<!-- Post content -->
	<gj-fade-collapse
		fade-collapse-height="200"
		fade-collapse-is-open="postCtrl.showFullContent[postCtrl.id]"
		fade-collapse-is-required="postCtrl.canToggleContent[postCtrl.id]"
		>
		<div class="devlog-post-content">
			<h3>Introduction</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eos quo accusamus quas veniam modi facere soluta, nesciunt illum repellendus? Laboriosam ipsam ratione cumque quidem totam doloribus blanditiis laborum expedita.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure vero quaerat, maxime, necessitatibus distinctio voluptatum? Maiores minus, minima itaque reiciendis temporibus harum perspiciatis sit ex deleniti voluptate, omnis tempora explicabo.</p>
			<ul>
				<li>Point 1</li>
				<li>Point 2</li>
				<li>Point 3</li>
			</ul>
			<blockquote>To be or not to be</blockquote>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod omnis id voluptas quasi odio iusto, eveniet repellendus praesentium dolorum sapiente. Eius, animi quos mollitia molestiae, libero ratione laboriosam dolores veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ullam incidunt deserunt iure maxime optio temporibus blanditiis vero corporis adipisci dicta commodi expedita, ad obcaecati hic minima voluptates amet vel!</p>
		</div>
	</gj-fade-collapse>
	<a class="hidden-text-expander"
		ng-if="postCtrl.canToggleContent[postCtrl.id]"
		ng-click="postCtrl.showFullContent[postCtrl.id] = !postCtrl.showFullContent[postCtrl.id]"
		></a>
		
	<!-- Post controls -->
	<div class="devlog-post-controls">
		<a class="link-muted"
			gj-tooltip="Leave a Comment"
			ng-if="postCtrl.canToggleComments[postCtrl.id]"
			ng-click="postCtrl.showFullComments[postCtrl.id] = !postCtrl.showFullComments[postCtrl.id]"
			>
			<span class="jolticon jolticon-comment middle"></span>
			<small>4</small>
		</a>
		<a href="#" class="link-muted" gj-tooltip="Like This Post" ng-click="postCtrl.liked = !postCtrl.liked" ng-class="{'active': postCtrl.liked}">
			<span class="jolticon jolticon-heart middle"></span>
			<small>29</small>
		</a>
	</div>
	
	<!-- Post comments -->
	<gj-fade-collapse
		fade-collapse-height="0"
		fade-collapse-is-open="postCtrl.showFullComments[postCtrl.id]"
		fade-collapse-is-required="postCtrl.canToggleComments[postCtrl.id]"
		>
		<gj-comment-widget
			current-page="overviewCtrl.currentCommentPage"
			comment-resource="Game"
			comment-resource-id="0"
			>
		</gj-comment-widget>
	</gj-fade-collapse>
	
</div>