<div class="devlog-post devlog-post-text">

	<div class="timeline-list-item-icon">
		<span class="jolticon jolticon-pencil-box"></span>
	</div>

	<div class="timeline-list-item-main">

		<a class="timeline-list-item-header"
			ng-class="::{ 'has-header-img': !!$ctrl.post.header }"
			ui-sref="discover.games.view.devlog.view( { slug: $ctrl.post.game.slug, id: $ctrl.post.game.id, postSlug: $ctrl.post.slug } )"
			>
			<div class="timeline-list-item-header-img" ng-if="::$ctrl.post.header">
				<img ng-src="{{ ::$ctrl.post.header.img_url }}" alt="">
			</div>

			<div class="timeline-list-item-header-content">
				<div class="timeline-list-item-time">
					<span am-time-ago="::$ctrl.post.published_on"></span>
				</div>

				<div class="timeline-list-item-title">
					{{ ::$ctrl.post.title }}
				</div>
			</div>
		</a>

		<div class="timeline-list-item-details">

			<!-- Post content -->
			<gj-fade-collapse
				fade-collapse-height="500"
				fade-collapse-is-open="$ctrl.showFullContent"
				fade-collapse-is-required="::$ctrl.canToggleContent"
				>
				<div class="fireside-post-body">
					<div gj-widget-compiler-bind="::$ctrl.post.compiled_content"></div>
				</div>
			</gj-fade-collapse>

			<a class="hidden-text-expander"
				ng-if="::$ctrl.canToggleContent"
				ng-click="$ctrl.showFullContent = !$ctrl.showFullContent"
				></a>

			<gj-devlog-post-controls
				post="$ctrl.post"
				on-post-removed="$ctrl.onPostRemoved"
				>
			</gj-devlog-post-controls>

		</div>

	</div>

</div>
