@import '../../../../_styles/mixins/compiled-content'

.chat-message-content
	compiled-content(15px)

	// Override media centering, we want images and gifs to always be aligned left in chat.
	.media-item
		align-items: flex-start !important
		margin-bottom: 4px

	.content-gif
		align-items: flex-start !important
		margin-bottom: 4px

	.media-upload-container
		justify-content: flex-start !important

	p
		margin-bottom: 0

	ul
	ol
		padding-left: 16px
		margin-bottom: 0

		& > li
			margin-bottom: 0

	pre
		margin-bottom: 4px

	blockquote
		margin-bottom: 4px
