@require '~styles/variables'
@require '~styles-lib/mixins'
@require '../../../../_styles/mixins/compiled-content'

.chat-message-content
	compiled-content($font-size-base)

	// Override media centering, we want images and gifs to always be aligned left in chat.
	.media-item
		align-items: flex-start !important
		margin-bottom: 4px

	.gif-outer
		align-items: flex-start !important
		margin-bottom: 4px

	.media-upload-container
		justify-content: flex-start !important

	p
		margin-bottom: 4px

	ul, ol
		padding-left: 16px
		margin-bottom: 4px

		& > li
			margin-bottom: 0

	pre
		margin-bottom: 4px

	blockquote
		margin-bottom: 4px
