<section class="section">
	<div class="container">

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-7">

				<h2 class="section-header">{{ ::'game.trophies.heading' | translate }}</h2>

				<gj-trophy-completion
					ng-if="App.user"
					trophy-completion-total="::listCtrl.trophies.length"
					trophy-completion-achieved="::listCtrl.achieved.length"
					trophy-completion-experience="::listCtrl.experience">
				</gj-trophy-completion>

				<nav class="pills" ng-if="::listCtrl.filteredTrophies.achieved.length">
					<ul>
						<li>
							<a ng-class="{ active: listCtrl.currentFilter == 'all' }" ng-click="listCtrl.currentFilter = 'all'">
								{{ ::'game.trophies.all_tab' | translate }}
								<span class="badge hidden-xs">{{ ::listCtrl.trophies.length }}</span>
							</a>
						</li>
						<li>
							<a ng-class="{ active: listCtrl.currentFilter == 'achieved' }" ng-click="listCtrl.currentFilter = 'achieved'">
								{{ ::'game.trophies.achieved_tab' | translate }}
								<span class="badge hidden-xs">{{ ::listCtrl.filteredTrophies.achieved.length }}</span>
							</a>
						</li>
						<li>
							<a ng-class="{ active: listCtrl.currentFilter == 'unachieved' }" ng-click="listCtrl.currentFilter = 'unachieved'">
								{{ ::'game.trophies.unachieved_tab' | translate }}
								<span class="badge hidden-xs">{{ ::listCtrl.filteredTrophies.unachieved.length }}</span>
							</a>
						</li>
					</ul>
				</nav>

				<div class="alert alert-warning" ng-if="::listCtrl.showInvisibleTrophyMessage">
					{{ ::'trophies.invisible_trophies_message' | translate }}
				</div>

				<gj-trophy-list
					trophy-list-trophies="(listCtrl.currentFilter == 'all' ? listCtrl.trophies : listCtrl.filteredTrophies[ listCtrl.currentFilter ])"
					trophy-list-achieved="::listCtrl.achieved">
				</gj-trophy-list>

			</div>
		</div>

	</div>
</section>

<section class="section fill-pink" ng-if="::(!listCtrl.trophies.length)">
	<div class="container text-center" translate>game.trophies.no_trophies_html</div>
</section>
