<app-form name="settingsForm">
	<gj-form-loader
		url="/web/dash/developer/games/settings/save/{{ formModel.id }}"
		on-loaded="onLoaded( $payload )"
		>

		<app-form-group name="ga_tracking_id" :label="$gettext( `dash.games.settings.ga_tracking_id_label` )" optional="true">
			<input form-control="text"
				gj-pattern="gaTrackingId"
				ng-maxlength="30"
				:placeholder="$gettext( `dash.games.settings.ga_tracking_id_placeholder` )"
				>

			<app-form-control-errors :label="$gettext( `dash.games.settings.ga_tracking_id_error_label` )" />

			<div class="help-block" translate>dash.games.settings.ga_tracking_id_help_html</div>
		</app-form-group>

		<app-form-group v-if="!hasPackagesForSale" name="ads_enabled" :label="$gettext( `dash.games.settings.ads_label` )">
			<div class="help-block" translate>dash.games.settings.ads_help_html</div>
			<app-form-control-toggle />
		</app-form-group>

		<div v-if="hasPackagesForSale" class="form-group">
			<label class="control-label" translate>
				dash.games.settings.ads_label
			</label>
			<div class="alert alert-info" translate>
				We don't show ads on Marketplace game pages (even for pay what you want games).
			</div>
		</div>

		<app-form-group name="comments_enabled" :label="$gettext( `dash.games.settings.comments_label` )">
			<div class="help-block" translate>dash.games.settings.comments_help_html</div>
			<app-form-control-toggle />
		</app-form-group>

		<app-form-group name="ratings_enabled" :label="$gettext( `dash.games.settings.ratings_label` )">

			<div class="alert alert-info" v-if="baseModel._is_devlog">
				<app-jolticon icon="notice warning" />
				<span class="translate"><b>Users can't rate devlog-only games.</b> Enable or disable ratings for when you're ready to transition to early access or a complete game.</span>
			</div>

			<div class="help-block" translate>dash.games.settings.ratings_help_html</div>
			<app-form-control-toggle />
		</app-form-group>

		<app-form-button
			v-if="!isWizard"
			icon="edit"
			>
			<translate>dash.games.settings.save_button</translate>
		</app-form-button>

		<div v-if="isWizard">
			<gj-form-dashboard-game-wizard-controls
				game="formModel"
				can-proceed="settingsForm.$valid"
				on-next="onSubmit()"
				>
			</gj-form-dashboard-game-wizard-controls>
		</div>

	</gj-form-loader>
</app-form>
