[submodule "src/lib/site-translations"]
	path = src/lib/site-translations
	url = https://github.com/gamejolt/translations.git
[submodule "src/lib/doc-game-api"]
	path = src/lib/doc-game-api
	url = https://github.com/gamejolt/doc-game-api.git
[submodule "src/lib/terms"]
	path = src/lib/terms
	url = https://github.com/gamejolt/terms.git
