/node_modules/
/npm-debug.log
/build
/debug.log
.DS_Store
.cache
yarn-error.log
/gulp/tasks/client/vendor/tmp-gamejolt.iss

# vite build for our html templates
/src/auth.html
/src/claim.html
/src/checkout.html
/src/site-editor.html
/src/gameserver.html
/src/z.html
/src/widget-package.html
/src/editor.html
