[submodule "src/lib/gj-lib-client"]
	path = src/lib/gj-lib-client
	url = https://github.com/gamejolt/frontend-lib.git
[submodule "src/lib/site-translations"]
	path = src/lib/site-translations
	url = https://github.com/gamejolt/translations.git
