<div ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.line1' ) || $ctrl.isForceRequired">

	<div ng-if="!helpers.getStripeField( $ctrl.namePrefixDotted + '.line1' )">

		<form-group
			ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.line1' ) || $ctrl.isForceRequired"
			name="{{ $ctrl.namePrefix }}-line1"
			label="Address"
			>
			<input form-control>
			<control-errors></control-errors>
		</form-group>

		<form-group
			ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.line1' ) || $ctrl.isForceRequired"
			name="{{ $ctrl.namePrefix }}-line2"
			label="Apartment/Suite/Unit"
			optional="true"
			>
			<input form-control>
			<control-errors></control-errors>
		</form-group>

		<!--
			We only ask for their country if this is an additional owner.
			Additional owners can live in any country.
		-->
		<form-group
			ng-if="$ctrl.isForceRequired"
			name="{{ $ctrl.namePrefix }}-country"
			label="Country"
			>
			<select form-control="select">
				<option ng-repeat="country in ::$ctrl.countries track by country.code" ng-value="::country.code | uppercase">{{ ::country.name }}</option>
			</select>
			<control-errors></control-errors>
		</form-group>

		<div class="row" ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.city' ) || $ctrl.isForceRequired">
			<div class="col-sm-4">
				<form-group
					name="{{ $ctrl.namePrefix }}-city"
					label="City"
					>
					<input form-control>
					<control-errors></control-errors>
				</form-group>
			</div>
			<div class="col-sm-4" ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.state' ) || $ctrl.isForceRequired">
				<form-group
					name="{{ $ctrl.namePrefix }}-state"
					label="State/Province/County"
					>
					<input form-control>
					<control-errors></control-errors>
				</form-group>
			</div>
			<div class="col-sm-4" ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.postal_code' ) || $ctrl.isForceRequired">
				<form-group
					name="{{ $ctrl.namePrefix }}-postal_code"
					label="Zip/Postal Code"
					>
					<input form-control>
					<control-errors></control-errors>
				</form-group>
			</div>
		</div>
	</div>

	<div class="form-horizontal" ng-if="helpers.getStripeField( $ctrl.namePrefixDotted + '.line1' )">
		<div class="form-group">
			<label class="control-label col-sm-4">
				Address
			</label>
			<div class="form-static col-sm-8">
				<div>{{ helpers.getStripeField( $ctrl.namePrefixDotted + '.line1' ) }}</div>
				<div ng-if="helpers.getStripeField( $ctrl.namePrefixDotted + '.line2' )">
					{{ helpers.getStripeField( $ctrl.namePrefixDotted + '.line2' ) }}
				</div>
				<div>{{ helpers.getStripeField( $ctrl.namePrefixDotted + '.city' ) }}</div>
				<div ng-if="helpers.getStripeField( $ctrl.namePrefixDotted + '.state' )">
					{{ helpers.getStripeField( $ctrl.namePrefixDotted + '.state' ) }}
				</div>

				<div ng-if="helpers.getStripeField( $ctrl.namePrefixDotted + '.country' )">
					{{ Geo.getCountryName( helpers.getStripeField( $ctrl.namePrefixDotted + '.country' ) ) }}
				</div>
				<div ng-if="!helpers.getStripeField( $ctrl.namePrefixDotted + '.country' )">
					{{ Geo.getCountryName( account.country_code ) }}
				</div>
			</div>
		</div>
	</div>

</div>
