<div ng-if="!helpers.getStripeField( 'legal_entity.business_name' )">
	<div class="row">
		<div class="col-sm-6" ng-if="helpers.requiresField( 'legal_entity.business_name' )">
			<form-group
				name="legal_entity-business_name"
				label="Business Name"
				>
				<input form-control>
				<control-errors></control-errors>
			</form-group>
		</div>
		<div class="col-sm-6" ng-if="helpers.requiresField( 'legal_entity.business_tax_id' )">
			<form-group
				name="legal_entity-business_tax_id"
				label="Employer Identification Number"
				>
				<input form-control>
				<control-errors></control-errors>
			</form-group>
		</div>
	</div>
</div>

<div ng-if="helpers.getStripeField( 'legal_entity.business_name' )" class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-sm-4">
			Business Name
		</label>
		<div class="form-static col-sm-8">
			{{ stripe.current.legal_entity.business_name }}
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-4">
			Employer Identification Number
		</label>
		<div class="form-static col-sm-8">
			Provided
		</div>
	</div>
</div>
