<div ng-if="!helpers.getStripeField( $ctrl.namePrefixDotted + '.year' )">

	<div>
		<label class="control-label">Date of Birth</label>
	</div>

	<div class="row">
		<div class="col-sm-4" ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.month' ) || $ctrl.isForceRequired">
			<form-group
				name="{{ $ctrl.namePrefix }}-month"
				label="Month"
				hide-label="true"
				>

				<select form-control="select">
					<option value="" translate>Month</option>
					<option value="1" translate>January</option>
					<option value="2" translate>February</option>
					<option value="3" translate>March</option>
					<option value="4" translate>April</option>
					<option value="5" translate>May</option>
					<option value="6" translate>June</option>
					<option value="7" translate>July</option>
					<option value="8" translate>August</option>
					<option value="9" translate>September</option>
					<option value="10" translate>October</option>
					<option value="11" translate>November</option>
					<option value="12" translate>December</option>
				</select>

				<control-errors></control-errors>
			</form-group>
		</div>
		<div class="col-sm-4" ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.day' ) || $ctrl.isForceRequired">
			<form-group
				name="{{ $ctrl.namePrefix }}-day"
				label="Day"
				hide-label="true"
				>

				<select form-control="select">
					<option value="" translate>Day</option>
					<option ng-repeat="i in ::$ctrl.days" ng-value="::i">{{ ::i }}</option>
				</select>

				<control-errors></control-errors>
			</form-group>
		</div>
		<div class="col-sm-4" ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.year' ) || $ctrl.isForceRequired">
			<form-group
				name="{{ $ctrl.namePrefix }}-year"
				label="Year"
				hide-label="true"
				>

				<select form-control="select">
					<option value="" translate>Year</option>
					<option ng-repeat="i in ::$ctrl.years" ng-value="::i">{{ ::i }}</option>
				</select>

				<control-errors></control-errors>
			</form-group>
		</div>
	</div>
</div>

<div class="form-horizontal" ng-if="helpers.getStripeField( $ctrl.namePrefixDotted + '.year' )">
	<div class="form-group">
		<label class="control-label col-sm-4">
			Date of Birth
		</label>
		<div class="form-static col-sm-8">
			Provided
		</div>
	</div>
</div>
