<div ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.document' )">

	<!--
		It only has a details_code if it failed to verify.
	-->
	<div
		ng-if="
			!helpers.getStripeField( $ctrl.namePrefixDotted + '.document' )
			|| helpers.getStripeField( $ctrl.namePrefixDotted + '.document' ).details_code
		"
		>
		<hr>

		<div class="alert alert-info" ng-if="helpers.getStripeField( $ctrl.namePrefixDotted + '.document' ).details">
			<span class="jolticon jolticon-notice"></span>
			{{ helpers.getStripeField( $ctrl.namePrefixDotted + '.document' ).details }}
		</div>

		<form-group
			name="{{ $ctrl.namePrefix }}-document"
			label="ID Document"
			>
			<p class="help-block">This should be a scan of an ID card, driver's license, passport, or other government supplied identification.</p>
			<gj-form-upload-control
				form-control="upload"
				gj-max-filesize="10 * 1024 * 1024"
				accept=".png,.jpg,.jpeg,.gif"
				>
			</gj-form-upload-control>
			<control-errors></control-errors>
		</form-group>
	</div>

	<div
		ng-if="
			helpers.getStripeField( $ctrl.namePrefixDotted + '.document' )
			&& !helpers.getStripeField( $ctrl.namePrefixDotted + '.document' ).details_code
		"
		class="form-horizontal"
		>
		<div class="form-group">
			<label class="control-label col-sm-4">
				ID Document
			</label>
			<div class="form-static col-sm-8">
				Provided
			</div>
		</div>
	</div>

</div>
