<form gj-form="formModel" name="managedAccountForm" class="form-dashboard-managed-account">

	<gj-loading ng-if="!formState.isLoaded"></gj-loading>

	<div ng-if="formState.isLoaded">

		<!--
			Account initialization.
			We need this information first.
		-->
		<div ng-if="!account.is_stripe_initialized">

			<form-group name="type" label="Account Type">
				<div class="radio">
					<label>
						<input form-control="radio" value="individual">
						Individual
						<br>
						<span class="help-inline">Are you a sole proprietor, partnership or otherwise an individual human being?</span>
					</label>
				</div>
				<div class="radio">
					<label>
						<input form-control="radio" value="company">
						Company
						<br>
						<span class="help-inline">Are you a company / corporation / business / charity / trust fund / etc?</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="country_code" label="Country Code">
				<p class="help-block">
					Select the country of your residence or the country that your business is legally established in. We're working hard on expanding our reach, and hope to get more countries supported soon.
				</p>

				<select form-control="select">
					<option value="">Please select your country...</option>
					<option ng-repeat="(code, country) in stripe.countries track by code" ng-value="code">
						{{ ::Geo.getCountryName( code ) }}
					</option>
				</select>
				<control-errors label="country"></control-errors>

				<div gj-expand-when="!formModel.country_code">
					<br>
					<div class="alert alert-info sans-margin-bottom">
						<p translate>If you do not see your country above, all is not lost! We can still manually approve your account.</p>
						<p>
							<a href="https://goo.gl/forms/igg8T9dQnZLT2c1l2" target="_blank" translate>Request manual approval here.</a>
						</p>
					</div>
				</div>
			</form-group>

		</div>

		<div ng-if="account.is_stripe_initialized">

			<div class="alert alert-info">
				<p>
					This information is needed for tax purposes as well as account verification. We use Stripe to store and verify this data.
					<a href="https://help.gamejolt.com/why-tax-forms" class="link-help">Learn more</a>
				</p>
			</div>

			<div class="alert alert-warning" ng-if="helpers.isVerificationPending()">
				<p><b>Stripe is in the process of verifying your details.</b> This can take anywhere from a few minutes to a few days. We'll contact you when the verification process is complete and if Stripe requires additional supporting documents (such as a photo ID) in order to identify you. Hang tight!</p>
			</div>

			<div class="alert alert-warning" ng-if="helpers.requiresVerificationDocument()">
				<p><b>Stripe needs additional identification documents in order to verify your account.</b> Please enter them below.</p>
			</div>

			<div class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-4">
						Country
					</label>
					<div class="form-static col-sm-8">
						{{ Geo.getCountryName( account.country_code ) }}
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-4">
						Business Type
					</label>
					<div class="form-static col-sm-8" ng-switch="account.type">
						<span ng-switch-when="individual">Individual</span>
						<span ng-switch-when="company">Company</span>
					</div>
				</div>
			</div>

			<hr>

			<!--<pre>{{ stripeMeta | json }}</pre>-->
			<!--<pre>{{ stripe.current.verification | json }}</pre>-->
			<!--<pre>{{ formModel | json }}</pre>-->

			<!--
				Company Info
			-->
			<div ng-if="account.type == 'company'">
				<h4>Company Details</h4>

				<gj-form-dashboard-financials-managed-account-business
					name-prefix="legal_entity"
					>
				</gj-form-dashboard-financials-managed-account-business>

				<!--
					Business Address
					It uses the legal entity address.
				-->
				<gj-form-dashboard-financials-managed-account-address
					name-prefix="legal_entity-address"
					>
				</gj-form-dashboard-financials-managed-account-address>
			</div>

			<!--
				Individual/Company Representative
			-->
			<h4 ng-switch="account.type">
				<span ng-switch-when="individual">
					Your Details
				</span>
				<span ng-switch-when="company">
					Representative Details
				</span>
			</h4>

			<div class="alert alert-info"
				ng-if="account.status == 'unverified'"
				ng-switch="account.type"
				>
				<p ng-switch-when="individual">
					Please fill in your <b>personal information</b>.
				</p>
				<p ng-switch-when="company">
					We are required to collection information for a <b>representative of your company</b>.
				</p>
			</div>

			<!--
				Personal Name
			-->
			<gj-form-dashboard-financials-managed-account-name
				name-prefix="legal_entity"
				>
			</gj-form-dashboard-financials-managed-account-name>

			<!--
				Personal DOB
			-->
			<gj-form-dashboard-financials-managed-account-dob
				name-prefix="legal_entity-dob"
				>
			</gj-form-dashboard-financials-managed-account-dob>

			<!--
				Personal Address
				Some times required for individual accounts in GB too.
			-->
			<gj-form-dashboard-financials-managed-account-address
				name-prefix="{{ account.type == 'company' ? 'legal_entity-personal_address' : 'legal_entity-address' }}"
				>
			</gj-form-dashboard-financials-managed-account-address>

			<!--
				SSN
			-->
			<gj-form-dashboard-financials-managed-account-ssn
				name-prefix="legal_entity"
				>
			</gj-form-dashboard-financials-managed-account-ssn>

			<!--
				Personal ID Verification
			-->
			<gj-form-dashboard-financials-managed-account-id-document
				name-prefix="legal_entity-verification"
				>
			</gj-form-dashboard-financials-managed-account-id-document>

			<!--
				Additional Owners (for Europe)
				Anyone that owns at least 25% of the company needs to be listed.
			-->
			<div ng-if="(helpers.requiresField( 'legal_entity.additional_owners' ) && account.status == 'unverified') || formModel.additional_owners_count > 0">

				<h4>Additional Owners</h4>

				<div class="alert alert-info">
					<p>In <a href="https://en.wikipedia.org/wiki/Single_Euro_Payments_Area">Single Euro Payments Area</a> member countries, we are required to collect and verify information about anybody that owns at least 25% of the company, in addition to the representative.</p>
				</div>

				<div
					ng-repeat="i in [ 0, 1, 2, 3 ]"
					ng-if="i < formModel.additional_owners_count"
					>

					<!--
						We only use this when gathering info for the additional owner.
						It's pointless after they've filled out all the owners.
					-->
					<h5 class="clearfix" ng-if="account.status == 'unverified'">
						<div class="pull-right">
							<button
								class="btn btn-danger-outline btn-sparse"
								ng-if="value.verification.status != 'verified'"
								ng-click="helpers.removeAdditionalOwner( i )"
								>
								<span class="jolticon jolticon-remove"></span>
							</button>
						</div>

						<span>
							{{ formModel['legal_entity-additional_owners-' + i + '-first_name'] | uppercase }}
							{{ formModel['legal_entity-additional_owners-' + i + '-last_name'] | uppercase }}
						</span>
					</h5>

					<!--
						These are the only fields we need to collect according to Stripe.
					-->
					<gj-form-dashboard-financials-managed-account-name
						name-prefix="legal_entity-additional_owners-{{ i }}"
						force-required
						>
					</gj-form-dashboard-financials-managed-account-name>

					<gj-form-dashboard-financials-managed-account-dob
						name-prefix="legal_entity-additional_owners-{{ i }}-dob"
						force-required
						>
					</gj-form-dashboard-financials-managed-account-dob>

					<gj-form-dashboard-financials-managed-account-address
						name-prefix="legal_entity-additional_owners-{{ i }}-address"
						force-required
						>
					</gj-form-dashboard-financials-managed-account-address>

					<gj-form-dashboard-financials-managed-account-id-document
						name-prefix="legal_entity-additional_owners-{{ i }}-verification"
						>
					</gj-form-dashboard-financials-managed-account-id-document>

				</div>

				<!-- Add additional owner -->
				<div class="clearfix">
					<div class="pull-right" ng-if="formModel.additional_owners_count <= 3">
						<button class="btn btn-outline" ng-click="helpers.addAdditionalOwner()">
							<span class="jolticon jolticon-add"></span>
							Add Additional Owner
						</button>
					</div>
				</div>

				<hr>

			</div>

			<!--<div ng-if="false">
				<legend>Bank Account</legend>
				<div ng-if="stripe.current.external_accounts.total_count >= 1">
					<p><strong>Account Holder</strong>: {{ stripe.current.external_accounts.data[0].account_holder_name }}</p>
					<p><strong>Account Type</strong>: {{ stripe.current.external_accounts.data[0].account_holder_type | uppercase }}</p>
					<p><strong>Bank Name</strong>: {{ stripe.current.external_accounts.data[0].bank_name }}</p>
					<p><strong>Country</strong>: {{ stripe.current.external_accounts.data[0].country }}</p>
					<p><strong>Account Number (last 4)</strong>: {{ stripe.current.external_accounts.data[0].last4 }}</p>
					<p><strong>Routing Number</strong>: {{ stripe.current.external_accounts.data[0].routing_number }}</p>
					<hr>
				</div>
				<div ng-if="stripe.current.external_accounts.total_count == 0" >
					<div class="row">
						<div class="col-sm-6">
							<form-group name="bankAccount_country" label="Country">
								<select form-control="select" ng-options="code as country for (code, country) in stripe.countries" ng-change="updateCurrencies()"></select>
							</form-group>
						</div>
						<div class="col-sm-6">
							<form-group name="bankAccount_currency" label="Currency">
								<select form-control="select" ng-options="currency for (country, currency) in formState.currencies"></select>
							</form-group>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<form-group name="bankAccount_accountNumber" label="Account Number">
								<input type="text" form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-6">
							<form-group name="bankAccount_routingNumber" label="Routing Number / Sort Code">
								<input type="text" form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<form-group name="bankAccount_accountHolderName" label="Account Holder Name">
								<input type="text" form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-6">
							<form-group name="bankAccount_accountHolderType" label="Account Holder Type">
								<select form-control="select">
									<option ng-value="individual">Individual</option>
									<option ng-value="company">Company</option>
								</select>
							</form-group>
						</div>
					</div>
				</div>
			</div>-->

		</div>

		<!--
			There may be a specific error message, or a generic one.
		-->
		<div gj-expand-when="!!formState.genericError">
			<div class="alert alert-warning">

				<p ng-if="formState.genericError !== true">{{ formState.genericError }}</p>

				<p ng-if="formState.genericError === true">Something went wrong. Please check that you've entered everything correctly. This is usually because of an invalid zip/postal code, or invalid SSN/EIN.</p>
			</div>
		</div>

		<gj-loading ng-if="formState.isProcessing" label="{{ 'Processing...' | translate }}"></gj-loading>

		<button
			ng-if="!formState.isComplete && !helpers.isVerificationPending()"
			gj-form-submit-button
			class="btn btn-success-outline"
			ng-disabled="!managedAccountForm.$valid || formState.isProcessing"
			ng-click="onSubmit()"
			>
			<span class="jolticon jolticon-chevron-right"></span>
			<span translate>Save and Continue</span>
		</button>

		<br>

	</div>

</form>
