<div ng-if="helpers.requiresField( $ctrl.namePrefixDotted + '.personal_id_number' )">
	<form-group
		ng-if="!helpers.getStripeField( $ctrl.namePrefixDotted + '.personal_id_number_provided' )"
		name="{{ $ctrl.namePrefix }}-personal_id_number"
		label="{{ account.country_code == 'us' ? 'Social Security Number or ITIN' : 'Foreign Tax Identification Number' }}"
		>

		<p class="help-block" ng-if="account.country_code == 'us'">
			We are required by the IRS to collect your Social Security Number (SSN) or Individual Taxpayer Identification Number (ITIN) for tax purposes. For security reasons, we use Stripe to store this information, it will not be stored on Game Jolt's servers.
		</p>

		<p class="help-block" ng-if="account.country_code != 'us'">
			We are required by the IRS to collect your Tax Identification Number (TIN) for tax purposes. For security reasons, we use Stripe to store this information, it will not be stored on Game Jolt's servers.
		</p>

		<input form-control>
		<control-errors></control-errors>
	</form-group>

	<div ng-if="helpers.getStripeField( $ctrl.namePrefixDotted + '.personal_id_number_provided' )" class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-4">
				<span ng-if="account.country_code == 'us'">
					SSN/ITIN
				</span>
				<span ng-if="account.country_code != 'us'">
					Foreign Tax Identification Number
				</span>
			</label>
			<div class="form-static col-sm-8">
				Provided
			</div>
		</div>
	</div>
</div>
