.ctrl-dashboard-reports

	header.section
		nav.platform-list
			display: inline-block
			margin-top: 0
			margin-right: $grid-gutter-width
			vertical-align: middle

	.report-percentage
		display: inline-block
		vertical-align: middle
		height: 15px
		background-color: $gj-blue

	.game-selector
		&-type
			font-weight: bold

		&-title
			text-overflow()
			max-width: 200px
			font-style: italic

.reports-month-selector
	display: inline-block

	strong
		margin: 0 15px
