.ctrl-dashboard-reports

	header.section
		nav.platform-list
			display: inline-block
			margin-top: 0
			margin-right: $grid-gutter-width
			vertical-align: middle

	.report-percentage
		display: inline-block
		vertical-align: middle
		height: 15px
		background-color: $gj-blue

.reports-month-selector
	display: inline-block

	strong
		margin: 0 15px
