@require '~styles/variables'
@require '../../../../../../lib/gj-lib-client/stylus/common/mixins'

.timeline-list-item-header
	background-color: $gray-lighter

.timeline-list-item-icon
	background-color: $gray-lightest !important

.placeholder-time
	lazy-placeholder-inline()
	width: 30%
	height: $font-size-small

.placeholder-title
	lazy-placeholder-inline()
	width: 60%
	height: $font-size-h1

.placeholder-text
	lazy-placeholder-inline()
