@require '../../event-item/event-item'
@require '~styles-lib/mixins'

// Gotta override the border hover styling of event items.
.-item
	&, &:hover
		theme-prop('border-color', 'bg-offset')
		cursor: default

.-placeholder-text
	lazy-placeholder-inline()

.-placeholder-small
	lazy-placeholder-inline()
	height: $font-size-small
