@require '~styles/variables'
@require '~styles-lib/mixins'

.placeholder-time
	lazy-placeholder-inline()
	width: 30%
	height: $font-size-small

.placeholder-title
	lazy-placeholder-inline()
	width: 60%
	height: $font-size-h1

.placeholder-text
	lazy-placeholder-inline()

.placeholder-small
	lazy-placeholder-inline()
	height: $font-size-small
