@require '~game-jolt-frontend-lib/stylus/mixins/compiled-content'

.chat-compiled-room-description
	compiled-content($font-size-base)

	h1, h2, h3, h4, h5, h6
		@extend .h5
		font-weight: bold

	*:last-child
		margin-bottom: 0
