@require '../../../../lib/gj-lib-client/stylus/mixins/compiled-content'

.chat-compiled-room-description
	compiled-content($font-size-base, $line-height-computed)

	h1, h2, h3, h4, h5, h6
		@extend .h5
		font-weight: bold

	p
		margin-bottom: 0
