.game-ogrs
	@extend .clearfix
	margin-bottom: $font-size-base

.game-ogrs-inner
	@extend .clearfix
	float: left
	border: 4px solid $black
	background: $black

	.has-descriptors > &
		float: none

.game-ogrs-tag
	float: left

	> img
		display: block

.game-ogrs-logo
	margin-top: 4px

.game-ogrs-id
	padding-top: 4px
	color: $white
	font-family: $font-family-tiny
	font-size: $font-size-tiny
	line-height: 1
	text-align: center

.game-ogrs-descriptors
	margin-left: 80px
	padding: 10px
	border-left: 4px solid $black
	background: $white
	min-height: 114px

.game-ogrs-descriptor
	margin: 0 0 0.5em 0
	font-family: $font-family-tiny
	font-weight: bold
	font-size: $font-size-small
	line-height: 1
	color: $black
