@require '~styles/variables'

.game-ogrs
	margin-bottom: $font-size-base
	border: 4px solid $black
	border-radius: $border-radius-base
	background: $black

	&.no-descriptors
		float: left

	// Make sure we override the tag.styl file no matter the order of imports.
	&-tag
		float: left
		border: 0 !important

	&-descriptors
		margin-left: 80px
		padding: 10px
		border-left: 4px solid $black
		background: $white
		border-top-right-radius: $border-radius-base
		border-bottom-right-radius: $border-radius-base
		min-height: 114px

		.game-ogrs.hide-tag &
			margin-left: 0
			border-left: 0

	&-descriptor
		margin: 0 0 0.5em 0
		font-family: $font-family-tiny
		font-weight: bold
		font-size: $font-size-small
		line-height: 1
		color: $black
