<div class="clearfix">
	<div class="game-ogrs clearfix"
		v-if="game.tigrs_age > 0"
		:class="{
			'has-descriptors': !hideDescriptors && descriptors.length,
			'no-descriptors': !descriptors.length,
			'hide-tag': hideTag,
		}"
		>

		<app-game-ogrs-tag
			v-if="!hideTag"
			full
			:game="game"
			/>

		<div
			class="game-ogrs-descriptors"
			v-if="!hideDescriptors && descriptors.length"
			>
			<div
				class="game-ogrs-descriptor"
				v-for="descriptor of descriptors"
				>
				{{ descriptor }}
			</div>
		</div>

	</div>
</div>
