<div class="forum-channel-list">

	<div class="forum-channel-list-item row" ng-repeat="channel in ctrl.channels track by channel.id">
		<div class="col-sm-7 col-md-7">
			<h4 class="forum-channel-list-item-title">
				<span class="tag tag-pink" ng-if="::channel.notifications_count">{{ ::channel.notifications_count || 0 | number }}</span>
				<a class="link-unstyled" ui-sref="forums.channels.view.page( { name: channel.name } )">#{{ ::channel.name }}</a>
			</h4>
			<p>{{ ::channel.description }}</p>
		</div>
		<div class="col-md-2 text-muted text-right small">
			{{ ::channel.topics_count || 0 | number }} Topics
			<br>
			{{ ::channel.replies_count || 0 | number }} Replies
		</div>
		<div class="col-sm-5 col-md-3">
			<ul class="hidden-xs">
				<!--<li>
					<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
				</li>
				<li>
					<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
				</li>
				<li>
					<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
				</li>
				<li>
					<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
				</li>-->
			</ul>
		</div>
	</div>

</div>
