<div class="container">
	<div class="row">
		<div class="col-sm-3 col-sm-push-9 col-lg-2 col-lg-push-10">
			<br><br>
			<gj-scroll-affix>
				<nav class="platform-list">
					<ul>
						<li>
							<a href="#styleguide-button">Buttons</a>
						</li>
						<li>
							<a href="#styleguide-list-group">List Groups</a>
						</li>
						<li>
							<a href="#styleguide-progress-bar">Progress Bars</a>
						</li>
						<li>
							<a href="#styleguide-jolticons">Jolticons</a>
						</li>
					</ul>
				</nav>
			</gj-scroll-affix>
		</div>
		<div class="col-sm-9 col-sm-pull-3 col-lg-10 col-lg-pull-2">
			<div
				ng-repeat="template in templates"
				ng-include="template"
				>
			</div>
		</div>
	</div>
</div>
