.notifications-popover

	$icon-size = 40px

	&-container-controls
		margin: 10px 0
		text-align: right
		font-size: $font-size-small

	&-controls
		float: right
		text-align: right

		> .i-button
			position: relative
			top: -2px

	&-icon
		float: left
		width: $icon-size
		height: $icon-size
		line-height: $icon-size
		background-color: $gj-pink
		color: $white
		border-radius: 50%
		text-align: center

		> .jolticon
			position: relative
			top: -1px
			margin: 0
			vertical-align: middle

	&-body
		display: block
		margin-left: $icon-size + 10px
		font-size: $font-size-small

	&-heading
		margin-top: 0
		margin-bottom: 0
		font-weight: bold

	&-details
		color: $gray-light
		font-size: $font-size-small

	&-meta
		@extend .text-muted
		font-size: $font-size-tiny
		margin-top: 3px
