.ctrl-discover-deal-page

	$btn-height = 56px

	.os-info
		display: inline-block
		font-weight: 300

	.countdown-info
		font-weight: bold
		font-size: $font-size-h4
		color: $gj-pink
		margin-bottom: $font-size-base

	.buy-game-button
		margin: 10px 0
		background-color: $gj-green
		color: $black !important

		&:hover
			outline-color: $gj-green
			outline-offset: 2px
			outline-style: solid
			outline-width: 2px

		&:active
			transform: translateY(2px)

		.btn-badge
			text-align: center
			line-height: 20px
			padding-top: (($btn-height - 15px - @line-height) / 2)
			padding-bottom: @padding-top

			small
				display: block
				font-size: $font-size-tiny
				line-height: 15px
				color: $text-muted
				text-decoration: line-through

	.game-supporters
		@extend .clearfix
		margin-left: -5px
		margin-right: -5px

	.game-supporter
		float: left
		width: 50px
		margin: 0 5px 5px 5px
