<div :class="{ 'is-client-offline': Connection.isClientOffline }">
	<app-theme />

	<div id="shell">

		<div id="header" class="theme-dark">
			<app-user-bar :user="app.user" site="main" :hide-site-selector="true">
				<app-button
					v-if="GJ_IS_CLIENT"
					icon="chevron-left"
					@click="navigateBack()"
					>
					<translate>Back to Game</translate>
				</app-button>
			</app-user-bar>
		</div>

		<div id="content">
			<app-error-page>
				<router-view />
			</app-error-page>
		</div>

		<app-client-base v-if="GJ_IS_CLIENT" />
		<app-loading-bar />
		<app-growls />
		<app-modals />
	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p class="footer-links">
						<a href="mailto:contact@gamejolt.com">Contact Game Jolt</a>
						&nbsp;|&nbsp;
						<a :href="Environment.baseUrl + '/terms'" target="_blank">Terms</a>
						&nbsp;|&nbsp;
						<a :href="Environment.baseUrl + '/privacy'" target="_blank">Privacy Policy</a>
					</p>
				</div>
				<div class="col-sm-6">
					<p class="footer-copyright">
						&copy; {{ curDate | date( 'YYYY' ) }} Lucent Web Creative, LLC
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>
