@require '~styles/variables'
@require '~styles-lib/mixins'
@require '../variables'

.-community
	pressy()

.-link
	outline: 0

.-backdrop
	change-bg('dark')

.-thumb
	width: 100%
	height: 100%

	>>> img
		width: calc(100% - 2px)
		height: calc(100% - 2px)

.-notice
	theme-prop('color', 'notice')
