<ul class="sans-margin game-dash-nav">
	<li ng-if="!$ctrl.isWizard">
		<a ui-sref=".overview" ui-sref-active="active">
			<span translate>Overview</span>
		</a>
	</li>
	<li>
		<a ui-sref=".details" ui-sref-active="active">
			<gj-nav-required-step-icon is-complete="true"></gj-nav-required-step-icon>
			<span translate>Details</span>
		</a>
	</li>
	<li>
		<a ui-sref=".description" ui-sref-active="active">
			<gj-nav-required-step-icon is-complete="!!$ctrl.game.description_markdown"></gj-nav-required-step-icon>
			<span translate>Description</span>
		</a>
	</li>
	<li>
		<a ui-sref=".maturity" ui-sref-active="active">
			<gj-nav-required-step-icon is-complete="!!$ctrl.game.tigrs_age"></gj-nav-required-step-icon>
			<span translate>Maturity</span>
		</a>
	</li>
	<li>
		<a ui-sref=".thumbnail" ui-sref-active="active">
			<gj-nav-required-step-icon is-complete="!!$ctrl.game.thumbnail_media_item"></gj-nav-required-step-icon>
			<span translate>Thumbnail</span>
		</a>
	</li>
	<li>
		<a ui-sref=".header" ui-sref-active="active">
			<span translate>Header</span>
		</a>
	</li>
	<li ng-if="!$ctrl.isWizard || !$ctrl.game._is_devlog">
		<a ui-sref=".media" ui-sref-active="active">
			<span translate>Media</span>
		</a>
	</li>
	<li ng-if="!$ctrl.isWizard || !$ctrl.game._is_devlog">
		<a ui-sref=".packages.list" ng-class="{ active: $ctrl.$state.includes( 'dashboard.developer.games.manage.game.packages' ) }">
			<gj-nav-required-step-icon ng-if="!$ctrl.game._is_devlog" is-complete="$ctrl.game.has_active_builds"></gj-nav-required-step-icon>
			<span translate>Packages</span>
		</a>
	</li>
	<li ng-if="!$ctrl.isWizard || !$ctrl.game._is_devlog">
		<a ui-sref=".music" ui-sref-active="active">
			<span translate>Music</span>
		</a>
	</li>
	<li>
		<a ui-sref=".settings" ui-sref-active="active">
			<span translate>Settings</span>
		</a>
	</li>
</ul>

<div ng-if="!$ctrl.$state.is( 'dashboard.developer.games.manage.game.wizard-finish' )">
	<button ng-if="$ctrl.game.status == $ctrl.Game.STATUS_HIDDEN" class="btn btn-success-outline btn-block"
		ng-disabled="!$ctrl.canPublish"
		ng-click="$ctrl.publish()"
		>
		<span translate>Publish</span>
	</button>

	<button ng-if="$ctrl.isWizard" class="btn btn-outline btn-block"
		ng-click="$ctrl._saveDraft()"
		>
		<span class="visible-lg" translate>Save Draft</span>
		<span class="visible-md" translate>Save</span>
	</button>
</div>
