<ul class="sans-margin">
	<li ng-if="!manageCtrl.isWizard">
		<a ui-sref=".overview" ui-sref-active="active">
			<span translate>Overview</span>
		</a>
	</li>
	<li>
		<a ui-sref=".details" ui-sref-active="active">
			<gj-nav-required-step-icon is-complete="true"></gj-nav-required-step-icon>
			<span translate>Details</span>
		</a>
	</li>
	<li>
		<a ui-sref=".description" ui-sref-active="active">
			<gj-nav-required-step-icon is-complete="!!manageCtrl.game.description_markdown"></gj-nav-required-step-icon>
			<span translate>Description</span>
		</a>
	</li>
	<li>
		<a ui-sref=".maturity" ui-sref-active="active">
			<gj-nav-required-step-icon is-complete="!!manageCtrl.game.tigrs_age"></gj-nav-required-step-icon>
			<span translate>Maturity</span>
		</a>
	</li>
	<li>
		<a ui-sref=".thumbnail" ui-sref-active="active">
			<gj-nav-required-step-icon is-complete="!!manageCtrl.game.thumbnail_media_item"></gj-nav-required-step-icon>
			<span translate>Thumbnail</span>
		</a>
	</li>
	<li>
		<a ui-sref=".header" ui-sref-active="active">
			<span translate>Header</span>
		</a>
	</li>
	<li>
		<a ui-sref=".media" ui-sref-active="active">
			<span translate>Media</span>
		</a>
	</li>
	<li>
		<a ui-sref=".packages.list" ng-class="{ active: $state.includes( 'dashboard.developer.games.manage.game.packages' ) }">
			<gj-nav-required-step-icon ng-if="!manageCtrl.game._is_devlog" is-complete="manageCtrl.game.has_active_builds"></gj-nav-required-step-icon>
			<span translate>Packages</span>
		</a>
	</li>
	<li>
		<a ui-sref=".music" ui-sref-active="active">
			<span translate>Music</span>
		</a>
	</li>
	<li>
		<a ui-sref=".settings" ui-sref-active="active">
			<span translate>Settings</span>
		</a>
	</li>
</ul>

<div ng-if="manageCtrl.isWizard">
	<button class="btn btn-success-outline btn-block"
		ng-disabled="!manageCtrl.canPublish"
		>
		<span translate>Publish</span>
	</button>

	<button class="btn btn-outline btn-block">
		<span translate>Save Draft</span>
	</button>
</div>
