<section class="alert alert-warning sans-margin-bottom" ng-if="false && $ctrl.game.status == Game.STATUS_HIDDEN">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-8 col-centered" ng-class="{ 'text-center': $ctrl.Screen.isDesktop }">
				{{ ::'dash.games.hidden_message' | translate }}
				<span ng-if="!$ctrl.game.published_on">
					{{ ::'dash.games.hidden_message_unpublished' | translate }}
				</span>
			</div>
		</div>
	</div>
</section>

<div collapse="!($ctrl.$state.is( 'dashboard.developer.games.manage.game.header' ) && $ctrl.coverIsLoaded)">
	<gj-media-item-cover
		media-item="$ctrl.game.header_media_item"
		should-parallax="false"
		on-loaded="$ctrl.coverIsLoaded = true"
		>
	</gj-media-item-cover>
</div>

<div gj-expand-when="$ctrl.$state.is( 'dashboard.developer.games.manage.game.media' ) && manageCtrl.mediaItems.length">
	<gj-media-bar [media-items]="manageCtrl.mediaItems"></gj-media-bar>
</div>

<section class="section fill-lightest section-thin" ng-if="$ctrl.Screen.isMobile">
	<div class="container">
		<nav class="pills" gj-partial="/app/views/dashboard/developer/games/manage/game/_nav.html"></nav>
	</div>
</section>

<section class="section">
	<div class="container">

		<div class="row">
			<div class="col-md-2" ng-if="$ctrl.Screen.isDesktop">
				<nav class="platform-list" gj-partial="/app/views/dashboard/developer/games/manage/game/_nav.html"></nav>
			</div>
			<div class="col-xs-12 col-md-10">
				<ui-view></ui-view>
			</div>
		</div>

	</div>
</section>
