.nav-required-step-icon

	@media $media-md-up
		position: absolute
		left: -25px

	&-incomplete
		.jolticon
			color: $gj-pink !important

	&-complete
		.jolticon
			color: $gj-dark-green !important

	@media $media-mobile
		a.active &
			&-complete
				.jolticon
					color: $gj-green !important
