.ctrl-dashboard-developer-games-manage-game
	.nav-required-step-icon
		float: right

		&-incomplete
			.jolticon
				color: $gj-pink !important

		&-complete
			.jolticon
				color: $gj-dark-green !important
