<div class="user-box-exp">
	<div class="user-box-exp-stats">
		<div class="user-box-exp-stats-current">
			Level
			<em>{{ $ctrl.app.user.level }}</em>
			<span class="user-box-exp-stats-help">[<a href="https://help.gamejolt.com/user-exp" target="_blank">?</a>]</span>
		</div>
		<div class="user-box-exp-stats-next">
			Next in
			<strong>{{ $ctrl.app.user.experience_next | number }}</strong>
			EXP
		</div>
	</div>
	<div class="user-box-exp-progress">
		<span class="jolticon jolticon-exp"></span>
		<div class="progress progress-thin progress-green" tooltip="{{ $ctrl.app.user.level_next_percentage }}% progress to next level">
			<div class="progress-bar" ng-style="{ width: $ctrl.app.user.level_next_percentage + '%' }"></div>
		</div>
	</div>
</div>
