<div class="halloween-monster-widget fill-lightest" v-if="caughtAnything">
	<div class="halloween-monster-title fill-darker">
		Halloween Monster Hunt
	</div>
	<div class="halloween-monster-content">
		<div
			class="halloween-monster"
			v-for="monster of monsters"
			v-if="monster.current"
			:key="monster.type"
			>
			<div class="halloween-monster-avatar">
				<img :src="monster.imgUrl">
			</div>
			<div v-translate="{
					caught: number(monster.current),
					rank: monster.rank,
			 	}"
				>
				Caught: <b>%{ caught }</b> Rank: <b>%{ rank }</b>
			</div>
			<app-progress-bar
				class="halloween-monster-progress"
				:percent="Math.min((monster.current - monster.start) * 100 / (monster.end - monster.start), 100)"
				:thin="true"
				variant="green"
				v-app-tooltip.bottom="
					monster.current < monster.end
						? $gettextInterpolate('%{ num } left for next rank', { num: monster.end - monster.current })
						: $gettext('A true spoopy master of no equal')
				"
				/>
		</div>
	</div>
</div>
