@require '~styles/variables'
@require '../../../../lib/gj-lib-client/stylus/common/mixins';

.halloween-monster-widget
	padding-top: 15px
	border-bottom-left-radius: $border-radius-base
	border-bottom-right-radius: $border-radius-base

.halloween-monster-title
	border-top-left-radius: $border-radius-base
	border-top-right-radius: $border-radius-base
	font-family: $font-family-base
	font-size: $font-size-small
	font-weight: bold
	text-transform: uppercase
	padding: 5px
	text-align: center
	vertical-align: middle
	color: $gj-green

.halloween-monster-content
	padding: 5px 10px

.halloween-monster
	overflow: auto
	padding-top: 10px

.halloween-monster-avatar
	float: left
	width: 50px
	height: 50px
	overflow: hidden
	border-radius: 50%
	border-width: $button-outline-border-size
	border-style: solid
	margin-right: 5px

	img
		display: block
		max-width: 100%
		height: auto

.halloween-monster-progress
	margin-top: 5px
