<section class="section">
	<app-page-container xl>
		<div slot="left">
			<app-user-card
				v-if="Screen.isDesktop"
				:user="app.user"
				/>

			<template v-if="hasGamesSection">
				<h4 class="section-header">
					<translate>Manage Games</translate>
				</h4>

				<template v-if="hasGameFilter">
					<div>
						<input
							type="search"
							class="form-control"
							:placeholder="$gettext(`Find a game`)"
							v-model="gameFilterQuery"
							>
					</div>
					<br>
				</template>

				<nav class="-game-list platform-list">
					<ul>
						<li
							v-for="game of filteredGames"
							:key="game.id"
							>
							<router-link
								:to="{
									name: 'dash.games.manage.game.overview',
									params: { id: game.id },
								}"
								:title="(game.ownerName ? `@${game.ownerName}/` : '') + game.title"
								v-app-track-event="`activity:quick-game`"
								>
								<template v-if="game.ownerName">
									<small>@{{game.ownerName}}</small>
									/
								</template>
								{{ game.title }}
							</router-link>
						</li>
					</ul>
				</nav>

				<p v-if="isShowAllGamesVisible">
					<a
						class="link-muted"
						@click="isShowingAllGames = !isShowingAllGames"
						v-app-track-event="`activity:quick-game-all`"
						>
						<translate>Show all</translate>
					</a>
				</p>
			</template>
		</div>

		<div slot="right">
			<app-broadcast-card
				v-if="latestBroadcast"
				:post="latestBroadcast"
				/>

			<template v-if="!Screen.isMobile">
				<h4 class="section-header">
					<translate>Featured Games</translate>
				</h4>

				<app-game-list-placeholder
					v-if="!featuredGames.length"
					:num="5"
					/>
				<app-game-list
					v-else-if="featuredGames.length"
					:games="featuredGames.slice(0, 7)"
					event-label="activity"
					/>

				<p>
					<router-link
						class="link-muted"
						:to="{
							name: 'discover.games.list._fetch',
							params: { section: null }
						}"
						v-app-track-event="`activity:browse-games`"
						>
						<translate>Browse all games</translate>
					</router-link>
				</p>
			</template>
		</div>

		<app-post-add-button
			@add="onPostAdded"
			/>

		<app-activity-feed-placeholder v-if="!feed || !feed.isBootstrapped" />
		<template v-else>
			<div
				v-if="!feed.hasItems"
				class="alert full-bleed-xs text-center"
				>
				<p class="lead">
					<translate>You don't have any activity yet. Follow games to stay up to date on their latest development!</translate>
				</p>

				<router-link
					:to="{
						name: 'discover.home',
					}"
					v-app-track-event="`activity:main-menu:discover`"
					>
					<app-button
						icon="compass-needle"
						solid
						lg
						>
						<translate>Explore</translate>
					</app-button>
				</router-link>
			</div>
			<app-activity-feed
				v-else
				:feed="feed"
				show-ads
				:new-count="unreadActivityCount"
				@load-new="loadedNew()"
				/>
		</template>
	</app-page-container>
</section>
