@require '~styles/variables'
@require '~styles-lib/mixins'

.-game-list
	a
		text-overflow()

.-spacer
	spacer()

// Keep things tight since it's on mobile.
.-communities-heading
	margin-top: 0
	margin-bottom: 5px
