.ctrl-dashboard-main-fireside-posts-edit-page

	.fireside-post-header-manage
		position: relative

		gj-media-item-cover
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 0

		.container
			position: relative
			margin-top: 100px
			margin-bottom: 100px
			z-index: 1
