@require '../variables'
@require '~styles/variables'
@require '~styles-lib/mixins'

.game-thumbnail-placeholder
	margin-bottom: $grid-gutter-width-xs

	@media $media-sm-up
		margin-bottom: $grid-gutter-width

.placeholder
	&-thumb
		rounded-corners()
		theme-prop('background-color', 'bg-offset')
		height: 0
		padding-top: 56.25% // HD 16:9

	&-meta
		position: relative
		padding-top: 10px

	&-avatar
		img-circle()
		theme-prop('background-color', 'bg-offset')
		float: left
		width: $game-thumbnail-avatar-size
		height: $game-thumbnail-avatar-size

	&-dev
		lazy-placeholder-block()
		margin-left: $game-thumbnail-avatar-size + $game-thumbnail-meta-spacing
		width: 40%
		height: $font-size-h6

	&-title
		lazy-placeholder-block()
		margin-top: 6px
		margin-left: $game-thumbnail-avatar-size + $game-thumbnail-meta-spacing
		width: 60%

	&-meta-extra
		clear: both
		margin-top: $game-thumbnail-meta-spacing

	&-tags
		lazy-placeholder-inline()
		rounded-corners()
		width: 60px
