<div class="event-item-manage">

	<div class="-stats">
		<translate
			:translate-n="post.view_count || 0"
			:translate-params="{ count: number( post.view_count || 0 ) }"
			translate-plural="%{ count } views"
			>
			%{ count } view
		</translate>

		<span class="dot-separator" />

		<translate
			:translate-n="post.expand_count || 0"
			:translate-params="{ count: number( post.expand_count || 0 ) }"
			translate-plural="%{ count } expands"
			>
			%{ count } expand
		</translate>

		<span
			class="hidden-xs"
			v-app-tooltip="$gettext( 'An expand is some sort of interaction with your post. For example, playing a video post, or clicking into your post.' )"
			>
			<app-jolticon icon="help-circle" />
		</span>
	</div>

	<!-- <div class="-controls" v-if="showEditControls">
		<app-button
			v-if="canPublish"
			primary
			@click="publishPost()"
			>
			<translate>Publish</translate>
		</app-button>
		<app-button
			@click="openEdit()"
			>
			<translate>Edit</translate>
		</app-button>
		<app-button
			sparse
			circle
			trans
			icon="ellipsis-v"
			v-app-popover-trigger="`activity-feed-controls-options-${post.id}`"
			/>

		<app-popover :popover-id="`activity-feed-controls-options-${post.id}`">
			<div class="list-group list-group-dark">
				<a
					class="list-group-item has-icon"
					@click.stop="removePost()"
					>
					<app-jolticon icon="remove" notice />
					<translate>Remove Post</translate>
				</a>
			</div>
		</app-popover>
	</div> -->

</div>
