<div>
	<header class="section no-nav">
		<div class="container">
			<h1><translate>dash.funds.withdraw.heading</translate></h1>
		</div>
	</header>

	<section class="section">
		<div class="container">

			<div class="row">

				<div class="col-sm-3 col-md-4 col-lg-6" :class="{ 'pull-right': !Screen.isXs }">

					<div :class="{ 'well fill-lightest text-center': Screen.isXs }">
						<ul :class="Screen.isXs ? 'stat-list' : 'list-unstyled'">
							<li v-if="revenuePending > 0" class="stat-big" :class="{ 'stat-big-smaller': Screen.isXs }">
								<div class="stat-big-label"><translate>dash.funds.withdraw.revenue_pending</translate></div>
								<div class="stat-big-digit">{{ revenuePending | currency }}</div>
							</li>
							<li class="stat-big" :class="{ 'stat-big-smaller': Screen.isXs }">
								<div class="stat-big-label"><translate>dash.funds.withdraw.revenue_withdrawable</translate></div>
								<div class="stat-big-digit">{{ revenueWithdrawable | currency }}</div>
							</li>
						</ul>
					</div>

				</div>

				<div class="col-sm-9 col-md-8 col-lg-6" :class="{ 'pull-left': !Screen.isXs }">
					<div v-translate>dash.funds.withdraw.page_help_html</div>

					<form-withdraw-funds
						:user="user"
						:paypal-email="email"
						:min-amount="minAmount"
						:withdrawable-amount="revenueWithdrawable"
						@submit="onSubmit()"
						/>
				</div>

			</div>

		</div>
	</section>
</div>
