<form gj-form="formModel" name="devlogPostForm">
	<div oc-lazy-load="{ files: [ '/app/modules/upload.js', '/app/modules/ui-tree.js' ] }">
		<gj-form-loader
			url="/web/dash/developer/games/devlog/save/{{ baseModel.game.id }}/{{ baseModel.id }}"
			on-loaded="onLoaded( $payload )"
			>

			<form-group name="title"
				label="{{ 'Title' | translate }}"
				>
				<input form-control="text" ng-maxlength="250">
				<control-errors></control-errors>
			</form-group>

			<div ng-switch="formModel.type">

				<div ng-switch-when="text">
					<form-group name="content_markdown"
						label="{{ 'Post Content' | translate }}"
						>

						<div
							form-markdown-editor
							markdown-mode="devlog"
							preview-class="fireside-post-body"
							markdown-preview-url="/web/dash/developer/games/devlog/preview"
							show-media-items="true"
							media-item-type="fireside-post-image"
							placeholder="{{ 'Write your post content here...' | translate }}"
							>
						</div>

						<control-errors></control-errors>

					</form-group>
				</div>

				<div ng-switch-when="media">
					<form-group name="file"
						ng-if="!hasMediaItems"
						label="{{ 'Upload Media' | translate }}"
						>

						<p class="help-block" translate>
							Your image must be a PNG, JPG, or GIF. <br>
							<b>Animated GIFs are supported.</b>
						</p>

						<gj-form-upload-control
							form-control="upload"
							gj-max-filesize="maxFilesize"
							gj-max-img-width="maxWidth"
							gj-max-img-height="maxHeight"
							accept=".png,.jpg,.jpeg,.gif"
							multiple
							is-sortable="true"
							>
						</gj-form-upload-control>

						<control-errors></control-errors>
					</form-group>
				</div>

				<div ng-switch-when="video">
					<form-group name="video_url"
						ng-if="!wasPublished"
						label="{{ 'Video URL' | translate }}"
						>

						<p class="help-block" translate>
							Currently only YouTube videos are supported.
						</p>

						<input form-control="text" ng-pattern="Game_Video.REGEX.YOUTUBE">

						<control-errors></control-errors>
					</form-group>
				</div>

			</div>

			<!--
				Can only modify access control before it's published for the first time.'
			-->
			<div class="form-group"
				ng-if="!baseModel.published_on"
				>
				<label class="control-label" translate>
					Access Permissions
				</label>

				<div class="alert alert-info"
					ng-if="!keyGroups.length"
					translate
					>
					You can make this post available to only the users within a key group. For example, this is useful for sending news updates to testers. You can create a user key group through the <b>Keys/Access</b> page.
				</div>

				<div ng-if="keyGroups.length">
					<p class="help-block"
						translate
						>
						You can make this post available to only the users within a key group. For example, this is useful for sending news updates to testers. Only User-type key groups can be selected.
					</p>

					<div class="checkbox" ng-repeat="keyGroup in keyGroups track by keyGroup.id">
						<label>
							<input type="checkbox" ng-model="formModel.keyGroups[ keyGroup.id ]">
							{{ keyGroup.name }}
						</label>
					</div>
				</div>
			</div>

			<div
				class="form-group"
				ng-if="baseModel.published_on && baseModel.key_groups.length"
				>
				<label class="control-label" translate>
					Access Permissions
				</label>
				<div class="alert alert-info" translate>
					The below key groups have access to this post. You can't edit who has access after posting since notifications have already gone out.
				</div>
				<div>
					<span class="tag" ng-repeat="keyGroup in baseModel.key_groups track by keyGroup.id">
						{{ keyGroup.name }}
					</span>
				</div>
			</div>

			<button class="btn btn-success" ng-disabled="!devlogPostForm.$valid" ng-click="onSubmit()">
				<span ng-if="baseModel.status != Fireside_Post.STATUS_ACTIVE">
					<span class="jolticon jolticon-add"></span>
					<span translate>Publish</span>
				</span>
				<span ng-if="baseModel.status == Fireside_Post.STATUS_ACTIVE">
					<span class="jolticon jolticon-edit"></span>
					<span translate>Save</span>
				</span>
			</button>

			<button class="btn btn-outline"
				ng-if="baseModel.status != Fireside_Post.STATUS_ACTIVE"
				ng-disabled="!devlogPostForm.$valid"
				ng-click="onDraftSubmit()"
				>
				<span translate>Save as Draft</span>
			</button>

		</gj-form-loader>
	</div>
</form>
