<form gj-form="formModel" name="devlogPostForm">
	<div oc-lazy-load="{ files: [ '/app/modules/upload.js' ] }">

		<div ng-switch="formModel.type">

			<div ng-switch-when="text">
				<form-group name="title"
					label="{{ 'Post Title' | translate }}"
					>
					<input form-control="text" ng-maxlength="250">
					<control-errors></control-errors>
				</form-group>

				<form-group name="content"
					label="{{ 'Post Content' | translate }}"
					>

					<div
						form-markdown-editor
						preview-class="fireside-post-body"
						markdown-preview-url="/web/dash/developer/games/devlog/preview"
						show-media-items="true"
						media-item-type="fireside-post-image"
						>
					</div>

					<control-errors></control-errors>

				</form-group>
			</div>

			<div ng-switch-when="media">
				<form-group name="file"
					label="{{ 'Upload Image' | translate }}"
					>

					<p class="help-block" translate>dash.forms.image_filetype_help_html</p>

						<!--gj-max-filesize="maxFilesize"
						gj-max-img-width="maxWidth"
						gj-max-img-height="maxHeight"-->
					<gj-form-upload-control
						form-control="upload"
						accept=".png,.jpg,.jpeg,.gif"
						>
					</gj-form-upload-control>

					<control-errors></control-errors>
				</form-group>

				<form-group name="title"
					label="{{ 'Caption' | translate }}"
					>
					<input form-control="text" ng-maxlength="250">
					<control-errors></control-errors>
				</form-group>
			</div>

		</div>

		<button class="btn btn-success" ng-disabled="!devlogPostForm.$valid" ng-click="onSubmit()">
			<span ng-if="baseModel.status != Fireside_Post.STATUS_ACTIVE">
				<span class="jolticon jolticon-add"></span>
				<span translate>Publish</span>
			</span>
			<span ng-if="baseModel.status == Fireside_Post.STATUS_ACTIVE">
				<span class="jolticon jolticon-edit"></span>
				<span translate>Save</span>
			</span>
		</button>

		<button class="btn btn-outline" ng-disabled="!devlogPostForm.$valid" ng-click="onDraftSubmit()">
			<span translate>Save as Draft</span>
		</button>

	</div>
</form>
