<form gj-form="formModel" name="financialsForm" class="dash-financials-form">


	<div oc-lazy-load="{ files: [ '/app/modules/upload.js', { type: 'js', path: 'https://js.stripe.com/v2/' } ] }"></div>

	<gj-loading ng-if="!formState.isLoaded"></gj-loading>

	<div ng-if="formState.isLoaded">

		<div class="alert alert-info" ng-if="!account.is_verified" translate>
			Before you can start selling your games, we'll need to gather some details from you. This will ensure that your account is completely set up and ready to run smoothly on the Game Jolt Marketplace.
		</div>

		<div class="alert alert-success" ng-if="account.is_verified">
			<span class="jolticon jolticon-check"></span>
			<span translate>Your account is ready to sell games on Game Jolt! You can set additional options below.</span>
		</div>
		<br>

		<!--
			First step is to sign the distribution agreement.
		-->
		<fieldset>
			<legend>
				<span ng-if="account" class="pull-right done-icon" tooltip="{{ 'You have completed this section.' | translate }}">
					<span class="jolticon jolticon-check big"></span>
				</span>
				Distribution Agreement
			</legend>

			<div ng-if="!account">

				<div class="tos-scroller overlay-scrollbar overlay-scrollbar-light">
					<div ng-include="'/app/components/forms/dashboard/financials/_distribution-agreement.html'"></div>
				</div>
				<br>

				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="formState.distributionAgreement">
						By checking this box and clicking the button below marked "I Agree," I agree that I have read, understand, and agree to be bound by the terms of this agreement.
					</label>
				</div>
				<br>

				<button
					class="btn btn-success-outline"
					ng-disabled="!formState.distributionAgreement"
					ng-click="onSubmit()"
					>
					I Agree
				</button>

			</div>

			<div class="form-group" ng-if="account.tos_signed">
				<p class="small">You have agreed to our <a href="">Distribution Agreement</a> on {{ account.tos_signed_timestamp | date:'medium' }}.<p>
			</div>

		</fieldset>

		<fieldset ng-if="account">
			<legend>
				<span ng-if="user.paypal_id" class="pull-right done-icon" tooltip="{{ 'You have completed this section.' | translate }}">
					<span class="jolticon jolticon-check big"></span>
				</span>
				<span translate>PayPal Account</span>
			</legend>

			<div class="form-group">

				<p class="small" translate>We currently use PayPal for automatic monthly deposits. You will also be able to withdraw your funds at any time through this linked account.</p>

				<div ng-if="user.paypal_id">
					<label class="control-label" translate>Current PayPal Account</label>
					<div class="form-static">{{ user.paypal_email_address }}</div>
					<br>
				</div>

				<button
					class="btn btn-primary-outline"
					ng-click="linkPayPal()"
					>
					<span ng-if="!user.paypal_id" translate>Link PayPal Account</span>
					<span ng-if="user.paypal_id" translate>Change PayPal Account</span>
				</button>
			</div>

		</fieldset>

		<div ng-if="account">
			<fieldset name="type">
				<legend>
					<span ng-if="account.status == 'verified'" class="pull-right done-icon" tooltip="{{ 'You have completed this section.' | translate }}">
						<span class="jolticon jolticon-check big"></span>
					</span>
					<span translate>Marketplace Account</span>
				</legend>

				<div ng-if='stripe.current.verification.fields_needed.length > 0' style='border:3px solid #ff0066;margin-bottom:20px;padding:20px;'>
					Your Marketplace Account setup is not yet completed.
					<ul style='margin-top:30px;'>
						<li ng-if="stripe.current.verification.fields_needed.indexOf('legal_entity.verification.document') > -1">You must upload an id document.</li>
						<li ng-if="stripe.current.verification.fields_needed.indexOf('external_account') > -1">You must add a bank account.</li>
						<li ng-if="stripe.current.verification.fields_needed.indexOf('tos_acceptance.ip') > -1">You must agree to the ToS. </li>
						<li ng-if="stripe.current.verification.due_by">You must do this by {{ stripe.current.verification.due_by }}. </li>
					</ul>
				</div>
				<div ng-if="stripe.current.legal_entity.verification.status == 'pending'" style='border:3px solid #0066ff;margin-bottom:20px;padding:20px;'>
					Your Marketplace Account is under review.
				</div>

				<form-group name='country_code' ng-if='!account.country_code'>
					<select form-control="select">
						<option ng-repeat="(code, country) in stripe.countries track by code" ng-value="code">{{ country }}</option>
					</select>
				</form-group>

				<form-group name="type" ng-if="!account.type">
					<div class="radio">
						<label>
							<input form-control="radio" value="individual">
							Individual <br>
							<span class="help-inline">Are you a soletrader, partnership or otherwise an individual human being?</span>
						</label>
					</div>
					<div class="radio">
						<label>
							<input form-control="radio" value="company">
							Company <br>
							<span class="help-inline">Are you a company / corporation / business / charity / trust fund / etc?</span>
						</label>
					</div>
					<control-errors></control-errors>
				</form-group>

				<div class="form-group form-static" ng-if="account.type">
					<p><strong>Country:</strong><br/>{{ account.country_code | uppercase }}</p>
					<p><strong>Type:</strong><br/> {{ account.type | uppercase }}</p>
				</div>

			</fieldset>

			<!-- col-xs-offset-1 -->
			<div style='margin-left:20px;'>


				<fieldset ng-if="account.type">
					<legend>Your Details</legend>

					<div class='row'>
						<div class="col-sm-6">
							<form-group
								ng-if="hasField( 'legal_entity.first_name' )"
								name="legal_entity.first_name"
								label="First Name"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-6">
							<form-group
								ng-if="hasField( 'legal_entity.last_name' )"
								name="legal_entity.last_name"
								label="Last Name"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
					</div>

					<div class="row" ng-if="hasField( 'legal_entity.dob.day' ) || hasField( 'legal_entity.dob.month' ) || hasField( 'legal_entity.dob.year' ) ">
						<div class="col-sm-4">
							<form-group
								ng-if="hasField( 'legal_entity.dob.day' )"
								name="legal_entity.dob.day"
								label="Birthday"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-4">
							<form-group
								ng-if="hasField( 'legal_entity.dob.month' )"
								name="legal_entity.dob.month"
								label="Month"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-4">
							<form-group
								ng-if="hasField( 'legal_entity.dob.year' )"
								name="legal_entity.dob.year"
								label="Year"
								>
								<input form-control >
								<control-errors></control-errors>
							</form-group>
						</div>
					</div>

					<div ng-if="account.type == 'individual'">
						<form-group
							ng-if="hasField( 'legal_entity.address.line1' )"
							name="legal_entity.address.line1"
							label="Address"
						>
							<input form-control>
							<control-errors></control-errors>
						</form-group>
						<div class="row" ng-if="hasField( 'legal_entity.address.city' )">
							<div class="col-sm-4">
								<form-group
									ng-if="hasField( 'legal_entity.address.city' )"
									name="legal_entity.address.city"
									label="City"
									>
									<input form-control>
									<control-errors></control-errors>
								</form-group>
							</div>
							<div class="col-sm-4">
								<form-group
									ng-if="hasField( 'legal_entity.address.state' )"
									name="legal_entity.address.state"
									label="State"
									optional="true"
									>
									<input form-control>
									<control-errors></control-errors>
								</form-group>
							</div>
							<div class="col-sm-4">
								<form-group
									ng-if="hasField( 'legal_entity.address.postal_code' )"
									name="legal_entity.address.postal_code"
									label="Zip Code"
									>
									<input form-control>
									<control-errors></control-errors>
								</form-group>
							</div>
						</div>
					</div>
				</fieldset>

				<div ng-if="account.type=='company'">
					<form-group
						ng-if="hasField( 'legal_entity.personal_address.line1' )"
						name="legal_entity.personal_address.line1"
						label="Address"
						>
						<input form-control >
						<control-errors></control-errors>
					</form-group>

					<div class="row" ng-if="hasField( 'legal_entity.personal_address.city' )">
						<div class="col-sm-4">
							<form-group
								ng-if="hasField( 'legal_entity.personal_address.city' )"
								name="legal_entity.personal_address.city"
								label="City"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-4">
							<form-group
								ng-if="hasField( 'legal_entity.personal_address.state' )"
								name="legal_entity.personal_address.state"
								label="State"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-4">
							<form-group
								ng-if="hasField( 'legal_entity.personal_address.postal_code' )"
								name="legal_entity.personal_address.postal_code"
								label="Zip Code"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
					</div>

					<!-- gj-max-filesize="maxFilesize"
							gj-max-img-width="maxWidth"
							gj-max-img-height="maxHeight" -->
					<div ng-if="stripe.current.verification.fields_needed.indexOf('legal_entity.verification.document') > -1">
						<form-group
							name="legal_entity.verification.document"
							label="Personal ID Document"
							>
							<p class="help-block">This should be a scan of passport, driving licence, or other government supplied identification.</p>
							<gj-form-upload-control
								form-control="upload"
								accept=".png,.jpg,.jpeg,.gif"
								>
							</gj-form-upload-control>
							<control-errors></control-errors>
						</form-group>
					</div>
					<div ng-if="stripe.current.verification.fields_needed.indexOf('legal_entity.verification.document') == -1 && stripe.current.legal_entity.verification.document != null" class='form-group'>
						<p><strong>Personal ID Document</strong></p>
						<p>Provided. :-)</p>
					</div>
				</div>

				<div class="row" ng-if="hasField( 'legal_entity.personal_id_number' )">
					<div class="col-sm-6">
						<form-group
							name="legal_entity.personal_id_number"
							label="Social Security Number"
							>
							<input form-control>
							<control-errors></control-errors>
						</form-group>
					</div>
				</div>

				<fieldset ng-if="account.type=='company'">
					<legend>Your Company</legend>

					<div class="row">
						<div class="col-sm-6">
							<form-group
								ng-if="hasField( 'legal_entity.business_name' )"
								name="legal_entity.business_name"
								label="Company Name"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-6" ng-if="!stripe.current.legal_entity.business_tax_id_provided">
							<form-group
								ng-if="hasField( 'legal_entity.business_tax_id' )"
								name="legal_entity.business_tax_id"
								label="Company Tax Id"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-6" ng-if="stripe.current.legal_entity.business_tax_id_provided">
							<p><strong>Company Tax Id</strong><br/>
								<small>This has been provided.<br/>
								<!-- <a href='#'>Click here to change it.</a>--> </small></p>
						</div>
					</div>

					<form-group
						ng-if="hasField( 'legal_entity.address.line1' )"
						name="legal_entity.address.line1"
						label="Address"
						>
						<input form-control >
						<control-errors></control-errors>
					</form-group>

					<div class="row" ng-if="hasField( 'legal_entity.address.city' )">
						<div class="col-sm-4">
							<form-group
								ng-if="hasField( 'legal_entity.address.city' )"
								name="legal_entity.address.city"
								label="City"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-4">
							<form-group
								ng-if="hasField( 'legal_entity.address.state' )"
								name="legal_entity.address.state"
								label="State"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div class="col-sm-4">
							<form-group
								ng-if="hasField( 'legal_entity.address.postal_code' )"
								name="legal_entity.address.postal_code"
								label="Zip Code"
								>
								<input form-control>
								<control-errors></control-errors>
							</form-group>
						</div>
					</div>
				</fieldset>

				<fieldset ng-if="account.type=='company'">
					<legend>Additional Owners</legend>
					<p class="help-block">The law in your jurisdiction dictates we have to collect information on any company shareholders with a 25% share or more. </p>

					<!-- Foreach additional owner -->
					<div ng-repeat="(key,value) in formModel['legal_entity.additional_owners']" style='margin-left:20px;'>
						<legend>
							<span>{{ value.first_name }} {{ value.last_name }}</span>

							<span href='#' ng-click="removeAdditionalOwner(key)" class="pull-right done-icon" tooltip="{{ 'Remove?' | translate }}">
								<span class="jolticon jolticon-remove big"></span>
							</span>
						</legend>

						<div class="row">
							<div class="col-sm-6">
								<form-group
									name="legal_entity.additional_owners.{{key}}.first_name"
									label="First Name"
									>
									<input form-control ng-model="value.first_name">
									<control-errors></control-errors>
								</form-group>
							</div>
							<div class="col-sm-6">
								<form-group
									name="legal_entity.additional_owners.{{key}}.last_name"
									label="Last Name"
									>
									<input form-control ng-model="value.last_name">
									<control-errors></control-errors>
								</form-group>
							</div>
						</div>

						<div class="row" >
							<div class="col-sm-4">
								<form-group
									name="legal_entity.additional_owners.{{key}}.dob.day"
									label="Birthday"
									>
									<input form-control ng-model="value.dob.day">
									<control-errors></control-errors>
								</form-group>
							</div>
							<div class="col-sm-4">
								<form-group
									name="legal_entity.additional_owners.{{key}}.dob.month"
									label="Month"
									>
									<input form-control ng-model="value.dob.month">
									<control-errors></control-errors>
								</form-group>
							</div>
							<div class="col-sm-4">
								<form-group
									name="legal_entity.additional_owners.{{key}}.dob.year"
									label="Year"
									>
									<input form-control ng-model="value.dob.year">
									<control-errors></control-errors>
								</form-group>
							</div>
						</div>

						<form-group
							name="legal_entity.additional_owners.{{key}}.address.line1"
							label="Address">
							<input form-control ng-model="value.address.line1">
							<control-errors></control-errors>
						</form-group>

						<div class="row">
							<div class="col-sm-4">
								<form-group
									name="legal_entity.additional_owners.{{key}}.address.city"
									label="City"
									>
									<input form-control ng-model="value.address.city">
									<control-errors></control-errors>
								</form-group>
							</div>
							<div class="col-sm-4">
								<form-group
									name="legal_entity.additional_owners.{{key}}.address.state"
									label="State"
									>
									<input form-control ng-model="value.address.state">
									<control-errors></control-errors>
								</form-group>
							</div>
							<div class="col-sm-4">
								<form-group
									name="legal_entity.additional_owners.{{key}}.address.postal_code"
									label="Zip Code"
									>
									<input form-control ng-model="value.address.postal_code">
									<control-errors></control-errors>
								</form-group>
							</div>
						</div>

						<div ng-if="stripe.current.verification.fields_needed.indexOf('legal_entity.additional_owners.' + key + '.verification.document') > -1">
							<form-group
								name="legal_entity.additional_owners.{{key}}.verification.document"
								label="Personal ID Document"
								>
								<p class="help-block">This should be a scan of passport, driving licence, or other government supplied identification.</p>
								<gj-form-upload-control
									form-control="upload"
									accept=".png,.jpg,.jpeg,.gif"
									>
								</gj-form-upload-control>
								<control-errors></control-errors>
							</form-group>
						</div>
						<div ng-if="stripe.current.verification.fields_needed.indexOf('legal_entity.additional_owners.' + key + '.verification.document') == -1 && stripe.current.legal_entity.additional_owners[key].verification.document != null" class='form-group'>
							<p><strong>Personal ID Document</strong></p>
							<p>Provided. :-)</p>
						</div>

					</div>

					<!-- Add additional owner -->
					<div class="row" ng-if="scope.additionalOwnerIndex <= 2">
						<div class="col-sm-offset-9 col-sm-3">
							<button class="btn" ng-click="addAdditionalOwner()">
								<span class="jolticon jolticon-chevron-right"></span>
								Add
							</button>
						</div>
					</div>

				</fieldset>

				<fieldset>
					<legend>Bank Account</legend>
					<div ng-if="stripe.current.external_accounts.total_count >= 1">
						<div class='row'>
							<div class='col-sm-12'>
								<p><strong>Account Holder</strong>: {{ stripe.current.external_accounts.data[0].account_holder_name }}</p>
								<p><strong>Account Type</strong>: {{ stripe.current.external_accounts.data[0].account_holder_type | uppercase }}</p>
								<p><strong>Bank Name</strong>: {{ stripe.current.external_accounts.data[0].bank_name }}</p>
								<p><strong>Country</strong>: {{strong> stripe.current.external_accounts.data[0].country }}</p>
								<p><strong>Account Number (last 4)</strong>: {{ stripe.current.external_accounts.data[0].last4 }}</p>
								<p><strong>Routing Number</strong>: {{ stripe.current.external_accounts.data[0].routing_number }}</p>
								<hr/>
							</div>
						</div>
					</div>
					<div ng-if="stripe.current.external_accounts.total_count == 0" >
						<div class='row'>
							<div class="col-sm-6">
								<form-group name='bankAccount_country' label='Country'>
									<select form-control="select" ng-options="code as country for (code, country) in stripe.countries" ng-change="updateCurrencies()"></select>
								</form-group>
							</div>
							<div class="col-sm-6">
								<form-group name='bankAccount_currency' label='Currency'>
									<select form-control="select" ng-options="currency for (country, currency) in formState.currencies"></select>
								</form-group>
							</div>
						</div>
						<!-- currency: USD -->
						<div class='row'>
							<div class="col-sm-6">
								<form-group name='bankAccount_accountNumber' label='Account Number'>
									<input type='text' form-control/>
									<control-errors></control-errors>
								</form-group>
							</div>
							<div class="col-sm-6">
								<form-group name='bankAccount_routingNumber' label='Routing Number / Sort Code'>
									<input type='text' form-control/>
									<control-errors></control-errors>
								</form-group>
							</div>
						</div>
						<div class='row'>
							<div class="col-sm-6">
								<form-group name='bankAccount_accountHolderName' label='Account Holder Name'>
									<input type='text' form-control/>
									<control-errors></control-errors>
								</form-group>
							</div>
							<div class="col-sm-6">
								<form-group name='bankAccount_accountHolderType' label='Account Holder Type'>
									<select form-control="select">
										<option ng-value="individual">Individual</option>
										<option ng-value="company">Company</option>
									</select>
								</form-group>
							</div>
						</div>
					</div>
				</fieldset>

				<div style='margin-bottom:20px;'>
					<form-group name='stripe_tos_acceptance' label='Stripe Terms of Service'>
						<div ng-if="stripe.current.verification.fields_needed.indexOf('tos_acceptance.ip') > -1 ">
							<div class='checkbox'>
								<label>
									<input type='checkbox' form-control="checkbox" />
									You must agree to the <a href='https://stripe.com/connect/account-terms' target='new'>Stripe Connected Account Agreement</a>.
								</label>
							</div>
						</div>
						<div ng-if="stripe.current.verification.fields_needed.indexOf('tos_acceptance.ip') == -1 ">
							<p><small>You agreed to the <a href='https://stripe.com/connect/account-terms' target='new'>Stripe Connected Account Agreement</a>.</small></p>
						</div>
					</form-group>
				</div>

			</div>



			<!-- <button
				class="btn btn-primary-outline"
				ng-disabled="!canStripeNext()"
				ng-click="onStripeNext()"
				>
				<span translate>Next</span>
			</button> -->
		</div>



		<fieldset ng-if="account.is_verified">
			<legend translate>Percentage Split</legend>

			<p class="small" translate>
				You decide what percentage of your sale revenue to give to Game Jolt. <strong>We won't let you give us more than 10%</strong> because we'd rather have you support other indie developers by buying their games.
			</p>

			<div class="form-group">
				<rzslider
					rz-slider-model="formModel.percentage_split"
					rz-slider-options="sliderOptions"
					>
				</rzslider>
			</div>

		</fieldset>

		<fieldset ng-if="account.is_verified">
			<legend translate>Wallet</legend>

			<p class="small" translate>Your Wallet is where your earnings will be stored for you to buy games on Game Jolt or withdraw into your PayPal account.</p>

			<p class="small" translate>We never take a cut for sales when you pay with your Wallet, and there are no payment processing fees. The money goes directly to the seller.</p>

			<form-group
				name="wallet_maximum"
				label="{{ 'Set an amount you would like to keep in your wallet' | translate }}"
				>
				<p class="help-block">
					<span translate>We'll keep this amount in your Wallet when doing automatic pay outs. This way you always have some money to buy other games on the site.</span>
					<br>
					<span translate>You can choose not to keep money in your Wallet by setting it $0.</span>
				</p>

				<input-group>
					<input-group-addon>
						$
					</input-group-addon>
					<input
						form-control="number"
						gj-form-currency-input
						step="1"
						ng-max="maxWallet / 100"
						ng-min="0"
						>
				</input-group>
				<control-errors></control-errors>
			</form-group>

		</fieldset>

		<fieldset ng-if="account.is_verified">
			<legend translate>Minimum Payout</legend>

			<p class="small" translate>If you'd like, you can set an amount below, and we will not make monthly deposits into your PayPal account until your revenue reaches this amount.</p>

			<form-group
				name="payout_minimum"
				label="Min. Payout Amount"
				>
				<p class="help-block">
					<span translate translate-scope="{ max: currencyFilter( maxPayout / 100, '$' ) }">
						The max you can set this to is {{ max }} USD.
					</span>
					<br>
					<span translate>You can turn this off by setting it to $0.</span>
				</p>

				<input-group>
					<input-group-addon>
						$
					</input-group-addon>
					<input
						form-control="number"
						gj-form-currency-input
						step="1"
						ng-max="maxPayout / 100"
						ng-min="0"
						>
				</input-group>
				<control-errors></control-errors>
			</form-group>

		</fieldset>

		<button
			gj-form-submit-button
			ng-if="account.is_verified || canStripeNext()"
			class="btn"
			ng-click="onSubmit()"
			>
			<span class="jolticon jolticon-edit"></span>
			<span ng-if="account.is_verified" translate>Save</span>
			<span ng-if="canStripeNext()" translate>Next</span>
		</button>
	</div>

</form>
