<form gj-form="formModel" name="financialsForm" class="dash-financials-form">

	<gj-loading ng-if="!formState.isLoaded"></gj-loading>

	<div ng-if="formState.isLoaded">

		<div ng-if="!account.is_verified">
			<div class="alert alert-info" translate>
				Before you can use the Marketplace, we'll need to gather some details from you. This will ensure that your account is completely set up and ready to run smoothly on the Game Jolt Marketplace.
			</div>

			<!--
				If they haven't accepted any terms yet.
			-->
			<fieldset ng-if="!hasSignedAgreement()">
				<legend translate>To start, which type of account would you like to set up?</legend>

				<div class="row">
					<div class="col-xs-6">
						<button class="btn btn-block"
							ng-class="formState.whichAgreement == 'developer' ? 'btn-success' : 'btn-outline'"
							ng-click="formState.whichAgreement = 'developer'"
							translate
							>
							I'm a game developer
						</button>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-block"
							ng-class="formState.whichAgreement == 'partner' ? 'btn-success' : 'btn-outline'"
							ng-click="formState.whichAgreement = 'partner'"
							translate
							>
							I'd like to be a partner
						</button>
						<div class="text-center">
							<br>
							<a class="link-help small" ui-sref="landing.partner" translate>
								What's this?
							</a>
						</div>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="alert alert-success" ng-if="account.is_verified">
			<span class="jolticon jolticon-check"></span>
			<span translate>Your account is ready for the Game Jolt Marketplace! You can set additional options below.</span>
		</div>
		<br>

		<!--
			First step is to sign an agreement.
		-->
		<div gj-expand-when="formState.whichAgreement || hasSignedAgreement()">

			<gj-form-dashboard-financials-developer-terms
				ng-if="formState.whichAgreement == 'developer' || hasSignedAgreement()"
				account="account"
				accepted="acceptTerms( 'developer' )"
				>
			</gj-form-dashboard-financials-developer-terms>

			<gj-form-dashboard-financials-partner-terms
				ng-if="formState.whichAgreement == 'partner' || hasSignedAgreement()"
				account="account"
				accepted="acceptTerms( 'partner' )"
				>
			</gj-form-dashboard-financials-partner-terms>

		</div>

		<!--
			PayPal is required.
		-->
		<gj-form-dashboard-financials-paypal
			ng-if="account"
			user="user"
			>
		</gj-form-dashboard-financials-paypal>

		<!--
			They need to have PayPal linked before they can do this.
		-->
		<fieldset ng-if="account && user.paypal_id">
			<legend>
				<span ng-if="account.is_verified" class="pull-right done-icon" tooltip="{{ 'You have completed this section.' | translate }}">
					<span class="jolticon jolticon-check big"></span>
				</span>
				<span translate>Marketplace Account</span>
			</legend>

			<gj-form-dashboard-financials-managed-account
				ng-if="!account.skip_stripe"
				>
			</gj-form-dashboard-financials-managed-account>

			<div class="alert alert-info" ng-if="account.skip_stripe">
				<p translate>
					You've been manually approved for the Marketplace.
				</p>
			</div>
		</fieldset>

		<!--
			Only allow them to change percentage split if they are signed up as a dev.
		-->
		<fieldset ng-if="account.is_verified && account.tos_signed_developer">
			<legend translate>Percentage Split</legend>

			<p class="small" translate>
				You decide what percentage of your sale revenue to give to Game Jolt. <strong>We won't let you give us more than 10%</strong> because we'd rather have you support other indie developers by buying their games.
			</p>

			<div class="form-group">
				<rzslider
					rz-slider-model="formModel.percentage_split"
					rz-slider-options="sliderOptions"
					>
				</rzslider>
			</div>

		</fieldset>

		<fieldset ng-if="account.is_verified">
			<legend translate>Wallet</legend>

			<p class="small" translate>Your Wallet is where your earnings will be stored for you to buy games on Game Jolt or withdraw into your PayPal account.</p>

			<p class="small" translate>We never take a cut of games you buy when you pay with your Wallet, and there are no payment processing fees. The money goes directly to the developer.</p>

			<form-group
				name="wallet_maximum"
				label="{{ 'Set an amount you would like to keep in your wallet' | translate }}"
				>
				<p class="help-block">
					<span translate>We'll keep this amount in your Wallet when doing automatic pay outs. This way you always have some money to buy other games on the site through your Wallet.</span>
					<br>
					<span translate>To send all your money when doing automatic pay outs set this to $0.</span>
				</p>

				<input-group>
					<input-group-addon>
						$
					</input-group-addon>
					<input
						form-control="number"
						gj-form-currency-input
						step="1"
						ng-max="maxWallet / 100"
						ng-min="0"
						>
				</input-group>
				<control-errors></control-errors>
			</form-group>

		</fieldset>

		<fieldset ng-if="account.is_verified">
			<legend translate>Minimum Payout</legend>

			<p class="small" translate>If you'd like, you can set an amount below, and we will not make monthly deposits into your PayPal account until your revenue reaches this amount. This can help to maintain cleaner accounting on your end.</p>

			<form-group
				name="payout_minimum"
				label="Min. Payout Amount"
				>
				<p class="help-block">
					<span translate translate-params-max="maxPayout / 100 | currency:'$'">
						The max you can set this to is {{ max }} USD.
					</span>
					<br>
					<span translate>For no minimum, set this to $0.</span>
				</p>

				<input-group>
					<input-group-addon>
						$
					</input-group-addon>
					<input
						form-control="number"
						gj-form-currency-input
						step="1"
						ng-max="maxPayout / 100"
						ng-min="0"
						>
				</input-group>
				<control-errors></control-errors>
			</form-group>

		</fieldset>

		<button
			gj-form-submit-button
			ng-if="account.is_verified"
			class="btn"
			ng-click="onSubmit()"
			>
			<span class="jolticon jolticon-edit"></span>
			<span translate>Save</span>
		</button>
	</div>

</form>
