<div class="client-migrate fill-darkest" v-if="!isClosed">
	<div class="container client-migrate-content">
		<div class="col-sm-10 col-md-8 col-lg-6 col-centered">
			<h1>Migrating Games</h1>
			<p>We need to update your game DB to the latest version.</p>

			<template v-if="stage == 'running'">
				<div class="alert alert-warning">
					<p><b>You have games running.</b> Please close all running games so that we can continue the migration.</p>
				</div>
			</template>

			<template v-else-if="stage == 'migrate'">
				<div
					class="progress progress-thin"
					:class="{
						'progress-success': !packageFailed,
						'progress-danger': packageFailed,
					}"
					>
					<div class="progress-bar"
						:style="{ width: progress + '%' }"
						>
					</div>
				</div>

				<template v-if="packageFailed">
					<div class="alert alert-warning">
						<p><b>{{ packageTitle }} could not be migrated.</b></p>
						<p>This may be because you currently have the game running. Restarting your computer might help. If that doesn't work, you will have to uninstall the game and reinstall it after the migration is done.</p>

						<div class="alert-actions">
							<button class="btn btn-success-outline" @click="retry()">
								Retry
							</button>

							<button class="btn btn-danger-outline" @click="uninstall()">
								Uninstall Game
							</button>
						</div>
					</div>
				</template>

				<template v-else>
					<app-loading
						centered
						stationary
						:label="$gettext('Processing...')"
						/>
				</template>
			</template>
		</div>
	</div>
</div>
