.chat-user

	&:hover
		.chat-user-moderate-action
			opacity: 1

.chat-user-list-meta
	@extend .text-muted
	text-overflow()
	font-size: $font-size-small

.chat-user-moderate
	float: right
	margin-top: 2px

	.chat-user-moderate-action
		display: inline-block
		opacity: 0

		&:hover .jolticon
			color: $gj-blue !important

.chat-user-role
	float: none !important
	margin-left: 0 !important
	margin-right: 5px !important

.chat-user-role + .chat-user-role
	margin-left: -5px !important

.chat-user-avatar
	display: inline-block
	position: relative
	margin: 0 10px

	img
		display: inline-block
		width: 25px
		vertical-align: middle
		border-radius: 50%

	.chat-user-status
		position: absolute
		right: -2px
		bottom: 8px
		width: 12px
		height: 12px
		border: 2px solid rgb(25, 25, 25)
		border-radius: 100%

		&.online
			background-color: $gj-green

		&.in-game
			background-color: $gj-pink

		&.offline
			background-color: $gray-lightest
