@require '~styles/variables'
@require '~styles-lib/mixins'
@require '../common.styl'

.-list
	full-bleed()
	white-space: nowrap
	padding-left: $grid-gutter-width-xs * 0.5
	padding-right: $grid-gutter-width-xs * 0.5
	margin-bottom: $line-height-computed

	@media $media-sm-up
		padding-left: $grid-gutter-width * 0.5
		padding-right: $grid-gutter-width * 0.5

.-scroller
	clearfix()
	padding-bottom: 8px
	overflow: hidden

	@media $media-xs
		padding-bottom: 4px

.-container
	display: inline-block

	&:first-child
		margin-left: 2px

	.-item
		img-circle()
		change-bg('bg-subtle')
		height: $-size-xs

		&.-last
			margin-right: 0

		@media $media-sm-up
			height: $-size

	.-text
		lazy-placeholder-block()
		change-bg('bg-subtle')
		margin: 15px 0 0 10px
		width: 80px
		height: $font-size-small
		display: none

		@media $media-md-up
			display: block
