<app-popover
	popover-id="scoreboard-selector"
	track-element-width=".scoreboard-selector"
	>
	<div class="popover-heading">
		<strong>
			<translate>scores.scoreboard_popover.heading</translate>
		</strong>
	</div>

	<div class="list-group">
		<a class="list-group-item has-icon"
			v-for="table of tables"
			:key="table.id"
			@click="selectTable( table )"
			>

			<h5 class="list-group-item-heading sans-margin-bottom">
				<app-jolticon icon="check" v-if="table.id === currentTable.id" />
				<strong>{{ table.name }}</strong>
			</h5>

			<div class="list-group-item-text">{{ table.description }}</div>
		</a>
	</div>
</app-popover>
