<gj-popover popover-id="scoreboard-selector" popover-track-element-width=".scoreboard-selector">
	<div class="popover-heading"><strong>{{ ::'scores.scoreboard_popover.heading' | translate }}</strong></div>

	<div class="list-group">
		<a class="list-group-item has-icon"
			ng-repeat="table in ctrl.tables track by table.id"
			ng-click="ctrl.selectTable( table )"
			>

			<h5 class="list-group-item-heading sans-margin-bottom">
				<span class="jolticon jolticon-check" ng-if="table.id == ctrl.currentTable.id"></span>
				<strong>{{ ::table.name }}</strong>
			</h5>

			<div class="list-group-item-text">{{ ::table.description }}</div>
		</a>
	</div>
</gj-popover>
