@import '../../lib/gj-lib-client/stylus/common/variables'

/**
 * Colors
 */
$body-bg = $white
$text-color = $gray-darker
$headings-color = $gray-dark
$link-color = $gj-dark-green
$link-hover-color = $black

$container-desktop = $container-sm
$container-md = $container-sm
$container-large-desktop = $container-sm
$container-lg = $container-sm
