.page-cut
	position: relative
	text-align: center
	padding-bottom: $grid-gutter-width
	content-prop('background-color', 'base')

	&::before
		content: ''
		position: absolute
		top: 18px
		left: 0
		right: 0
		height: 0
		line-height: 0
		border-top-width: 2px
		border-top-style: dashed
		content-prop('border-top-color', 'muted')
		overflow: hidden

	.btn
		position: relative
		content-prop('background-color', 'base')
		z-index: 2

		&:hover
			background-color: $black
