@require '~styles/variables'
@require '~styles-lib/mixins'

.page-cut
	content-prop('background-color', 'bg')
	position: relative
	text-align: center
	padding-bottom: $grid-gutter-width

	&::before
		content-prop('border-top-color', 'bg-subtle')
		content: ''
		position: absolute
		top: 18px
		left: 0
		right: 0
		height: 0
		line-height: 0
		border-top-width: 2px
		border-top-style: dashed
		overflow: hidden

	.btn
		content-prop('background-color', 'bg')
		position: relative
		z-index: 2

		&:hover
			background-color: $black !important
