.page-cut
	position: relative
	text-align: center
	padding-bottom: $grid-gutter-width
	background-color: $white

	&::before
		content: ''
		position: absolute
		top: 18px
		left: 0
		right: 0
		height: 0
		line-height: 0
		border-top: 2px dashed $gray-lighter
		overflow: hidden

	.btn
		position: relative
		background-color: $white
		z-index: 2

		&:hover
			background-color: $black
