gj-devlog-post-media-video-embed
	display: block
	position: relative

	video
		width: 100%
		display: block

.devlog-post-media-video-embed-loader
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba( $black, 0.5 )
	z-index: 2
	display: flex
	align-items: center
	justify-content: center
