@require '~styles/variables'

.user-level-widget-level
	float: left
	padding: 10px 0
	width: 110px
	height: 140px
	text-align: center

.user-level-widget-level-digit
	padding-top: 15px
	font-family: $font-family-heading
	font-weight: 300
	font-size: $font-size-h2
	color: $gj-green

.user-level-widget-level-label
	font-size: $font-size-small
	color: $gray-lighter

.user-level-widget-experience
	padding: 7px
	height: 140px

.user-level-widget-progress
	margin-top: 5px
