<div class="user-level-widget">
	<div class="user-level-widget-level fill-darker">
		<div class="user-level-widget-level-digit">{{ user.level }}</div>
		<div class="user-level-widget-level-label">Current Level</div>
	</div>
	<div class="user-level-widget-experience fill-lightest text-right">
		<div class="stat-big stat-big-smaller">
			<div class="stat-big-label">Current EXP</div>
			<div class="stat-big-digit">{{ user.experience | number }} EXP</div>
		</div>
		<div class="stat-big stat-big-smaller">
			<div class="stat-big-label">Next Level in</div>
			<div class="stat-big-digit">{{ user.experience_next | number }} EXP</div>
		</div>
	</div>
	<app-progress-bar
		class="user-level-widget-progress"
		:percent="user.level_next_percentage"
		:thin="true"
		variant="green"
		v-app-tooltip="tooltip"
		/>
</div>
