$meter-blip-count = 10

.meter
	@extend .clearfix

.meter-blip
	float: left
	display: inline-block
	vertical-align: bottom
	margin-right: 1px
	width: 2px
	overflow: hidden
	background-color: $gray-lighter

	.meter-big &
		width: 4px
		margin-right: 2px

.meter-blip-filled
	.meter-low &
		background-color: $gj-pink

	.meter-mid &
	.meter-high &
		background-color: $gray

.meter-dark

	.meter-blip
		background-color: $gray-light

.meter-blip-filled
	.meter-dark .meter-low &
		background-color: $gj-pink

	.meter-dark .meter-mid &
		background-color: $gray-lightest

	.meter-dark .meter-high &
		background-color: $gj-green

for i in 1..$meter-blip-count
	.meter-blip:nth-child( {i} )
		height: 10px

		&:nth-child(odd)
			margin-top: 5px
			height: 5px

		.meter-big &
			height: 20px

			&:nth-child(odd)
				margin-top: 10px
				height: 10px
