<fieldset>

	<legend>
		<span ng-if="$ctrl.hasSignedPartnerAgreement()" class="pull-right done-icon" tooltip="{{ 'You have completed this section.' | translate }}">
			<span class="jolticon jolticon-check big"></span>
		</span>
		Partner Agreement
	</legend>

	<div ng-if="!$ctrl.hasSignedPartnerAgreement()">

		<!--
			If they accepted a different agreement, then show that they can accept this one too.
		-->
		<div class="form-group" ng-if="$ctrl.hasSignedSomeAgreement() && !$ctrl.showAgreement">
			<div class="small">
				<div translate>If you would to be a Game Jolt partner, you must accept the Partner Agreement.</div>
			</div>
			<br>

			<button
				class="btn btn-primary-outline"
				ng-click="$ctrl.showAgreement = true"
				translate
				>
				Show Partner Agreement
			</button>
		</div>

		<div class="form-group" ng-if="!$ctrl.hasSignedSomeAgreement() || $ctrl.showAgreement">
			<div class="tos-scroller overlay-scrollbar overlay-scrollbar-light">
				<div ng-include="'/terms/partner/global.html'"></div>
			</div>
			<br>

			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="$ctrl.checked">
					By checking this box and clicking the button below marked "I Agree," I agree that I have read, understand, and agree to be bound by the terms of this agreement.
				</label>
			</div>
			<br>

			<button
				class="btn btn-success-outline"
				ng-disabled="!$ctrl.checked"
				ng-click="$ctrl.onAccept()"
				>
				I Agree
			</button>
		</div>

	</div>

	<div class="form-group" ng-if="$ctrl.hasSignedPartnerAgreement()">
		<p class="small">You have agreed to our <b>Partner Agreement</b> on {{ $ctrl.account.tos_signed_partner_timestamp | date:'medium' }}.</p>
	</div>

</fieldset>
