<div class="game-page-cover">

	<div class="game-page-cover-img"
		:style="{
			'background-image': `url('${coverMediaItem.mediaserver_url}')`,
		}"
		>
	</div>

	<div class="_content">

		<div class="_meta">

			<h1>{{ game.title }}</h1>
			<div class="_byline">
				{{ game.developer.display_name }}
				<small>
					@{{ game.developer.username }}
				</small>
			</div>

			<div class="_subline">

				<router-link
					:to="{
						name: 'discover.games.list._fetch-date',
						params: {
							section: 'by-date',
							date: date( game.published_on, 'YYYY-MM-DD' ),
						},
					}"
					>
					<app-time-ago :date="game.published_on" />
				</router-link>

			</div>

			<div class="_controls">

				<div class="clearfix">

					<div class="pull-left">

						<button class="btn btn-success-outline btn-overlay-variant">
							Download Game
						</button>

						<!-- Buttons / Controls -->
						<app-game-follow-widget class="btn-overlay-variant" :game="game" />

						<!--
							Playlists
							Can only add visible games to playlists.
						-->
						<a
							v-if="game.status === Game.STATUS_VISIBLE"
							class="btn btn-outline btn-overlay-variant btn-sparse"
							v-app-auth-required
							v-app-popover-trigger="{
								id: `add-to-playlist`,
								disabled: !app.user,
							}"
							v-app-tooltip.bottom-center="$gettext( 'Add to Playlist' )"
							v-app-track-event="`game-profile:add-playlist`"
							>
							<app-jolticon icon="add" />
						</a>

						<app-game-playlist-add-to-popover :game="game" />

					</div>

					<div class="pull-right">

						<app-game-ogrs-tag
							v-if="game.tigrs_age"
							:game="game"
							/>

						<!--<span v-if="game.ratings_enabled">
							<span class="dot-separator"></span>
							<app-meter
								:big="true"
								:dark="true"
								:rating="game.avg_rating"
								v-app-tooltip="ratingTooltip"
								/>
						</span>-->

					</div>

				</div>

			</div>

			<hr>

			<div>
				<a class="overlay-box">

					<span class="_num">3</span>
					Packages

				</a>

				<a class="overlay-box">

					<span class="_num">3</span>
					Comments

				</a>
			</div>

			<br>

			<!--<hr>-->

			<div class="page-navigation">
				<div class="page-navigation-label">
					Details
				</div>
				<app-jolticon icon="chevron-down" />
			</div>

		</div>

	</div>

</div>
