@require '~styles/variables'

full-page()
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

text-shadow()
	text-shadow: 0 0 5px rgba( $black, 0.5 )

.game-page-cover
	background-color: $gray-darker
	position: relative
	width: 100vw
	height: 95vh
	overflow: hidden

	&-img
		full-page()
		background-size: cover
		background-position: 50% 50%
		opacity: 0.3
		z-index: 0

	&
	h1
		color: $white

h1
	margin-bottom: 0

hr
	border-color: rgba( $white, 0.4 )

._content
	full-page()
	margin: $grid-gutter-width * 2
	margin-bottom: $grid-gutter-width

._meta
	text-shadow()
	position: absolute
	bottom: 0
	left: 0
	right: 0

._subline
	font-size: $font-size-small
	margin-bottom: $line-height-computed

	&
	a
		color: rgba( $white, 0.7 )

.meter
	display: inline-block

.game-ogrs-tag
	margin-top: 10px

.overlay-box
	margin-right: 10px
	display: inline-block
	background-color: rgba( $black, 0.4 )
	width: 200px
	height: 100px
	color: $white
	text-align: center

	._num
		display: block
		margin-top: 13px
		font-weight: bold
		font-size: $font-size-h2

.page-navigation
	text-align: center

	&-label
		font-weight: bold
		font-size: $font-size-small
		margin-bottom: 5px
