<div class="comment-overview">
	<!--
		Capture the click and prevent default so that no links within the content open up.
	-->
	<div
		class="-comment"
		v-for="comment of comments"
		:key="comment.id"
		@click.capture="$event.preventDefault(); open(comment)"
		>

		<div class="-byline">
			<div class="-avatar">
				<app-user-card-hover
					:user="comment.user"
					>
					<app-user-avatar-img
						:user="comment.user"
						/>
				</app-user-card-hover>
			</div>

			<strong>{{ comment.user.display_name }}</strong>
			<small class="text-muted">@{{ comment.user.username }}</small>
		</div>
		<app-fade-collapse :collapse-height="120">
			<div
				class="-content comment-content"
				v-html="comment.comment_compiled"
				/>
		</app-fade-collapse>
	</div>
</div>
