@require '~styles/variables'
@require '~styles-lib/mixins'

.-comment
	rounded-corners()
	theme-prop('border-color', 'bg-offset')
	padding: 10px
	border-width: 1px
	border-style: solid
	margin-bottom: 4px

	&:hover
		theme-prop('border-color', 'link')
		cursor: pointer

.-byline
	clearfix()
	margin-bottom: 10px
	line-height: 30px

.-avatar
	float: left
	margin-right: 10px
	width: 30px

.-content
	font-size: $font-size-small
