<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 pull-right">
				<app-button
					@click="markAllAsRead"
					>
					<translate>Mark all as Read</translate>
				</app-button>
			</div>
			<div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">

				<app-activity-feed-placeholder v-if="!feed" />
				<template v-else>
					<div class="alert" v-if="!feed.hasItems">
						<translate>You don't have any notifications yet.</translate>
					</div>
					<app-activity-feed
						v-else
						:feed="feed"
						:new-count="unreadNotificationsCount"
						@load-new="loadedNew()"
						/>
				</template>

			</div>
		</div>
	</div>
</section>
