<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-7 col-centered">

				<app-activity-feed-placeholder v-if="!feed || !feed.isBootstrapped" />
				<template v-else>
					<div class="alert" v-if="!feed.hasItems">
						<translate>You don't have any notifications yet.</translate>
					</div>
					<app-activity-feed
						v-else
						:feed="feed"
						:new-count="unreadNotificationsCount"
						@load-new="loadedNew()"
						/>
				</template>

			</div>
		</div>
	</div>
</section>
