<!-- Buttons -->
<div class="devlog-post-controls">
	<hr>

	<div class="devlog-post-controls-links">
		<a class="link-muted"
			ng-click="$ctrl.toggleComments()"
			ng-switch="$ctrl.post.comment_count > 0"
			>
			<span
				ng-switch-when="true"
				translate
				translate-n="$ctrl.post.comment_count"
				translate-plural="{{ $count | number }} comments"
				>
				1 comment
			</span>
			<span
				ng-switch-when="false"
				translate
				>
				Leave a comment
			</span>
		</a>

		<span ng-if="$ctrl.post.like_count > 0">
			<span class="dot-separator"></span>
			<a class="link-muted"
				ng-click="$ctrl.toggleLikes()"
				translate
				translate-n="$ctrl.post.like_count"
				translate-plural="{{ $count | number }} likes"
				>
				1 like
			</a>
		</span>

		<span ng-if="::$ctrl.feed.showGameInfo">
			<span class="dot-separator"></span>
			<a class="link-muted"
				ui-sref="discover.games.view.overview( { slug: $ctrl.post.game.slug, id: $ctrl.post.game.id } )"
				translate
				>
				View game
			</a>
		</span>
	</div>

	<div class="clearfix">
		<div class="pull-left" ng-if="::$ctrl.post.status == $ctrl.firesidePostModel.STATUS_ACTIVE">
			<button class="btn btn-outline btn-sparse"
				ng-click="$ctrl.toggleComments()"
				gj-tooltip="Comment on This Post"
				>
				<span class="jolticon jolticon-reply"></span>
			</button>

			<gj-fireside-post-like-widget
				fireside-post="$ctrl.post"
				sparse="true"
				>
			</gj-fireside-post-like-widget>

			<gj-game-follow-widget
				ng-if="::$ctrl.feed.showGameInfo && $ctrl.app.user && $ctrl.post.user.id != $ctrl.app.user.id"
				game="$ctrl.post.game"
				>
			</gj-game-follow-widget>
		</div>

		<div class="pull-right" ng-if="::$ctrl.feed.showEditControls && $ctrl.app.user && $ctrl.post.user.id == $ctrl.app.user.id">
			<button class="btn btn-success-outline" ng-if="$ctrl.post.status == $ctrl.firesidePostModel.STATUS_DRAFT" ng-click="$ctrl.publishPost()">
				<span class="jolticon jolticon-check"></span>
				<span translate>Publish</span>
			</button>
			<button class="btn btn-outline" ng-click="$ctrl.showEdit()">
				<span class="jolticon jolticon-edit"></span>
				<span translate>Edit</span>
			</button>
			<button class="btn btn-outline btn-sparse" gj-popover-trigger="devlog-post-controls-options-{{ ::$ctrl.post.id }}">
				<span class="jolticon jolticon-ellipsis-h"></span>
			</button>
		</div>
	</div>

</div>

<gj-popover popover-id="devlog-post-controls-options-{{ ::$ctrl.post.id }}">
	<div class="list-group list-group-dark">
		<a class="list-group-item has-icon"
			ng-click="$ctrl.removePost()"
			>
			<span class="jolticon jolticon-remove warning"></span>
			<span translate>Remove Post</span>
		</a>
	</div>
</gj-popover>

<div class="devlog-post-controls-well" ng-if="$ctrl.isShowingComments">
	<gj-comment-widget
		comment-resource="Fireside_Post"
		comment-resource-id="::$ctrl.post.id"
		no-intro="true"
		>
	</gj-comment-widget>
</div>

<div class="devlog-post-controls-well" ng-if="$ctrl.isShowingLikes">

	<gj-loading ng-if="!$ctrl.hasLoadedLikes"></gj-loading>

	<div ng-if="$ctrl.hasLoadedLikes">
		<a
			ng-repeat="like in $ctrl.likes track by like.id"
			ui-sref="profile.overview( { slug: like.user.slug, id: like.user.id } )"
			>
			<gj-card>
				<div style="width: 40px; float: left">
					<div class="friend-request-popover-avatar" gj-user-avatar="::like.user"></div>
				</div>
				<div style="margin-left: 55px;">
					<div class="card-title">
						<h5>{{ ::like.user.display_name }}</h5>
					</div>
				</div>
			</gj-card>
		</a>
	</div>

</div>
