<section class="section media-item-cover"
	ng-class="{ loaded: $ctrl.isLoaded }"
	>

	<div class="media-item-cover-img">
		<img
			gj-img-responsive="{{ $ctrl.mediaItem.mediaserver_url }}"
			is-loaded="$ctrl.isLoaded"
			alt=""
			gj-parallax-scroll="::$ctrl.shouldParallax"
			scroll-drag="0.4"
			scroll-dim="0.8"
			>
	</div>

	<div class="loading-container" ng-if="!$ctrl.isLoaded">
		<gj-loading
			class="loading-centered"
			loading-no-color
			loading-stationary
			hide-label
			>
		</gj-loading>
	</div>

	<div class="media-item-cover-content" ng-transclude></div>

</section>
