<form gj-form="formModel" name="gameForm">

	<div ng-if="!isLoaded">
		<gj-loading></gj-loading>
	</div>

	<div ng-if="isLoaded" ng-switch="stage()">
		<div ng-switch-when="rules">

			<h3 class="section-header" translate>dash.games.add.rules_heading</h3>

			<div translate>
				<p>You must agree to the following rules before adding a game:</p>
				<ul>
					<li>Don't upload games you didn't make. If you are not the game's developer, don't add the game to the site. If you're a fan, encourage the developer to add it themselves.</li>
					<li>Publishers are not allowed to upload games; only developers are.</li>
					<li>Only actual <em>games</em> may be uploaded to the site. No applications, software, or tools are allowed at this time. We may accept these in the future or on a case by case basis, but for now, let's just keep it to games.</li>
					<li>No stripped-down demos or "lite" versions of commercial games are permitted, unless you also add the full version for sale.</li>
					<li>We welcome and encourage you to add games that are incomplete and still in development, as long as they are tagged as Works-in-Progress. However, you should keep your game hidden until you have something to show. Work-in-Progress games do not have to be playable, but they must be further along than the concept stage. Before you unhide the game, make sure you at least have some screenshots and an informative description.</li>
					<li>Do not add links to download/play or purchase your game on other sites unless you have already uploaded it to Game Jolt. You can't use your game page as an advertisement for another site.</li>
					<li>For browser-based games, we don't allow you to display ads in the preloader on Game Jolt. Remove any ads or block them from showing on the site.</li>
				</ul>
				<p>If you have questions or concerns about the rules, get in touch: <a href="mailto:contact@gamejolt.com">contact@gamejolt.com</a></p>
			</div>

			<br>
			<div>
				<a class="i-button big block" ng-click="acceptRules()">
					<span class="jolticon jolticon-checkbox"></span>
					<span translate>dash.games.add.rules_accept_button</span>
				</a>
			</div>

		</div>

		<div ng-switch-when="type">
			<form-group name="development_status" label="{{ 'dash.games.form.dev_status_label' | translate }}">
				<div ng-if="!checkIsCompleteAllowed()" class="alert alert-info" translate>dash.games.form.dev_status_not_completable_info_html</div>

				<div class="radio" ng-class="{ disabled: !checkIsCompleteAllowed() }">
					<label>
						<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_FINISHED" ng-disabled="!checkIsCompleteAllowed()">
						<strong translate>Complete/Stable</strong> <br>
						<span class="help-inline" translate>
							Your game is complete. It's in a stable state and you only plan on making bug fixes or performance optimizations.
						</span>
					</label>
				</div>
				<div class="radio">
					<label>
						<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_WIP">
						<strong translate>Early Access</strong> <br>
						<span class="help-inline" translate>
							Your game has early playable builds, but it's not finished yet. You're still actively developing it and will continue to release new builds periodically.
						</span>
					</label>
				</div>
				<div class="radio">
					<label>
						<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_DEVLOG">
						<strong translate>Devlog-Only/No Builds</strong> <br>
						<span class="help-inline" translate>
							You don't have anything playable yet, but you're actively developing your game and have stuff to show off. Your game page will be more focused on your Devlog as its primary purpose.
						</span>
					</label>
				</div>
				<!--<div class="radio" ng-class="{ disabled: !checkIsCompleteAllowed() }">
					<label>
						<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_CANCELED" ng-disabled="!checkIsCompleteAllowed()">
						<span translate>dash.games.form.dev_status_canceled</span> <br>
						<span class="help-inline" translate>dash.games.form.dev_status_canceled_help</span>
					</label>
				</div>-->

				<control-errors></control-errors>
			</form-group>
		</div>

		<div ng-switch-when="details">

			<fieldset ng-class="{ 'game-form-disabled': isDisabled }" ng-disabled="isDisabled">

				<form-group name="title" label="{{ 'dash.games.form.title_label' | translate }}">
					<input form-control="text" ng-maxlength="250">
					<control-errors></control-errors>
				</form-group>

				<form-group name="web_site" label="{{ 'dash.games.form.website_label' | translate }}" optional="true">
					<input form-control="url" ng-maxlength="250">
					<control-errors></control-errors>
				</form-group>

				<form-group name="category" label="{{ 'dash.games.form.category_label' | translate }}">
					<select form-control="select" ng-options="key as val for ( key, val ) in categories">
						<option value="" translate>dash.games.form.category_placeholder</option>
					</select>
					<control-errors></control-errors>
				</form-group>

				<form-group name="creation_tool" label="{{ 'dash.games.form.engine_label' | translate }}">
					<select form-control="select" ng-options="key as val for (key, val) in engines">
						<option value="" translate>dash.games.form.engine_placeholder</option>
					</select>
					<control-errors></control-errors>
				</form-group>

				<div gj-expand-when="formModel.creation_tool == 'other'">
					<form-group name="creation_tool_other" label="{{ 'dash.games.form.engine_other_label' | translate }}" optional="true">
						<input form-control="text" ng-maxlength="200">
						<control-errors></control-errors>

						<p class="help-block">
							<span translate>dash.games.form.engine_other_help</span>
							<span class="text-help" tooltip="{{ 'dash.games.form.engine_other_why_tooltip' | translate }}" translate>
								dash.games.form.engine_other_why
							</span>
						</p>
					</form-group>
				</div>

				<!--<form-group name="development_status" label="{{ 'dash.games.form.dev_status_label' | translate }}">
					<div ng-if="!checkIsCompleteAllowed()" class="alert alert-info" translate>dash.games.form.dev_status_not_completable_info_html</div>

					<div class="radio" ng-class="{ disabled: !checkIsCompleteAllowed() }">
						<label>
							<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_FINISHED" ng-disabled="!checkIsCompleteAllowed()">
							<span translate>dash.games.form.dev_status_finished</span> <br>
							<span class="help-inline" translate>dash.games.form.dev_status_finished_help</span>
						</label>
					</div>
					<div class="radio">
						<label>
							<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_WIP">
							<span translate>dash.games.form.dev_status_wip</span> <br>
							<span class="help-inline" translate>dash.games.form.dev_status_wip_help</span>
						</label>
					</div>
					<div class="radio" ng-class="{ disabled: !checkIsCompleteAllowed() }">
						<label>
							<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_CANCELED" ng-disabled="!checkIsCompleteAllowed()">
							<span translate>dash.games.form.dev_status_canceled</span> <br>
							<span class="help-inline" translate>dash.games.form.dev_status_canceled_help</span>
						</label>
					</div>

					<control-errors></control-errors>
				</form-group>-->

				<!--<form-group name="status" label="{{ 'dash.games.form.status_label' | translate }}" ng-if="method == 'edit'">
					<div ng-if="!checkIsPublishable()" class="alert alert-info" translate>dash.games.form.status_not_publishable_info_html</div>

					<div class="radio" ng-class="{ disabled: !checkIsPublishable() }">
						<label>
							<input form-control="radio" ng-value="Game.STATUS_VISIBLE" ng-disabled="!checkIsPublishable()">
							<span translate>dash.games.form.status_published</span> <br>
							<span class="help-inline" translate>dash.games.form.status_published_help</span>
						</label>
					</div>
					<div class="radio">
						<label>
							<input form-control="radio" ng-value="Game.STATUS_HIDDEN">
							<span translate>dash.games.form.status_hidden</span> <br>
							<span class="help-inline" translate>dash.games.form.status_hidden_help</span>
						</label>
					</div>

					<control-errors></control-errors>
				</form-group>

				<div gj-expand-when="baseModel.status != formModel.status && formModel.status == Game.STATUS_VISIBLE">
					<div class="alert alert-warning" translate>
						dash.games.overview.publish_confirmation
					</div>
				</div>-->

				<!--<div ng-if="!isDisabled">
					<button gj-form-submit-button class="i-button" ng-disabled="!gameForm.$valid" ng-click="onSubmit()">
						<span ng-if="method == 'add'">
							<span class="jolticon jolticon-add"></span>
							<span translate>dash.games.form.add_button</span>
						</span>
						<span ng-if="method == 'edit'">
							<span class="jolticon jolticon-edit"></span>
							<span translate>dash.games.form.edit_button</span>
						</span>
					</button>
				</div>-->

			</fieldset>

		</div>
	</div>

	<div ng-if="isWizard">
		<gj-form-dashboard-game-wizard-controls
			on-next="onSubmit()"
			>
		</gj-form-dashboard-game-wizard-controls>
	</div>

</form>
