<form gj-form="formModel" name="gameForm">

	<div ng-if="!isLoaded">
		<gj-loading></gj-loading>
	</div>

	<div ng-if="isLoaded">
		<div ng-if="isShowingRules">

			<h3 class="section-header" translate>dash.games.add.rules_heading</h3>

			<div translate>dash.games.add.rules_html</div>

			<br>
			<div>
				<a class="i-button big block" ng-click="acceptRules()">
					<span class="jolticon jolticon-checkbox"></span>
					<span translate>dash.games.add.rules_accept_button</span>
				</a>
			</div>

		</div>

		<div ng-if="!isShowingRules">

			<fieldset ng-class="{ 'game-form-disabled': isDisabled }" ng-disabled="isDisabled">

				<form-group name="title" label="{{ 'dash.games.form.title_label' | translate }}">
					<input form-control="text" ng-maxlength="250">
					<control-errors></control-errors>
				</form-group>

				<form-group name="web_site" label="{{ 'dash.games.form.website_label' | translate }}" optional="true">
					<input form-control="url" ng-maxlength="250">
					<control-errors></control-errors>
				</form-group>

				<form-group name="category" label="{{ 'dash.games.form.category_label' | translate }}">
					<select form-control="select" ng-options="key as val for ( key, val ) in categories">
						<option value="" translate>dash.games.form.category_placeholder</option>
					</select>
					<control-errors></control-errors>
				</form-group>

				<form-group name="creation_tool" label="{{ 'dash.games.form.engine_label' | translate }}">
					<select form-control="select" ng-options="key as val for (key, val) in engines">
						<option value="" translate>dash.games.form.engine_placeholder</option>
					</select>
					<control-errors></control-errors>
				</form-group>

				<div gj-expand-when="formModel.creation_tool == 'other'">
					<form-group name="creation_tool_other" label="{{ 'dash.games.form.engine_other_label' | translate }}" optional="true">
						<input form-control="text" ng-maxlength="200">
						<control-errors></control-errors>

						<p class="help-block">
							<span translate>dash.games.form.engine_other_help</span>
							<span class="text-help" tooltip="{{ 'dash.games.form.engine_other_why_tooltip' | translate }}" translate>
								dash.games.form.engine_other_why
							</span>
						</p>
					</form-group>
				</div>

				<form-group name="development_status" label="{{ 'dash.games.form.dev_status_label' | translate }}">
					<div ng-if="!checkIsCompleteAllowed()" class="alert alert-info" translate>dash.games.form.dev_status_not_completable_info_html</div>

					<div class="radio" ng-class="{ disabled: !checkIsCompleteAllowed() }">
						<label>
							<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_FINISHED" ng-disabled="!checkIsCompleteAllowed()">
							<span translate>dash.games.form.dev_status_finished</span <br>
							<span class="help-inline" translate>dash.games.form.dev_status_finished_help</span>
						</label>
					</div>
					<div class="radio">
						<label>
							<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_WIP">
							<span translate>dash.games.form.dev_status_wip</span <br>
							<span class="help-inline" translate>dash.games.form.dev_status_wip_help</span>
						</label>
					</div>
					<div class="radio" ng-class="{ disabled: !checkIsCompleteAllowed() }">
						<label>
							<input form-control="radio" ng-value="Game.DEVELOPMENT_STATUS_CANCELED" ng-disabled="!checkIsCompleteAllowed()">
							<span translate>dash.games.form.dev_status_canceled</span <br>
							<span class="help-inline" translate>dash.games.form.dev_status_canceled_help</span>
						</label>
					</div>

					<control-errors></control-errors>
				</form-group>

				<form-group name="description_markdown" label="{{ 'dash.games.form.description_label' | translate }}">

					<p class="help-block" translate>dash.games.form.description_help_html</p>

					<div
						form-markdown-editor
						preview-class="game-compiled-description"
						markdown-preview-url="/web/dash/developer/games/preview-description"
						markdown-mode="games"
						>
					</div>

					<control-errors></control-errors>

				</form-group>

				<form-group name="status" label="{{ 'dash.games.form.status_label' | translate }}" ng-if="method == 'edit'">
					<div ng-if="!checkIsPublishable()" class="alert alert-info" translate>dash.games.form.status_not_publishable_info_html</div>

					<div class="radio" ng-class="{ disabled: !checkIsPublishable() }">
						<label>
							<input form-control="radio" ng-value="Game.STATUS_VISIBLE" ng-disabled="!checkIsPublishable()">
							<span translate>dash.games.form.status_published</span> <br>
							<span class="help-inline" translate>dash.games.form.status_published_help</span>
						</label>
					</div>
					<div class="radio">
						<label>
							<input form-control="radio" ng-value="Game.STATUS_HIDDEN">
							<span translate>dash.games.form.status_hidden</span> <br>
							<span class="help-inline" translate>dash.games.form.status_hidden_help</span>
						</label>
					</div>

					<control-errors></control-errors>
				</form-group>

				<div gj-expand-when="baseModel.status != formModel.status && formModel.status == Game.STATUS_VISIBLE">
					<div class="alert alert-warning" translate>
						dash.games.overview.publish_confirmation
					</div>
				</div>

				<div ng-if="!isDisabled">
					<button gj-form-submit-button class="i-button" ng-disabled="!gameForm.$valid" ng-click="onSubmit()">
						<span ng-if="method == 'add'">
							<span class="jolticon jolticon-add"></span>
							<span translate>dash.games.form.add_button</span>
						</span>
						<span ng-if="method == 'edit'">
							<span class="jolticon jolticon-edit"></span>
							<span translate>dash.games.form.edit_button</span>
						</span>
					</button>
				</div>

			</fieldset>

			<div gj-expand-when="isFnafDetected">
				<div class="alert alert-warning">
					<div translate>dash.games.add.fnaf_autotag_message_html</div>

					<div class="alert-actions">
						<button gj-form-submit-button class="i-button" ng-click="addAutotag( 'fnaf' )">
							<span class="jolticon jolticon-tag"></span>
							<span translate>dash.games.add.fnaf_autotag_accept</span>
						</button>

						<button gj-form-submit-button class="i-button trans" ng-click="skipAutotag()">
							<span class="jolticon jolticon-remove"></span>
							<span translate>dash.games.add.fnaf_autotag_reject</span>
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>

</form>
