@require '~styles/variables'
@require '~styles-lib/mixins'

.score-overview-user-best
	.well, .alert
		position: relative
		margin-bottom: 0

	@media $media-sm-up
		.alert::before
			caret(var(--theme-pink), size: 9px)
			content: ''

		.well::before
			caret($gray-darkest, size: 9px)
			content: ''
