@require '~styles/variables'
@require '../../../../lib/gj-lib-client/stylus/common/mixins'

.score-overview-user-best
	.well
	.alert
		position: relative
		margin-bottom: 0

	@media $media-sm-up
		.alert::before
			caret( var(--user-pink), size: 9px )
			content: ''

		.well::before
			caret( $gray-dark, size: 9px )
			content: ''
