/* Have to put all the sizing information here. */
make-button-size(size)
	font-size: lookup('$button-' + size + '-font-size')
	font-weight: lookup('$button-' + size + '-font-weight')
	border-radius: lookup('$button-' + size + '-border-radius')
	border-width: lookup('$button-' + size + '-outline-border-size')
	padding: 0 lookup('$button-' + size + '-padding-horizontal') - @border-width
	line-height: lookup('$button-' + size + '-line-height') - (@border-width * 2)

	.-icon
		margin-right: lookup('$button-' + size + '-icon-spacing-right')

	.-badge
		padding: 0 (lookup('$button-' + size + '-padding-horizontal') / 2)
		margin-right: -(lookup('$button-' + size + '-padding-horizontal')) + @border-width
		margin-left: (lookup('$button-' + size + '-padding-horizontal') / 2) * 1.5
		font-size: lookup('$button-' + size + '-font-size')
		border-top-right-radius: lookup('$button-' + size + '-border-radius')
		border-bottom-right-radius: lookup('$button-' + size + '-border-radius')

		&::after
			border-width: @border-width

	&.-outline
		.-badge
			border-top-right-radius: lookup('$button-' + size + '-border-radius')
			border-bottom-right-radius: lookup('$button-' + size + '-border-radius')

	&.-trans
		.-badge
			border-radius: lookup('$button-' + size + '-border-radius') !important

	&.-sparse
		$$button-horizontal-padding = ((lookup('$button-' + size + '-line-height') - $button-icon-size) / 2) - @border-width
		padding-left: $$button-horizontal-padding
		padding-right: $$button-horizontal-padding

		.-icon
			margin: 0 !important

		.-badge
			margin-right: -($$button-horizontal-padding)
			margin-left: $$button-horizontal-padding

.button
	pressy()
	display: inline-block
	font-family: $font-family-base
	vertical-align: middle
	cursor: pointer
	border-style: solid
	border-color: transparent
	outline: 0
	white-space: nowrap
	text-decoration: none !important
	user-select: none

	// Hover state is always the same.
	&:hover
	&.-hover
		change-bg(
			'bi-bg',
			true
		)
		theme-prop(
			'border-color',
			'bi-bg',
			true
		)
		text-decoration: none
		cursor: pointer

		&
		.-icon
		::v-deep(.jolticon-addon)
		::v-deep(small)
			theme-prop(
				'color',
				'bi-fg',
				true
			)

	// Disabled state.
	&.-disabled
	&[disabled]
	fieldset[disabled] &
		cursor: not-allowed
		opacity: 0.5
		transform: none

		.jolticon
			cursor: not-allowed

	// Content
	::v-deep(.jolticon-addon)
		theme-prop('color', 'fg-muted')
		position: relative
		top: -1px
		vertical-align: middle
		margin-left: 5px

	::v-deep(small)
		theme-prop('color', 'fg-muted')
		font-weight: normal
		font-size: $font-size-tiny
		vertical-align: baseline

.button:not(.-block) + .button:not(.-block)
	margin-left: 4px

.-icon
	position: relative
	top: -1px
	margin: 0
	cursor: pointer
	vertical-align: middle

.-icon-color-primary
	color: var(--theme-primary)

.-icon-color-notice
	color: var(--theme-notice)

.-fill-color-overlay-notice
	&
	&:hover
		change-bg-hex(
			$gj-overlay-notice,
			1,
			true
		)
		border-color: $gj-overlay-notice !important
		color: white !important

	&:hover
		&
		.-icon
		::v-deep(.jolticon-addon)
		::v-deep(small)
			color: white !important

.-badge
	theme-prop('color', 'highlight')
	background-color: $black
	float: right
	display: inline-block
	position: relative
	z-index: 1

/**
 * Button types
 */
.button
	change-bg('fg')
	theme-prop('color', 'bg')

.-primary
	change-bg('bi-bg')
	theme-prop('color', 'bi-fg')

.-outline
	theme-prop('border-color', 'fg')
	theme-prop('color', 'fg')
	background-color: transparent

	&.-primary
		theme-prop('border-color', 'bi-bg')
		theme-prop('color', 'fg')

/**
 * Trans buttons
 */
.-trans
	border-color: transparent

/**
 * Overlay buttons
 */
.-overlay
	&.-outline
	&.-trans
		color: $dark-theme-fg
		background-color: rgba($black, 0.65)

	&.-outline
		border-color: $dark-theme-fg

	&.-trans
		border-color: transparent

/**
 * Circle buttons
 * Only works for sparse buttons.
 */
.-circle.-sparse
	img-circle()

/**
 * Block buttons
 */
.-block
	display: block
	width: 100%
	text-align: center

// Put a bit of spacing between two block buttons on top of each other.
.-block + .-block
	margin-top: 5px

// Block only on xs.
@media $media-xs
	.-block-xs
		display: block
		width: 100%
		text-align: center

	.-block-xs + .-block-xs
	.-block-xs + .button-block
	.button-block + .-block-xs
		margin-top: 5px

/**
 * Button sizings
 */
.button
	make-button-size('md')

.-sm
	make-button-size('sm')

.-lg
	make-button-size('lg')
