<div class="game-collection-grid-item">
	<router-link
		:to="collection.routeLocation"
		v-app-track-event="eventLabel"
		>

		<app-game-collection-thumbnail
			:collection="collection"
			/>

		<div class="game-collection-title h4">
			<template v-if="collection.type === 'developer'">
				<span
					v-if="notOwner"
					v-translate="{ developer: '@' + collection.owner.username }"
					>
					Games Made <small>by %{ developer }</small>
				</span>
				<translate v-else>
					Your Games
				</translate>
			</template>
			<template v-else-if="collection.type === 'followed'">
				<span
					v-if="notOwner"
					v-translate="{ user: '@' + collection.owner.username }"
					>
					Games Followed <small>by %{ user }</small>
				</span>
				<translate v-else>
					Your Followed Games
				</translate>
			</template>
			<template v-else-if="collection.type === 'owned'">
				<span
					v-if="notOwner"
					v-translate="{ user: '@' + collection.owner.username }"
					>
					Games Owned <small>by %{ user }</small>
				</span>
				<translate v-else>
					Your Owned Games
				</translate>
			</template>
			<template v-else-if="collection.type === 'recommended'">
				<span
					v-if="notOwner"
					v-translate="{ user: '@' + collection.owner.username }"
					>
					Daily Mix <small>for %{ user }</small>
				</span>
				<translate v-else>
					Your Daily Mix
				</translate>
			</template>
			<template v-else>
				{{ collection.name }}
			</template>
		</div>
	</router-link>
</div>
