<div class="comment-avatar-list">

	<a class="btn btn-outline btn-lg btn-sparse"
		ui-sref="discover.games.view.comments"
		>
		<span class="jolticon jolticon-add"></span>
	</a>

	<div class="comment-avatar-list-item"
		ng-repeat="comment in $ctrl.comments | limitTo:6"
		gj-popover-trigger="comment-avatar-list-item-{{ ::comment.id }}"
		popover-trigger-event="hover"
		>
		<a ui-sref="discover.games.view.comments( { '#': 'comment-' + comment.id } )">
			<img class="img-responsive" ng-src="{{ ::comment.user.img_avatar }}" alt="">
		</a>

		<gj-popover
			class="popover-dark"
			popover-id="comment-avatar-list-item-{{ ::comment.id }}"
			popover-on-focus="$ctrl.onFocus( comment.id )"
			popover-on-blur="$ctrl.onBlur( comment.id )"
			>
			<div class="comment-avatar-list-comment well fill-white sans-margin">

				<div class="comment-avatar-list-comment-body" ng-if="$ctrl.isFocused[ comment.id ]">

					<div class="comment-avatar-list-comment-title">
						<span ng-if="::isOwner" class="comment-avatar-list-comment-owner tag visible-xs pull-right"
							translate
							translate-comment="This signifies the owner of what the comment is posted on. For example, if this is a comment by the game's developer."
							>
							Owner
						</span>
						{{ ::comment.user.display_name }}
						<span class="comment-avatar-list-comment-time" am-time-ago="comment.posted_on"></span>
						<span ng-if="::isOwner" class="comment-avatar-list-comment-owner tag hidden-xs" translate>Owner</span>
					</div>

					<gj-fade-collapse fade-collapse-height="200">
						<div class="comment-avatar-list-comment-content"
							ng-bind-html="::comment.comment_compiled"
							>
						</div>
					</gj-fade-collapse>

				</div>

			</div>
		</gj-popover>
	</div>

</div>
