@require '~styles/variables'

.-controls
	display: flex
	align-items: center

	.-start, .-end
		flex: none

	.-start
		margin-right: 5px

	.-end
		margin-left: 5px

	.-full
		flex: auto

		@media $media-sm
			flex: none

		@media $media-md
			flex: none
