@media $media-md-up
	.overlay-scrollbar

		&::-webkit-scrollbar
			width: $overlay-scrollbar-width + ($overlay-scrollbar-padding * 2)
			height: $overlay-scrollbar-width + ($overlay-scrollbar-padding-horizontal * 2)
			background-color: rgba( 0, 0, 0, 0 )

		&::-webkit-scrollbar-thumb:vertical
		&::-webkit-scrollbar-thumb:horizontal
			border-radius: $overlay-scrollbar-border-radius
			background-clip: padding-box
			border: $overlay-scrollbar-padding solid rgba( 0, 0, 0, 0 )
			background-color: $gray-dark
			border-radius: $overlay-scrollbar-width + ($overlay-scrollbar-padding * 2)

		&::-webkit-scrollbar-thumb:vertical
			min-height: 30px

		&::-webkit-scrollbar-thumb:horizontal
			border-width: $overlay-scrollbar-padding-horizontal
			min-width: 30px

		&
		&:hover
			&::-webkit-scrollbar-thumb:vertical
			&::-webkit-scrollbar-thumb:horizontal
				&:hover
					background-color: $gray-light

		&:hover
			&::-webkit-scrollbar-thumb:vertical
			&::-webkit-scrollbar-thumb:horizontal
				background-color: $gray

	&.overlay-scrollbar-light

		&::-webkit-scrollbar
			background-color: $gray-lightest

		&
		&:hover
			&::-webkit-scrollbar-thumb:vertical
			&::-webkit-scrollbar-thumb:horizontal
				background-color: $gray-lighter

				&:hover
					background-color: $gray-light
