@require './styles/variables'
@require '../lib/gj-lib-client/stylus/common'
@require '../lib/gj-lib-client/components/jolticons/jolticons'

html, body
	theme-prop('background-color', 'darker')
	margin: 0
	padding: 0
	height: 100%

html
	overflow: hidden

body
	display: flex
	align-items: center
	justify-content: center
	overflow: auto
