@require './styles/variables'
@require '../_styles/common'
@require '../_common/jolticons/jolticons'

html, body
	change-bg('darker')
	margin: 0
	padding: 0
	height: 100%

html
	overflow: hidden

body
	display: flex
	align-items: center
	justify-content: center
	overflow: auto
