@require '~styles/variables'
@require '~styles-lib/mixins'

$pill-v-padding = 5px
$pill-h-padding = 10px
$sep-h-padding = 0

.pill-bi
	display: inline-flex
	align-items: stretch
	font-size: $font-size-small
	user-select: none
	margin-right: 5px
	margin-bottom: 5px
	padding: $pill-v-padding $pill-h-padding

	&-left
		padding: $pill-v-padding $pill-h-padding
		padding-right: 0
		border-radius: $border-radius-base 0 0 $border-radius-base
		display: inline-flex
		align-items: stretch

		> .-content
			z-index: 1

		.-sep
			background-color: inherit
			position: relative
			margin-top: -($pill-v-padding)
			margin-bottom: -($pill-v-padding)
			margin-left: $sep-h-padding
			transform-origin: bottom

	&-right
		padding: $pill-v-padding $pill-h-padding
		padding-left: $pill-h-padding + $sep-h-padding
		border-radius: 0 $border-radius-base $border-radius-base 0

.pill-bi-left, .pill-bi-right
	change-bg('bg-offset')
	theme-prop('color', 'fg')

	a&
		pressy()
		cursor: pointer

		&:hover
			change-bg('bi-bg')
			theme-prop('color', 'bi-fg')

.-content
	display: inline-flex
	align-items: center

.-img
	img-circle()
	overflow: hidden
	margin-right: 5px
	width: 18px
	height: 18px
