<div class="comment-peek">
	<div
		class="comment-peek-item"
		v-for="comment of comments.slice(0, 2)"
		:key="comment.id"
		>

		<div class="comment-peek-content fill-offset">
			<div class="comment-peek-meta">
				<div class="comment-peek-avatar">
					<app-user-avatar
						class="avatar-circle"
						:user="comment.user"
						/>
				</div>

				<div>
					<strong>{{ comment.user.display_name }}</strong>
					<small>@{{ comment.user.username }}</small>
				</div>

				<div>
					<app-time-ago class="text-muted small" :date="comment.posted_on" />
				</div>
			</div>

			<app-fade-collapse :collapse-height="150">
				<div
					class="small"
					v-html="comment.comment_compiled"
					>
				</div>
			</app-fade-collapse>
		</div>

	</div>
</div>
