<div class="trophy-list">
	<div class="trophy-list-item" ng-repeat="trophy in ctrl.trophies track by trophy.id">

		<div class="trophy-list-item-thumbnail">
			<gj-trophy-thumbnail
				trophy-thumbnail-trophy="::trophy"
				trophy-thumbnail-is-achieved="::ctrl.achievedIndexed[ trophy.id ]">
			</gj-trophy-thumbnail>
		</div>

		<div class="trophy-list-item-content">
			<h4 class="trophy-list-item-heading sans-margin">{{ ::trophy.title }}</h4>

			<!--
				We have to keep the trophy description secret unless they've achieved it, or if they're the dev.
				The API should return garbage for the description, so let's put our own text in there.
			-->
			<div class="trophy-list-item-description small" ng-if="::!trophy.secret || ctrl.achievedIndexed[ trophy.id ]">{{ ::trophy.description }}</div>
			<div class="trophy-list-item-description small text-muted" ng-if="::trophy.secret && !ctrl.achievedIndexed[ trophy.id ]">
				<em>Achieve this trophy to view the description.</em>
			</div>

			<div class="trophy-list-item-meta">
				<span tooltip="{{ ::'trophies.exp_gained_tooltip' | translate }}" class="text-muted">
					<span class="jolticon jolticon-exp" style="vertical-align: middle"></span>
					{{ ::trophy.experience | number }}
					<span class="small">{{ ::'leveling.exp' | translate }}</span>
				</span>

				<span ng-if="::ctrl.achievedIndexed[ trophy.id ]">
					<span class="dot-separator hidden-xs"></span>
					<br class="visible-xs">

					<span class="tag tag-active">{{ ::'trophies.achieved_tag' | translate }}</span>
					<span class="dot-separator"></span>
					<small class="text-muted" am-time-ago="::ctrl.achievedIndexed[ trophy.id ].logged_on"></small>
				</span>
			</div>
		</div>

	</div>
</div>
