<form gj-form="formModel" name="emailPreferencesForm">

	<form-group name="email_address">
		<input form-control="email"
			ng-maxlength="200"
			ng-model-options="{ updateOn: 'blur default', debounce: { blur: 0, default: 500 } }"
			gj-form-validate-availability="/web/dash/email-preferences/check-field-availability/email_address"
			>
		<control-errors></control-errors>
	</form-group>

	<div class="form-horizontal">

		<form-group
			name="newsletter"
			label="{{ 'dash.email_prefs.newsletter_label' | translate }}"
			label-class="col-sm-4"
			>
			<div class="col-sm-8">
				<gj-toggle-switch form-control="checkbox" toggle-switch-on-text="Yes" toggle-switch-off-text="No"></gj-toggle-switch>
				<p class="help-block" translate>dash.email_prefs.newsletter_help</p>
			</div>
		</form-group>

	</div>

	<fieldset>
		<legend translate>dash.email_prefs.notifications_heading</legend>

		<div class="alert alert-info" translate>dash.email_prefs.notifications_description</div>

		<div class="form-horizontal">
			<form-group
				ng-repeat="notificationType in ::notificationTypes track by notificationType.key"
				name="{{ ::notificationType.key }}"
				label="{{ ::notificationType.label }}"
				label-class="col-sm-4"
				>
				<div class="col-sm-8">
					<gj-toggle-switch form-control="checkbox"></gj-toggle-switch>
					<p class="help-block" ng-if="::notificationType.help">{{ ::notificationType.help }}</p>
				</div>
			</form-group>
		</div>
	</fieldset>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-4">
			<button gj-form-submit-button class="btn" ng-disabled="!emailPreferencesForm.$valid" ng-click="onSubmit()">
				<span class="jolticon jolticon-edit"></span>
				<span translate>dash.email_prefs.submit_button</span>
			</button>
		</div>
	</div>

</form>
