@require '~styles/variables'
@require '~styles-lib/mixins'

.forum-post
	&-replied-to-btn
		rounded-corners()
		display: block
		margin-bottom: $line-height-computed
		padding: 5px 10px
		background-color: $gray-lightest
		color: $gray
		font-size: $font-size-small
