<app-scroll-inview
	@inview="onInviewChange( true )"
	@outview="onInviewChange( false )"
	>
	<app-message-thread-item
		:id="`forum-post-${ id }`"
		:user="post.user"
		:replied-to="isReply ? post.replied_to : undefined"
		:date="post.posted_on"
		:is-active="isActive"
		:is-new="!!post.notification"
		:is-showing-replies="isReplying || isShowingReplies"
		>

		<span slot="meta">

			<span class="dot-separator"></span>

			<a class="link-muted"
				@click="copyPermalink"
				v-app-tooltip="$gettext( `Copy Link to Clipboard` )"
				>
				<app-jolticon icon="link" class="middle" />
			</a>

			<a class="link-muted"
				v-if="app.user && post.user_id === app.user.id && !topic.is_locked && !isEditing"
				@click="edit()"
				v-app-tooltip="$gettext( 'Edit Post' )"
				>
				<app-jolticon icon="edit" class="middle" />
			</a>

			<a class="link-muted"
				v-if="app.user"
				v-app-popover-trigger="`forum-post-popover-${ id }`"
				v-app-tooltip="$gettext( 'Options' )"
				>
				<app-jolticon icon="ellipsis-h" class="middle" />
			</a>

			<app-popover :popover-id="`forum-post-popover-${ id }`" v-if="app.user">
				<div class="list-group list-group-dark">
					<a class="list-group-item has-icon"
						@click="report"
						>
						<app-jolticon icon="flag" class="warning" />
						<translate>Report Post</translate>
					</a>
					<a class="list-group-item"
						v-if="app.user.permission_level > 0"
						:href="Environment.secureBaseUrl + `/moderate/forums/posts/edit/${ post.id }`"
						target="_blank"
						>
						<translate>Edit</translate>
					</a>
					<a class="list-group-item"
						v-if="app.user.permission_level > 0"
						:href="Environment.secureBaseUrl + `/moderate/forums/posts/remove/${ post.id }`"
						target="_blank"
						>
						<translate>Remove</translate>
					</a>
					<a class="list-group-item"
						v-if="app.user.permission_level > 0"
						:href="Environment.secureBaseUrl + `/moderate/users/view/${ post.user_id }`"
						target="_blank"
						>
						<translate>Moderate User</translate>
					</a>
				</div>
			</app-popover>

		</span>

		<a class="forum-post-replied-to-btn"
			v-if="!isReply && post.parent_post_id"
			@click="loadParentPost"
			>
			<app-jolticon class="middle" :icon="'chevron-' + (!showingParent ? 'right' : 'down')" />
			<translate
				:escape-html="false"
				:translate-params="{ user: post.replied_to.display_name }"
				>
				In response to <b>%{ user }</b>
			</translate>
			<small>@{{ post.replied_to.username }}</small>
		</a>

		<app-expand :when="showingParent">
			<div v-if="parent" class="forum-post-body forum-post-body-quoted">
				<app-widget-compiler
					:content="parent.content_compiled"
					/>
			</div>
			<p v-if="!parent">
				<strong><translate>Post removed.</translate></strong>
			</p>
			<hr>
		</app-expand>


		<div v-if="!isEditing">
			<div class="forum-post-body">
				<app-widget-compiler
					:content="post.content_compiled"
					/>
			</div>
		</div>

		<div v-else>
			<form-forum-post
				:model="post"
				:topic="topic"
				@cancel="closeEdit"
				@submit="closeEdit"
				/>
			<br>
		</div>

		<p class="text-muted small" v-if="post.modified_by">
			<translate>Last modified on</translate>
			<span :title="date( post.modified_on, 'medium' )">
				{{ post.modified_on | date( 'longDate' ) }}
			</span>
			<translate>by</translate>
			<router-link
				class="link-unstyled"
				:to="{
					name: 'profile.overview',
					params: { username: post.modified_by_user.username },
				}"
				>
				<strong>
					{{ post.modified_by_user.display_name }}
				</strong>
			</router-link>
			<small>@{{ post.modified_by_user.username }}</small>
		</p>

		<div v-if="!isReply" slot="controls">

			<button
				class="btn btn-outline btn-sparse btn-circle"
				v-if="!topic.is_locked && app.user"
				v-app-tooltip="$gettext( 'Reply' )"
				:disabled="isEditing"
				@click="reply"
				>
				<app-jolticon icon="reply" />
			</button>

			&nbsp;
			&nbsp;

			<a
				v-if="post.replies_count && !isEditing"
				class="small"
				@click="toggleReplies"
				>
				<translate
					:translate-n="post.replies_count"
					:translate-params="{ count: post.replies_count }"
					translate-plural="+%{ count } replies"
					>
					+1 reply
				</translate>
			</a>

		</div>

		<div v-if="isReplying || isShowingReplies" slot="replies">

			<app-message-thread-add v-if="isReplying">
				<form-forum-post
					v-if="isReplying"
					:topic="topic"
					:reply-to="post"
					@cancel="closeReply"
					@submit="onReplied"
					/>
			</app-message-thread-add>

			<app-forum-post-list-item
				v-if="isShowingReplies && replies.length > 0"
				v-for="reply of replies"
				:key="reply.id"
				:topic="topic"
				:post="reply"
				:is-reply="true"
				/>

			<div v-if="totalReplyCount - replies.length > 0">
				<br>
				<p>
					<translate
						:translate-n="totalReplyCount - replies.length"
						:translate-params="{
							count: number( totalReplyCount - replies.length )
						}"
						translate-plural="+%{ count } more hidden"
						>
						+%{ count } more hidden
					</translate>
				</p>
			</div>

		</div>

	</app-message-thread-item>
</app-scroll-inview>
