@require '~styles/variables'
@require '~styles-lib/mixins'

.forum-post
	&-replied-to-btn
		rounded-corners()
		content-prop('background-color', 'bg-offset')
		display: block
		margin-bottom: $line-height-computed
		padding: 5px 10px
		color: $gray
		font-size: $font-size-small
