@require '~styles/variables'

.forum-post

	&-replied-to-btn
		display: block
		margin-bottom: $line-height-computed
		padding: 5px 10px
		background-color: $gray-lightest
		border-radius: $border-radius-base
		color: $gray
		font-size: $font-size-small
