<div class="client-game-cover-buttons">
	<!--
		For Client we hide this once they start installing a package or if they have something
		installed.
	-->
	<app-button
		primary
		outline
		icon="play"
		v-if="browserBuilds.length > 0 && !localPackage"
		@click="$emit('play')"
		>
		<translate>Quick Play</translate>
	</app-button>

	<!--
		Only show if there is any downloadable builds for the game. The component will show a
		tooltip saying it can't be installed for their platform if there's not an installable build.
	-->
	<app-client-game-buttons
		v-if="downloadableBuilds.length > 0"
		label="game-cover"
		:game="game"
		:can-install="installableBuilds.length > 0"
		no-progress
		/>

</div>
