@require '~styles/variables'
@require '~styles-lib/mixins'

.client-game-cover-buttons >>>
	.client-game-buttons
		display: inline-block

	.client-install-progress
		rounded-corners()
		padding: 10px 30px
		width: 450px
		margin-bottom: $line-height-computed
		background-color: rgba($black, 0.5)
		color: $white
