@require '~styles/variables'

.client-game-cover-buttons >>>
	.client-game-buttons
		display: inline-block

	.client-install-progress
		padding: 10px 30px
		width: 450px
		margin-bottom: $line-height-computed
		background-color: rgba($black, 0.5)
		border-radius: $border-radius-base
		color: $white
