<form gj-form="formModel" name="settingsForm">

	<form-group name="game_install_dir" label="Installed Games Directory">
		<p class="help-block">
			This is the directory on your computer that games will install into.
		</p>

		<input class="hidden" form-control="file" nwdirectory>

		<div class="pull-right">
			<button class="btn btn-sm btn-outline" ng-click="changeLocation( 'game_install_dir' )">
				Change Location
			</button>
		</div>

		<div class="form-static">
			<code>{{ formModel.game_install_dir }}</code>
		</div>

		<control-errors></control-errors>
	</form-group>

	<form-group ng-class="{ 'sans-margin-bottom': formModel.limit_downloads }" name="limit_downloads" label="Limit simultaneous downloads?">
		<gj-toggle-switch form-control="checkbox" toggle-switch-on-text="Yes" toggle-switch-off-text="No"></gj-toggle-switch>
	</form-group>
	<br ng-if="formModel.limit_downloads">

	<form-group name="max_download_count" label="Max # of Simultaneous Downloads" hide-label="true" ng-if="formModel.max_download_count != -1">
		<p class="help-block">If you have more than this number, downloads will be queued up.</p>
		<input form-control="number" min="1">
		<control-errors></control-errors>
	</form-group>

	<form-group ng-class="{ 'sans-margin-bottom': formModel.limit_downloads }" name="limit_extractions" label="Limit simultaneous extractions?">
		<p class="help-block">An extraction is when the game is unpacked and installed after downloading.</p>
		<gj-toggle-switch form-control="checkbox" toggle-switch-on-text="Yes" toggle-switch-off-text="No"></gj-toggle-switch>
	</form-group>
	<br ng-if="formModel.limit_downloads">

	<form-group name="max_extract_count" label="Max # of Simultaneous Extractions" hide-label="true" ng-if="formModel.max_extract_count != -1">
		<p class="help-block">If you have more than this number, extractions will be queued up.</p>
		<input form-control="number" min="1">
		<control-errors></control-errors>
	</form-group>

	<form-group name="queue_when_playing" label="Pause when playing?">
		<p class="help-block">Should we pause all game installs and updates when you're playing a game?</p>
		<gj-toggle-switch form-control="checkbox" toggle-switch-on-text="Yes" toggle-switch-off-text="No"></gj-toggle-switch>
	</form-group>

	<form-group name="autostart_client" label="Start when Windows starts?" ng-if="::Client_Autostart.canAutostart()">
		<gj-toggle-switch form-control="checkbox" toggle-switch-on-text="Yes" toggle-switch-off-text="No"></gj-toggle-switch>
	</form-group>

</form>
