.offline-alert
	position: fixed
	top: $shell-top-nav-height
	left: 0
	right: 0
	padding-top: 10px
	padding-bottom: 10px
	margin-bottom: 0 !important
	background-color: rgba( $gj-pink, 0.9 ) !important
	z-index: $zindex-offline-alert

	@media $media-xs
		.close-btn
			float: right
			margin-left: 10px

	@media $media-sm-up
		text-align: center

		.close-btn
			position: absolute
			top: 12px
			right: 10px