<form gj-form="formModel" name="saveRoomForm">

	<form-group name="_type" label="Room Type" v-if="method === 'add'">
		<div class="radio">
			<label>
				<input form-control="radio" ng-value="Chat_Room.TYPE_OPEN_GROUP">
				Public Room <br>
				<span class="help-inline">Will be shown on the public room list, and anyone can join.</span>
			</label>
		</div>
		<div class="radio">
			<label>
				<input form-control="radio" ng-value="Chat_Room.TYPE_CLOSED_GROUP">
				Private Room <br>
				<span class="help-inline">Only invited users can view the room.</span>
			</label>
		</div>
		<control-errors></control-errors>
	</form-group>

	<div gj-expand-when="formModel._type === Chat_Room.TYPE_CLOSED_GROUP">
		<form-group name="is_viral_room" label="Allow everyone to invite other users?">
			<p class="help-block">
				With this option on, anyone in the room will be able to invite other users into the room. If it's off, only mods can.
			</p>
			<app-form-control-toggle />
		</form-group>
	</div>

	<form-group name="title" label="Title" v-if="method === 'add'">
		<p class="help-block">Room names should be lowercase with hyphens <code>-</code> used to separate words. It must be unique against all other rooms created.</p>
		<p class="help-block">Example: <code>this-is-a-room</code></p>
		<input form-control="text" ng-maxlength="100" gj-pattern="urlPath">
		<control-errors></control-errors>
	</form-group>

	<form-group name="description_markdown" label="Description">

		<p class="help-block">
			Use this to let others know what the room is about.
			<br>
			For public rooms, this is a great place to put in rules and code of conduct.
			<br>
			You can update it at any time.
		</p>

		<div
			form-markdown-editor
			preview-class="chat-compiled-room-description"
			markdown-preview-url="/web/chat/rooms/preview-description"
			>
		</div>

		<control-errors></control-errors>

	</form-group>

	<!--<form-group name="description" label="Description">
		<p class="help-block">Use this to let others know what the room is about. You can update it at any time.</p>
		<textarea form-control="text" ng-maxlength="300"></textarea>
		<control-errors></control-errors>
	</form-group>-->

	<app-form-button icon="metho">
		<translate v-if="method === 'add'">Create Room</translate>
		<translate v-if="method === 'edit'">Edit Room</translate>
	</app-form-button>

</form>
