<section class="section section-thin" ng-if="channelCtrl.shouldShowAds && !Environment.isClient && !Screen.isXs">
	<gj-ad ad-size="leaderboard"></gj-ad>
</section>

<section class="section">
	<div class="container">

		<h2 class="section-header">
			<a class="link-unstyled"
				ui-sref="discover.channels.channel.games._fetch( { section: 'best' } )"
				gj-track-event="channel:row-heading:best"
				translate
				translate-params-channel="channelCtrl.channel"
				>
				Best <b>#{{ channel }}</b>
			</a>
		</h2>

		<gj-game-grid
			games="overviewCtrl.bestGames"
			truncate-to-fit="true"
			scrollable="true"
			event-label="channel-overview-best-games"
			>
		</gj-game-grid>

		<div class="page-cut">
			<a class="btn btn-outline"
				ui-sref="discover.channels.channel.games._fetch( { section: 'best' } )"
				gj-track-event="channel:more-btn:best"
				translate
				>
				Load More
			</a>
		</div>

		<h2 class="section-header">
			<a class="link-unstyled"
				ui-sref="discover.channels.channel.games._fetch( { section: 'hot' } )"
				gj-track-event="channel:row-heading:hot"
				translate
				translate-params-channel="channelCtrl.channel"
				>
				Hot <b>#{{ channel }}</b>
			</a>
		</h2>

		<gj-game-grid
			games="overviewCtrl.hotGames"
			truncate-to-fit="true"
			scrollable="true"
			event-label="channel-overview-hot-games"
			>
		</gj-game-grid>

		<div class="page-cut">
			<a class="btn btn-outline"
				ui-sref="discover.channels.channel.games._fetch( { section: 'hot' } )"
				gj-track-event="channel:more-btn:hot"
				translate
				>
				Load More
			</a>
		</div>

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-7 col-centered">

				<h2 class="text-center" translate>
					Hot Devlog Posts
				</h2>

				<hr class="underbar underbar-center">
				<br>

				<gj-activity-feed
					ng-if="overviewCtrl.posts.hasItems"
					type="Fireside_Post"
					items="overviewCtrl.posts"
					load-more-url="/web/discover/channels/posts/{{ channelCtrl.channel }}"
					show-game-info="true"
					>
				</gj-activity-feed>

				<div class="alert alert-info" ng-if="!overviewCtrl.posts.hasItems" translate>
					This channel doesn't have any posts yet.
				</div>

			</div>
		</div>

	</div>
</section>
