@require './variables'
@require '~styles/variables'
@require '~styles-lib/mixins'

$-zindex-img = 1
$-zindex-video = 2
$-zindex-controls = 3

.game-thumbnail
	position: relative
	display: block
	margin-bottom: $grid-gutter-width-xs
	color: inherit

	@media $media-sm-up
		margin-bottom: $grid-gutter-width

.-controls
	position: absolute
	top: 5px
	right: 5px
	z-index: $-zindex-controls
	display: none

	.game-thumbnail:hover &
		display: block

.game-thumbnail-img
	opacity: 0
	transition: opacity 500ms

	&.loaded
		opacity: 1

.-thumb
	rounded-corners()
	theme-prop('background-color', 'bg-offset')
	position: relative
	height: 0
	padding-top: 56.25% // HD 16:9
	overflow: hidden

	> .inner
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

	.jolticon
		theme-prop('color', 'bg-subtle')
		position: absolute
		font-size: 16px * 4
		left: 50%
		margin-left: -(@font-size / 2)
		top: @left
		margin-top: @margin-left

	>>>
		img, .video
			rounded-corners()
			position: absolute !important
			top: 0
			left: 0
			display: block
			width: 100%
			height: 100%

		img
			z-index: $-zindex-img

		.video
			z-index: $-zindex-video

.-meta
	position: relative
	padding-top: $game-thumbnail-meta-spacing

.-avatar
	float: left
	width: $game-thumbnail-avatar-size
	height: $game-thumbnail-avatar-size

.-dev
	text-overflow()
	theme-prop('color', 'fg-muted')
	margin-left: $game-thumbnail-avatar-size + $game-thumbnail-meta-spacing
	font-weight: bold
	font-size: $font-size-h6

.-title
	text-overflow()
	margin: 0
	margin-left: $game-thumbnail-avatar-size + $game-thumbnail-meta-spacing
	line-height: 1.3
	font-weight: bold

.-meta-extra
	clear: both
	margin-top: $game-thumbnail-meta-spacing
	// We show tags and icons in here. We want to make sure that the line
	// height is always the same no matter what content we show, so let's
	// force it.
	line-height: 26px

.-os
	display: inline-block
	margin-right: $game-thumbnail-meta-spacing

.-tags
	display: inline-block
	margin-right: $game-thumbnail-meta-spacing

.-pricing
	rounded-corners()
	float: right
	height: 30px
	line-height: @height
	margin-left: $game-thumbnail-meta-spacing
	padding: 0 10px
	text-align: center

	&-owned
		theme-prop('background-color', 'highlight')
		theme-prop('color', 'highlight-fg')

		& ^[-1]-tag
			color: inherit

	&-amount
		font-size: $font-size-small
		font-weight: bold

	&-decimal
		font-size: $font-size-small

	&-tag
		theme-prop('color', 'fg')
		font-size: $font-size-tiny
		font-weight: bold
		text-transform: uppercase

	// This is way too complex.
	&-sale
		height: 36px
		line-height: @height

		.-pricing
			&-sale-percentage
				theme-prop('color', 'highlight')
				background-color: $gray
				display: inline-block
				vertical-align: top
				margin-right: -10px
				margin-left: 10px
				padding-right: 10px
				padding-left: 10px
				height: 36px
				line-height: @height
				font-size: $font-size-small
				font-weight: bold
				border-top-right-radius: $border-radius-base
				border-bottom-right-radius: $border-radius-base

			&-container
				display: inline-block
				height: 36px
				padding-top: 3px
				padding-bottom: 3px
				vertical-align: top

			&-amount
				line-height: 20px

			&-amount-old
				theme-prop('color', 'fg-muted')
				text-decoration: line-through
				font-size: $font-size-tiny
				line-height: 10px
				vertical-align: text-bottom

// Text color
.-title
	theme-prop('color', 'fg')

	.game-thumbnail:hover &
		theme-prop('color', 'link')
