<form gj-form="formModel" name="packageForm">

	<div ng-if="!isLoaded">
		<gj-loading></gj-loading>
	</div>

	<div ng-if="isLoaded">
		<form-group name="title" label="{{ 'dash.games.packages.form.title_label' | translate }}">
			<p class="help-block" translate>dash.games.packages.form.title_help_html</p>

			<input
				form-control
				ng-maxlength="150"
				gj-form-validate-availability="/web/dash/developer/games/packages/check-field-availability/{{ game.id }}/title"
				>

			<control-errors></control-errors>
		</form-group>

		<form-group name="description" label="{{ 'dash.games.packages.form.description_label' | translate }}" optional="true">
			<p class="help-block" translate>dash.games.packages.form.description_help_html</p>

			<div ng-if="!formState.showDescriptionInput">
				<a class="btn btn-outline btn-sm" ng-click="formState.showDescriptionInput = true">
					<span class="jolticon jolticon-add"></span>
					{{ 'dash.games.packages.form.description_change_button' | translate }}
				</a>
			</div>

			<div ng-if="formState.showDescriptionInput">
				<textarea form-control rows="2" ng-maxlength="750"></textarea>
				<control-errors></control-errors>
			</div>
		</form-group>

		<button gj-form-submit-button class="btn" ng-show="method == 'add' || !packageForm.$pristine" ng-disabled="!packageForm.$valid" ng-click="onSubmit()">
			<span class="jolticon" ng-class="method == 'add' ? 'jolticon-add' : 'jolticon-edit'"></span>
			<span ng-if="method == 'add'">{{ ::'dash.games.packages.form.add_package_button' | translate }}</span>
			<span ng-if="method == 'edit'">{{ ::'dash.games.packages.form.save_package_button' | translate }}</span>
		</button>
	</div>

</form>
