<app-form name="communityForm">
	<fieldset>

		<app-form-group
			name="name"
			:label="$gettext( `Name` )"
			>
			<app-form-control
				type="text"
				:rules="{
					max: 100,
				}"
				:disabled="!hasPerms"
				/>
			<app-form-control-errors />
		</app-form-group>

		<app-form-group
			name="path"
			:label="$gettext( `URL Path` )"
			>
			<app-form-control
				type="text"
				data-vv-delay="500"
				:rules="{
					pattern: 'urlPath',
					max: 50,
					availability: {
						url: '/web/dash/communities/check-field-availability/path',
						initVal: formModel.path || '',
					},
				}"
				:disabled="!canEditUrl"
				/>

			<app-form-control-errors />

			<div class="help-block">
				<div>
					<translate>Community URL</translate>
					<code v-html="communityUrl"></code>
				</div>
			</div>
		</app-form-group>
	</fieldset>

	<app-form-button v-if="hasPerms && method === 'edit'">
		<translate>Save</translate>
	</app-form-button>
</app-form>
