@require '~styles/variables'
@require '~styles-lib/mixins'

$-item-size = $shell-cbar-width - $cbar-h-padding * 2
$-blip-size = 10px
$-blip-left = (-($cbar-h-padding + $-blip-size * 0.5))
$-blip-top = $-item-size * 0.5 - $-blip-size * 0.5

.-item
	display: block
	position: relative

.-thumb
	img-circle()
	theme-prop('border-color', 'gray')
	width: $-item-size
	height: $-item-size
	border-width: 2px
	border-style: solid

.-blip
	theme-prop('background-color', 'highlight')
	position: absolute
	width: $-blip-size
	height: $-blip-size
	top: $-blip-top
	left: $-blip-left - $-item-size
	border-radius: 50%
	will-change: height, top, left
	z-index: 2
	transition: height 300ms $ease-in-out-back, top 300ms $ease-in-out-back, left 300ms $ease-in-out

	.-item.-unread &
		left: $-blip-left

	.-item.-active &
		top: 0
		height: $-item-size
		left: $-blip-left
