@require '~styles/variables'
@require '~styles-lib/mixins'
@require '../common'

$-blip-size = 10px
$-blip-left = (-($cbar-h-padding + $-blip-size * 0.5))
$-blip-top = $-item-size * 0.5 - $-blip-size * 0.5
$-bubble-size = 14px

.-item
	// Gotta set pressy here and not in common since the add-item component
	// needs to disable pressy when they can't add anymore.
	pressy()

.-thumb
	img-circle()
	change-bg('dark')
	position: absolute
	width: 100%
	height: 100%

	>>> img
		width: calc(100% - 2px)
		height: calc(100% - 2px)

.-blip
	position: absolute
	width: $-blip-size
	height: $-blip-size
	top: $-blip-top
	left: -($-blip-size * 2)
	background-color: var(--theme-lighter)
	border-radius: 50%
	will-change: height, top, left
	z-index: 2
	transition: height 300ms $ease-in-out-back, top 300ms $ease-in-out-back, left 300ms $ease-in-out-back, background-color 300ms

.-blip-unread
	left: $-blip-left

.-blip-active
	top: 0
	left: $-blip-left
	height: $-item-size

.-feature-counter
	position: absolute
	right: -2px
	bottom: -2px
	z-index: 2
	border-radius: 10px
	border-color: var(--theme-darkest)
	border-width: 3px
	border-style: solid
	padding-left: 4px
	padding-right: 4px
	font-size: $font-size-tiny
	text-align: center
	font-weight: bolder
	color: white
	background-color: red

.-popper
	position: absolute
	width: 100%
	height: 100%

	>>> > .trigger
		width: 100%
		height: 100%
		outline: 0

.-notice
	theme-prop('color', 'notice')
