<form class="game-filtering-input" ng-submit="ctrl.onQueryChanged()">

	<span class="jolticon jolticon-filter"></span>

	<a class="anim-fade-enter anim-fade-leave"
		ng-click="ctrl.clear()"
		ng-if="ctrl.query"
		>
		<span class="jolticon jolticon-remove"></span>
	</a>

	<input type="search"
		class="form-control"
		ng-attr-placeholder="{{ ::'games.filtering.input_placeholder' | translate }}"
		ng-model="ctrl.query"
		ng-model-options="{ updateOn: 'blur' }"
		ng-change="ctrl.onQueryChanged()"
		ui-keydown="{ esc: 'ctrl.blur( $event )' }"
		>

</form>
