@require '~styles/variables'

.game-filtering-input
	position: relative
	margin-bottom: $line-height-computed

	> input
		padding-left: 32px
		padding-right: 32px

	> .jolticon
		position: absolute
		top: 9px
		left: 9px
		color: $gray-lighter

	> a
		position: absolute
		top: 6px
		right: 7px
		color: $gray-lighter

		&:hover
			color: $black
