<div class="game-filtering-sidebar-widget">

	<div ng-repeat="(filter, options) in ctrl.orderedFilters track by filter">

		<h6 class="sans-margin-top">
			<strong>
				{{ ::Game_Filtering_Container.filterDefinitions[ filter ].label }}

				<span class="tag tag-pink pull-right"
					ng-if="::Game_Filtering_Container.filterDefinitions[ filter ].type == 'array'"
					ng-show="ctrl.filteringContainer.filters[ filter ].length"
					>
					{{ ctrl.filteringContainer.filters[ filter ].length | number }}
				</span>

				<span class="tag tag-pink pull-right"
					ng-if="::Game_Filtering_Container.filterDefinitions[ filter ].type == 'radio'"
					ng-show="ctrl.filteringContainer.filters[ filter ].length"
					>
					<span class="jolticon jolticon-check"></span>
				</span>

			</strong>
		</h6>

		<div class="list-group thin list-group-dark">
			<a class="list-group-item has-addon"
				ng-repeat="option in options track by option"
				ng-click="ctrl.toggleFilterOption( filter, option )"
				ng-class="::filter == 'os' || filter == 'browser' ? 'has-icon' : ''"
				ng-mouseover="ctrl.hovered[ filter ] = option"
				ng-mouseout="ctrl.hovered[ filter ] = null"
				>

				<div class="list-group-item-addon">
					<span ng-if="ctrl.filteringContainer.isFilterOptionSet( filter, option )">
						<span class="jolticon jolticon-check"
							ng-if="ctrl.hovered[ filter ] != option"
							>
						</span>
						<span class="jolticon jolticon-remove"
							ng-if="ctrl.hovered[ filter ] == option"
							>
						</span>
					</span>
				</div>

				<span class="jolticon"
					ng-show="::filter == 'os' || filter == 'browser'"
					ng-class="::ctrl.getJolticon( filter, option )"
					>
				</span>

				{{ ::Game_Filtering_Container.filterDefinitions[ filter ].options[ option ] }}
			</a>
		</div>
	</div>

</div>
