<div class="game-filtering-tags" v-if="!filtering.areTagFiltersEmpty || genre">

	<a
		v-if="genre"
		class="tag tag-pink game-filtering-tag"
		@click="clearGenre"
		>
		<strong>
			<translate>games.filtering.genre_label</translate>:
		</strong>
		{{ Genre.genres[ genre ].label }}
		<app-jolticon icon="remove" />
	</a>

	<span
		v-for="( value, filter ) of filtering.filters"
		:key="filter"
		v-if="GameFilteringContainer.definitions[ filter ].type !== 'string' && value"
		>

		<!-- Array type -->
		<span
			v-if="GameFilteringContainer.definitions[ filter ].type === 'array'"
			v-for="( option, index ) of value"
			:key="index"
			>
			<a class="tag tag-pink game-filtering-tag" @click="removeFilterOption( filter, option )">
				<strong>{{ GameFilteringContainer.definitions[ filter ].label }}:</strong>
				{{ GameFilteringContainer.definitions[ filter ].options[ option ] }}
				<app-jolticon icon="remove" />
			</a>
		</span>

		<!-- Radio type -->
		<template
			v-else-if="GameFilteringContainer.definitions[ filter ].type === 'radio'"
			>
			<a class="tag tag-pink game-filtering-tag" @click="removeFilterOption( filter, value )">
				<strong>{{ GameFilteringContainer.definitions[ filter ].label }}:</strong>
				{{ GameFilteringContainer.definitions[ filter ].options[ value ] }}
				<app-jolticon icon="remove" />
			</a>
		</template>

	</span>

</div>
