<div class="modal-controls">
	<button class="btn btn-danger-outline" ng-click="modalCtrl.close()">
		<span class="jolticon jolticon-remove"></span>
		<span translate>Close</span>
	</button>
</div>

<div class="modal-header">
	<h2 class="modal-title">Set Password</h2>
</div>

<div class="modal-body">
	<p class="help-block">
		You don't have a password set on your account since you had signed up through a linked account. <br>
		To continue being able to log in after you've unlinked, please set a password.
	</p>

	<gj-form-dashboard-set-password
		gj-form-submit-handler="modalCtrl.onPasswordSet()">
	</gj-form-dashboard-set-password>

</div>
