<form gj-form="formModel" name="profileForm">

	<div ng-if="!isLoaded">
		<gj-loading></gj-loading>
	</div>

	<div ng-if="isLoaded">

		<!-- Username -->
		<form-group name="username" ng-if="!usernameTimeLeft" label="{{ ::'dash.profile.edit.username_label' | translate }}">
			<input form-control="text"
				ng-minlength="3"
				ng-maxlength="30"
				gj-pattern="username"
				gj-form-validate-availability="/web/dash/profile/check-field-availability/username">

			<control-errors></control-errors>
		</form-group>

		<div class="form-group" ng-if="usernameTimeLeft">
			<label class="control-label">{{ ::'dash.profile.edit.username_label' | translate }}</label>
			<p class="form-control-static">{{ ::formModel.username }}</p>
			<p class="help-block" translate="dash.profile.edit.username_time_left_html" translate-values="{ duration: usernameDuration }"></p>
		</div>

		<!-- Display Name -->
		<form-group name="name"  label="{{ ::'dash.profile.edit.display_name_label' | translate }}" optional="true" ng-if="formModel.is_developer && !nameTimeLeft">
			<input form-control="text"
				ng-maxlength="100"
				gj-form-validate-availability="/web/dash/profile/check-field-availability/name">

			<control-errors></control-errors>
			<p class="help-block" translate="dash.profile.edit.display_name_help"></p>
		</form-group>

		<div class="form-group" ng-if="formModel.is_developer && nameTimeLeft">
			<label class="control-label">{{ ::'dash.profile.edit.display_name_label' | translate }}</label>
			<p class="form-control-static">{{ ::formModel.name }}</p>
			<p class="help-block" translate="dash.profile.edit.display_name_time_left_html" translate-values="{ duration: nameDuration }"></p>
		</div>

		<!-- Web Site -->
		<form-group name="web_site" label="{{ ::'dash.profile.edit.website_label' | translate }}" optional="true" ng-if="formModel.is_developer">
			<input form-control="url" ng-maxlength="250">
			<control-errors></control-errors>
		</form-group>


		<div oc-lazy-load="{ files: [ '/app/modules/codemirror.js' ] }">
			<form-group name="description_markdown" label="{{ ::'dash.profile.edit.description_label' | translate }}" optional="true">

				<p class="help-block" translate="dash.profile.edit.description_help_html"></p>

				<div
					form-markdown-editor
					preview-class="user-compiled-description"
					markdown-preview-url="/web/dash/profile/preview-description"
					markdown-mode="users"
					>
				</div>

				<control-errors></control-errors>

			</form-group>
		</div>

		<button gj-form-submit-button class="i-button" ng-disabled="!profileForm.$valid" ng-click="onSubmit()">
			<span class="jolticon jolticon-edit"></span>
			{{ ::'dash.profile.edit.submit_button' | translate }}
		</button>
	</div>

</form>
