@require '~styles/variables'
@require '~styles-lib/mixins'

$game-list-item-thumb-width = 120px

.game-list-item
	clearfix()
	margin-bottom: $line-height-computed

.-thumb
	float: left
	width: $game-list-item-thumb-width
	height: $game-list-item-thumb-width * 0.5625

	>>> img
		border-radius: $border-radius-base

.-meta
	margin-left: $game-list-item-thumb-width + 10px

.-title
	display: block
	font-weight: bold

.-dev
	display: block
	font-size: $font-size-small
