@require '~styles/variables'
@require '~styles-lib/mixins'

$game-list-item-thumb-width = 145px

.game-list-item
	clearfix()
	margin-bottom: $line-height-computed

.-thumb
	float: left
	width: $game-list-item-thumb-width
	height: $game-list-item-thumb-width * 0.5625

	>>> img
		rounded-corners()

.-meta
	margin-left: $game-list-item-thumb-width + 10px

.-title
	display: block
	font-weight: bold
	margin-top: 3px
	margin-bottom: 3px

.-dev
	display: block
	font-size: $font-size-small
