@require '~styles/variables'

.page-help
	margin-bottom: $line-height-computed  // Double the amount of margin below.
	font-size: $font-size-small

	// These rules basically equate to: "col-sm-10 col-md-8 col-lg-7"
	@media $media-sm
		max-width: 585px

	@media $media-md-up
		max-width: 640px
