<form gj-form="formModel" name="mediaForm">

	<form-group name="_url" label="{{ ::'dash.games.media.video.form.url_label' | translate }}">
		<input form-control="text" ng-pattern="Game_Video.REGEX.VIDEO">
		<control-errors label="{{ ::'dash.games.media.video.form.url_error_label' | translate }}"></control-errors>
		<p class="help-block" translate>dash.games.media.video.form.url_help_html</p>
	</form-group>

	<form-group name="title" label="{{ ::'dash.games.media.video.form.title_label' | translate }}">
		<input form-control="text" ng-maxlength="150">
		<control-errors></control-errors>
	</form-group>

	<form-group name="description" label="{{ ::'dash.games.media.video.form.description_label' | translate }}" optional="true">
		<textarea form-control rows="5" ng-maxlength="2500"></textarea>
		<control-errors></control-errors>
	</form-group>

	<button gj-form-submit-button
		ng-if="!mediaForm.$pristine"
		class="btn btn-outline"
		ng-disabled="!mediaForm.$valid"
		ng-click="onSubmit()"
		>
		<span class="jolticon" ng-class="'jolticon-' + method"></span>
		<span ng-if="method == 'add'" translate>Add</span>
		<span ng-if="method == 'edit'" translate>Save</span>
	</button>

</form>
