<form gj-form="formModel" name="releaseForm" class="game-release-form">

	<div ng-if="!isLoaded">
		<gj-loading></gj-loading>
	</div>

	<div ng-if="isLoaded">
		<form-group name="version_number" title="{{ 'dash.games.releases.form.version_number_label' | translate }}">

			<div class="help-block">
				<div translate>dash.games.releases.form.version_number_help_html</div>
				<a class="link-help" href="https://help.gamejolt.com/dev-packages#release-version-numbers" target="_blank">
					{{ 'dash.games.releases.form.version_number_help_link' | translate }}
				</a>
			</div>

			<input form-control="text"
				gj-pattern="semver"
				ng-maxlength="50"
				gj-form-validate-availability="/web/dash/developer/games/releases/check-field-availability/{{ game.id }}/{{ package.id }}/version_number"
				>
			<control-errors></control-errors>

		</form-group>

		<fieldset>
			<legend translate>Builds</legend>

			<div class="alert alert-warning" ng-if="!builds.length" translate>
				You don't have any builds in this release yet. You won't be able to publish until you put some in.
			</div>

			<div ng-repeat="build in builds track by build.id" class="anim-fade-leave-enlarge anim-fade-enter">
				<gj-form-dashboard-game-build
					gj-game="game"
					gj-game-package="package"
					gj-game-release="baseModel"
					gj-game-build="build"
					gj-game-launch-options="launchOptions"
					gj-game-package-builds="builds"
					gj-build-download-counts="buildDownloadCounts"
					gj-update-launch-options="updateBuildLaunchOptions( $build, $launchOptions )"
					gj-on-remove-build="removeBuild( $build )"
					gj-form-submit-handler="onBuildEdited( build, $response )"
					>
				</gj-form-dashboard-game-build>
			</div>

			<br>

			<div class="alert alert-warning sans-margin" ng-if="areBuildsLockedByJam">
				<span class="jolticon jolticon-notice"></span>
				<span translate>
					<strong>Your game is part of a jam that locks builds during voting.</strong>
					You will not be able to add new builds until the voting period ends.
				</span>
			</div>

			<div class="row" ng-if="!areBuildsLockedByJam">
				<div class="col-sm-6">
					<h5 class="sans-margin-top"><strong translate>Upload Downloadable Build</strong></h5>
					<gj-form-dashboard-game-new-build
						gj-build-type="downloadable"
						gj-game="game"
						gj-game-package="package"
						gj-game-release="baseModel"
						gj-game-package-builds="builds"
						gj-form-submit-handler="onBuildAdded( formModel )"
						>
					</gj-form-dashboard-game-new-build>
				</div>
				<div class="col-sm-6">
					<br class="visible-xs">
					<h5 class="sans-margin-top"><strong translate>Upload Browser Build</strong></h5>
					<gj-form-dashboard-game-new-build
						gj-build-type="browser"
						gj-game="game"
						gj-game-package="package"
						gj-game-release="baseModel"
						gj-game-package-builds="builds"
						gj-form-submit-handler="onBuildAdded( formModel )"
						ng-if="!areWebBuildsLockedBySellable"
						>
					</gj-form-dashboard-game-new-build>
					<div class="alert alert-info" ng-if="areWebBuildsLockedBySellable" translate>Browser builds cannot currently be uploaded to games that are for sale.</div>
				</div>
			</div>

		</fieldset>

		<hr>

		<span ng-if="baseModel.status != Game_Release.STATUS_PUBLISHED">
			<button class="btn btn-success" ng-disabled="!releaseForm.$valid || !builds.length" ng-click="savePublished()">
				<span class="jolticon" ng-class="method == 'add' ? 'jolticon-add' : 'jolticon-edit'"></span>
				<span translate>Publish Release</span>
			</button>

			<button class="btn btn-outline" ng-disabled="!releaseForm.$valid || !builds.length" ng-click="saveDraft()">
				<span translate>Save Draft</span>
			</button>
		</span>

		<span ng-if="baseModel.status == Game_Release.STATUS_PUBLISHED">
			<button class="btn" ng-disabled="!releaseForm.$valid || !builds.length" ng-click="onSubmit()">
				<span class="jolticon jolticon-edit"></span>
				<span translate>Save Release</span>
			</button>
		</span>


		<div ng-class="{ 'pull-right': !Screen.isXs }">
			<br class="visible-xs">

			<button class="btn btn-outline" ng-if="baseModel.status == Game_Release.STATUS_PUBLISHED" ng-click="unpublish()">
				<span translate>Unpublish Release</span>
			</button>

			<button class="btn btn-danger-outline" ng-click="remove()">
				<span translate>Remove Release</span>
			</button>
		</div>

	</div>

</form>
