.forums-reply
    padding-bottom: 1em
    margin-bottom: 1em
    position: relative
        
    .topic-post-content
        font-size: 0.9em
        border-bottom: 1px solid $gray-lighter
        margin-left: 80px
        margin-right: 10px
    
    .topic-post-author
        font-size: 15px

    .topic-post-avatar
        position: absolute
        left: 0px
        width: 100%
        max-width: 60px
        background-color: $gray-lighter
        border-radius: 5px
        overflow: hidden