<div class="forums-reply">
    <div class="clearfix">
        
        <img class="topic-post-avatar" src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
            
		<div class="topic-post-content">
			
			<div class="topic-post-meta">
				<div class="text-muted pull-right">
					<small>20 hours ago</small>
					<span class="dot-separator"></span>
					<a class="btn btn-outline btn-sm btn-sparse" gj-popover-trigger="forum-reply-popover-{{ ctrl.itemId }}">
						<span class="jolticon jolticon-ellipsis-h"></span>
					</a>
				</div>
				<a href="#" class="topic-post-author link-unstyled">Nik</a>
				<span class="text-muted">@nik</span>
				<br>
				<span class="text-muted">2,516 Posts</span>
			</div>
			
			<div class="response-message"><strong><span class="jolticon jolticon-reply"></span> In response to <a href="#">@nik</a></strong></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus nulla fugit qui atque sapiente voluptas tenetur est reprehenderit ratione, aperiam perspiciatis vitae eum cum repellendus veniam dolor dolorem tempora.</p>

			<gj-popover popover-id="forum-reply-popover-{{ ctrl.itemId }}">
				<div class="list-group thin">
					<a href="#" class="list-group-item has-icon">
						<span class="jolticon jolticon-edit"></span>
						Edit
					</a>
					<a href="#" class="list-group-item has-icon">
						<span class="jolticon jolticon-remove"></span>
						Remove
					</a>
					<a href="#" class="list-group-item has-icon">
						<span class="jolticon jolticon-trophy"></span>
						Mod User
					</a>
					<a href="#" class="list-group-item has-icon">
						<span class="jolticon jolticon-friend-remove-1"></span>
						Mute User
					</a>
				</div>
			</gj-popover>
			
		</div>
        
    </div>
</div>