<!-- Right now just so that permalink route gets loaded correctly. -->
<ui-view></ui-view>

<header class="section">
	<div class="container">
		<h1>Browse Chat Rooms</h1>
		<p class="text-muted">Find a chat room to talk in. Or create your own community!</p>
		<br>
	</div>
</header>

<section class="section">
	<div class="container">

		<div class="chat-list row">
			<div class="chat-list-item col-lg-4" ng-repeat="room in chatCtrl.rooms track by room.id">

				<p class="h5 sans-margin-top">
					<a class="link-unstyled" ng-click="chatCtrl.enterRoom( room )">
						<strong class="text-muted">#</strong><strong>{{ ::room.title }}</strong>
					</a>
					<span class="badge" gj-tooltip="chatCtrl.userCounts[ room.id ].count + ' user(s) in room'">
						{{ ::chatCtrl.userCounts[ room.id ].count }}
					</span>
				</p>

				<gj-fade-collapse fade-collapse-height="70" fade-collapse-is-required="room._description_collapsed" style="display: block; height: 70px; overflow: hidden;">
					<div class="chat-compiled-room-description small" ng-bind-html="::room.description_compiled"></div>
				</gj-fade-collapse>
				<br>

				<button class="btn btn-sm btn-primary" ng-click="chatCtrl.enterRoom( room )">
					Open Chat
				</button>

				<button class="btn btn-sm btn-outline" ng-if="room._description_collapsed" ng-click="chatCtrl.viewDetails( room )">
					View Full Description
				</button>

			</div>
		</div>

	</div>
</section>
