@require '~styles/variables'
@require '~styles-lib/mixins'
@require './variables'

.-card
	position: relative
	display: block
	flex-shrink: 0
	width: $card-width
	height: $card-height
	overflow: hidden
	cursor: pointer
	outline: none
	// Overwrite sheet styling
	padding: 0
	margin-bottom: ($line-height-computed / 2)

	&:hover
		elevate-1()
		theme-prop('border-color', 'link')

		.-card-bg-img
			filter: grayscale(0.6)

	&.-active
		elevate-2()
		border-color: var(--theme-link)

		.-card-bg-img
			filter: none !important
			transform: scale(1.1)

		.-card-content-title
			background-color: var(--theme-bi-bg)
			color: var(--theme-bi-fg)

	&-bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 1

		&-img
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
			filter: grayscale(0.9) opacity(0.8)
			transition: transform 200ms, filter 200ms

	&-content
		position: relative
		z-index: 2
		margin: 8px
		display: flex
		justify-content: space-between

		&-title
			rounded-corners()
			text-overflow()
			font-weight: 600
			padding: 2px 6px
			background-color: var(--theme-darkest)
			color: var(--dark-theme-fg)

		&-unread
			margin-top: 4px
			width: 12px
			height: 12px
			background-color: var(--theme-notice)
			flex-shrink: 0
			border: 2px solid var(--theme-bg-offset)
			border-radius: 50%
			filter: drop-shadow(0 0 7px var(--theme-notice))
			animation-name: unread
			animation-duration: 2s
			animation-iteration-count: infinite

@keyframes unread
	0%
		filter: drop-shadow(0 0 1px var(--theme-notice))

	50%
		filter: drop-shadow(0 0 7px var(--theme-notice))

	100%
		filter: drop-shadow(0 0 1px var(--theme-notice))
