<div>
	<div class="row linked-accounts-list">
		<div
			class="col-md-6"
			v-for="(provider, index) of [ 'facebook', 'twitter', 'google', 'twitch' ]"
			:key="index"
			>
			<div class="well fill-offset">

				<div class="linked-accounts-list-icon">
					<app-jolticon
						big
						:icon="getProviderIcon( provider )"
						/>
				</div>

				<div class="linked-accounts-list-body">
					<h5>
						<template v-if="provider === 'facebook'"><translate>Facebook</translate></template>
						<template v-else-if="provider === 'twitter'"><translate>Twitter</translate></template>
						<template v-else-if="provider === 'google'"><translate>Google+</translate></template>
						<template v-else-if="provider === 'twitch'"><translate>Twitch</translate></template>
					</h5>

					<template v-if="(provider === 'facebook' && !user.facebook_id)
						|| (provider === 'twitch' && !user.twitch_id)
						|| (provider === 'twitter' && !user.twitter_id)
						|| (provider === 'google' && !user.google_id)"
						>
						<p>
							<small class="text-muted"><translate>Not linked.</translate></small>
						</p>
						<app-button
							primary
							icon="link"
							@click="link( provider )"
							>
							<translate>Link Now</translate>
						</app-button>
					</template>
					<template v-else-if="(provider === 'facebook' && user.facebook_id)
						|| (provider === 'twitch' && user.twitch_id)
						|| (provider === 'twitter' && user.twitter_id)
						|| (provider === 'google' && user.google_id)"
						>

						<p>
							<strong v-if="provider === 'facebook'">
								<a :href="`https://facebook.com/${ user.facebook_id }`" target="_blank">
									{{ user.facebook_name }}
								</a>
							</strong>
							<strong v-else-if="provider === 'twitter'">
								<a :href="`https://twitter.com/${ user.twitter_screenname }`" target="_blank">
									{{ user.twitter_screenname }}
								</a>
							</strong>
							<strong v-else-if="provider === 'google'">
								<a :href="`https://plus.google.com/${ user.google_id }`" target="_blank">
									{{ user.google_nickname }}
								</a>
							</strong>
							<strong v-else-if="provider === 'twitch'">
								<a :href="`https://twitch.tv/${ user.twitch_name }`" target="_blank">
									{{ user.twitch_name }}
								</a>
							</strong>
						</p>

						<div>
							<app-button
								@click="link( provider )"
								>
								<translate>Sync</translate>
							</app-button>
							<app-button
								trans
								@click="unlink( provider )"
								>
								<translate>Unlink</translate>
							</app-button>
						</div>
					</template>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-lg-6">
			<h3><translate>YouTube Channels</translate></h3>

			<p class="page-help">
				<translate>You can link your YouTube channels in order to post video comments on games.</translate>
			</p>

			<div class="list-group" v-if="channels.length > 0">
				<div
					class="list-group-item clearfix"
					v-for="channel of channels"
					:key="channel.id"
					>
					<div class="pull-right">
						<app-button
							trans
							@click="unlinkYoutube( channel )"
							>
							<translate>Unlink</translate>
						</app-button>
					</div>
					<strong>
						<a :href="`https://www.youtube.com/channel/${ channel.channel_id }`" target="_blank">
							{{ channel.title }}
						</a>
					</strong>
				</div>
			</div>

			<div>
				<app-button
					primary
					icon="link"
					@click="link( 'youtube-channel' )"
					>
					<translate>Link YouTube Channel</translate>
				</app-button>
			</div>
		</div>
	</div>
</div>
