<div>

	<app-page-header>
		<!--<div class="container">

			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">-->

					

		<div :class="{ 'text-center': Screen.isXs }">
			<span class="tag"
				v-if="topic.is_locked"
				v-app-tooltip="$gettext( `This topic is locked and can no longer be replied to.` )"
				>
				<app-jolticon icon="lock" />
				<translate>Locked</translate>
			</span>
		</div>

		<h1 class="section-header">
			{{ topic.title }}
		</h1>

		<!--<div class="forum-topic-header-author">

			<div class="forum-topic-header-author-meta">
				<span class="forum-topic-header-author-byline">
					by
					<a class="forum-topic-header-author-username" ui-sref="profile.overview( { username: topic.user.username } )">{{ topic.user.display_name }}</a>
					<small>@{{ topic.user.username }}</small>
				</span>
				<span class="forum-topic-header-time-ago">
					<span class="dot-separator hidden-xs"></span>
					<span title="{{ topic.posted_on | date:'medium' }}" am-time-ago="topic.posted_on"></span>
				</span>
			</div>
		</div>-->

				<!--</div>
			</div>

		</div>-->

		<div class="spotlight">
			<app-user-avatar :user="topic.user" class="avatar-circle" />
		</div>

		<div slot="nav">
			<app-forum-breadcrumbs
				:channel="channel"
				page="view-topic"
				/>
		</div>

	</app-page-header>

	<div class="well fill-lightest sans-margin" v-if="App.user">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">

					<a class="btn btn-primary-outline btn-block-xs"
						href="#add-reply"
						du-smooth-scroll
						v-if="!topic.is_locked"
						>
						<app-jolticon icon="add" />
						Add Reply
					</a>

					<a class="btn btn-success-outline btn-block-xs"
						v-if="!isFollowing"
						ng-click="follow()"
						v-app-tooltip="$gettext( `Keep track of replies in this topic.` )"
						>
						<app-jolticon icon="subscribe" />
						Follow
					</a>
					<a class="btn"
						:class="{
							'btn-block btn-success': Screen.isXs,
							'btn-success': !Screen.isXs && !unfollowHover,
							'btn-danger': !Screen.isXs && unfollowHover
						}"
						v-if="isFollowing"
						ng-click="unfollow()"
						ng-mouseenter="unfollowHover = true"
						ng-mouseleave="unfollowHover = false"
						v-app-tooltip="$gettext( `Stop Following` )"
						>
						<span class="jolticon" :class="!unfollowHover ? 'jolticon-subscribe' : 'jolticon-subscribed'"></span>
						Following
					</a>

					<a class="btn btn-outline btn-block-xs"
						v-if="topic.user_id == App.user.id && !topic.is_locked"
						ng-click="editTopic()"
						ng-disabled="isEditingTopic"
						>
						<app-jolticon icon="edit" />
						Edit
					</a>

					<!-- Mod Tools -->
					<a class="btn btn-sparse btn-outline btn-block-xs"
						v-if="App.user"
						gj-popover-trigger="forum-topic-popover"
						>
						<app-jolticon icon="ellipsis-h" />
					</a>

					<gj-popover popover-id="forum-topic-popover" v-if="App.user">
						<div class="list-group list-group-dark thin">
							<a class="list-group-item has-icon"
								ng-click="report()"
								>
								<app-jolticon icon="flag warning" />
								Report Topic
							</a>
							<a class="list-group-item"
								v-if="App.user.permission_level > 0"
								ng-href="{{ Environment.baseUrl }}/moderate/forums/topics/toggle-sticky/{{ topic.id }}"
								target="_blank"
								>
								Toggle Sticky
							</a>
							<a class="list-group-item"
								v-if="App.user.permission_level > 0"
								ng-href="{{ Environment.baseUrl }}/moderate/forums/topics/toggle-lock/{{ topic.id }}"
								target="_blank"
								>
								Toggle Lock
							</a>
							<a class="list-group-item"
								v-if="App.user.permission_level > 0"
								ng-href="{{ Environment.baseUrl }}/moderate/forums/topics/edit/{{ topic.id }}"
								target="_blank"
								>
								Edit Topic
							</a>
							<a class="list-group-item"
								v-if="App.user.permission_level > 0"
								ng-href="{{ Environment.baseUrl }}/moderate/forums/topics/move/{{ topic.id }}"
								target="_blank"
								>
								Move Topic
							</a>
							<a class="list-group-item"
								v-if="App.user.permission_level > 0"
								ng-href="{{ Environment.baseUrl }}/moderate/forums/topics/remove/{{ topic.id }}"
								target="_blank"
								>
								Remove Topic
							</a>
							<a class="list-group-item"
								v-if="App.user.permission_level > 0"
								ng-href="{{ Environment.baseUrl }}/moderate/users/view/{{ topic.user_id }}"
								target="_blank"
								>
								Moderate User
							</a>
						</div>
					</gj-popover>

				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">

			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">

					<!--
						Hide the main post while it's being edited.
					-->
					<div v-if="!isEditingTopic">

						<!--
							We do a fade collapse for the main post after the first page.
						-->
						<div v-if="currentPage > 1">
							<gj-fade-collapse
								[collapse-height]="200"
								[is-open]="showFullDescription"
								(required)="canToggleDescription = true"
								>
								<div class="forum-post-body">
									<gj-widget-compiler
										[content]="topic.main_post.content_compiled"
										>
									</gj-widget-compiler>
								</div>
							</gj-fade-collapse>

							<a class="hidden-text-expander"
								v-if="canToggleDescription"
								ng-click="showFullDescription = !showFullDescription"
								gj-track-event="forum-topic:show-full-post"
								></a>
						</div>

						<!--
							No fade collapse on first page.
						-->
						<div v-if="currentPage <= 1">
							<div class="forum-post-body">
								<gj-widget-compiler
									[content]="topic.main_post.content_compiled"
									>
								</gj-widget-compiler>
							</div>
						</div>
					</div>

					<div v-if="isEditingTopic">
						<h3 class="section-header">Edit Topic</h3>
						<gj-form-forum-topic
							channel="channel"
							gj-forum-topic="topic"
							gj-form-cancel-handler="closeEditTopic()"
							gj-form-submit-handler="closeEditTopic()"
							>
						</gj-form-forum-topic>
					</div>

					<p class="text-muted small" v-if="topic.main_post.modified_by">
						Last modified on
						<span title="{{ topic.main_post.modified_on | date:'medium' }}">{{ topic.main_post.modified_on | date }}</span>
						by
						<a class="link-unstyled" ui-sref="profile.overview( { username: topic.main_post.modified_by_user.username } )">
							<strong>
								{{ topic.main_post.modified_by_user.display_name }}
							</strong>
						</a>
						<small>@{{ topic.main_post.modified_by_user.username }}</small>
					</p>

					<hr>

					<p class="text-muted small" v-if="topic.replies_count > perPage">
						Page {{ currentPage | number }} of {{ topic.replies_count | number }} replies.
					</p>

					<gj-pagination
						items-per-page="perPage"
						total-items="topic.replies_count"
						current-page="currentPage"
						>
					</gj-pagination>

					<gj-forum-post-list
						id="forum-posts-list"
						topic="topic"
						posts="posts"
						on-reply="onPostAdded( formModel, $response )"
						user-post-counts="userPostCounts"
						>
					</gj-forum-post-list>

					<br><br>

					<gj-pagination
						items-per-page="perPage"
						total-items="topic.replies_count"
						current-page="currentPage"
						(on-page-change)="pageChange( $event.page )"
						>
					</gj-pagination>

					<div v-if="App.user">
						<div v-if="!topic.is_locked">
							<h3 class="sans-margin-top" id="add-reply">Add Reply</h3>

							<gj-form-forum-post
								topic="topic"
								gj-form-submit-handler="onPostAdded( formModel, $response )"
								>
							</gj-form-forum-post>
						</div>

						<div class="alert alert-info full-bleed-xs" v-if="topic.is_locked">
							<p>
								<app-jolticon icon="lock" />
								This topic is locked and can no longer be replied to.
							</p>
						</div>
					</div>

					<div class="alert alert-info full-bleed-xs" v-if="!App.user">
						<p>
							<app-jolticon icon="exclamation-circle" />
							You must be <a ng-href="{{ loginUrl }}" target="_self">logged in</a> to Game Jolt to post replies.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>