.topic-author
	padding-right: 3px
	
.topic-author-avatar
	position: absolute
	left: -150px
	width: 150px
	background-color: $gray-lighter
	border: 4px solid $gray-lightest
	border-radius: 5px
	overflow: hidden
	
	@media $media-sm
		border-width: 3px
		width: 80px
		left: -80px
	
.topic-meta
	margin-top: 1em
	
	@media $media-xs
		margin-bottom: 1em
	
.topic-post
	padding: 1em 0
	margin-bottom: 1em
	position: relative
	
	.topic-post-avatar
		position: absolute
		left: -70px
		width: 100%
		max-width: 70px
		background-color: $gray-lightest
		border-radius: 5px
		overflow: hidden
		
	.topic-post-meta
		margin-bottom: 1em
		
	.topic-post-author
		font-size: 18px
		font-weight: bold
		margin-right: 2px
		
	.topic-post-actions
		padding-bottom: 1em
		margin-bottom: 1em
		border-bottom: 2px solid $gray-lightest
	
.topic-main-post
	font-size: 1.1em
	padding: 1.5em 0
	border-bottom: 2px solid $gray-lightest
			
	.topic-post-content
		margin-left: 0