header.forum-topic-header
	position: relative
	padding-bottom: $grid-gutter-width * 2

	@media $media-xs
		padding-bottom: $grid-gutter-width-xs * 2 + $line-height-computed

	h1
		text-align: center

		@media $media-sm-up
			text-align: left

/**
 * Author Avatar and Meta
 */
 $forum-topic-header-avatar-size = 100px

.forum-topic-header

	&-author
		position: absolute
		bottom: -($grid-gutter-width * 2) - $line-height-computed  // Pull it to the bottom of the header container.

		@media $media-xs
			bottom: -($grid-gutter-width-xs * 2 + $line-height-computed)

		.user-avatar
			position: absolute
			width: $forum-topic-header-avatar-size
			bottom: -(@width / 2)
			left: -($forum-topic-header-avatar-size + $grid-gutter-width)

			img
				border: 5px solid $white
				background-color: $white

		&-meta
			position: relative
			top: -10px
			left: 0
			right: 0
			font-size: $font-size-h4

		&-username
			font-weight: bold

	&-time-ago
	&-time-exact
		font-size: $font-size-base

	@media $media-xs
		margin-bottom: ($forum-topic-header-avatar-size / 2) + 50px

		&-author
			left: ($grid-gutter-width-xs / 4)
			right: ($grid-gutter-width-xs / 4)

			.user-avatar
				left: 50%
				margin-left: -($forum-topic-header-avatar-size / 2)

		&-author-meta
			top: $forum-topic-header-avatar-size
			text-align: center
			color: $gray-dark

		&-author-username
			color: inherit !important

		&-author-byline
			display: block
			text-overflow()

		&-time-ago
			display: block
			margin-left: 0
			color: $gray-light
			font-size: $font-size-small

	@media $media-sm-up

		&-author-meta
		&-author-username
			&
			&:hover
				color: $white

	@media $media-sm
		margin-bottom: ($forum-topic-header-avatar-size / 2)

		&-author .user-avatar
			left: 0

		&-author-meta
			left: $forum-topic-header-avatar-size + $grid-gutter-width-xs
