version: 2
jobs:
  build-macos:
    macos:
      xcode: '10.1.0'
    steps:
      - checkout
      - run:
          name: Submodules
          command: git submodule update --init --recursive

      - run:
          name: Install Go 1.10.8
          command: |
            curl https://dl.google.com/go/go1.10.8.darwin-amd64.tar.gz -o go1.10.8.darwin-amd64.tar.gz
            sudo tar -C /usr/local -xzf go1.10.8.darwin-amd64.tar.gz
            echo 'export GOROOT=/usr/local/go' >> $BASH_ENV
            echo 'export GOPATH=$HOME/go' >> $BASH_ENV
            echo 'export PATH=$PATH:$GOROOT/bin:$GOPATH/bin' >> $BASH_ENV

      # Ignoring engines because @typescript/estlint requires node>=12,
      # but atm we can't upgrade because appdmg is broken (and abandoned).
      # TODO: fix this properly
      - run: yarn install --ignore-engines

      # - run: yarn run client-build-osx
      # To make a test package, comment out the previous line and uncomment this line.
      - run: yarn run client-build-osx --useTestPackage

      - store_artifacts:
          path: ./build/prod-client-build/osx64-package.tar.gz
      - store_artifacts:
          path: ./build/prod-client-build/GameJoltClient.dmg

  build-linux:
    docker:
      - image: circleci/node:10.13.0
    steps:
      - checkout
      - run:
          name: Submodules
          command: git submodule update --init --recursive

      - run:
          name: Install OpenGL dev dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y libgl1-mesa-dev xorg-dev

      - run:
          name: Install Go 1.10.8
          command: |
            wget https://dl.google.com/go/go1.10.8.linux-amd64.tar.gz
            sudo tar -C /usr/local -xzf go1.10.8.linux-amd64.tar.gz
            echo 'export GOROOT=/usr/local/go' >> $BASH_ENV
            echo 'export GOPATH=$HOME/go' >> $BASH_ENV
            echo 'export PATH=$PATH:$GOROOT/bin:$GOPATH/bin' >> $BASH_ENV

      - run: yarn install --ignore-engines
      # - run: yarn run client-build-linux64
      # To make a test package, comment out the previous line and uncomment this line.
      - run: yarn run client-build-linux64 --useTestPackage

      - store_artifacts:
          path: ./build/prod-client-build/linux64-package.tar.gz
      - store_artifacts:
          path: ./build/prod-client-build/GameJoltClient.tar.gz
workflows:
  version: 2
  build_all:
    jobs:
      - build-macos:
          filters:
            branches:
              only:
                - client-build
      - build-linux:
          filters:
            branches:
              only:
                - client-build
