version: 2
jobs:
  build-macos:
    macos:
      xcode: '9.0'
    steps:
      - checkout
      - run: 'git submodule update --init --recursive'
      - run: 'yarn'
      - run: 'yarn run client-build-osx'
      - store_artifacts:
          path: ./build/prod-client-build/osx64-package.tar.gz
      - store_artifacts:
          path: ./build/prod-client-build/osx.dmg
  build-linux:
    docker:
      - image: circleci/node:8.9.1
    steps:
      - checkout
      - run: 'git submodule update --init --recursive'

      - run: sudo apt-get update
      - run: sudo apt-get install -y libgl1-mesa-dev xorg-dev

      - run: 'yarn'
      - run: 'yarn run client-build-linux64'
      - store_artifacts:
          path: ./build/prod-client-build/linux64-package.tar.gz
      - store_artifacts:
          path: ./build/prod-client-build/linux64.tar.gz
workflows:
  version: 2
  build_all:
    jobs:
      - build-macos:
          filters:
            branches:
              only:
                - client-build
      - build-linux:
          filters:
            branches:
              only:
                - client-build
