@require '~styles/variables'

.manage-game-nav-required

	@media $media-md-up
		position: absolute
		left: -25px

.incomplete
	.jolticon
		color: $gj-pink !important

.complete
	.jolticon
		color: $gj-dark-green !important
