@require '~styles/variables'

.manage-game-nav-required
	@media $media-md
		position: absolute
		right: -25px

	@media $media-lg
		position: absolute
		right: 0

.incomplete
	.jolticon
		color: $gj-pink !important

.complete
	.jolticon
		color: $gj-green !important
