@require '~styles/variables'
@require '~styles-lib/mixins'

#shell-cbar
	theme-prop('background-color', 'darkest')
	position: fixed
	top: 0
	left: 0
	bottom: 0
	width: $shell-cbar-width
	padding: 15px $cbar-h-padding
