@require '~styles/variables'

$-item-size = $shell-cbar-width - $cbar-h-padding * 2

.-item
	display: block
	position: relative
	outline: 0
	margin-bottom: 5px
	width: $-item-size - 2px
	height: $-item-size - 2px
