$cbar-item-size = ($shell-cbar-width - $cbar-h-padding * 2) - 2px
$cbar-item-spacing = 8px
$cbar-blip-size = 10px
$cbar-blip-left = (-($cbar-h-padding + $cbar-blip-size * 0.5))
$cbar-blip-top = $cbar-item-size * 0.5 - $cbar-blip-size * 0.5
