.topic-post
	padding: 1em 0
	margin-bottom: 1em
	position: relative

	&-avatar
		position: absolute
		left: -70px
		width: 100%
		max-width: 70px
		background-color: $gray-lightest
		border-radius: 5px
		overflow: hidden

	&-meta
		margin-bottom: 1em

	&-author
		font-size: 18px
		font-weight: bold
		margin-right: 2px

	&-actions
		padding-bottom: 1em
		margin-bottom: 1em
		border-bottom: 2px solid $gray-lightest

	&-replies
		background-color: $gray-lightest
		padding: 1em

	.response-message
		font-size: 15px
		margin-bottom: 5px
