<div @click.stop="go">
	<router-link
		:to="notification.routeLocation"
		>

		<div class="timeline-list-item-bubble">
			<app-jolticon :icon="icon" />
		</div>

		<div class="timeline-list-item-main">

			<div class="timeline-list-item-meta">
				<app-time-ago :date="notification.added_on" />
			</div>

			<div class="timeline-list-item-title">
				<app-notification-descriptive-action :notification="notification" />
			</div>

			<div class="timeline-list-item-details" v-if="hasDetails">

				<img v-if="notification.is_user_based && !Screen.isXs"
					class="timeline-list-item-avatar"
					:src="notification.from_model.img_avatar"
					alt=""
					>

				<div v-if="notification.is_game_based && !Screen.isXs"
					class="timeline-list-item-thumb"
					:style="{ 'background-image': `url( '${notification.to_model.img_thumbnail}' )` }"
					>
				</div>

				<div class="timeline-list-item-content">
					<app-fade-collapse
						:collapse-height="80"
						:is-open="showFullContent"
						@require-change="canToggleContent = $event"
						>
						<div
							v-if="notification.type === 'comment-add'"
							class="comment-widget-comment-content"
							v-html="notification.action_model.comment_compiled"
							>
						</div>
						<div
							v-if="notification.type === 'comment-add-object-owner'"
							class="comment-widget-comment-content"
							v-html="notification.action_model.comment_compiled"
							>
						</div>
						<p v-if="notification.type === 'game-rating-add'">
							<span v-translate="{ rating: notification.action_model.rating }">
								And the value of the rating thou shalt receive is <b>@%{ rating }</b>. No more, no less.
							</span>
						</p>
					</app-fade-collapse>

					<div v-if="canToggleContent">
						<br>
						<span class="hidden-text-expander"
							@click.stop.prevent="toggleFull"
							>
						</span>
					</div>
				</div>
			</div>

		</div>

	</router-link>
</div>
