<div @click.stop="go">
	<router-link :to="notification.routeLocation">
		<app-timeline-list-item is-thread :is-new="isNew" :is-active="isActive">

			<app-jolticon slot="bubble" :icon="icon" />

			<div class="timeline-list-item-title timeline-list-item-title-small">
				{{ titleText }}
			</div>

			<div class="timeline-list-item-meta">
				<app-time-ago :date="notification.added_on" />
			</div>

			<div class="timeline-list-item-details" v-if="hasDetails">

				<img v-if="notification.is_user_based && !Screen.isXs"
					class="timeline-list-item-avatar"
					:src="notification.from_model.img_avatar"
					alt=""
					>

				<div v-if="notification.is_game_based && !Screen.isXs"
					class="timeline-list-item-thumb"
					:style="{ 'background-image': `url( '${notification.to_model.img_thumbnail}' )` }"
					>
				</div>

				<div class="timeline-list-item-content">
					<app-fade-collapse
						:collapse-height="80"
						:is-open="showFullContent"
						@require-change="canToggleContent = $event"
						@expand="toggleFull"
						>
						<div
							v-if="
								notification.type === 'comment-add' ||
								notification.type === 'comment-add-object-owner'
							"
							class="comment-content"
							v-html="notification.action_model.comment_compiled"
							>
						</div>
						<div
							v-else-if="notification.type === 'mention'"
							class="comment-content"
							v-html="notification.action_model.comment.comment_compiled"
							>
						</div>
					</app-fade-collapse>

					<template v-if="canToggleContent">
						<br>
						<span class="hidden-text-expander"
							@click.stop.prevent="toggleFull"
							>
						</span>
					</template>
				</div>
			</div>

		</app-timeline-list-item>
	</router-link>
</div>
