@require '../../lib/gj-lib-client/stylus/common/variables'

/**
 * Colors
 */
$body-bg = $gray-darkest
$text-color = $white
$headings-color = $gray-dark
$link-color = $gj-green
$link-hover-color = $white
$container-desktop = $container-sm
$container-md = $container-sm
$container-large-desktop = $container-sm
$container-lg = $container-sm
