<!--<div ng-if="!Environment.isClient">
	<style type="text/css">

		.client-banner {
			position: relative
		}

		.client-banner .section-header {
			font-weight: 100;
		}

		.client-banner-mascot {
			position: absolute;
			bottom: -40px;
			right: -202px;
		}

	</style>

	<section class="section fill-darker">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-2 client-banner">
					<div class="h2 section-header">Psst...</div>
					<p>
						<a href="http://gamejolt.com/client" gj-track-event="home:client-banner">
							<img ng-if="Screen.isXs" src="/app/img/game-jolt-client-logo.svg" width="254" height="18" alt="Game Jolt Client">
							<img ng-if="!Screen.isXs" src="/app/img/game-jolt-client-logo.svg" width="558" height="36" alt="Game Jolt Client">
						</a>
					</p>
					<p>We launched the Game Jolt Client. It's the whole site on your desktop&mdash;easiest, speediest way to install and play Game Jolt games.</p>
					<a href="http://gamejolt.com/client" class="btn btn-sm btn-primary-outline" gj-track-event="home:client-banner">
						Learn More
					</a>
					<a class="client-banner-mascot hidden-xs" href="http://gamejolt.com/client" gj-track-event="home:client-banner">
						<img src="/app/views/discover/home/banner-clyde.png" width="182" height="207" alt="">
					</a>
				</div>
			</div>
		</div>
	</section>
</div>-->

<gj-discover-home-featured featured-items="homeCtrl.featuredItems"></gj-discover-home-featured>

<div class="container" ng-if="::!Environment.isClient">
	<div class="social-widgets">
		<span class="social-widgets-label hidden-xs">{{ ::'discover.home.social_label' | translate }}</span>

		<gj-social-twitter-follow handle="gamejolt"></gj-social-twitter-follow>

		<span class="dot-separator hidden-xs"></span>

		<gj-social-facebook-like url="https://facebook.com/gamejolt" show-share="false"></gj-social-facebook-like>
	</div>
</div>

<!--
	Genres
-->
<section class="section">
	<div class="container">
		<h2 class="section-header" translate>Browse by Genre</h2>
		<gj-genre-list></gj-genre-list>
	</div>
</section>

<!--
	Channels
-->
<section class="section">
	<div class="container">

		<h2 class="section-header sans-margin-bottom" translate>
			Featured Channels
		</h2>

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6">
				<p class="text-muted small" translate>
					Channels are like mini Game Jolts. Find and discover games around specific interests.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-sm-3 col-md-2"
				ng-repeat="channel in ::homeCtrl.channels"
				>
				<a class="channel-thumbnail"
					ui-sref="discover.channels.channel.overview( { channel: channel } )"
					>
					<div class="channel-thumbnail-image-spacer">
						<div class="channel-thumbnail-image">
							<img ng-src="{{ ::Channels.images[ channel ] }}" alt="">
						</div>
					</div>
					<div class="channel-thumbnail-label">
						#{{ ::channel }}
					</div>
				</a>
			</div>
		</div>

	</div>
</section>

<!--
	Paid Games
-->
<section class="section fill-darker marketplace-section">
	<div class="container">

		<h1 class="section-header sans-margin-bottom">
			<a class="link-unstyled" ui-sref="discover.games.list.section( { section: 'best', price: 'paid' } )" gj-track-event="home:row-heading:paid">
				<span class="jolticon jolticon-heart big"></span>
				<span translate>Paid Games</span>
			</a>
		</h1>

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6 col-centered">
				<p class="text-muted" translate>
					You can now support your favorite indie devs by buying their games directly on Game Jolt!
				</p>
			</div>
		</div>
		<br>

		<div class="full-bleed-xs" ng-class="{ 'scrollable-grid-xs': Screen.isXs }">
			<div ng-class="{ 'row': !Screen.isXs }">
				<gj-game-thumbnail
					class="col-xs-11 col-sm-4 meter-dark"
					ng-class="{ 'scrollable-grid-item': Screen.isXs }"
					ng-repeat="game in homeCtrl.paidGames | limitTo:(Screen.isMobile ? 6 : 9 ) track by game.id"
					gj-game="game"
					autoplay="true"
					gj-track-event="home:paid:game:{{ $index }}"
					>
				</gj-game-thumbnail>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6 col-centered">
				<a class="btn btn-primary-outline btn-block"
					ui-sref="discover.games.list.section( { section: 'best', price: 'paid' } )"
					gj-track-event="home:more-btn:paid"
					translate
					>
					Load More
				</a>
			</div>
		</div>
		<br><br>

		<a ui-sref="landing.marketplace" gj-track-event="home:marketplace-landing">
			<img class="marketplace-mascot" src="/app/views/discover/home/marketplace-mascots.png" alt="">
		</a>

	</div>
</section>

<!--
	Best Games
-->
<section class="section">
	<div class="container">

		<h2 class="section-header sans-margin-bottom">
			<a class="link-unstyled" ui-sref="discover.games.list.section( { section: 'best' } )" gj-track-event="home:row-heading:best">
				{{ ::'discover.home.best_heading' | translate }}
			</a>
		</h2>

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6">
				<p class="text-muted small">
					{{ ::'discover.home.best_help' | translate }}
				</p>
			</div>
		</div>

		<div class="full-bleed-xs" ng-class="{ 'scrollable-grid-xs': Screen.isXs }">
			<div ng-class="{ 'row': !Screen.isXs }">
				<gj-game-thumbnail
					class="col-xs-11 col-sm-4 col-md-3"
					ng-class="{ 'scrollable-grid-item': Screen.isXs }"
					ng-repeat="game in homeCtrl.bestGames | limitTo:(Screen.isMobile ? 6 : 8 ) track by game.id"
					gj-game="game"
					gj-track-event="home:slider:game:{{ $index }}"
					>
				</gj-game-thumbnail>
			</div>
		</div>

		<div class="page-cut">
			<a class="btn btn-outline"
				ui-sref="discover.games.list.section( { section: 'best' } )"
				gj-track-event="home:more-btn:best"
				translate
				>
				Load More
			</a>
		</div>

	</div>
</section>

<!--
	Hot Games
-->
<section class="section">
	<div class="container">

		<h2 class="section-header sans-margin-bottom">
			<a class="link-unstyled" ui-sref="discover.games.list.section( { section: 'hot' } )" gj-track-event="home:row-heading:hot">
				{{ ::'discover.home.hot_heading' | translate }}
			</a>
		</h2>

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6">
				<p class="text-muted small">
					{{ ::'discover.home.hot_help' | translate }}
					<a class="link-muted" tooltip="{{ ::'games.list.hotness_tooltip' | translate }}">
						<span class="jolticon jolticon-help-circle"></span>
					</a>
				</p>
			</div>
		</div>

		<div class="full-bleed-xs" ng-class="{ 'scrollable-grid-xs': Screen.isXs }">
			<div ng-class="{ 'row': !Screen.isXs }">
				<gj-game-thumbnail
					class="col-xs-11 col-sm-4"
					ng-class="{ 'scrollable-grid-item': Screen.isXs }"
					ng-repeat="game in homeCtrl.hotGames | limitTo:(Screen.isMobile ? 6 : 9 ) track by game.id"
					gj-game="game"
					gj-track-event="home:slider:game:{{ $index }}"
					>
				</gj-game-thumbnail>
			</div>
		</div>

		<div class="page-cut">
			<a class="btn btn-outline"
				ui-sref="discover.games.list.section( { section: 'hot' } )"
				gj-track-event="home:more-btn:hot"
				translate
				>
				Load More
			</a>
		</div>

	</div>
</section>

<!--
	Game News
-->
<section class="section">
	<div class="container">

		<div class="clearfix">

			<div ng-class="!Screen.isXs ? 'pull-right' : ''">
				<nav class="platform-list inline" ng-class="{ 'nav-justified': Screen.isXs }">
					<ul>
						<li>
							<a ng-class="{ active: homeCtrl.activeNewsTab == 'hot' }" ng-click="homeCtrl.changeNewsTab( 'hot' )" gj-track-event="home:news-tab:hot">
								{{ ::'discover.home.hot_news_tab' | translate }}
							</a>
						</li>
						<li ng-if="homeCtrl.followedArticles.length">
							<a ng-class="{ active: homeCtrl.activeNewsTab == 'followed' }" ng-click="homeCtrl.changeNewsTab( 'followed' )" gj-track-event="home:news-tab:followed">
								{{ ::'discover.home.followed_news_tab' | translate }}
							</a>
						</li>
					</ul>
				</nav>
			</div>

			<h2 class="section-header sans-margin-bottom" ng-switch="homeCtrl.activeNewsTab">
				<a class="link-unstyled"
					ui-sref="discover.news.list"
					ng-switch-when="hot"
					gj-track-event="home:row-heading:news-hot"
					>
					{{ ::'discover.home.hot_news_heading' | translate }}
				</a>

				<a class="link-unstyled"
					ui-sref="discover.news.list-section( { section: 'followed' } )"
					ng-switch-when="followed"
					gj-track-event="home:row-heading:news-followed"
					>
					{{ ::'discover.home.followed_news_heading' | translate }}
				</a>
			</h2>

			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-6" ng-switch="homeCtrl.activeNewsTab">
					<p class="text-muted small" ng-switch-when="hot">{{ ::'discover.home.hot_news_help' | translate }}</p>
					<p class="text-muted small" ng-switch-when="followed">{{ ::'discover.home.followed_news_help' | translate }}</p>
				</div>
			</div>

		</div>

		<gj-post-list ng-if="Screen.isMobile" post-list-items="homeCtrl.articles[ homeCtrl.activeNewsTab ]"></gj-post-list>
		<gj-post-grid ng-if="Screen.isDesktop" post-grid-items="homeCtrl.articles[ homeCtrl.activeNewsTab ]"></gj-post-grid>

		<div class="page-cut" ng-switch="homeCtrl.activeNewsTab">
			<a class="btn btn-outline"
				ng-switch-when="hot"
				ui-sref="discover.news.list"
				gj-track-event="home:news-more"
				translate
				>
				Load More
			</a>
			<a class="btn btn-outline"
				ng-switch-when="followed"
				ui-sref="discover.news.list-section( { section: 'followed' } )"
				gj-track-event="home:news-more"
				translate
				>
				Load More
			</a>
		</div>

	</div>
</section>

<!--
	Fireside
-->
<section class="section">
	<div class="container">

		<h2 class="section-header sans-margin-bottom">
			<a class="link-unstyled" href="http://fireside.gamejolt.com" gj-track-event="home:row-heading:fireside">
				{{ ::'discover.home.fireside_heading' | translate }}
				<br class="visible-xs">
				<img class="fireside-logo" src="/app/img/fireside/logo.png" alt="Fireside">
			</a>
		</h2>

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6">
				<p class="text-muted small">{{ ::'discover.home.fireside_help' | translate }}</p>
			</div>
		</div>

		<div ng-if="Screen.isXs">
			<gj-fireside-post-list fireside-posts="homeCtrl.firesidePosts"></gj-fireside-post-list>
		</div>

		<div class="row" ng-if="!Screen.isXs">
			<div class="col-sm-6 col-md-4 anim-fade-in stagger"
				ng-repeat="post in homeCtrl.firesidePosts | limitTo:3 track by post.id"
				gj-track-event="home:slider:fs:{{ $index }}"
				>
				<gj-fireside-post-thumbnail fireside-post="post"></gj-fireside-post-thumbnail>
			</div>
		</div>

		<div class="page-cut">
			<a class="btn btn-outline"
				href="http://fireside.gamejolt.com"
				gj-track-event="home:more-btn:fireside"
				translate
				>
				Load More
			</a>
		</div>

	</div>
</section>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "http://gamejolt.com/",
  "name": "Game Jolt",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://gamejolt.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
