@require '~styles/variables'

.route-discover-home
	.header-heart
		color: var(--theme-pink)

	.channel-list
		overflow-x: auto
		white-space: nowrap
		text-align: center

		&-item
			display: inline-block
			width: 130px
			margin: 0 10px

		>>> .channel-thumbnail
			margin-bottom: 0
