.ctrl-discover-home-page
	.home-game-rows

		h1, h2, h3
			font-weight: 300

			.jolticon
				position: relative
				bottom: 1px

		.game-thumbnail
			margin-bottom: 0

	.fireside-logo
		position: relative
		height: 45px
		vertical-align: baseline

		@media $media-sm-up
			top: 4px
			margin-left: 10px

	.social-widgets
		text-align: center
		margin-top: 15px
		margin-bottom: 0

		@media $media-mobile
			text-align: center

	.social-widgets-label
		display: inline-block
		color: $text-muted
		font-size: $font-size-small
		margin-right: 10px
