<a class="section landing-header"
	style="
		display: block;
		background-image: url('https://i.gjcdn.net/data/fireside/posts/0/48/5548/media/bokida_gjbannerbg-ewhu8gta.jpg');
		background-size: cover;
		background-position: 50% 50%;
		border-bottom: 1px solid #ccc;
		min-height: 400px;
	"
	href="/games/Bokida/20941"
	gj-track-event="home:bokida-banner"
	>
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-lg-5 text-right" ng-class="{ 'text-center': $ctrl.Screen.isXs }">

				<br class="visible-sm visible-md">
				<br class="visible-sm visible-md">
				<br class="visible-sm visible-md">
				<br class="visible-sm visible-md">
				<img class="img-responsive" style="display: inline-block" src="https://i.gjcdn.net/data/fireside/posts/0/48/5548/media/bokida_gjbannerfg-iubwscsq.png" alt="Bokida - Out Now">

			</div>
			<div class="col-sm-2 col-lg-2">
			</div>
			<div class="col-sm-5 col-lg-5 text-left" ng-class="{ 'text-center': $ctrl.Screen.isXs }">
				<br>
				<br class="hidden-xs">
				<br class="hidden-xs">
				<br class="hidden-xs hidden-lg">
				<br class="visible-sm visible-md">
				<div
					style="
						display: inline-block;
						color: #333;
						background-color: rgba(255, 255, 255, 0.8);
						border: 1px solid #333;
						padding: 20px;
						font-size: 30px;
						font-weight: bold;
						text-transform: uppercase;
					"
					translate
					>
					Play Now
				</div>
			</div>
		</div>
	</div>
</a>

<!--<section class="section landing-header text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-7 col-centered">

				<p class="lead">Find the indie games you <span class="jolticon jolticon-heart big gj-pink"></span> and directly support the developers that make them</p>

				<p>
					<a class="btn btn-outline btn-sm"
						ui-sref="landing.learn"
						gj-track-event="home:header-learn-more"
						translate
						>
						Learn More
					</a>
				</p>
				<br>

				<a class="btn btn-primary-outline btn-block-xs"
					ui-sref="discover.games.list._fetch( { section: 'best' } )"
					gj-track-event="home:header-browse-games"
					translate
					>
					Browse Games
				</a>

				<span class="hidden-xs">
					&nbsp;&nbsp;&nbsp;
					<em translate>or</em>
					&nbsp;&nbsp;&nbsp;
				</span>

				<br class="visible-xs">

				<a class="btn btn-outline btn-block-xs"
					gj-auth-required
					ui-sref="dashboard.developer.games.add"
					ng-click="!$ctrl.app.user ? $event.preventDefault() : ''"
					gj-track-event="home:header-add-game"
					translate
					>
					Add Your Game
				</a>

			</div>
		</div>
	</div>
</section>-->

<section class="section">
	<div class="container-lg">

		<h1 class="section-header text-center">
			<a class="link-unstyled"
				ui-sref="discover.games.list._fetch( { section: 'featured' } )"
				gj-track-event="home:row-heading:featured"
				translate
				>
				Featured Games
			</a>
		</h1>

		<hr class="underbar underbar-center">

		<gj-game-grid
			games="$ctrl.featuredGames"
			truncate-to-fit="true"
			scrollable="true"
			show-ads="$ctrl.Screen.isDesktop"
			event-label="home-featured-games"
			>
		</gj-game-grid>

		<div class="text-center">
			<a class="btn btn-outline"
				ui-sref="discover.games.list._fetch( { section: 'featured' } )"
				gj-track-event="home:more-btn:featured"
				translate
				>
				Explore All Featured
			</a>
		</div>

	</div>
</section>

<!--<div class="page-cut"></div>-->

<gj-ad-placement></gj-ad-placement>

<section class="section">
	<div class="container">

		<!--
			Genres
		-->

		<h1 class="section-header text-center" translate>Browse by Genre</h1>
		<hr class="underbar underbar-center">

		<div class="well fill-darker full-bleed-xs">
			<gj-genre-list></gj-genre-list>
		</div>

		<br><br>

		<!--
			Channels
		-->

		<div class="row text-center">
			<div class="col-sm-10 col-md-8 col-lg-6 col-centered">

				<h1 class="section-header sans-margin-bottom">
					<a class="link-unstyled"
						ui-sref="discover.channels.list"
						gj-track-event="home:row-heading:channels"
						translate
						>
						<span translate>Browse Channels</span>
					</a>
				</h1>

				<p class="text-muted small" translate>
					Channels are like mini Game Jolts. Find and discover games around specific interests.
				</p>
			</div>
		</div>

		<hr class="underbar underbar-center">

		<div class="row">
			<div class="col-xs-6 col-sm-3 col-md-2"
				ng-repeat="channel in ::$ctrl.channels"
				>
				<gj-channel-thumbnail channel="{{ ::channel }}"></gj-channel-thumbnail>
			</div>
		</div>

		<div class="text-center">
			<a class="btn btn-outline"
				ui-sref="discover.channels.list"
				gj-track-event="home:more-btn:channels"
				translate
				>
				View All Channels
			</a>
		</div>

	</div>
</section>

<gj-ad-placement [hidden-desktop]="true"></gj-ad-placement>

<!--<div class="page-cut"></div>-->

<section class="section">
	<div class="container-lg">

		<!--
			Game Listings
		-->

		<div class="row text-center">
			<div class="col-sm-10 col-md-8 col-lg-6 col-centered">

				<h1 class="section-header">
					<a class="link-unstyled"
						ui-sref="discover.channels.list"
						gj-track-event="home:row-heading:channels"
						translate
						>
						Discover Games
					</a>
				</h1>

			</div>
		</div>

		<gj-nav-tab-list [center]="true">
			<ul>
				<li ng-repeat="( i, section ) in $ctrl.discoverSections track by $index">
					<a
						ng-click="$ctrl.changeSection( i )"
						ng-class="{ active: $ctrl.chosenSection === section }"
						>
						<span class="hidden-xs">
							{{ section.title }}
						</span>
						<span class="visible-xs">
							{{ section.smallTitle }}
						</span>
					</a>
				</li>
			</ul>
		</gj-nav-tab-list>

		<gj-game-grid
			games="$ctrl.chosenSection.items"
			truncate-to-fit="true"
			show-ads="$ctrl.Screen.isDesktop"
			event-label="home-{{ $ctrl.chosenSection.eventLabel }}"
			>
		</gj-game-grid>

		<div class="text-center">
			<a class="btn btn-outline"
				ng-href="{{ $ctrl.chosenSection.url }}"
				gj-track-event="home:more-btn:{{ $ctrl.chosenSection.eventLabel }}"
				translate
				>
				Load More
			</a>
		</div>

	</div>
</section>

<!--<gj-ad-placement></gj-ad-placement>-->

<section class="section fill-lightest" ng-if="!$ctrl.app.user">
	<div class="container">

		<h1 class="section-header text-center" translate>
			Join Game Jolt
		</h1>

		<div class="text-center">
			<p class="lead" translate>Do you love indie games as much as we do?</p>
		</div>

		<hr class="underbar underbar-center">
		<br>

		<div class="row">
			<div class="col-sm-6 col-md-5 col-lg-4 col-centered">

				<gj-auth-join></gj-auth-join>

			</div>
		</div>

	</div>
</section>
