.ctrl-discover-home-page #content
	.home-game-rows

		h1, h2, h3
			font-weight: 300

			.jolticon
				position: relative
				bottom: 1px

		.game-thumbnail
			margin-bottom: 0

	.fireside-logo
		position: relative
		height: 45px
		vertical-align: baseline

		@media $media-sm-up
			top: 4px
			margin-left: 10px

	.social-widgets
		text-align: center
		margin-top: 15px
		margin-bottom: 0

		@media $media-mobile
			text-align: center

	.social-widgets-label
		display: inline-block
		color: $text-muted
		font-size: $font-size-small
		margin-right: 10px

	.marketplace-section
		position: relative
		overflow: hidden

		.jolticon-heart
			color: $gj-pink

		.section-header
		p
			text-align: center

		&-inner
			max-width: 1700px
			margin: 0 auto
			padding-left: $grid-gutter-width-xs
			padding-right: $grid-gutter-width-xs

			@media $media-sm-up
				padding-left: $grid-gutter-width
				padding-right: $grid-gutter-width

	.marketplace-mascot
		position: relative
		bottom: -45px
		margin-top: @bottom
		width: (480px / 2)
		height: (550px / 2)
		left: 50%
		margin-left: -(@width / 2)
