<div>

	<app-discover-home-banner
		v-if="featuredItem"
		:item="featuredItem"
		/>

	<div class="fill-darker">
		<app-scroll-scroller horizontal overlay>
			<div class="-channel-list">
				<div
					class="-channel-list-item"
					v-for="channel of channels"
					:key="channel.id"
					>
					<app-channel-thumbnail :channel="channel.id" />
				</div>
			</div>
		</app-scroll-scroller>
	</div>

	<section class="section">
		<div class="container-xl">

			<h1 class="section-header text-center">
				<translate>Featured Games</translate>
			</h1>

			<p class="text-center">
				<translate>Check these games out and follow along in their development!</translate>
			</p>

			<hr class="underbar underbar-center">

			<app-game-grid-placeholder
				v-if="!isLoaded"
				:num="6"
				/>
			<app-game-grid
				v-else
				:games="games"
				truncate-to-fit
				event-label="home"
				/>

			<div class="page-cut">
				<app-button
					trans
					:to="{
						name: 'discover.games.list._fetch',
						params: { section: null }
					}"
					v-app-track-event="`home:more-btn:browse`"
					>
					<translate>Browse More Games</translate>
				</app-button>
			</div>

		</div>
	</section>

	<section class="section fill-offset" v-if="isLoaded && !app.user">
		<div class="container">

			<h1 class="section-header text-center">
				<translate>Join Game Jolt</translate>
			</h1>

			<div class="text-center">
				<p class="lead">
					<translate>Do you love games as much as we do?</translate>
				</p>
			</div>

			<hr class="underbar underbar-center">
			<br>

			<div class="row">
				<div class="col-sm-6 col-md-5 col-lg-4 col-centered">

					<app-auth-join />

				</div>
			</div>

		</div>
	</section>

</div>
