<div>

	<app-ad-placement :visible-desktop="true" pos="top" />

	<!--
		Best Games
	-->
	<section class="section">
		<div class="container-lg">

			<h1 class="section-header text-center">
				<router-link
					class="link-unstyled"
					:to="{
						name: 'discover.channels.view.games',
						params: { section: 'best' },
					}"
					v-app-track-event="`channel:row-heading:best`"
					>
					<translate :translate-params="{ channel }">
						Best #%{ channel }
					</translate>
				</router-link>
			</h1>

			<hr class="underbar underbar-center">

			<app-game-grid-placeholder
				v-if="!isLoaded"
				:num="8"
				:truncate-to-fit="true"
				:scrollable="true"
				/>

			<app-game-grid
				v-else
				:games="bestGames"
				:truncate-to-fit="true"
				:scrollable="true"
				ad-pos="top"
				event-label="channel-overview-best-games"
				/>

			<div class="text-center">
				<app-button
					:to="{
						name: 'discover.channels.view.games',
						params: { section: 'best' },
					}"
					v-app-track-event="`channel:more-btn:best`"
					>
					<translate>Load More</translate>
				</app-button>
			</div>

		</div>
	</section>

	<app-ad-placement :visible-sm="true" pos="bottom" />

	<!--
		Hot Games
	-->
	<section class="section">
		<div class="container-lg">

			<h1 class="section-header text-center">
				<router-link
					class="link-unstyled"
					:to="{
						name: 'discover.channels.view.games',
						params: { section: 'hot' },
					}"
					v-app-track-event="`channel:row-heading:hot`"
					>
					<translate :translate-params="{ channel }">
						Hot #%{ channel }
					</translate>
				</router-link>
			</h1>

			<hr class="underbar underbar-center">

			<app-game-grid-placeholder
				v-if="!isLoaded"
				:num="8"
				:truncate-to-fit="true"
				:scrollable="true"
				/>

			<app-game-grid
				v-else
				:games="hotGames"
				:truncate-to-fit="true"
				:scrollable="true"
				event-label="channel-overview-hot-games"
				/>

			<div class="text-center">
				<app-button
					:to="{
						name: 'discover.channels.view.games',
						params: { section: 'hot' },
					}"
					v-app-track-event="`channel:more-btn:hot`"
					>
					<translate>Load More</translate>
				</app-button>
			</div>

		</div>
	</section>

	<app-ad-placement :hidden-desktop="true" pos="bottom" />

	<!--
		Feed
	-->
	<section class="section">
		<div class="container">

			<div class="row" v-if="feed">
				<div class="col-sm-10 col-md-8 col-centered">

					<h1 class="section-header text-center">
						<translate>Hot Devlog Posts</translate>
					</h1>

					<hr class="underbar underbar-center">
					<br>

					<app-activity-feed
						v-if="feed.hasItems"
						:feed="feed"
						show-game-info
						show-ads
						/>

					<div class="alert" v-if="!feed.hasItems">
						<translate>This channel doesn't have any posts yet.</translate>
					</div>

				</div>
			</div>

		</div>
	</section>

</div>
