@require '~styles/variables'
@require '~styles-lib/mixins'

.user-recommended
	min-height: 200px
	position: relative
	margin-bottom: $line-height-computed

.-header
	display: flex
	justify-content: space-between

.loading-overlay
	change-bg('bg')
	position: absolute
	top: 40px
	left: 0
	bottom: 0
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	opacity: 0.8
