<h1 ng-class="{ h2: Screen.isMobile }">
	<a ui-sref=".overview">
		{{ ::gameCtrl.game.title }}
	</a>
</h1>

<div>
	<span translate>by</span>
	<a ng-href="{{ ::gameCtrl.game.developer.url }}">
		{{ ::gameCtrl.game.developer.display_name }}
	</a>

	<!--
		Hide on mobile to keep it clean.
		They can view in the game details.
	-->
	<span class="small" ng-if="!Screen.isXs && gameCtrl.game.published_on">
		<span class="dot-separator"></span>
		<a ui-sref="discover.games.list.section-date( { section: 'by-date', date: '{{ gameCtrl.game.published_on | date:'yyyy-MM-dd' }}' } )"
			am-time-ago="::gameCtrl.game.published_on"></a>
	</span>

	<span ng-if="gameCtrl.game.tigrs_age || gameCtrl.game.ratings_enabled">
		<span class="dot-separator hidden-xs"></span>
		<br class="visible-xs">
		<br class="visible-xs">

		<span ng-if="gameCtrl.game.tigrs_age">
			<gj-game-ogrs-tag gj-game="gameCtrl.game"></gj-game-ogrs-tag>
		</span>

		<!--
			The ng-repeat makes sure that the widget gets updated any time the rating changes
			on the page while still doing a bind once.
		-->
		<span ng-if="::gameCtrl.game.ratings_enabled">
			<span class="dot-separator"></span>
			<gj-meter
				class="meter-dark meter-big"
				ng-repeat="_ in [ gameCtrl.game.avg_rating ]"
				meter-rating="::gameCtrl.game.avg_rating"
				tooltip="{{ ::gameCtrl.game.rating_count || 0 | number }} rating(s), avg: {{ ::gameCtrl.game.avg_rating }}"
				>
			</gj-meter>
		</span>

		<span ng-if="gameCtrl.notificationCounts.news">
			<span class="dot-separator"></span>
			<a class="tag tag-pink"
				ui-sref="discover.games.view.news.list"
				>
				{{ gameCtrl.notificationCounts.news }}
				<span translate>New</span>
			</a>
		</span>
	</span>
</div>
