<div class="game-header-controls" ng-if="App.user">

	<!--
		Playlists
		Can only add visible games to playlists.
	-->
	<a
		ng-if="gameCtrl.game.status == Game.STATUS_VISIBLE"
		class="game-header-add btn btn-outline btn-sparse"
		gj-popover-trigger="add-to-playlist"
		gj-tooltip="Add to Playlist"
		tooltip-placement="bottom"
		gj-track-event="game-profile:add-playlist"
		>
		<span class="jolticon jolticon-add"></span>
	</a>

	<gj-game-playlist-add-to-popover gj-game="gameCtrl.game"></gj-game-playlist-add-to-popover>

	<!-- Buttons / Controls -->
	<div class="game-header-follow-container">
		<gj-game-follow-widget game="gameCtrl.game"></gj-game-follow-widget>
	</div>

</div>
