<!-- Buttons / Controls -->
<a class="big"
	ng-if="!gameCtrl.libraryGame"
	ng-click="gameCtrl.onFollowClick()"
	ng-class="{ 'cake-button': Screen.isXs, 'i-button': !Screen.isXs }"
	gj-tooltip="{{ 'library.followed.follow_game_button_tooltip' | translate }}"
	>
	<span class="jolticon jolticon-subscribe" ng-class="{ big: Screen.isXs }"></span>
	{{ 'library.followed.follow_game_button' | translate }}
</a>

<a class="big active"
	ng-if="gameCtrl.libraryGame"
	ng-click="gameCtrl.onFollowClick()"
	ng-class="{ 'cake-button': Screen.isXs, 'i-button': !Screen.isXs }"
	gj-tooltip="{{ 'library.followed.unfollow_game_button_tooltip' | translate }}"
	>
	<span class="jolticon jolticon-subscribed" ng-class="{ big: Screen.isXs }"></span>
	{{ 'library.followed.unfollow_game_button' | translate }}
</a>

<!--
	Playlists
	Can only add visible games to playlists.
-->
<a class="big"
	ng-if="gameCtrl.game.status == Game.STATUS_VISIBLE"
	ng-class="{ 'cake-button': Screen.isXs, 'i-button': !Screen.isXs }"
	gj-popover-trigger="add-to-playlist">

	<span class="jolticon jolticon-add" ng-class="{ big: Screen.isXs }"></span>
	{{ ::'library.playlists.add_to.button' | translate }}
</a>

<gj-game-playlist-add-to-popover gj-game="gameCtrl.game"></gj-game-playlist-add-to-popover>
