<section class="section fill-darker game-header-controls" ng-if="App.user && Game_ViewState.showExtendedHeader">
	<div class="container">
		<div gj-partial="/app/views/discover/games/view/_header/_controls.html"></div>
	</div>
</section>

<div ng-if="Game_ViewState.showExtendedHeader">
	<div gj-partial="/app/views/discover/games/view/_header/_stats.html"></div>
</div>

<div class="game-header-nav">
	<div class="container">
		<div gj-partial="/app/views/discover/games/view/_header/_nav.html"></div>
	</div>
</div>
