<section class="game-header-controls" ng-if="App.user">
	<div class="container">
		<div gj-partial="/app/views/discover/games/view/_header/_controls.html"></div>
	</div>
</section>

<section class="game-header-nav-addons section fill-darker" ng-if="Game_ViewState.showExtendedHeader">
	<div class="container">
		<div gj-partial="/app/views/discover/games/view/_header/_stats.html"></div>
		<div gj-partial="/app/views/discover/games/view/_header/_rate.html"></div>
	</div>
</section>

<div class="game-header-nav">
	<div class="container">
		<div gj-partial="/app/views/discover/games/view/_header/_nav.html"></div>
	</div>
</div>
