<!--
	Can't rate your own games! Remember that.
-->
<div class="game-header-rate clearfix" ng-if="App.user && gameCtrl.game.developer.id != App.user.id && gameCtrl.game.ratings_enabled && !Game_ViewState.isDevlog">
	<div class="game-header-rate-label">
		{{ gameCtrl.userRating ? 'Your Rating' : 'Rate Game' }}
	</div>

	<gj-rating-widget
		rating-widget-game="gameCtrl.game"
		rating-widget-rating="gameCtrl.userRating"
		rating-widget-big="Screen.isSm || !gameCtrl.isNavAffixed"
		>
	</gj-rating-widget>
</div>
