<section class="game-header-controls" ng-if="App.user">
	<div class="container">
		<div ng-include="'/app/views/discover/games/view/_header/controls.html'"></div>
	</div>
</section>

<div class="game-header-nav" gj-scroll-affix is-affixed="gameCtrl.isNavAffixed" should-affix="Screen.height > 750">
	<div class="container">

		<div class="game-header-nav-addons no-animate-leave"
			ng-if="Game_ViewState.showExtendedHeader"
			ng-class="{ 'animate-affixed-on': gameCtrl.isNavAffixed, 'animate-affixed-off': !gameCtrl.isNavAffixed }"
			>
			<div ng-include="'/app/views/discover/games/view/_header/rate.html'"></div>
			<div ng-include="'/app/views/discover/games/view/_header/stats.html'"></div>
		</div>

		<div ng-include="'/app/views/discover/games/view/_header/nav.html'"></div>
	</div>
</div>
