<section class="game-header-controls" ng-if="App.user">
	<div class="container">
		<div ng-include="'/app/views/discover/games/view/_header/controls.html'"></div>
	</div>
</section>

<section class="game-header-nav-addons section fill-darker" ng-if="Game_ViewState.showExtendedHeader">
	<div class="container">
		<div ng-include="'/app/views/discover/games/view/_header/stats.html'"></div>
		<div ng-include="'/app/views/discover/games/view/_header/rate.html'"></div>
	</div>
</section>

<div class="game-header-nav">
	<div class="container">
		<div ng-include="'/app/views/discover/games/view/_header/nav.html'"></div>
	</div>
</div>
