<div class="post-feed">

	<div class="post-feed-item" ng-repeat="post in posts track by post.id">

		<!--<section class="section post-header" ng-class="{ 'has-header-img': post.header }">-->

		<div class="post-feed-item-header">
			<div class="post-header-img-wrapper" ng-if="post.header">
				<div class="post-header-img"
					ng-style="{ 'background-image': 'url(\'' + post.header.img_url + '\')' }"
					gj-parallax-scroll
					scroll-drag="0.5"
					scroll-dim="0.4"></div>
			</div>
		</div>

		<!--<a ng-if="::post.header" class="post-feed-item-img" ui-sref="post( { username: post.user.username, slug: post.slug } )">
			<img class="img-responsive" ng-src="{{ ::post.header.img_url }}" alt="Post Header">
		</a>-->

		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-centered">

					<!-- Non-mobile avatar position -->
					<div gj-user-avatar="::post.user" class="avatar-circle hidden-xs"></div>

					<div class="post-feed-item-title">
						<a ui-sref="post( { username: post.user.username, slug: post.slug } )">
							{{ ::post.title }}
						</a>
					</div>

					<div class="post-feed-item-subline">
						<p class="post-body">{{ ::post.subline }}</p>
					</div>

					<!-- Mobile avatar position -->
					<div gj-user-avatar="::post.user" class="avatar-circle visible-xs"></div>

					<div class="post-feed-item-by">
						<span class="hidden-xs">By</span>
						<a ui-sref="profile( { username: post.user.username } )">{{ ::post.user.username }}</a>
						<span class="dot-separator"></span>
						<em class="post-feed-item-time" am-time-ago="post.published_on"></em>

						<span gj-post-tags-list="post.tags"></span>
					</div>
					<br><br>

					<div class="post-body">
						<div gj-widget-compiler-bind="::post.compiled_content"></div>
					</div>

				</div>
			</div>
		</div>

	</div>

</div>
