.ctrl-discover-games-view

	.page-header-content
		text-align: center

		@media $media-sm-up
			text-align: left

.game-header

	&-follow-container
		position: relative
		margin-right: 38px + 10px

		.btn
			@extend .btn-block

	&-add
		float: right

	@media $media-sm

		&-controls
			float: left


