.ctrl-discover-games-view

	.page-header-content
		text-align: center

		@media $media-sm-up
			text-align: left

.game-header

	&-follow-container
		position: relative
		margin-right: 38px + 10px

		.btn
			padding-right: 0

	&-follow-count
		float: right
		display: inline-block
		padding: 0 10px
		margin-left: 10px
		background-color: $gray-darkest
		color: $gj-green
		font-size: $font-size-small

	&-add
		float: right

	@media $media-sm

		&-controls
			float: left


