@require '~styles/variables'

.route-discover-games-view
	.page-header-content
		text-align: center

		@media $media-sm-up
			text-align: left

	.game-header
		&-follow-container
			margin-right: 38px + 10px

		&-add
			float: right

		@media $media-sm-md
			&-controls
				float: left

	.recommended-games
		.game-thumbnail
			margin-bottom: 0
