<app-form name="descriptionForm" ref="form">

	<app-form-group
		name="description_markdown"
		:label="$gettext( `dash.games.form.description_label` )"
		:hide-label="true"
		>

		<app-form-control-markdown
			preview-class="game-compiled-description"
			preview-url="/web/dash/developer/games/description/preview"
			markdown-mode="games"
			:show-media-items="true"
			media-item-type="game-description"
			:placeholder="$gettext( `Write your game description here...` )"
			:disabled="isDisabled || !hasDetailsPerms"
			/>

		<app-form-control-errors />

	</app-form-group>

	<template v-if="shouldShowTags">
		<app-jolticon icon="tags" />
		<strong><translate>Game Tags</translate></strong>
		<div class="page-help">
			<p>
				<translate>Tag your game to make it appear in game lists. Simply click one to add it to your game's description.</translate>
				<br />
				<translate>It is recommended to include at least one of the listed tags.</translate>
			</p>
		</div>
		<div v-if="recommendedTags.length">
			<a
				v-for="tag of recommendedTags"
				:key="tag"
				@click="addTag(tag)"
				class="badge game-tag"
				>
				#{{tag}}
			</a>
			<hr>
		</div>
		<div v-if="otherTags.length">
			<a
				v-for="tag of otherTags"
				:key="tag"
				@click="addTag(tag)"
				class="badge game-tag"
				>
				#{{tag}}
			</a>
		</div>
		<br />

	</template>

	<app-expand :when="isFnafDetected">
		<div class="alert alert-notice">
			<div v-translate>
				dash.games.add.fnaf_autotag_message_html
			</div>

			<app-game-perms required="details" tag="div" class="alert-actions">
				<app-button
					primary
					icon="tag"
					@click="addAutotag( 'fnaf' )"
					>
					<translate>dash.games.add.fnaf_autotag_accept</translate>
				</app-button>

				<app-button
					trans
					@click="skipAutotag"
					>
					<translate>dash.games.add.fnaf_autotag_reject</translate>
				</app-button>
			</app-game-perms>
		</div>
	</app-expand>

	<app-game-perms required="details">
		<app-dash-game-wizard-controls v-if="!isFnafDetected">
			<app-form-button>
				<translate>Save Description</translate>
			</app-form-button>
		</app-dash-game-wizard-controls>
	</app-game-perms>

</app-form>
