@require '~styles/variables'
@require '~styles-lib/mixins'

.-scroller
	padding-bottom: 6px

.-list
	full-bleed()
	white-space: nowrap
	padding-left: $grid-gutter-width-xs * 0.5
	padding-right: $grid-gutter-width-xs * 0.5
	margin-bottom: $line-height-computed

	@media $media-sm-up
		padding-left: $grid-gutter-width * 0.5
		padding-right: $grid-gutter-width * 0.5
