@require '~styles/variables'
@require '~styles-lib/mixins'

.-video-embed
	rounded-corners()
	content-prop('background-color', 'bg-offset')
	position: relative

	a
		display: block

.-thumb
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-repeat: no-repeat
	background-position: center center
	background-size: cover

// It's a thumbnail first, then after clicking it becomes an iframe embed.
.-thumb, >>> iframe
	rounded-corners()
