@require '~styles/variables'

.-video-embed
	position: relative

	a
		display: block

.-thumb
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
