@require '../variables'
@require '~styles-lib/mixins'

.-video-embed
	theme-prop('background-color', 'bg-offset')
	margin-top: $-item-padding-xs
	margin-left: -($-item-padding-xs)
	margin-right: -($-item-padding-xs)
	position: relative

	@media $media-sm-up
		margin-top: $-item-padding
		margin-left: -($-item-padding-container)
		margin-right: -($-item-padding-container)

	a
		display: block

.-thumb
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
