@require '~styles/variables'
@require '~styles-lib/mixins'

.game-featured
	margin-left: 12px
	margin-right: 12px
	margin-bottom: 32px

	padding: 16px

	width: 100%
	min-height: 130px

	display: flex
	justify-content: space-between
	rounded-corners()

.game-title
	margin-top: 0
	margin-bottom: 0

.info-container
	min-width: 50%
	max-width: 65%
	flex-shrink: 0
	padding-right: 16px

.follow-container
	margin-top: 16px

.caption-container
	display: flex
	flex-direction: column
	flex-grow: 1
	align-items: center
	align-self: center
