<h1 class="section-header sans-margin-bottom">Game Jolt Privacy Policy</h1>

<p class="text-muted small">
	This privacy policy is effective as of June 3rd, 2014
</p>

<div class="alert alert-info">
	<p>For questions or concerns regarding the use of personal information you submit to us, please contact us at <a href="mailto:contact@gamejolt.com">contact@gamejolt.com</a>.</p>
</div>

<p>Game Jolt respects each individual's right to personal privacy. We will collect and use information through our Web site only in the way disclosed in this statement. This statement applies solely to information collected at http://gamejolt.com ("Site") and may not apply to information we collect about you offline (such as over the phone) or in different situations (such as through email correspondence).</p>

<h3>Information We Collect</h3>

<p><b>Information You Provide:</b> You provide certain personally identifiable information (such as your name and email address) to Game Jolt when choosing to participate in various activities on the Site such as posting messages in the games comment section, sending feedback, user profile shouts, responding to surveys, or subscribing to newsletters or other mailing lists. Additional information (such as address) may be collected when uploading a game, or making a purchase.</p>

<p>You may choose to disclose information about yourself in the various comment boxes around the Site or in creating user "profiles". Information that you disclose in these areas is public information, and will be accessible to anyone who uses our Site.</p>

<p><b>Other Information We Track:</b> This Site uses passive tracking technologies to log non-identifiable information such as IP address, browser type and Site usage (for example: what pages are accessed, how often, referring/exit pages and URLs). We may also employ "cookies" or similar technologies that provide additional functionality to the Site and help us analyze Site usage more accurately. You can set your browser to reject cookies, but if you do, some features on our Site (such as logging in) will not function normally.</p>

<h3>How We Use This Information</h3>

<p>We use the information we collect to respond to your requests and provide customer service, let you know about new games and other news from Game Jolt, ask for your input and feedback on what we are doing, provide personalized services and recommendations, and as may otherwise be described in this Privacy Policy or at the time that we collect information from you.</p>

<p>We use both your personally identifiable information and certain non-personally identifiable site usage data to improve the quality and design of the Site and to create new features, promotions, and services by storing, tracking, and analyzing user preferences and trends.</p>

<p>We may also combine the information you submit to us with information we have collected from you in other forums, such as through emails or offline, or with publicly available information or information we obtain from third parties.</p>

<p>If our policy on information collection or uses changes, we will revise this Privacy Policy to reflect the changes. We will post the updated policy here and may notify you if we think the changes will significantly impact the treatment of information you have already provided.</p>

<h3>When We Might Disclose Information</h3>

<p>As part of our regular business conduct, we may share information with companies or individuals providing services or acting on our behalf, such as companies providing technological or fulfillment services. In the event that there is a change of corporate ownership, the new owners will of course be provided with our files, including information you have submitted. We will also share information with government officials, including law enforcement officials or court authorities, in order to cooperate with a legitimate investigation.</p>

<p>Unless we tell you first (such as at the time we collect information from you), or unless it is part of a specific program or feature in which you have elected to participate, we do not share personally identifiable information that we have collected (such as name or email address) with other, third-party companies for their own commercial or marketing purposes.</p>

<h3>Links and Third Parties</h3>

<p>From time to time we may include at the Site links to other websites as a service to you. The third party sites are operated by companies that are outside of our control, and your activities at those sites will be governed by the policies and practices of those third parties. We encourage you to review the privacy practices of these third parties before disclosing any personally identifiable information, as we are not responsible for the privacy practices of those sites.</p>

<p>We sometimes work with third parties to add features to our Site. These third parties may place cookies on your browser when you visit certain pages of our Site, or collect cookies that they have previously placed, along with the URL of the page you visited. We do not control those third parties or their use of data. This privacy policy does not cover those third parties’ use of data.</p>

<p>We use third-party advertising companies to serve ads when you visit our Site. These companies may use aggregated information (not including your name, address, email address or telephone number) about your visits to this and other Web sites in order to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies, please see: <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a></p>

<h3>Security</h3>

<p>We use standard and reasonable technological and procedural measures to protect the information you provide. We urge you to protect your password by not sharing it with anyone else, and to take measures to prevent it from unauthorized access or disclosure. For example, select number, letter and special character combinations that would be difficult for a third party (or hacking program) to determine, and do not write it down where someone may see it.</p>

<h3>Your Options</h3>

<p>If you are receiving Game Jolt email advertisements and no longer wish to receive those email messages, you may opt out at the time you receive the message by following the instructions in that email. Please allow three days for your request to be processed.</p>

<p>If you do not agree with the privacy practices described in this Privacy Policy, it may be best to limit your level of interaction with our Site, which could include simply not providing us with personal information. While this will limit the services that our Site is able to provide, most of the games will remain playable. This option may be best for those who do not wish to provide the mandatory information required to set up an account.</p>
