<div class="shell-card-popover fill-dark">

	<template v-if="isLoading">
		<br>
		<app-loading :centered="true"></app-loading>
	</template>
	<template v-else>
		<div class="alert" v-if="!feed.hasItems">
			<translate>You don't have any notifications yet.</translate>
		</div>
		<div v-else>
			<router-link
				:to="{ name: 'activity.notifications' }">
				<app-button>
					<translate>View All</translate>
				</app-button>
			</router-link>
			<app-button
			 	@click="markAllAsRead">
				<translate>Mark all as Read</translate>
			</app-button>
			<app-activity-feed
				:feed="feed"
				:new-count="0"
				@load-new="loadedNew()"
				/>
		</div>
	</template>

</div>
