@require '~styles/variables'
@require '../../../../../lib/gj-lib-client/stylus/common/mixins'

.-as-owner
	clearfix()

	&-item
		float: left
		margin-right: 10px

	&-avatar
		width: $input-height-base
