@require '~styles/variables'
@require '../../../../../lib/gj-lib-client/stylus/common/mixins'

.-as-owner
	clearfix()

	&-item
		float: left
		margin-right: 10px

	&-avatar
		width: $input-height-base

.-poll-option
	display: flex

	.form-group
		flex-grow: 1
		margin-bottom: ($font-size-base / 2)

	&-remove
		width: 40px
		line-height: $input-height-base
		text-align: center

.-poll-duration
	.form-group
		margin-bottom: 0
