// .forum-list-heading
// 	border-bottom: 2px solid $gray-lighter

// 	&:first-of-type
// 		margin-top: 0

// .forum-stats
// 	position: relative

// .forum-list-items
// 	.forum-list-item
// 		margin-bottom: 1em

// 		p
// 			@media $media-xs
// 				margin-bottom: 5px

// 		.forum-list-item-title
// 			font-weight: bold
// 			margin: 0
// 			display: inline-block

// 			@media $media-xs
// 				margin-bottom: 10px

// 		.forum-list-item-followers
// 			margin-left: 5px
// 			font-size: 13px

// 		.forum-list-item-meta
// 			text-align: right

// 			@media $media-xs
// 				text-align: left

// 		.forum-list-item-users
// 			display: inline-block
// 			padding-left: 10px
// 			margin: 0
// 			float: right

// 			li
// 				list-style: none
// 				margin: 0
// 				width: 32px
// 				display: inline-block

// 				img
// 					width: 100%

// 		.forum-list-item-stats
// 			display: inline-block
// 			padding: 0
// 			margin: 0

// 			@media $media-xs
// 				margin-bottom: 1em

// 			li
// 				list-style: none
// 				margin: 0
// 				font-size: 13px

// 				@media $media-xs
// 					display: inline-block
// 					font-size: 14px
// 					// margin-right: 10px
// 					@extend .text-muted

// .forum-header-buttons
// 	.btn
// 		@media $media-xs
// 			text-align: center
// 			display: block
// 			margin-bottom: 1em

// .forum-header-private
// 	padding: 5px 10px
// 	margin-left: 10px

// 	@media $media-xs
// 		display: block
// 		margin: 1em 0
// 		text-align: center
