@require '~styles/variables'

.route-forums

	.forum-section-header
		padding-bottom: (($line-height-computed / 2) - 1)
		margin: ($line-height-computed * 2) 0 $line-height-computed
		border-bottom: 1px solid $page-header-border-color


	// For stat lists in headers, we need to space it out better.
	// It's pretty arbitrary but works well.
	header .stat-list
		margin-top: 25px
