@require '~styles/variables'
@require '~styles-lib/mixins'

.route-forums
	.forum-section-header
		theme-prop('border-bottom-color', 'bg-subtle')
		padding-bottom: ($line-height-computed / 2) - 1
		margin: ($line-height-computed * 2) 0 $line-height-computed
		border-bottom-width: 1px
		border-bottom-style: solid
