@import '~styles/variables'
@import '~styles-lib/mixins'

$-thumbnail-size = 80px
$-thumbnail-size-sm = 48px
$-bg-color-base = var(--theme-bg)

.-unread-blip
	position: absolute
	top: 16px
	left: 24px
	height: 12px
	width: 12px
	border: $border-width-large solid var(--theme-bg)
	background-color: var(--theme-fg)
	border-radius: 50%
	pointer-events: none

	@media $media-xs
		left: 18px

.popper-wrapper .-community-card
	min-width: 300px

.-community-card
	position: relative
	display: flex
	background-color: $-bg-color-base
	padding: 8px

	@media $media-mobile
		flex-direction: column

	@media $media-xs
		elevate-xs()

	@media $media-sm-up
		elevate-1()

	&.-as-header
		.-thumbnail
			margin-top: 0
			width: $-thumbnail-size-sm
			height: $-thumbnail-size-sm
			border: 0

		.-verified
			font-size: $jolticon-size

.-thumbnail
	position: relative
	display: block
	margin-top: -($-thumbnail-size * (1 - 0.618))
	margin-right: 8px
	width: $-thumbnail-size
	height: $-thumbnail-size
	border: 4px solid $-bg-color-base
	z-index: 2
	flex: none

	&
	&-inner
		img-circle()

	&-inner
		overflow: hidden
		height: 100%
		background-color: var(--theme-bg-subtle)

	.-verified
		filter: drop-shadow(1px 1px $-bg-color-base) drop-shadow(-1px 1px $-bg-color-base) drop-shadow(1px -1px $-bg-color-base) drop-shadow(-1px -1px $-bg-color-base)
		position: absolute
		bottom: -($border-width-base)
		right: -($border-width-base)
		font-size: 20px

.-well
	display: flex
	align-items: flex-start
	min-width: 0

	@media $media-mobile
		padding-right: 32px

	&:not(.-overflow)
		&
		.-details
			min-width: 0

		.-name
		.-members
			text-overflow()

	.-details
		padding-right: 8px

	.-name
		font-weight: bold
		font-size: $font-size-large

.-controls
	clear: both
	margin-top: $line-height-computed
	display: flex
	align-items: center

	&-item
		margin: 0 4px

	.button
		position: relative

		&:hover
			.-unread-blip
				border-color: var(--theme-bg-actual)
				background-color: var(--theme-bi-fg)

	@media $media-xs
		.-menu
			margin-right: 8px

			>>> .jolticon
				margin: 0

	&-primary
		flex: auto
		max-width: 240px

		@media $media-mobile
			margin-left: auto

	.-extra
		position: absolute
		top: 4px
		right: 0

	@media $media-md-up
		flex: auto
		margin-top: 0
		padding-left: 8px
		justify-content: flex-end

		&-primary
			order: 3

		.-extra
			order: 4
			position: static
