@require '~styles/variables'
@require '~styles-lib/mixins'

.theme-cluster
	rounded-corners()
	position: relative
	padding-top: 100%
	height: 0
	overflow: hidden

.-highlight, .-backlight
	theme-prop('border-color', 'bg')
	position: absolute
	width: 150%
	height: 150%

.-highlight
	top: 0
	left: 0
	z-index: 1

.-backlight
	theme-prop('border-color', 'bg')
	bottom: -100%
	right: -100%
	transform: rotateZ(45deg)
	z-index: 2
	border-width: 2px
	border-style: solid
