<div class="chat-sidebar fill-darkest">

	<!-- Public Chat Rooms -->
	<div class="chat-rooms-list">

		<div class="nav-heading first" translate>
			Public Chat Rooms
		</div>

		<ul class="shell-nav">
			<li ng-repeat="room in client.publicRooms track by room.id">
				<a
					ng-click="ctrl.onPublicRoomClicked( room.id )"
					ng-class="{ active: client.room.id == room.id }"
					title="{{ ::room.title }}"
					>
					<span class="tag tag-pink notifications-tag" ng-if="client.roomId == room.id && Chat.roomNotifications">{{ Chat.roomNotifications | number }}</span>
					<span class="shell-nav-icon">
						<span class="jolticon jolticon-number-sign"></span>
					</span>
					<span class="shell-nav-label">
						{{ ::room.title }}
					</span>
				</a>
			</li>
		</ul>
	</div>

	<!-- Friends List -->
	<!-- Only include if not a guest -->
	<div class="chat-friends-list" ng-if="client.currentUser && client.friendsPopulated">

		<div ng-if="client.friendsPopulated && !client.friendsList.collection.length">
			<div class="nav-heading" translate>
				Friends
			</div>
			<div class="alert alert-warning" translate>
				No friends yet.
			</div>
			<div class="alert fill-dark" translate>chat.no_friends_message_html</div>
		</div>

		<!--
			Mobile is slow to compile really long friend lists.
			We split out online/offline friends on mobile so that it's fast to display/compile.
			Will also do it if they have more than 50 friends to keep the site fast.
		-->
		<div ng-if="Screen.isXs || client.friendsList.collection.length > 50">
			<div ng-if="client.friendsList.onlineCount">
				<div class="nav-heading">
					<span class="badge badge-active" ng-if="client.friendsList.onlineCount > 0">{{ client.friendsList.onlineCount | number }}</span>
					<span translate>Online Friends</span>
				</div>

				<gj-chat-user-list
					chat-user-list-users="client.friendsList.collection  | filter:ctrl.filterOnline"
					chat-user-list-show-pm="true"
					>
				</gj-chat-user-list>
			</div>

			<div ng-if="client.friendsList.offlineCount">
				<a class="nav-heading" ng-click="shouldShowOfflineFriends = !shouldShowOfflineFriends">
					<span class="badge">{{ client.friendsList.offlineCount }}</span>
					<span>[{{ shouldShowOfflineFriends ? '-' : '+' }}]</span>
					<span translate>Offline Friends</span>
				</a>

				<gj-chat-user-list
					ng-if="shouldShowOfflineFriends"
					chat-user-list-users="client.friendsList.collection | filter:ctrl.filterOffline"
					chat-user-list-show-pm="true"
					>
				</gj-chat-user-list>
			</div>
		</div>

		<div ng-if="!Screen.isXs && client.friendsList.collection.length <= 50">
			<div ng-if="client.friendsList.collection.length">
				<div class="nav-heading">
					<span class="badge">{{ client.friendsList.collection.length | number }}</span>
					<span class="badge badge-active" ng-if="client.friendsList.onlineCount > 0">{{ client.friendsList.onlineCount | number }}</span>
					<span translate>Friends</span>
				</div>

				<gj-chat-user-list
					chat-user-list-users="client.friendsList.collection"
					chat-user-list-show-pm="true"
					>
				</gj-chat-user-list>
			</div>
		</div>

	</div>

	<br>

</div>
