<div class="chat-sidebar fill-darkest">

	<!-- Public Chat Rooms -->
	<div class="chat-rooms-list">

		<div class="nav-heading first">
			<translate>Public Chat Rooms</translate>
		</div>

		<ul class="shell-nav">
			<li v-for="room of chat.publicRooms" :key="room.id">
				<a
					@click="onPublicRoomClicked( room.id )"
					:class="{ active: chat.room && chat.room.id === room.id }"
					:title="room.title"
					>
					<span class="tag tag-pink notifications-tag"
						v-if="chat.roomId === room.id && Chat.roomNotifications"
						>
						{{ Chat.roomNotifications | number }}
					</span>
					<span class="shell-nav-icon">
						<app-jolticon icon="number-sign" />
					</span>
					<span class="shell-nav-label">
						{{ room.title }}
					</span>
				</a>
			</li>
		</ul>
	</div>

	<!-- Friends List -->
	<!-- Only include if not a guest -->
	<div class="chat-friends-list" v-if="chat.currentUser && chat.friendsPopulated">

		<template v-if="chat.friendsPopulated && !chat.friendsList.collection.length">
			<div class="nav-heading">
				<translate>Friends</translate>
			</div>
			<div class="alert alert-warning">
				<translate>No friends yet.</translate>
			</div>
			<div class="alert fill-dark">
				<span v-translate>chat.no_friends_message_html</span>
			</div>
		</template>

		<!--
			Mobile is slow to compile really long friend lists.
			We will only show the friends list if they aren't on mobile or have less than 50 friends.
		-->
		<template v-if="chat.friendsList.collection.length">
			<div class="nav-heading"
				@click="changeFriendListVisibility()"
				>
				<span class="badge">
					{{ chat.friendsList.collection.length | number }}
				</span>
				<span class="badge badge-active"
					v-if="chat.friendsList.onlineCount > 0"
					>
					{{ chat.friendsList.onlineCount | number }}
				</span>
				<span v-if="!shouldAlwaysShowFriends">[{{ shouldShowFriends ? '-' : '+' }}]</span>
				<translate>Friends</translate>
			</div>

			<app-chat-user-list
				v-if="shouldShowFriends"
				:users="friends"
				:show-pm="true"
				/>
		</template>

	</div>

</div>
