@require '~styles/variables'

.site-editor
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: hidden
	z-index: $zindex-modal
	background-color: transparent

	&-backdrop
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: ($zindex-modal-background - 10)
		background-color: $gray-darkest

	&-nav
		position: absolute
		top: 0
		left: 0
		right: 0

	&-sidebar
	&-content
		position: absolute
		top: $navbar-height
		bottom: 0

	&-sidebar
		left: 0
		width: 350px
		background-color: $gray-darker

	&-bottom
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 40%
		background-color: $gray-darker
		overflow-y: auto
		z-index: 2

	&-content
		right: 0
		left: 0

		.site-editor-tab-theme &
			left: 350px

		.site-editor-tab-content &
			bottom: 40%

		iframe
			display: block
			width: 100%
			height: 100%
			border: 0
