.linked-accounts-list-icon
	float: left

.linked-accounts-list-body
	margin-left: 70px
	margin-bottom: $grid-gutter-width-xs

	@media $media-sm-up
		margin-bottom: $grid-gutter-width

	> h5
		margin: 0
		font-weight: bold
