<div>
	<div class="row linked-accounts-list">
		<div
			class="col-md-6"
			v-for="(provider, index) of [ 'facebook', 'twitter', 'google', 'twitch' ]"
			:key="index"
			>
			<div class="well fill-lightest">

				<div class="linked-accounts-list-icon">
					<app-jolticon
						:big="true"
						:icon="getProviderIcon( provider )"
						/>
				</div>

				<div class="linked-accounts-list-body">
					<h5>
						<span v-if="provider === 'facebook'"><translate>Facebook</translate></span>
						<span v-else-if="provider === 'twitter'"><translate>Twitter</translate></span>
						<span v-else-if="provider === 'google'"><translate>Google+</translate></span>
						<span v-else-if="provider === 'twitch'"><translate>Twitch</translate></span>
					</h5>

					<div v-if="(provider === 'facebook' && !user.facebook_id)
						|| (provider === 'twitch' && !user.twitch_id)
						|| (provider === 'twitter' && !user.twitter_id)
						|| (provider === 'google' && !user.google_id)"
						>
						<p>
							<small class="text-muted"><translate>Not linked.</translate></small>
						</p>
						<button class="btn btn-success-outline" @click="link( provider )">
							<app-jolticon icon="link" />
							<translate>Link Now</translate>
						</button>
					</div>

					<div v-if="(provider === 'facebook' && user.facebook_id)
						|| (provider === 'twitch' && user.twitch_id)
						|| (provider === 'twitter' && user.twitter_id)
						|| (provider === 'google' && user.google_id)"
						>

						<p>
							<strong v-if="provider === 'facebook'">
								<a :href="`https://facebook.com/${ user.facebook_id }`">
									{{ user.facebook_name }}
								</a>
							</strong>
							<strong v-else-if="provider === 'twitter'">
								<a :href="`https://twitter.com/${ user.twitter_screenname }`">
									{{ user.twitter_screenname }}
								</a>
							</strong>
							<strong v-else-if="provider === 'google'">
								<a :href="`https://plus.google.com/${ user.google_id }`">
									{{ user.google_nickname }}
								</a>
							</strong>
							<strong v-else-if="provider === 'twitch'">
								<a :href="`https://twitch.tv/${ user.twitch_name }`">
									{{ user.twitch_name }}
								</a>
							</strong>
						</p>

						<div>
							<button class="btn btn-outline" @click="link( provider )">
								<app-jolticon icon="retweet" class="need-icon" />
								<translate>Sync</translate>
							</button>
							<button class="btn btn-danger-outline" @click="unlink( provider )">
								<app-jolticon icon="remove" />
								<translate>Unlink</translate>
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-lg-6">
			<h3><translate>YouTube Channels</translate></h3>

			<p class="page-help">
				<translate>You can link your YouTube channels in order to post video comments on games.</translate>
			</p>

			<div class="list-group" v-if="channels.length > 0">
				<div
					class="list-group-item clearfix"
					v-for="channel of channels"
					:key="channel.id"
					>
					<div class="pull-right">
						<button
							class="btn btn-danger-outline btn-sm"
							@click="unlinkYoutube( channel )"
							>
							<app-jolticon icon="remove" />
							<translate>Unlink</translate>
						</button>
					</div>
					<strong>
						<a :href="`https://www.youtube.com/channel/${ channel.channel_id }`" target="_blank">
							{{ channel.title }}
						</a>
					</strong>
				</div>
			</div>

			<div>
				<button class="btn btn-success-outline" @click="link( 'youtube-channel' )">
					<app-jolticon icon="add" />
					<translate>Link YouTube Channel</translate>
				</button>
			</div>
		</div>
	</div>
</div>
