<div ui-view="main-content">

	<div class="row linked-accounts-list">
		<div class="col-md-6" ng-repeat="provider in [ 'facebook', 'twitter', 'google' ] track by $index">
			<div class="well fill-lightest">

				<div class="linked-accounts-list-icon">
					<span class="jolticon big" ng-class="::{
						'jolticon-facebook': provider == 'facebook',
						'jolticon-twitter-bird': provider == 'twitter',
						'jolticon-google-plus': provider == 'google'
					}"></span>
				</div>

				<div class="linked-accounts-list-body">
					<h5 ng-switch="::provider">
						<span ng-switch-when="facebook" translate>Facebook</span>
						<span ng-switch-when="twitter" translate>Twitter</span>
						<span ng-switch-when="google" translate>Google+</span>
					</h5>

					<div ng-if="(provider == 'facebook' && !App.user.facebook_id) || (provider == 'twitter' && !App.user.twitter_id) || (provider == 'google' && !App.user.google_id)">
						<p>
							<small class="text-muted" translate>Not linked.</small>
						</p>
						<a class="btn btn-success-outline" ng-click="linkedAccountsCtrl.link( provider )">
							<span class="jolticon jolticon-link"></span>
							<span translate>Link Now</span>
						</a>
					</div>

					<div ng-if="(provider == 'facebook' && App.user.facebook_id) || (provider == 'twitter' && App.user.twitter_id) || (provider == 'google' && App.user.google_id)">
						<p ng-switch="::provider">
							<strong ng-switch-when="facebook">
								<a ng-href="https://facebook.com/{{ App.user.facebook_id }}">
									{{ App.user.facebook_name }}
								</a>
							</strong>
							<strong ng-switch-when="twitter">
								<a ng-href="https://twitter.com/{{ App.user.twitter_screenname }}">
									@{{ App.user.twitter_screenname }}
								</a>
							</strong>
							<strong ng-switch-when="google">
								<a ng-href="https://plus.google.com/{{ App.user.google_id }}">
									{{ App.user.google_nickname }}
								</a>
							</strong>
						</p>

						<div>
							<a class="btn btn-outline" ng-click="linkedAccountsCtrl.link( provider )">
								<span class="jolticon jolticon-retweet need-icon"></span>
								<span translate>Sync</span>
							</a>
							<a class="btn btn-danger-outline" ng-click="linkedAccountsCtrl.unlink( provider )">
								<span class="jolticon jolticon-remove"></span>
								<span translate>Unlink</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-lg-6">
			<h3 translate>YouTube Channels</h3>

			<p class="page-help" translate>
				You can link your YouTube channels in order to post video comments on games.
			</p>

			<div class="list-group">
				<div class="list-group-item clearfix" ng-repeat="channel in linkedAccountsCtrl.channels track by channel.id">
					<div class="pull-right">
						<button class="btn btn-danger-outline btn-sm"
							ng-click="linkedAccountsCtrl.unlinkYoutube( channel )"
							>
							<span class="jolticon jolticon-remove"></span>
							<span translate>Unlink</span>
						</button>
					</div>
					<strong>
						<a href="" target="_blank">
							{{ channel.title }}
						</a>
					</strong>
				</div>
			</div>

			<div>
				<a class="btn btn-success-outline" ng-click="linkedAccountsCtrl.link( 'youtube-channel' )">
					<span class="jolticon jolticon-add"></span>
					<span translate>Link YouTube Channel</span>
				</a>
			</div>
		</div>
	</div>


</div>

<!-- We need this for child routes, even though they have no templates -->
<ui-view></ui-view>
