<section class="container">

	<div class="game-cover" ng-if="checkoutCtrl.game.img_header">
		<img gj-img-responsive="{{ checkoutCtrl.game.img_header }}" alt="">
	</div>

	<div class="text-center">
		<h1 class="h2 sans-margin">
			<a class="link-unstyled">
				{{ checkoutCtrl.game.title }}
			</a>
		</h1>
		<h4 class="text-muted sans-margin-top">
			<span translate>by</span>
			<a class="link-unstyled">
				{{ checkoutCtrl.game.developer.display_name }}
			</a>
		</h4>
	</div>
	<br>

	<gj-form-payment
		cards="checkoutCtrl.cards"
		order="checkoutCtrl.order"
		gj-form-submit-handler="checkoutCtrl.onSubmit( $response )"
		>
	</gj-form-payment>

</section>
