a.card-list-item
	@extend .clearfix
	display: block
	color: $black
	padding: 15px
	margin-bottom: 10px
	outline: 1px solid $gray-lighter

	&:last-child
		border-bottom: 0

	&:hover
		outline-color: $gray-lighter

	&.active
		outline-color: $gray

h4
	font-weight: 300
