<section class="container" v-if="routeBootstrapped">

	<div class="game-cover">
		<app-media-item-cover
			v-if="game.header_media_item"
			:media-item="game.header_media_item"
			/>
	</div>

	<!--<div class="game-cover" ng-if="game.header_media_item">
		<img gj-img-responsive="{{ game.header_media_item.mediaserver_url }}" alt="">
	</div>-->

	<div class="text-center">
		<h1>
			<a
				class="link-unstyled"
				:href="Environment.baseUrl + `/games/${ game.slug }/${ game.id }`"
				target="_blank"
				>
				{{ game.title }}
			</a>
		</h1>
		<h4>
			<translate>by</translate>
			<a
				class="link-unstyled"
				:href="Environment.baseUrl + `/profile/${ game.developer.slug }/${ game.developer.id }`"
				>
				{{ game.developer.display_name }}
			</a>
		</h4>
	</div>
	<br>

	<form-payment
		:cards="cards"
		:order="order"
		@submit="onSubmit"
		/>

</section>
