$score-feed-avatar-size = 40px
$score-feed-gutter = $grid-gutter-width / 2

.score-feed
	@extend .list-unstyled

.score-feed-item
	@extend .clearfix

.score-feed-media
	float: left
	width: $score-feed-avatar-size

.score-feed-content
	margin-left: ($score-feed-avatar-size + $score-feed-gutter)
	font-size: $font-size-small

.score-feed-title
	text-overflow()
	font-family: $font-family-heading

	@media $media-sm-up
		font-weight: bold

.score-feed-user
	text-overflow()
	font-size: $font-size-small

	@media $media-sm-up
		font-size: $font-size-base

.score-feed-time
	@extend .text-muted
	font-size: $font-size-tiny
