<ol class="score-feed row">
	<li class="score-feed-item col-xs-8 col-sm-4 scrollable-grid-item anim-fade-in-up stagger no-animate-leave"
		ng-repeat="score in ctrl.scores track by score._id">

		<div class="score-feed-media">
			<div gj-user-avatar="::(score.user.id ? score.user : null)"></div>
		</div>
		<div class="score-feed-content">
			<div class="score-feed-title" title="{{ ::score.content.score }}">{{ ::score.content.score }}</div>
			<div class="score-feed-user">
				<a ng-if="::score.user.id" ng-href="{{ ::score.user.url }}">{{ ::score.user.display_name }}</a>
				<span ng-if="::score.content.guest">{{ ::score.content.guest }}</span>
			</div>
			<div class="score-feed-time" am-time-ago="::score.time"></div>
		</div>
	</li>
</ol>
