<ol class="score-feed row list-unstyled">
	<li class="score-feed-item clearfix col-xs-8 col-sm-4 scrollable-grid-item anim-fade-in-up stagger no-animate-leave"
		v-for="score of scores"
		:key="score._id"
		>

		<div class="score-feed-media">
			<app-user-avatar :user="score.user.id ? score.user : null" />
		</div>
		<div class="score-feed-content">
			<div class="score-feed-title" :title="score.content.score">
				{{ score.content.score }}
			</div>
			<div class="score-feed-user">
				<span v-if="score.user.id">
					<router-link
						:to="{
							name: 'profile.overview',
							params: { username: score.user.username },
						}"
						>
						{{ score.user.display_name }}
					</router-link>
					@{{ score.user.username }}
				</span>
				<span v-if="score.content.guest">
					{{ score.content.guest }}
				</span>
			</div>
			<div class="score-feed-time text-muted">
				<app-time-ago :date="score.time" />
			</div>
		</div>
	</li>
</ol>
