@require '~styles/variables'

.ctrl-discover-games-view-devlog-view

	.desktop-ad-spot
		margin-top: $grid-gutter-width

		// On md we have to try to get it to fit as best it can in the view.
		@media $media-md
			margin-right: -75px
