<gj-page-header
	cover-media-item="viewCtrl.post.header"
	>

	<gj-page-header-content>
		<h2>
			{{ viewCtrl.post.title }}
		</h2>
	</gj-page-header-content>

	<!--<gj-page-header-spotlight>
		<div gj-user-avatar="gameCtrl.game.developer"></div>
	</gj-page-header-spotlight>-->

	<!--<gj-page-header-nav>
		<div gj-partial="/app/views/discover/games/view/_header/_nav.html"></div>
	</gj-page-header-nav>-->

	<!--<gj-page-header-controls>
		<div gj-partial="/app/views/discover/games/view/_header/_controls.html"></div>
	</gj-page-header-controls>-->

</gj-page-header>

<div class="container">
	<div class="row">
		<div class="col-sm-10 col-md-8 col-lg-7 col-centered">

			<section class="section">
				<div class="fireside-post-body">
					<div gj-widget-compiler-bind="::viewCtrl.post.compiled_content"></div>
				</div>

				<div class="text-center">
					<gj-fireside-post-like-widget
						fireside-post="viewCtrl.post"
						>
					</gj-fireside-post-like-widget>
				</div>
			</section>

			<section class="section">
				<gj-comment-widget
					comment-resource="Fireside_Post"
					comment-resource-id="::viewCtrl.post.id"
					>
				</gj-comment-widget>
			</section>

		</div>
	</div>
</div>
