<div>

	<div v-app-scroll-when="true"></div>

	<section class="section section-thin" v-if="!Environment.isClient && !Screen.isXs && game._should_show_ads">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-lg-offset-2">
					<app-ad size="leaderboard" resource="Game" :resource-id="game.id" />
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-7 col-centered">
				<section class="section">

					<app-devlog-post-view-placeholder v-if="!post" />
					<app-devlog-post-view v-else :post="post" />

				</section>
			</div>
		</div>
	</div>

</div>