<div>

	<div v-app-scroll-when="true"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-7" :class="{ 'col-centered': Screen.isMobile }">
				<section class="section">

					<app-devlog-post-view-placeholder v-if="!post" />
					<app-devlog-post-view v-else :post="post" />

				</section>
			</div>
			<div class="col-md-4 col-lg-5" v-if="Screen.isDesktop">
				<div class="desktop-ad-spot">
					<app-ad class="pull-right" pos="top" />
				</div>
			</div>
		</div>
	</div>

	<app-ad-placement pos="bottom" />

</div>
