<header class="section">
	<div class="container">
		<h1 ng-switch="newsCtrl.section">
			<span ng-switch-when="hot">{{ ::'news.list.all_heading' | translate }}</span>
			<span ng-switch-when="followed">{{ ::'news.list.followed_heading' | translate }}</span>
			<span ng-switch-when="in-development">{{ ::'news.list.wip_heading' | translate }}</span>
			<span ng-switch-when="released">{{ ::'news.list.released_heading' | translate }}</span>
		</h1>

		<p class="small text-muted" ng-if="newsCtrl.section == 'hot'">
			<span class="jolticon jolticon-rss"></span>
			<a target="_blank" ng-href="{{ newsCtrl.atomFeedUrl }}" class="link-unstyled">RSS</a>
			|
			<a target="_blank" href="{{ newsCtrl.atomFeedUrl }}" class="link-unstyled">Atom</a>
		</p>

		<p class="text-muted small" ng-switch="newsCtrl.section">
			<span ng-switch-when="hot">{{ ::'news.list.all_descriptive_html' | translate }}</span>
			<span ng-switch-when="followed">{{ ::'news.list.followed_descriptive_html' | translate }}</span>
			<span ng-switch-when="in-development">{{ ::'news.list.wip_descriptive_html' | translate }}</span>
			<span ng-switch-when="released">{{ ::'news.list.released_descriptive_html' | translate }}</span>
		</p>

		<nav class="platform-list inline">
			<ul>
				<li>
					<a ui-sref="^.news.list" ui-sref-active="active">
						{{ ::'news.list.all_tab' | translate }}
					</a>
				</li>
				<li ng-if="App.user">
					<a ui-sref="^.news.list-section( { section: 'followed', sort: undefined } )" ui-sref-active="active"
						gj-tooltip="{{ 'news.list.followed_tooltip' | translate }}"
						tooltip-placement="bottom"
						>
						{{ ::'news.list.followed_tab' | translate }}
					</a>
				</li>
				<li>
					<a ui-sref="^.news.list-section( { section: 'in-development' } )" ui-sref-active="active"
						gj-tooltip="{{ 'news.list.wip_tooltip' | translate }}"
						tooltip-placement="bottom"
						>
						{{ ::'news.list.wip_tab' | translate }}
					</a>
				</li>
				<li>
					<a ui-sref="^.news.list-section( { section: 'released' } )" ui-sref-active="active"
						gj-tooltip="{{ 'news.list.released_tooltip' | translate }}"
						tooltip-placement="bottom"
						>
						{{ ::'news.list.released_tab' | translate }}
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<section class="ad-section" ng-if="!Environment.isClient && !Screen.isXs">
	<gj-ad ad-size="leaderboard"></gj-ad>
</section>

<section class="section">
	<div class="container">

		<div class="row">

			<div class="col-md-8" id="articles-list">

				<div class="alert alert-info full-bleed-xs" ng-if="newsCtrl.section == 'followed'" translate>news.list.followed_help_html</div>

				<div class="clearfix">
					<div class="pull-left">

						<div class="text-muted small"
							ng-if="newsCtrl.newsArticlesCount == 0"
							translate
							>
							news.list.posts_count_none
						</div>

						<div class="text-muted small"
							ng-if="newsCtrl.newsArticlesCount > 0"
							translate
							translate-n="newsCtrl.newsArticlesCount"
							translate-plural="news.list.posts_count"
							translate-scope="{ page: newsCtrl.currentPage }"
							translate-comment="{{ page }} expands to the current page of articles"
							>
							news.list.posts_count
						</div>

					</div>

					<div class="pull-right" ng-if="newsCtrl.section != 'followed'">
						<gj-sorting sorting-options="newsCtrl.sortingOptions"></gj-sorting>
					</div>
				</div>
				<br>

				<!--
					The UI view isn't actually used.
				-->
				<ui-view></ui-view>

				<gj-post-list
					ng-if="newsCtrl.articles.length"
					post-list-items="newsCtrl.articles"
					>
				</gj-post-list>

				<div ng-if="!newsCtrl.articles.length">
					<div class="alert alert-warning">
						<p ng-if="newsCtrl.section != 'followed'" translate>news.list.no_posts_html</p>
						<p ng-if="newsCtrl.section == 'followed'" translate>news.list.no_posts_followed_html</p>
					</div>
				</div>

				<gj-pagination
					items-per-page="newsCtrl.perPage"
					total-items="newsCtrl.newsArticlesCount"
					current-page="newsCtrl.currentPage"
					on-page-change="Scroll.to( 'articles-list', { animate: false } )">
				</gj-pagination>

			</div>

			<div class="col-md-4" ng-if="!Environment.isClient && Screen.isDesktop">
				<div class="text-right">
					<gj-ad ad-size="rectangle"></gj-ad>
				</div>
			</div>

		</div>

	</div>
</section>

<section class="ad-section" ng-if="!Environment.isClient && !Screen.isXs">
	<gj-ad ad-size="leaderboard"></gj-ad>
</section>
