@require '~styles/variables'

// Alternate between all dogtag types!
@keyframes user-dogtag-guy
	0%
		background-color: var(--theme-pink)
		color: $white

	25%
		background-color: var(--theme-green)
		color: var(--theme-dark-green)

	50%
		background-color: var(--theme-blue)
		color: $gray-darker

	75%
		background-color: var(--theme-dark-green)
		color: var(--theme-green)

	100%
		background-color: var(--theme-pink)
		color: $white

.user-dogtag
	text-transform: uppercase

	&-guy
		animation-name: user-dogtag-guy
		animation-duration: 5s
		animation-iteration-count: infinite
