@require '~styles/variables'
@require '../../../../lib/gj-lib-client/stylus/common/mixins'

.forum-topic-list-item
	clearfix()
	margin-bottom: $line-height-computed

	h5
		font-weight: bold
		margin: 0

		@media $media-xs
			font-size: $font-size-base

	&-author
		font-size: $font-size-small
		color: $text-muted

		a
			font-weight: bold

			&:hover
				text-decoration: underline

	&-latest-post
		&-avatar
			float: right
			margin-left: 10px
			width: 40px

		&-info
			&-username
				text-overflow()
				font-weight: bold

.-vote
	float: left
	width: 90px

.-main
	.-has-voting &
		margin-left: 90px
