<div>
	<template v-if="isOwner">
		<app-post-add-button
			@add="onPostAdded"
			/>

		<app-nav-tab-list>
			<ul>
				<li>
					<router-link
						:to="{
							name: 'profile.overview',
							query: {},
						}"
						active-class="active"
						:exact="true"
						>
						<translate>Posts</translate>
					</router-link>
				</li>
				<li>
					<router-link
						:to="{
							name: 'profile.overview',
							query: {
								tab: 'draft',
							},
						}"
						active-class="active"
						:exact="true"
						>
						<translate>Draft Posts</translate>
					</router-link>
				</li>
				<li>
					<router-link
						:to="{
							name: 'profile.overview',
							query: {
								tab: 'scheduled',
							},
						}"
						active-class="active"
						:exact="true"
						>
						<translate>Scheduled Posts</translate>
					</router-link>
				</li>
			</ul>
		</app-nav-tab-list>
	</template>

	<app-activity-feed-placeholder v-if="!feed" />
	<div v-else>

		<app-activity-feed
			v-if="feed.hasItems"
			:feed="feed"
			show-edit-controls
			show-ads
			show-game-info
			/>

		<div v-else class="alert">
			<translate>This user hasn't posted anything yet.</translate>
		</div>

	</div>
</div>
