@require '~styles/variables'
@require '~styles-lib/mixins'
@require '../common'

.-item
	&:first-child
		margin-left: 2px

.-bubble
	img-circle()
	padding: 2px
	margin-left: -2px
	margin-right: -2px
	position: relative

.-backdrop
	change-bg('bg-offset')
	border: 2px solid var(--theme-bg-actual)
	width: $-size-xs
	height: $-size-xs

	@media $media-sm-up
		width: $-size
		height: $-size

.-label
	text-overflow()
	theme-prop('color', 'fg')
	font-weight: bold
	font-size: $font-size-tiny
	text-align: center
	margin-top: 10px
	display: none

	@media $media-md-up
		display: block
		font-size: $font-size-small

		.-item:hover &
			theme-prop('color', 'link')

.-feature-counter
	position: absolute
	right: 4px
	bottom: 4px
	z-index: 2
	border-radius: 10px
	border-color: var(--theme-bg-actual)
	border-width: 3px
	border-style: solid
	padding-left: 4px
	padding-right: 4px
	font-size: $font-size-tiny
	text-align: center
	font-weight: bolder
	color: var(--theme-highlight-fg)
	background-color: var(--theme-highlight)
