@require '~styles/variables'
@require '~styles-lib/mixins'

.-item
	display: inline-block
	margin-right: 5px
	vertical-align: middle

.-bubble
	img-circle()
	padding: 2px

.-thumb
	img-circle()
	border-width: 2px
	border-style: solid
	border-color: $white
	width: 60px
	height: 60px
