@require '~styles/variables'
@require '~styles-lib/mixins'

.-item
	pressy()
	display: inline-block
	margin-right: 5px
	vertical-align: middle

.-bubble
	img-circle()
	padding: 2px

.-thumb
	img-circle()
	theme-prop('border-color', 'bg')
	theme-prop('background-color', 'bg')
	border-width: 2px
	border-style: solid
	width: 60px
	height: 60px
