<div class="game-cover-buttons"
	:class="{
		'game-cover-buttons-patching': isGamePatching,
	}"
	>

	<!--
		If the primary is for sale and they don't own it yet, the only button we
		should show is the buy button.
	-->
	<button
		class="btn btn-lg btn-success-outline btn-overlay-variant"
		v-if="game._can_buy_primary_sellable"
		@click="buy()"
		>
		<app-jolticon icon="heart" />
		<translate>Buy Game</translate>
	</button>

	<!--
		If the game is not for sale, or if they own the game, then show the
		normal buttons.
	-->
	<span v-else>

		<!--
			For Client we hide this once they start installing a package or if
			they have something installed.
		-->
		<a class="btn btn-lg btn-primary-outline btn-overlay-variant"
			v-if="browserBuilds.length && !hasLocalPackage"
			@click="play()"
			>
			<app-jolticon icon="play" />
			<translate v-if="!GJ_IS_CLIENT">Play Game</translate>
			<translate v-else>Quick Play</translate>
		</a>

		<!--
			We don't show this in Client. Instead we let the client-game-buttons
			component handle it.
		-->
		<a class="btn btn-lg btn-success-outline btn-overlay-variant"
			v-if="installableBuilds.length && !GJ_IS_CLIENT"
			@click="download()"
			>
			<app-jolticon icon="download" />
			<translate>Download</translate>
		</a>

		<!--<span v-if="GJ_IS_CLIENT">
			<gj-client-game-buttons
				label="game-cover"
				game="game"
				large-variant="true"
				overlay-variant="true"
				is-patching="isGamePatching"
				has-package="hasLocalPackage"
				on-show-multiple-packages="onShowMultiplePackages( { $package: $package } )"
				on-show-package-payment="onShowPackagePayment( { $package: $package } )"

				has-installable-builds="!!installableBuilds.length"
				can-install="!!installableBuilds.length"
				>
			</gj-client-game-buttons>
		</span>-->
	</span>

</div>
