<header class="section">
	<div class="container text-center">
		<p class="text-muted sans-margin">Game Jolt is looking for a</p>
		<h1 class="sans-margin">
			Designer
		</h1>
		<br>
		<div>
			<span class="jolticon jolticon-heart big" style="color: #ff3fac"></span>
		</div>
	</div>
	<br>
</header>

<section class="section">
	<div class="container">

		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-7 col-centered">

				<h2 class="section-header">Who we are</h2>

				<p class="lead">Game Jolt is one of the biggest indie gaming sites around with over 100,000 people visiting every day.</p>

				<p>We're a small, enthusiastic, fast-paced group of people who work together from all corners of the globe on a mission to bring indie gamers and developers together!</p>

				<h2>Who we're looking for</h2>

				<p>An artistic designer who...</p>

				<p>
				...is obsessed with design while keeping UX in mind <br>
				...loves indie games <br>
				...prioritizes the best interests of the end user <br>
				...constantly presents ideas &amp; prototypes to improve the current site's design <br>
				...shares, encourages and welcomes opinions on projects <br>
				...backs up ideas with data <br>
				...has the ability to work remotely/from home <br>
				</p>

				<h2>Skills/Experience</h2>

				<ul>
					<li>Responsive design (mobile and tablet screens)</li>
					<li>UI &amp; UX design</li>
					<li>CSS (experience with a preprocessor a plus--we use Stylus)</li>
					<li>HTML</li>
					<li>Opinionated and knowledgeable about typography</li>
				</ul>

				<p>We're looking to fill a part-time, contract position that could become a fulltime opportunity.</p>

				<p>No degree required, and no arbitrary amount of years of experience required. We mostly care about your portfolio!</p>

				<h2>Let's do this!</h2>

				<p>Send an email to <a href="mailto:yaprak@gamejolt.com">yaprak@gamejolt.com</a> and include examples of your work!</p>

			</div>
		</div>

	</div>
</section>
