<div>

	<!--
		If this user is banned, we show very little.
	-->
	<section class="section fill-pink" v-if="!user.status">
		<div class="container">
			<translate>profile.banned_message_html</translate>
		</div>
	</section>
	<template v-else>

		<!-- Currently Playing -->
		<!-- TODO -->
		<!-- <section v-if="activeGameSession" class="section fill-pink">
			<div class="container">
				<h2 class="section-header">
					<translate>profile.playing_heading</translate>
				</h2>
				<div class="row">
					<div class="col-xs-8 col-sm-10 col-sm-push-2">
						<h5 class="sans-margin">
							<router-link
								class="link-unstyled"
								:to="{
									name: 'discover.games.overview',
									params: { slug: activeGameSession.game.slug, id: activeGameSession.game.id },
								}"
								>
								<strong>{{ activeGameSession.game.title }}</strong>
							</router-link>
						</h5>
						<div class="small">
							<app-time-ago :date="activeGameSession.opened_on" :without-suffix="true" />
						</div>
					</div>
					<div class="col-xs-4 col-sm-2 col-sm-pull-10">
						<router-link
							class="link-block"
							:to="{
								name: 'discover.games.overview',
								params: { slug: activeGameSession.game.slug, id: activeGameSession.game.id },
							}"
							>
							<app-game-thumbnail-img :game="activeGameSession.game" />
						</router-link>
					</div>
				</div>
			</div>
		</section> -->

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-7 pull-left">

						<!-- Friend Requests -->
						<template v-if="userFriendship">
							<app-expand :when="userFriendship.state === UserFriendship.STATE_REQUEST_SENT" :animate-initial="true">
								<div class="alert alert-info">
									<p>
										<translate :translate-params="{ username: '@' + userFriendship.target_user.username }">
											Friend request to %{ username } pending acceptance.
										</translate>
									</p>
									<a class="btn btn-danger" @click="$emit( 'cancel-friend-request' )">
										<app-jolticon icon="remove" />
										<translate>profile.friend_request_cancel</translate>
									</a>
								</div>
							</app-expand>

							<app-expand :when="userFriendship.state === UserFriendship.STATE_REQUEST_RECEIVED" :animate-initial="true">
								<div class="alert alert-info">
									<p>
										<translate :translate-params="{ username: '@' + userFriendship.target_user.username }">
											%{ username } would like to be your friend.
										</translate>
									</p>
									<a class="btn" @click="$emit( 'accept-friend-request' )">
										<app-jolticon icon="friend-add-2" />
										<translate>profile.friend_request_accept</translate>
									</a>
									<a class="btn btn-danger"
										@click="$emit( 'reject-friend-request' )"
										v-app-tooltip="$gettext( 'profile.friend_request_decline_tooltip' )"
										>
										<app-jolticon icon="remove" />
										<translate>profile.friend_request_decline</translate>
									</a>
								</div>
							</app-expand>
						</template>

						<!-- Bio -->
						<app-fade-collapse
							:collapse-height="500"
							:is-open="showFullDescription"
							@require-change="canToggleDescription = $event"
							>
							<div v-if="user.description_compiled" class="user-compiled-description" v-html="user.description_compiled"></div>
							<div v-if="!user.description_compiled" class="text-muted" v-translate>
								profile.no_bio_html
							</div>
						</app-fade-collapse>

						<a class="hidden-text-expander"
							v-if="canToggleDescription"
							@click="showFullDescription = !showFullDescription"
							>
						</a>

						<hr class="visible-xs">

					</div>
					<div class="col-md-4 pull-right">

						<app-user-level-widget
							v-if="!Screen.isXs"
							:user="user"
							/>

						<template v-if="(
							user.facebook_id
							|| user.twitch_id
							|| user.twitter_id
							|| user.google_id
							|| user.web_site
							)"
							>
							<div v-if="user.facebook_id">
								<a
									class="link-unstyled"
									target="_blank"
									:href="`http://facebook.com/${user.facebook_id}`"
									>
									<app-jolticon icon="facebook" />
									{{ user.facebook_name }}
								</a>
							</div>

							<div v-if="user.twitter_id">
								<a
									class="link-unstyled"
									target="_blank"
									:href="`http://twitter.com/${user.twitter_screenname}`"
									>
									<app-jolticon icon="twitter-bird" />
									@{{ user.twitter_screenname }}
								</a>
							</div>

							<div v-if="user.google_id">
								<a
									class="link-unstyled"
									target="_blank"
									:href="`https://plus.google.com/${user.google_id}`"
									>
									<app-jolticon icon="google-plus" />
									{{ user.google_nickname }}
								</a>
							</div>

							<div v-if="user.twitch_id">
								<a
									class="link-unstyled"
									target="_blank"
									:href="`https://twitch.tv/${user.twitch_name}`"
									>
									<app-jolticon icon="twitch" />
									{{ user.twitch_name }}
								</a>
							</div>

							<div v-if="user.web_site">
								<a
									class="link-unstyled"
									target="_blank"
									:href="user.web_site"
									>
									<app-jolticon icon="link" />
									<translate>Website</translate>
								</a>
							</div>
						</template>
						<template v-if="youtubeChannels.length">
							<div v-for="channel of youtubeChannels" :key="channel.id">
								<a
									class="link-unstyled"
									target="_blank"
									:href="`https://www.youtube.com/channel/${channel.channel_id}`"
									>
									<app-jolticon icon="youtube" />
									{{ channel.title }}
								</a>
							</div>
						</template>

						<br>

						<!-- Add Friend -->
						<button
							v-if="app.user && user.id !== app.user.id && !userFriendship && !user.is_verified"
							class="btn btn-outline btn-block"
							@click="$emit( 'send-friend-request' )"
							>
							<app-jolticon icon="friend-add-2" />
							<translate>profile.friend_request_button</translate>
						</button>

						<router-link
							v-if="gamesCount > 0"
							class="btn btn-outline btn-block"
							:to="{
								name: 'library.collection.developer',
								params: { id: user.username },
							}"
							>
							{{ gamesCount | number }} Games
						</router-link>

						<router-link
							v-if="videosCount > 0"
							class="btn btn-outline btn-block"
							:to="{ name: 'profile.videos.list' }"
							>
							{{ videosCount | number }} Videos
						</router-link>

						<hr class="visible-xs">

					</div>
					<div class="col-md-8 col-lg-7 pull-left" style="clear: left">

						<!-- Games -->
						<template v-if="gamesCount > 0">
							<h2>
								<router-link class="link-unstyled" :to="{ name: 'library.collection.developer', params: { id: user.username } }">
									<translate>profile.developer_games_teaser_heading</translate>
								</router-link>
								<small>
									<translate>profile.developer_games_teaser_heading_small</translate>
								</small>
							</h2>
							<hr class="underbar">

							<div class="scrollable-grid-xs">
								<div class="row">
									<div
										class="scrollable-grid-item col-xs-10 col-sm-6"
										v-for="game of developerGames.slice( 0, 4 )"
										:key="game.id"
										>
										<app-game-thumbnail
											:game="game"
											/>
									</div>
								</div>
							</div>
						</template>

						<!-- Videos -->
						<template v-if="videosCount > 0">
							<h2>
								<router-link class="link-unstyled" :to="{ name: 'profile.videos.list' }">
									<translate>Latest Videos</translate>
								</router-link>
							</h2>
							<hr class="underbar">

							<div class="row">
								<div
									class="col-xs-6"
									v-for="video of videos.slice( 0, 4 )"
									:key="video.id"
									>
									<app-comment-video-thumbnail
										:hide-follow="true"
										:video="video"
										/>
								</div>
							</div>
						</template>

					</div>
				</div>
			</div>
		</section>

	</template>

</div>
