<!--
	If this user is banned, we show very little.
-->
<div ng-if="!profileCtrl.user.status">
	<div gj-partial="/app/views/profile/overview/_banned.html"></div>
</div>

<!--
	Active user
-->
<div ng-if="profileCtrl.user.status > 0">

	<!--
		Currently Playing
	-->
	<section ng-if="profileCtrl.activeGameSession" class="section fill-pink">
		<div class="container">
			<h2 class="section-header">
				{{ ::'profile.playing_heading' | translate }}
			</h2>
			<div class="row">
				<div class="col-xs-8 col-sm-10 col-sm-push-2">
					<h5 class="sans-margin">
						<a class="link-unstyled" ng-href="{{ ::profileCtrl.activeGameSession.game.getUrl() }}">
							<strong>{{ ::profileCtrl.activeGameSession.game.title }}</strong>
						</a>
					</h5>
					<div class="small" am-time-ago="profileCtrl.activeGameSession.opened_on" am-without-suffix="true"></div>
				</div>
				<div class="col-xs-4 col-sm-2 col-sm-pull-10">
					<a class="link-block" ng-href="{{ ::profileCtrl.activeGameSession.game.getUrl() }}">
						<gj-game-thumbnail-img game="::profileCtrl.activeGameSession.game"></gj-game-thumbnail-img>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-md-8 col-lg-6 pull-left" style="clear: left">

					<!--
						Friend Requests
					-->
					<div gj-expand-when="profileCtrl.userFriendship && profileCtrl.userFriendship.state == User_Friendship.STATE_REQUEST_SENT">
						<div class="alert alert-info">
							<p
								translate
								translate-params-user="profileCtrl.userFriendship.target_user.display_name"
								>
								profile.friend_request_sent_pending
							</p>
							<a class="i-button warning" ng-click="profileCtrl.cancelFriendRequest()">
								<span class="jolticon jolticon-remove"></span>
								{{ ::'profile.friend_request_cancel' | translate }}
							</a>
						</div>
					</div>

					<div gj-expand-when="profileCtrl.userFriendship && profileCtrl.userFriendship.state == User_Friendship.STATE_REQUEST_RECEIVED">
						<div class="alert alert-info">
							<p
								translate
								translate-params-user="profileCtrl.userFriendship.user.display_name"
								>
								profile.friend_request_received_pending
							</p>
							<a class="i-button big" ng-click="profileCtrl.acceptFriendRequest()">
								<span class="jolticon jolticon-friend-add-2"></span>
								{{ ::'profile.friend_request_accept' | translate }}
							</a>
							<a class="i-button big warning" ng-click="profileCtrl.rejectFriendRequest()" gj-tooltip="{{ 'profile.friend_request_decline_tooltip' | translate }}">
								<span class="jolticon jolticon-remove"></span>
								{{ ::'profile.friend_request_decline' | translate }}
							</a>
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-md-4 pull-right" style="clear: right">
					<div class="row">
						<div class="col-sm-6 col-md-12">
							<gj-user-level-widget gj-user="::profileCtrl.user"></gj-user-level-widget>
						</div>
						<div class="col-sm-6 col-md-12">
							<div ng-if="::(
								profileCtrl.user.facebook_id
								|| profileCtrl.user.twitch_id
								|| profileCtrl.user.twitter_id
								|| profileCtrl.user.google_id
								|| profileCtrl.user.web_site
								)"
								>
								<div ng-if="::profileCtrl.user.facebook_id">
									<a
										class="link-unstyled"
										target="_blank"
										ng-href="http://facebook.com/{{ ::profileCtrl.user.facebook_id }}"
										>
										<span class="jolticon jolticon-facebook"></span>
										{{ profileCtrl.user.facebook_name }}
									</a>
								</div>

								<div ng-if="::profileCtrl.user.twitter_id">
									<a
										class="link-unstyled"
										target="_blank"
										ng-href="http://twitter.com/{{ ::profileCtrl.user.twitter_screenname }}"
										>
										<span class="jolticon jolticon-twitter-bird"></span>
										@{{ profileCtrl.user.twitter_screenname }}
									</a>
								</div>

								<div ng-if="::profileCtrl.user.google_id">
									<a
										class="link-unstyled"
										target="_blank"
										ng-href="https://plus.google.com/{{ ::profileCtrl.user.google_id }}"
										>
										<span class="jolticon jolticon-google-plus"></span>
										{{ profileCtrl.user.google_nickname }}
									</a>
								</div>

								<div ng-if="::profileCtrl.user.twitch_id">
									<a
										class="link-unstyled"
										target="_blank"
										ng-href="https://twitch.tv/{{ ::profileCtrl.user.twitch_name }}"
										>
										<span class="jolticon jolticon-twitch"></span>
										{{ profileCtrl.user.twitch_name }}
									</a>
								</div>

								<div ng-if="::profileCtrl.user.web_site">
									<a
										class="link-unstyled"
										target="_blank"
										ng-href="{{ ::profileCtrl.user.web_site }}"
										>
										<span class="jolticon jolticon-world"></span>
										<span translate>Developer's Web Site</span>
									</a>
								</div>

								<br>
							</div>
							<div ng-if="overviewCtrl.youtubeChannels.length">
								<div ng-repeat="channel in overviewCtrl.youtubeChannels track by channel.id">
									<a
										class="link-unstyled"
										target="_blank"
										ng-href="https://www.youtube.com/channel/{{ channel.channel_id }}"
										>
										<span class="jolticon jolticon-youtube"></span>
										{{ channel.title }}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-8 col-lg-6 pull-left" style="clear: left">

					<gj-fade-collapse
						fade-collapse-height="500"
						fade-collapse-is-open="overviewCtrl.showFullDescription"
						fade-collapse-is-required="overviewCtrl.canToggleDescription"
						>
						<div ng-if="::profileCtrl.user.description_compiled" class="user-compiled-description" ng-bind-html="::profileCtrl.user.description_compiled"></div>
						<div ng-if="::!profileCtrl.user.description_compiled" class="text-muted" translate>profile.no_bio_html</div>
					</gj-fade-collapse>

					<a class="hidden-text-expander"
						ng-if="overviewCtrl.canToggleDescription"
						ng-click="overviewCtrl.showFullDescription = !overviewCtrl.showFullDescription"></a>

				</div>
			</div>
		</div>
	</section>

	<section class="section" ng-if="profileCtrl.user.type == User.TYPE_DEVELOPER">
		<div class="container">

			<div ng-if="!profileCtrl.gamesCount" translate>profile.no_developer_games_html</div>

			<div ng-if="profileCtrl.gamesCount">
				<h2 class="section-header">
					<a class="link-unstyled" ui-sref="library.collection.developer( { slug: profileCtrl.user.slug, id: profileCtrl.user.id } )">
						{{ ::'profile.developer_games_teaser_heading' | translate }}
					</a>
					<small>{{ ::'profile.developer_games_teaser_heading_small' | translate }}</small>
				</h2>

				<div class="scrollable-grid-xs">
					<div class="row">
						<gj-game-thumbnail
							class="scrollable-grid-item col-xs-10 col-sm-4"
							ng-repeat="game in overviewCtrl.developerGames track by game.id"
							gj-game="::game">
						</gj-game-thumbnail>
					</div>
				</div>

				<div class="page-cut">
					<a class="btn btn-outline"
						ui-sref="library.collection.developer( { slug: profileCtrl.user.slug, id: profileCtrl.user.id } )"
						>
						<span class="btn-badge">
							{{ profileCtrl.gamesCount | number }}
						</span>
						<span translate>View All</span>
					</a>
				</div>
			</div>

		</div>
	</section>

	<section class="section" ng-if="profileCtrl.videosCount > 0">
		<div class="container">

			<h2 class="section-header">
				<a class="link-unstyled" ui-sref="profile.videos" translate>
					Video Comments
				</a>
			</h2>

			<div class="row">
				<gj-comment-video-thumbnail
					class="col-xs-6 col-sm-3"
					ng-repeat="video in overviewCtrl.videos | limitTo:8 track by video.id"
					video="video"
					show-game="true"
					>
				</gj-comment-video-thumbnail>
			</div>

			<div class="page-cut">
				<a class="btn btn-outline"
					ui-sref="profile.videos"
					>
					<span class="btn-badge">
						{{ profileCtrl.videosCount | number }}
					</span>
					<span translate>View All</span>
				</a>
			</div>

		</div>
	</section>
</div>
