@require '~styles/variables'
@require '~styles-lib/mixins'

.-left-col
	clear: left

	@media $media-md-up
		float: left

.-right-col
	clear: right

	@media $media-md-up
		float: right

.-spacer
	spacer()
