<app-modal>

	<div class="modal-controls">
		<!-- TODO(buttons) the button no longer looks like a tab. the top border is visible. fix this for all modal buttons. search for modal.dismiss -->
		<app-button
			icon="remove"
			@click="modal.dismiss()"
			>
			<translate>Close</translate>
		</app-button>
	</div>

	<div class="modal-header">
		<h1 class="text-center section-header">
			<translate>We've built some new stuff!</translate>
		</h1>

		<p class="small text-center">
			<translate>Constantly improving for your enjoyment. Be enjoyed!</translate>
		</p>
	</div>

	<hr>

	<div class="modal-body">

		<template v-if="Screen.isXs && post">
			<app-button
				type="a"
				block
				icon="chevron-left"
				@click="post = null"
				>
				<translate>Back to Changelog</translate>
			</app-button>
			<br>
		</template>

		<div class="row">
			<div class="col-sm-4 col-sm-push-8" v-if="!Screen.isXs || !post">

				<div class="list-group">
					<a class="list-group-item"
						:class="{ 'has-icon': !Screen.isXs }"
						v-for="_post of posts"
						:key="_post.id"
						@click="post = _post"
						>
						<h5 class="list-group-item-heading">
							<app-jolticon
								v-if="post.id === _post.id && !Screen.isXs"
								icon="chevron-right"
								/>

							{{ _post.title }}

							<div class="tiny text-muted">
								<app-time-ago :date="_post.published_on" />
							</div>
						</h5>
						<p class="list-group-item-text" v-if="_post.lead">
							{{ _post.lead }}
						</p>
					</a>
				</div>
				<br>

				<div>
					<app-button
						block
						:href="Environment.firesideBaseUrl + '/tag/gjbroadcast'"
						target="_blank"
						>
						<translate>View Full Changelog</translate>
					</app-button>
				</div>

			</div>
			<div class="col-sm-8 col-sm-pull-4" v-if="!Screen.isXs || post">

				<h2 class="section-header">
					<a class="link-unstyled" :href="post.url" target="_blank">
						{{ post.title }}
					</a>
				</h2>

				<p class="lead" v-if="post.lead">
					{{ post.lead }}
				</p>

				<!--
					Need to refresh social widgets any time post changes.
				-->
				<div class="social-widgets" v-for="post of [ post ]" :key="post.id">
					<app-fireside-post-like-widget
						:post="post"
						/>

					<template v-if="!GJ_IS_CLIENT">
						<span class="dot-separator hidden-xs"></span>
						<br class="visible-xs">
						<br class="visible-xs">

						<app-social-twitter-share
							:url="post.url"
							:content="post.title"
							/>

						<span class="dot-separator"></span>

						<app-social-facebook-like
							:url="post.url"
							/>
					</template>
				</div>

				<hr class="underbar">

				<div class="fireside-post-body">
					<app-widget-compiler
						:content="post.content_compiled"
						/>
				</div>

				<app-poll-voting
					v-if="post.poll"
					:poll="post.poll"
					/>

				<!--
					Need to refresh social widgets any time post changes.
				-->
				<div class="social-widgets" v-for="post of [ post ]" :key="post.id">
					<app-fireside-post-like-widget
						:post="post"
						/>

					<template v-if="!GJ_IS_CLIENT">
						<span class="dot-separator hidden-xs"></span>
						<br class="visible-xs">
						<br class="visible-xs">

						<app-social-twitter-share
							:url="post.url"
							:content="post.title"
							/>

						<span class="dot-separator"></span>

						<app-social-facebook-like
							:url="post.url"
							/>
					</template>
				</div>

				<hr>

				<app-comment-widget
					resource="Fireside_Post"
					:resource-id="post.id"
					/>

			</div>
		</div>

	</div>

</app-modal>
