<section class="section">
	<div class="container">

		<div class="row">
			<div class="col-md-4 col-md-push-7">
				<div class="page-help" translate>
					<p>Manage access keys for your game through key groups.</p>
					<p>You can create different groups for different types of access, e.g. testers, friends, press, let's players, etc.</p>
					<p>They will be able to access your game's builds through the provided keys.</p>
				</div>
			</div>

			<div class="col-md-7 col-md-pull-4">

				<div class="form-group no-animate">
					<label class="control-label" translate>
						Activate site?
					</label>
					<gj-toggle-switch
						type="checkbox"
						ng-model="manageCtrl.game.sites_enabled"
						ng-change="siteCtrl.toggled()"
						toggle-switch-on-text="{{ 'On' | translate }}"
						toggle-switch-off-text="{{ 'Off' | translate }}"
						>
					</gj-toggle-switch>
				</div>

				<div class="form-group">
					<label class="control-label" translate>
						Edit/customize site
					</label>
					<div>
						<button class="btn" ng-click="siteCtrl.showEditor()" translate>
							Open Editor
						</button>
					</div>
				</div>

				<div ng-if="siteCtrl.builds.length">

					<gj-card ng-repeat="build in siteCtrl.builds track by build.id">

						<a class="card-remove"
							ng-click="siteCtrl.removeBuild( build )"
							>
							<span class="jolticon jolticon-remove"></span>
						</a>

						<div class="card-title">
							<h5>
								{{ build.added_on | date:'medium' }}
							</h5>
						</div>

						<div class="card-controls" ng-if="build.status === siteCtrl.buildModel.STATUS_INACTIVE">
							<a class="btn btn-outline"
								ng-click="siteCtrl.activateBuild( build )"
								>
								<span translate>Activate</span>
							</a>
						</div>

					</gj-card>

				</div>

				<gj-form-dashboard-site-build
					ng-if="siteCtrl.site"
					site="siteCtrl.site"
					gj-form-submit-handler="siteCtrl.onBuildAdded( formModel )"
					>
				</gj-form-dashboard-site-build>

			</div>
		</div>

	</div>
</section>
