<section class="section">
	<div class="container">

		<div class="row">
			<div class="col-xs-8">

				<gj-nav-tab-list>
					<ul>
						<li>
							<a
								ng-class="{ active: $ctrl.tab === 'template' }"
								ng-click="$ctrl.tab = 'template'"
								>
								<!--<span class="btn btn-success btn-sparse btn-sm active"
									ng-if="$ctrl.customizableEnabled"
									>
									<span class="jolticon jolticon-check"></span>
								</span>
								&nbsp;-->
								Use a Template
							</a>
						</li>
						<li>
							<a
								ng-class="{ active: $ctrl.tab === 'static' }"
								ng-click="$ctrl.tab = 'static'"
								>
								<!--<span class="btn btn-success btn-sparse btn-sm active"
									ng-if="$ctrl.staticEnabled"
									>
									<span class="jolticon jolticon-check"></span>
								</span>-->
								Upload Your Own
							</a>
						</li>
					</ul>
				</gj-nav-tab-list>

				<div class="row"
					ng-if="
						($ctrl.customizableEnabled && $ctrl.tab === 'template')
						||
						($ctrl.staticEnabled && $ctrl.tab === 'static')
					">
					<div class="col-xs-9">

						<div class="alert alert-success" ng-if="$ctrl.customizableEnabled">
							<p><b>Your site is turned on and active.</b></p>
							<p>You can customize it using the Site Editor below.</p>
						</div>

						<div class="alert alert-success" ng-if="$ctrl.staticEnabled">
							<p><b>Your static site is turned on and active.</b></p>
							<p>You can upload new static site builds at any time.</p>
						</div>

					</div>
					<div class="col-xs-3">
						<button class="btn btn-danger-outline anim-fade-in no-animate-leave pull-right"
							ng-click="$ctrl.disable()"
							gj-tooltip="This will turn your Site off completely and it will no longer be accessible."
							>
							Disable
						</button>
					</div>
				</div>

				<div ng-if="$ctrl.tab === 'template'">

					<div class="well fill-lightest text-center"
						ng-if="!$ctrl.customizableEnabled"
						>
						<div class="row">
							<div class="col-xs-8 col-centered">

								<p class="lead">
									Use one of our pre-built templates and customize it to your style.
								</p>

								<button class="btn btn-success-outline"
									ng-click="$ctrl.enable()"
									gj-tooltip="{{ $ctrl.staticEnabled ? 'This will disable your static site and use a customizable template instead.' : undefined }}"
									>
									Turn On
								</button>

							</div>
						</div>
					</div>

					<div ng-if="$ctrl.customizableEnabled">

						<button class="btn btn-outline anim-fade-in no-animate-leave stagger"
							ng-click="$ctrl.showEditor()"
							>
							<span class="jolticon jolticon-cog"></span>
							Show Site Editor
						</button>

						<h2>
							Settings
						</h2>

						<gj-form-dashboard-site-settings
							gj-site="$ctrl.site"
							gj-form-submit-handler="$ctrl.onSettingsSaved()"
							>
						</gj-form-dashboard-site-settings>

					</div>

				</div>

				<div ng-if="$ctrl.tab === 'static'">

					<div class="well fill-lightest text-center"
						ng-if="!$ctrl.staticEnabled"
						>
						<div class="row">
							<div class="col-xs-8 col-centered">

								<p class="lead">
									Have a site already, or want full and complete control over how your site will look? Upload a .zip file of static content.
								</p>

								<gj-form-dashboard-site-build
									ng-if="!$ctrl.site.build"
									site="$ctrl.site"
									gj-form-submit-handler="$ctrl.onBuildAdded( $response )"
									>
								</gj-form-dashboard-site-build>

								<button class="btn btn-success-outline"
									ng-if="$ctrl.site.build"
									ng-click="$ctrl.activateBuild()"
									gj-tooltip="{{ $ctrl.customizableEnabled ? 'This will disable your template and use your static build instead.' : undefined }}"
									>
									Turn On
								</button>

							</div>
						</div>
					</div>

					<div ng-if="$ctrl.staticEnabled">

						<h2>Upload a New Build</h2>

						<gj-form-dashboard-site-build
							site="$ctrl.site"
							gj-form-submit-handler="$ctrl.onBuildAdded( $response )"
							>
						</gj-form-dashboard-site-build>

					</div>

				</div>

			</div>
			<div class="col-xs-4">

				<p class="page-help">Every game on Game Jolt, even works-in-progress, needs a maturity rating to describe its content. Accurate ratings and details about content help gamers make informed decisions. Remember, you can always come back later and make changes.</p>

				<hr>

				<gj-card>
					<div class="card-content">
						<p>
							<span translate>You can use this link to access your site.</span>
						</p>
						<input class="form-control" value="{{ ::$ctrl.site.url }}">
					</div>
					<div class="card-controls">
						<button class="btn btn-outline" ng-click="$ctrl.copySiteLink()">
							<span class="jolticon jolticon-link"></span>
							<span translate>Copy Link</span>
						</button>
						<a class="btn btn-outline"
							ng-href="{{ $ctrl.site.url }}"
							target="_blank"
							>
							<span class="jolticon jolticon-share"></span>
							<span translate>View Site</span>
						</a>
					</div>
				</gj-card>

			</div>
		</div>

	</div>
</section>
