<section class="section">
	<div class="container">

		<div ng-if="!$ctrl.game.path">
			<div class="alert alert-info">
				<p translate>In order to set up a custom site for your game, you first have to set a URL path in your game details page.</p>
				<div class="alert-actions">
					<a class="btn btn-outline btn-dark-variant"
						ui-sref="dashboard.developer.games.manage.game.details( { id: $ctrl.game.id } )"
						translate
						>
						Edit Game Details
					</a>
				</div>
			</div>
			<br><br>
		</div>

		<div class="row">
			<div class="col-lg-8">

				<div ng-class="{ _disabled: !$ctrl.game.path }">
					<gj-sites-manage-page
						[site]="$ctrl.site"
						>
					</gj-sites-manage-page>
				</div>

			</div>
			<div class="col-lg-4">

				<br class="hidden-lg">

				<!--<p class="page-help" translate>Every game on Game Jolt, even works-in-progress, needs a maturity rating to describe its content. Accurate ratings and details about content help gamers make informed decisions. Remember, you can always come back later and make changes.</p>

				<hr>-->

				<gj-sites-link-card
					ng-if="$ctrl.game.path"
					[site]="$ctrl.site"
					>
				</gj-sites-link-card>

			</div>
		</div>

	</div>
</section>
