<div class="radio-shell" v-if="game && song">

	<div class="radio-cover-img"
		:style="{ 'background-image': `url('${ game.thumbnail_media_item.mediaserver_url }')` }"
		>
	</div>

	<app-audio-player
		ref="player"
		:song="song"
		@duration="durationEvent"
		@end="getNextSong"
		/>

	<div class="radio-content">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

				<div class="radio-currently-playing">
					<div class="row">
						<div class="col-xs-2 col-lg-3 radio-currently-playing-left">

							<!--<a class="radio-currently-playing-control" @click="getNextSong">
								<app-jolticon icon="pause" :big="true" />
							</a>-->

						</div>
						<div class="col-xs-8 col-lg-6">

							<router-link
								class="radio-box-art"
								:to="game.routeLocation"
								target="_blank"
								:style="{ 'background-image': `url('${ game.thumbnail_media_item.mediaserver_url }')` }"
								>
							</router-link>

						</div>
						<div class="col-xs-2 col-lg-3 radio-currently-playing-right">

							<a
								class="radio-currently-playing-control"
								@click="getNextSong"
								v-app-track-event="`radio:next-song`"
								>
								<app-jolticon icon="chevron-right" :big="true" />
							</a>

						</div>
					</div>
					<div class="radio-currently-playing-title">
						{{ song.title }}
					</div>
				</div>

				<div class="radio-scrubber">
					<app-audio-scrubber
						:duration="duration"
						:current-time="currentTime"
						@seek="seek"
						/>

					<div class="radio-scrubber-time clearfix">
						<div class="radio-scrubber-time-current">
							{{ (currentTime || 0) | time }}
						</div>
						<div class="radio-scrubber-time-duration">
							{{ (duration || 0) | time }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
