<div class="radio-shell">

	<div class="radio-cover-img"
		ng-style="{ 'background-image': 'url(\'' + radioCtrl.game.thumbnail_media_item.mediaserver_url + '\')' }"
		>
	</div>

	<gj-audio-player
		song="radioCtrl.song"
		song-duration="radioCtrl.currentSongDuration"
		song-current-time="radioCtrl.currentSongTime"
		on-song-ended="radioCtrl.getNextSong()"
		>
	</gj-audio-player>

	<div class="radio-content">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

				<div class="radio-currently-playing">
					<div class="row">
						<div class="col-xs-2 col-lg-3 radio-currently-playing-left">

							<!--<a class="radio-currently-playing-control" ng-click="radioCtrl.getNextSong()">
								<span class="jolticon jolticon-pause big"></span>
							</a>-->

						</div>
						<div class="col-xs-8 col-lg-6">

							<a class="radio-box-art"
								ui-sref="discover.games.view.overview( { slug: radioCtrl.game.slug, id: radioCtrl.game.id } )"
								target="_blank"
								ng-style="{ 'background-image': 'url(\'' + radioCtrl.game.thumbnail_media_item.mediaserver_url + '\')' }"
								>
							</a>

						</div>
						<div class="col-xs-2 col-lg-3 radio-currently-playing-right">

							<a class="radio-currently-playing-control"
								ng-click="radioCtrl.getNextSong()"
								gj-track-event="radio:next-song"
								>
								<span class="jolticon jolticon-chevron-right big"></span>
							</a>

						</div>
					</div>
					<div class="radio-currently-playing-title" ng-bind-html="radioCtrl.song.title"></div>
				</div>

				<div class="radio-scrubber">
					<gj-audio-scrubber
						song-duration="radioCtrl.currentSongDuration"
						song-current-time="radioCtrl.currentSongTime"
						>
					</gj-audio-scrubber>

					<div class="radio-scrubber-time clearfix">
						<div class="radio-scrubber-time-current">
							{{ (radioCtrl.currentSongTime || 0) | time }}
						</div>
						<div class="radio-scrubber-time-duration">
							{{ (radioCtrl.currentSongDuration || 0) | time }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
