@require '~styles/variables'

.radio

	$box-art-size = 200px

	&-shell
		position: relative
		padding-left: $grid-gutter-width-xs
		padding-right: $grid-gutter-width-xs
		margin-top: -$shell-top-nav-height
		height: 100vh
		overflow: hidden
		background-color: $black

	&-cover-img
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 0.2
		background-repeat: no-repeat
		background-position: center center
		background-size: cover

	&-currently-playing
		margin-top: 50%
		margin-bottom: $grid-gutter-width

		@media $media-mobile
			margin-top: 100px

		&-left
			text-align: right

		&-right
			text-align: left

		&-control
			position: relative
			top: $box-art-size * 0.5
			color: $white
			opacity: 0.5
			transition: opacity 0.5s
			text-shadow: 0 2px 5px rgba( 0, 0, 0, 0.3 )

			&:hover
				transition-duration: 0
				color: $white
				opacity: 1

		&-title
			margin-top: $line-height-computed
			text-align: center
			color: $white
			text-shadow: 0 2px 5px rgba( 0, 0, 0, 0.3 )

	&-box-art
		display: block
		margin: 0 auto
		width: $box-art-size
		height: $box-art-size
		border-radius: 50%
		box-shadow: 0 0 4px rgba( 0, 0, 0, 0.2 )
		background-repeat: no-repeat
		background-position: center center
		background-size: cover

	&-scrubber

		&-time
			padding-top: 7px
			font-size: $font-size-small
			color: $white
			text-shadow: 0 2px 5px rgba( 0, 0, 0, 0.3 )

			&-current
				float: left

			&-duration
				float: right
