<header class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-6">

				<h1 translate>settings.heading</h1>
				<br><br>

			</div>
		</div>
	</div>
</header>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-2 hidden-xs">
				<nav class="platform-list" gj-scroll-affix>
					<ul>
						<li ng-if="Environment.isClient">
							<a href="#settings-client" du-smooth-scroll du-scrollspy translate>settings.client</a>
						</li>
						<li>
							<a href="#settings-chat" du-smooth-scroll du-scrollspy translate>settings.chat</a>
						</li>
						<li>
							<a href="#settings-restrictions" du-smooth-scroll du-scrollspy translate>Restrictions</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-9 col-md-8 col-lg-6">
				<gj-form-settings></gj-form-settings>
			</div>
		</div>
	</div>
</section>
