@require '~styles/variables'
@require '../../../../../lib/gj-lib-client/stylus/common/mixins'

.-user-info
	clearfix()

	.-avatar
		float: left
		width: 50px

	.-content
		float: left
		margin-left: 10px
