@require '../../../../../lib/gj-lib-client/components/card'

.card-collaborator
	@extend .card-title

	margin-bottom: 0px

	h4, h5
		vertical-align: middle
		margin-right: 10px
		display: inline-block
