.ctrl-dashboard-main-overview

	.broadcast
		@extend .well, .fill-darker, .clearfix
		display: block
		margin-bottom: 5px

		> .jolticon
			float: right
			margin-left: 15px

		&-heading
			margin: 0

		&-lead
			color: $text-muted

		&:hover

			> .jolticon
				color: $gj-green
