<section class="section" v-if="isRouteBootstrapped">
	<div class="container">

		<div class="row">
			<div class="col-md-5" :class="{ 'pull-right': Screen.isDesktop }">

				<!--
					Broadcast
				-->
				<app-broadcast-card
					v-if="latestBroadcast"
					:post="latestBroadcast"
					/>

				<!--
					Revenue
				-->
				<template v-if="typeof revenueTotal !== 'undefined'">
					<h2>
						<translate>dash.overview.revenue_heading</translate>
						<app-jolticon
							class="text-muted"
							icon="help-circle"
							big
							v-app-tooltip="$gettext( `dash.overview.revenue_tooltip` )"
							/>
					</h2>

					<div class="row">
						<div class="col-xs-6 col-sm-4">
							<div class="stat-big stat-big-smaller">
								<div class="stat-big-label">
									<translate>Revenue To Date</translate>
								</div>
								<div class="stat-big-digit">
									<a @click="isShowingRevenueBreakdown = !isShowingRevenueBreakdown">
										{{ revenueTotal | currency }}
									</a>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stat-big stat-big-smaller">
								<div class="stat-big-label">
									<translate>Pending Revenue</translate>
								</div>
								<div class="stat-big-digit">
									{{ revenuePendingActivation | currency }}
									<app-jolticon
										class="text-muted"
										icon="help-circle"
										v-app-tooltip="$gettext( `To account for refunds, chargebacks, and fraud, we hold on to sales revenue for 7 days.` )"
										/>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stat-big stat-big-smaller">
								<div class="stat-big-label">
									<translate>Wallet Balance</translate>
								</div>
								<div class="stat-big-digit">{{ walletBalance | currency }}</div>
							</div>
						</div>
					</div>
					<br>

					<app-expand :when="isShowingRevenueBreakdown">
						<div class="well fill-offset">

							<table class="table table-condensed">
								<tbody>
									<tr>
										<th><translate>Revenue To Date</translate></th>
										<td class="text-right">{{ revenueTotal | currency }}</td>
									</tr>
									<tr>
										<th><translate>Pending Revenue</translate></th>
										<td class="text-right">{{ revenuePendingActivation | currency }}
										</td>
									</tr>
									<tr>
										<th><translate>Total Revenue</translate></th>
										<td class="text-right">{{ (revenueTotal + revenuePendingActivation) | currency }}
										</td>
									</tr>
								</tbody>
							</table>

							<table class="table table-condensed">
								<tbody>
									<tr>
										<th><translate>Withdrawals Processing</translate></th>
										<td class="text-right">{{ revenuePendingWithdraw | currency }}
										</td>
									</tr>
									<tr>
										<th><translate>Withdrawn To Date</translate></th>
										<td class="text-right">{{ revenueWithdrawn | currency }}
										</td>
									</tr>
								</tbody>
							</table>
							<table class="table table-condensed sans-margin-bottom">
								<tbody>
									<tr>
										<th><translate>Wallet Purchases</translate></th>
										<td class="text-right">{{ revenueSpent | currency }}</td>
									</tr>
									<tr>
										<th><translate>Wallet Balance</translate></th>
										<td class="text-right">{{ walletBalance | currency }}</td>
									</tr>
								</tbody>
							</table>

						</div>
					</app-expand>

					<div
						v-if="revenuePendingWithdraw > 0"
						class="alert alert-info"
						>
						<p v-translate="{ amount: currency( revenuePendingWithdraw ) }">
							You have pending withdrawals amounting to <b>%{ amount }</b>.
						</p>
					</div>

					<div
						v-if="revenuePending"
						class="alert alert-info"
						>
						<p v-translate="{ amount: currency( revenuePending ) }">
							You currently have <b>%{ amount }</b> pending withdrawal.
						</p>
					</div>

					<div>
						<app-button
							block
							:to="{ name: 'dash.account.withdraw-funds' }"
							>
							<translate>dash.overview.revenue_withdraw_button</translate>
						</app-button>
					</div>
				</template>
			</div>

			<div class="col-md-7" :class="{ 'pull-left': Screen.isDesktop }">

				<!--
					Sites
				-->
				<template>
					<h2 class="section-header">
						<translate>Sites</translate>
					</h2>

					<p class="page-help">
						<strong><translate>Game Jolt Sites are customizable external sites for your portfolio and games!</translate></strong>
						<translate>You can use a customizable template, or simply upload your own static site.</translate>
					</p>

					<p class="page-help">
						<translate>You can set up a game site when managing your game.</translate>
					</p>

					<div>
						<app-button
							primary
							:to="{ name: 'dash.account.site' }"
							v-app-track-event="`dash:overview:quick-profile-site`"
							>
							<translate>Edit Portfolio Site</translate>
						</app-button>
					</div>
				</template>

				<!--
					Manage Games
				-->
				<h2>
					<translate>Your Games</translate>
				</h2>

				<div class="page-help" v-if="!games.length">
					<p><translate>Are you a developer? Add your free or paid game to the site!</translate></p>
				</div>

				<div>
					<app-button
						primary
						:to="{ name: 'dash.games.add' }"
						v-app-track-event="`dash:overview:quick-add-game`"
						>
						<translate>Add Game</translate>
					</app-button>
				</div>

				<div v-if="games.length > 0">
					<br>

					<app-card
						v-for="game of inViewGames"
						:key="game.id"
						>
						<div class="card-title">
							<h4>
								<router-link
									:to="{
										name: 'dash.games.manage.game.overview',
										params: { id: game.id },
									}"
									v-app-track-event="`dash:overview:quick-game`"
									>
									<template v-if="game.developer.id !== app.user.id">
										<small>@{{ game.developer.username}}</small>
										/
									</template>
									{{ game.title }}
								</router-link>
							</h4>
						</div>
						<div class="card-controls">
							<app-button
								primary
								:to="{
									name: 'dash.games.manage.game.overview',
									params: { id: game.id },
								}"
								v-app-track-event="`dash:overview:quick-game`"
								>
								<translate>Manage</translate>
							</app-button>
							<template v-if="game.hasPerms('analytics')">
								<app-button
									trans
									v-app-track-event="`dash:overview:quick-game-analytics`"
									:to="{
										name: 'dash.analytics',
										params: { resource: 'Game', resourceId: game.id },
									}"
									>
									<translate>Analytics</translate>
								</app-button>
							</template>
						</div>
					</app-card>

					<div class="page-cut" v-if="!gamesExpanded && games.length > 5">
						<app-button
							trans
							:badge="number(games.length)"
							@click="gamesExpanded = true"
							v-app-track-event="`dash:overview:expand-games`"
							>
							<translate>Expand All</translate>
						</app-button>
					</div>
				</div>

				<!--
					Video Comments
				-->
				<h2>
					<translate>Your Video Comments</translate>
				</h2>

				<div v-if="!videos.length">
					<div class="page-help">
						<p><translate>Are you a let's player? Add your YouTube videos through video comments!</translate></p>
					</div>

					<div>
						<app-button href="https://help.gamejolt.com/video-comments" target="_blank">
							<translate>Learn More</translate>
						</app-button>
					</div>
				</div>
				<div v-else>
					<div class="row">
						<div class="col-xs-6" v-for="video of videos.slice( 0, 4 )" :key="video.id">
							<app-comment-video-thumbnail :video="video" />
						</div>
					</div>

					<div class="page-cut">
						<app-button
							trans
							:badge="number(videosCount)"
							:to="{ name: 'profile.videos.list', params: { username: app.user.username } }"
							v-app-track-event="`dash:overview:expand-videos`">
							<translate>View All</translate>
						</app-button>
					</div>
				</div>

				<!--
					Game Jams
				-->
				<h2>
					<translate>Your Game Jams</translate>
				</h2>

				<div class="page-help" v-if="!jams.length">
					<p><translate>Got an idea for a game jam? You're already almost done. Simple and powerful, host your jam through Game Jolt!</translate></p>
				</div>

				<div>
					<app-button
						primary
						href="http://jams.gamejolt.com/manage/jams/add"
						target="_blank"
						>
						<translate>Create Jam</translate>
					</app-button>
					<app-button
						v-if="!jams.length"
						href="http://jams.gamejolt.com"
						target="_blank"
						>
						<translate>Learn More</translate>
					</app-button>
				</div>

				<div v-if="jams.length > 0">
					<br>

					<app-card
						v-for="jam of jams.slice( 0, jamsExpanded ? jams.length : 5)"
						:key="jam.id"
						>
						<div class="card-title">
							<h4>
								<a
									:href="jam.manageUrl"
									target="_blank"
									v-app-track-event="`dash:overview:quick-jam`"
									>
									{{ jam.name }}
								</a>
							</h4>
						</div>
						<div class="card-controls">
							<app-button
								primary
								:href="jam.manageUrl"
								target="_blank"
								v-app-track-event="`dash:overview:quick-jam`"
								>
								<translate>Manage</translate>
							</app-button>
							<app-button
								trans
								:href="jam.fullUrl"
								target="_blank"
								v-app-track-event="`dash:overview:quick-jam-view`"
								>
								<translate>View Jam</translate>
							</app-button>
						</div>
					</app-card>

					<div class="page-cut" v-if="!jamsExpanded && jams.length > 5">
						<app-button
							trans
							:badge="number(jams.length)"
							@click="jamsExpanded = true"
							v-app-track-event="`dash:overview:expand-jams`"
							>
							<translate>Expand All</translate>
						</app-button>
					</div>
				</div>

			</div>

			<div class="col-md-5" :class="{ 'pull-right': Screen.isDesktop }" style="clear: right">

				<h2>
					<router-link :to="{ name: 'dash.account.edit' }" class="link-unstyled">
						<translate>Edit Account</translate>
					</router-link>
				</h2>

				<div class="list-group">
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.edit' }"
						>
						<app-jolticon icon="edit" />
						<translate>Edit Profile</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.linked-accounts' }"
						>
						<app-jolticon icon="link" />
						<translate>Linked Accounts</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.email-preferences' }"
						>
						<app-jolticon icon="email" />
						<translate>Email Preferences</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.payment-methods' }"
						>
						<app-jolticon icon="credit-card" />
						<translate>Payment Methods</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.addresses' }"
						>
						<app-jolticon icon="world" />
						<translate>Saved Addresses</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.purchases.list' }"
						>
						<app-jolticon icon="game" />
						<translate>Purchases</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.financials' }"
						>
						<app-jolticon icon="cog" />
						<translate>Marketplace Account Setup</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.change-password' }"
						>
						<app-jolticon icon="key-diagonal" />
						<translate>Change Password</translate>
					</router-link>
				</div>

			</div>
		</div>
	</div>
</section>
