<section class="section" v-if="routeBootstrapped">
	<div class="container">

		<div class="row">
			<div class="col-md-5" :class="{ 'pull-right': Screen.isDesktop }">

				<!--
					Broadcast
				-->
				<template v-if="latestBroadcast">
					<a :href="latestBroadcast.url" target="_blank" v-app-track-event="`dash:overview:broadcast-view`">
						<app-card>
							<div class="row">
								<div class="col-xs-10">
									<div class="card-title">
										<h4>{{ latestBroadcast.title }}</h4>
									</div>
									<div class="card-content">
										{{ latestBroadcast.lead }}
									</div>
								</div>
								<div class="col-xs-2 text-center">
									<app-jolticon icon="broadcast" :big="true" />
								</div>
							</div>
						</app-card>
					</a>

					<div class="text-right small">
						<a class="link-muted" :href="Environment.firesideBaseUrl + `/tag/gjbroadcast`" target="_blank" v-app-track-event="`dash:overview:broadcast-all`">
							<translate>dash.overview.broadcast_view_all</translate>
						</a>
					</div>
				</template>

				<!--
					Revenue
				-->
				<template v-if="typeof revenueTotal !== 'undefined'">
					<h2>
						<translate>dash.overview.revenue_heading</translate>
						<app-jolticon
							icon="help-circle"
							:big="true"
							class="text-muted"
							v-app-tooltip="$gettext( `dash.overview.revenue_tooltip` )"
							/>
					</h2>

					<div class="row">
						<div class="col-xs-6 col-sm-4">
							<div class="stat-big stat-big-smaller">
								<div class="stat-big-label">
									<translate>Revenue To Date</translate>
								</div>
								<div class="stat-big-digit">
									<a @click="isShowingRevenueBreakdown = !isShowingRevenueBreakdown">
										{{ revenueTotal | currency }}
									</a>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stat-big stat-big-smaller">
								<div class="stat-big-label">
									<translate>Pending Revenue</translate>
								</div>
								<div class="stat-big-digit">
									{{ revenuePendingActivation | currency }}
									<app-jolticon
										icon="help-circle"
										class="text-muted"
										v-app-tooltip="$gettext( `To account for refunds, chargebacks, and fraud, we hold on to sales revenue for 7 days.` )"
										/>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="stat-big stat-big-smaller">
								<div class="stat-big-label">
									<translate>Wallet Balance</translate>
								</div>
								<div class="stat-big-digit">{{ walletBalance | currency }}</div>
							</div>
						</div>
					</div>
					<br>

					<app-expand :when="isShowingRevenueBreakdown">
						<div class="well fill-offset">

							<table class="table table-condensed">
								<tbody>
									<tr>
										<th><translate>Revenue To Date</translate></th>
										<td class="text-right">{{ revenueTotal | currency }}</td>
									</tr>
									<tr>
										<th><translate>Pending Revenue</translate></th>
										<td class="text-right">{{ revenuePendingActivation | currency }}
										</td>
									</tr>
									<tr>
										<th><translate>Total Revenue</translate></th>
										<td class="text-right">{{ (revenueTotal + revenuePendingActivation) | currency }}
										</td>
									</tr>
								</tbody>
							</table>

							<table class="table table-condensed">
								<tbody>
									<tr>
										<th><translate>Withdrawals Processing</translate></th>
										<td class="text-right">{{ revenuePendingWithdraw | currency }}
										</td>
									</tr>
									<tr>
										<th><translate>Withdrawn To Date</translate></th>
										<td class="text-right">{{ revenueWithdrawn | currency }}
										</td>
									</tr>
								</tbody>
							</table>
							<table class="table table-condensed sans-margin-bottom">
								<tbody>
									<tr>
										<th><translate>Wallet Purchases</translate></th>
										<td class="text-right">{{ revenueSpent | currency }}</td>
									</tr>
									<tr>
										<th><translate>Wallet Balance</translate></th>
										<td class="text-right">{{ walletBalance | currency }}</td>
									</tr>
								</tbody>
							</table>

						</div>
					</app-expand>

					<template v-if="revenuePendingWithdraw > 0" class="alert alert-info">
						<span v-translate="{ amount: currency( revenuePendingWithdraw ) }">
							You have pending withdrawals amounting to <b>%{ amount }</b>.
						</span>
					</template>

					<div class="alert alert-info" v-if="revenuePending">
						<span v-translate="{ amount: currency( revenuePending ) }">
							You currently have <b>%{ amount }</b> pending withdrawal.
						</span>
					</div>

					<div>
						<router-link class="btn btn-outline btn-block" :to="{ name: 'dash.withdraw-funds' }">
							<translate>dash.overview.revenue_withdraw_button</translate>
						</router-link>
					</div>
				</template>
			</div>

			<div class="col-md-7" :class="{ 'pull-left': Screen.isDesktop }">

				<!--
					Integrate
				-->
				<template v-if="!isFullyIntegrated">
					<h2 :class="{ 'section-header': Screen.isDesktop }">
						<translate>dash.integrate.heading</translate>
					</h2>

					<p><translate>dash.integrate.lead</translate></p>

					<table class="table">
						<tbody>
							<tr
								v-for="key of integrationKeys"
								:key="key"
								v-if="integration[ key ]"
								>
								<td style="width: 1px">
									<app-jolticon
										icon="check"
										:class="integration[ key ].achieved ? 'active' : 'text-muted'"
										/>
								</td>
								<td>
									<app-jolticon
										icon="exp"
										class="text-muted"
										/>
									<strong>
										{{ integration[ key ].exp | number }}
										<translate>leveling.exp</translate>
									</strong>
								</td>
								<td>
									<span v-if="integration[ key ].achieved" class="tag tag-highlight pull-right">
										<app-jolticon icon="check" />
										<translate>dash.integrate.done</translate>
									</span>
									<span
										:class="{ 'text-muted': integration[ key ].achieved }"
										v-html="integrationTranslations[ key ]"
										>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</template>

				<br v-if="isFullyIntegrated && Screen.isMobile">

				<div class="alert alert-info">
					<h4>
						<translate>dash.integrate.exp_help_heading</translate>
					</h4>
					<div v-translate>
						dash.integrate.exp_help_body_html
					</div>
				</div>

				<!--
					Sites
				-->
				<template v-if="app.user.is_developer">
					<h2>
						<translate>Sites</translate>
					</h2>

					<p class="page-help">
						<strong><translate>Game Jolt Sites are customizable external sites for your portfolio and games!</translate></strong>
						<translate>You can use a customizable template, or simply upload your own static site.</translate>
					</p>

					<p class="page-help">
						<translate>You can set up a game site when managing your game.</translate>
					</p>

					<div>
						<router-link
							class="btn btn-success-outline"
							:to="{ name: 'dash.main.site' }"
							v-app-track-event="`dash:overview:quick-profile-site`"
							>
							<app-jolticon icon="cog" />
							<translate>Edit Portfolio Site</translate>
						</router-link>
					</div>
				</template>

				<!--
					Manage Games
				-->
				<h2>
					<translate>Your Games</translate>
				</h2>

				<div class="page-help" v-if="!games.length">
					<p><translate>Are you a developer? Add your free or paid game to the site!</translate></p>
				</div>

				<div>
					<router-link
						class="btn btn-success-outline"
						:to="{ name: 'dash.games.add' }"
						v-app-track-event="`dash:overview:quick-add-game`"
						>
						<app-jolticon icon="add" />
						<translate>Add Game</translate>
					</router-link>
				</div>

				<template v-if="games.length > 0">
					<br>

					<app-card
						v-for="game of inViewGames"
						:key="game.id"
						>
						<div class="card-title">
							<h4>
								<router-link
									:to="{
										name: 'dash.games.manage.game.overview',
										params: { id: game.id },
									}"
									v-app-track-event="`dash:overview:quick-game`"
									>
									<template v-if="game.developer.id !== app.user.id">
										<small>@{{ game.developer.username}}</small>
										/
									</template>
									{{ game.title }}
								</router-link>
							</h4>
						</div>
						<div class="card-controls">
							<router-link
								class="btn btn-outline"
								:to="{
									name: 'dash.games.manage.game.overview',
									params: { id: game.id },
								}"
								v-app-track-event="`dash:overview:quick-game`"
								>
								<app-jolticon icon="cog" />
								<translate>Manage</translate>
							</router-link>
							<template v-if="game.hasPerms('analytics')">
								<router-link
									class="btn btn-outline"
									v-app-track-event="`dash:overview:quick-game-analytics`"
									:to="{
										name: 'dash.analytics',
										params: { resource: 'Game', resourceId: game.id },
									}"
									>
									<app-jolticon icon="chart" />
									<translate>Analytics</translate>
								</router-link>
							</template>
						</div>
					</app-card>

					<div class="page-cut" v-if="!gamesExpanded && games.length > 5">
						<button
							class="btn btn-outline"
							@click="gamesExpanded = true"
							v-app-track-event="`dash:overview:expand-games`"
							>
							<span class="btn-badge">
								{{ games.length | number }}
							</span>
							<translate>Expand All</translate>
						</button>
					</div>
				</template>

				<!--
					Video Comments
				-->
				<h2>
					<translate>Your Video Comments</translate>
				</h2>

				<template v-if="!videos.length">
					<div class="page-help">
						<p><translate>Are you a let's player? Add your YouTube videos through video comments!</translate></p>
					</div>

					<div>
						<a class="btn btn-outline" href="https://help.gamejolt.com/video-comments" target="_blank">
							<translate>Learn More</translate>
						</a>
					</div>
				</template>
				<template v-else>
					<div class="row">
						<div class="col-xs-6" v-for="video of videos.slice( 0, 4 )" :key="video.id">
							<app-comment-video-thumbnail :video="video" />
						</div>
					</div>

					<div class="page-cut">
						<router-link class="btn btn-outline"
							:to="{ name: 'profile.videos.list', params: { username: app.user.username } }"
							v-app-track-event="`dash:overview:expand-videos`"
							>
							<span class="btn-badge">
								{{ videosCount | number }}
							</span>
							<translate>View All</translate>
						</router-link>
					</div>
				</template>

				<!--
					Game Jams
				-->
				<h2>
					<translate>Your Game Jams</translate>
				</h2>

				<div class="page-help" v-if="!jams.length">
					<p><translate>Got an idea for a game jam? You're already almost done. Simple and powerful, host your jam through Game Jolt!</translate></p>
				</div>

				<div>
					<a class="btn btn-success-outline" href="http://jams.gamejolt.com/manage/jams/add" target="_blank">
						<app-jolticon icon="add" />
						<translate>Create Jam</translate>
					</a>
					<a v-if="!jams.length" class="btn btn-outline" href="http://jams.gamejolt.com" target="_blank">
						<translate>Learn More</translate>
					</a>
				</div>

				<template v-if="jams.length > 0">
					<br>

					<app-card
						v-for="jam of jams.slice( 0, jamsExpanded ? jams.length : 5)"
						:key="jam.id"
						>
						<div class="card-title">
							<h4>
								<a
									:href="jam.manageUrl"
									target="_blank"
									v-app-track-event="`dash:overview:quick-jam`"
									>
									{{ jam.name }}
								</a>
							</h4>
						</div>
						<div class="card-controls">
							<a class="btn btn-outline"
								:href="jam.manageUrl"
								target="_blank"
								v-app-track-event="`dash:overview:quick-jam`"
								>
								<app-jolticon icon="cog" />
								<translate>Manage</translate>
							</a>
							<a class="btn btn-outline"
								:href="jam.fullUrl"
								target="_blank"
								v-app-track-event="`dash:overview:quick-jam-view`"
								>
								<app-jolticon icon="share" />
								<translate>View Jam</translate>
							</a>
						</div>
					</app-card>

					<div class="page-cut" v-if="!jamsExpanded && jams.length > 5">
						<button
							class="btn btn-outline"
							@click="jamsExpanded = true"
							v-app-track-event="`dash:overview:expand-jams`"
							>
							<span class="btn-badge">
								{{ jams.length | number }}
							</span>
							<translate>Expand All</translate>
						</button>
					</div>
				</template>

			</div>

			<div class="col-md-5" :class="{ 'pull-right': Screen.isDesktop }" style="clear: right">

				<h2>
					<router-link :to="{ name: 'dash.account.edit' }" class="link-unstyled">
						<translate>Edit Account</translate>
					</router-link>
				</h2>

				<div class="list-group">
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.edit' }"
						>
						<app-jolticon icon="edit" />
						<translate>Edit Profile</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.avatar' }"
						>
						<app-jolticon icon="user" />
						<translate>Change Avatar</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.linked-accounts.list' }"
						>
						<app-jolticon icon="link" />
						<translate>Linked Accounts</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.email-preferences' }"
						>
						<app-jolticon icon="email" />
						<translate>Email Preferences</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.financials' }"
						>
						<app-jolticon icon="cog" />
						<translate>Marketplace Account Setup</translate>
					</router-link>
					<router-link
						class="list-group-item has-icon"
						:to="{ name: 'dash.account.change-password' }"
						>
						<app-jolticon icon="key-diagonal" />
						<translate>Change Password</translate>
					</router-link>
				</div>

			</div>
		</div>
	</div>
</section>
