@import './variables'

.-section
	@media $media-xs
		padding-top: 0

.-user-info
	clearfix()
	display: flex
	align-items: center
	padding: $-spacing 0
	min-width: 0

.-avatar
	flex: none
	width: $-avatar-size
	height: $-avatar-size
	margin-right: 10px
