<div>
	<div class="event-item-controls">
		<template v-if="post && post.status === FiresidePost.STATUS_ACTIVE">

			<!--
				We don't want it clicking into the post when clicking a control.
			-->
			<span @click.stop>

				<app-fireside-post-like-widget
					:post="post"
					circle
					/>

				&nbsp;

				<template v-if="!showComments">
					<app-button
						icon="comment"
						circle
						@click="openComments()"
						v-app-tooltip="$gettext( 'View Comments' )"
						/>

					<span
						class="blip filled"
						v-if="commentsCount > 0"
						>
						<span class="blip-caret"></span>
						<span class="blip-count">
							{{ commentsCount | number }}
						</span>
					</span>

					&nbsp;
				</template>

				<app-button
					icon="share-airplane"
					circle
					v-app-popover-trigger="sharePopoverId"
					v-app-tooltip="$gettext( 'Share' )"
					/>

				<app-popover
					:popover-id="sharePopoverId"
					:append-to-body="!inModal"
					@focused="isShowingShare = true"
					@blurred="isShowingShare = false"
					>

					<div class="well fill-darkest sans-margin" v-if="isShowingShare">
						<div class="social-widgets" v-if="!GJ_IS_CLIENT">
							<app-social-twitter-share
								:url="shareUrl"
								:content="post.title"
								/>

							<span class="dot-separator"></span>

							<app-social-facebook-like
								:url="shareUrl"
								/>
						</div>

						<app-button
							block
							@click="copyShareUrl"
							>
							<translate>Copy Permalink</translate>
						</app-button>
					</div>

				</app-popover>
			</span>
		</template>
		<template v-else-if="video">
			<!--
				We don't want it clicking into the post when clicking a control.
			-->
			<span @click.stop>
				<app-comment-video-like-widget
					:video="video"
					circle
					/>
			</span>
		</template>
	</div>

	<template v-if="post && showComments">
		<br>
		<br>

		<app-comment-widget
			resource="Fireside_Post"
			:resource-id="post.id"
			@add="onCommentAdded()"
			/>
	</template>
</div>
