@require '~styles/variables'
@require '~styles-lib/mixins'

#shell-top-nav
	position: fixed
	z-index: $zindex-shell-top-nav

	.disconnected-icon
		theme-prop('color', 'notice')

		&, .jolticon
			cursor: help

// We want to make this the same width as the cbar, so that it aligns.
@media $media-sm-up
	.-menu-toggle
		width: $shell-cbar-width
		text-align: center

.-explore-icon
	position: relative
	top: 2px
