<nav id="shell-top-nav" class="navbar">

	<div class="navbar-left">

		<!-- Mobile Menu Toggle -->
		<ul class="navbar-items">
			<li>
				<a
					:class="{ active: isLeftPaneVisible }"
					@click="toggleLeftPane"
					v-app-popover-trigger="`main-menu`"
					v-app-tooltip.right-middle="$gettext( `Menu (m)` )"
					v-app-track-event="`top-nav:main-menu:toggle`"
					>
					<app-jolticon icon="menu" />
				</a>
			</li>
		</ul>

		<!--TODO-->
		<!-- History Navigator (for desktop client) -->
		<!--<gj-client-history-navigator ng-if="Environment.isClient"></gj-client-history-navigator>-->

		<router-link class="navbar-item" :to="{ name: 'discover.home' }">
			<img v-if="!Screen.isMobile" src="~img/game-jolt-logo.svg" alt="Game Jolt">
			<img v-if="Screen.isMobile" src="~img/jolt.svg" alt="Game Jolt">
		</router-link>

		<div class="navbar-separator hidden-xs"></div>

	</div>

	<div class="navbar-center">

		<!-- Search Input -->
		<app-search v-if="!Screen.isXs"></app-search>

	</div>

	<!--
		Cloak this so that it doesn't flash wrong things before we load the user.
		Fixes: https://github.com/gamejolt/issue-tracker/issues/382
	-->
	<div class="navbar-right" v-if="app.userBootstrapped">

		<ul class="navbar-items" v-if="app.user">

			<li class="hidden-xs">
					<!--TODO-->
					<!--:class="{ active: $state.includes( 'library' ) }"-->
				<app-router-link
					:to="{ name: Environment.isClient ? 'library.installed' : 'library.overview' }"
					v-app-tooltip.bottom-center="$gettext( `Your Game Library` )"
					v-app-track-event="`top-nav:library`"
					>
					<app-jolticon icon="books" />
				</app-router-link>
			</li>

			<!-- Activity -->
			<li v-if="!Connection.isClientOffline">
					<!--TODO-->
					<!--:class="{ active: $state.includes( 'dashboard.activity' ) }"-->
				<app-router-link
					:to="{ name: 'dashboard.activity.feed', params: { tab: 'activity' } }"
					v-app-tooltip.bottom-center="$gettext( `Activity` )"
					v-app-track-event="`top-nav:activity:toggle`"
					>
					<span class="notification-tag tag tag-pink anim-fade-enter anim-fade-leave"
						v-if="notificationCount > 0"
						>
						{{ notificationCount < 100 ? notificationCount : '99+' }}
					</span>
					<app-jolticon icon="notifications" />
				</app-router-link>
			</li>

			<!-- Friend Requests -->
			<li v-if="!Connection.isClientOffline">
				<a
					:class="{ active: friendRequestsShowing }"
					v-app-popover-trigger="`friend-requests`"
					v-app-tooltip.bottom-center="$gettext( `Friend Requests` )"
					v-app-track-event="`top-nav:friend-requests:toggle`"
					>
					<span class="notification-tag tag tag-pink anim-fade-enter anim-fade-leave"
						v-if="friendRequestCount"
						>
						{{ friendRequestCount }}
					</span>
					<app-jolticon icon="friend-requests" />
				</a>
				<app-friend-request-popover
					@count="friendRequestCount = $event"
					@focused="friendRequestsShowing = true"
					@blurred="friendRequestsShowing = false"
					>
				</app-friend-request-popover>
			</li>

			<!-- User Menu -->
			<li>
				<a class="navbar-avatar"
					:class="{ active: userMenuShowing }"
					v-app-popover-trigger="`account-popover`"
					v-app-track-event="`top-nav:user-menu:toggle`"
					>
					<app-user-avatar-img class="avatar-circle" :user="app.user" />
				</a>
				<app-shell-account-popover
					@shown="userMenuShowing = true"
					@hidden="userMenuShowing = false"
					>
				</app-shell-account-popover>
			</li>
		</ul>

		<!-- Login/Join Buttons -->
		<ul class="navbar-items" v-if="!app.user">
			<li>
				<a :href="Environment.authBaseUrl + '/login'" target="_self" v-app-track-event="`top-nav:login:click`">
					<app-jolticon class="hidden-xs" icon="sign-in" />
					<translate>nav.login</translate>
				</a>
			</li>
			<li>
				<a :href="Environment.authBaseUrl + '/join'" target="_self" v-app-track-event="`top-nav:join:click`">
					<app-jolticon class="hidden-xs" icon="friends" />
					<translate>nav.join</translate>
				</a>
			</li>
		</ul>

		<div class="navbar-separator" v-if="chat || !Connection.isOnline"></div>

		<!-- Connection Status -->
		<span v-if="!Connection.isOnline">
			<span class="navbar-item disconnected-icon"
				v-app-tooltip.left-middle="$gettext( `We're having trouble connecting to Game Jolt.` )"
				>
				<app-jolticon icon="offline" />
			</span>
		</span>

		<!-- Chat -->
		<ul class="navbar-items" v-if="chat">
			<li>
				<a
					:class="{ active: isRightPaneVisible }"
					@click="toggleRightPane"
					v-app-tooltip.left-middle="
						app.user
						? $gettext( `Chat and Friends List (c)` )
						: $gettext( `Chat (c)` )
					"
					v-app-track-event="`top-nav:chat:toggle`"
					>
					<span class="notification-tag tag tag-pink anim-fade-enter anim-fade-leave"
						v-if="chat.friendNotifications"
						>
						{{ chat.friendNotifications }}
					</span>
					<app-jolticon icon="user-messages" />
				</a>
			</li>
		</ul>

	</div>

</nav>
