@require '~styles/variables'
@require '~styles-lib/mixins'

#shell-top-nav
	position: fixed
	z-index: $zindex-shell-top-nav

	.disconnected-icon
		theme-prop('color', 'notice')

		&, .jolticon
			cursor: help

.-explore-icon
	position: relative
	top: 2px
