@require '~styles/variables'

#shell-top-nav
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: $zindex-shell-top-nav

	#shell.has-banner &
		top: $shell-top-nav-height

	.disconnected-icon
		color: $gj-pink

		&, .jolticon
			cursor: help

	.client-icon
		color: $white

		&, .jolticon
			cursor: pointer

.-checking-for-updates
	animation-name: checking-for-updates
	animation-duration: 2.5s
	animation-iteration-count: infinite
	animation-timing-function: linear

@keyframes checking-for-updates
	>>> 0%
		transform: rotate( 0deg )

	>>> 100%
		transform: rotate( 359deg )

.-fetching-update
	animation-name: fetching-update
	animation-duration: 3s
	animation-iteration-count: infinite
	animation-timing-function: linear

@keyframes fetching-update
	>>> 0%
		color: $gj-pink

	>>> 50%
		color: $gray

	>>> 100%
		color: $gj-pink

.-update-ready
	color: $gj-pink

.-update-error
	color: $gj-pink

