$trophy-thumbnail-border-width = 3px
$trophy-thumbnail-color = $gray-lighter
$trophy-thumbnail-border-color = $gray-darkest
$trophy-thumbnail-achieved-color = $white
$trophy-thumbnail-achieved-border-color = $gj-blue
$trophy-thumbnail-max-width = 75px

.trophy-thumbnail
	// max-width: ($trophy-thumbnail-border-width * 2) + $trophy-thumbnail-max-width
	padding: $trophy-thumbnail-border-width
	background-color: $trophy-thumbnail-border-color
	text-align: center

.trophy-thumbnail-img
	position: relative
	height: 0
	padding-top: 100%
	overflow: hidden

.trophy-thumbnail-img-inner
	display: none
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: $gray-dark

	&.is-loaded
		display: block

	> .img-responsive
		display: block
		width: 100%

.trophy-thumbnail-img-1x
.trophy-thumbnail-img-2x
	position: absolute
	top: 50%
	left: 50%

.trophy-thumbnail-img-1x
	margin-left: -(34px / 2)
	margin-top: -(35px / 2)

.trophy-thumbnail-img-2x
	margin-left: -(34px)
	margin-top: -(35px)

.trophy-thumbnail-difficulty
	display: block
	font-size: $font-size-tiny
	text-align: center
	text-transform: uppercase
	color: $trophy-thumbnail-color

.trophy-thumbnail-achieved
	background-color: $trophy-thumbnail-achieved-border-color

	.trophy-thumbnail-difficulty
		color: $trophy-thumbnail-achieved-color
