<div
	class="trophy-thumbnail"
	:class="{
		'trophy-thumbnail-achieved': isAchieved,
	}"
	v-app-tooltip="trophy.title"
	>

	<div class="trophy-thumbnail-img" ref="thumb">
		<div class="trophy-thumbnail-img-inner">
			<app-img-responsive
				v-if="hasThumbnailImg"
				:src="imgSrc"
				/>
			<img
				v-else
				:class="`trophy-thumbnail-img-${ imgMultiplier }x`"
				:style="{
					width: imgWidth + 'px',
					height: imgHeight + 'px',
				}"
				:src="imgSrc"
				>
		</div>
	</div>

	<span class="trophy-thumbnail-difficulty">
		{{ trophy.difficultyLabel }}
	</span>

</div>
