<div class="auth-social-buttons">
	<button class="i-button big block anim-fade-in-enlarge stagger"
		ng-disabled="!Connection.isOnline"
		ng-click="loginCtrl.linkedAccountLogin( 'facebook' )"
		>
		<span class="jolticon jolticon-facebook"></span>
		<span translate>auth.login.facebook_button</span>
	</button>

	<button class="i-button big block anim-fade-in-enlarge stagger"
		ng-disabled="!Connection.isOnline"
		ng-click="loginCtrl.linkedAccountLogin( 'twitter' )"
		>
		<span class="jolticon jolticon-twitter"></span>
		<span translate>auth.login.twitter_button</span>
	</button>
</div>

<p class="line-thru anim-fade-in">
	<span translate>auth.or</span>
</p>

<gj-form-login gj-form-submit-handler="loginCtrl.onLoggedIn( formModel )"></gj-form-login>

<div class="auth-page-links text-right anim-fade-in">
	<div class="auth-page-link">
		<span translate>auth.or</span>
		<a class="link-unstyled" ui-sref="auth.join">
			<span translate>auth.join_link</span>
			<span class="jolticon jolticon-friends"></span>
		</a>
	</div>
	<div class="auth-page-link">
		<a class="link-unstyled" ui-sref="auth.forgot">
			<!--<span>{{ 'auth.forgot_link' | translate:{ username: 'Username', password: 'Pass' } }}</span>-->
			<span translate translate-scope="{ username: 'Username', password: 'Pass' }">auth.forgot_link</span>
			<span class="jolticon jolticon-help-circle"></span>
		</a>
	</div>
</div>

<ui-view></ui-view>
