<gj-auth-login dark-variant="true"></gj-auth-login>

<div class="auth-page-links text-right anim-fade-in">
	<div class="auth-page-link">
		<span translate>auth.or</span>
		<a class="link-unstyled" ui-sref="auth.join">
			<span translate>auth.join_link</span>
			<span class="jolticon jolticon-friends"></span>
		</a>
	</div>
	<div class="auth-page-link">
		<a class="link-unstyled" ui-sref="auth.forgot">
			<span translate translate-params-username="Username" translate-params-password="Pass">auth.forgot_link</span>
			<span class="jolticon jolticon-help-circle"></span>
		</a>
	</div>
</div>

<ui-view></ui-view>
