<div>

	<section class="section section-thin text-left" v-if="!Environment.isClient && !Screen.isXs && game._should_show_ads">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<app-ad size="leaderboard" resource="Game" :resource-id="game.id" />
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-7">

					<app-activity-feed
						v-if="feed"
						type="Fireside_Post"
						:feed="feed"
						:load-more-url="'/web/discover/games/devlog/posts/' + game.id"
						:show-edit-controls="true"
						/>

				</div>
			</div>
		</div>
	</section>

</div>
