<section class="section" v-if="game">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-7">

				<app-game-perms :game="game" required="devlogs">
					<h5 class="sans-margin-top">
						<translate>Add Post</translate>
					</h5>

					<app-devlog-post-add
						:game="game"
						@add="onPostAdded"
						/>

					<hr>
				</app-game-perms>

				<app-activity-feed-placeholder v-if="!feed" />
				<app-activity-feed
					v-else
					:feed="feed"
					show-edit-controls
					show-ads
					/>

			</div>
		</div>
	</div>
</section>
