<div v-if="game">

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-7">

					<template v-if="app.user && app.user.id === game.developer.id">
						<h5 class="sans-margin-top">
							<translate>Add Post</translate>
						</h5>

						<app-devlog-post-add
							:game="game"
							@add="onPostAdded"
							/>

						<hr>
					</template>

					<app-activity-feed-placeholder v-if="!feed" />
					<app-activity-feed
						v-else
						:feed="feed"
						:show-edit-controls="true"
						:show-ads="true"
						/>

				</div>
			</div>
		</div>
	</section>

</div>
