@require '~styles/variables'
@require '~styles-lib/mixins'
@require '../item/item'

.-thumb
	content-prop('background-color', 'bg-offset')
	border-radius: $border-radius-base

.-placeholder
	&-title
		lazy-placeholder-block()

	&-dev
		lazy-placeholder-block()
		margin-top: 6px
		width: 60%
