<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6 col-centered">

				<h1>Marketplace Invite</h1>

				<p>Game Jolt has always let the community curate, so it would only make sense for the initial round of sellers to pick the second round of sellers. Help curate and shape the type of games the Game Jolt Marketplace will be known for!</p>

				<p>We're still working on new features and improvements before we're ready to do a full launch of Marketplace. We appreciate any feedback you're willing to share with <a href="mailto:yaprak@gamejolt.com">yaprak@gamejolt.com</a> to make the Marketplace the best platform for indies by indies!</p>

				<p>Marketplace is currently available in these countries, though we're working on supporting more in the future: Austria, Australia, Belgium, Brazil, Canada, Denmark, Finland, France, Germany, Hong Kong, Ireland, Italy, Luxumbourg, Mexico, The Netherlands, Norway, Portugal, Singapore, Spain, Sweden, Switzerland, United Kingdom, United States.</p>

				<h3>Your Keys</h3>

				<p class="small text-muted">You have 2 keys to invite whoever you'd like. Once you send them the URL below, they'll be able to claim it into their account and start selling games right away! Keys can only be claimed once.</p>

				<ul>
					<li ng-repeat="key in $ctrl.keys">
						<code>http://gamejolt.com/marketplace/claim/{{ key.key }}</code>
						<br>
						<span ng-switch="!!key.is_claimed">
							<span class="tag" ng-switch-when="false">Unclaimed</span>
							<span ng-switch-when="true">
								<span class="tag tag-active">Claimed</span>
								{{ key.invited_user.display_name }}
							</span>
						</span>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>
