<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6 col-centered">

				<h1>Marketplace Invite</h1>

				<p>Rather than be evil and choose all the games ourselves, we've decided to let the current developers using the Marketplace choose the next batch of developers to get on Marketplace. We were evil and chose you. Now you can be evil and choose your favorite developers. Help us curate and shape the types of games that Marketplace will be known for!</p>

				<h3>Your Keys</h3>

				<p class="small text-muted">You have 2 keys to give out to whoever you'd like. Send them the URL below. They will be able to claim it to their account and start selling games right away. Keys can only be claimed once.</p>

				<ul>
					<li ng-repeat="key in $ctrl.keys">
						<code>http://gamejolt.com/marketplace/claim/{{ key.key }}</code>
						<br>
						<span ng-switch="!!key.is_claimed">
							<span class="tag" ng-switch-when="false">Unclaimed</span>
							<span ng-switch-when="true">
								<span class="tag tag-active">Claimed</span>
								{{ key.invited_user.display_name }}
							</span>
						</span>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>
