<app-modal>

	<div class="modal-controls">
		<app-button @click="modal.dismiss()">
			<translate>Close</translate>
		</app-button>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="col-sm-4 col-sm-push-8">
				<br>

				<app-button
					block
					@click.stop="Clipboard.copy( Environment.baseUrl + item.getUrl( game ) )"
					v-app-tooltip="copyLinkTooltip"
					>
					<translate>Copy Link</translate>
				</app-button>

				<app-button
					block
					trans
					@click="remove()"
					>
					{{ removeText }}
				</app-button>
			</div>
			<div class="col-sm-8 col-sm-pull-4">
				<form-game-image
					v-if="item.media_type === 'image'"
					:game="game"
					:model="item"
					@submit="onMediaEdited"
					/>

				<form-game-video
					v-else-if="item.media_type === 'video'"
					:game="game"
					:model="item"
					@submit="onMediaEdited"
					/>

				<form-game-sketchfab
					v-else-if="item.media_type === 'sketchfab'"
					:game="game"
					:model="item"
					@submit="onMediaEdited"
					/>

				<hr>

				<template v-if="item.media_type === 'image'">
					<div class="text-center">
						<img
							class="img-responsive img-rounded"
							:src="item.media_item.img_url"
							:alt="item.caption"
							>
					</div>
				</template>
				<template v-else-if="item.media_type === 'video'">
					<app-video-embed
						:video-provider="item.type"
						:video-id="item.url"
						/>
				</template>
				<template v-else-if="item.media_type === 'sketchfab'">
					<app-sketchfab-embed
						:sketchfab-id="item.sketchfab_id"
						/>
				</template>
			</div>
		</div>
	</div>

</app-modal>
