@require '~styles/variables'
@require '~styles-lib/mixins'

.-ad-container
	theme-prop('border-color', 'bg-subtle')
	margin-bottom: 0
	border-bottom-width: 2px
	border-bottom-style: solid

.-ad-label
	margin-top: 5px
