<div class="activity-feed timeline-list full-bleed">

	<!--
		Note that our ng-repeat track by includes updated on.
		This way it will update the whole div when the post changes.
		This allows us to bind-once within the post, and still update during changes.
	-->
	<div class="timeline-list-item anim-fade-in-right no-animate-leave stagger"
		ng-repeat="item in $ctrl._items track by item.id"
		id="activity-feed-item-{{ ::item.id }}"
		in-view="$ctrl.onItemInViewChange( $inview, item )"
		>

		<div ng-switch="::item.type">
			<div ng-switch-when="devlog-post" ng-switch="::item.feedItem.type">
				<gj-devlog-post-text
					ng-switch-when="text"
					post="item.feedItem"
					on-click="$ctrl.setActive( item )"
					>
				</gj-devlog-post-text>

				<gj-devlog-post-media
					ng-switch-when="media"
					post="item.feedItem"
					on-click="$ctrl.setActive( item )"
					>
				</gj-devlog-post-media>
			</div>

			<gj-activity-feed-notification
				ng-switch-when="notification"
				notification="item.feedItem"
				on-click="$ctrl.setActive( item )"
				>
			</gj-activity-feed-notification>
		</div>

	</div>
</div>
