<div class="devlog-feed timeline-list full-bleed">

	<!--
		Note that our ng-repeat track by includes updated on.
		This way it will update the whole div when the post changes.
		This allows us to bind-once within the post, and still update during changes.
	-->
	<div class="devlog-feed-item timeline-list-item anim-fade-in-right no-animate-leave stagger"
		ng-repeat="notification in $ctrl.notifications track by notification.id"
		id="devlog-feed-post-{{ ::notification.id }}"
		>
		<!--in-view="$ctrl.onPostInViewChange( $inview, post )"-->

		<gj-devlog-post-text
			ng-if="::notification.action_model.type == $ctrl.firesidePostModel.TYPE_TEXT"
			post="notification.action_model"
			>
		</gj-devlog-post-text>

		<gj-devlog-post-media
			ng-if="::notification.action_model.type == $ctrl.firesidePostModel.TYPE_MEDIA"
			post="notification.action_model"
			>
		</gj-devlog-post-media>

	</div>
</div>
