<div class="activity-feed timeline-list full-bleed-xs">

	<app-activity-feed-item
		v-for="item of feed.items"
		:key="item.id"
		:feed="feed"
		:item="item"
		/>

	<div class="page-cut" v-if="(disableAutoload || !feed.reachedEnd) && !feed.isLoadingMore">
		<button class="btn btn-outline" @click="loadMore" v-app-track-event="`activity-feed:more`">
			<translate>Load More</translate>
		</button>
	</div>

	<app-loading v-if="feed.isLoadingMore" class="loading-centered" />

	<div class="alert alert-info" v-if="feed.reachedEnd">
		<translate>A wild Snorlax blocks your path. Looks like it's the end of this feed.</translate>
	</div>

</div>
