@require './variables'
@require '~styles-lib/mixins'

.-ad-container
	theme-prop('border-color', 'bg-subtle')
	margin-bottom: 0
	border-bottom-width: 2px
	border-bottom-style: solid

	@media $media-sm-up
		border-bottom: 0
		margin-bottom: $-item-padding

.-ad
	height: 250px

.-ad-label
	margin-top: 5px
