<a
	ng-href="{{ $ctrl.$ctrl.notification.url }}"
	ng-click="$ctrl.go( $event );"
	>

	<div class="timeline-list-item-icon" ng-class="{ active: $ctrl.isNew }">
		<span class="jolticon" ng-class="$ctrl.notification.jolticon"></span>
	</div>

	<div class="timeline-list-item-main">

		<div class="timeline-list-item-meta">
			<span am-time-ago="$ctrl.notification.added_on"></span>
		</div>

		<div class="timeline-list-item-title">
			<gj-notification-descriptive-action notification="$ctrl.notification"></gj-notification-descriptive-action>
		</div>

		<div class="timeline-list-item-details"
			ng-if="::[
				$ctrl.notificationModel.TYPE_COMMENT_ADD,
				$ctrl.notificationModel.TYPE_COMMENT_ADD_OBJECT_OWNER,
				$ctrl.notificationModel.TYPE_GAME_RATING_ADD,
			].indexOf( $ctrl.notification.type ) !== -1"
			>

			<img ng-if="$ctrl.notification.is_user_based && !$ctrl.screen.isXs"
				class="timeline-list-item-avatar"
				ng-src="{{ $ctrl.notification.from_model.img_avatar }}"
				alt=""
				>

			<div ng-if="$ctrl.notification.is_game_based && !$ctrl.screen.isXs"
				class="timeline-list-item-thumb"
				ng-style="{ 'background-image': 'url( \'' + $ctrl.notification.to_model.img_thumbnail + '\' )' }"
				>
			</div>

			<gj-fade-collapse fade-collapse-height="80">
				<div class="timeline-list-item-content" ng-switch="::$ctrl.notification.type">
					<div ng-switch-when="comment-add" ng-bind-html="::$ctrl.notification.action_model.comment_compiled"></div>
					<div ng-switch-when="comment-add-object-owner" ng-bind-html="::$ctrl.notification.action_model.comment_compiled"></div>
					<div ng-switch-when="game-rating-add" translate>
						notifications.rating_details_html
					</div>
				</div>
			</gj-fade-collapse>
		</div>

	</div>

</a>
