<div
	class="scrollable overlay-scrollbar overlay-scrollbar fill-darker"
	@scroll="onScroll"
	>

	<transition-group
		@enter="onMessageTransition"
		>
		<div
			class="anim-fade-in no-animate-leave"
			v-for="message of messages"
			:key="message.id"
			>

			<div
				class="chat-window-output-date-split"
				v-if="message.dateSplit"
				>
				<span class="inner">{{ message.loggedOn | date( 'mediumDate' ) }}</span>
			</div>

			<hr
				class="chat-window-output-hr"
				v-if="!message.dateSplit && !message.combine"
				>

			<app-chat-window-output-item
				:message="message"
				:room="room"
				/>

		</div>
	</transition-group>

</div>
