@require '~styles/variables'
@require '~styles-lib/mixins'

.chat-window-output
	&-date-split
		position: relative
		display: block
		margin-top: $line-height-computed
		margin-bottom: $line-height-computed
		width: 100%
		text-align: center

		&::before
			theme-prop('border-bottom-color', 'gray')
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 50%
			margin-top: 0
			height: 1px
			line-height: 1px
			border-bottom-width: 2px
			border-bottom-style: solid
			z-index: 0

		> .inner
			theme-prop('background-color', 'darker')
			position: relative
			padding-left: 10px
			padding-right: 10px
			font-weight: bold
			z-index: 1

	&-hr
		margin-top: 0
		margin-bottom: 0
		border: none
		height: $line-height-computed
