@require '~styles/variables'

.chat-window-output

	&-date-split
		position: relative
		display: block
		margin-top: $line-height-computed
		margin-bottom: $line-height-computed
		width: 100%
		text-align: center

		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 50%
			margin-top: 0
			height: 1px
			line-height: 1px
			border-bottom: 2px solid $gray
			z-index: 0

		> .inner
			position: relative
			padding-left: 10px
			padding-right: 10px
			background-color: $gray-darker
			font-weight: bold
			z-index: 1

	&-hr
		margin-top: 0
		margin-bottom: 0
		border: none
		height: $line-height-computed;
