@require '~styles/variables'
@require '~styles-lib/mixins'

.-container
	padding: $chat-room-window-padding

.-date-split
	position: relative
	display: block
	margin-top: $line-height-computed
	margin-bottom: $line-height-computed
	width: 100%
	text-align: center
	cursor: default

	&::before
		border-bottom-color: var(--theme-bg-offset)
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 50%
		margin-top: 0
		height: 0
		border-bottom-width: $border-width-large
		border-bottom-style: solid
		z-index: 0

	& > .-inner
		change-bg('bg-offset')
		color: var(--theme-fg-muted)
		position: relative
		padding-left: 8px
		padding-right: 8px
		font-weight: bold
		font-size: $font-size-small
		z-index: 1
		rounded-corners()

.-hr
	margin-top: 0
	margin-bottom: 0
	border: none
	height: $line-height-computed * 0.5

.-intro
	margin-top: 8px
	margin-left: 64px
	margin-right: 64px

	// Give mobile view a bit more space
	@media $media-xs
		margin-left: 8px
		margin-right: 8px

	change-bg('bg-offset')
	padding: 8px
	rounded-corners-lg()
	display: flex
