<section class="section">
	<div class="container">

		<div class="row">
			<div :class="rightColClass">
				<div class="alert alert-info">
					<p>Hey there! Join the community. Post, have fun, all that jazz!</p>
				</div>
			</div>

			<div :class="leftColClass">
				<p>
					<a
						v-for="tag in ['featured', 'latest', 'news', 'fanart', 'guide', 'review', 'letsplay']"
						@click="setActiveTag(tag)"
						>
						<app-pill :class="{ active: tag === activeTag }">
							#{{ tag }}
						</app-pill>
					</a>
				</p>

				<br>

				<!-- @add="onPostAdded" -->
				<app-post-add-button
					:community="community"
					@add="onPostAdded"
					/>

				<app-activity-feed-placeholder v-if="!feed" />
				<template v-else>
					<app-activity-feed
						v-if="feed.hasItems"
						:feed="feed"
						:show-edit-controls="feed.shouldShowEditControls"
						:show-community-controls="feed.shouldShowCommunityControls"
						@unfeature-post="onPostUnfeatured"
						/>
					<div v-else class="alert">
						<translate>There are no posts in this community yet. What are you waiting for? Post some stuff! Make people happy.</translate>
					</div>
				</template>
			</div>
		</div>

	</div>
</section>
