.-scroller
	padding-bottom: 12px

.-posts
	display: flex

.-card
	flex: auto
	min-width: 0

	@media $media-xs
		// 16px for the margin on the left of .container for XS size and 4px
		// which is half of the spacing between each card.
		min-width: calc(50vw - 20px) !important
