<div class="row">
	<div class="col-md-8 col-centered">
		<div class="modal-body">
			<h2 class="modal-title" ng-if="::!modalCtrl.room">Create Chat Room</h2>
			<h2 class="modal-title" ng-if="::modalCtrl.room">Edit Chat Room</h2>

			<gj-form-save-room
				gj-chat-room="modalCtrl.room"
				gj-form-submit-handler="modalCtrl.onSaved( $response )"
				>
			</gj-form-save-room>
		</div>

		<div class="modal-footer">
			<button class="i-button warning" ng-click="modalCtrl.close()">
				<span class="jolticon jolticon-remove"></span>
				Cancel
			</button>
		</div>
	</div>
</div>
