@require '../../variables'
@require '~styles-lib/mixins'

.page-cut
	margin-left: -($-item-padding-xs)
	margin-right: -($-item-padding-xs)

	@media $media-sm-up
		margin-left: -($-item-padding)
		margin-right: -($-item-padding)

.-devlog-post-text
	// Hide images and widgets until we are hydrated.
	>>> img, >>> iframe
		visibility: hidden

	&.-hydrated
		>>> img, >>> iframe
			visibility: visible
