<div
	class="-devlog-post-text"
	:class="{
		'-hydrated': isHydrated
	}"
	>

	<div class="page-cut" />

	<app-fade-collapse
		:collapse-height="150"
		:is-open="item.isOpen"
		:animate="false"
		@expand.stop="toggleFull()"
		@require-change="canToggleChanged"
		>
		<div class="fireside-post-body">
			<app-widget-compiler :content="post.content_compiled" />
		</div>
	</app-fade-collapse>

	<div class="page-cut" v-if="canToggleContent">
		<app-button
			trans
			@click.stop="toggleFull()"
			>
			<translate v-if="!item.isOpen">expand post</translate>
			<translate v-else>collapse</translate>
		</app-button>
	</div>

</div>
