<div
	class="devlog-post-text"
	:class="{
		'-hydrated': isHydrated
	}"
	>

	<template v-if="item.isOpen">
		<div class="page-cut" />

		<div class="fireside-post-body">
			<app-widget-compiler
				:content="post.content_compiled"
				/>
		</div>
	</template>

	<div class="page-cut">
		<app-button
			:trans="!isToggling"
			:solid="isToggling"
			:primary="isToggling"
			@click.stop="toggleFull()"
			>
			<translate v-if="!item.isOpen">read article</translate>
			<translate v-else>less</translate>
		</app-button>
	</div>

</div>
