<div class="-devlog-post-text" :class="{'-hydrated': isHydrated }">

	<app-fade-collapse
		:collapse-height="500"
		:is-open="item.isOpen"
		:animate="false"
		@require-change="canToggleChanged"
		@expand="toggleFull"
		>
		<div class="fireside-post-body">
			<app-widget-compiler :content="post.content_compiled" />
		</div>
	</app-fade-collapse>

	<div class="page-cut" style="padding-bottom: 0" v-if="canToggleContent">
		<app-button
			trans
			@click="toggleFull()"
			>
			<translate v-if="!item.isOpen">more</translate>
			<translate v-else>less</translate>
		</app-button>
	</div>

</div>
