<div class="minbar">
	<div class="minbar-items">

		<transition>
			<a class="minbar-item anim-fade-enter-up anim-fade-leave-shrink"
				v-for="( item, index ) of Minbar.items"
				:key="index"
				:class="{ active: item.isActive }"
				@click="onItemClick( item )"
				>

				<transition>
					<span class="tag tag-pink notification-tag anim-fade-enter anim-fade-leave"
						ng-if="item.notificationCount"
						>
						{{ item.notificationCount }}
					</span>
				</transition>

				<div class="minbar-item-thumb" v-app-tooltip="item.title">
					<img class="img-responsive" :src="item.thumb" alt="">
				</div>
			</a>
		</transition>
	</div>
</div>
