<div class="list-group game-collection-list">
	<router-link
		class="list-group-item clearfix"
		v-for="collection of collections"
		:key="collection._id"
		:to="{
			name: collection.getSref(),
			params: collection.getSrefParams(),
		}"
		:title="collection.getTitle()"
		v-app-track-event="eventLabel"
		>
		<div class="row">
			<div class="col-xs-3">
				<app-game-collection-thumbnail
					:collection="collection"
					:hide-tag="true"
					/>
			</div>
			<div class="col-xs-9">
				<div class="game-collection-title h5">

					{{ collection.name }}

					<small v-if="collection.from_subscription">
						<translate>library.by</translate>
						@{{ collection.owner.username }}
					</small>
				</div>
			</div>
		</div>
	</router-link>
</div>
