<div class="modal-body">
	<h2 class="modal-title" ng-if="::!modalCtrl.playlist">{{ ::'library.playlists.save_modal.add_heading' | translate }}</h2>
	<h2 class="modal-title" ng-if="::modalCtrl.playlist">{{ ::'library.playlists.save_modal.edit_heading' | translate }}</h2>

	<gj-form-playlist
		gj-game-playlist="modalCtrl.playlist"
		gj-form-submit-handler="modalCtrl.onSaved( $response )"
		>
	</gj-form-playlist>
</div>

<div class="modal-footer">
	<button class="i-button warning" ng-click="modalCtrl.close()">
		<span class="jolticon jolticon-remove"></span>
		{{ ::'library.playlists.save_modal.close' | translate }}
	</button>
</div>
