@require '~styles/variables'
@require '~styles-lib/mixins'

.chat-user
	height: 50px
	overflow: hidden

	&-list-meta
		text-overflow()
		theme-prop('color', 'fg-muted')
		font-size: $font-size-small

	&-role
		float: none !important
		margin-left: 0 !important
		margin-right: 4px !important
		margin-top: 0 !important

	&-role + &-role
		margin-left: -4px !important

	.user-avatar
		position: relative

		img
			img-circle()
			display: inline-block
			width: 24px
			vertical-align: middle

		.chat-user-status
			position: absolute
			right: 10px
			bottom: 8px
			width: 12px
			height: 12px
			border: 2px solid rgb(25, 25, 25)
			border-radius: 100%

			&.online
				change-bg('highlight')

			&.in-game
				change-bg('fg')

			&.offline
				change-bg('bg-offset')
