.devlog-post-media

	.timeline-list-item-header
		margin-bottom: 0

	.timeline-list-item-details
		margin-top: 0

	&-embed
		position: relative
		background-color: $gray-darker

		&-img
			display: block

	&-slider
		white-space: nowrap
		transition: transform 300ms $strong-ease-out

		&-item
			display: inline-block
			vertical-align: middle
			width: 100%

			img
				display: block
				width: 100%
				height: auto

	&-prev
	&-next
		display: none
		position: absolute
		top: 50%
		height: 50px
		width: @height
		line-height: 50px
		margin-top: -25px
		color: $white
		text-align: center
		background-color: $gray-darker
		z-index: 2
		user-select: none
		border: 1px solid rgba( $white, 0.1 )

		&:hover
			color: $gj-green

	&-prev
		left: 0
		border-left: 0

	&-next
		right: 0
		border-right: 0

	&-embed:hover
		.devlog-post-media-prev
		.devlog-post-media-next
			display: block
