@require '../../variables'
@require '~styles-lib/mixins'

$-button-size = 60px

.devlog-post-media
	margin-top: $-item-padding-xs-v
	position: relative

	@media $media-sm-up
		margin-top: $-item-padding-v

	&:hover
		.-next, .-prev
			visibility: visible
			opacity: 1

.-container
	display: block
	overflow: hidden
	margin-left: -($-item-padding-xs)
	margin-right: -($-item-padding-xs)

	@media $media-sm-up
		margin-left: -($-item-padding-container)
		margin-right: -($-item-padding-container)

.-slider
	white-space: nowrap
	transition: transform 300ms $strong-ease-out

.-prev, .-next
	rounded-corners-lg()
	visibility: hidden
	opacity: 0
	position: absolute
	top: 50%
	width: $-button-size
	height: $-button-size
	line-height: @height
	margin-top: -(@height / 2)
	text-align: center
	z-index: 2
	transition: opacity 0.2s ease

	// Hide and disable slider controls for mobile devices
	@media screen and (pointer: coarse)
		display: none

	> .jolticon
		vertical-align: middle
		font-size: ($-button-size / 2)
		color: $white

.-prev
	left: -($-item-padding-container)
	border-top-left-radius: 0
	border-bottom-left-radius: 0

.-next
	right: -($-item-padding-container)
	border-top-right-radius: 0
	border-bottom-right-radius: 0

.-indicator
	margin-top: 10px
