@require '../variables'
@require '~styles-lib/mixins'

.-controls
	margin-top: $-item-padding

.-manage-controls, .-manage-stats
	display: block

	@media $media-sm-up
		display: inline-block

.-manage-controls
	margin-bottom: $-item-padding

	@media $media-sm-up
		margin-right: 10px
		margin-bottom: 0

.-manage-stats
	theme-prop('color', 'fg-muted')
	font-size: $font-size-small
