@require '../variables'
@require '~styles-lib/mixins'

.-controls
	margin-top: $-item-padding

.-manage
	theme-prop('background-color', 'bg-offset')
	display: flex
	align-items: center
	padding: $-item-padding
	margin-top: $-item-padding
	margin-left: -($-item-padding)
	margin-right: -($-item-padding)

.-manage-stats
	theme-prop('color', 'fg-muted')
	flex: auto
	font-size: $font-size-small

.-manage-controls
	flex: none
