<header class="section">
	<div class="container forum-header forum-header-landing">
        
        <div class="col-xs-12 col-sm-9 forum-header-landing-content">
            <div>
                <h1>Game Jolt Indie Game Forums</h1>
                <p>Please read the <a href="#">Forum Rules</a> before posting.</p>
                <img ng-show="Screen.isXs" class="social-butterflies center-block" src="/app/views/forums/landing/butterflies-mobile.png" alt="The Social Butterflies">
                <a ui-sref="forums.search" class="btn btn-outline btn-block">
                    <span class="jolticon jolticon-search"></span> Search Discussions
                </a>
            </div>
        </div>
        
        <div class="col-sm-3 hidden-xs">
            <img class="social-butterflies" src="/app/views/forums/landing/butterflies.png" alt="The Social Butterflies">
        </div>
        
	</div>
	<br>
</header>

<section class="section">
	<div class="container">
		
		<div class="page-header forum-list-heading">
			<h2 class="sans-margin">
				<a class="link-unstyled" ui-sref="forums.channels.followed">Followed Channels</a>
			</h2>
			<div class="text-muted">10 Channels</div>
		</div>
        
        <gj-forums-channel-list items="[0, 1]" more-link="/forums/channels"></gj-forums-channel-list>
        
        <div class="page-header forum-list-heading">
			<h2 class="sans-margin">
				<a class="link-unstyled" ui-sref="forums.topics.followed">Followed Topics</a>
			</h2>
			<div class="text-muted">10 Topics</div>
		</div>
        
        <gj-forums-topic-list items="[0, 1]" more-link="/forums/topics"></gj-forums-topic-list>
		
	</div>
</section>

<section class="section" ng-repeat="i in [0, 1, 2]" ng-class="{'fill-lightest': i % 2 == 0}">
	<div class="container">
		<div class="row">
			<div class="col-md-6" ng-repeat="j in [0, 1]">
				
				<div class="page-header forum-list-heading">
					<h2 class="sans-margin">
						<a class="link-unstyled" href="/forums/category/development">Development</a>
					</h2>
					<div class="text-muted">750 Channels</div>
				</div>
                
                <gj-forums-channel-list items="[0, 1]" list-type="small" more-link="/forums/category/development"></gj-forums-channel-list>
				
			</div>
		</div>
	</div>
</section>