.forum-header-landing
    display: flex
    align-items: stretch

    .forum-header-landing-content
        display: flex
        align-items: center
    
        @media $media-xs
            display: block
    
.social-butterflies
    width: 100%
    max-width: 281px
    
    @media $media-xs
        margin-bottom: 10px