<header class="section">
	<div class="container forum-header">

		<div class="forum-breadcrumbs">
			<a ui-sref="forums.landing" class="link-unstyled">Forums</a> / <a href="#">Channels</a>
		</div>

		<h1>Followed Channels</h1>
		<p>Here are the channels that you follow.</p>

		<div class="row">

			<div class="col-sm-8 col-md-6">
				<p class="text-muted">10 Channels</p>
			</div>

			<div class="col-sm-4 col-md-6 text-right forum-header-buttons">
				<a ui-sref="forums.channels.create" class="btn btn-dark-variant btn-outline" gj-tooltip="Create a new forum channel" ng-class="{'btn-sparse': Screen.isSm}">
					<span class="jolticon jolticon-add"></span> <span class="hidden-sm">Create a Channel</span>
				</a>
			</div>

		</div>

	</div>
	<br>
</header>

<div class="section">
	<div class="container">

		<div class="page-header forum-list-heading">
			<h2 class="sans-margin">Channels You Moderate</h2>
		</div>

		<div class="forum-list-items row">

			<div class="col-sm-6" ng-repeat="i in [0, 1]">

				<div class="forum-list-item forum-channel row" ng-repeat="j in [0]">
					<div class="col-sm-7 col-md-8">
						<h4 class="forum-list-item-title">
							<a class="link-unstyled" ng-href="/f/gamemaker">#gamemaker</a>
						</h4>
						<a href="#" class="link-muted" gj-tooltip="Stop following this channel">
							<span class="jolticon jolticon-remove"></span>
						</a>
						<div class="text-muted small">
							1,300 Followers
							<span class="dot-separator hidden-xs"></span>
							<br class="visible-xs hidden-sm hidden-md hidden-lg">
							<strong><a href="#">Nik</a></strong> is the owner.
						</div>
						<p>Discussion and queries about GameMaker and GML.</p>
					</div>
					<div class="col-sm-5 col-md-4 forum-list-item-meta">
						<ul class="forum-list-item-stats">
							<li>25 Topics</li>
							<li class="hidden-sm hidden-md hidden-lg"><span class="dot-separator"></span></li>
							<li>2,123 Replies</li>
						</ul>
					</div>
				</div>

			</div>

		</div>

		<div class="page-header forum-list-heading">
			<h2 class="sans-margin">All Channels</h2>
		</div>

		<div class="forum-list-items row">

			<div class="col-sm-6" ng-repeat="i in [0, 1]">

				<div class="forum-list-item forum-channel row" ng-repeat="j in [0, 1, 2, 3]">
					<div class="col-sm-7 col-md-8">
						<h4 class="forum-list-item-title">
							<a class="link-unstyled" ng-href="/f/gamemaker">#gamemaker</a>
						</h4>
						<a href="#" class="link-muted" gj-tooltip="Stop following this channel">
							<span class="jolticon jolticon-remove"></span>
						</a>
						<div class="text-muted small">
							1,300 Followers
						</div>
						<p>Discussion and queries about GameMaker and GML.</p>
					</div>
					<div class="col-sm-5 col-md-4 forum-list-item-meta">
						<ul class="forum-list-item-stats">
							<li>25 Topics</li>
							<li class="hidden-sm hidden-md hidden-lg"><span class="dot-separator"></span></li>
							<li>2,123 Replies</li>
						</ul>
					</div>
				</div>

			</div>

		</div>

	</div>
</div>
