body
	@extend .overlay-scrollbar, .overlay-scrollbar-light

gj-shell-body
	display: block

#shell-body
	position: relative
	padding-bottom: ($grid-gutter-width-xs / 2)
	background-color: transparent
	transition: transform 450ms $strong-ease-out
	z-index: $zindex-shell-body
	overflow-x: hidden

	// Space for the top nav.
	margin-top: $shell-top-nav-height

	@media $media-sm-up
		padding-bottom: ($grid-gutter-width / 2)

	// When we are showing a right pane we want to shift the whole body over to reveal the pane.
	#shell.right-pane-visible &
		transform: translate( -($percentage-11), 0 )
		@media $media-sm-up
			transform: translate( -($shell-pane-width), 0 )

	#shell.left-pane-visible &
		@media $media-xs
			transform: translate( $percentage-11, 0 )

		@media $media-sm
			transform: translate( $shell-pane-width - $shell-top-nav-height, 0 )

	// Affixed components should be shifted down from the top of the shell to make room
	// for the top nav.
	.gj-scroll-affixed
		margin-top: $shell-top-nav-height + ($grid-gutter-width / 2)

	/**
	 * Helper mixin to help creating containers when the sidebar is different
	 * widths.
	 */
	shell-body-main-container( $_width )
		margin-left: $_width

		.container
			container-fixed()

			@media $media-min-tablet
				width: $container-sm - $_width

			@media $media-min-desktop
				width: $container-md - $_width

			@media $media-min-lg-desktop
				width: $container-lg - $_width

			$media-min-lg-desktop-sidebar = minw( $screen-lg + $_width )
			@media $media-min-lg-desktop-sidebar
				width: $container-lg

	@media $media-sm
		shell-body-main-container( $shell-top-nav-height )

	@media $media-md-up
		shell-body-main-container( $shell-top-nav-height )

		.left-pane-visible &
			shell-body-main-container( $shell-sidebar-width )

// Set the content BG so that we don't show the html color.
#content
	background-color: $shell-body-content-bg

.shell-body-main
	background-color: $white
