@require '~styles/variables'
@require '../../../../lib/gj-lib-client/stylus/common/mixins'
@require '../../../../lib/gj-lib-client/components/overlay-scrollbar/overlay-scrollbar'

body
	@extend .overlay-scrollbar, .overlay-scrollbar-light

#shell-body
	position: relative
	background-color: transparent
	z-index: $zindex-shell-body
	overflow-x: hidden
	min-height: 100vh
	// Space for the top nav.
	margin-top: $shell-top-nav-height

	// Affixed components should be shifted down from the top of the shell to make room
	// for the top nav.
	.gj-scroll-affixed
		margin-top: $shell-top-nav-height + ($grid-gutter-width / 2)

	// Containers are fluid until they hit the "lg" width.
	.container
		container-fixed()
		width: 100%
		max-width: $container-lg

	// Cut out the space for the left sidebar from the shell body.
	@media $media-sm
		margin-left: $shell-top-nav-height

	@media $media-md-up
		margin-left: $shell-top-nav-height

		.left-pane-visible &
			margin-left: $shell-sidebar-width

// Set the content BG so that we don't show the html color.
#content
	background-color: $shell-body-content-bg

.shell-body-main
	background-color: $white
