<div id="shell-body">
	<div class="page-sidebar overlay-scrollbar" style="overflow-y: scroll" gj-scroll-fixed-resizer="footer">

		<ul class="shell-nav">
			<li>
				<a ui-sref="dashboard.activity.feed( { tab: 'activity' } )"
					ng-class="{ active: $ctrl.$state.includes( 'dashboard.activity' ) }"
					gj-track-event="discover-nav:activity"
					>
					<span class="jolticon jolticon-feed"></span>
					<span translate>Activity</span>
				</a>
			</li>
			<!--<li>
				<a ui-sref="discover.home"
					ui-sref-active="active"
					gj-track-event="discover-nav:home"
					>
					<span class="jolticon jolticon-gamejolt"></span>
					Discover
				</a>
			</li>-->
			<li>
				<a ui-sref="discover.games.list.section( { section: 'hot' } )"
					ng-class="{ active: $ctrl.$state.includes( 'discover.games.list' ) }"
					ui-sref-opts="{ inherit: false }"
					gj-track-event="discover-nav:hot"
					>
					<span class="jolticon jolticon-game"></span>
					Games
				</a>
			</li>
			<li>
				<a ui-sref="discover.devlogs.overview"
					ng-class="{ active: $ctrl.$state.includes( 'discover.devlogs' ) }"
					ui-sref-opts="{ inherit: false }"
					gj-track-event="discover-nav:devlogs"
					>
					<span class="jolticon jolticon-blog-article"></span>
					Devlogs
				</a>
			</li>
			<li>
				<a ui-sref="forums.landing.overview"
					ng-class="{ active: $ctrl.$state.includes( 'forums' ) }"
					gj-track-event="discover-nav:forums"
					>
					<span class="jolticon jolticon-users"></span>
					Forums
				</a>
			</li>
		</ul>

		<div ng-if="$ctrl.app.user">
			<div class="nav-heading">
				Your Games
			</div>

			<ul class="shell-nav">
				<li ng-if="$ctrl.env.isClient">
					<a ui-sref="library.installed" ui-sref-active="active">
						<span class="jolticon jolticon-download-box"></span>
						Installed Games
					</a>
				</li>
				<li ng-if="!$ctrl.connection.isClientOffline">
					<a ui-sref="{{ ::$ctrl.followedCollection.getSref( true ) }}" ui-sref-active="active">
						<span class="jolticon jolticon-subscribe"></span>
						<span translate>library.nav.followed</span>
					</a>
				</li>
				<!--<li ng-if="!$ctrl.connection.isClientOffline && $ctrl.developerCollection">
					<a ui-sref="{{ ::$ctrl.developerCollection.getSref( true ) }}" ui-sref-active="active">
						<span class="jolticon jolticon-user"></span>
						<span translate>library.nav.developer</span>
					</a>
				</li>-->
				<li ng-if="!$ctrl.connection.isClientOffline">
					<a ui-sref="{{ ::$ctrl.ownedCollection.getSref( true ) }}" ui-sref-active="active">
						<span class="jolticon jolticon-heart"></span>
						<span translate>Owned Games</span>
					</a>
				</li>
			</ul>

			<div ng-if="!$ctrl.connection.isClientOffline">

				<!--<div class="nav-heading" ng-if="$ctrl.bundleCollections.length">
					<span translate>library.nav.bundles</span>
					<span class="badge">{{ $ctrl.bundleCollections.length }}</span>
				</div>

				<ul class="shell-nav">
					<li ng-repeat = "bundleCollection in $ctrl.bundleCollections | orderBy:'name' track by bundleCollection._id">
						<a ui-sref="{{ ::bundleCollection.getSref( true ) }}" ui-sref-active="active" title="{{ ::bundleCollection.name }}">
							<span class="jolticon jolticon-bundle"></span>
							{{ ::bundleCollection.name }}
						</a>
					</li>
				</ul>-->

			<div class="nav-heading">
				{{ ::'library.nav.playlists' | translate }}
				<span class="badge">{{ $ctrl.collections.length | number }}</span>
			</div>

			<div class="nav-controls">
				<a class="btn btn-outline btn-block" ng-click="$ctrl.showAddPlaylistModal()">
					<span class="jolticon jolticon-add"></span>
					{{ ::'library.nav.new_playlist_button' | translate }}
				</a>
			</div>

			<div class="nav-controls" ng-if="$ctrl.collections.length">
				<input type="search"
					class="form-control"
					ng-attr-placeholder="{{ ::'library.nav.filter_playlists_placeholder' | translate }}"
					ng-model="$ctrl.playlistFilterQuery"
					>
			</div>

			<div ng-if="!$ctrl.collections.length">
				<div class="alert fill-gray" translate>library.nav.no_playlists_html</div>
			</div>

			<!--
				Never bind once since anything could change in their playlists.
			-->
			<ul class="shell-nav">
				<li
					class="no-animate"
					ng-repeat="collection in $ctrl.collections
						| filter:$ctrl.playlistFilterComparator
						| orderBy:'name'
						track by collection._id"
					>

					<!--
						Gotta do a manual ui-sref since the params could change.
						If we don't, it'll just interpolate once and any changes wouldn't get picked up.
					-->
					<a
						ui-sref="{{ ::collection.getSref( true ) }}"
						ui-sref-active="active"
						title="{{ ::collection.getTitle() }}"
						>

						<span class="jolticon jolticon-playlist"></span>
						{{ collection.name }}

						<!-- Owner never changes, so bind once -->
						<small ng-if="::collection.from_subscription">
							{{ ::'library.by' | translate }}
							{{ ::collection.owner.display_name }}
						</small>
					</a>
				</li>
			</ul>

			</div>
		</div>

	</div>
	<div class="page-sidebar-main">
		<div ng-transclude></div>
	</div>
	<gj-shell-footer></gj-shell-footer>
</div>
