<div id="shell-body">
	<!--<div class="page-sidebar overlay-scrollbar" gj-scroll-fixed-resizer="footer">

		<ul class="shell-nav">
			<li>
				<a ui-sref="discover.home" ui-sref-active="active"
					gj-track-event="discover-nav:home"
					>
					<span class="jolticon jolticon-gamejolt"></span>
					Home
				</a>
			</li>
			<li>
				<a ui-sref="discover.games.list.section( { section: 'hot' } )"
					ui-sref-active="active"
					ui-sref-opts="{ inherit: false }"
					gj-track-event="discover-nav:hot"
					>
					<span class="jolticon jolticon-game"></span>
					Games
				</a>
			</li>
			<li>
				<a ui-sref="discover.devlogs.list"
					ui-sref-active="active"
					ui-sref-opts="{ inherit: false }"
					gj-track-event="discover-nav:devlogs"
					>
					<span class="jolticon jolticon-blog-article"></span>
					Devlogs
				</a>
			</li>
			<li>
				<a ui-sref="forums.landing.overview"
					ui-sref-active="active"
					gj-track-event="discover-nav:forums"
					>
					<span class="jolticon jolticon-users"></span>
					Forums
				</a>
			</li>
		</ul>

		<div ng-if="App.user">
			<div class="nav-heading">
				{{ App.user.display_name }}
			</div>

			<ul class="shell-nav">
				<li>
					<a ui-sref="dashboard.main.overview"
						ui-sref-active="active"
						gj-track-event="discover-nav:dashboard"
						>
						<span class="jolticon jolticon-dashboard"></span>
						Dashboard
					</a>
				</li>
				<li ng-if="Environment.isClient">
					<a ui-sref="library.installed" ui-sref-active="active">
						<span class="jolticon jolticon-download-box"></span>
						Installed Games
					</a>
				</li>
				<li ng-if="!Connection.isClientOffline">
					<a ui-sref="{{ ::$ctrl.followedCollection.getSref( true ) }}" ui-sref-active="active">
						<span class="tag tag-pink" ng-show="$ctrl.followedNotificationCount">{{ $ctrl.followedNotificationCount | number }}</span>
						<span class="jolticon jolticon-subscribe"></span>
						<span translate>library.nav.followed</span>
					</a>
				</li>
				<li ng-if="!Connection.isClientOffline && $ctrl.developerCollection">
					<a ui-sref="{{ ::$ctrl.developerCollection.getSref( true ) }}" ui-sref-active="active">
						<span class="jolticon jolticon-user"></span>
						<span translate>library.nav.developer</span>
					</a>
				</li>
				<li ng-if="!Connection.isClientOffline">
					<a ui-sref="{{ ::$ctrl.ownedCollection.getSref( true ) }}" ui-sref-active="active">
						<span class="jolticon jolticon-heart"></span>
						<span translate>Owned Games</span>
					</a>
				</li>
			</ul>

			<div ng-if="!Connection.isClientOffline">

				<div class="nav-heading" ng-if="$ctrl.bundleCollections.length">
					<span translate>library.nav.bundles</span>
					<span class="badge">{{ $ctrl.bundleCollections.length }}</span>
				</div>

				<ul class="shell-nav">
					<li ng-repeat = "bundleCollection in $ctrl.bundleCollections | orderBy:'name' track by bundleCollection._id">
						<a ui-sref="{{ ::bundleCollection.getSref( true ) }}" ui-sref-active="active" title="{{ ::bundleCollection.name }}">
							<span class="jolticon jolticon-bundle"></span>
							{{ ::bundleCollection.name }}
						</a>
					</li>
				</ul>

				<div class="nav-heading">
					<span translate>library.nav.playlists</span>
					<span class="badge">{{ $ctrl.collections.length | number }}</span>
				</div>

				<div class="nav-controls">
					<a class="i-button block big" ng-click="$ctrl.showAddPlaylistModal()">
						<span class="jolticon jolticon-add"></span>
						<span translate>library.nav.new_playlist_button</span>
					</a>
				</div>

				<div class="nav-controls" ng-if="$ctrl.collections.length">
					<input type="search"
						class="form-control"
						ng-attr-placeholder="{{ 'library.nav.filter_playlists_placeholder' | translate }}"
						ng-model="$ctrl.playlistFilterQuery"
						>
				</div>

				<div ng-if="!$ctrl.collections.length">
					<div class="alert fill-gray" translate>library.nav.no_playlists_html</div>
				</div>

			</div>
		</div>

	</div>
	<div class="page-sidebar-main">-->
		<div ng-transclude></div>
	<!--</div>-->
	<gj-shell-footer></gj-shell-footer>
</div>
