@require '~styles/variables'
@require '~styles-lib/mixins'

#shell-body
	position: relative
	background-color: transparent
	z-index: $zindex-shell-body
	overflow: hidden
	min-height: 100vh

	.container
		width: 100%
		max-width: $container-lg

// Set the content BG so that we don't show the html color.
#content
	theme-prop('background-color', 'bg')
	theme-prop('color', 'fg')

.shell-body-main
	background-color: $white
