<div class="row">
	<div class="col-sm-4 col-sm-push-8">
		<a class="btn btn-danger-outline btn-block"
			ng-if="manageCtrl.game.header_media_item"
			ng-click="headerCtrl.clearHeader()"
			>
			<span class="jolticon jolticon-remove"></span>
			{{ ::'dash.games.header.clear_button' | translate }}
		</a>
		<br>

		<div class="page-help">
			<div translate>dash.games.header.page_help_html</div>
			<p>
				<a class="link-help" href="https://help.gamejolt.com/dev-page-headers" target="_blank">{{ ::'dash.games.header.page_help_link' | translate }}</a>
			</p>
		</div>
	</div>

	<div class="col-sm-8 col-sm-pull-4">

		<gj-form-dashboard-game-header
			gj-game="manageCtrl.game"
			is-wizard="manageCtrl.isWizard"
			gj-form-submit-handler="headerCtrl.onSaved()"
			>
		</gj-form-dashboard-game-header>

		<div ng-if="manageCtrl.isWizard">
			<gj-form-dashboard-game-wizard-controls
				game="manageCtrl.game"
				can-proceed="true"
				>
			</gj-form-dashboard-game-wizard-controls>
		</div>
	</div>
</div>
