@require '~styles/variables'

.-section
	padding-top: ($grid-gutter-width / 2)

	@media $media-xs
		padding-top: ($grid-gutter-width-xs / 2)

.-heading
	@media $media-xs
		text-align: center

.-button
	padding: $line-height-computed 0
	text-align: center
