<iframe nwdisable nwfaketop class="hidden" ng-if="clientCtrl.downloadSrc" ng-src="{{ clientCtrl.downloadSrc }}"></iframe>

<div class="alert alert-warning sans-margin">
	<div class="container text-center">
		<p>This is a <strong>pre-release</strong>. The Client isn't yet finished. Constructive feedback and ideas are welcome to help shape the best experience ever.</p>
	</div>
</div>

<header class="section">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-8 col-centered">
				<h1>
					<img ng-if="Screen.isXs" src="/app/img/game-jolt-client-logo-2x.png" width="254" height="18" alt="Game Jolt Client">
					<img ng-if="!Screen.isXs" src="/app/img/game-jolt-client-logo-4x.png" width="558" height="36" alt="Game Jolt Client">
					<sup>PREVIEW</sup>
				</h1>
				<br>
				<p class="small">Introducing the Game Jolt Client. Effortlessly install too many games (and counting!), keep them updated automatically, and use the whole site without opening a browser.</p>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-lg-6 col-centered">
				<p>
					<a class="btn btn-success-outline"
						ng-class="{ 'btn-lg': !Screen.isXs }"
						ng-if="::clientCtrl.platform == 'linux'"
						gj-track-event="client-landing:download:linux"
						ng-click="clientCtrl.download( 'linux' )"
						>
						<span class="jolticon jolticon-download"></span>
						Download for Linux 64bit
					</a>

					<a class="btn btn-success-outline"
						ng-class="{ 'btn-lg': !Screen.isXs }"
						ng-if="::clientCtrl.platform == 'mac'"
						gj-track-event="client-landing:download:mac"
						ng-click="clientCtrl.download( 'mac' )"
						>
						<span class="jolticon jolticon-download"></span>
						Download for OS X
					</a>

					<a class="btn btn-success-outline"
						ng-class="{ 'btn-lg': !Screen.isXs }"
						ng-if="::clientCtrl.platform == 'windows'"
						gj-track-event="client-landing:download:win"
						ng-click="clientCtrl.download( 'windows' )"
						>
						<span class="jolticon jolticon-download"></span>
						Download for Windows
					</a>
				</p>

				<p>
					Download for <a href="#all-downloads" class="link-unstyled" du-smooth-scroll>other platforms</a>
					<br>
					<span class="jolticon jolticon-windows text-muted"></span>
					<span class="jolticon jolticon-mac text-muted"></span>
					<span class="jolticon jolticon-linux text-muted"></span>
				</p>
				<br>
			</div>
		</div>
	</div>
</header>

<div class="fill-darker">

	<section class="client-presentation">
		<div class="container hidden-xs">
			<img class="client-presentation-mascot" src="/app/views/client/clyde-video-overlay.png" width="178" height="130" alt="Clyde Slicker">
		</div>
		<div class="client-presentation-inner">
			<div class="container text-center">
				<img class="img-responsive" src="/app/views/client/client-presentation.jpg" alt="Game Jolt Client">
			</div>
		</div>
	</section>

	<section class="features-stripe">
		<div class="container text-center">
			<div class="row">
				<div class="features-stripe-col col-sm-3 col-lg-2 col-lg-offset-2">
					<p><span class="jolticon jolticon-4x jolticon-game"></span></p>
					<h5><strong>One Click Play</strong></h5>
					<p class="small">No more dealing with zip or (<em>shudder</em>) rar files! Click to install, click Launch to play. </p>
				</div>
				<div class="features-stripe-col col-sm-3 col-lg-2">
					<p><span class="jolticon jolticon-4x jolticon-download-box"></span></p>
					<h5><strong>Auto Updates</strong></h5>
					<p class="small">Client keeps your installed games up-to-date with the latest versions.</p>
				</div>
				<div class="features-stripe-col col-sm-3 col-lg-2">
					<p><span class="jolticon jolticon-4x jolticon-bolt-unfilled"></span></p>
					<h5><strong>Offline Mode</strong></h5>
					<p class="small">Play your installed games even when you're not online. Even on the toilet!</p>
				</div>
				<div class="features-stripe-col col-sm-3 col-lg-2">
					<p><span class="jolticon jolticon-4x jolticon-html5"></span></p>
					<h5><strong>HTML Support</strong></h5>
					<p class="small">Play HTML and WebGL games in the Client.</p>
				</div>
			</div>
		</div>
	</section>

	<div class="highlight-rows">
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2 class="section-header">
							<span class="jolticon jolticon-game jolticon-2x"></span>
							One Click Play
						</h2>
						<p>Client is the easiest, speediest way to install and play Game Jolt games. Click "Install" and Client will download and unpack the right files for your OS. Then click "Launch" to play, simple as that. So try out a bunch of games, <em>fast</em>.</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="/app/views/client/install-shot.jpg" alt="Install Fast">
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-push-6">
						<h2 class="section-header">
							<span class="jolticon jolticon-download-box jolticon-2x"></span>
							Auto Updates
						</h2>
						<p>Never miss a release!</p>
						<p>Client keeps your installed games up to date, so you'll always play the latest versions. Your game library syncs up with your Game Jolt account, so you can access your playlists and receive notifications, as well.</p>
						<p>Even the Client itself auto-updates, so you'll always be browsing your favorite site using the latest version.</p>
					</div>
					<div class="col-sm-6 col-sm-pull-6">
						<img class="img-responsive" src="/app/views/client/auto-update-shot.jpg" alt="Auto Update">
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2 class="section-header">
							<span class="jolticon jolticon-users jolticon-2x"></span>
							Chat Integration
						</h2>
						<p>Chat with the Game Jolt community using Client!</p>
						<p>Never miss a message again. Get notifications when friends message you. No more excuses.</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="/app/views/client/chat-shot.jpg" alt="Chat">
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-push-6">
						<h2 class="section-header">
							<span class="jolticon jolticon-bolt-unfilled jolticon-2x"></span>
							Offline Mode
						</h2>
						<p>Play your installed games any time, even when you're not online.</p>
						<p>Neither power outage nor shoddy wifi will stand in the way of your gaming! Client will sync your library and update your games the next time you connect.</p>
					</div>
					<div class="col-sm-6 col-sm-pull-6">
						<img class="img-responsive" src="/app/views/client/offline-mode-shot.jpg" alt="Offline Mode">
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2 class="section-header">
							<span class="jolticon jolticon-html5 jolticon-2x"></span>
							HTML Support
						</h2>
						<p>Quick play HTML (and WebGL) games without ever needing to open a browser window. You'll almost never have to leave the comfort of Client!</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="/app/views/client/html-games-shot.jpg" alt="HTML Games">
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-push-6">
						<h2 class="section-header">
							<span class="jolticon jolticon-world jolticon-2x"></span>
							Open Source
						</h2>
						<p>Wanna know what we're putting on your desktop? Client is fully open source!</p>
						<p>You can view us working on the project, pull it and make changes for the fun of it, release customized versions of the client, or even help fix bugs at the <a href="https://github.com/gamejolt/gamejolt">GitHub repository</a>.</p>
					</div>
					<div class="col-sm-6 col-sm-pull-6">
						<img class="img-responsive" src="/app/views/client/open-source-shot.jpg" alt="Open Source">
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2 class="section-header">
							<span class="jolticon jolticon-gamejolt jolticon-2x"></span>
							Access All of Game Jolt
						</h2>
						<p>Client is not just a downloader app; it's the <strong>whole Game Jolt site on your desktop.</strong> Browse, search, and find games. Chat with friends and receive notifications. Even upload files, manage games, and edit pages right in Client.</p>
						<p>It's pretty much all you've ever dreamed of, most likely.</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="/app/views/client/full-site-shot.jpg" alt="Game Jolt">
					</div>
				</div>
			</div>
		</section>
	</div>

	<section class="download-footer" id="all-downloads">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-9 col-centered">
					<div class="row">
						<div class="download-footer-col col-sm-4">
							<p><span class="jolticon jolticon-4x jolticon-linux"></span></p>
							<p>
								<a class="btn btn-block btn-success-outline"
									gj-track-event="client-landing:download:linux"
									ng-click="clientCtrl.download( 'linux' )"
									>
									<span class="jolticon jolticon-download"></span>
									Download Linux 64bit
								</a>
							</p>
						</div>
						<div class="download-footer-col col-sm-4">
							<p><span class="jolticon jolticon-4x jolticon-mac"></span></p>
							<p>
								<a class="btn btn-block btn-success-outline"
									gj-track-event="client-landing:download:mac"
									ng-click="clientCtrl.download( 'mac' )"
									>
									<span class="jolticon jolticon-download"></span>
									Download Mac
								</a>
							</p>
						</div>
						<div class="download-footer-col col-sm-4">
							<p><span class="jolticon jolticon-4x jolticon-windows"></span></p>
							<p>
								<a class="btn btn-block btn-success-outline"
									gj-track-event="client-landing:download:win"
									ng-click="clientCtrl.download( 'windows' )"
									>
									<span class="jolticon jolticon-download"></span>
									Download Windows
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<br>

			<p class="lead">
				Play games. Make games. Stay indie.
			</p>
		</div>
	</section>

	<section class="section fill-dark">
		<div class="container text-center">
			<div class="row">
				<p><strong>Questions or feedback?</strong> Check out <a href="http://fireside.gamejolt.com/post/game-jolt-client-now-brxhie4f">the blog post</a>!</p>
				<p><strong>Found a bug?</strong> Post it in the <a href="https://github.com/gamejolt/issue-tracker/issues">issue tracker</a>.</p>
			</div>
		</div>
	</section>

</div>
