<div v-if="routeBootstrapped">
	<section class="section section-has-nav fill-lightest">
		<div class="container">

			<h4 class="section-header">
				<translate>Add Post</translate>
			</h4>

			 <app-devlog-post-add
				:game="game"
				@add="onPostAdded"
				/>

			<nav class="platform-list inline section-nav">
				<ul>
					<li>
						<router-link
							:to="{
								name: 'dash.games.manage.devlog',
								params: {
									tab: null,
								},
							}"
							active-class="active"
							:exact="true"
							>
							<translate>Posts</translate>
						</router-link>
					</li>
					<li>
						<router-link
							:to="{
								name: 'dash.games.manage.devlog',
								params: {
									tab: 'draft',
								},
							}"
							active-class="active"
							:exact="true"
							>
							<translate>Draft Posts</translate>
						</router-link>
					</li>
				</ul>
			</nav>

		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">

					<app-activity-feed
						v-if="feed.hasItems"
						:feed="feed"
						:show-edit-controls="true"
						@postedited="onPostEdited"
						@postpublished="onPostPublished"
						/>

					<div class="alert alert-info"
						v-else
						>
						<div v-if="_tab === 'active'">
							<p><translate>You haven't published any posts yet.</translate></p>
						</div>
						<div v-else-if="_tab === 'draft'">
							<p><translate>You don't have any draft posts.</translate></p>
						</div>
					</div>


				</div>
			</div>
		</div>
	</section>
</div>
