<div v-if="routeBootstrapped">
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8">

					<app-game-perms :game="game" required="devlogs">
						<app-devlog-post-add-button
							:game="game"
							@add="onPostAdded"
							/>

						<br>
						<br>
					</app-game-perms>

					<app-nav-tab-list>
						<ul>
							<li>
								<router-link
									:to="{
										name: 'dash.games.manage.devlog',
										params: {
											tab: null,
										},
									}"
									active-class="active"
									:exact="true"
									>
									<translate>Posts</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{
										name: 'dash.games.manage.devlog',
										params: {
											tab: 'draft',
										},
									}"
									active-class="active"
									:exact="true"
									>
									<translate>Draft Posts</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{
										name: 'dash.games.manage.devlog',
										params: {
											tab: 'scheduled',
										},
									}"
									active-class="active"
									:exact="true"
									>
									<translate>Scheduled Posts</translate>
								</router-link>
							</li>
						</ul>
					</app-nav-tab-list>

					<app-activity-feed
						v-if="feed.hasItems"
						:feed="feed"
						show-edit-controls
						@postedited="onPostEdited"
						@postpublished="onPostPublished"
						@postremoved="onPostRemoved"
						/>

					<div class="alert"
						v-else
						>
						<template v-if="_tab === 'active'">
							<p><translate>You haven't published any posts yet.</translate></p>
						</template>
						<template v-else-if="_tab === 'draft'">
							<p><translate>You don't have any draft posts.</translate></p>
						</template>
						<template v-else-if="_tab === 'scheduled'">
							<p><translate>You don't have any scheduled posts.</translate></p>
						</template>
					</div>


				</div>
			</div>
		</div>
	</section>
</div>
