<div v-if="routeBootstrapped">
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8">

					<app-game-perms :game="game" required="devlogs">
						<app-post-add-button
							:game="game"
							@add="onPostAdded"
							/>
					</app-game-perms>

					<app-nav-tab-list>
						<ul>
							<li>
								<router-link
									:to="{
										name: 'dash.games.manage.devlog',
										query: {},
									}"
									active-class="active"
									exact
									>
									<translate>Posts</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{
										name: 'dash.games.manage.devlog',
										query: {
											tab: 'draft',
										},
									}"
									active-class="active"
									exact
									>
									<translate>Draft Posts</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{
										name: 'dash.games.manage.devlog',
										query: {
											tab: 'scheduled',
										},
									}"
									active-class="active"
									exact
									>
									<translate>Scheduled Posts</translate>
								</router-link>
							</li>
						</ul>
					</app-nav-tab-list>

					<app-activity-feed
						v-if="feed && feed.hasItems"
						:feed="feed"
						show-edit-controls
						@edit-post="onPostEdited"
						@publish-post="onPostPublished"
						@remove-post="onPostRemoved"
						/>

					<div class="alert"
						v-else
						>
						<template v-if="tab === 'active'">
							<p><translate>You haven't published any posts yet.</translate></p>
						</template>
						<template v-else-if="tab === 'draft'">
							<p><translate>You don't have any draft posts.</translate></p>
						</template>
						<template v-else-if="tab === 'scheduled'">
							<p><translate>You don't have any scheduled posts.</translate></p>
						</template>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
