<div>

	<app-page-header
		:spotlight-dark="true"
		>

		<h1>
			<translate>Devlogs</translate>
		</h1>

		<div class="small text-muted">
			<translate>Find the latest and greatest games in development and follow their devlog feeds!</translate>
		</div>

		<div slot="spotlight">
			<img src="./social.png" width="100" height="100" alt="">
		</div>

		<nav slot="nav" class="platform-list inline">
			<ul>
				<li>
					<router-link :to="{ name: 'discover.devlogs.overview' }" :exact="true" active-class="active">
						<translate>Overview</translate>
					</router-link>
				</li>
				<li>
					<router-link :to="{ name: 'discover.devlogs.games' }" active-class="active">
						<translate>Games</translate>
					</router-link>
				</li>
			</ul>
		</nav>

	</app-page-header>

	<router-view />

</div>
