@require '~styles/variables'
@require '../../../lib/gj-lib-client/stylus/common/mixins'

_scrollable-grid()
	white-space: nowrap

	.scrollable-grid-item
		display: inline-block
		float: none
		vertical-align: top

@media $media-xs
	.scrollable-grid-xs
		scrollable-x()
		_scrollable-grid()

@media $media-sm
	.scrollable-grid-sm
		scrollable-x()
		_scrollable-grid()

@media $media-mobile
	.scrollable-grid-mobile
		scrollable-x()
		_scrollable-grid()

.scrollable-grid
	scrollable-x()
	_scrollable-grid()
