@require '~styles/variables'
@require '~styles-lib/mixins'
@require '../../../../../components/community/channel/card/variables'

.-channels-header
	margin-top: 10px
	// Force h5 to become the width of a card to align the text with the start of cards
	width: $card-width
