@require '~styles/variables'
@require '~styles-lib/mixins'
@require '../../../../../components/community/channel/card/variables'

.-nav-featured
	rounded-corners()
	theme-prop('color', 'fg')
	display: flex
	padding: 5px 10px
	margin-bottom: 15px
	user-select: none
	cursor: pointer
	transition: all 250ms
	width: $card-width

	@media $media-xs
		width: auto

	&:hover
		change-bg('bg-offset')
		theme-prop('color', 'fg')
		transition: none

	&.active
		&, &:hover
			change-bg('bi-bg')
			theme-prop('color', 'bi-fg')

.-mobile-nav
	display: flex
	overflow-x: scroll
	margin-bottom: 10px

	.-card
		margin-right: 10px
		width: 200px
