<gj-popover class="popover-dark shell-popover"
	popover-id="main-menu"
	popover-append-to-body="true"
	popover-position-by="position"
	popover-on-focus="ctrl.isShown = true"
	popover-on-blur="ctrl.isShown = false"
	popover-hide-on-state-change="true"
	>

	<div style="min-width: 300px">

		<div class="list-group thin">
			<a class="list-group-item has-icon offline-disable" ui-sref="discover.home"
				gj-track-event="discover-nav:home"
				>
				<span class="jolticon jolticon-gamejolt"></span>
				<span translate>Home</span>
			</a>
			<a class="list-group-item has-icon offline-disable" ui-sref="discover.games.list.section( { section: 'hot' } )"
				ui-sref-opts="{ inherit: false }"
				gj-track-event="discover-nav:hot"
				>
				<span class="jolticon jolticon-game"></span>
				<span translate>Games</span>
			</a>
			<a class="list-group-item has-icon offline-disable" ui-sref="discover.devlogs.overview"
				ui-sref-opts="{ inherit: false }"
				gj-track-event="discover-nav:devlogs"
				>
				<span class="jolticon jolticon-blog-article"></span>
				<span translate>Devlogs</span>
			</a>
			<a ng-if="Screen.isXs" class="list-group-item has-icon offline-disable" ui-sref="search.results"
				ui-sref-opts="{ inherit: false }"
				gj-track-event="discover-nav:search"
				>
				<span class="jolticon jolticon-search"></span>
				<span translate>Search</span>
			</a>
			<a class="list-group-item has-icon offline-disable"
				ui-sref="forums.landing.overview"
				gj-track-event="discover-nav:forums"
				>
				<span class="jolticon jolticon-users"></span>
				<span translate>Forums</span>
			</a>
			<a class="list-group-item has-icon offline-disable"
				ui-sref="radio"
				gj-track-event="discover-nav:radio"
				>
				<span class="jolticon jolticon-musical-note"></span>
				<span translate>Radio</span>
			</a>
		</div>

		<div ng-if="App.user">
			<div class="nav-heading">
				{{ App.user.display_name }}
			</div>

			<div class="list-group thin">
				<a class="list-group-item has-icon" ui-sref="{{ ::Environment.isClient ? 'library.installed' : 'library.overview' }}"
					gj-track-event="discover-nav:library"
					>
					<span class="jolticon jolticon-books"></span>
					<span translate>Game Library</span>
				</a>
				<a class="list-group-item has-icon" ui-sref="dashboard.activity.feed( { tab: 'activity' } )"
					gj-track-event="discover-nav:activity"
					>
					<span class="jolticon jolticon-feed"></span>
					<span translate>Activity Feed</span>
				</a>
				<a class="list-group-item has-icon offline-disable" ui-sref="dashboard.main.overview"
					gj-track-event="discover-nav:dashboard"
					>
					<span class="jolticon jolticon-dashboard"></span>
					<span translate>Dashboard</span>
				</a>
			</div>
		</div>

		<div class="menu-popover-separator"></div>

		<div class="list-group">

			<a class="list-group-item" ng-href="{{ ::Environment.firesideBaseUrl }}"
				title="Fireside - Indie gaming opinions, news, and reviews"
				gj-track-event="discover-nav:fireside"
				>
				<img src="/lib/gj-lib-client/components/site-selector/jolt-fireside.png" width="155" style="margin-top: -8px; margin-bottom: -2px" alt="Fireside">
			</a>

			<a class="list-group-item" ng-href="{{ ::Environment.jamsBaseUrl }}"
				title="Game Jolt Jams"
				gj-track-event="discover-nav:jams"
				>
				<img src="/lib/gj-lib-client/components/site-selector/jolt.svg" alt="" style="margin-right: 6px;">
				<img src="/lib/gj-lib-client/components/site-selector/jams-logo.svg" alt="Game Jolt Jams">
			</a>

			<a class="list-group-item" href="/client"
				ng-if="!Environment.isClient"
				title="Game Jolt Client"
				gj-track-event="discover-nav:client"
				>
				<img src="/lib/gj-lib-client/components/site-selector/jolt.svg" alt="" style="margin-right: 6px;">
				<img src="/lib/gj-lib-client/components/site-selector/client-logo.svg" alt="Game Jolt Client">
			</a>

		</div>

	</div>

</gj-popover>
