@require '~game-jolt-frontend-lib/stylus/mixins/compiled-content'

$-font-size-xs = 16px
$-font-size = 17px
$-lead-font-size-xs = 16px
$-lead-font-size = 19px

.fireside-post-body
	compiled-content($-font-size-xs)

	@media $media-sm-up
		compiled-content($-font-size)

	a
		link-underlines(var(--theme-link), var(--theme-bg), var(--theme-link-hover))

	// We have to cancel the link-underlines styling.
	.hashtag
		text-shadow: none
		background-image: none !important

	.spoiler
		font-style: normal

	img, iframe
		rounded-corners()

.fireside-post-lead
	font-size: $-lead-font-size-xs
	line-height: $line-height-base
	font-weight: 600 // Semibold

	@media $media-sm-up
		font-size: $-lead-font-size

	>>> a
		theme-prop('color', 'link')

		&:hover, &:focus
			theme-prop('color', 'link')
			text-decoration: underline
