@require '../../../../lib/gj-lib-client/stylus/mixins/compiled-content'

$fireside-post-font-family = "Merriweather", Georgia, "Times New Roman", Times, serif
$fireside-post-font-size = $font-size-base
$fireside-post-line-height = 1.7
$fireside-post-line-height-computed = floor( $fireside-post-font-size * $fireside-post-line-height )

.fireside-post-body
	compiled-content($fireside-post-font-size, $fireside-post-line-height-computed)
	font-family: $fireside-post-font-family
	font-size: $fireside-post-font-size
	line-height: $fireside-post-line-height
	letter-spacing: 0

	p
		margin-bottom: $fireside-post-font-size
		letter-spacing: 0

	a
		link-underlines($text-color, $white, $gray-lighter)

	blockquote
		font-family: $font-family-base
		font-style: italic
		line-height: $line-height-base

		&, p
			letter-spacing: 0.01em

	.spoiler
		font-style: normal
