<div ng-attr-id="grid-pagination-{{ ::$ctrl.id }}">
	<p class="text-muted small"
		ng-if="$ctrl.gamesCount"
		translate
		translate-n="$ctrl.gamesCount"
		translate-plural="games.list.games_count"
		translate-params-page="$ctrl.currentPage"
		translate-comment="{{ page }} expands to the current page of games"
		>
		games.list.games_count
	</p>

	<div ng-class="{ 'scrollable-grid-xs full-bleed-xs': $ctrl.scrollable }">
		<div class="game-grid-items">
			<div class="game-grid-ad" ng-if="$ctrl.Screen.isDesktop && $ctrl.showAds">
				<div class="game-grid-ad-inner">
					<gj-ad size="rectangle"></gj-ad>
					<span class="ad-label visible-lg" translate>Advertisement</span>
				</div>
			</div>
			<div
				ng-repeat-start="game in $ctrl.processedGames track by game.id"
				ng-if="$ctrl.shouldShowAd( $index )"
				>
				<div class="game-grid-ad">
					<div class="game-grid-ad-inner">
						<gj-ad size="rectangle"></gj-ad>
						<span class="ad-label visible-lg" translate>Advertisement</span>
					</div>
				</div>
			</div><div ng-repeat-end class="game-grid-item">
				<gj-game-thumbnail
					gj-game="game"
					gj-track-event="{{ $ctrl.eventLabel ? 'game-grid:click:' + $ctrl.eventLabel : undefined }}"
					>
				</gj-game-thumbnail>
			</div>
		</div>
	</div>

	<gj-pagination
		class="text-center"
		ng-if="$ctrl.perPage && $ctrl.gamesCount"
		items-per-page="$ctrl.perPage"
		total-items="$ctrl.gamesCount"
		current-page="$ctrl.currentPage"
		(on-page-change)="$ctrl.scroll.to( 'grid-pagination-' + $ctrl.id, { animate: false } )"
		>
	</gj-pagination>
</div>
