<div :id="`grid-pagination-${id}`">
	<p class="text-muted small" v-if="gamesCount">
		<translate
			translate
			:translate-n="gamesCount"
			:translate-params="{
				count: number( gamesCount ),
				page: number( currentPage ),
			}"
			translate-plural="Page %{ page } of %{ count } games."
			>
			1 game.
		</translate>
	</p>

	<div :class="{ 'scrollable-grid-xs full-bleed-xs': scrollable && Screen.isXs }">
		<div :class="{ 'row': !(scrollable && Screen.isXs) }">
			<div
				class="col-sm-6 col-md-4 col-lg-3 game-thumbnail-anim"
				v-for="game of processedGames"
				:key="game.id"
				:class="{ 'scrollable-grid-item col-xs-11': scrollable && Screen.isXs }"
				>
				<app-game-thumbnail
					:game="game"
					v-app-track-event="eventLabel ? 'game-grid:click:' + eventLabel : undefined"
					/>
			</div>
		</div>
	</div>

	<app-pagination
		class="text-center"
		v-if="perPage && gamesCount"
		:items-per-page="perPage"
		:total-items="gamesCount"
		:current-page="currentPage"
		@pagechange="Scroll.to( 'grid-pagination-' + id, { animate: false } )"
		/>
</div>
