@require '~styles/variables'
@require '~styles-lib/mixins'

.ad-label
	theme-prop('color', 'fg-muted')
	font-size: $font-size-small
	text-transform: uppercase
	margin-top: 5px
	margin-bottom: (- @margin-top)
