// The popping in/out when the page's height changes is really jarring.
// Always show the vertical scrollbar.
html
	overflow-y: scroll

html, body, #content
	change-bg('darkest')

#content
	overflow: hidden
	margin-bottom: ($grid-gutter-width / 2)

	.container
		change-bg('bg')
		padding-top: ($grid-gutter-width / 2)
		padding-bottom: ($grid-gutter-width / 2)

		@media $media-sm-up
			rounded-corners-lg()

		&.page-error
			padding-top: 0
			padding-bottom: 0

#header
	.container
		padding: 0

#footer
	@extend .fill-darkest
	font-size: $font-size-tiny
	padding-bottom: $grid-gutter-width

	@media $media-xs
		text-align: center

	@media $media-sm-up
		font-size: $font-size-small

		.container
			padding: 0

		.footer-copyright
			float: right
