/**
 * Colors
 */
$body-bg = $white
$text-color = $gray-darker
$headings-color = $gray-dark
$link-color = $gj-dark-green
$link-hover-color = $black

$container-desktop = $container-sm
$container-md = $container-sm
$container-large-desktop = $container-sm
$container-lg = $container-sm

$font-size-h1 = 32px
$font-size-h2 = 28px
$font-size-h3 = 24px
$font-size-h4 = 18px
$font-size-h5 = $font-size-base;
$font-size-h6 = ceil( $font-size-base * 0.85 )  // ~12px
