.badge
	change-bg('bg-offset')
	theme-prop('color', 'fg')
	display: inline-block
	padding: 3px 7px
	font-size: $font-size-tiny
	font-weight: bold
	line-height: 1
	vertical-align: baseline
	white-space: nowrap
	text-align: center
	border-radius: 10px

	&:empty
		display: none

	a&
		pressy()

.badge-subtle
	change-bg('bg-subtle')

.badge-highlight
	change-bg('highlight')
	theme-prop('color', 'highlight-fg')

.badge-notice
	change-bg('notice')
	theme-prop('color', 'notice-fg')

.badge.warning
	@extend .badge-notice
