$trophy-grid-gutter = 20px

.row.trophy-grid
	margin-left: ($trophy-grid-gutter / -2)
	margin-right: ($trophy-grid-gutter / -2)

.trophy-grid-item
	padding-left: ($trophy-grid-gutter / 2)
	padding-right: ($trophy-grid-gutter / 2)
	margin-bottom: $trophy-grid-gutter

.trophy-overview .trophy-completion
	@extend .full-bleed-xs

	&.alert-info
		@extend .fill-dark
