<div>

	<div class="discover-home-featured" ng-if="!$ctrl.Screen.isXs">

		<div class="discover-home-featured-hero-wrap">
			<gj-discover-home-featured-hero item="$ctrl.items[0]"></gj-discover-home-featured-hero>
		</div>

		<div class="discover-home-featured-hero-wrap">
			<gj-discover-home-featured-hero item="$ctrl.items[1]"></gj-discover-home-featured-hero>
		</div>

	</div>

	<section class="fill-darkest" ng-if="$ctrl.Screen.isXs">
		<div class="container">
			<br>
			<h1 class="section-header">
				Featured Games
			</h1>
		</div>
	</section>

	<div class="fill-darkest discover-home-featured-items scrollable scrollable-x overlay-scrollbar">
		<div class="discover-home-featured-items-wrap">
			<gj-game-thumbnail
				class="discover-home-featured-item meter-dark"
				ng-class="{ 'scrollable-grid-item': Screen.isXs }"
				ng-repeat="item in ($ctrl.Screen.isXs ? $ctrl.items : $ctrl.itemsSmUp) track by item.id"
				gj-game="item.game"
				autoplay="true"
				gj-track-event="home:slider:game:{{ $index }}"
				>
			</gj-game-thumbnail>
		</div>
	</div>

</div>
