.discover-home-featured
	@extend .clearfix
	background-color: $gray-darker

	&-hero-wrap
		width: 50%
		float: left

	&-items
		padding: 20px 0

	&-items-wrap
		margin: 0 auto
		white-space: nowrap
		text-align: center

	&-item
		display: inline-block
		text-align: left
		margin-left: ($grid-gutter-width-xs / 2)
		margin-right: ($grid-gutter-width-xs / 2)
		width: $percentage-10

		@media $media-sm-up
			margin-left: ($grid-gutter-width / 2)
			margin-right: ($grid-gutter-width / 2)

		@media $media-sm
			width: 250px

		@media $media-md-up
			width: 300px

		.game-thumbnail
			margin-bottom: 0
