<a class="discover-home-featured-hero"
	ui-sref="discover.games.view.overview( { id: $ctrl.game.id, slug: $ctrl.game.slug } )"
	gj-track-event="home:slider:game"
	>

	<div class="discover-home-featured-hero-content">
		<div class="anim-fade-in-down">

			<div class="discover-home-featured-hero-copy">
				<div class="discover-home-featured-hero-title">
					<span class="discover-home-featured-hero-outline">
						{{ ::$ctrl.game.title }}
					</span>
				</div>
				<div class="discover-home-featured-hero-byline">
					<span class="discover-home-featured-hero-outline">
						<span translate>by</span>
						{{ ::$ctrl.game.developer.display_name }}
					</span>
				</div>
				<p>
					<span class="discover-home-featured-hero-outline">
						{{ ::$ctrl.item.content }}
					</span>
				</p>
			</div>

			<div class="discover-home-featured-hero-meta" ng-if="::$ctrl.game.is_devlog">
				<span class="discover-home-featured-hero-outline discover-home-featured-hero-pricing" translate>
					Devlog
				</span>
			</div>

			<div class="discover-home-featured-hero-meta" ng-if="::!$ctrl.game._is_devlog">
				<span class="discover-home-featured-hero-outline">
					<gj-game-compat-icons gj-game="::$ctrl.game"></gj-game-compat-icons>
				</span>

				<span class="discover-home-featured-hero-outline">
					<span
						ng-if="::$ctrl.game._has_packages"
						class="discover-home-featured-hero-pricing"
						>
						<span ng-if="::!$ctrl.game.sellable.is_owned" ng-switch="::$ctrl.game.sellable.type">
							<span ng-switch-when="paid">
								${{ ::$ctrl.game.sellable.pricings[0].amount | gjCurrency:'' }}
							</span>
							<span ng-switch-when="pwyw" translate>
								Name Your Price
							</span>
							<span ng-switch-default translate>
								Free
							</span>
						</span>
						<span ng-if="::$ctrl.game.sellable.is_owned" class="tag tag-green" translate>
							Owned
						</span>
					</span>
				</span>
			</div>

		</div>

		<div class="btn btn-primary-outline btn-overlay-variant bgn-sm anim-fade-in-enlarge"
			ng-class="{ 'btn-block': $sctrl.screen.isXs }"
			ui-sref="{{ ::$ctrl.game.getSref( null, true ) }}"
			>
			<span class="jolticon jolticon-chevron-right"></span>
			<span translate>View Game</span>
		</div>
	</div>

	<gj-game-thumbnail-img game="$ctrl.game"></gj-game-thumbnail-img>

	<video ng-if="::$ctrl.game.has_animated_thumbnail && $ctrl.screen.isDesktop" preload loop autoplay ng-attr-poster="{{ ::$ctrl.game.img_thumbnail }}">
		<source ng-src="{{ ::$ctrl.webm }}" type="video/webm">
		<source ng-src="{{ ::$ctrl.mp4 }}" type="video/mp4">
	</video>

</a>
