.discover-home-featured-hero
	display: block
	position: relative
	height: 0
	padding-top: 56.25%  // HD 16:9
	overflow: hidden

	&-shade
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-image: linear-gradient( to top, rgba( $black, 0.4 ) 0%, rgba( $black, 0.3 ) 40%, rgba( $black, 0 ) 60% )
		z-index: 3

	&-content
		position: absolute
		bottom: 20px
		left: 20px
		right: 20px
		z-index: 4

		@media $media-md
			bottom: 40px
			left: 40px
			right: 40px

		@media $media-lg
			bottom: 60px
			left: 60px
			right: 60px

	&-byline
		color: $white
		font-size: $font-size-small
		margin-bottom: 5px

	&-title
		@extend .h2
		text-overflow()
		display: block
		margin: 0
		color: $white
		font-weight: 300
		line-height: 1.1
		width: 99%

	&-copy
		color: $white
		text-shadow: 1px 1px 2px rgba( $black, 0.8 )

		p
			font-family: $font-family-heading
			letter-spacing: 0.2
			margin-bottom: 7px

			@media $media-sm-up
				letter-spacing: 0

	&-meta
		margin-bottom: $line-height-computed

		.jolticon
			color: $white

	&-pricing
		display: inline-block
		margin-left: 10px
		color: $white
		font-weight: bold

	img
		display: block
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		width: 100%
		height: 100%
		z-index: 1

	> video
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		width: 100%
		height: 100%
		z-index: 2
