<div>

	<div class="tiny text-muted">
		<app-time-ago :date="post.published_on" />
	</div>

	<h2 class="section-header">
		{{ post.title }}
	</h2>

	<div v-if="post.type === 'text'" class="fireside-post-body">
		<app-widget-compiler
			:content="post.content_compiled"
			/>
	</div>
	<div v-else-if="post.type === 'media'" class="full-bleed-xs">
		<div v-for="item of post.media" :key="item.id">

			<app-responsive-dimensions
				:ratio="item.width / item.height"
				>

				<app-img-responsive
					v-if="!item.is_animated"
					:src="item.mediaserver_url"
					alt=""
					/>

				<app-video
					v-else
					:poster="item.mediaserver_url"
					:webm="item.mediaserver_url_webm"
					:mp4="item.mediaserver_url_mp4"
					:show-loading="true"
					/>

			</app-responsive-dimensions>

			<br>

		</div>
	</div>
	<div v-else-if="post.type === 'video'" class="full-bleed-xs">
		<app-video-embed
			video-provider="youtube"
			:video-id="post.videos[0].video_id"
			:autoplay="true"
			/>
	</div>
	<div v-else-if="post.type === 'sketchfab'" class="full-bleed-xs">
		<app-sketchfab-embed
			:sketchfab-id="post.sketchfabs[0].sketchfab_id"
			:autoplay="true"
			/>
	</div>

	<app-poll-voting
		v-if="post.poll"
		:poll="post.poll"
		:game="post.game"
		/>

	<hr>

	<app-activity-feed-controls
		:post="post"
		:show-game-info="showGameInfo"
		:in-modal="inModal"
		:require-tabs="true"
		/>

</div>
