.overlay-monster
	position: absolute
	pointer-events: all

	img
		cursor: pointer
		filter: drop-shadow(0 0 4px rgb(255, 120, 0))

.overlay-monster-healthbar
	border-style: solid
	border-color: black
	border-width: 1px
	border-radius: 2px

.select-disable
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-o-user-select: none
	user-select: none
