<div class="devlog-post" ng-class="::'devlog-post-' + $ctrl.post.type">

	<div class="timeline-list-item-icon" ng-class="::{ active: $ctrl.isNew }">
		<span class="jolticon" ng-class="::'jolticon-' + $ctrl.icon"></span>
	</div>

	<div class="timeline-list-item-main">

		<a class="timeline-list-item-header"
			ui-sref="discover.games.view.devlog.view( { slug: $ctrl.post.game.slug, id: $ctrl.post.game.id, postSlug: $ctrl.post.slug } )"
			ng-click="$ctrl.onClick()"
			>
			<div class="timeline-list-item-header-content">
				<div class="devlog-post-game" ng-if="::$ctrl.feed.showGameInfo && !$ctrl.screen.isXs">
					<gj-game-thumbnail-img game="::$ctrl.post.game"></gj-game-thumbnail-img>
				</div>

				<div class="timeline-list-item-meta">
					<span am-time-ago="::$ctrl.post.published_on"></span>

					<span ng-if="::$ctrl.post.type == 'media'">
						<span class="dot-separator"></span>
						<span class="jolticon jolticon-screenshot middle"></span>
						{{ ::$ctrl.post.media.length | number }}
					</span>

					<span ng-if="::$ctrl.feed.showGameInfo">
						<span class="dot-separator"></span>
						<span>{{ ::$ctrl.post.game.title }}</span>
					</span>
				</div>

				<div class="timeline-list-item-title">
					{{ ::$ctrl.post.title }}
				</div>
			</div>
		</a>

		<div class="timeline-list-item-details">

			<div ng-switch-when="devlog-post" ng-switch="::$ctrl.post.type">
				<gj-activity-feed-devlog-post-text
					ng-switch-when="text"
					post="::$ctrl.post"
					on-expand="$ctrl.onExpand()"
					>
				</gj-activity-feed-devlog-post-text>

				<gj-activity-feed-devlog-post-video
					ng-switch-when="video"
					post="::$ctrl.post"
					on-expand="$ctrl.onExpand()"
					>
				</gj-activity-feed-devlog-post-video>

				<!--
					Media needs the actual activity item.
				-->
				<gj-activity-feed-devlog-post-media
					ng-switch-when="media"
					item="::$ctrl.item"
					on-click="$ctrl.onClick()"
					on-expand="$ctrl.onExpand()"
					>
				</gj-activity-feed-devlog-post-media>
			</div>

			<gj-activity-feed-devlog-post-controls
				post="::$ctrl.post"
				on-expand="$ctrl.onExpand()"
				>
			</gj-activity-feed-devlog-post-controls>

		</div>

	</div>

</div>
