.devlog-post

	&-game
		position: absolute
		right: 10px
		top: 10px
		border: 2px solid $gray-light

		// This is hardcoded.
		// If any spacing is changed, this may be invalid. =\
		width: 120px

		&:hover
			border-color: $white

	.devlog-post-header-content
		padding-right: 120px + 20px
