<app-timeline-list-item :is-new="isNew" :is-active="isActive">
	<span slot="bubble">
		<app-jolticon :icon="icon" />
	</span>

	<div class="devlog-post" :class="'devlog-post-' + post.type">

		<router-link
			class="devlog-post-game"
			v-if="feed.showGameInfo && !Screen.isXs"
			:to="{ name: 'discover.games.view.overview', params: { slug: post.game.slug, id: post.game.id } }"
			>
			<app-game-thumbnail-img :game="post.game" />
		</router-link>

		<div
			class="timeline-list-item-header"
			@click.capture="onClick( $event )"
			>
			<router-link
				:to="{ name: 'discover.games.view.devlog.view', params: { slug: post.game.slug, id: post.game.id, postSlug: post.slug } }"
				>
				<div class="timeline-list-item-header-content">
					<div class="devlog-post-header-content">
						<div class="timeline-list-item-meta">
							<app-time-ago :date="post.published_on" />

							<span v-if="post.type === 'media'">
								<span class="dot-separator"></span>
								<app-jolticon icon="screenshot" class="middle" />
								{{ post.media.length | number }}
							</span>

							<span v-if="feed.showGameInfo">
								<span class="dot-separator"></span>
								<span>{{ post.game.title }}</span>
							</span>
						</div>

						<div class="timeline-list-item-title">
							{{ post.title }}
						</div>
					</div>
				</div>
			</router-link>
		</div>

		<div class="timeline-list-item-details">

			<app-activity-feed-devlog-post-text
				v-if="post.type === 'text'"
				:item="item"
				:is-hydrated="isHydrated"
				@expanded="onExpand"
				@content-bootstrapped="onContentBootstrapped"
				/>
			<app-activity-feed-devlog-post-video
				v-else-if="post.type === 'video'"
				:item="item"
				:is-hydrated="isHydrated"
				@expanded="onExpand"
				@content-bootstrapped="onContentBootstrapped"
				/>
			<app-activity-feed-devlog-post-sketchfab
				v-else-if="post.type === 'sketchfab'"
				:item="item"
				:is-hydrated="isHydrated"
				@expanded="onExpand"
				@content-bootstrapped="onContentBootstrapped"
				/>
			<app-activity-feed-devlog-post-media
				v-else-if="post.type === 'media'"
				:item="item"
				:is-hydrated="isHydrated"
				@clicked="onClick( $event )"
				@expanded="onExpand"
				@content-bootstrapped="onContentBootstrapped"
				/>

			<app-activity-feed-devlog-post-controls
				:post="post"
				:show-game-info="feed.showGameInfo"
				:show-edit-controls="feed.showEditControls"
				:show-extra-info="!Screen.isXs"
				@expanded="onExpand"
				@edited="feed.onPostEdited( post )"
				@published="feed.onPostPublished( post )"
				@removed="feed.onPostRemoved( post )"
				/>

		</div>

	</div>

</app-timeline-list-item>
