<div
	class="trophy-completion alert"
	:class="achieved > 0 ? 'alert-info fill-dark' : 'alert-warning'"
	>

	<div v-if="achieved > 0">
		<p>
			<span
				v-translate="{
					achieved: number( achieved ),
					total: number( total ),
				}"
				>
				You've achieved <b>%{ achieved }</b> trophies out of a possible <b>%{ total }</b>.
			</span>
		</p>
		<br>

		<app-progress-bar
			:percent="completionRate"
			:thin="true"
			variant="darker"
			/>

		<div class="clearfix">
			<div class="pull-left">
				<div class="stat-big stat-big-smaller" style="margin-bottom: 0">
					<div class="stat-big-digit">
						{{ completionRate | number }}%
					</div>
					<div class="stat-big-label">
						<translate>trophies.completion.completion_label</translate>
					</div>
				</div>
			</div>
			<div class="pull-right">
				<div class="stat-big stat-big-smaller text-right" style="margin-bottom: 0">
					<div class="stat-big-digit">
						<app-jolticon icon="exp" class="text-muted" />
						{{ experience | number }}
					</div>
					<div class="stat-big-label">
						<translate>trophies.completion.exp_gained_label</translate>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div v-if="!achieved">
		<translate>You haven't achieved any trophies for this game yet!</translate>
	</div>

</div>
