<div class="trophy-completion alert" ng-class="::(ctrl.achieved > 0 ? 'alert-info' : 'alert-warning')">

	<div ng-if="::(ctrl.achieved > 0)">
		<p translate translate-scope="{ achieved: ctrl.achieved, total: ctrl.total }">trophies.completion.lead_html</p>

		<div class="progress progress-darker progress-thin">
			<div class="progress-bar" ng-style="::{ width: ctrl.completionRate + '%' }"></div>
		</div>

		<div class="clearfix">
			<div class="pull-left">
				<div class="stat-big stat-big-smaller" style="margin-bottom: 0">
					<div class="stat-big-digit">{{ ::ctrl.completionRate | number }}%</div>
					<div class="stat-big-label">{{ ::'trophies.completion.completion_label' | translate }}</div>
				</div>
			</div>
			<div class="pull-right">
				<div class="stat-big stat-big-smaller text-right" style="margin-bottom: 0">
					<div class="stat-big-digit">
						<span class="jolticon jolticon-exp text-muted"></span>
						{{ ::ctrl.experience | number }}
					</div>
					<div class="stat-big-label">{{ ::'trophies.completion.exp_gained_label' | translate }}</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="::(!ctrl.achieved)" translate>trophies.completion.none_achieved_html</div>

</div>
