<header class="section">
	<div class="container forum-header">

		<div class="forum-breadcrumbs">
			<a ui-sref="forums.landing.overview" class="link-unstyled">Forums</a> / <a href="#">{{ categoryCtrl.category.title }}</a>
		</div>

		<h1>{{ categoryCtrl.category.title }}</h1>
		<p>{{ categoryCtrl.category.description }}</p>

		<div class="row">

			<div class="col-sm-7 col-md-8 forum-stats">
				1,000 Channels
				<span class="dot-separator hidden-xs"></span>
				<br class="visible-xs">
				<span class="text-muted">25 Topics</span>
				<span class="dot-separator"></span>
				<span class="text-muted">2,123 Replies</span>
			</div>

		</div>

	</div>
	<br>
</header>

<div class="section">
	<div class="container">

		<gj-forum-channel-list channels="categoryCtrl.recentChannels"></gj-forum-channel-list>

	</div>
</div>
