<header class="section">
	<div class="container forum-header">
		
		<div class="forum-breadcrumbs">
			<a ui-sref="forums.landing" class="link-unstyled">Forums</a> / <a href="#" ng-bind="categoryName"></a>
		</div>
		
		<h1 ng-bind="categoryName"></h1>
		<p>This is a description about the {{ categoryName }} category.</p>
		
		<div class="row">
			
			<div class="col-sm-7 col-md-8 forum-stats">
				1,000 Channels
				<span class="dot-separator hidden-xs"></span>
				<br class="visible-xs">
				<span class="text-muted">25 Topics</span>
				<span class="dot-separator"></span>
				<span class="text-muted">2,123 Replies</span>
			</div>
			
		</div>
		
	</div>
	<br>
</header>

<div class="section">
	<div class="container">
		
		<div class="page-header forum-list-heading">
			<h2 class="sans-margin">Most Popular</h2>
		</div>
		
		<div class="forum-list-items">
			
			<div class="forum-list-item forum-channel row">
				<div class="col-sm-7 col-md-8">
					<h4 class="forum-list-item-title">
						<span class="tag tag-pink">2</span>
						<a class="link-unstyled" ng-href="/f/gamemaker">#gamemaker</a>
					</h4>
					<span class="forum-list-item-followers text-muted">1,300 Followers</span>
					<p>Discussion and queries about GameMaker and GML.</p>
				</div>
				<div class="col-sm-5 col-md-4 forum-list-item-meta">
					<ul class="forum-list-item-stats">
						<li>25 Topics</li>
						<li class="hidden-sm hidden-md hidden-lg"><span class="dot-separator"></span></li>
						<li>2,123 Replies</li>
					</ul>
					<ul class="hidden-xs forum-list-item-users">
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
					</ul>
				</div>
			</div>
			
			<div class="forum-list-item forum-channel row">
				<div class="col-sm-7 col-md-8">
					<h4 class="forum-list-item-title">
						<a class="link-unstyled" ng-href="/f/unity">#unity</a>
					</h4>
					<span class="forum-list-item-followers text-muted">2,500 Followers</span>
					<p>Discussion and queries about the Unity engine.</p>
				</div>
				<div class="col-sm-5 col-md-4 forum-list-item-meta">
					<ul class="forum-list-item-stats">
						<li>25 Topics</li>
						<li class="hidden-sm hidden-md hidden-lg"><span class="dot-separator"></span></li>
						<li>2,123 Replies</li>
					</ul>
					<ul class="hidden-xs forum-list-item-users">
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		
		<div class="page-header forum-list-heading">
			<h2 class="sans-margin">Fresh for Discussion</h2>
		</div>
		
		<div class="forum-list-items">
			
			<div class="forum-list-item forum-channel row">
				<div class="col-sm-7 col-md-8">
					<h4 class="forum-list-item-title">
						<a class="link-unstyled" ng-href="/f/gamemaker">#gamemaker</a>
					</h4>
					<span class="forum-list-item-followers text-muted">1,300 Followers</span>
					<p>Discussion and queries about GameMaker and GML.</p>
				</div>
				<div class="col-sm-5 col-md-4 forum-list-item-meta">
					<ul class="forum-list-item-stats">
						<li>25 Topics</li>
						<li class="hidden-sm hidden-md hidden-lg"><span class="dot-separator"></span></li>
						<li>2,123 Replies</li>
					</ul>
					<ul class="hidden-xs forum-list-item-users">
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
					</ul>
				</div>
			</div>
			
			<div class="forum-list-item forum-channel row">
				<div class="col-sm-7 col-md-8">
					<h4 class="forum-list-item-title">
						<a class="link-unstyled" ng-href="/f/unity">#unity</a>
					</h4>
					<span class="forum-list-item-followers text-muted">2,500 Followers</span>
					<p>Discussion and queries about the Unity engine.</p>
				</div>
				<div class="col-sm-5 col-md-4 forum-list-item-meta">
					<ul class="forum-list-item-stats">
						<li>25 Topics</li>
						<li class="hidden-sm hidden-md hidden-lg"><span class="dot-separator"></span></li>
						<li>2,123 Replies</li>
					</ul>
					<ul class="hidden-xs forum-list-item-users">
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
						<li>
							<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		
	</div>
</div>