.add-to-playlist-popover-playlists

	.jolticon
		display: none

	.list-group-item

		&.playlist-no-game
			.jolticon-playlist
				display: inline-block

			&:hover
				.jolticon-playlist
					display: none

				.jolticon-add
					display: inline-block

		&.playlist-has-game
			.jolticon-check
				display: inline-block

			&:hover
				.jolticon-check
					display: none

				.jolticon-remove
					display: inline-block


