@require '~styles/variables'

.add-to-playlist-popover

	.loading
		margin-top: $line-height-computed

	.list-group
		margin-bottom: 0 !important

	&-playlists

		.jolticon
			display: none

		.list-group-item

			&.playlist-no-game
				.jolticon-playlist
					display: inline-block

				&:hover
					.jolticon-playlist
						display: none

					.jolticon-add
						display: inline-block
						color: $gj-green

			&.playlist-has-game
				.jolticon-check
					display: inline-block
					color: $gj-green

				&:hover
					.jolticon-check
						display: none

					.jolticon-remove
						display: inline-block
						color: $gj-pink


