<app-popover
	popover-id="add-to-playlist"
	@focused="onFocus"
	@blurred="onBlur"
	>
	<div class="add-to-playlist-popover" v-if="isShown">

		<app-loading :centered="true" v-if="isLoading" />
		<template v-else>
			<div class="list-group list-group-dark">
				<a class="list-group-item has-icon" @click="addToNewPlaylist">
					<app-jolticon icon="add" />
					<translate>library.playlists.add_to.new_playlist_button</translate>
				</a>
				<div class="list-group-item" v-if="playlists.length">
					<input
						type="search"
						class="form-control"
						:placeholder="$gettext( 'library.playlists.add_to.filter_placeholder' )"
						v-app-focus-when
						v-model="filterQuery"
						keydown.esc.stop="close"
						>
				</div>
			</div>
			<div class="list-group list-group-dark thin add-to-playlist-popover-playlists" v-if="playlists.length">
				<a class="list-group-item has-icon"
					:class="playlistsWithGame.indexOf( playlist.id ) === -1 ? 'playlist-no-game' : 'playlist-has-game'"
					v-for="playlist of filteredPlaylists"
					:key="playlist.id"
					@click="selectPlaylist( playlist )"
					>
					<app-jolticon icon="playlist" />
					<app-jolticon icon="check" />
					<app-jolticon icon="remove" />
					<app-jolticon icon="add" />
					{{ playlist.name }}
				</a>
			</div>
		</template>

	</div>
</app-popover>
