@require '~styles/variables'
@require '~styles-lib/mixins'

.add-to-playlist-popover
	.loading
		margin-top: $line-height-computed

	.list-group
		margin-bottom: 0 !important

	&-playlists
		.jolticon
			display: none

		.list-group-item
			&.playlist-no-game
				.jolticon-playlist
					display: inline-block

				&:hover
					.jolticon-playlist
						display: none

					.jolticon-add
						theme-prop('color', 'highlight')
						display: inline-block

			&.playlist-has-game
				.jolticon-check
					theme-prop('color', 'highlight')
					display: inline-block

				&:hover
					.jolticon-check
						display: none

					.jolticon-remove
						theme-prop('color', 'notice')
						display: inline-block
