<gj-popover class="add-to-playlist-popover"
	popover-id="add-to-playlist"
	popover-on-focus="ctrl.onFocus()"
	popover-on-blur="ctrl.onBlur()"
	>

	<div ng-if="ctrl.isShown">
		<div ng-if="ctrl.isLoading">
			<gj-loading class="loading-centered"></gj-loading>
		</div>

		<div ng-if="!ctrl.isLoading">
			<div class="list-group list-group-dark">
				<a class="list-group-item has-icon" ng-click="ctrl.newPlaylist()">
					<span class="jolticon jolticon-add"></span>
					{{ ::'library.playlists.add_to.new_playlist_button' | translate }}
				</a>
				<div class="list-group-item" ng-if="ctrl.playlists.length">
					<input
						type="search"
						class="form-control"
						ng-attr-placeholder="{{ ::'library.playlists.add_to.filter_placeholder' | translate }}"
						gj-focus-when="Screen.isDesktop"
						ng-model="ctrl.filterQuery"
						ui-keydown="{ esc: 'ctrl.close( $event )' }"
						>
				</div>
			</div>
			<div class="list-group list-group-dark thin add-to-playlist-popover-playlists" ng-if="ctrl.playlists.length">
				<a class="list-group-item has-icon"
					ng-class="ctrl.playlistsWithGame.indexOf( playlist.id ) === -1 ? 'playlist-no-game' : 'playlist-has-game'"
					ng-repeat="playlist in ctrl.playlists | filter:ctrl.filterQuery:'name' | orderBy:'name' track by playlist.id"
					ng-click="ctrl.selectPlaylist( playlist )"
					>
					<span class="jolticon jolticon-playlist" ></span>
					<span class="jolticon jolticon-check" ></span>
					<span class="jolticon jolticon-remove"></span>
					<span class="jolticon jolticon-add"></span>
					{{ ::playlist.name }}
				</a>
			</div>
		</div>
	</div>

</gj-popover>
