.landing-header
	@extend .fill-darkest
	background-image: url('/app/components/shell/shell-bg.png')
	background-repeat: repeat

	&.has-nav
		padding-bottom: 0

	h1
		font-weight: 300
		letter-spacing: 2px
		text-transform: none

		@media $media-sm-up
			font-size: 60px

		sup
			top: -10px
			font-size: $font-size-tiny
			font-weight: normal

			@media $media-sm-up
				top: -25px
				font-size: $font-size-small

		.bolt
			width: 17px * 2
			height: 17px * 2

			@media $media-sm-up
				width: 17px * 3
				height: 17px * 3

	.lead
		font-weight: bold
		color: $white
		font-size: $font-size-h4

		@media $media-sm-up
			font-size: $font-size-h1

	.platform-list
		margin-bottom: 0
		margin-top: $line-height-computed * 2

.landing-body

	a
		link-underlines( $black, $white, $white )
		font-weight: bold

	a.btn
		background-image: none !important
		text-shadow: none !important

	.fill-pink

		a
			link-underlines( $white, $gj-pink, $gj-pink )

	.section
		position: relative

	.fill-black

		h1, h2, h3
			color: $gj-pink

	p
		line-height: 1.6

.landing-break-lg
	display: none

	@media $media-lg
		display: block
		clear: both
		height: $grid-gutter-width

.landing-graphic
	text-align: center

	> img
		display: inline-block
		width: 100%
		max-width: 180px
