// TODO

.ctrl-dashboard-developer-games-manage-game

	// When we peek out the media bar on the media management page.
	// When they're in the wizard, the background color matches the header color.
	// This way it won't.
	.game-media-bar
		border-top: 2px solid $gray-darkest
