<div class="package-card-options">

	<!-- Messaging for weird cases... -->
	<div class="alert alert-info" ng-if="::ctrl.downloadableUnsupported">
		<p>
			<span class="jolticon jolticon-notice warning"></span>
			This package can not be installed on your system.
		</p>
	</div>

	<div class="alert alert-info" ng-if="::ctrl.downloadableUnsupportedHasQuickPlay">
		<p>
			<span class="jolticon jolticon-notice warning"></span>
			This package can not be installed on your system, but can be quick played in the client.
		</p>
	</div>

	<div class="alert alert-warning" ng-if="ctrl.localPackage.install_state == LocalDb_Package.DOWNLOAD_FAILED">
		<p>
			<span class="jolticon jolticon-notice"></span>
			Oh no! We couldn't download this package. Perhaps check that you're still online?
		</p>
	</div>

	<div class="alert alert-warning" ng-if="ctrl.localPackage.install_state == LocalDb_Package.UNPACK_FAILED">
		<p>
			<span class="jolticon jolticon-notice"></span>
			Oh no! We couldn't unpack this package after downloading it. Maybe try again?
		</p>
	</div>

	<div class="alert alert-success" ng-if="ctrl.localPackage.isRunning()">
		<p>
			<span class="jolticon jolticon-play"></span>
			You are currently running this package. Some options have been disabled while it's open.
		</p>
	</div>

	<!-- Able to install game -->
	<button class="btn btn-success-outline"
		ng-if="ctrl.canInstall && !ctrl.localPackage"
		ng-click="ctrl.startInstall( ctrl.downloadableBuild )"
		>
		<span class="jolticon jolticon-download-box"></span>
		Install
		<small>({{ ::ctrl.downloadableBuild.primary_file.filesize | filesize }})</small>
	</button>

	<!-- Game is installing or installed -->
	<span ng-if="ctrl.localPackage">

		<span ng-if="ctrl.localPackage.isPatching()">

			<div gj-expand-when="ctrl.localPackage.isDownloading() || ctrl.localPackage.isUnpacking()">
				<div class="alert alert-info">
					<gj-client-install-progress local-package="ctrl.localPackage"></gj-client-install-progress>
				</div>
			</div>

			<span ng-if="ctrl.localPackage.isPatchQueued()">
				<span class="tag tag-blue big">QUEUED</span>
			</span>

			<span ng-if="!ctrl.localPackage.isPatchQueued()">

				<button class="btn btn-outline"
					ng-if="!ctrl.localPackage.isPatchPaused()"
					ng-click="ctrl.pauseInstall()"
					>
					<span class="jolticon jolticon-pause"></span>
					Pause
				</button>

				<button class="btn btn-outline"
					ng-if="ctrl.localPackage.isPatchPaused()"
					ng-click="ctrl.resumeInstall()"
					>
					<span class="jolticon jolticon-play-small"></span>
					Resume
				</button>
			</span>
		</span>

		<!-- Game failed to install -->
		<button class="btn btn-outline"
			ng-if="ctrl.localPackage.didInstallFail()"
			ng-click="ctrl.retryInstall()"
			>
			Retry Install
		</button>

		<!-- Game failed to update -->
		<button class="btn btn-outline"
			ng-if="ctrl.localPackage.didUpdateFail()"
			ng-click="ctrl.retryInstall()"
			>
			Retry Update
		</button>

		<!--
			Can only cancel installs, not updates.
		-->
		<button class="btn btn-danger-outline btn-sparse"
			ng-if="ctrl.localPackage.install_state"
			ng-click="ctrl.cancelInstall()"
			gj-tooltip="Cancel Installation"
			>
			<span class="jolticon jolticon-remove"></span>
		</button>

		<!-- Game is installed -->
		<button class="btn btn-primary-outline"
			ng-if="ctrl.localPackage.isSettled() && !ctrl.localPackage.isRunning()"
			ng-click="ctrl.launchPackage()"
			ng-disabled=""
			>
			<span class="jolticon jolticon-play"></span>
			Launch
		</button>

	</span>

	<!--
		Browser quick play
		We hide this as soon as they install the game.
	-->
	<span ng-if="!ctrl.localPackage">
		<button class="btn btn-primary-outline"
			ng-if="::ctrl.browserBuild"
			ng-click="ctrl.buildClick( ctrl.browserBuild )"
			>
			<span class="jolticon jolticon-play"></span>
			Quick Play
			<span class="jolticon-addon jolticon" ng-class="::'jolticon-' + ctrl.showcasedBrowserIcon"></span>
		</button>
	</span>

	<!--
		If this package only has "Other" builds, then we make it look like a download
		button with a [...] after.
		If the package has normal builds too, then we just show it as a more options sparse button.
	-->
	<button class="btn btn-outline"
		ng-if="ctrl.extraBuilds.length || (ctrl.localPackage && !ctrl.localPackage.install_state)"
		gj-popover-trigger="game-package-card-options-{{ ctrl.package.id }}"
		gj-track-event="game-package-card:more-options"
		>
		<span class="jolticon jolticon-ellipsis-h"></span>
		options
	</button>

	<gj-popover popover-id="game-package-card-options-{{ ctrl.package.id }}">
		<div class="list-group nowrap">

			<!--
				In client, if a package is installed, allow them to remove.
			-->
			<a class="list-group-item has-icon warning"
				ng-if="ctrl.localPackage && !ctrl.localPackage.install_state && !ctrl.localPackage.isRemoving()"
				ng-click="ctrl.uninstall()"
				ng-class="{ disabled: ctrl.localPackage.isRunning() }"
				>
				<span class="jolticon jolticon-remove warning"></span>
				Uninstall
			</a>

			<!--
				If this game has a quick play web build but is installed, we want
				to show the quick play here now.
			-->
			<a class="list-group-item has-icon warning"
				ng-if="ctrl.localPackage && ctrl.browserBuild"
				ng-click="ctrl.buildClick( ctrl.browserBuild )"
				>
				<span class="jolticon jolticon-html5"></span>
				Quick Play
				<small class="text-muted">({{ ::ctrl.browserBuild.primary_file.filesize | filesize }})</small>
			</a>

			<a class="list-group-item has-icon"
				ng-repeat="extraBuild in ctrl.extraBuilds track by extraBuild.icon + '-' + extraBuild.build.id"
				ng-click="ctrl.buildClick( extraBuild.build )"
				gj-track-event="game-package-card:more-options:click-option"
				>
				<span ng-class="::'jolticon jolticon-' + extraBuild.icon"></span>

				<!--
					We show the filename if it's an "Other" build.
				-->
				<span ng-if="::!extraBuild.build.os_other">
					{{ ::extraBuild.type == Game_Build.TYPE_DOWNLOADABLE ? 'Download' : 'Play' }}
				</span>
				<span ng-if="::extraBuild.build.os_other">{{ ::extraBuild.build.primary_file.filename }}</span>

				<small ng-if="::extraBuild.arch == '64'">64-bit</small>

				<small class="text-muted">({{ ::extraBuild.build.primary_file.filesize | filesize }})</small>

				<!--
					If the version is different than the main release, then show it.
				-->
				<span class="tiny" ng-if="::extraBuild.build.game_release_id != ctrl.showcasedRelease.id">
					<em>v{{ ::extraBuild.build._release.version_number }}</em>
				</span>

				<small class="text-muted" ng-if="extraBuild.type != 'html'">
					<br>
					<em>(will open in browser)</em>
				</small>
			</a>
		</div>
	</gj-popover>

</div>
