<div>

	<div class="auth-lead-text" v-if="!Connection.isClientOffline">
		<p class="lead anim-fade-in-enlarge" v-translate>
			auth.join.join_message_html
		</p>
	</div>

	<app-auth-join dark-variant />

	<div class="auth-page-links text-right anim-fade-in">
		<div class="auth-page-link">
			<translate>auth.or</translate>
			<router-link class="link-unstyled" :to="{ name: 'auth.login' }">
				<translate>auth.login_link</translate>
				<app-jolticon icon="sign-in" />
			</router-link>
		</div>
	</div>

</div>
