.forum-search
    position: relative

    .forum-search-input
        height: auto
        font-size: 2em
        background: none
        color: $white
        border: 0
        border-bottom: 4px solid $gray
        box-shadow: none
        padding-left: 48px
        transition: border-color 0.2s
        
        &:hover
            border-bottom: 4px solid $gray-light
        
        &:focus
            border-bottom: 4px solid $gj-green
            
    .jolticon-search
        position: absolute
        font-size: 24px
        top: 14px