@require '~styles/variables'

.social-widgets
	margin-bottom: $line-height-computed
	line-height: 20px

	.twitter-share-button
	.twitter-follow-button
	.fb_iframe_widget
		vertical-align: middle !important

	.social-youtube-subscribe
		display: inline-block

		& > div
			display: inline-block
			vertical-align: middle !important
