@require '~styles/variables'
@require '~styles-lib/mixins'

// Sync with the JS so we know how long hides take.
$-transition-time = 200ms

.v-popover
	display: inline-block

	> .wrapper
		display: inline-block

.v-popover.-block
	&, .trigger
		display: block !important

/* .popper
	outline: 0

	&-backdrop
		z-index: $zindex-popover - 1 !important */
.popper-wrapper
	z-index: $zindex-popover

	// We don't want to show the popover stuff at all on SSR, or it breaks
	// styling since it tries to fit the container into the page.
	&.-ssr
		display: none !important

	&.-hide
		opacity: 0
		transition: opacity $-transition-time

	.popper-arrow
		width: 0
		height: 0
		border-style: solid
		border-color: var(--theme-bg-subtle)
		z-index: 1

	[data-popper-placement^='top']&
		.popper-arrow
			border-width: $popover-arrow-size $popover-arrow-size 0 $popover-arrow-size
			border-left-color: transparent !important
			border-right-color: transparent !important
			border-bottom-color: transparent !important
			bottom: -($popover-arrow-size)

	[data-popper-placement^='bottom']&
		.popper-arrow
			border-width: 0 $popover-arrow-size $popover-arrow-size $popover-arrow-size
			border-left-color: transparent !important
			border-right-color: transparent !important
			border-top-color: transparent !important
			top: -($popover-arrow-size)

	[data-popper-placement^='right']&
		.popper-arrow
			border-width: $popover-arrow-size $popover-arrow-size $popover-arrow-size 0
			border-left-color: transparent !important
			border-top-color: transparent !important
			border-bottom-color: transparent !important
			left: -($popover-arrow-size)

	[data-popper-placement^='left']&
		.popper-arrow
			border-width: $popover-arrow-size 0 $popover-arrow-size $popover-arrow-size
			border-top-color: transparent !important
			border-right-color: transparent !important
			border-bottom-color: transparent !important
			right: -($popover-arrow-size)

.popper-content
	elevate-2()
	rounded-corners-lg()
	change-bg('bg-offset')
	theme-prop('border-color', 'bg-subtle')
	overflow: hidden
	max-width: $popover-size
	min-width: 200px
	border-width: $border-width-base
	border-style: solid

	&.-track-trigger-width
		max-width: none
		min-width: none

	&.-force-max-width
		min-width: none
		width: calc(100vw - 10px)
		max-width: $popover-size

	> nav.pills > ul, > .button
		margin-bottom: $popover-spacing !important

	> nav.platform-list
		margin-bottom: 0
		margin-top: $popover-spacing * 2

	.alert
		margin-bottom: 0

	.well
		margin-bottom: 0

	hr
		margin-top: $popover-spacing
		margin-bottom: $popover-spacing

.popper-heading
	padding: $popover-spacing
	white-space: nowrap
	font-weight: bold
