<button
	class="game-collection-follow-widget btn"
	:class="[ !isFollowing ? 'btn-success-outline' : 'btn-success active' ]"
	:disabled="isProcessing"
	v-app-auth-required
	v-app-tooltip.bottom="
		isFollowing
		? $gettext( 'library.collection.unfollow_button_tooltip' )
		: $gettext( 'library.collection.follow_button_tooltip' )
	"
	v-app-track-event="`game-collection-follow:${!isFollowing ? 'follow' : 'unfollow'}`"
	@click="onClick"
	>
	<span class="btn-badge" v-if="followerCount">
		{{ followerCount | number }}
	</span>
	<template v-if="!isFollowing">
		<app-jolticon icon="subscribe" />
		<translate v-if="collection.type === 'developer'">Follow Developer</translate>
		<translate v-else>Follow Playlist</translate>
	</template>
	<template v-else>
		<app-jolticon icon="subscribed" />
		<translate>Following</translate>
	</template>
</button>
