<div class="row" v-if="routeBootstrapped">
	<div class="col-sm-4 col-sm-push-8">
		<div class="page-help" v-translate>
			dash.games.music.page_help_html
		</div>
	</div>

	<div class="col-sm-8 col-sm-pull-4">

		<div
			class="alert alert-info"
			v-if="!songs.length"
			v-translate
			>
			dash.games.music.no_music_html
		</div>

		<app-card-list
			:items="songs"
			:active-item="activeItem"
			:is-adding="isAdding"
			@activate="activeItem = $event"
			>
			<!--is-adding="isAdding"-->

			<app-card-list-draggable @change="saveSongSort">
				<app-card-list-item
					v-for="song of songs"
					:key="song.id"
					:item="song"
					>

					<a class="card-remove"
						@click.stop="removeSong( song )"
						>
						<app-jolticon icon="remove" />
					</a>

					<div class="card-title">
						<h5>{{ song.title }}</h5>
					</div>

					<template slot="body">
						<form-game-song
							:game="game"
							:model="song"
							@submit="onSongEdited"
							/>
					</template>

				</app-card-list-item>
			</app-card-list-draggable>

			<app-card-list-add
				:label="$gettext('dash.games.music.add_button')"
				@toggle="isAdding = !isAdding"
				>
				<form-game-song
					:game="game"
					@submit="onSongAdded"
					/>
			</app-card-list-add>
		</app-card-list>

		<app-dash-game-wizard-controls />

	</div>
</div>
