.route-game-stats
	margin-bottom: $line-height-computed

	.stat-big
		margin-bottom: 0

	.rating-breakdown
		margin-bottom: 0

		> table
			margin-bottom: 0

			> tbody > tr > th
			> tbody > tr > td
				border-top: 0

	.rating-breakdown-label
	.rating-breakdown-count
		width: 1px

	.rating-breakdown-count
		color: $text-muted
		font-size: $font-size-small
		text-align: right

	.rating-breakdown-progress
		vertical-align: middle

		.progress
			margin-bottom: 0

	@media $media-sm
		margin-bottom: 0
