<div class="route-game-stats">
	<div class="row">
		<div class="col-xs-3 stat-big stat-big-smaller">

			<div class="stat-big-label">
				<translate>games.view.stats.views_label</translate>
			</div>

			<div class="stat-big-digit">
				<app-lazy-placeholder :when="isOverviewLoaded">
					<span class="lazy-placeholder"></span>
					<span :title="number( profileCount )">
						{{ fuzzynumber( profileCount ) }}
					</span>
				</app-lazy-placeholder>
			</div>

		</div>
		<div class="col-xs-3 stat-big stat-big-smaller" v-if="game.sellable && game.sellable.type !== 'paid'">

			<div class="stat-big-label">
				<translate>games.view.stats.downloads_plays_label</translate>
				<app-jolticon
					class="text-muted"
					v-if="playsTooltip"
					icon="help-circle"
					v-app-tooltip="playsTooltip"
					/>
			</div>

			<div class="stat-big-digit">
				<app-lazy-placeholder :when="isOverviewLoaded">
					<span class="lazy-placeholder"></span>
					<template v-if="showNaPlays">
						<translate>games.view.stats.na</translate>
					</template>
					<span v-else :title="number( downloadCount + playCount )">
						{{ fuzzynumber( downloadCount + playCount ) }}
					</span>
				</app-lazy-placeholder>
			</div>

		</div>
	</div>
</div>
