.forum-post-list

	@media $media-sm-up
		margin-left: -($forum-post-list-icon-size + $forum-post-list-avatar-margin)

	&-item
		position: relative
		display: block
		color: $gray-dark

		&-icon
			display: none

			@media $media-sm-up
				display: block
				position: absolute
				left: 0
				top: $line-height-computed - 5px
				width: $forum-post-list-icon-size
				height: $forum-post-list-icon-size
				line-height: $forum-post-list-icon-size
				background-color: $white
				border-radius: 50%
				border: 5px solid $white
				text-align: center
				z-index: 1
				color: $gray-light

				&.has-notification
					border-color: $gj-pink

		&-main
			@extend .clearfix
			padding-bottom: ($line-height-computed)
			padding-top: ($line-height-computed)
			border-bottom: 1px solid $gray-lightest

			@media $media-sm-up
				margin-left: ($forum-post-list-icon-size / 2)
				padding-left: ($forum-post-list-icon-size / 2) + $forum-post-list-avatar-margin
				border-left: 2px solid $gray-lightest
				border-bottom: 0

				&.active
					border-color: $gj-blue !important

	// Nested forum post list for replies
	& &
		margin-left: 0

		.forum-post-list-item-main
			background-color: $gray-lightest

			// Does a full-bleed on mobile.
			@media $media-xs
				padding-left: $grid-gutter-width * 0.5
				padding-right: $grid-gutter-width * 0.5
				margin-left: -@padding-left
				margin-right: -@padding-right

			@media $media-sm-up
				border-color: $gray-lighter
				margin-right: -($grid-gutter-width / 2)
				padding-right: ($grid-gutter-width / 2)

	&-clipped-replies
		position: relative
		height: $line-height-computed + 10px
		margin-top: -(@height * 0.5)
		line-height: $line-height-computed
		margin-right: -($grid-gutter-width / 2)
		margin-left: ($forum-post-list-icon-size / 2)
		text-align: center
		font-size: $font-size-small

		&::before
			position: absolute
			display: block
			content: ''
			top: ($line-height-computed + 10px) * 0.5
			left: 0
			right: 0
			border-top: 1px dashed $gray-light

		> div
			position: relative
			display: inline-block
			padding: 5px 10px
			background-color: $gray-lighter
			z-index: 2
