<div class="forum-post-list-item-icon" ng-class="{ 'has-notification': !!ctrl.post.notification }">
	<div gj-user-avatar="::ctrl.post.user" class="avatar-circle"></div>
</div>

<div class="forum-post-list-item-main"
	id="forum-post-{{ ::ctrl.id }}"
	in-view="ctrl.inViewChange( $inview )"
	in-view-options="{ debounce: 1000 }"
	ng-class="{ active: ctrl.isActive }"
	>

	<div class="forum-post-content">

		<div class="forum-post-meta">
			<small class="pull-right text-muted"
				translate
				translate-n="::ctrl.userPostCount"
				translate-plural="{{ $count | number }} posts"
				>
				1 post
			</small>

			<div class="forum-post-users">
				<a class="forum-post-author link-unstyled" ui-sref="profile.overview( { username: ctrl.post.user.username } )">
					{{ ::ctrl.post.user.display_name }}
				</a>

				<span ng-if="::ctrl.post.parent_post_id" class="forum-post-replied-to">
					<span class="jolticon jolticon-share text-muted"></span>
					<a class="forum-post-reply-user link-unstyled" ui-sref="profile.overview( { username: ctrl.post.replied_to.username } )">
						<small>{{ ::ctrl.post.replied_to.display_name }}</small>
					</a>
				</span>
			</div>

			<div class="forum-post-controls">
				<small class="text-muted" title="{{ ::ctrl.post.posted_on | date:'medium' }}" am-time-ago="::ctrl.post.posted_on"></small>

				<span class="dot-separator"></span>

				<!-- Permalink -->
				<a class="link-muted"
					ng-click="ctrl.copyPermalink()"
					gj-tooltip="{{ 'Copy Link to Clipboard' | translate }}"
					>
					<span class="jolticon jolticon-link middle"></span>
				</a>

				<a class="link-muted"
					ng-if="ctrl.post.user_id == App.user.id && !ctrl.topic.is_locked && !ctrl.isEditing"
					ng-click="ctrl.edit()"
					gj-tooltip="{{ 'Edit Post' | translate }}"
					>
					<span class="jolticon jolticon-edit middle"></span>
				</a>

				<a class="link-muted"
					ng-if="::App.user"
					gj-popover-trigger="forum-post-popover-{{ ::ctrl.id }}"
					gj-tooltip="{{ 'Options' | translate }}"
					>
					<span class="jolticon jolticon-ellipsis-h middle"></span>
				</a>
			</div>
		</div>

		<gj-popover popover-id="forum-post-popover-{{ ::ctrl.id }}">
			<div class="list-group list-group-dark thin">
				<a class="list-group-item has-icon"
					ng-click="ctrl.report()"
					>
					<span class="jolticon jolticon-flag warning"></span>
					<span translate>Report Post</span>
				</a>
				<a class="list-group-item"
					ng-if="::App.user.permission_level > 0"
					ng-href="{{ ::Environment.baseUrl }}/moderate/forums/posts/edit/{{ ::ctrl.post.id }}"
					target="_blank"
					>
					<span translate>Edit</span>
				</a>
				<a class="list-group-item"
					ng-if="::App.user.permission_level > 0"
					ng-href="{{ ::Environment.baseUrl }}/moderate/forums/posts/remove/{{ ::ctrl.post.id }}"
					target="_blank"
					>
					<span translate>Remove</span>
				</a>
				<a class="list-group-item"
					ng-if="::App.user.permission_level > 0"
					ng-href="{{ ::Environment.baseUrl }}/moderate/users/view/{{ ::ctrl.post.user_id }}"
					target="_blank"
					>
					<span translate>Moderate User</span>
				</a>
			</div>
		</gj-popover>

		<a class="forum-post-replied-to-btn"
			ng-if="::!ctrl.isReply && ctrl.post.parent_post_id"
			ng-click="ctrl.loadParentPost()"
			>
			<span class="jolticon middle" ng-class="'jolticon-chevron-' + (!ctrl.showingParent ? 'right' : 'down')"></span>
			<span translate translate-params-user="::ctrl.post.replied_to.display_name">
				In response to <b>{{ user }}</b>
			</span>
		</a>

		<div gj-expand-when="ctrl.showingParent">
			<div ng-if="::ctrl.parent" class="forum-post-body forum-post-body-quoted" gj-widget-compiler-bind="::ctrl.parent.content_compiled"></div>
			<p ng-if="::!ctrl.parent"><strong translate>Post removed.</strong></p>
			<hr>
		</div>

		<div ng-if="!ctrl.isEditing">
			<div class="forum-post-body" gj-widget-compiler-bind="::ctrl.post.content_compiled"></div>
		</div>

		<div ng-if="ctrl.isEditing">
			<gj-form-forum-post
				topic="ctrl.topic"
				gj-forum-post="ctrl.post"
				gj-form-cancel-handler="ctrl.closeEdit()"
				gj-form-submit-handler="ctrl.closeEdit()"
				>
			</gj-form-forum-post>
			<br>
		</div>

		<p class="text-muted small" ng-if="ctrl.post.modified_by">
			<span translate>Last modified on</span>
			<span title="{{ ctrl.post.modified_on | date:'medium' }}">{{ ctrl.post.modified_on | date }}</span>
			<span translate>by</span>
			<a class="link-unstyled" ui-sref="profile.overview( { username: ctrl.post.modified_by.username } )">
				<strong>
					{{ ctrl.post.modified_by_user.display_name }}
				</strong>
			</a>
		</p>

		<div class="forum-post-actions" ng-if="::!ctrl.isReply">

			<a class="btn btn-outline btn-sm"
				ng-if="!ctrl.topic.is_locked && App.user"
				ng-disabled="ctrl.isEditing"
				ng-click="ctrl.reply()"
				>
				<span class="jolticon jolticon-reply"></span>
				<span translate>Reply</span>
			</a>

			<span ng-if="ctrl.post.replies_count">
				<a class="btn btn-outline btn-sm"
					ng-click="ctrl.toggleReplies()"
					ng-disabled="ctrl.isEditing"
					>
					<span class="jolticon"
						ng-class="{
							'jolticon-chevron-right': !listCtrl.showingReplies[ ctrl.post.id ],
							'jolticon-chevron-down': listCtrl.showingReplies[ ctrl.post.id ],
						}"
						>
					</span>
					<span ng-if="!listCtrl.showingReplies[ ctrl.post.id ]" translate>Show Replies</span>
					<span ng-if="listCtrl.showingReplies[ ctrl.post.id ]" translate>Hide Replies</span>
				</a>
				<span class="blip light">
					<span class="blip-caret"></span>
					<span class="blip-count">{{ ctrl.post.replies_count || 0 | number }}</span>
				</span>
			</span>

		</div>

		<div ng-if="ctrl.isReplying">
			<br>
			<gj-form-forum-post
				topic="ctrl.topic"
				reply-to="ctrl.post"
				gj-form-cancel-handler="ctrl.closeReply()"
				gj-form-submit-handler="ctrl.onReplied( formModel, $response )"
				>
			</gj-form-forum-post>
			<br>
		</div>

	</div>
</div>
