<div class="forum-post-list timeline-list">
		<!--class="forum-post-list-item"-->
	<div
		v-for="post of posts"
		:key="post.id"
		>

		<app-forum-post-list-item
			:topic="topic"
			:post="post"
			:user-post-count="userPostCounts[ post.user_id ]"
			:show-replies="showingReplies[ post.id ]"
			@toggle-replies="toggleReplies( post )"
			@replied="onReply( post, $event )"
			/>

		<div v-if="showingReplies[ post.id ]">
			<!--<app-forum-post-list-replies
				topic="topic"
				replies="replies[ post.id ]"
				replies-count="replyCounts[ post.id ]"
				user-post-counts="userPostCounts"
				/>-->
		</div>

	</div>
</div>
