<app-message-thread class="forum-post-list">
		<!--class="forum-post-list-item"-->
	<!--<div

		>-->

	<app-forum-post-list-item
		v-for="post of posts"
		:key="post.id"
		:topic="topic"
		:post="post"
		:user-post-count="userPostCounts[ post.user_id ]"
		/>

		<!--<div v-if="showingReplies[ post.id ]">-->
			<!--<app-forum-post-list-replies
				topic="topic"
				replies="replies[ post.id ]"
				replies-count="replyCounts[ post.id ]"
				user-post-counts="userPostCounts"
				/>-->
		<!--</div>-->

	<!--</div>-->
</app-message-thread>
