<gj-popover
	class="friends-requests-popover popover-dark"
	popover-id="friend-requests"
	popover-append-to-body="true"
	popover-position-by="position"
	popover-on-focus="ctrl.onFocus()"
	popover-on-blur="ctrl.onBlur()"
	popover-hide-on-state-change="true"
	>

	<nav class="platform-list inline nav-justified no-animate">
		<ul>
			<li>
				<a ng-class="{ active: ctrl.activeTab == 'requests' }" ng-click="ctrl.setActiveTab( 'requests' )">
					Friend Requests
					<span class="badge">{{ ctrl.requestCount }}</span>
				</a>
			</li>
			<li ng-if="ctrl.pending.length">
				<a ng-class="{ active: ctrl.activeTab == 'pending' }"  ng-click="ctrl.setActiveTab( 'pending' )">
					Sent Requests
					<span class="badge">{{ ctrl.pending.length }}</span>
				</a>
			</li>
		</ul>
	</nav>

	<div ng-if="ctrl.isLoading && ctrl.isShown">
		<br>
		<gj-loading class="loading-centered"></gj-loading>
	</div>

	<!-- Requests -->
	<div ng-if="!ctrl.isLoading && ctrl.activeTab == 'requests'">
		<div class="list-group" ng-if="ctrl.isShown && ctrl.requests.length">
			<div class="list-group-item" ng-repeat="request in ctrl.requests track by request.id">
				<div class="friends-requests-popover-avatar" gj-user-avatar="::request.getThem( App.user )"></div>
				<div class="friends-requests-popover-controls">
					<a class="i-button big sparse" gj-tooltip="Add Friend" ng-click="ctrl.acceptRequest( request )">
						<span class="jolticon jolticon-friend-add-2"></span>
					</a>
					<a class="i-button big sparse" gj-tooltip="Dismiss request. Sender will not be notified." ng-click="ctrl.rejectRequest( request )">
						<span class="jolticon jolticon-friend-remove-2"></span>
					</a>
				</div>
				<div class="friends-requests-popover-body">
					<a class="friends-requests-popover-user-name" ng-href="{{ ::request.getThem( App.user ).url }}" title="{{ ::request.getThem( App.user ).display_name }}">
						{{ ::request.getThem( App.user ).display_name }}
					</a>
					<div class="friends-requests-popover-date" am-time-ago="request.created_on"></div>
				</div>
			</div>
		</div>

		<div class="list-group" ng-if="!ctrl.requests.length">
			<div class="list-group-item small disabled">
				No friend requests right now.
			</div>
		</div>
	</div>

	<!-- Pending -->
	<div ng-if="!ctrl.isLoading && ctrl.activeTab == 'pending' && ctrl.pending.length">
		<div class="list-group">
			<div class="list-group-item" ng-repeat="request in ctrl.pending track by request.id">
				<div class="friends-requests-popover-avatar" gj-user-avatar="::request.getThem( App.user )"></div>
				<div class="friends-requests-popover-controls">
					<a class="i-button big sparse" gj-tooltip="Cancel" ng-click="ctrl.cancelRequest( request )">
						<span class="jolticon jolticon-friend-remove-2"></span>
					</a>
				</div>
				<div class="friends-requests-popover-body">
					<a class="friends-requests-popover-user-name" ng-href="{{ ::request.getThem( App.user ).url }}" title="{{ ::request.getThem( App.user ).display_name }}">
						{{ ::request.getThem( App.user ).display_name }}
					</a>
					<div class="friends-requests-popover-date" am-time-ago="request.created_on"></div>
				</div>
			</div>
		</div>
	</div>

</gj-popover>
