<div class="route-purchases-view">

	<section class="section">
		<div class="container">

			<h2 class="section-header">
				<translate>Order Details</translate>
			</h2>

			<p class="text-muted">
				<translate>Ordered on</translate>
				{{ order.completed_on | date( 'medium' ) }}

				<span class="dot-separator"></span>

				<translate>Order #</translate>
				{{ order.id }}
			</p>

			<div class="alert alert-warning" v-if="order._is_refunded">
				<translate
					:translate-params="{
						date: date( firstRefund.created_on, 'medium' ),
					}"
					>
					This order was refunded on %{ date }.
				</translate>
			</div>

			<hr>

			<div class="row">
				<div class="col-sm-4">
					<h4 class="section-header">
						<translate>Billing</translate>
					</h4>

					<div v-for="address of [ order.billing_address ]">
						<div v-if="address.fullname">
							<strong>{{ address.fullname }}</strong>
						</div>

						<div v-if="address.street1">
							{{ address.street1 }}
						</div>

						<div v-if="address.street2">
							{{ address.street2 }}
						</div>

						<div>
							<span v-if="address.city">
								{{ address.city }}
							</span>
							<span v-if="address.region">
								{{ Geo.getRegionName( address.country, address.region ) || address.region }}
							</span>
							<span v-if="address.postcode">
								{{ address.postcode }}
							</span>
						</div>

						<div v-if="address.country">
							{{ Geo.getCountryName( address.country ) }}
						</div>
					</div>
					<br>
				</div>
				<div class="col-sm-4">
					<h4 :class="{ 'section-header': !Screen.isXs }">
						<translate>Payment</translate>
					</h4>
					<div v-for="payment of order.payments" :key="payment.id">

						<div v-if="payment.method === OrderPayment.METHOD_CC_STRIPE">
							<span class="tag">
								{{ payment.stripe_payment_source.brand }}
							</span>
							****
							{{ payment.stripe_payment_source.last4 }}
						</div>

						<div v-else-if="payment.method === OrderPayment.METHOD_PAYPAL">
							<span class="tag">
								PayPal
							</span>
							{{ payment.paypal_email_address }}
						</div>

						<div v-else-if="payment.method === OrderPayment.METHOD_WALLET">
							<span class="tag">
								Wallet
							</span>
							{{ payment.amount | currency }}
						</div>

					</div>
				</div>
				<div class="col-sm-4">
					<h4 :class="{ 'section-header': !Screen.isXs }">
						<translate>Summary</translate>
					</h4>

					<table class="summary-table">
						<tbody>
							<tr>
								<th><translate>Subtotal</translate></th>
								<td>{{ order.amount | currency }}</td>
							</tr>
							<tr v-if="order.tax_amount">
								<th><translate>Tax</translate></th>
								<td>{{ order.tax_amount | currency }}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th><translate>Total</translate></th>
								<td>{{ order.total_amount | currency }}</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<hr>

			<div v-for="item of order.items" :key="item.id">
				<h4>
					<span class="tag tag-pink" v-if="item.is_refunded">
						<translate>Refunded</translate>
					</span>
					{{ item.sellable.title }}
					&mdash;
					<small>{{ item.amount | currency }}</small>
				</h4>

				<div
					v-for="firstPackage of [ packagesBySellable[ item.sellable.id ][0] ]"
					:key="firstPackage.id"
					>
					<div class="row">
						<div class="col-xs-2">
							<router-link
								style="display: block"
								:to="{
									name: 'discover.games.view.overview',
									params: {
										slug: games[ firstPackage.game_id ].slug,
										id: firstPackage.game_id,
									},
								}"
								>
								<app-game-thumbnail-img
									:game="games[ firstPackage.game_id ]"
									/>
							</router-link>
						</div>
						<div class="col-xs-10">
							<p>
								<router-link
									:to="{
										name: 'discover.games.view.overview',
										params: {
											slug: games[ firstPackage.game_id ].slug,
											id: firstPackage.game_id,
										},
									}"
									>
									{{ games[ firstPackage.game_id ].title }}
								</router-link>
								<br>
								<span class="small">
									<translate>by</translate>
									<router-link
										:to="{
											name: 'profile.overview',
											params: { username: games[ firstPackage.game_id ].developer.username }
										}"
										>
										{{ games[ firstPackage.game_id ].developer.display_name }}
									</router-link>
								</span>
							<p>

							<h5 class="sans-margin">
								<translate>Packages</translate>
							</h5>

							<div class="small text-muted">
								<div v-for="package of packagesBySellable[ item.sellable.id ]" :key="package.id">
									- {{ package.title || games[ package.game_id ].title }}
								</div>
							</div>
						</div>
					</div>

					<br>
				</div>

			</div>

		</div>
	</section>

</div>
