<header class="section">
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-3 col-lg-7 col-lg-offset-3">
				<h1 class="section-header" id="activity-feed" translate>dash.activity.heading</h1>

				<nav class="platform-list inline">
					<ul>
						<li>
							<a ng-class="{ active: listCtrl.tab == 'all' }"
								ui-sref="^.list( { tab: 'all', page: undefined } )"
								gj-no-auto-scroll
								translate
								>
								dash.activity.all_tab
							</a>
						</li>
						<li ng-if="listCtrl.unreadCounts[ listCtrl.currentNotificationType.key ]">
							<a ng-class="{ active: listCtrl.tab == 'unread' }"
								ui-sref="^.list( { tab: 'unread', page: undefined } )"
								gj-no-auto-scroll
								>
								<span translate>dash.activity.unread_tab</span>
								<span class="tag tag-pink">{{ listCtrl.unreadCounts[ listCtrl.currentNotificationType.key ] | number }}</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

	</div>
</header>

<section class="section">
	<div class="container">

		<div class="row">
			<div class="col-md-3" ng-if="Screen.isDesktop">
				<div gj-partial="/app/views/dashboard/activity/list/_type-selector.html"></div>
			</div>

			<div class="col-md-9 col-lg-7">

				<div class="clearfix">

					<div ng-class="{ 'pull-right': !Screen.isXs }">

						<a class="i-button big sparse" gj-popover-trigger="filter-activity" ng-if="!Screen.isDesktop">
							<span class="jolticon jolticon-filter"></span>
							<span translate>dash.activity.filter_button</span>
						</a>

						&nbsp;

						<gj-popover
							popover-id="filter-activity"
							ng-if="!Screen.isDesktop"
							>
							<div gj-partial="/app/views/dashboard/activity/list/_type-selector.html"></div>
						</gj-popover>

						<a class="i-button big sparse pull-right anim-fade-in"
							ng-if="listCtrl.unreadCounts[ listCtrl.currentNotificationType.key ]"
							ng-click="listCtrl.markAllRead()"
							>
							<span class="jolticon jolticon-check"></span>
							<span translate>dash.activity.dismiss_all_button</span>
						</a>
					</div>
					<br>
				</div>

				<div class="alert alert-info full-bleed-xs text-center visible-xs visible-sm"
					ng-if="listCtrl.currentNotificationType.key"
					translate
					translate-comment="{{listCtrl.currentNotificationType.label}} expands to the type of notification"
					>
					dash.activity.current_filter
				</div>

				<p class="text-muted small"
					ng-if="listCtrl.notifications.length"
					translate
					translate-n="listCtrl.notificationsCount"
					translate-plural="dash.activity.pages"
					translate-params-page="listCtrl.page"
					translate-comment="{{ page }} expands to the page number"
					>
					dash.activity.pages
				</p>

				<div class="alert alert-warning" ng-if="!listCtrl.notifications.length" translate>dash.activity.no_activity</div>

				<gj-activity-feed
					activity-feed-notifications="listCtrl.filteredNotifications"
					>
				</gj-activity-feed>

				<gj-pager
					total-items="listCtrl.notificationsCount"
					items-per-page="20"
					current-page="listCtrl.page"
					on-page-change="Scroll.to( 'activity-feed', { animate: false } )"
					>
				</gj-pager>

			</div>
		</div>

	</div>
</section>
