<app-scroll-inview
	class="-item"
	@inview="isInview = true"
	@outview="isInview = false"
	>
	<router-link v-if="isInview" :to="them.url">
		<app-card>
			<div class="shell-card-popover-card-media">
				<div class="friend-request-popover-avatar">
					<app-user-avatar-img :user="them" />
				</div>
			</div>
			<div class="shell-card-popover-card-body">

				<div class="shell-card-popover-card-controls">
					<template v-if="isPending">
						<app-button
							type="span"
							trans
							circle
							icon="remove"
							v-app-tooltip="$gettext(`Cancel`)"
							@click.stop.prevent="cancel"
							/>
					</template>
					<template v-else>
						<app-button
							type="span"
							primary
							circle
							icon="friend-add-2"
							v-app-tooltip="$gettext(`Add Friend`)"
							@click.stop.prevent="accept"
							/>
						<app-button
							type="span"
							trans
							circle
							icon="remove"
							v-app-tooltip="$gettext(`Dismiss request. Sender will not be notified.`)"
							@click.stop.prevent="reject"
							/>
					</template>
				</div>

				<div class="card-title">
					<h5 class="-name">{{ them.display_name }}</h5>
					<h5 class="-name"><small>@{{ them.username }}</small></h5>
				</div>

				<div class="card-meta">
					<!--<span am-time-ago="request.created_on"></span>-->
				</div>
			</div>
		</app-card>
	</router-link>
</app-scroll-inview>
