<div id="comments">

	<app-ad-placement :hidden-desktop="true" pos="top" />

	<section class="section">
		<div class="container">
			<div class="row">

				<div class="col-sm-10 col-md-8 col-lg-7">

					<template v-if="!game.comments_enabled">
						<h3 class="section-header">
							<translate>Comments Disabled</translate>
						</h3>
						<p class="text-muted">
							<translate>Comments have been disabled for this game.</translate>
						</p>
					</template>
					<app-comment-widget
						v-else
						resource="Game"
						:resource-id="game.id"
						/>

				</div>

				<!--
					Will overflow a little on md, but what can ya do, amirite?
				-->
				<div class="col-md-4 col-lg-offset-1 text-right"
					v-if="Screen.isDesktop"
					>
					<app-ad size="rectangle" pos="top" />
				</div>

			</div>
		</div>
	</section>

	<app-ad-placement :visible-desktop="true" pos="bottom" />

</div>
