<div id="comments">

	<gj-ad-placement [hidden-desktop]="true" [resource]="gameCtrl.game"></gj-ad-placement>

	<section class="section" ng-if="gameCtrl.isLoaded">
		<div class="container">
			<div class="row">

				<div class="col-sm-10 col-md-8 col-lg-7">

					<div ng-if="::!gameCtrl.game.comments_enabled">
						<h3 class="section-header">Comments Disabled</h3>
						<p class="text-muted">Comments have been disabled for this game.</p>
					</div>

					<div ng-if="::gameCtrl.game.comments_enabled">
						<gj-comment-widget
							current-page="overviewCtrl.currentCommentPage"
							comment-resource="Game"
							comment-resource-id="gameCtrl.game.id"
							>
						</gj-comment-widget>
					</div>

				</div>

				<div class="col-md-4 col-lg-offset-1 text-right" ng-if="Screen.isDesktop">
					<gj-ad size="rectangle" [resource]="gameCtrl.game"></gj-ad>
				</div>

			</div>
		</div>
	</section>

	<gj-ad-placement [visible-desktop]="true" [resource]="gameCtrl.game"></gj-ad-placement>

</div>
