<div>
	<strong>Genre:</strong>
	<span gj-lazy-placeholder="gameCtrl.game.category_human">
		<span class="lazy-placeholder" style="width: 60px"></span>
		<a ui-sref="discover.games.list.section-category( { section: 'best', category: gameCtrl.game.category } )">
			{{ ::gameCtrl.game.category_human }}
		</a>
	</span>
</div>

<div>
	<strong>Status:</strong>
	<span gj-lazy-placeholder="gameCtrl.game.development_status_human">
		<span class="lazy-placeholder" style="width: 80px"></span>
		<span>
			{{ ::gameCtrl.game.development_status_human }}
		</span>
	</span>
</div>

<div>
	<strong>Engine/Language:</strong>
	<span gj-lazy-placeholder="gameCtrl.game.creation_tool_human">
		<span class="lazy-placeholder" style="width: 100px"></span>
		<span>
			{{ ::gameCtrl.game.creation_tool_human }}
		</span>
	</span>
</div>

<div ng-if="gameCtrl.game.published_on">
	<strong>Published On:</strong>
	<span gj-lazy-placeholder="gameCtrl.game.category_human">
		<span class="lazy-placeholder" style="width: 120px"></span>
		<a ui-sref="discover.games.list.section-date( { section: 'by-date', date: '{{ gameCtrl.game.published_on | date:'yyyy-MM-dd' }}' } )">
			{{ ::gameCtrl.game.published_on | date:'longDate' }}
		</a>
	</span>
</div>

<br>

<ul class="list-unstyled" ng-if="gameCtrl.game.web_site">
	<li>
		<span class="jolticon jolticon-world"></span>
		<a ng-href="{{ ::gameCtrl.game.web_site }}">Game Web Site</a>
	</li>
</ul>
