<section class="section section-thin text-left" ng-if="!Environment.isClient && !Screen.isXs && gameCtrl.game._should_show_ads">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<gj-ad ad-size="leaderboard" ad-resource="Game" ad-resource-id="::gameCtrl.game.id"></gj-ad>
			</div>
		</div>
	</div>
</section>

<section class="section" style="padding-bottom: 0">
	<div class="container">

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-0" ng-class="{ 'text-right': Screen.isDesktop }">
				<h2 class="section-header" ng-class="{ 'h4': Screen.isDesktop }">Comments</h2>
				<p class="text-muted small">Leave a comment on the devlog project.</p>
			</div>
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 col-lg-7">

				<gj-comment-avatar-list
					comment-resource="Game"
					comment-resource-id="gameCtrl.game.id"
					>
				</gj-comment-avatar-list>

			</div>
		</div>

	</div>
</section>

<section class="section" style="padding-bottom: 0"
	ng-if="(gameCtrl.game._has_packages && !overviewCtrl.isLoaded) || overviewCtrl.hasReleasesSection"
	>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-0">
				<h2 class="section-header" ng-class="{ 'h4 text-right': Screen.isDesktop }">Releases</h2>
			</div>
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 col-lg-7">

				<div gj-lazy-placeholder="overviewCtrl.isLoaded">
					<div class="lazy-placeholder" style="height: 135px"></div>

					<div ng-if="::overviewCtrl.packages.length">
						<gj-game-package-card
							ng-repeat="package in overviewCtrl.packages"
							game="::gameCtrl.game"
							sellable="::package._sellable"
							game-package="::package"
							game-releases="::package._releases"
							game-builds="::package._builds"
							game-build-launch-options="::overviewCtrl.launchOptions"
							>
						</gj-game-package-card>
					</div>

					<gj-game-soundtrack-card
						ng-if="::overviewCtrl.songs.length"
						game-soundtrack-card-game="::gameCtrl.game"
						game-soundtrack-card-songs="::overviewCtrl.songs"
						>
					</gj-game-soundtrack-card>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section" style="padding-bottom: 0">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-0">
				<h2 class="section-header" ng-class="{ 'h4 text-right': Screen.isDesktop }">Description</h2>
			</div>
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 col-lg-7">

				<div ng-if="!gameCtrl.game.description_compiled">
					<span class="lazy-placeholder"></span>
					<span class="lazy-placeholder"></span>
					<span class="lazy-placeholder"></span>
					<span class="lazy-placeholder" style="width: 40%"></span>
				</div>

				<div ng-if="gameCtrl.game.description_compiled">
					<gj-fade-collapse
						fade-collapse-height="400"
						fade-collapse-is-open="overviewCtrl.showFullDescription"
						fade-collapse-is-required="overviewCtrl.canToggleDescription"
						>
						<div class="game-compiled-description" ng-bind-html="gameCtrl.game.description_compiled"></div>
					</gj-fade-collapse>
				</div>

			</div>
		</div>
	</div>
</section>

<div class="page-cut">
	<div ng-if="overviewCtrl.canToggleDescription">
		<button class="btn btn-outline"
			ng-click="overviewCtrl.showFullDescription = !overviewCtrl.showFullDescription"
			gj-track-event="game-profile:show-full-description"
			ng-switch="!!overviewCtrl.showFullDescription"
			>
			<span ng-switch-when="false" translate>Show Full Description</span>
			<span ng-switch-when="true" translate>Less</span>
		</button>
	</div>
</div>

<div ng-if="overviewCtrl.posts.hasItems">
	<section class="section section-thin text-left" ng-if="!Environment.isClient && !Screen.isXs && gameCtrl.game._should_show_ads">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<gj-ad ad-size="leaderboard" ad-resource="Game" ad-resource-id="::gameCtrl.game.id"></gj-ad>
				</div>
			</div>
		</div>
	</section>

	<section class="section" style="overflow-x: hidden">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-7">

					<gj-activity-feed
						type="Fireside_Post"
						items="overviewCtrl.posts"
						load-more-url="/web/discover/games/devlog/posts/{{ gameCtrl.game.id }}"
						show-edit-controls="true"
						>
					</gj-activity-feed>

				</div>
			</div>
		</div>
	</section>
</div>

<section class="section" ng-if="overviewCtrl.posts && !overviewCtrl.posts.hasItems">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-7">
				<div class="alert alert-info" translate>
					This devlog doesn't have any posts yet.
				</div>
			</div>
		</div>
	</div>
</section>
