<div>

	<app-discover-games-view-overview-game
		ref="game"
		v-if="!game._is_devlog"
		:is-loaded="isLoaded"
		:game="game"
		:media-items="mediaItems"
		:recommended-games="recommendedGames"
		:user-rating="userRating"
		:songs="songs"
		:packages="packagePayload.packages"
		:releases="packagePayload.releases"
		:rating-breakdown="ratingBreakdown"
		:posts="posts"
		/>

	<app-discover-games-view-overview-devlog
		ref="devlog"
		v-else
		:is-loaded="isLoaded"
		:game="game"
		:media-items="mediaItems"
		:songs="songs"
		:packages="packagePayload.packages"
		:releases="packagePayload.releases"
		:posts="posts"
		/>

</div>
