<app-form name="userHeaderForm" ref="form">
	<app-form-group
		name="file"
		:label="$gettext( `Upload New Header` )"
		:optional="!!formModel.header_media_item"
		>

		<p class="help-block">
			<translate>
				Headers are the big, banner-like images that adorn the tops of pages. For your header to look its best on all devices, make sure anything important is located near the center of the image.
			</translate>
		</p>
		<p class="help-block" v-translate>
			dash.forms.image_filetype_help_html
		</p>
		<p class="help-block strong" v-translate="{ dimensions: '2000x500' }">
			The recommended size for a header image is <code>%{dimensions}</code> (ratio of 4 ÷ 1).
		</p>
		<p class="help-block">
			<a class="link-help" href="https://help.gamejolt.com/dev-page-headers" target="_blank">
				<translate>What are the header requirements and guidelines?</translate>
			</a>
		</p>

		<app-form-control-upload
			:rules="{
				filesize: maxFilesize,
				min_img_dimensions: [ minWidth, minHeight ],
				max_img_dimensions: [ maxWidth, maxHeight ],
			}"
			accept=".png,.jpg,.jpeg,.gif"
			@changed="headerSelected()"
			/>

		<app-form-control-errors
			:label="$gettext( `header` )"
			/>
	</app-form-group>

	<app-form-group
		name="crop"
		:label="$gettext(`Crop Current Header`)"
		v-if="formModel.header_media_item && !formModel.file"
		>

		<div class="form-control-static">
			<app-form-control-crop
				:src="formModel.header_media_item.img_url"
				:min-width="minWidth"
				:min-height="minHeight"
				:min-aspect-ratio="minAspectRatio"
				:max-aspect-ratio="maxAspectRatio"
				/>

			<app-form-control-errors />
		</div>
	</app-form-group>

	<template v-if="formModel.header_media_item">
		<app-form-button>
			<translate>Save</translate>
		</app-form-button>
		<app-button
			trans
			@click.prevent="clearHeader()"
			>
			<translate>Remove Header</translate>
		</app-button>
	</template>

</app-form>
