<app-form name="avatarForm" ref="form">
	<app-form-group
		name="file"
		:label="$gettext( `Upload New Avatar` )"
		:optional="true"
		>

		<p class="help-block" v-translate>
			dash.forms.image_filetype_help_html
		</p>

		<app-form-control-upload
			:rules="{
				filesize: maxFilesize,
				min_img_dimensions: [ minSize, minSize ],
				max_img_dimensions: [ maxSize, maxSize ],
			}"
			accept=".png,.jpg,.jpeg,.gif"
			@changed="avatarSelected()"
			/>

		<app-form-control-errors
			:label="$gettext( `avatar` )"
			/>

	</app-form-group>

	<app-form-group
		name="crop"
		:label="$gettext( 'Your Uploaded Avatar' )"
		v-if="formModel.avatar_media_item && !formModel.file"
		>

		<div class="form-control-static">
			<app-form-control-crop
				:src="formModel.avatar_media_item.img_url"
				:aspect-ratio="1"
				:min-width="minSize"
				:min-height="minSize"
				/>

			<app-form-control-errors
				:label="$gettext( 'crop' )"
				/>
		</div>
	</app-form-group>

	<template v-if="formModel.avatar_media_item && !hasFormErrors">
		<div>
			<app-form-button>
				<translate>Save Crop</translate>
			</app-form-button>

			<app-button
				trans
				@click.prevent.stop="clearAvatar()"
				>
				<translate>Remove Avatar</translate>
			</app-button>
		</div>

		<br>
		<br>
	</template>

	<app-form-group
		name="disable_gravatar"
		:label="$gettext( `Disable Gravatar?` )"
		>

		<p class="help-block">
			<translate>By default we fallback to using Gravatar if you have one. If you would like to disable the Gravatar fallback, you can toggle this on.</translate>
			<a href="https://gravatar.com" target="_blank" class="link-help">
				<translate>What is Gravatar?</translate>
			</a>
		</p>

		<app-form-control-toggle @changed="gravatarToggled()" />
	</app-form-group>

</app-form>
