<section class="section">
	<div class="container">

		<div class="row">
			<div class="col-xs-8">

				<gj-sites-manage-page
					[site]="$ctrl.site"
					>
				</gj-sites-manage-page>

			</div>
			<div class="col-xs-4">

				<!--<p class="page-help" translate>Every game on Game Jolt, even works-in-progress, needs a maturity rating to describe its content. Accurate ratings and details about content help gamers make informed decisions. Remember, you can always come back later and make changes.</p>

				<hr>-->

				<gj-sites-link-card
					[site]="$ctrl.site"
					>
				</gj-sites-link-card>

			</div>
		</div>

	</div>
</section>
