.game-media-bar
	position: relative
	padding: 20px 0

	&.is-loading
		min-height: 150px + (20px * 2)

	.loading-container
		position: absolute
		left: 0
		right: 0
		top: 50%

		.loading
			margin-top: -20px

.game-media-bar-items
	margin: 0 auto
	white-space: nowrap
	text-align: center
