<form gj-form="formModel" name="songForm">

	<div ng-if="!isLoaded">
		<gj-loading></gj-loading>
	</div>

	<div oc-lazy-load="{ files: [ '/app/modules/upload.js' ] }">
		<div ng-if="isLoaded">
			<form-group name="title" label="{{ 'dash.games.music.form.title_label' | translate }}">
				<input form-control="text" ng-maxlength="150">
				<control-errors></control-errors>
			</form-group>

			<form-group name="file" label="{{ getFileLabel() }}" optional="method == 'edit'">
				<p class="help-block" translate translate-params-max-filesize="maxFilesize / 1024 / 1024">dash.games.music.form.file_help_block</p>

				<gj-form-upload-control
					form-control="upload"
					gj-max-filesize="maxFilesize"
					accept=".mp3"
					>
				</gj-form-upload-control>

				<control-errors label="{{ 'dash.games.music.form.file_error_label' | translate }}"></control-errors>
			</form-group>

			<button gj-form-submit-button class="btn btn-outline" ng-disabled="!songForm.$valid" ng-click="onSubmit()">
				<span class="jolticon" ng-class="'jolticon-' + method"></span>
				<span translate>dash.games.music.form.submit_button</span>
			</button>
		</div>
	</div>

</form>
