<div class="alert alert-info full-bleed-xs">

	<p translate>Our forums have been coded up and delivered as a precious gem into your hands. Don't abuse the privilege.</p>
	<p><a ng-click="landingCtrl.isShowingRules = !landingCtrl.isShowingRules" translate>Read through the rules before posting on the forums.</a></p>

	<div gj-expand-when="landingCtrl.isShowingRules">
		<hr>

		<h5 class="sans-margin-top" translate>Forum Rules</h5>

		<ol>
			<li translate><b>Keep it Nice</b> - We're here to help each other as gamers and developers, not to pick fights.</li>

			<li translate><b>No Advertising</b> - This is not the place to post news about your games. Game Jolt has a built-in game news feature already set up for everyone to use. You can post about game ideas you may have, but only post in the respective channel.</li>

			<li translate><b>No Spamming</b> - Most people these days have busy lives, so I think the last thing we need is to open up a thread just to find a bunch of poop in word form.</li>

			<li translate><b>Keep it Safe for Work</b> - Let's face it, it's just not needed. Nope, sorry, it's really not. Plus, how will people be able to slack off at work, then? We'd like to keep the forums safe for younger folks to read through as well.</li>

			<li translate><b>Be Awesome</b> - We have no time for boring people.</li>

			<li translate><b>Additional Rules</b> - Each channel has some additional rules. Be sure to read them and follow them while posting.</li>
		</ol>
	</div>
</div>
