<app-card>
	<div class="card-content">
		<p>
			<translate>This is your Site URL:</translate>
		</p>
		<input class="form-control" :value="site.url">
	</div>
	<div class="card-controls">
		<button class="btn btn-outline btn-block"
			@click="copyLink"
			>
			<app-jolticon icon="link" />
			<translate>Copy Link</translate>
		</button>
		<a class="btn btn-outline btn-block"
			:href="site.url"
			target="_blank"
			>
			<app-jolticon icon="share" />
			<translate>View Site</translate>
		</a>
	</div>
</app-card>
