<div class="-details-bar">
	<div class="-main label-row">
		<div class="label-row-col">

			<div class="label-row-label">
				<translate>games.view.stats.views_label</translate>
			</div>

			<div class="label-row-number">
				<app-lazy-placeholder :when="isOverviewLoaded">
					<span class="lazy-placeholder"></span>
					<span :title="number( profileCount )">
						{{ fuzzynumber( profileCount ) }}
					</span>
				</app-lazy-placeholder>
			</div>

		</div>
		<div class="label-row-col" v-if="game.sellable && game.sellable.type !== 'paid'">

			<div class="label-row-label">
				<translate>games.view.stats.downloads_plays_label</translate>
				<app-jolticon
					class="text-muted"
					v-if="playsTooltip"
					icon="help-circle"
					v-app-tooltip="playsTooltip"
					/>
			</div>

			<div class="label-row-number">
				<app-lazy-placeholder :when="isOverviewLoaded">
					<span class="lazy-placeholder"></span>
					<template v-if="showNaPlays">
						<translate>games.view.stats.na</translate>
					</template>
					<span v-else :title="number( downloadCount + playCount )">
						{{ fuzzynumber( downloadCount + playCount ) }}
					</span>
				</app-lazy-placeholder>
			</div>

		</div>
		<div class="label-row-col">

			<div class="label-row-label">
				<translate>games.view.stats.ratings_label</translate>
				<app-jolticon
					v-if="!game.ratings_enabled"
					class="text-muted"
					icon="help-circle"
					v-app-tooltip="$gettext( 'Ratings are disabled for this game.' )"
					/>
			</div>

			<div class="label-row-number">
				<app-lazy-placeholder :when="!!game">
					<span class="lazy-placeholder"></span>
					<div class="clearfix" v-if="game.ratings_enabled">
						<span
							class="pull-left"
							:title="number( game.rating_count || 0 )"
							>
							{{ fuzzynumber( game.rating_count || 0 ) }}
						</span>
						<app-meter
							class="pull-left -meter"
							:big="true"
							:rating="game.avg_rating"
							v-app-tooltip="ratingTooltip"
							/>
					</div>
					<translate v-else class="text-upper">
						Off
					</translate>
				</app-lazy-placeholder>
			</div>

		</div>
		<!-- <template v-if="!game._is_devlog && game.ratings_enabled">
			<div class="label-row-col">
				<div class="label-row-label">
					Rating
				</div>
				<div>
					<app-meter
						:big="true"
						:rating="game.avg_rating"
						v-app-tooltip="ratingTooltip"
						/>

					<app-lazy-placeholder :when="!!game">
					<span class="lazy-placeholder"></span>
					<a
						v-if="game.ratings_enabled"
						class="link-unstyled"
						@click="isShowingRatingBreakdown = !isShowingRatingBreakdown"
						:title="number( game.rating_count || 0 )"
						>
						{{ fuzzynumber( game.rating_count || 0 ) }}
					</a>
					<translate v-if="!game.ratings_enabled" class="text-upper">
						Off
					</translate>
				</app-lazy-placeholder>
				</div>
			</div>
		</template> -->
		<div class="label-row-col">
			<div class="label-row-label">
				<template v-if="!!userRating">
					<translate>Your Rating</translate>
				</template>
				<template v-else>
					<translate>Rate Game</translate>
				</template>
			</div>
			<div>
				<app-rating-widget
					:game="game"
					:big="true"
					:rating="userRating"
					/>
			</div>
		</div>
	</div>

	<app-expand
		v-if="game.ratings_enabled"
		:when="isShowingRatingBreakdown"
		>
		<br>
		<div class="rating-breakdown well fill-lightest">
			<table class="table">
				<tbody>
					<tr v-for="( ratingString, i ) of ratingStrings">
						<th class="rating-breakdown-label">
							{{ ratingString }}
						</th>
						<td class="rating-breakdown-progress" style="vertical-align: middle">
							<app-progress-bar
								variant="darker"
								:percent="ratingBreakdown[ (5 - i) ] / game.rating_count * 100"
								:thin="true"
								/>
						</td>
						<td class="rating-breakdown-count">
							({{ fuzzynumber( (ratingBreakdown[ (5 - i) ] || 0) ) }})
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</app-expand>

	<br>
</div>
