@require '~styles/variables'

.-details-bar
	margin-bottom: $line-height-computed

	@media $media-sm
		margin-bottom: 0

.-meter
	margin-left: 15px

.label-row
	margin-right: -15px
	margin-left: -15px

.label-row-col
	display: inline-block
	vertical-align: top
	padding-left: 15px
	padding-right: 15px

.label-row-label
	margin-bottom: 5px
	color: $text-muted
	font-size: $font-size-small

.label-row-number
	font-size: $font-size-h4
	font-family: $font-family-heading
	font-weight: bold

	a
		text-decoration: none
		border-bottom: 3px solid $gray-lighter
		color: inherit

		&:hover
			text-decoration: none
			border-color: $black

.rating-breakdown
	margin-bottom: 0

	> table
		margin-bottom: 0

		> tbody > tr > th, > tbody > tr > td
			border-top: 0

.rating-breakdown-label, .rating-breakdown-count
	width: 1px

.rating-breakdown-count
	color: $text-muted
	font-size: $font-size-small
	text-align: right

.rating-breakdown-progress
	vertical-align: middle

	.progress
		margin-bottom: 0
