<div>

	<app-ad-placement :visible-desktop="true" pos="top" />

	<section class="section">
		<div class="container-lg">

			<h2 class="section-header text-center">
				<router-link
					class="link-unstyled"
					:to="{ name: 'discover.devlogs.games' }"
					v-app-track-event="`channel:row-heading:best`"
					>
					<translate>Featured Devlogs</translate>
				</router-link>
			</h2>

			<hr class="underbar underbar-center">

			<div>

				<app-game-grid-placeholder
					v-if="!routeBootstrapped"
					:num="8"
					:truncate-to-fit="true"
					:scrollable="true"
					/>

				<app-game-grid
					v-else
					:games="games"
					:truncate-to-fit="true"
					:scrollable="true"
					event-label="devlogs-overview-featured-devlogs"
					/>

			</div>

			<div class="page-cut">
				<app-button
					trans
					:to="{ name: 'discover.devlogs.games' }"
					v-app-track-event="`channel:more-btn:best`"
					>
					<translate>Load More</translate>
				</app-button>
			</div>

		</div>
	</section>

	<app-ad-placement :hidden-desktop="true" pos="bottom" />

	<section class="section">
		<div class="container">

			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-7 col-centered">

					<h2 class="section-header text-center">
						<translate>Hot Devlog Posts</translate>
					</h2>

					<hr class="underbar underbar-center">
					<br>

					<div>
						<app-activity-feed-placeholder v-if="!feed" />

						<app-activity-feed
							v-else
							:feed="feed"
							show-game-info
							show-ads
							/>
					</div>

				</div>
			</div>

		</div>
	</section>

</div>
