gj-game-cover
	display: block
	overflow: hidden
	width: 100%
	background-color: $gray
	transition: height 250ms $strong-ease-out

.game-cover
	padding: 0
	position: relative
	overflow: hidden
	height: 100%

	&::before
		content: ''
		display: none
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: $black
		background-image: linear-gradient( to right, rgba( $gj-pink, 0.25 ) 0%, rgba( $gj-pink, 0 ) 25%, rgba( $gj-blue, 0 ) 75%, rgba( $gj-blue, 0.25 ) 100% )

	.loading-container
		position: absolute
		left: 0
		right: 0
		top: 50%

		.loading
			margin-top: -20px

.game-cover-img
	display: none
	position: relative
	width: 100%

	@media $media-xs
		width: 140%
		margin-left: -20%

	> img
		width: 100%
		height: auto

// Loaded.
.game-cover.loaded
	&::before
	.game-cover-img
		display: block
