<gj-page-header
	should-affix-nav="true"
	col-classes="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-7"
	>

	<gj-page-header-content>
		<h1 translate>Activity Feed</h1>
		<br>
	</gj-page-header-content>

	<gj-page-header-nav>
		<nav class="platform-list inline nav-justified">
			<ul>
				<li>
					<a ui-sref="dashboard.activity.feed( { tab: 'activity' } )" ui-sref-active="active">
						<span class="jolticon jolticon-feed hidden-xs"></span>
						<span translate>Feed</span>
						<span class="tag tag-pink" ng-if="activityCtrl.activityUnreadCount">{{ activityCtrl.activityUnreadCount }}</span>
					</a>
				</li>
				<li>
					<a ui-sref="dashboard.activity.feed( { tab: 'notifications' } )" ui-sref-active="active">
						<span class="jolticon jolticon-notifications hidden-xs"></span>
						<span translate>Notifications</span>
						<span class="tag tag-pink" ng-if="activityCtrl.notificationsUnreadCount">{{ activityCtrl.notificationsUnreadCount }}</span>
					</a>
				</li>
			</ul>
		</nav>
	</gj-page-header-nav>

</gj-page-header>

<ui-view></ui-view>
