<div>

	<div v-if="Screen.isXs" class="well fill-darker sans-margin-bottom">
		<router-link class="btn btn-outline btn-block" :to="{ name: 'dash.account-mobile-nav' }">
			<app-jolticon icon="chevron-left" />
			<translate>Back to Account</translate>
		</router-link>
	</div>

	<app-page-header>

		<h1>{{ heading }}</h1>

		<p>
			<small>@{{ app.user.username }}</small>
		</p>

		<app-user-avatar slot="spotlight" :user="app.user" />

	</app-page-header>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-2" v-if="!Screen.isXs">

					<nav class="platform-list">
						<ul>
							<li>
								<router-link
									:to="{ name: 'dash.account.edit' }"
									active-class="active"
									>
									<translate>Profile</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{ name: 'dash.account.avatar' }"
									active-class="active"
									>
									<translate>Avatar</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{ name: 'dash.account.linked-accounts.list' }"
									active-class="active"
									>
									<translate>Linked Accounts</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{ name: 'dash.account.email-preferences' }"
									active-class="active"
									>
									<translate>Email Preferences</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{ name: 'dash.account.change-password' }"
									active-class="active"
									>
									<translate>Password</translate>
								</router-link>
							</li>
							<li>
								<router-link
									:to="{ name: 'dash.account.financials' }"
									active-class="active"
									>
									<translate>Marketplace Account Setup</translate>
								</router-link>
							</li>
						</ul>
					</nav>

				</div>
				<div class="col-xs-12 col-sm-9 col-md-10">
					<router-view />
				</div>
			</div>
		</div>
	</section>

</div>
