<header class="section">
	<div class="container">

		<h1>Manage Account</h1>
		<br>

	</div>
</header>

<nav>
	<div class="list-group">
		<a class="list-group-item" ui-sref="dashboard.account.edit" ui-sref-active="active">Profile</a>
		<a class="list-group-item" ui-sref="dashboard.account.avatar" ui-sref-active="active">Avatar</a>
		<a class="list-group-item" ui-sref="dashboard.account.linked-accounts" ui-sref-active="active">Linked Accounts</a>
		<a class="list-group-item" ui-sref="dashboard.account.email-preferences" ui-sref-active="active">Email Preferences</a>
		<a class="list-group-item" ui-sref="dashboard.account.change-password" ui-sref-active="active">Password</a>
	</div>
</nav>