<header class="section">
	<div class="container">

		<h1>Manage Account</h1>
		<br>

	</div>
</header>

<nav>
	<div class="list-group">
		<a class="list-group-item" ui-sref="dashboard.account.edit" ui-sref-active="active" translate>
			Profile
		</a>
		<a class="list-group-item" ui-sref="dashboard.account.avatar" ui-sref-active="active" translate>
			Avatar
		</a>
		<a class="list-group-item" ui-sref="dashboard.account.linked-accounts" ui-sref-active="active" translate>
			Linked Accounts
		</a>
		<a class="list-group-item" ui-sref="dashboard.account.email-preferences" ui-sref-active="active" translate>
			Email Preferences
		</a>
		<a class="list-group-item" ui-sref="dashboard.account.change-password" ui-sref-active="active" translate>
			Password
		</a>
		<a class="list-group-item" ui-sref="dashboard.account.financials" ui-sref-active="active" translate
			ng-if="App.user.is_developer"
			>
			Marketplace Account Setup
		</a>
	</div>
</nav>
