.jolticon-shuffle:before
	content: '\e9d2'

.jolticon-rotate:before
	content: '\e9d3'

.jolticon-joltydex:before
	content: '\e9d1'

.jolticon-double-check:before
	content: '\e9d0'

.jolticon-light-bulb:before
	content: '\e9c8'

.jolticon-jigsaw:before
	content: '\e9c9'

.jolticon-aircraft:before
	content: '\e9ca'

.jolticon-burger:before
	content: '\e9cb'

.jolticon-leaf:before
	content: '\e9cc'

.jolticon-smiley:before
	content: '\e9cd'

.jolticon-flags:before
	content: '\e9ce'

.jolticon-add-reaction:before
	content: '\e9cf'

.jolticon-backpack:before
	content: '\e9c7'

.jolticon-hang-up:before
	content: '\e9c5'

.jolticon-timer:before
	content: '\e9c6'

.jolticon-robot:before
	content: '\e9c4'

.jolticon-gem:before
	content: '\e9c0'

.jolticon-marketplace-filled:before
	content: '\e9c1'

.jolticon-marketplace:before
	content: '\e9c2'

.jolticon-android:before
	content: '\e9c3'

.jolticon-trash-can:before
	content: '\e9bf'

.jolticon-screenshare-off:before
	content: '\e9b9'

.jolticon-screenshare:before
	content: '\e9ba'

.jolticon-video-camera-off:before
	content: '\e9bb'

.jolticon-video-camera:before
	content: '\e9bc'

.jolticon-microphone:before
	content: '\e9bd'

.jolticon-microphone-off:before
	content: '\e9be'

.jolticon-expand:before
	content: '\e9b7'

.jolticon-star-ten-pointed:before
	content: '\e9b8'

.jolticon-gift:before
	content: '\e942'

.jolticon-clock:before
	content: '\e975'

.jolticon-megaphone:before
	content: '\e9a7'

.jolticon-wand:before
	content: '\e9a8'

.jolticon-gamepad:before
	content: '\e9b2'

.jolticon-communities:before
	content: '\e9b3'

.jolticon-sparkles:before
	content: '\e9b4'

.jolticon-trophy:before
	content: '\e9b5'

.jolticon-paintbrush:before
	content: '\e9b6'

.jolticon-exclamation:before
	content: '\e9af'

.jolticon-quest-log:before
	content: '\e9b0'

.jolticon-portal:before
	content: '\e9b1'

.jolticon-whatsapp:before
	content: '\e9ad'

.jolticon-facebook-messenger:before
	content: '\e9ae'

.jolticon-bell-filled:before
	content: '\e9a9'

.jolticon-bell-unfilled:before
	content: '\e9aa'

.jolticon-details:before
	content: '\e9ab'

.jolticon-phone:before
	content: '\e9ac'

.jolticon-camera:before
	content: '\e9a6'

.jolticon-message:before
	content: '\e9a0'

.jolticon-comment-filled:before
	content: '\e9a1'

.jolticon-sticker-filled:before
	content: '\e9a2'

.jolticon-home:before
	content: '\e9a3'

.jolticon-medal:before
	content: '\e9a4'

.jolticon-eject:before
	content: '\e9a5'

.jolticon-audio-mute:before
	content: '\e99d'

.jolticon-crown:before
	content: '\e99e'

.jolticon-star:before
	content: '\e99f'

.jolticon-heart-filled:before
	content: '\e99c'

.jolticon-unfullscreen:before
	content: '\e99a'

.jolticon-fullscreen:before
	content: '\e99b'

.jolticon-sticker:before
	content: '\e997'

.jolticon-arrow-right:before
	content: '\e998'

.jolticon-arrow-left:before
	content: '\e999'

.jolticon-gif:before
	content: '\e996'

.jolticon-google:before
	content: '\e943'

.jolticon-embed:before
	content: '\e989'

.jolticon-numbered-list:before
	content: '\e98a'

.jolticon-bullet-list:before
	content: '\e98b'

.jolticon-soundcloud:before
	content: '\e98c'

.jolticon-hr:before
	content: '\e98d'

.jolticon-blockquote:before
	content: '\e98e'

.jolticon-insert-table:before
	content: '\e98f'

.jolticon-h2:before
	content: '\e990'

.jolticon-h1:before
	content: '\e991'

.jolticon-strikethrough:before
	content: '\e992'

.jolticon-italic:before
	content: '\e993'

.jolticon-bold:before
	content: '\e994'

.jolticon-number-sign:before
	content: '\e995'

.jolticon-mixer:before
	content: '\e988'

.jolticon-compass-needle:before
	content: '\e987'

.jolticon-arrow-forward:before
	content: '\e986'

.jolticon-gamejolt:before
	content: '\e985'

.jolticon-other-os:before
	content: '\e984'

.jolticon-comment:before
	content: '\e900'

.jolticon-active:before
	content: '\e901'

.jolticon-add:before
	content: '\e902'

.jolticon-add-box:before
	content: '\e903'

.jolticon-add-comment:before
	content: '\e904'

.jolticon-arrows:before
	content: '\e905'

.jolticon-arrows-h:before
	content: '\e906'

.jolticon-arrows-v:before
	content: '\e907'

.jolticon-at-sign:before
	content: '\e908'

.jolticon-audio:before
	content: '\e909'

.jolticon-backward:before
	content: '\e90a'

.jolticon-blog-article:before
	content: '\e90b'

.jolticon-bolt-filled:before
	content: '\e90c'

.jolticon-bolt-unfilled:before
	content: '\e90d'

.jolticon-books:before
	content: '\e90e'

.jolticon-box:before
	content: '\e90f'

.jolticon-box-empty:before
	content: '\e910'

.jolticon-brackets:before
	content: '\e911'

.jolticon-broadcast:before
	content: '\e912'

.jolticon-bundle:before
	content: '\e913'

.jolticon-calendar:before
	content: '\e914'

.jolticon-calendar-check:before
	content: '\e915'

.jolticon-calendar-grid:before
	content: '\e916'

.jolticon-calendar-minus:before
	content: '\e917'

.jolticon-calendar-plus:before
	content: '\e918'

.jolticon-calendar-x:before
	content: '\e919'

.jolticon-chart:before
	content: '\e91a'

.jolticon-check:before
	content: '\e91b'

.jolticon-checkbox:before
	content: '\e91c'

.jolticon-chevron-down:before
	content: '\e91d'

.jolticon-chevron-left:before
	content: '\e91e'

.jolticon-chevron-right:before
	content: '\e91f'

.jolticon-chevron-up:before
	content: '\e920'

.jolticon-claim:before
	content: '\e921'

.jolticon-client:before
	content: '\e922'

.jolticon-cog:before
	content: '\e923'

.jolticon-compass:before
	content: '\e924'

.jolticon-credit-card:before
	content: '\e925'

.jolticon-dashboard:before
	content: '\e926'

.jolticon-devlogs:before
	content: '\e927'

.jolticon-download:before
	content: '\e928'

.jolticon-download-box:before
	content: '\e929'

.jolticon-edit:before
	content: '\e92a'

.jolticon-ellipsis-h:before
	content: '\e92b'

.jolticon-ellipsis-v:before
	content: '\e92c'

.jolticon-email:before
	content: '\e92d'

.jolticon-exclamation-circle:before
	content: '\e92e'

.jolticon-exp:before
	content: '\e92f'

.jolticon-facebook:before
	content: '\e930'

.jolticon-fast-backward:before
	content: '\e931'

.jolticon-fast-forward:before
	content: '\e932'

.jolticon-feed:before
	content: '\e933'

.jolticon-filter:before
	content: '\e934'

.jolticon-fireside:before
	content: '\e935'

.jolticon-flag:before
	content: '\e936'

.jolticon-flash:before
	content: '\e937'

.jolticon-folder:before
	content: '\e938'

.jolticon-folder-open:before
	content: '\e939'

.jolticon-forums:before
	content: '\e93a'

.jolticon-forward:before
	content: '\e93b'

.jolticon-friend-add-1:before
	content: '\e93c'

.jolticon-friend-add-2:before
	content: '\e93d'

.jolticon-friend-remove-1:before
	content: '\e93e'

.jolticon-friend-remove-2:before
	content: '\e93f'

.jolticon-friend-requests:before
	content: '\e940'

.jolticon-friends:before
	content: '\e941'

.jolticon-heart:before
	content: '\e944'

.jolticon-help:before
	content: '\e945'

.jolticon-help-circle:before
	content: '\e946'

.jolticon-html5:before
	content: '\e947'

.jolticon-inactive:before
	content: '\e948'

.jolticon-indiedb:before
	content: '\e949'

.jolticon-info-circle:before
	content: '\e94a'

.jolticon-itchio:before
	content: '\e94b'

.jolticon-jams:before
	content: '\e94c'

.jolticon-java:before
	content: '\e94d'

.jolticon-key-diagonal:before
	content: '\e94e'

.jolticon-link:before
	content: '\e94f'

.jolticon-linux:before
	content: '\e950'

.jolticon-lock:before
	content: '\e951'

.jolticon-logout:before
	content: '\e952'

.jolticon-mac:before
	content: '\e953'

.jolticon-markdown:before
	content: '\e954'

.jolticon-menu:before
	content: '\e955'

.jolticon-musical-note-double:before
	content: '\e956'

.jolticon-notice:before
	content: '\e957'

.jolticon-notifications:before
	content: '\e958'

.jolticon-offline:before
	content: '\e959'

.jolticon-pause:before
	content: '\e95a'

.jolticon-pedestals-numbers:before
	content: '\e95b'

.jolticon-play:before
	content: '\e95c'

.jolticon-playlist:before
	content: '\e95d'

.jolticon-play-small:before
	content: '\e95e'

.jolticon-plug:before
	content: '\e95f'

.jolticon-radio-circle:before
	content: '\e960'

.jolticon-radio-circle-filled:before
	content: '\e961'

.jolticon-reddit:before
	content: '\e962'

.jolticon-remove:before
	content: '\e963'

.jolticon-reply:before
	content: '\e964'

.jolticon-rom:before
	content: '\e965'

.jolticon-rss:before
	content: '\e966'

.jolticon-screenshot:before
	content: '\e967'

.jolticon-search:before
	content: '\e968'

.jolticon-share-airplane:before
	content: '\e969'

.jolticon-silverlight:before
	content: '\e96a'

.jolticon-sketchfab:before
	content: '\e96b'

.jolticon-steam:before
	content: '\e96c'

.jolticon-subscribe:before
	content: '\e96d'

.jolticon-subscribed:before
	content: '\e96e'

.jolticon-tag:before
	content: '\e96f'

.jolticon-tags:before
	content: '\e970'

.jolticon-thumbs-down:before
	content: '\e971'

.jolticon-thumbs-up:before
	content: '\e972'

.jolticon-thumbtack:before
	content: '\e973'

.jolticon-token:before
	content: '\e974'

.jolticon-tumblr:before
	content: '\e976'

.jolticon-twitch:before
	content: '\e977'

.jolticon-twitter:before
	content: '\e978'

.jolticon-twitter-bird:before
	content: '\e979'

.jolticon-unity:before
	content: '\e97a'

.jolticon-unlock:before
	content: '\e97b'

.jolticon-user:before
	content: '\e97c'

.jolticon-user-messages:before
	content: '\e97d'

.jolticon-users:before
	content: '\e97e'

.jolticon-verified:before
	content: '\e97f'

.jolticon-video:before
	content: '\e980'

.jolticon-windows:before
	content: '\e981'

.jolticon-world:before
	content: '\e982'

.jolticon-youtube:before
	content: '\e983'
