<div>

	<app-community-perms
		tag="ul"
		required="all"
		class="sans-margin community-dash-nav"
		>
		<li>
			<router-link
				:to="{
					name: 'dash.communities.manage.details',
					query: $route.query,
				}"
				active-class="active"
				>
				<app-manage-community-nav-required :is-complete="true" />
				<translate>Details</translate>
			</router-link>
		</li>
		<li>
			<router-link
				:to="{
					name: 'dash.communities.manage.design',
					query: $route.query,
				}"
				active-class="active"
				>
				<app-manage-community-nav-required :is-complete="!!community.thumbnail && !!community.header" />
				<translate>Design</translate>
			</router-link>
		</li>
		<li>
			<router-link
				:to="{
					name: 'dash.communities.manage.collaborators',
					query: $route.query,
				}"
				active-class="active"
				>
				<translate>Collaborators</translate>
			</router-link>
		</li>
	</ul>

	<app-community-perms
		required="all"
		tag="div"
		class="hidden-xs"
		v-if="$route.name !== 'dash.communities.manage.wizard-finish'"
		>
		<app-button
			v-if="community.is_hidden"
			primary
			block
			:disabled="!canPublish"
			@click="publish"
			>
			<translate>Publish</translate>
		</app-button>

		<app-button
			v-if="isWizard"
			primary
			block
			@click="saveDraft"
			>
			<translate class="visible-lg">Save Draft</translate>
			<translate class="visible-md">Save</translate>
		</app-button>
	</app-community-perms>

</div>
