@require '~styles/variables'

.ctrl-dashboard-developer-games-manage-game-media

	.media-card
		&-thumb
			position: absolute
			top: 0
			bottom: 0
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
			width: 150px

		&-content
			margin-left: 165px

		@media $media-xs
			&-thumb
				position: static
				width: auto
				height: 0
				padding-bottom: 60%
				margin-bottom: $font-size-base

			&-content
				margin-left: 0


