<div class="row">
	<div class="col-sm-4 col-sm-push-8">
		<div class="page-help" translate>dash.games.media.page_help_html</div>
	</div>

	<div class="col-sm-8 col-sm-pull-4">

		<h3 class="section-header" translate>Add Media</h3>

		<nav class="platform-list inline nav-justified">
			<ul>
				<li>
					<a ng-click="$ctrl.addTab = 'image'" ng-class="{ active: $ctrl.addTab == 'image' }">
						<span translate>Images</span>
					</a>
				</li>
				<li>
					<a ng-click="$ctrl.addTab = 'video'" ng-class="{ active: $ctrl.addTab == 'video' }">
						<span translate>dash.games.media.video_label</span>
					</a>
				</li>
				<li>
					<a ng-click="$ctrl.addTab = 'sketchfab'" ng-class="{ active: $ctrl.addTab == 'sketchfab' }">
						<span>Sketchfab</span>
					</a>
				</li>
			</ul>
		</nav>
		<br>

		<div ng-switch="$ctrl.addTab">

			<div ng-switch-when="image">
				<div class="alert alert-info full-bleed-xs">
					<div translate>dash.games.media.add.image.page_help_html</div>
					<br>
					<div>
						<a class="link-help" href="https://help.gamejolt.com/dev-media-images" target="_blank">{{ ::'dash.games.media.add.image.page_help_link' | translate }}</a>
					</div>
				</div>

				<gj-form-dashboard-game-image
					gj-game="$ctrl.game"
					gj-form-submit-handler="$ctrl.onImagesAdded( $response )"
					>
				</gj-form-dashboard-game-image>
			</div>

			<div ng-switch-when="video">
				<div class="alert alert-info full-bleed-xs">
					<div translate>dash.games.media.add.video.page_help_html</div>
					<br>
					<div>
						<a class="link-help" href="https://help.gamejolt.com/dev-media-videos" target="_blank">{{ ::'dash.games.media.add.video.page_help_link' | translate }}</a>
					</div>
				</div>

				<gj-form-dashboard-game-video
					gj-game="$ctrl.game"
					gj-form-submit-handler="$ctrl.onVideoAdded( formModel )"
					>
				</gj-form-dashboard-game-video>
			</div>

			<div ng-switch-when="sketchfab">
				<div class="alert alert-info full-bleed-xs">
					<p translate>With Sketchfab you can embed 3D content from your game in the browser. You can also view that content from any Virtual Reality headset. AMAZING!</p>
					<p>
						<a class="link-help" href="https://sketchfab.com/" target="_blank" translate>Learn more about Sketchfab...</a>
					</p>
				</div>

				<gj-form-dashboard-game-sketchfab
					gj-game="$ctrl.game"
					gj-form-submit-handler="$ctrl.onSketchfabAdded( formModel )"
					>
				</gj-form-dashboard-game-sketchfab>
			</div>
		</div>

		<div ng-if="$ctrl.mediaItems.length > 0 ">
			<hr>

			<div ng-if="$ctrl.Loader.ready( 'ui-tree' )">
				<gj-editable-accordion active-item="$ctrl.activeItem">

					<div ui-tree="{ dropped: $ctrl._onMediaSorted }"
						ui-tree-nodes
						ng-model="$ctrl.mediaItems"
						>

						<!-- track by ID was breaking -->
						<gj-editable-accordion-item
							ng-repeat="item in $ctrl.mediaItems"
							ui-tree-node
							>

							<gj-editable-accordion-item-heading>

								<div class="media-card-thumb"
									ng-style="{ 'background-image': 'url(\'' + item.img_thumbnail_med + '\')' }"
									>
								</div>

								<div class="media-card-content" ng-switch="item.media_type">

									<a class="card-remove"
										ng-click="$ctrl.removeItem( item ); $event.stopPropagation()"
										>
										<span class="jolticon jolticon-remove middle"></span>
									</a>

									<div ng-switch-when="image">
										<div class="card-title">
											<h5 ng-if="item.caption">{{ item.caption }}</h5>
											<h5 ng-if="!item.caption">
												<em translate>(no caption)</em>
											</h5>
										</div>
										<div class="card-meta">
											<div class="tag" translate>Image</div>
											<a class="btn btn-sm btn-outline"
												ng-click="$ctrl.clipboard.copy( $ctrl.Environment.baseUrl + item.getUrl( $ctrl.game ) ); $event.stopPropagation()"
												gj-tooltip="{{ 'Copy the direct link to view this image on your game page.' | translate }}"
												translate
												>
												Copy Permalink
											</a>
										</div>
									</div>

									<div ng-switch-when="video">
										<div class="card-title" >
											<h5>{{ item.title }}</h5>
										</div>
										<div class="card-meta">
											<div class="tag" translate>Video</div>
											<a class="btn btn-sm btn-outline"
												ng-click="$ctrl.clipboard.copy( $ctrl.Environment.baseUrl + item.getUrl( $ctrl.game ) ); $event.stopPropagation()"
												gj-tooltip="{{ 'Copy the direct link to view this video on your game page.' | translate }}"
												translate
												>
												Copy Permalink
											</a>
										</div>
									</div>

									<div ng-switch-when="sketchfab">
										<div class="card-meta">
											<div class="tag">Sketchfab</div>
											<a class="btn btn-sm btn-outline"
												ng-click="$ctrl.clipboard.copy( $ctrl.Environment.baseUrl + item.getUrl( $ctrl.game ) ); $event.stopPropagation()"
												gj-tooltip="{{ 'Copy the direct link to view this sketchfab model on your game page.' | translate }}"
												translate
												>
												Copy Permalink
											</a>
										</div>
									</div>

								</div>

							</gj-editable-accordion-item-heading>

							<gj-editable-accordion-item-body>

								<div ng-switch="item.media_type">
									<gj-form-dashboard-game-image
										ng-switch-when="image"
										gj-game="$ctrl.game"
										gj-game-screenshot="item"
										gj-form-submit-handler="$ctrl.onMediaEdited( formModel )"
										>
									</gj-form-dashboard-game-image>

									<gj-form-dashboard-game-video
										ng-switch-when="video"
										gj-game="$ctrl.game"
										gj-game-video="item"
										gj-form-submit-handler="$ctrl.onMediaEdited( formModel )"
										>
									</gj-form-dashboard-game-video>

									<gj-form-dashboard-game-sketchfab
										ng-switch-when="sketchfab"
										gj-game="$ctrl.game"
										gj-game-sketchfab="item"
										gj-form-submit-handler="$ctrl.onMediaEdited( formModel )"
										>
									</gj-form-dashboard-game-sketchfab>
								</div>

							</gj-editable-accordion-item-body>

						</gj-editable-accordion-item>

					</div>

				</gj-editable-accordion>
			</div>
		</div>

		<div ng-if="$ctrl.isWizard">
			<gj-form-dashboard-game-wizard-controls
				game="$ctrl.game"
				can-proceed="true"
				>
			</gj-form-dashboard-game-wizard-controls>
		</div>

	</div>
</div>
