.ctrl-dashboard-main

	@media $media-xs
		header
			text-align: center

	.header-user
		@extend .clearfix
		margin-top: 10px
		margin-bottom: $line-height-computed * 2
		color: $gray-lighter

		.user-avatar
			display: inline-block
			width: 40px
			margin-top: -5px
			margin-right: 10px
			vertical-align: middle
