<div v-if="app.user">
	<app-page-header>

		<h1>
			<translate>dash.overview.heading</translate>
		</h1>

		<p>
			{{ app.user.display_name }}
			<small>(@{{ app.user.username }})</small>
		</p>

		<app-user-avatar slot="spotlight" :user="app.user" />

		<div slot="nav">
			<nav class="platform-list inline">
				<ul>
					<li>
						<router-link
							:to="{ name: 'dash.main.overview' }"
							:class="{ active: $route.name === 'dash.main.overview' }"
							>
							<translate>Overview</translate>
						</router-link>
					</li>
					<li>
						<router-link
							:to="{ name: 'dash.main.purchases.list' }"
							:class="{ active: $route.name.indexOf( 'dash.main.purchases' ) === 0 }"
							>
							<translate>Purchases</translate>
						</router-link>
					</li>
					<li>
						<router-link
							:to="{ name: 'dash.main.site' }"
							:class="{ active: $route.name.indexOf( 'dash.main.site' ) === 0 }"
							v-app-tooltip.bottom="$gettext( `Game Jolt Sites are customizable external sites for your portfolio and games!` )"
							>
							<translate>Sites</translate>
						</router-link>
					</li>
				</ul>
			</nav>
		</div>

		<div slot="controls">
			<router-link
				class="btn btn-outline btn-block"
				:to="{
					name: 'profile.overview',
					params: { username: app.user.username },
				}"
				v-app-track-event="`dash:overview:view-profile`"
				>
				<app-jolticon icon="user" />
				<translate>dash.overview.view_profile_button</translate>
			</router-link>
		</div>

	</app-page-header>

	<router-view />
</div>
