<gj-page-header>

	<gj-page-header-content>
		<h1>{{ ::'dash.overview.heading' | translate }}</h1>
		<p>
			{{ App.user.display_name }}
			<small>(@{{ App.user.username }})</small>
		</p>
	</gj-page-header-content>

	<gj-page-header-spotlight>
		<span gj-user-avatar="App.user"></span>
	</gj-page-header-spotlight>

	<gj-page-header-nav>
		<nav class="platform-list inline">
			<ul>
				<li>
					<a ui-sref="dashboard.main.overview" ui-sref-active="active" translate>
						Overview
					</a>
				</li>
				<li>
					<a ui-sref="dashboard.main.purchases.list" ng-class="{ active: $state.includes( 'dashboard.main.purchases') }" translate>
						Purchases
					</a>
				</li>
				<li>
					<a
						ui-sref="dashboard.main.site"
						ng-class="{ active: $state.includes( 'dashboard.main.site') }"
						gj-tooltip="{{ 'Game Jolt Sites are customizable external sites for your portfolio and games!' | translate }}"
						tooltip-placement="bottom"
						>
						<span translate>Sites</span>
						&nbsp;
						<span class="tag tag-pink" translate>New!</span>
					</a>
				</li>
			</ul>
		</nav>
	</gj-page-header-nav>

	<gj-page-header-controls>
		<a class="btn btn-outline btn-block" ui-sref="profile.overview( { username: App.user.username } )" gj-track-event="dash:overview:view-profile">
			<span class="jolticon jolticon-user"></span>
			{{ ::'dash.overview.view_profile_button' | translate }}
		</a>
	</gj-page-header-controls>

</gj-page-header>

<ui-view></ui-view>
