<div class="modal-controls">
	<button class="btn btn-danger-outline" ng-click="modalCtrl.close()">
		<span class="jolticon jolticon-remove"></span>
		<span translate>system_report.send.close</span>
	</button>
</div>

<div class="modal-header">
	<h2 class="modal-title" translate>system_report.send.heading</h2>
</div>

<div class="modal-body">
	<p class="help-block" translate>
		system_report.send.help
	</p>

	<p class="help-block" translate>
		system_report.send.issue_tracker
	</p>

	<gj-client-form-system-report
		gj-form-submit-handler="modalCtrl.onSubmit()">
	</gj-client-form-system-report>
</div>
