<gj-popover class="search-autocomplete-popover popover-dark"
	popover-id="search-autocomplete"
	popover-trigger-manually="true"
	popover-append-to-body="true"
	popover-position-by="position"
	popover-track-element-width="#search-input-{{ searchCtrl.id }}"
	>

	<!-- Regular Search -->
	<div ng-if="ctrl.mode == 'search'">

		<!-- View All -->
		<div class="list-group">
			<a class="list-group-item" ng-class="{ active: ctrl.selected === 0 }" ng-click="ctrl.viewAll()">
				{{ ::'search.autocomplete.show_all' | translate }}
			</a>
		</div>

		<!-- Installed Games -->
		<div class="popover-heading" ng-if="ctrl.libraryGames.length">
			<span class="jolticon jolticon-download-box"></span>
			{{ ::'search.autocomplete.installed_heading' | translate }}
		</div>
		<div class="list-group thin" ng-if="ctrl.libraryGames.length">
			<a class="list-group-item"
				ng-repeat="libraryGame in ctrl.libraryGames track by libraryGame.id"
				ng-class="{ active: ctrl.items[ ctrl.selected - 1 ] === libraryGame }"
				ng-click="ctrl.selectLibraryGame( libraryGame )"
				>

				<div ng-if="Environment.isClient" class="pull-right">
					<div oc-lazy-load="{ files: [ '/app/modules/ua-parser.js' ] }">
						<gj-client-game-buttons label="installed" game="libraryGame._game" small-variant="true"></gj-client-game-buttons>
					</div>
				</div>

				<span class="search-game-thumbnail">
					<img gj-img-responsive="{{ ::libraryGame.img_thumbnail }}" alt="{{ ::libraryGame.title }}">
				</span>

				{{ ::libraryGame.title }}
			</a>
		</div>

		<!-- Games -->
		<div class="popover-heading" ng-if="ctrl.games.length">
			<span class="jolticon jolticon-game"></span>
			{{ ::'search.autocomplete.games_heading' | translate }}
		</div>
		<div class="list-group thin" ng-if="ctrl.games.length">
			<a class="list-group-item"
				ng-repeat="game in ctrl.games track by game.id"
				ng-class="{ active: ctrl.items[ ctrl.selected - 1 ] === game }"
				ng-click="ctrl.selectGame( game )"
				>

				<div ng-if="Environment.isClient" class="pull-right">
					<div oc-lazy-load="{ files: [ '/app/modules/ua-parser.js' ] }">
						<gj-client-game-buttons label="not-installed" game="game" small-variant="true"></gj-client-game-buttons>
					</div>
				</div>

				<div class="pull-right">
					<gj-game-compat-icons gj-game="game"></gj-game-compat-icons>
				</div>

				<span class="search-game-thumbnail">
					<img gj-img-responsive="{{ ::game.img_thumbnail }}" alt="{{ ::game.title }}">
				</span>

				{{ ::game.title }}
			</a>
		</div>

		<!-- Users -->
		<div class="popover-heading" ng-if="ctrl.users.length">
			<span class="jolticon jolticon-user"></span>
			{{ ::'search.autocomplete.users_heading' | translate }}
		</div>
		<div class="list-group thin" ng-if="ctrl.users.length">
			<a class="list-group-item"
				ng-repeat="user in ctrl.users track by user.id"
				ng-class="{ active: ctrl.items[ ctrl.selected - 1 ] === user }"
				ng-click="ctrl.selectUser( user )"
				>
				<img ng-src="{{ ::user.img_avatar }}" class="search-user-avatar" alt="Avatar for {{ ::user.display_name }}">
				{{ ::user.display_name }}
			</a>
		</div>
	</div>

	<!-- Commands -->
	<div ng-if="ctrl.mode == 'command'">
		<div class="list-group thin" ng-if="ctrl.filteredCommands.length">
			<a class="list-group-item"
				ng-repeat="command in ctrl.filteredCommands track by command.keyword"
				ng-class="{ active: ctrl.selected === $index }"
				ng-click="ctrl.selectCommand( command )"
				>
				<span class="tag">{{ ::command.keyword }}</span>
				<span class="small text-muted">{{ ::command.description }}</span>
			</a>
		</div>

		<div class="alert alert-warning" ng-if="!ctrl.filteredCommands.length">
			{{ ::'search.autocomplete.no_commands' | translate }}
		</div>
	</div>

</gj-popover>
