@require '~styles/variables'

.search-autocomplete-popover
	.search-user-avatar, .search-game-thumbnail
		float: left
		margin-right: 10px
		background-color: $dark-theme-bg-offset
		border: 0

	.search-game-thumbnail
		&, & > img
			height: 20px
			width: @height * (16 / 9)

	.search-user-avatar
		width: 20px
		height: 20px

	.game-compat-icons
		margin-right: 15px

	.progress
		display: inline-block
		margin: 0
		width: 75px
		vertical-align: middle

		@media $media-md
			width: 100px

		@media $media-lg
			width: 150px

	.client-game-buttons
		.tag
			margin: 0

		// In list-group-items this gets floated.
		.tag-notice
			float: none

	.client-install-progress-info
		display: none

	.client-install-progress
		display: inline-block
