<div
	class="game-preview"
	:class="{
		'game-preview-active': this.isActive
	}"
	@click="onClick">
	<div class="thumbnail-container">
		<app-game-thumbnail-img
			:game="game"
			/>
	</div>
	<div class="user-container">
		<app-user-avatar
			:user="game.developer"
			/>
	</div>
	<span class="developer-name text-muted" :title="developerTag">
		<span
			v-if="game.developer.is_verified"
			class="developer-verified"
			:title="$gettext('Verified')"
			>
			<app-jolticon
				icon="verified"
				/>
		</span>
		{{game.developer.display_name}}
	</span>
</div>
