@require '~styles/variables'
@require '~styles-lib/mixins'

.game-preview
	position: relative
	padding: 8px
	margin-left: 8px
	margin-right: 8px
	margin-bottom: 16px
	width: 178px
	overflow: hidden
	cursor: pointer
	pressy()
	height: 148px;

.game-preview-active
	theme-prop('border-color', 'highlight')
	border-style: solid
	border-width: 2px
	rounded-corners()

.user-container
	display: flex
	position: absolute
	margin-left: 2px
	margin-top: -16px
	z-index: 2

.user-container > span
	width: 40px
	display: block;
	position: relative;

.game-name
	margin-left: 48px
	margin-top: 2px
	display: inline-block
	font-size: 13px
	margin-right: 8px
	max-height: 3em
	overflow: hidden

.developer-verified
	display: inline-block
	z-index: 3
	position: absolute
	margin-left: 24px
	margin-top: 10px
	theme-prop('color', 'highlight')
