.nav-pane-join-component

	&-buttons
		margin: $line-height-computed 0
		text-align: center

	.alert::before
		caret( color: $gray-dark, direction: 'down', size: 7px )
		content: ''

	img
		display: block
		margin: 5px auto 0 auto

#shell-nav-pane

	/**
	 * Scroll just the nav container because the user box is anchored to the bottom.
	 * This ensures that the user box is always in view.
	 */
	.shell-nav-container
		@extend .scrollable
		padding-top: $font-size-base

/**
 * Nav menu items.
 */
$shell-nav-item-spacing = 6px

ul.shell-nav
	@extend .list-unstyled
	font-size: $font-size-small
	margin-bottom: $font-size-base

	.tag
	.badge
		float: right
		margin-left: 5px

	.jolticon
		margin-left: 10px
		margin-right: 10px
		vertical-align: text-top
		color: $gray-light

		// // Have to override any on-hover colors.
		// &.active
		// 	color: $white !important

	// Firefox has a bug if you have a left floated, right floated, and then text-overflow ellipsis content in the middle
	// it will push the right float down. We can get around it by putting the right float first, but then the content is on top
	// of the right floated. We do the z-indexing so that at least it's on top.
	// Example: Chat user list with notification tags.
	.tag
	.badge
	.jolticon
		position: relative
		z-index: 1

	small
		color: $text-muted

	> li
		margin-bottom: 0

		> a
			text-overflow()
			position: relative
			display: block
			color: $gray-light
			user-select: none
			padding: $shell-nav-item-spacing 7px

			&::before
				position: absolute
				content: ''
				top: 0
				left: 0
				bottom: 0
				width: 3px
				background-color: $gj-green
				transform: translate( -4px, 0 )
				transition: transform 300ms $strong-ease-out

			&:hover
				color: $white
				background-color: $gray-darker

				// .jolticon
				// 	color: $gray-lightest

			&.no-icon
				padding-left: 15px

			&.active
				&
				&:hover
					color: $white

					&::before
						transform: translate( 0, 0 )

					.jolticon
						color: $white

					.tag
						@extend .tag-pink

					.badge
						@extend .badge-active

// Nested ULs
ul.shell-nav ul
	display: none
	margin-top: $font-size-base
	margin-bottom: $font-size-base

	&.active
		display: block

	> li > a
		padding-top: 3px
		padding-bottom: 3px
		padding-left: 46px
		color: $gray-light

		&:hover
			background-color: transparent

		&.active
			&
			&:hover
				color: $gj-green
				background-color: transparent

/**
 * Nav headings
 */
.nav-heading
	display: block
	font-family: $font-family-heading
	font-size: $font-size-tiny
	letter-spacing: 0.1em
	line-height: 1
	text-transform: uppercase
	color: $gray-lightest
	margin-top: $font-size-base * 2
	margin-bottom: ($font-size-base / 2)
	margin-left: 15px
	margin-right: 7px

	&.first
		margin-top: $font-size-base

	> small
		float: right
		color: $gray-light
		font-weight: normal

	> .badge
		float: right
		margin-top: -3px
		margin-left: 5px

	a&:hover
		color: $white
		text-decoration: underline

/**
 * Nav Wells
 */
.nav-well
	margin: 0 15px $font-size-base 15px
	font-size: $font-size-tiny
	color: $gray-lighter

/**
 * Alert Panes
 */
.shell-nav-pane-content .alert
	padding-left: 15px
	padding-right: 15px

/**
 * Nav controls
 */
.nav-controls
	padding: 0 7px 0 15px

	> .i-button
	> .form-control
	> .btn
		margin-bottom: $font-size-base

	> .form-control
		placeholder( $gray-light )
		border: 0
		font-size: $font-size-small
		background-color: $gray-lighter
		color: $gray-darkest

		&:focus
			background-color: $gray-lightest
