<header
	class="section page-header"
	:class="{ 'has-controls': hasControls, 'has-spotlight': hasSpotlight }"
	>

	<section
		class="section page-header-cover fill-darker"
		:class="{ 'has-cover-image': !!coverMediaItem }"
		>

		<app-media-item-cover
			v-if="!!coverMediaItem"
			:media-item="coverMediaItem"
			:max-height="coverMaxHeight"
			/>

		<div
			class="page-header-cover-buttons"
			v-if="hasCoverButtons"
			>
			<slot name="cover-buttons" />
		</div>

		<div class="container">

			<div class="row">
				<div :class="colClasses">
					<div class="page-header-content">
						<slot />
					</div>
				</div>
			</div>

			<div
				class="page-header-spotlight"
				:class="{ dark: spotlightDark }"
				v-if="hasSpotlight"
				>
				<slot name="spotlight" />
			</div>

		</div>
	</section>

	<!--TODO-->
	<!--<div v-if="hasNav && !hideNav" gj-auto-scroll-anchor>-->
	<div v-if="hasNav && !hideNav">
		<app-scroll-affix :should-affix="shouldAffixNav && Screen.isLg && Screen.height > 750">
			<section class="section page-header-nav">
				<div class="container">

					<div class="row">
						<div :class="colClasses">

							<div class="row">
								<div v-if="hasControls" class="col-md-4 col-md-push-8">
									<div class="page-header-controls">
										<slot name="controls" />
									</div>
								</div>
								<div
									:class="{
										'col-md-8 col-md-pull-4': hasControls,
										'col-xs-12': !hasControls,
									}"
									>
									<slot name="nav" />
								</div>
							</div>

						</div>
					</div>

				</div>
			</section>
		</app-scroll-affix>
	</div>

</header>
