// Makes styling easier.
// This way they can attach stuff like "text-align: right" to these elements.
gj-page-header-content
gj-page-header-spotlight
gj-page-header-nav
gj-page-header-controls
	display: block

.page-header

	$page-header-spotlight-breakpoint = media( min: $screen-sm-min, max: 1450px )

	// Bootstrap has styling on .page-header.
	// Gotta override.
	padding: 0
	margin: 0
	border-bottom: 0

	&-cover
		@extend .fill-darker
		position: relative
		padding-bottom: 0

		> .container
			position: relative

		&-buttons
			margin-bottom: $grid-gutter-width
			text-align: center

		&.has-cover-image
			padding: 0

			.page-header-cover-buttons
				position: absolute
				margin-bottom: 0
				left: 0
				right: 0
				top: 0
				bottom: 60px
				display: flex
				align-items: center
				justify-content: center

				.btn
					margin: 0 5px

			.page-header-content
				text-shadow: 1px 1px 1px rgba( $black, 0.5 )

				@media $media-sm-up
					position: absolute
					bottom: 0
					left: ($grid-gutter-width / 2)
					right: @left

			.text-muted
				color: $gray-lightest

			.link-muted
				color: rgba( $white, 0.6 )

			.tag
			.user-dogtag
				text-shadow: none

			.meter-blip
				background-color: rgba( $white, 0.5 )
				box-shadow: 1px 1px 1px rgba( $black, 0.3 )

			.meter-low .meter-blip-filled
				background-color: $gj-pink

			.meter-mid .meter-blip-filled
				background-color: $white

			.meter-high .meter-blip-filled
				background-color: $gj-green

	&-content
		padding-bottom: 10px

		// On XS it behaves more like a well.
		@media $media-xs
			padding-top: 15px
			padding-bottom: $grid-gutter-width-xs

		h1, h2, h3
			margin: 0

		a
			color: $white !important

			&:hover
				color: $white !important
				text-decoration: underline

		.meter
			display: inline-block
			vertical-align: middle

	&-spotlight
		position: absolute
		width: 100px
		height: 100px
		bottom: -((@width / 2) + 5px)
		left: -(@width + ($grid-gutter-width / 2))
		border: 5px solid $white
		border-radius: 50%
		background-color: $white
		z-index: 2
		display: flex
		align-items: center
		justify-content: center
		overflow: hidden

		&.dark
			background-color: $gray-darker
			border-color: $gray

		img
			max-width: 100%
			height: auto

	&-nav
		position: relative
		padding: 0

		nav
			margin-top: 11px !important

		@media $media-sm-up
			// On bigger sizes we need to put it above the media bar, otherwise it's below.
			// If we do this in XS as well, any of the popovers in it will get covered by the
			// full-page shade that shows.
			z-index: 1

		@media $media-md-up
			height: 65px

			// Force on to GPU.
			// For some reason Chrome wasn't repainting when it would disappear.
			// This fixes the Chrome bug. Odd.
			transform: translate3d( 0, 0, 0 )

			.platform-list
				margin-top: 11px !important

			&.gj-scroll-affixed
				position: fixed
				background-color: $gray-dark
				margin-top: $shell-top-nav-height !important
				border-bottom: 2px solid $gray
				z-index: $zindex-nav-scroll-affixed

				nav
					margin-left: 0

	&-controls
		@extend .clearfix
		margin-top: 14px
		margin-bottom: $grid-gutter-width-xs

		@media $media-md-up
			margin-bottom: 0

	&.has-controls &

		@media $media-sm

			&-controls
				margin-left: 100px + ($grid-gutter-width / 2)

			&-nav nav
				margin-left: 0 !important

		// For when the page gets too small to float the spotlight off the left edge.
		@media $page-header-spotlight-breakpoint

			&-spotlight
				left: 0

			&-content
				padding-left: 100px + ($grid-gutter-width / 2)

			&-nav nav
				margin-left: 100px + ($grid-gutter-width / 2)
