<header class="section page-header"
	ng-class="{ 'has-controls': $ctrl.hasControls }"
	>

	<section class="section page-header-cover"
		ng-class="{ 'has-cover-image': !!$ctrl.coverMediaItem }"
		>

		<gj-media-item-cover
			ng-if="!!$ctrl.coverMediaItem"
			media-item="$ctrl.coverMediaItem"
			max-height="$ctrl.coverMaxHeight"
			should-parallax="true"
			>
		</gj-media-item-cover>

		<div class="page-header-cover-buttons"
			ng-if="::$ctrl.hasCoverButtons"
			ng-transclude="coverButtons"
			>
		</div>

		<div class="container">

			<div class="row">
				<div ng-class="$ctrl.colClasses ? $ctrl.colClasses : 'col-xs-12'">

					<div class="page-header-content" ng-transclude="content"></div>

				</div>
			</div>

			<div class="page-header-spotlight"
				ng-class="{ dark: $ctrl.spotlightDark }"
				ng-if="::$ctrl.hasSpotlight"
				ng-transclude="spotlight"
				>
			</div>

		</div>
	</section>

	<div ng-if="$ctrl.hasNav && !$ctrl.hideNav" gj-auto-scroll-anchor>
		<section class="section page-header-nav"
			gj-scroll-affix
			should-affix="$ctrl.shouldAffixNav && $ctrl.screen.isLg && $ctrl.screen.height > 750"
			>
			<div class="container">

				<div class="row">
					<div ng-class="$ctrl.colClasses ? $ctrl.colClasses : 'col-xs-12'">

						<div class="row">
							<div ng-if="::$ctrl.hasControls" class="col-md-4 col-md-push-8">
								<div class="page-header-controls" ng-transclude="controls"></div>
							</div>
							<div ng-class="::{ 'col-md-8 col-md-pull-4': $ctrl.hasControls, 'col-xs-12': !$ctrl.hasControls }">
								<div ng-transclude="nav"></div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</section>
	</div>

</header>
