@require '~styles/variables'
@require '~styles-lib/mixins'

.page-header
	$spotlight-size = $page-header-spotlight-size + $page-header-spotlight-margin
	// Double the spotlight size since it will effectively take up the left AND
	// right side of screens since content is centered.
	$screen-lg-full = $screen-lg-min + $shell-sidebar-width + ($spotlight-size * 2)
	$page-header-spotlight-breakpoint = media(min: $screen-sm-min, max: $screen-lg-full)

	&-cover.has-cover-image
		.page-header-cover-buttons
			.btn
				margin: 0 5px

		.text-muted
			color: $gray-lightest

		.link-muted
			color: rgba($white, 0.6)

		.tag, .user-dogtag
			text-shadow: none

		.meter-blip
			background-color: rgba($white, 0.5)
			box-shadow: 1px 1px 1px rgba($black, 0.3)

		.meter-low .meter-blip-filled
			background-color: var(--theme-pink)

		.meter-mid .meter-blip-filled
			background-color: $white

		.meter-high .meter-blip-filled
			background-color: var(--theme-green)

	&-content
		h1, h2, h3
			margin: 0

			small
				color: $white

		a
			color: $white !important

			&:hover
				color: $white !important
				text-decoration: underline

		.meter
			display: inline-block
			vertical-align: middle

	&-nav
		nav
			margin-top: 11px !important

		.stat-list
			margin-bottom: 0
			margin-top: 7px

		nav.breadcrumb
			margin-bottom: 11px

		@media $media-lg
			.platform-list
				margin-top: 11px !important

			../ .gj-scroll-affixed
				background-color: $gray
				border-bottom: 2px solid $gray-darker
				z-index: $zindex-nav-scroll-affixed
				margin-top: $shell-top-nav-height !important

				#shell.has-banner &
					margin-top: $shell-top-nav-height * 2 !important

				nav
					margin-left: 0

	&.has-spotlight &
		@media $media-sm-md
			&-controls
				margin-left: $spotlight-size

		// For when the page gets too small to float the spotlight off the left edge.
		@media $page-header-spotlight-breakpoint
			&-spotlight
				left: $page-header-spotlight-margin

			&-content
				padding-left: $spotlight-size

			&-nav nav
				margin-left: $spotlight-size
