@require '~styles/variables'
@require '../../../lib/gj-lib-client/stylus/common/mixins'

.page-header

	// Bootstrap has styling on .page-header.
	// Gotta override.
	padding: 0
	margin: 0
	border-bottom: 0

	&-cover
		position: relative
		padding-bottom: 0

		> .container
			position: relative

		&-buttons
			margin-bottom: $grid-gutter-width
			text-align: center

		&.has-cover-image
			padding: 0

			.page-header-cover-buttons
				position: absolute
				margin-bottom: 0
				left: 0
				right: 0
				top: 0
				bottom: 60px
				display: flex
				align-items: center
				justify-content: center

			.page-header-content
				text-shadow: 1px 1px 1px rgba($black, 0.5)

				@media $media-sm-up
					position: absolute
					bottom: 0
					left: ($grid-gutter-width / 2)
					right: @left

	&-content
		padding-bottom: 10px

		// On XS it behaves more like a well.
		@media $media-xs
			padding-top: 15px
			padding-bottom: $grid-gutter-width-xs

	&-spotlight
		position: absolute
		width: 100px
		height: 100px
		bottom: -((@width / 2) + 5px)
		left: -(@width + ($grid-gutter-width / 2))
		border: 5px solid $white
		border-radius: 50%
		background-color: $white
		z-index: 2
		display: flex
		align-items: center
		justify-content: center
		overflow: hidden

		&.dark
			background-color: $gray-darker
			border-color: $gray

		img
			max-width: 100%
			height: auto

	&-nav
		position: relative
		padding: 0

		@media $media-sm-up
			// On bigger sizes we need to put it above the media bar, otherwise it's below.
			// If we do this in XS as well, any of the popovers in it will get covered by the
			// full-page shade that shows.
			z-index: $zindex-page-header-nav

		@media $media-md-up
			height: 63px

			// Force on to GPU.
			// For some reason Chrome wasn't repainting when it would disappear.
			// This fixes the Chrome bug. Odd.
			transform: translate3d(0, 0, 0)

	&-controls
		clearfix()
		margin-top: 13px
		margin-bottom: $grid-gutter-width-xs

		@media $media-md-up
			margin-bottom: 0
