
.page-header
	$spotlight-size = $page-header-spotlight-size + $page-header-spotlight-margin
	$screen-lg-full = $screen-lg-min + ($spotlight-size * 2)
	$page-header-spotlight-breakpoint = media(min: $screen-sm-min, max: $screen-lg-full)

	// NOTE: Removing the `&-controls` styling seems to cause some issues with
	// selectors like this. Leaving comments so class names are at easier to
	// find at least.
	&.has-spotlight &
		@media $media-sm-md
			// .page-header-controls
			&-controls
				margin-left: $spotlight-size

		// For when the page gets too small to float the spotlight off the left edge.
		@media $page-header-spotlight-breakpoint
			// .page-header-spotlight
			&-spotlight
				left: $page-header-spotlight-margin

			// .page-header-content
			&-content
				padding-left: $spotlight-size

			// .page-header-nav nav
			&-nav nav
				margin-left: $spotlight-size

.page-header-cover.has-cover-image
	.page-header-cover-buttons
		.button
			margin: 0 5px

	.text-muted
		theme-prop('color', 'lightest')

	.link-muted
		color: rgba($white, 0.6)

	.tag
	.user-dogtag
		text-shadow: none

	.meter-blip
		background-color: rgba($white, 0.5)
		box-shadow: 1px 1px 1px rgba($black, 0.3)

	.meter-blip-filled
		background-color: $white

.page-header-content
	h1
	h2
	h3
		margin: 0

		small
			color: $white

	a
		color: $white !important

		&:hover
			color: $white !important
			text-decoration: underline

	.meter
		display: inline-block
		vertical-align: middle

// NOTE: Removing the `&-nav` selector breaks the `../ .gj-scroll-affixed`
// selector. Leaving this comment so we can easily search the class name, and so
// we check scroll-affixed styling before changing.
.page-header
	// .page-header-nav
	&-nav
		nav
			margin-top: 11px !important

		nav.breadcrumb
			margin-bottom: 11px

		@media $media-lg
			.stat-list
				margin-top: 7px

			.platform-list
				margin-top: 11px !important

			../ .gj-scroll-affixed
				elevate-2()
				theme-prop('border-bottom-color', 'darker')
				change-bg('gray')
				border-bottom-width: 2px
				border-bottom-style: solid
				z-index: $zindex-nav-scroll-affixed

				nav
					margin-left: 0
