<div>

	<iframe
		id="download-frame"
		class="hidden"
		nwdisable
		nwfaketop
		v-if="src"
		:src="src"
		>
	</iframe>

	<div id="page-ad-scroll">
		<section class="ad-section" v-if="!GJ_IS_CLIENT && game._should_show_ads && !Screen.isXs">
			<app-ad size="leaderboard" :resource="game" />
		</section>

		<section class="section">
			<div class="container">

				<div class="row">
					<div class="col-sm-7 col-md-8 col-lg-7">

						<h2 class="section-header">
							<translate
								:translate-params="{ game: game.title }"
								>
								Downloading soundtrack for %{ game }...
							</translate>
						</h2>

						<p class="small text-muted">
							<translate>game.download.soundtrack.downloading_wait_message</translate>
						</p>

						<!--
							Set visibility so that the page height doesn't
							change when we hide. We don't want to change if
							they're trying to click something.
						-->
						<app-loading
							:style="{ visibility: src ? 'hidden': undefined }"
							:hide-label="true"
							/>

					</div>

					<!--
						Will overflow a little on md, but what can ya do,
						amirite?
					-->
					<div class="col-sm-5 col-md-4 col-lg-offset-1 text-right" v-if="!GJ_IS_CLIENT && game._should_show_ads && !Screen.isXs">
						<app-ad size="rectangle" :resource="game" />
					</div>
				</div>

			</div>
		</section>
	</div>

</div>
