<iframe nwdisable nwfaketop id="download-frame" class="hidden" ng-if="soundtrackCtrl.src" ng-src="{{ soundtrackCtrl.src }}"></iframe>

<div id="page-ad-scroll">
	<section class="ad-section" ng-if="!Environment.isClient && gameCtrl.game._should_show_ads && !Screen.isXs">
		<gj-ad size="leaderboard" resource="Game" [resource-id]="::gameCtrl.game.id"></gj-ad>
	</section>

	<section class="section">
		<div class="container">

			<div class="row">
				<div class="col-sm-7 col-md-8 col-lg-7">

					<h2 class="section-header" translate translate-params-game="gameCtrl.game.title">
						game.download.soundtrack.downloading_label
					</h2>
					<p class="small text-muted">{{ ::'game.download.soundtrack.downloading_wait_message' | translate }}</p>

				</div>

				<!--
					Will overflow a little on md, but what can ya do, amirite?
				-->
				<div class="col-sm-5 col-md-4 col-lg-offset-1 text-right" ng-if="!Environment.isClient && gameCtrl.game._should_show_ads && !Screen.isXs">
					<gj-ad size="rectangle" resource="Game" [resource-id]="::gameCtrl.game.id"></gj-ad>
				</div>
			</div>

		</div>
	</section>
</div>
