<iframe nwdisable nwfaketop id="download-frame" class="hidden" ng-if="soundtrackCtrl.src" ng-src="{{ soundtrackCtrl.src }}"></iframe>

<div id="page-ad-scroll">
	<gj-ad-placement [resource]="gameCtrl.game"></gj-ad-placement>

	<section class="section">
		<div class="container">

			<div class="row">
				<div class="col-md-8 col-lg-7">

					<h2 class="section-header" translate translate-params-game="gameCtrl.game.title">
						game.download.soundtrack.downloading_label
					</h2>
					<p class="small text-muted">{{ ::'game.download.soundtrack.downloading_wait_message' | translate }}</p>

				</div>

				<!--
					Will overflow a little on md, but what can ya do, amirite?
				-->
				<div class="col-md-4 col-lg-5 text-right" ng-if="Screen.isDesktop">
					<gj-ad size="rectangle" [resource]="gameCtrl.game"></gj-ad>
				</div>
			</div>

		</div>
	</section>
</div>
