.forum-channel-list-item
	margin-bottom: $font-size-base * 2

	&-title
		font-weight: bold
		margin: 0

		@media $media-xs
			margin-bottom: 10px

	&-latest-topic
		&-title
			text-overflow()
			font-weight: bold
