<fieldset>

	<legend>
		<span v-if="hasSignedDeveloperAgreement" class="pull-right done-icon" v-app-tooltip="$gettext( `You have completed this section.` )">
			<app-jolticon icon="check big" />
		</span>
		Developer Distribution Agreement
	</legend>

	<div class="form-group" v-if="hasSignedDeveloperAgreement">
		<p class="small">You have agreed to our <a ng-href="{{ agreementLink }}" target="_blank">Distribution Agreement</a> on {{ account.tos_signed_developer_timestamp | date:'medium' }}.</p>
	</div>

	<div v-if="!hasSignedDeveloperAgreement">

		<!--
			If they accepted a different agreement, then show that they can accept this one too.
		-->
		<div class="form-group" v-if="hasSignedSomeAgreement">
			<div class="small">
				<div translate>If you would like to sell games on the Marketplace, you must accept the Distribution Agreement.</div>
				<div>
					<a class="link-help" ui-sref="landing.marketplace" translate>
						Learn more
					</a>
				</div>
			</div>
			<br>

			<button
				class="btn btn-primary-outline"
				ng-click="showAgreement = true"
				v-if="!showAgreement"
				translate
				>
				Show Developer Distribution Agreement
			</button>
		</div>

	</div>

	<div class="form-group" v-if="hasSignedOldDeveloperAgreement">
		<div class="alert alert-warning">
			<span translate>You have signed an older version of the Distribution Agreement. To be able to include your games in the Partner Program you must accept the new agreement.</span>
			<a ui-sref="landing.partners" translate>
				Learn more about the Partner Program
			</a>
		</div>

		<button
			class="btn btn-primary-outline"
			ng-click="showAgreement = true"
			v-if="!showAgreement"
			translate
			>
			Show New Distribution Agreement
		</button>

		<!--
			Show a diff between the terms.
		-->
		<div class="alert alert-info" v-if="showAgreement">
			<p>We publicly track and version all of our terms. <a href="https://github.com/gamejolt/terms/commit/6306eabf457f19ae6a642af23e561b3e675aed55?diff=unified&amp;short_path=884d38f#diff-884d38fc8fdab64ff118865dab13fa74" target="_blank">See the "diff" between the version you signed previously and the current version.</a></p>
		</div>
	</div>

	<div class="form-group" v-if="shouldShowAgreement">
		<div class="tos-scroller overlay-scrollbar overlay-scrollbar-light">
			<div ng-include="termsTemplate"></div>
		</div>
		<br>

		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="checked">
				By checking this box and clicking the button below marked "I Agree," I agree that I have read, understand, and agree to be bound by the terms of this agreement.
			</label>
		</div>
		<br>

		<button
			class="btn btn-success-outline"
			ng-disabled="!checked"
			ng-click="onAccept()"
			>
			I Agree
		</button>
	</div>

</fieldset>
