<form gj-form="formModel" name="forumPostForm">

	<div oc-lazy-load="{ files: [ '/app/modules/codemirror.js' ] }">
		<form-group class="no-animate" name="content_markdown" label="Post Content" hide-label="true">

			<div
				form-markdown-editor
				preview-class="forum-post-body"
				markdown-preview-url="/web/forums/posts/preview"
				markdown-mode="forums"
				>
			</div>

			<control-errors></control-errors>

		</form-group>
	</div>

	<button gj-form-submit-button class="btn" ng-disabled="!forumPostForm.$valid" ng-click="onSubmit()">
		<span class="jolticon" ng-class="method == 'add' ? 'jolticon-add' : 'jolticon-edit'"></span>
		<span ng-if="method == 'add'">Add Reply</span>
		<span ng-if="method == 'edit'">Save</span>
	</button>

	<button class="btn btn-danger-outline" ng-if="method == 'edit' || replyTo" ng-click="onCancel()">
		Cancel
	</button>

</form>
