<app-form name="forumPostForm">

	<app-form-group
		class="no-animate"
		name="content_markdown"
		:label="$gettext( 'Post Content' )"
		:hide-label="true"
		>

		<!--<div
			form-markdown-editor
			preview-class="forum-post-body"
			markdown-preview-url="/web/forums/posts/preview"
			markdown-mode="forums"
			>
		</div>-->

		<app-form-control
			type="text"
			/>

		<app-form-control-errors />

	</app-form-group>

	<app-form-button :icon="method" class="btn-outline">
		<translate v-if="method === 'add'">Add Reply</translate>
		<translate v-if="method === 'edit'">Save</translate>
	</app-form-button>

	<button
		class="btn btn-danger-outline"
		v-if="method === 'edit' || replyTo"
		@click="onCancel"
		>
		<translate>Cancel</translate>
	</button>

</app-form>
