@require '../../variables'
@require '~styles-lib/mixins'

.devlog-post-sketchfab
	&-embed
		margin-top: $-item-padding-xs
		rounded-corners()
		theme-prop('background-color', 'bg-offset')
		position: relative

		@media $media-sm-up
			margin-top: $-item-padding

		a
			display: block

		&-thumb
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
