<fieldset>
	<legend>
		<span ng-if="$ctrl.user.paypal_id" class="pull-right done-icon" tooltip="{{ 'You have completed this section.' | translate }}">
			<span class="jolticon jolticon-check big"></span>
		</span>
		<span translate>PayPal Account</span>
	</legend>

	<div class="form-group">

		<p class="small" translate>
			We currently use PayPal for automatic monthly deposits. You will also be able to withdraw your revenue at any time through this linked account.
		</p>

		<div ng-if="$ctrl.user.paypal_id">
			<label class="control-label" translate>Current PayPal Account</label>
			<div class="form-static">{{ $ctrl.user.paypal_email_address }}</div>
			<br>
		</div>

		<button
			class="btn btn-primary-outline"
			ng-click="$ctrl.linkPayPal()"
			>
			<span ng-if="!$ctrl.user.paypal_id" translate>Link PayPal Account</span>
			<span ng-if="$ctrl.user.paypal_id" translate>Change PayPal Account</span>
		</button>
	</div>

</fieldset>
