@require '../../../components/community/channel/card/variables'

$sidebar-padding = 12px
$channel-sidebar-width = $card-width + $sidebar-padding * 2
$offset-width = 110px
$content-width = 650px
// Subtracting 31px gives us the exact content
// width we previously had on all breakpoints.
$content-basis = $content-width - $offset-width - 31px
$sidebar-width = 365px
$sidebar-basis = $sidebar-width - $offset-width
