<button
	class="game-follow-widget btn"
	:class="[ !game.is_following ? 'btn-outline' : 'btn-success active', sparse ? 'btn-sparse': '' ]"
	v-app-auth-required
	:disabled="isProcessing"
	@click="onClick"
	v-app-tooltip.bottom="!game.is_following ? $gettext( 'Follow this game to add it to your Library and be notified when new posts are added.' ) : undefined"
	v-app-track-event="`game-follow:${!game.is_following ? 'follow' : 'unfollow'}`"
	>
	<span class="btn-badge">
		{{ game.follower_count | number }}
	</span>
	<span v-if="!game.is_following">
		<app-jolticon icon="subscribe" />
		<translate v-if="!sparse">Follow Game</translate>
		<translate v-if="sparse">Follow</translate>
	</span>
	<span v-if="game.is_following">
		<app-jolticon icon="subscribed" />
		<translate v-if="!sparse">Following</translate>
	</span>
</button>
