<button
	ng-click="$ctrl.onClick()"
	class="game-follow-widget btn"
	ng-class="[ (!$ctrl.game.is_following ? 'btn-outline' : 'btn-success active'), ($ctrl.sparse ? 'btn-sparse': '') ]"
	ng-disabled="$ctrl.isProcessing"
	gj-tooltip="{{ !$ctrl.game.is_following ? $ctrl.followTooltip : undefined }}"
	tooltip-placement="bottom"
	gj-track-event="game-follow:{{ !$ctrl.game.is_following ? 'follow' : 'unfollow' }}"
	ng-switch="!!$ctrl.game.is_following"
	>
	<span class="btn-badge">
		{{ $ctrl.game.follower_count | number }}
	</span>
	<span ng-switch-when="false">
		<span class="jolticon jolticon-subscribe"></span>
		<span ng-if="::!$ctrl.sparse" translate>Follow Game</span>
		<span ng-if="::$ctrl.sparse" translate>Follow</span>
	</span>
	<span ng-switch-when="true">
		<span class="jolticon jolticon-subscribed"></span>
		<span ng-if="::!$ctrl.sparse" translate>Following</span>
	</span>
</button>
