<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 pull-right">
				<app-broadcast-card
					v-if="latestBroadcast"
					:post="latestBroadcast"
					/>

				<template v-if="!Screen.isMobile">
					<h4 class="section-header">
						<translate>Featured Games</translate>
					</h4>

					<app-game-list-placeholder
						v-if="!featuredGames.length"
						:num="5"
						/>
					<app-game-list
						v-else-if="featuredGames.length"
						:games="featuredGames.slice(0, 7)"
						event-label="activity"
						/>
				</template>

			</div>
			<div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1 pull-left">

				<app-activity-feed-placeholder v-if="!feed || !feed.isBootstrapped" />
				<template v-else>
					<div class="alert" v-if="!feed.hasItems">
						<translate>You don't have any activity yet. Follow games to stay up to date on their latest development!</translate>
					</div>
					<app-activity-feed
						v-else
						:feed="feed"
						show-ads
						:new-count="unreadActivityCount"
						@load-new="loadedNew()"
						/>
				</template>

			</div>
		</div>
	</div>
</section>
