
$-control-size = 40px

.player-control
.player-control-button
	cursor: pointer

.player-control-button
	height: $-control-size
	width: $-control-size
	display: inline-flex
	justify-content: center
	align-items: center

	.jolticon
		font-size: $jolticon-size * 1.25
		color: $white

	@media $media-pointer-mouse
		&:hover
			.jolticon
				color: var(--theme-highlight)
