<div>

	<!-- Media Bar -->
	<app-media-bar
		v-if="game.media_count"
		:media-items="mediaItems"
		/>

	<app-ad-placement hidden-xs pos="top" />

	<section class="section" style="padding-bottom: 0" v-if="game.canceled || customGameMessages.length">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-7">
					<div
						v-if="game.canceled"
						class="alert alert-notice full-bleed-xs"
						v-translate
						>
						This devlog project has been <b>canceled</b>. You can still follow it if you'd like to be notified in the case that development continues.
					</div>

					<div
						v-for="msg of customGameMessages"
						class="alert full-bleed-xs"
						:class="{
							'alert-notice': msg.type === 'alert',
						}"
						>
						<app-jolticon icon="notice" />
						<span v-html="msg.message" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 col-md-8 col-lg-7 pull-left" style="clear: left">
					<template v-if="!Screen.isXs && game.comments_enabled && (app.user || commentsCount)">
						<app-comment-widget-add
							v-if="app.user"
							resource="Game"
							:resource-id="game.id"
							@submit="onCommentAdd"
							/>

						<br v-if="app.user && commentsCount">

						<template v-if="commentsCount">
							<app-comment-peek
								:comments="comments"
								/>

							<router-link
								v-if="commentsCount > 2"
								class="btn btn-outline btn-block"
								:to="{ name: 'discover.games.view.comments' }"
								>
								<translate
									:translate-params="{ count: number(commentsCount - 2) }"
									>
									+%{ count } more
								</translate>
							</router-link>
						</template>

						<!-- Make some room for the description below -->
						<div class="-spacer"></div>
					</template>

					<template v-if="(game._has_packages && !isOverviewLoaded) || hasReleasesSection">
						<app-lazy-placeholder :when="isOverviewLoaded">
							<div class="lazy-placeholder" style="height: 135px"></div>

							<template v-if="packages.length">
								<app-game-package-card
									v-for="package of packages"
									:key="package.id"
									:game="game"
									:sellable="package._sellable"
									:package="package"
									:releases="package._releases"
									:builds="package._builds"
									:partner-key="partnerKey"
									:partner="partner"
									/>
							</template>

							<app-game-soundtrack-card
								v-if="songs.length"
								:game="game"
								:songs="songs"
								/>
						</app-lazy-placeholder>
					</template>

					<div v-if="!game.description_compiled">
						<span class="lazy-placeholder"></span>
						<span class="lazy-placeholder"></span>
						<span class="lazy-placeholder"></span>
						<span class="lazy-placeholder" style="width: 40%"></span>
					</div>
					<div v-else>
						<!--
							Set a :key to let vue know that it should update
							this when the game changes.
						-->
						<app-fade-collapse
							:collapse-height="500"
							:is-open="showDescription"
							:key="game.id"
							@require-change="setCanToggleDescription"
							@expand="toggleDescription()"
							>
							<div
								class="game-compiled-description"
								v-html="game.description_compiled"
								>
							</div>
						</app-fade-collapse>

						<div class="page-cut" v-if="canToggleDescription">
							<button class="btn btn-outline"
								@click="toggleDescription()"
								v-app-track-event="`game-profile:show-full-description`"
								>
								<translate v-if="!showDescription">Show More</translate>
								<translate v-else>Less</translate>
							</button>
						</div>
					</div>

					<div class="-spacer"></div>
				</div>

				<div class="col-xs-12 col-md-4 pull-right" style="clear: right">
					<h2 class="section-header" :class="{ 'h4': Screen.isXs }">
						<translate>You Might Also Like</translate>
					</h2>

					<app-discover-games-view-overview-recommended />

					<template v-if="Screen.isDesktop">
						<hr>
						<div style="width: 300px">
							<app-ad size="rectangle" pos="bottom" />
						</div>
					</template>

					<div class="-spacer"></div>
				</div>

				<div class="col-xs-12 col-md-8 col-lg-7 pull-left" style="clear: left">
					<app-game-perms :game="game" required="devlogs">
						<h5 class="sans-margin-top">
							<translate>Add Post</translate>
						</h5>

						<app-devlog-post-add
							:game="game"
							@add="onPostAdded"
							/>

						<hr>
					</app-game-perms>

					<app-activity-feed-placeholder v-if="!feed" />
					<div v-else>

						<app-activity-feed
							v-if="feed.hasItems"
							:feed="feed"
							show-edit-controls
							show-ads
							/>

						<div v-else class="alert">
							<translate>This devlog doesn't have any posts yet.</translate>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>

</div>
