<div>

	<!-- Media Bar -->
	<app-media-bar
		v-if="game.media_count"
		:media-items="mediaItems"
		/>

	<app-ad-placement :resource="game" pos="top" />

	<section class="section" style="padding-bottom: 0" v-if="game.canceled || customGameMessages.length">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-7">
					<div
						v-if="game.canceled"
						class="alert alert-warning full-bleed-xs"
						v-translate
						>
						This devlog project has been <b>canceled</b>. You can still follow it if you'd like to be notified in the case that development continues.
					</div>

					<div
						v-for="msg of customGameMessages"
						class="alert full-bleed-xs"
						:class="{
							'alert-info': msg.type === 'info',
							'alert-warning': msg.type === 'alert',
						}"
						>
						<app-jolticon icon="notice" />
						<span v-html="msg.message" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section" style="padding-bottom: 0" v-if="twitterShareMessage && !GJ_IS_CLIENT">
		<div class="container">
			<div class="row">
				<div :class="[ headingColClasses, { 'text-right': Screen.isLg } ]">
					<h2 class="section-header" :class="{ 'h4': Screen.isLg }">
						<translate>Share This</translate>
					</h2>
				</div>
				<div :class="contentColClasses">

					<div class="social-widgets">
						<app-social-twitter-share
							:url="Environment.baseUrl + game.getUrl()"
							:content="twitterShareMessage"
							/>

						<span class="dot-separator hidden-xs"></span>

						<app-social-facebook-like :url="Environment.baseUrl + game.getUrl()" />
					</div>

				</div>
			</div>
		</div>
	</section>

	<section
		v-if="!Screen.isXs && game.comments_enabled && (app.user || commentsCount)"
		class="section"
		style="padding-bottom: 0"
		>
		<div class="container">
			<div class="row">
				<div :class="[ headingColClasses, { 'text-right': Screen.isLg } ]">
					<h2 class="section-header" :class="{ 'h4': Screen.isLg }">
						<translate>Comments</translate>
					</h2>
					<p class="text-muted small">
						<translate>Leave a comment on this devlog project.</translate>
					</p>
				</div>
				<div :class="contentColClasses">

					<app-comment-widget-add
						v-if="app.user"
						resource="Game"
						:resource-id="game.id"
						@submit="onCommentAdd"
						/>

					<br v-if="app.user && commentsCount">

					<template v-if="commentsCount">
						<app-comment-peek :comments="comments" />

						<router-link
							v-if="commentsCount > 2"
							class="btn btn-outline btn-block"
							:to="{ name: 'discover.games.view.comments' }"
							>
							<translate
								:translate-params="{ count: number(commentsCount - 2) }"
								>
								+%{ count } more
							</translate>
						</router-link>
					</template>

				</div>
			</div>
		</div>
	</section>

	<section class="section" style="padding-bottom: 0"
		v-if="(game._has_packages && !isOverviewLoaded) || hasReleasesSection"
		>
		<div class="container">
			<div class="row">
				<div :class="[ headingColClasses, { 'text-right': Screen.isLg } ]">
					<h2 id="game-releases" class="section-header" :class="{ 'h4': Screen.isLg }">
						<translate>Releases</translate>
					</h2>
				</div>

				<div :class="contentColClasses">
					<app-lazy-placeholder :when="isOverviewLoaded">
						<div class="lazy-placeholder" style="height: 135px"></div>

						<template v-if="packages.length">
							<app-game-package-card
								v-for="package of packages"
								:key="package.id"
								:game="game"
								:sellable="package._sellable"
								:package="package"
								:releases="package._releases"
								:builds="package._builds"
								:partner-key="partnerKey"
								:partner="partner"
								/>
						</template>

						<app-game-soundtrack-card
							v-if="songs.length"
							:game="game"
							:songs="songs"
							/>
					</app-lazy-placeholder>

				</div>
			</div>
		</div>
	</section>

	<section class="section" style="padding-bottom: 0">
		<div class="container">
			<div class="row">
				<div :class="[ headingColClasses, { 'text-right': Screen.isLg } ]">
					<h2 class="section-header" :class="{ 'h4': Screen.isLg }">
						<translate>Description</translate>
					</h2>
				</div>
				<div :class="contentColClasses">

					<div v-if="!game.description_compiled">
						<span class="lazy-placeholder"></span>
						<span class="lazy-placeholder"></span>
						<span class="lazy-placeholder"></span>
						<span class="lazy-placeholder" style="width: 40%"></span>
					</div>
					<template v-else>
						<!--
							Set a :key to let vue know that it should update
							this when the game changes.
						-->
						<app-fade-collapse
							:collapse-height="1000"
							:is-open="showDescription"
							:key="game.id"
							@require-change="setCanToggleDescription"
							>
							<div
								class="game-compiled-description"
								v-html="game.description_compiled"
								>
							</div>
						</app-fade-collapse>
					</template>

				</div>
			</div>
		</div>
	</section>

	<div class="page-cut" v-if="canToggleDescription">
		<button class="btn btn-outline"
			@click="toggleDescription()"
			v-app-track-event="`game-profile:show-full-description`"
			>
			<translate v-if="!showDescription">Show Full Description</translate>
			<translate v-else>Less</translate>
		</button>
	</div>

	<section class="section" style="padding-bottom: 0">
		<div class="container">
			<div class="row">
				<div :class="[ headingColClasses, { 'text-right': Screen.isLg } ]">
					<h2 class="section-header" :class="{ 'h4': Screen.isLg }">
						<translate>Recommended Devlogs</translate>
					</h2>
					<p class="text-muted small">
						<translate>Check out these other devlogs! You may like 'em.</translate>
					</p>
				</div>
				<div :class="contentColClassesFull">

					<app-game-grid-placeholder
						v-if="!recommendedGames.length"
						:num="5"
						:truncate-to-fit="true"
						:scrollable="true"
						/>

					<app-game-grid
						v-else
						:games="recommendedGames"
						:truncate-to-fit="true"
						:scrollable="true"
						event-label="recommended-devlog"
						/>

				</div>
			</div>
		</div>
	</section>

	<app-ad-placement :hidden-desktop="true" :resource="game" pos="bottom" />

	<section class="section">
		<div class="container">
			<div class="row">
				<div :class="[ headingColClasses, { 'text-right': Screen.isLg } ]">
					<h2 class="section-header" :class="{ 'h4': Screen.isLg }">
						<translate>Devlog Feed</translate>
					</h2>
				</div>
				<div :class="contentColClasses">

					<app-activity-feed-placeholder v-if="!feed" />

					<div v-else>

						<app-activity-feed
							v-if="feed.hasItems"
							:feed="feed"
							:show-edit-controls="true"
							:show-ads="true"
							:ad-resource="game"
							/>

						<div v-else class="alert alert-info">
							<translate>This devlog doesn't have any posts yet.</translate>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

</div>
