@require '~styles/variables'
@require '~styles-lib/mixins'

.section-header
	word-wrap: normal

.-spacer
	display: block
	height: $line-height-computed * 2

	@media $media-xs
		full-bleed()
		height: ($line-height-computed / 2)
		background-color: $gray-lightest
		border-top: 1px solid $gray-lighter
		border-bottom: 1px solid $gray-lighter
		margin-bottom: $line-height-computed
