<div class="game-video-embed">
	<div class="game-video-embed-inner">

		<iframe nwdisable nwfaketop
			type="text/html" frameborder="0"
			ng-if="ctrl.video.type == Game_Video.TYPE_YOUTUBE"
			width="{{ ctrl.width }}" height="{{ ctrl.height }}"
			ng-src="{{ ctrl.embedUrl }}"></iframe>

		<iframe nwdisable nwfaketop
			frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
			ng-if="ctrl.video.type == Game_Video.TYPE_VIMEO"
			width="{{ ctrl.width }}" height="{{ ctrl.height }}"
			ng-src="{{ ctrl.embedUrl }}"></iframe>

	</div>
</div>
