<div class="app-search">

	<span v-shortkey="[ 's' ]" @shortkey="focus"></span>
	<span v-shortkey="[ 'shift', ':' ]" @shortkey="commandFocus"></span>

	<app-search-history />

	<!--
		Put the action/method stuff so that crawlers can see how to submit the form.
	-->
	<form class="search-input-form navbar-form" action="/search" method="GET" role="search" onsubmit="return false">
		<div class="form-group">

			<label :for="`search-input-${id}`" class="sr-only">
				<translate>search.input.placeholder</translate>
			</label>

			<div class="navbar-form-control" :class="{ active: isFocused }">

				<!--
					We use the 'click-show' trigger event.
					This will make sure that the autocomplete popover doesn't disappear when
					clicking the search input again.'
				-->
				<app-search-input
					:id="`search-input-${id}`"
					v-model="query"
					v-app-popover-trigger.click-show="`search-autocomplete`"
					@focus="onFocus"
					@blur="onBlur"
					@keydown="onKeydown"
					/>
			</div>

			<app-search-autocomplete v-if="!autocompleteDisabled" />

		</div>
	</form>
</div>
