<gj-search-history></gj-search-history>

<!--
	Put the action/method stuff so that crawlers can see how to submit the form.
-->
<form class="search-input-form navbar-form" action="/search" method="GET" role="search" onsubmit="return false">
	<div class="form-group no-animate">

		<label for="search-input-{{ $ctrl.id }}" class="sr-only" translate>search.input.placeholder</label>

		<div class="navbar-form-control" ng-class="{ active: $ctrl.isFocused }">

			<input type="search" class="search-input form-control"
				id="search-input-{{ $ctrl.id }}"
				name="q"
				ng-attr-placeholder="{{ 'search.input.placeholder' | translate }}"
				gj-search-input
				ng-model="$ctrl.query"
				gj-popover-trigger="search-autocomplete"
				>
		</div>

		<gj-search-autocomplete ng-if="!$ctrl.autocompleteDisabled"></gj-search-autocomplete>

	</div>
</form>
