<form gj-form="formModel" name="forumTopicForm">

	<form-group name="title">
		<input form-control="text" ng-maxlength="300">
		<control-errors></control-errors>
	</form-group>

	<div oc-lazy-load="{ files: [ '/app/modules/codemirror.js' ] }">
		<form-group name="content_markdown" label="Topic Content">

			<div
				form-markdown-editor
				preview-class="chat-compiled-room-description"
				markdown-preview-url="/web/chat/rooms/preview-description"
				>
			</div>

			<control-errors></control-errors>

		</form-group>
	</div>

	<button gj-form-submit-button class="i-button" ng-disabled="!forumTopicForm.$valid" ng-click="onSubmit()">
		<span class="jolticon" ng-class="method == 'add' ? 'jolticon-add' : 'jolticon-edit'"></span>
		<span ng-if="method == 'add'">Add Topic</span>
		<span ng-if="method == 'edit'">Save</span>
	</button>

</form>
