<app-form name="forumTopicForm">

	<app-form-group
		name="title"
		:label="$gettext( 'Title' )"
		>

		<app-form-control type="text" :rules="{ max: 300 }" />

		<app-form-control-errors />

	</app-form-group>

	<app-form-group
		name="content_markdown"
		:label="$gettext( 'Topic Content' )"
		>

		<app-form-control-markdown
			preview-class="forum-post-body"
			preview-url="/web/forums/posts/preview"
			markdown-mode="forums"
			/>

		<app-form-control-errors />

	</app-form-group>

	<app-form-button>
		<translate v-if="method === 'add'">Add Topic</translate>
		<translate v-if="method === 'edit'">Save</translate>
	</app-form-button>

	<app-button
		v-if="method === 'edit'"
		trans
		@click.prevent="onCancel"
		>
		<translate>Cancel</translate>
	</app-button>

</app-form>
