.emoji
	display: inline-block
	width: 25px
	height: 20px
	vertical-align: middle
	line-height: 1
	speak: none
	cursor: default
	background-repeat: no-repeat
	image-rendering: pixelated

	> span
		display: none

	$emojis = {
		bucktooth: 'bucktooth',
		crossed: 'crossed',
		crying: 'crying',
		dizzy: 'dizzy',
		grin: 'grin',
		guh: 'guh',
		huh: 'huh',
		innocent: 'innocent',
		mah: 'mah',
		ninja: 'ninja',
		ohyou: 'ohyou',
		omg: 'omg',
		ouch: 'ouch',
		psychotic: 'psychotic',
		sleeping: 'sleeping',
		smile: 'smile',
		snooty: 'snooty',
		tongue: 'tongue',
		wha: 'wha',
		yush: 'yush',
		believe: 'believe',
		blargh: 'blargh',
		code: 'code',
		empty: 'empty',
		face: 'face',
		idk: 'idk',
		love: 'love',
		mehm: 'mehm',
		meow: 'meow',
		mhhm: 'mhhm',
		star: 'star',
		thumbsdown: 'thumbsdown',
		thumbsup: 'thumbsup',
		uhh: 'uhh',
		wait: 'wait'
	}

	for key, val in $emojis
		&-{key}
			background-image: url('./' + val + '.png')
