
.overlay
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0)
    pointer-events: none
    z-index: 200

.overlay-content
    position: relative
    width: 100%
    height: 100%


