<div class="forums-channel-list">
	<div class="forum-list-items">

		<div class="forum-list-item forum-channel row" ng-repeat="topic in ctrl.topics track by topic.id">
			<div class="col-sm-7 col-md-8">
				<h4 class="forum-list-item-title">
					<!--<span class="tag tag-active">Sticky</span>-->
					<!--<span class="tag tag-pink">New</span>-->
					<!--<span class="tag">Locked</span>-->
					<a class="link-unstyled" ui-sref="forums.topics.view( { slug: topic.slug, id: topic.id } )">
						{{ topic.title }}
					</a>
				</h4>
				<p class="sans-margin">{{ topic.excerpt }}</p>
				<div class="small">
					by
					<strong><a ui-sref="profile.overview( { slug: topic.user.slug, id: topic.user.id } )">
						{{ topic.user.display_name }}
					</a></strong>
					<span class="dot-separator"></span>
					<span class="text-muted" am-time-ago="topic.posted_on"></span>
					<br class="visible-xs">
					<span class="dot-separator hidden-xs"></span>
					<span class="text-muted">25 Followers</span>
					<span class="dot-separator"></span>
					<span class="text-muted">14 Replies</span>
				</div>
			</div>
			<div class="col-sm-5 col-md-4 forum-list-item-meta">
				<ul class="forum-list-item-stats">
					<li><strong><a href="#">Nik</a></strong> replied</li>
					<li>25 minutes ago</li>
				</ul>
				<ul class="hidden-xs forum-list-item-users">
					<li>
						<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
					</li>
					<li>
						<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
					</li>
					<li>
						<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
					</li>
					<li>
						<img src="https://b6d3e9q9.ssl.hwcdn.net/img/no-avatar-3.png" alt="User">
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="ctrl.moreLink" class="clearfix text-right">
			<a href="{{ ctrl.moreLink }}" class="btn btn-outline">
				<span class="jolticon jolticon-chevron-right"></span>
				View all
			</a>
		</div>

	</div>
</div>
