@require '~styles/variables'
@require '~styles-lib/mixins'

.blip
	theme-prop('color', 'fg-muted')
	display: inline-flex
	align-items: center
	min-width: 20px
	height: 36px
	padding-right: 4px
	margin: 0 8px
	font-weight: 700
	font-size: $font-size-small

	a&
		pressy()

	&.mobile
		padding-right: 0

	&.blip-active
		theme-prop('color', 'bi-bg')

		&:hover
			theme-prop('color', 'link-hover')
