@require '~styles/variables'
@require '~styles-lib/mixins'

$-spacing = 8px

.blip
	color: var(--theme-fg-muted)
	display: inline-flex
	align-items: center
	min-width: 20px
	height: 36px
	padding-right: ($-spacing / 2)
	margin: 0 $-spacing
	font-weight: 700
	font-size: $font-size-small

	&-missing
		margin-right: $-spacing

	a&
		pressy()

	&.mobile
		padding-right: 0

	&.blip-active
		color: var(--theme-bi-bg)

		&:hover
			color: var(--theme-link-hover)
