<!-- Message Sending -->
<div class="chat-window-send">

	<div class="chat-window-send-multi-line-notice anim-fade-in no-animate-leave"
		v-if="multiLineMode"
		>
		<app-jolticon icon="notice" />
		<span v-translate>You are in multi-line editing mode. Press <code>ctrl+enter</code> to send.</span>
	</div>

	<!--
		ctrl+enter sends key code 10 on Chrome. Yeah.
	-->
	<textarea
		class="form-control"
		placeholder="Enter message..."
		:rows="Screen.isXs ? 1 : 2"
		v-app-focus-when="Screen.isDesktop"
		v-model="message"
		@change="onChange"
		@keydown.shift.enter="shiftEnter"
		@keydown.ctrl.enter.prevent="ctrlEnter"
		@keydown.ctrl.10.prevent="ctrlEnter"
		@keydown.enter="enter"
		>
	</textarea>

</div>
