@require '~styles/variables'
@require '~styles-lib/mixins'

.-multiline-notice
	theme-prop('color', 'light')
	margin-bottom: 5px
	font-size: $font-size-small

.-container
	position: relative

textarea
	resize: none
	font-size: $font-size-small
	border: 0
	background-color: transparent
	color: $white

	@media $media-sm-up
		theme-prop('background-color', 'dark')

.-button
	display: none

@media $media-mobile
	.-input
		margin-right: 70px

	.-button
		theme-prop('color', 'gray')
		display: block
		position: absolute
		top: 7px
		right: 5px
