@require '~styles/variables'

.-multiline-notice
	margin-bottom: 5px
	font-size: $font-size-small
	color: $gray-light

.-container
	position: relative

textarea
	resize: none
	font-size: $font-size-small
	border: 0
	background-color: transparent
	color: $white

	@media $media-sm-up
		background-color: $gray-dark

.-button
	display: none

@media $media-mobile
	.-input
		margin-right: 70px

	.-button
		display: block
		position: absolute
		top: 7px
		right: 5px
		color: $gray
