<!-- Message Sending -->
<div class="chat-window-send">

	<div class="chat-window-send-multi-line-notice anim-fade-in no-animate-leave" ng-if="ctrl.multiLineMode">
		<span class="jolticon jolticon-notice"></span>
		You are in multi-line editing mode. Press <code>ctrl+enter</code> to send.
	</div>

	<div class="row">
		<div class="col-xs-9">

			<!--
				ctrl+enter sends key code 10 on Chrome. Yeah.
			-->
			<textarea
				class="form-control"
				placeholder="Enter message..."
				rows="2"
				ng-model="ctrl.message"
				ng-change="ctrl.onChange()"
				ui-keypress="{
					'shift-enter': 'ctrl.shiftEnter( $event )',
					'ctrl-enter': 'ctrl.ctrlEnter( $event )',
					'ctrl-10': 'ctrl.ctrlEnter( $event )',
					'enter': 'ctrl.enter( $event )',
				}"
				gj-focus-when
				>
			</textarea>

		</div>
		<div class="col-xs-3">

			<button class="i-button big block sparse" ng-click="ctrl.sendMessage( $event )">
				<span class="jolticon jolticon-add-comment visible-xs"></span>
				<span class="hidden-xs">Send</span>
			</button>

		</div>
	</div>

</div>
