<section
	class="-banner section landing-header"
	:style="`
		background-image: url('${item.back_url}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	`"
	>
	<router-link
		class="-click"
		:to="{
			name: 'discover.games.view.overview',
			params: {
				id: item.game.id,
				slug: item.game.slug,
			},
		}"
		v-app-track-event="`home:banner:${item.game.id}`"
		>
	</router-link>

	<div class="container">
		<div class="row">
			<div class="col-md-7 text-center">
				<img
					class="img-responsive"
					style="display: inline-block"
					:src="item.front_url"
					alt=""
					>
			</div>
			<div class="-info col-md-5">
				<p class="lead">
					{{ item.content }}
				</p>

				<div class="-controls">
					<div class="row">
						<div :class="shouldShowFollow ? 'col-xs-6' : 'col-xs-12'">
							<app-button
								v-if="!Screen.isXs && !item.custom_url"
								lg
								overlay
								:block="shouldShowFollow"
								:to="{
									name: 'discover.games.view.overview',
									params: {
										id: item.game.id,
										slug: item.game.slug,
									},
								}"
								v-app-track-event="`home:banner:${item.game.id}`"
								>
								<translate>View Game</translate>
							</app-button>
							<app-button
								v-else-if="item.custom_url"
								lg
								overlay
								:block="shouldShowFollow || Screen.isXs"
								:href="item.custom_url"
								target="_blank"
								v-app-track-event="`home:banner-custom:${item.game.id}`"
								>
								{{ item.custom_text }}
							</app-button>
						</div>
						<div class="col-xs-6" v-if="shouldShowFollow">
							<app-game-follow-widget
								:game="item.game"
								block
								lg
								overlay
								v-app-track-event="`home:banner:follow-${item.game.id}`"
								/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
