@require '~styles/variables'

.-banner
	position: relative

	.container
		z-index: 2

.-click
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 1

.-controls
	position: relative
	z-index: 2

.-info
	margin-top: 85px
	text-align: center

	@media $media-xs
		margin-top: 20px
