<app-form name="financialsForm" class="dash-financials-form">

	<gj-loading v-if="!formState.isLoaded"></gj-loading>

	<div v-if="formState.isLoaded">

		<div v-if="!account.is_verified">
			<div class="alert alert-info" translate>
				Before you can use the Marketplace, we'll need to gather some details from you. This will ensure that your account is completely set up and ready to run smoothly on the Game Jolt Marketplace.
			</div>

			<!--
				If they haven't accepted any terms yet.
			-->
			<fieldset v-if="!hasSignedAgreement() && partner">
				<legend translate>To start, which type of account would you like to set up?</legend>

				<div class="row">
					<div class="col-xs-6">
						<button class="btn btn-block"
							:class="formState.whichAgreement === 'developer' ? 'btn-success' : 'btn-outline'"
							ng-click="formState.whichAgreement = 'developer'"
							translate
							>
							I'm a game developer
						</button>
					</div>
					<div class="col-xs-6">
						<button class="btn btn-block"
							:class="formState.whichAgreement === 'partner' ? 'btn-success' : 'btn-outline'"
							ng-click="formState.whichAgreement = 'partner'"
							translate
							>
							I'm a partner
						</button>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="alert alert-success" v-if="account.is_verified">
			<app-jolticon icon="check" />
			<span translate>Your account is ready for the Game Jolt Marketplace! You can set additional options below.</span>
		</div>
		<br>

		<!--
			First step is to sign an agreement.
		-->
		<div gj-expand-when="formState.whichAgreement || hasSignedAgreement()">

			<gj-form-dashboard-financials-developer-terms
				v-if="formState.whichAgreement === 'developer' || hasSignedAgreement()"
				account="account"
				accepted="acceptTerms( 'developer' )"
				>
			</gj-form-dashboard-financials-developer-terms>

			<gj-form-dashboard-financials-partner-terms
				v-if="partner && (formState.whichAgreement === 'partner' || hasSignedAgreement())"
				account="account"
				accepted="acceptTerms( 'partner' )"
				>
			</gj-form-dashboard-financials-partner-terms>

		</div>

		<!--
			PayPal is required.
		-->
		<gj-form-dashboard-financials-paypal
			v-if="account"
			user="user"
			>
		</gj-form-dashboard-financials-paypal>

		<!--
			They need to have PayPal linked before they can do this.
		-->
		<fieldset v-if="account && user.paypal_id">
			<legend>
				<span v-if="account.is_verified" class="pull-right done-icon" v-app-tooltip="$gettext( `You have completed this section.` )">
					<app-jolticon icon="check big" />
				</span>
				<span translate>Marketplace Account</span>
			</legend>

			<gj-form-dashboard-financials-managed-account
				v-if="!account.skip_stripe"
				>
			</gj-form-dashboard-financials-managed-account>

			<div class="alert alert-info" v-if="account.skip_stripe">
				<p translate>
					You've been manually approved for the Marketplace.
				</p>
			</div>
		</fieldset>

		<!--
			Only allow them to change percentage split if they are signed up as a dev.
		-->
		<fieldset v-if="account.is_verified && account.tos_signed_developer">
			<legend translate>Percentage Split</legend>

			<p class="small" translate>
				You decide what percentage of your sale revenue to give to Game Jolt. <strong>We won't let you give us more than 10%</strong> because we'd rather have you support other indie developers by buying their games.
			</p>

			<div class="form-group">
				<rzslider
					rz-slider-model="formModel.percentage_split"
					rz-slider-options="sliderOptions"
					>
				</rzslider>
			</div>

		</fieldset>

		<fieldset v-if="account.is_verified">
			<legend translate>Wallet</legend>

			<p class="small" translate>Your Wallet is where your earnings will be stored for you to buy games on Game Jolt or withdraw into your PayPal account.</p>

			<p class="small" translate>We never take a cut of games you buy when you pay with your Wallet, and there are no payment processing fees. The money goes directly to the developer.</p>

			<app-form-group
				name="wallet_maximum"
				:label="$gettext( `Set an amount you would like to keep in your wallet` )"
				>
				<p class="help-block">
					<span translate>We'll keep this amount in your Wallet when doing automatic pay outs. This way you always have some money to buy other games on the site through your Wallet.</span>
					<br>
					<span translate>To send all your money when doing automatic pay outs set this to $0.</span>
				</p>

				<input-group>
					<input-group-addon>
						$
					</input-group-addon>
					<input
						form-control="number"
						gj-form-currency-input
						step="1"
						ng-max="maxWallet / 100"
						ng-min="0"
						>
				</input-group>
				<app-form-control-errors />
			</app-form-group>

		</fieldset>

		<fieldset v-if="account.is_verified">
			<legend translate>Minimum Payout</legend>

			<p class="small" translate>If you'd like, you can set an amount below, and we will not make monthly deposits into your PayPal account until your revenue reaches this amount. This can help to maintain cleaner accounting on your end.</p>

			<app-form-group
				name="payout_minimum"
				label="Min. Payout Amount"
				>
				<p class="help-block">
					<span translate translate-params-max="maxPayout / 100 | currency:'$'">
						The max you can set this to is {{ max }} USD.
					</span>
					<br>
					<span translate>For no minimum, set this to $0.</span>
				</p>

				<input-group>
					<input-group-addon>
						$
					</input-group-addon>
					<input
						form-control="number"
						gj-form-currency-input
						step="1"
						ng-max="maxPayout / 100"
						ng-min="0"
						>
				</input-group>
				<app-form-control-errors />
			</app-form-group>

		</fieldset>

		<app-form-button
			v-if="account.is_verified"
			icon="edit"
			>
			<translate>Save</translate>
		</app-form-button>
	</div>

</app-form>
