@require '~styles/variables'
@require '~styles-lib/mixins'

.form-dashboard-financials
	>>> .done-icon
		theme-prop('color', 'link')

	>>> .tos-scroller
		scrollable()
		content-prop('border-color', 'bg-offset')
		padding: 10px
		max-height: 500px
		font-size: $font-size-small
		border-width: 2px
		border-style: solid

		h1, h2, h3, h4, h5, h6, p
			&:first-child
				margin-top: 0
