<div class="row">

	<div class="row">
		<!-- <app-linked-account
			provider="facebook"
			:account="facebookAccount"
			@sync="onLink"
			@link="onLink"
			@unlink="onUnlink">
			<div v-if="facebookAccount" class="facebook-linked-page">
				<h5>
					<translate>Linked Page</translate>
				</h5>
				<template v-if="facebookAccount.facebookSelectedPage">
					<p>
						<strong>
							<a :href="facebookAccount.facebookPageUrl" target="_blank">
								{{ facebookAccount.facebookSelectedPage.name }}
							</a>
						</strong>
					</p>
					<app-button
						@click="onSelectFacebookPage">
						<translate>Change</translate>
					</app-button>
					<app-button
						v-if="facebookAccount.facebookSelectedPage"
						@click="onUnlinkFacebookPage"
						trans>
						<translate>Unlink</translate>
					</app-button>
				</template>
				<template v-else>
					<p>
                    	<small class="text-muted"><translate>Not linked.</translate></small>
                	</p>
					<app-button
						@click="onSelectFacebookPage"
						icon="link">
						<translate>Link Now</translate>
					</app-button>
				</template>
			</div>
		</app-linked-account> -->
		<app-linked-account
			provider="twitter"
			:account="twitterAccount"
			@sync="onLink"
			@link="onLink"
			@unlink="onUnlink" />
		<!-- <app-linked-account
			provider="discord"
			:account="discordAccount"
			@sync="onLink"
			@link="onLink"
			@unlink="onUnlink" />
		<app-linked-account
			provider="tumblr"
			:account="tumblrAccount"
			@sync="onLink"
			@link="onLink"
			@unlink="onUnlink">
			<div v-if="tumblrAccount" class="tumblr-linked-blog">
				<h5>
					<translate>Linked Blog</translate>
				</h5>
				<template v-if="tumblrAccount.tumblrSelectedBlog">
					<p>
						<strong>
							<a :href="tumblrAccount.tumblrSelectedBlog.url" target="_blank">
								{{ tumblrAccount.tumblrSelectedBlog.title }}
							</a>
						</strong>
					</p>
					<app-button
						@click="onSelectTumblrBlog">
						<translate>Change</translate>
					</app-button>
					<app-button
						v-if="tumblrAccount.tumblrSelectedBlog"
						@click="onUnlinkTumblrBlog"
						trans>
						<translate>Unlink</translate>
					</app-button>
				</template>
				<template v-else>
					<p>
                    	<small class="text-muted"><translate>Not linked.</translate></small>
                	</p>
					<app-button
						@click="onSelectTumblrBlog"
						icon="link">
						<translate>Link Now</translate>
					</app-button>
				</template>
			</div>
		</app-linked-account> -->
	</div>

</div>
