@require '~styles/variables'
@require '~styles-lib/mixins'

@media $media-xs
	.genre-list
		overflow-x: scroll
		white-space: nowrap

.genre-list-genre
	display: inline-block
	width: 10%
	text-align: center

	@media $media-xs
		width: 20%

	&.active
		.genre-list-genre-label
			theme-prop('background-color', 'highlight')
			theme-prop('color', 'highlight-fg')

	img
		width: 116px * 0.5
		height: 116px * 0.5

	&-label
		display: block
		margin-top: 10px
		font-size: 9px
		text-transform: uppercase
		color: $white

	&:hover
		.genre-list-genre-label
			theme-prop('color', 'highlight')
