<div class="genre-list clearfix full-bleed-xs">
	<router-link
		class="genre-list-genre"
		v-for="genre of Genre.genres"
		:to="{
			name: 'discover.games.list._fetch-category',
			params: {
				section: typeof $route.params.section === 'undefined'
					? 'best'
					: $route.params.section,
				category: genre.url,
			},
			query: Object.assign( {}, $route.query, { page: undefined } ),
		}"
		active-class="active"
		v-app-track-event="`genre-list:${genre.url}:${$route.params.section || 'home'}`"
		v-app-no-autoscroll
		>
		<img :src="genre.img" :alt="genre.label">
		<span class="genre-list-genre-label">
			{{ genre.label }}
		</span>
	</router-link>
</div>
