@require '~styles/variables'

@media $media-xs
	.genre-list
		overflow-x: scroll
		white-space: nowrap

.genre-list-genre
	display: inline-block
	width: 10%
	text-align: center

	@media $media-xs
		width: 20%

	&.active
		.genre-list-genre-label
			background-color: var(--theme-dark-green)
			color: var(--theme-green)

	img
		width: 116px * 0.5
		height: 116px * 0.5

	&-label
		display: block
		margin-top: 10px
		font-size: 9px
		text-transform: uppercase
		color: $white

	&:hover
		.genre-list-genre-label
			color: var(--theme-green)
