<form gj-form="formModel" name="gameMaturityForm">

	<form-group name="tigrs_age" label="{{ 'dash.games.maturity.age_label' | translate }}">
		<p class="help-block" ng-if="baseModel._is_wip" translate>
			dash.games.maturity.wip_help
		</p>

		<div class="radio" ng-repeat="item in age track by $index" ng-if="$index > 0">
			<label>
				<input form-control="radio" ng-value="::$index">
				{{ ::item.label }}
				<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
			</label>
		</div>
		<control-errors></control-errors>
	</form-group>

	<div gj-expand-when="formModel.tigrs_age != 0">

		<fieldset>
			<legend translate>dash.games.maturity.violence_legend</legend>

			<form-group name="tigrs_cartoon_violence" label="{{ 'dash.games.maturity.cartoon_violence_label' | translate }}">
				<div class="radio" ng-repeat="item in cartoonViolence track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="tigrs_fantasy_violence" label="{{ 'dash.games.maturity.fantasy_violence_label' | translate }}">
				<div class="radio" ng-repeat="item in fantasyViolence track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="tigrs_realistic_violence" label="{{ 'dash.games.maturity.realistic_violence_label' | translate }}">
				<div class="radio" ng-repeat="item in realisticViolence track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="tigrs_bloodshed" label="{{ 'dash.games.maturity.bloodshed_label' | translate }}">
				<div class="radio" ng-repeat="item in bloodshed track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="tigrs_sexual_violence" label="{{ 'dash.games.maturity.sexual_violence_label' | translate }}">
				<div class="radio" ng-repeat="item in sexualViolence track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>
		</fieldset>

		<fieldset>
			<legend translate>dash.games.maturity.substances_legend</legend>

			<form-group name="tigrs_alcohol" label="{{ 'dash.games.maturity.alcohol_label' | translate }}">
				<div class="radio" ng-repeat="item in alcohol track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="tigrs_drugs" label="{{ 'dash.games.maturity.drugs_label' | translate }}">
				<div class="radio" ng-repeat="item in drugs track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="tigrs_tobacco" label="{{ 'dash.games.maturity.tobacco_label' | translate }}">
				<div class="radio" ng-repeat="item in tobacco track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>
		</fieldset>

		<fieldset>
			<legend translate>dash.games.maturity.sex_nudity_legend</legend>

			<form-group name="tigrs_nudity" label="{{ 'dash.games.maturity.nudity_label' | translate }}">
				<div class="radio" ng-repeat="item in nudity track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="tigrs_sexual_themes" label="{{ 'dash.games.maturity.sexual_themes_label' | translate }}">
				<div class="radio" ng-repeat="item in sexualThemes track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>
		</fieldset>

		<fieldset>
			<legend translate>dash.games.maturity.misc_legend</legend>

			<form-group name="tigrs_language" label="{{ 'dash.games.maturity.language_label' | translate }}">
				<div class="radio" ng-repeat="item in language track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="tigrs_humor" label="{{ 'dash.games.maturity.humor_label' | translate }}">
				<div class="radio" ng-repeat="item in humor track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>

			<form-group name="tigrs_gambling" label="{{ 'dash.games.maturity.gambling_label' | translate }}">
				<div class="radio" ng-repeat="item in gambling track by $index">
					<label>
						<input form-control="radio" ng-value="::$index">
						{{ ::item.label }}
						<span ng-if="::item.description" class="help-inline">- {{ ::item.description }}</span>
					</label>
				</div>
				<control-errors></control-errors>
			</form-group>
		</fieldset>

	</div>

	<button
		ng-if="!isWizard"
		gj-form-submit-button
		class="btn btn-outline"
		ng-disabled="!gameMaturityForm.$valid || !formModel.tigrs_age"
		ng-click="onSubmit()"
		>
		<span class="jolticon jolticon-edit"></span>
		<span translate>dash.games.maturity.save_button</span>
	</button>

	<div ng-if="isWizard">
		<gj-form-dashboard-game-wizard-controls
			game="formModel"
			can-proceed="gameMaturityForm.$valid && formModel.tigrs_age"
			on-next="onSubmit()"
			>
		</gj-form-dashboard-game-wizard-controls>
	</div>

</form>
