<div>

	<app-page-header
		:should-affix-nav="true"
		:spotlight-dark="true"
		:autoscroll-anchor-key="channel"
		>

		<h1>
			<translate :translate-params="{ channel }">
				#%{ channel } Channel
			</translate>
		</h1>

		<div class="small text-muted">
			{{ Meta.description }}
		</div>

		<img
			slot="spotlight"
			:src="img"
			width="58"
			height="58"
			alt=""
			>

		<nav slot="nav" class="platform-list inline">
			<ul>
				<li>
					<router-link
						:to="{ name: 'discover.channels.view.overview' }"
						:class="{ active: $route.name === 'discover.channels.view.overview' }"
						>
						<translate>Overview</translate>
					</router-link>
				</li>
				<li>
					<router-link
						:to="{ name: 'discover.channels.view.games' }"
						active-class="active"
						>
						<translate>Games</translate>
					</router-link>
				</li>
				<li>
					<router-link
						:to="{ name: 'discover.channels.view.devlogs' }"
						active-class="active"
						>
						<translate>Devlogs</translate>
					</router-link>
				</li>
			</ul>
		</nav>

	</app-page-header>

	<router-view
		:channel="channel"
		/>

</div>
