<form gj-form="formModel" name="trophyForm">

	<div ng-if="!isLoaded">
		<gj-loading></gj-loading>
	</div>

	<div ng-if="Loader.ready( 'upload' )">
		<div ng-if="isLoaded">

			<!--
				Show the current image if there is one.
			-->
			<div class="form-group" ng-if="formModel.has_thumbnail">
				<label class="control-label">Current Trophy Image</label>

				<img gj-img-responsive="{{ formModel.img_thumbnail }}" alt="Current Trophy Image">
				<br>

				<div>
					<a class="i-button big warning" ng-click="clearImage()">
						<span class="jolticon jolticon-remove"></span>
						Clear Image
					</a>
				</div>
			</div>

			<!--
				Only want them to be able to change difficulty when editing.
			-->
			<form-group name="difficulty"
				label="{{ ::'dash.games.trophies.form.difficulty_label' | translate }}"
				ng-if="method == 'edit'"
				>
				<select form-control ng-options="item.value as item.label for item in difficultyOptions"></select>
				<control-errors></control-errors>
			</form-group>

			<form-group name="file" label="{{ !formModel.has_thumbnail ? 'dash.games.trophies.form.upload_label' : 'dash.games.trophies.form.change_image_label' | translate }}" optional="true">

				<p class="help-block" translate>dash.forms.image_filetype_help_html</p>

				<p class="help-block">
					<a class="link-help">{{ ::'dash.games.trophies.form.image_help_link' | translate }}</a>
				</p>

				<gj-form-upload-control
					form-control="upload"
					gj-max-filesize="maxFilesize"
					gj-max-img-width="maxWidth"
					gj-max-img-height="maxHeight"
					accept=".png,.jpg,.jpeg,.gif"
					>
				</gj-form-upload-control>

				<control-errors label="{{ ::'dash.games.trophies.form.image_error_label' | translate }}"></control-errors>

			</form-group>

			<form-group name="title" label="{{ ::'dash.games.trophies.form.title_label' | translate }}">
				<input form-control="text" maxlength="150">
				<control-errors></control-errors>
			</form-group>

			<form-group name="description" label="{{ ::'dash.games.trophies.form.description_label' | translate }}">
				<textarea form-control rows="3" maxlength="1500"></textarea>
				<control-errors></control-errors>
			</form-group>

			<form-group name="secret" label="{{ ::'dash.games.trophies.form.secret_label' | translate }}">
				<p class="help-block">{{ ::'dash.games.trophies.form.secret_help' | translate }}</p>
				<gj-toggle-switch form-control="checkbox" toggle-switch-on-text="{{ 'forms.yes' | translate }}" toggle-switch-off-text="{{ 'forms.no' | translate }}"></gj-toggle-switch>
			</form-group>

			<form-group name="hidden" label="{{ ::'dash.games.trophies.form.hidden_label' | translate }}">
				<p class="help-block">{{ ::'dash.games.trophies.form.hidden_help' | translate }}</p>
				<gj-toggle-switch form-control="checkbox" toggle-switch-on-text="{{ 'forms.yes' | translate }}" toggle-switch-off-text="{{ 'forms.no' | translate }}"></gj-toggle-switch>
			</form-group>

			<button gj-form-submit-button class="i-button" ng-disabled="!trophyForm.$valid" ng-click="onSubmit()">
				<span class="jolticon" ng-class="method == 'add' ? 'jolticon-add' : 'jolticon-edit'"></span>
				<span translate>dash.games.trophies.form.save_button</span>
			</button>
		</div>
	</div>

</form>
