.game-media-bar-item
	position: relative
	display: inline-block
	vertical-align: top
	background-color: $gray-darkest

	// Spacing through margins.
	margin-right: 15px

	&:first-child
		margin-left: 15px

	@media $media-sm-up
		margin-right: 20px

		&:first-child
			margin-left: 20px

	// Keep hidden until loaded.
	img
		z-index: 0
		display: none

	&.loaded img
		// @extend .anim-fade-in, .no-animate-xs
		animation-duration: 600ms
		display: block

.game-media-bar-item-wrapper
	display: block

	&:hover
		.play-button-overlay
			background-color: rgba( $black, 0.85 )

			&
			.jolticon
				color: $gj-green
				cursor: zoom-in


	// Can't zoom on xs.
	&
	& .jolticon
		cursor: default

	@media $media-sm-up
		&
		& .jolticon
			cursor: zoom-in

	// For "desktop" set up some hover effects and what not.
	// Turned off the transitions because they were causing scroll lag when the mouse went over and away
	// while scrolling.
	@media $media-md-up
		opacity: 0.8

		&::before
		&::after
			overlay-img()
			opacity: 0
			z-index: 1

		&::before
			background-image: linear-gradient( to bottom right, rgba( $gj-pink, 0.1 ) 0%, rgba( $gj-pink, 0 ) 30% )

		&::after
			background-image: linear-gradient( to bottom right, rgba( $gj-blue, 0 ) 70%, rgba( $gj-blue, 0.1 ) 100% )

		.game-media-bar:hover &
			opacity: 1

			&:hover
				&::before
				&::after
					opacity: 1
