.stat-big
	margin-bottom: $font-size-base

	&.stat-big-smaller
		margin-bottom: $font-size-small

		.stat-big-digit
			@extend .text-size-h4

		.stat-big-label
			font-size: $font-size-small

.stat-big-digit
	@extend .text-size-h3
	font-family: $font-family-heading
	font-weight: bold

.stat-big-highlight
	color: $gj-green

.stat-big-label
	color: $text-muted

	// For inactive editable accordion items, we need to make ourselves a lighter gray.
	.editable-accordion-item-container.inactive &
		color: $gray-lighter

