.stat-list
	@extend .list-inline
	margin-right: -15px
	margin-left: -15px
	margin-bottom: 0

	> li
		padding-left: 15px
		padding-right: 15px

		// Override the margin-bottom for .stat-big since we're in an inline list.
		&.stat-big
			margin-bottom: 0
