@import '~styles/variables'
@import '~styles-lib/mixins'

.-backdrop
	// For some reason we need position static
	// so the backdrop can get the height.
	position: static

.-game-container
	clearfix()
	rounded-corners-lg()
	elevate-hover-2()
	position: relative
	margin-bottom: $line-height-computed
	overflow: hidden
	padding: 10px 15px

	&:hover
		.-header
			background-size: 105% auto
			filter: blur(1px)

.-header
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	transition: background-size 250ms, filter 250ms $strong-ease-out
	z-index: 0

	&-gradient
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8))

.-content
	display: flex
	align-items: center
	justify-content: space-between
	z-index: 1

.-details
	z-index: 1

.tag
	// This makes all the text align at the left.
	margin-left: -4px

.-name
	font-weight: bolder
	font-size: $font-size-h4

.-follow-button
	margin-left: 16px
	flex: none
	z-index: 3

.-link
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 2
