@import '~styles/variables'
@import '~styles-lib/mixins'

.-item
	margin-right: 20px
	margin-bottom: 20px

	@media $media-lg
		width: 200px
		height: 200px
		margin-bottom: 48px

	@media $media-md
		width: 150px
		height: 150px
		margin-bottom: 48px

	@media $media-sm
		width: 100px
		height: 100px

	@media $media-xs
		width: 50px
		height: 50px

.-label
	text-overflow()
	theme-prop('color', 'fg')
	font-weight: bold
	font-size: $font-size-tiny
	text-align: center
	margin-top: 10px
	display: none

	@media $media-md-up
		display: block
		font-size: $font-size-small

		.-item:hover &
			theme-prop('color', 'link')
