$-border-width = $border-width-base
$-item-padding = ($grid-gutter-width / 2)
$-item-padding-xs = ($grid-gutter-width-xs / 2)
$-item-padding-v = $-item-padding * 0.75
$-item-padding-xs-v = $-item-padding-xs * 0.75

.-overlay-text
	color: white
	text-shadow: black 1px 1px 4px

.-overlay-box > *
	elevate-1()
