<app-scroll-inview
	class="timeline-list-item"
	:id="`activity-feed-item-${item.id}`"
	:class="{
		'new': isNew,
		'active': isActive,
	}"
	:extra-padding="inviewPadding"
	@inview="onInviewChange( true )"
	@outview="onInviewChange( false )"
	>

	<!--
		Notifications are so small that there's no reason to not include
		them into the view.
	-->
	<!-- <app-activity-feed-item-placeholder
		v-if="item.type !== 'notification' && !isInView"
		:type="item.type"
		/> -->

	<!-- <div v-else> -->
		<app-activity-feed-devlog-post
			v-if="item.type === 'devlog-post'"
			:item="item"
			@clicked="setActive"
			@expanded="onExpanded"
			@resize="onResize"
			/>

		<app-activity-feed-notification
			v-else-if="item.type === 'notification'"
			:item="item"
			@clicked="setActive"
			/>
	<!-- </div> -->

</app-scroll-inview>
