<app-scroll-inview
	class="timeline-list-item"
	:id="`activity-feed-item-${item.id}`"
	:class="{
		'new': isNew,
		'active': isActive,
	}"
	:extra-padding="inviewPadding"
	@inview="onInviewChange( true )"
	@outview="onInviewChange( false )"
	>

	<div ref="inner">

		<!--
			Notifications are so small that there's no reason to not include
			them into the view.
		-->
		<app-activity-feed-item-placeholder
			v-if="item.type !== 'notification' && !isInView"
			:style="{ height: item.height }"
			:type="item.type"
			/>

		<div v-else>
			<app-activity-feed-devlog-post
				v-if="item.type === 'devlog-post'"
				:item="item"
				@clicked="setActive"
				@expanded="onExpanded"
				/>

			<app-activity-feed-notification
				v-if="item.type === 'notification'"
				:item="item"
				@clicked="setActive"
				/>
		</div>
	</div>

</app-scroll-inview>
