<div class="route-landing-indieaf fill-darkest">

	<div class="indieaf-header">
		<div class="container">

			<p class="lead">Don't you want to be</p>

			<img class="img-responsive indieaf-logo" src="./header.png" alt="">

		</div>
	</div>

	<section class="section indieaf-body">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 col-centered">

					<p class="lead">
						A new way to show off how freakin' legit you really are.
					</p>

					<p>
						[Graphic of people looking around a computer screen at a gamejolt.io site. On hover, the address bar changes to indie.AF, and the people turn cool.AF and are amazed.]
					</p>

					<p class="text-center">
						Build your own customizable site with a indie.af domain name through Game Jolt Sites!
					</p>

					<br>

					<div class="text-center">
						<a class="btn btn-af-outline">
							Get Indie.AF
						</a>
					</div>

					<h2 class="text-center">
						Why should you be INDIE.AF?
					</h2>
					<hr class="underbar underbar-center">
					<br>

					<div class="indieaf-vs-row">
						<img class="indieaf-vs-img" src="./vs.png" alt="">
						<div class="indieaf-vs-col left"><strong>gamejolt.io</strong></div>
						<div class="indieaf-vs-col right"><strong>indie.af</strong></div>
					</div>

					<div class="indieaf-vs-row">
						<img class="indieaf-vs-img" src="./vs.png" alt="">
						<div class="indieaf-vs-col left">Trendy, but also bogus</div>
						<div class="indieaf-vs-col right">Not bogus, not trendy. Radical AF!</div>
					</div>

					<div class="indieaf-vs-row">
						<img class="indieaf-vs-img" src="./vs.png" alt="">
						<div class="indieaf-vs-col left">Sounds like <em>ew</em></div>
						<div class="indieaf-vs-col right">Has a curse word AF!</div>
					</div>

					<div class="indieaf-vs-row">
						<img class="indieaf-vs-img" src="./vs.png" alt="">
						<div class="indieaf-vs-col left">Child's play</div>
						<div class="indieaf-vs-col right">Grown up AF!</div>
					</div>

					<div class="indieaf-vs-row">
						<img class="indieaf-vs-img" src="./vs.png" alt="">
						<div class="indieaf-vs-col left">People wonder why it's not .com</div>
						<div class="indieaf-vs-col right">.af AF!</div>
					</div>

					<div class="indieaf-vs-row">
						<img class="indieaf-vs-img" src="./vs.png" alt="">
						<div class="indieaf-vs-col left">Over saturated</div>
						<div class="indieaf-vs-col right">No one is using AF!</div>
					</div>

					<div class="indieaf-vs-row">
						<img class="indieaf-vs-img" src="./vs.png" alt="">
						<div class="indieaf-vs-col left">Are you a startup, or are you indie?</div>
						<div class="indieaf-vs-col right">INDIE AF!!!</div>
					</div>

					<h2 class="text-center">
						What people are saying
					</h2>
					<hr class="underbar underbar-center">
					<br>

					<div class="indieaf-quote">
						<p>When I used to walk down the street, people would point and say, "Look at them, they're grody." Now I'm cool AF.</p>
						<div class="indieaf-quote-who">- Cool AF kid</div>
					</div>

					<div class="indieaf-quote">
						<p>Everyone wants to get with me now I’m indie.af. Thanks Game Jolt!</p>
						<div class="indieaf-quote-who">- Popular AF kid</div>
					</div>

					<div class="indieaf-quote">
						<p>Before I became indie.af, I was a nobody, and no one played my games. Now I’ve been getting plays for days!</p>
						<div class="indieaf-quote-who">- Indie AF kid</div>
					</div>

					<div class="indieaf-quote">
						<p>Ever since I made the move, I’ve got a couple more Twitter followers!</p>
						<div class="indieaf-quote-who">- Twitter AF kid</div>
					</div>

					<div class="indieaf-quote">
						<p>I don't really see the point. It's just a stupid domain name. No one will think you're actually cooler.</p>
						<div class="indieaf-quote-who">- Bogus IO kid</div>
					</div>

					<div class="text-center">
						<div>
							<a class="btn btn-af-outline">
								Get Indie.AF
							</a>
						</div>
						<br>
						<p class="small text-muted">
							don't be <em>ew</em>
						</p>
					</div>

				</div>
			</div>
		</div>
	</section>

</div>
