<header class="section">
	<div class="games-listing-container">
		<div class="games-listing-left"></div>
			<div class="games-listing-main">
				<div class="games-listing-main-inner">

				<div class="games-section-header"
					ng-class="{ 'games-section-header-has-badge': !!listCtrl.badgeImage }"
					>

					<div class="category-badge-image anim-fade-in-enlarge no-animate-leave no-animate-xs"
						ng-repeat="badgeImage in [ listCtrl.badgeImage ]"
						ng-if="::badgeImage"
						>
						<img width="116" height="116" ng-src="{{ ::badgeImage }}" alt="">
					</div>

					<!--
						Binding scope and animation.
					-->
					<div class="games-section-header-copy anim-fade-in-right no-animate-leave no-animate-xs"
						ng-repeat="sectionCategory in [ listCtrl.section + (listCtrl.category || '') ]"
						>

						<h1 ng-if="::listCtrl.section != 'by-date'">{{ ::App.title }}</h1>

						<h1 ng-if="::listCtrl.section == 'by-date'">
							<span ng-if="::!listCtrl.dateRange">
								{{ ::'games.list.date_heading' | translate }}
								<small>{{ ::'games.list.date_heading_small' | translate:{ date: listCtrl.date } }}</small>
							</span>
							<span ng-if="::listCtrl.dateRange">
								{{ ::'games.list.date_range_heading' | translate }}
								<small>{{ ::'games.list.date_range_heading_small' | translate:{ dateStart: listCtrl.dateRange[0], dateEnd: listCtrl.dateRange[1] } }}</small>
							</span>
						</h1>

						<div ng-switch="::listCtrl.section">

							<p class="text-muted small" ng-switch-when="featured">
								<span translate translate-scope="{ category: listCtrl.descriptiveCategory }">
									games.list.featured_descriptive_html
								</span>
							</p>

							<p class="text-muted small" ng-switch-when="best">
								<span translate translate-scope="{ category: listCtrl.descriptiveCategory }">
									games.list.best_descriptive_html
								</span>
								<span class="jolticon jolticon-help-circle" tooltip="{{ ::'games.list.voltage_tooltip' | translate }}"></span>
							</p>

							<p class="text-muted small" ng-switch-when="fresh">
								<span translate translate-scope="{ category: listCtrl.descriptiveCategory }">
									games.list.fresh_descriptive_html
								</span>
								<span class="jolticon jolticon-help-circle" tooltip="{{ ::'games.list.freshness_tooltip' | translate }}"></span>
							</p>

							<p class="text-muted small" ng-switch-when="hot">
								<span translate translate-scope="{ category: listCtrl.descriptiveCategory }">
									games.list.hot_descriptive_html
								</span>
								<span class="jolticon jolticon-help-circle" tooltip="{{ ::'games.list.hotness_tooltip' | translate }}"></span>
							</p>

							<p class="text-muted small" ng-switch-when="new">
								<span translate translate-scope="{ category: listCtrl.descriptiveCategory }">
									games.list.new_descriptive_html
								</span>
							</p>

							<p class="text-muted small" ng-switch-when="by-date">
								<span ng-if="::!listCtrl.dateRange" translate translate-scope="{ date: listCtrl.date }">
									games.list.date_descriptive_html
								</span>
								<span ng-if="::listCtrl.dateRange" translate translate-scope="{ dateStart: listCtrl.dateRange[0], dateEnd: listCtrl.dateRange[1] }">
									games.list.date_range_descriptive_html
								</span>
								<span class="jolticon jolticon-help-circle" tooltip="{{ ::'games.list.voltage_tooltip' | translate }}"></span>
							</p>

						</div>
					</div>
				</div>
			</div>
			<br><br>

		</div>
	</div>
</header>

<section class="section fill-pink section-thin" ng-if="listCtrl.section == 'new'">
	<div class="container" translate>games.list.new_games_warning_html</div>
</section>

<section class="section fill-lighter section-thin" ng-if="listCtrl.section != 'by-date'">
	<div class="container">
		<gj-genre-list></gj-genre-list>
	</div>
</section>

<section class="section" id="games-list">

	<div class="games-listing-container">
		<div class="games-listing-left"></div>
		<div class="games-listing-main">
			<div class="games-listing-main-inner">

				<nav class="pull-left game-sections-list pills"
					ng-if="listCtrl.section != 'by-date'"
					>
					<ul>
						<li>
							<a
								ng-href="{{ listCtrl.getSectionUrl( 'featured' ) }}"
								ng-class="{ active: listCtrl.section == 'featured' }"
								gj-no-auto-scroll
								gj-track-event="game-list:section-selector:featured"
								>
								{{ ::'games.list.sections_selector_featured' | translate }}
							</a>
						</li>
						<li>
							<a
								ng-href="{{ listCtrl.getSectionUrl( 'hot' ) }}"
								ng-class="{ active: listCtrl.section == 'hot' }"
								gj-no-auto-scroll
								gj-track-event="game-list:section-selector:hot"
								>
								{{ ::'games.list.sections_selector_hot' | translate }}
							</a>
						</li>
						<li>
							<a
								ng-href="{{ listCtrl.getSectionUrl( 'best' ) }}"
								ng-class="{ active: listCtrl.section == 'best' }"
								gj-no-auto-scroll
								gj-track-event="game-list:section-selector:best"
								>
								{{ ::'games.list.sections_selector_best' | translate }}
							</a>
						</li>
						<li>
							<a
								ng-href="{{ listCtrl.getSectionUrl( 'new' ) }}"
								ng-class="{ active: listCtrl.section == 'new' }"
								gj-no-auto-scroll
								gj-track-event="game-list:section-selector:new"
								>
								{{ ::'games.list.sections_selector_new' | translate }}
							</a>
						</li>
					</ul>
				</nav>

				<div class="pull-right">
					<span class="text-muted small" ng-if="listCtrl.gamesCount == 0" translate>games.list.games_count_none</span>

					<span class="text-muted small"
						ng-if="listCtrl.gamesCount > 0"
						translate
						translate-n="listCtrl.gamesCount"
						translate-plural="games.list.games_count"
						translate-scope="{ page: listCtrl.currentPage }"
						translate-comment="{{ page }} expands to the current page of games"
						>
						games.list.games_count
					</span>

					<div style="display: inline-block; margin-left: 15px; width: 350px">
						<gj-game-filtering-input
							ng-if="!Screen.isXs || listCtrl.filteringContainer.filters.query"
							gj-filtering-container="listCtrl.filteringContainer"
							>
						</gj-game-filtering-input>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="games-listing-container">
		<div class="games-listing-left">

			<div class="well fill-darkest">
				<gj-game-filtering-sidebar-widget
					gj-filtering-container="listCtrl.filteringContainer"
					>
				</gj-game-filtering-sidebar-widget>
			</div>

		</div>
		<div class="games-listing-main">
			<div class="games-listing-main-inner">

				<ui-view></ui-view>

				<gj-pagination
					items-per-page="listCtrl.perPage"
					total-items="listCtrl.gamesCount"
					current-page="listCtrl.currentPage"
					on-page-change="Scroll.to( 'games-list', { animate: false } )">
				</gj-pagination>

			</div>
		</div>
	</div>
</section>
