
.games-section-header
	$games-list-category-badge-size = 116px

	text-align: center

	.category-badge-image
		margin-bottom: $font-size-base

	@media $media-sm-up
		text-align: left

		.category-badge-image
			float: left
			margin-top: -15px
			margin-bottom: 0

		&-has-badge
			.games-section-header-copy
				margin-left: $games-list-category-badge-size + $grid-gutter-width

.games-listing

	&-container
		@extend .clearfix

	&-left
		float: left
		width: 18%
		padding-right: ($grid-gutter-width * 0.5)
		max-width: 275px
		min-height: 1px

		.well
			padding: 10px

	&-main
		float: left
		width: 82%
		padding-left: ($grid-gutter-width * 0.5)
		padding-right: $grid-gutter-width * 0.5

	&-main-inner
		margin: 0 auto
		max-width: 1500px
