<div class="chat-window-wrap">

	<!--
		We sadly need the chat close thing twice.
		It takes up the empty background space so you can click that to close chat.
	-->
	<div class="chat-window-back-close" @click="closeChat"></div>
	<div class="chat-window anim-fade-in-up">
		<div class="chat-window-back-close" @click="closeChat"></div>

		<!-- Room Users -->
		<transition>
			<div class="fill-darkest chat-window-users scrollable overlay-scrollbar anim-fade-enter-enlarge anim-fade-leave-shrink"
				v-if="!room.isPmRoom && isShowingUsers"
				>

				<template v-if="Screen.isXs">
					<br>
					<div class="nav-controls">
						<button class="btn btn-outline btn-block" @click="toggleUsers">
							<app-jolticon icon="chevron-left" />
							<translate>Back to Chat</translate>
						</button>
					</div>
				</template>

				<template v-if="!room.isPmRoom">
					<div class="nav-heading first">
						<translate>Room Description</translate>
					</div>

					<div class="nav-well">
						<div class="chat-compiled-room-description">
							<div v-html="room.description_compiled"></div>
						</div>
					</div>
				</template>

				<div class="nav-heading">
					<translate>Room Users</translate>
					<span class="badge" :class="{ 'badge-active': users && users.onlineCount > 0 }">
						{{ users ? users.onlineCount : 0 | number }}
					</span>
				</div>

				<app-chat-user-list
					v-if="users"
					:room="room"
					:users="users.collection"
					:show-mod-tools="room.isMod"
					>
				</app-chat-user-list>

			</div>
		</transition>

		<div class="chat-window-main">

			<!-- Window Header -->
			<div class="chat-window-header-wrap">
				<div class="chat-window-header fill-darkest">

					<div class="chat-window-header-controls">

						<button class="btn btn-sparse anim-fade-in"
							v-if="!room.isPmRoom"
							@click="toggleUsers"
							>
							<app-jolticon icon="users" />
						</button>

						<button class="btn btn-sparse anim-fade-in"
							@click="showEditRoomModal"
							v-if="room.isMod"
							:title="$gettext( 'Edit Room Details' )"
							>
							<app-jolticon icon="edit" />
						</button>

						<button class="btn btn-sparse"
							@click="close"
							:title="$gettext( 'Close Room' )"
							>
							<app-jolticon icon="remove" />
						</button>

					</div>

					<!--
						Animation scope.
					-->
					<div
						class="chat-window-header-content"
						v-for="room of [ room ]"
						:key="room.id"
						>

						<router-link
							class="chat-window-header-avatar avatar anim-fade-in-enlarge no-animate-xs"
							v-if="room.isPmRoom"
							:to="room.user.url"
							>
							<img :src="room.user.imgAvatar" alt="">
						</router-link>

						<h3 v-if="!room.isPmRoom" class="anim-fade-in-right no-animate-xs">
							{{ room.title }}
						</h3>

						<h3 v-if="room.isPmRoom" class="anim-fade-in-right no-animate-xs"
							:title="`${room.user.displayName} (@${room.user.username})`"
							>
							<router-link
								class="link-unstyled"
								:to="room.user.url"
								v-html="room.user.displayName"
								>
							</router-link>
							<br>
							<small>@{{ room.user.username }}</small>
						</h3>

						<template v-if="!room.isPmRoom && !Screen.isXs">
							<app-fade-collapse
								size="sm"
								:collapse-height="60"
								@require-change="isDescriptionCollapsed = $event"
								>
								<div class="chat-window-header-room-description chat-compiled-room-description">
									<div class="anim-fade-in no-animate-xs" v-html="room.description_compiled"></div>
								</div>
							</app-fade-collapse>

							<button class="btn btn-sm btn-outline anim-fade-in"
								v-if="isDescriptionCollapsed && !isShowingUsers"
								@click="toggleUsers"
								>
								<translate>more</translate>
							</button>
						</template>

					</div>

				</div>
			</div>

			<!--
				The v-for is a hack to make sure we destroy/recreate each time
				the room changes.
			-->
			<app-chat-window-output
				class="chat-window-output"
				v-for="room of [ room ]"
				:key="room.id"
				:room="room"
				:messages="messages"
				/>

			<div class="chat-window-send-container" v-if="chat.currentUser">
				<app-chat-window-send />
			</div>

		</div>

	</div>
</div>
