@require './styles/variables'
@require 'game-jolt-frontend-lib/stylus/common'
@require 'game-jolt-frontend-lib/components/well/well'
@require 'game-jolt-frontend-lib/components/jolticons/jolticons'
@require 'game-jolt-frontend-lib/components/section/section'
@require 'game-jolt-frontend-lib/components/alert/alert'
