<form gj-form="formModel" name="settingsForm">

	<form-group name="title" label="{{ 'Page Title' | translate }}" optional="true">
		<div class="help-block" ng-if="!baseModel.game_id" translate>
			You can override the default title for your site. This will show in search engines, and in the tab bar of browsers. By default it's your display name.
		</div>
		<div class="help-block" ng-if="baseModel.game_id" translate>
			You can override the default title for your site. This will show in search engines, and in the tab bar of browsers. By default it's the title of your game.
		</div>
		<input form-control="text"
			ng-maxlength="100"
			>
		<control-errors></control-errors>
	</form-group>

	<form-group name="description" label="{{ 'Description' | translate }}" optional="true">
		<div class="help-block" translate>
			Search engines show this as the description under the page title in search results.
		</div>
		<textarea form-control ng-maxlength="250" rows="3"></textarea>
		<control-errors></control-errors>
	</form-group>

	<form-group name="ga_tracking_id" label="{{ 'dash.games.settings.ga_tracking_id_label' | translate }}" optional="true">
		<input form-control="text"
			gj-pattern="gaTrackingId"
			ng-maxlength="30"
			ng-attr-placeholder="{{ 'dash.games.settings.ga_tracking_id_placeholder' | translate }}"
			>

		<control-errors label="{{ 'dash.games.settings.ga_tracking_id_error_label' | translate }}"></control-errors>

		<div class="help-block">
			<p translate>Use <b>Google Analytics</b> to track a multitude of stats and get tons of information about your site. Just enter your Google Analytics tracking ID here and we'll start sending data over there right away.</p>
			<p>
				<a class="link-help" href="https://support.google.com/analytics/answer/1008080" target="_blank" translate>
					How do I get my tracking ID?
				</a>
			</p>
		</div>
	</form-group>

	<button
		gj-form-submit-button
		class="btn btn-success-outline"
		ng-disabled="!settingsForm.$valid"
		ng-click="onSubmit()"
		>
		<span class="jolticon jolticon-edit"></span>
		<span translate>Save</span>
	</button>

</form>
