
$game-list-item-thumb-width = 145px

.game-list-item
	display: flex
	margin-bottom: $line-height-computed

.-thumb
	display: block
	flex: none
	width: (5 / 12 * 100)%
	max-width: 200px
	margin-right: 10px

.-meta
	flex: auto
	min-width: 0

.-spacing
	display: block
	margin-top: 3px
	margin-bottom: 3px

.-title
	font-weight: bold

.-dev
	text-overflow()
	font-size: $font-size-small

.-followers
	text-overflow()
	font-size: $font-size-small
