<form gj-form="formModel" name="retrieveLoginForm" ng-submit="onSubmit()">
	<fieldset ng-disabled="!Connection.isOnline">

		<form-group name="email" label="{{ 'auth.forgot.email_label' | translate }}" hide-label="true">
			<p class="help-block" translate>auth.forgot.email_help</p>

			<input form-control="email"
				ng-model-options="{ updateOn: 'blur', debounce: { 'blur': 0 } }"
				ng-change="onChanged()"
				ng-attr-placeholder="{{ 'auth.forgot.email_label' | translate }}">

			<control-errors></control-errors>
		</form-group>
		<br>

		<div class="alert alert-warning anim-fade-in-enlarge no-animate-leave" ng-if="formState.invalidEmail" translate>auth.forgot.invalid_email_error_html</div>

		<div class="form-group">
			<button gj-form-submit-button class="btn btn-block">
				<span class="jolticon jolticon-key-diagonal"></span>
				<span translate>auth.forgot.submit_button</span>
			</button>
		</div>

	</fieldset>
</form>
