<app-form name="retrieveLoginForm">
	<fieldset :disabled="!Connection.isOnline">

		<app-form-group name="email" :label="$gettext( 'auth.forgot.email_label' )" :hide-label="true">
			<p class="help-block">
				<translate>auth.forgot.email_help</translate>
			</p>

			<app-form-control
				type="email"
				:validate-on="[ 'blur' ]"
				:placeholder="$gettext( 'auth.forgot.email_label' )"
				@changed="onChanged"
				/>

			<app-form-control-errors />
		</app-form-group>

		<br>

		<div
			class="alert alert-warning anim-fade-in-enlarge no-animate-leave"
			v-if="state.invalidEmail"
			>
			<translate :escape-html="false">auth.forgot.invalid_email_error_html</translate>
		</div>

		<app-form-button icon="key-diagonal" class="btn-block btn-outline btn-dark-variant">
			<translate>auth.forgot.submit_button</translate>
		</app-form-button>

	</fieldset>
</app-form>
