<section class="section">
	<div class="container">

		<div v-if="!$ctrl.game.path">
			<div class="alert alert-info">
				<p translate>In order to set up a custom site for your game, you first have to set a URL path in your game details page.</p>
				<div class="alert-actions">
					<a class="btn btn-outline btn-dark-variant"
						ui-sref="dashboard.games.manage.game.details( { id: $ctrl.game.id } )"
						translate
						>
						Edit Game Details
					</a>
				</div>
			</div>
			<br><br>
		</div>

		<div class="row">
			<div class="col-lg-8">

				<div :class="{ _disabled: !$ctrl.game.path }">
					<gj-sites-manage-page
						[site]="$ctrl.site"
						>
					</gj-sites-manage-page>
				</div>

			</div>
			<div class="col-lg-4">

				<br class="hidden-lg">

				<p class="page-help" translate>
					<b>Game Jolt Sites are customizable external sites for your portfolio and games!</b> You can use a customizable template, or simply upload your own static site.
				</p>

				<p class="page-help" translate>
					Sites don't replace your Game Jolt game page. You can use your Site URL to share your site with others.
				</p>

				<p class="page-help">
					<a ui-sref="dashboard.main.site" translate>You can also create a user portfolio site.</a>
				</p>

				<hr>

				<gj-sites-link-card
					v-if="$ctrl.game.path"
					[site]="$ctrl.site"
					>
				</gj-sites-link-card>

			</div>
		</div>

	</div>
</section>
