<div v-if="helpers.requiresField( namePrefix + '.document' )">

	<!--
		It only has a details_code if it failed to verify.
	-->
	<div
		v-if="
			!helpers.getStripeField( namePrefix + '.document' )
			|| helpers.getStripeField( namePrefix + '.details_code' )
		"
		>
		<hr>

		<div class="alert alert-info" v-if="helpers.getStripeField( namePrefix + '.details' )">
			<app-jolticon icon="notice" />
			{{ helpers.getStripeField( namePrefix + '.details' ) }}
		</div>

		<app-form-group
			:name="`${ namePrefix }.document`"
			:label="$gettext('ID Document')"
			>
			<p class="help-block">
				<translate :escape-html="false">This should be a scan of an ID card, driver's license, passport, or other government supplied identification. <em>Only .png or .jpg is accepted and it must be smaller than 8MB.</em></translate>
			</p>
			<app-form-control-upload
				ref="document-input"
				:rules="{
					filesize: 8 * 1024 * 1024,
				}"
				accept=".png,.jpg,.jpeg"
				/>
			<app-form-control-errors />
		</app-form-group>
	</div>

	<div
		v-if="
			helpers.getStripeField( namePrefix + '.document' )
			&& !helpers.getStripeField( namePrefix + '.details_code' )
		"
		class="form-horizontal"
		>
		<div class="form-group">
			<label class="control-label col-sm-4">
				<translate>ID Document</translate>
			</label>
			<div class="form-static col-sm-8">
				<translate>Provided</translate>
			</div>
		</div>
	</div>

</div>
