@require '~styles/variables'
@require './../../../../../lib/gj-lib-client/stylus/common/mixins.styl'

.form-dashboard-managed-account

	// Less spacing.
	>>> .form-horizontal

		.form-group
			margin-bottom: 10px

		.control-label
			padding-top: 0

