<div>
	<div class="row" v-if="!helpers.getStripeField( namePrefix + '.first_name' )">
		<div class="col-sm-6" v-if="helpers.requiresField( namePrefix + '.first_name' ) || forceRequired">
			<app-form-group
				:name="`${ namePrefix }.first_name`"
				:label="$gettext('First Name')"
				>
				<app-form-control />
				<app-form-control-errors />
			</app-form-group>
		</div>
		<div class="col-sm-6" v-if="helpers.requiresField( namePrefix + '.last_name' ) || forceRequired">
			<app-form-group
				:name="`${ namePrefix }.last_name`"
				:label="$gettext('Last Name')"
				>
				<app-form-control />
				<app-form-control-errors />
			</app-form-group>
		</div>
	</div>

	<div class="form-horizontal" v-if="helpers.getStripeField( namePrefix + '.first_name' )">
		<div class="form-group">
			<label class="control-label col-sm-4">
				<translate>Name</translate>
			</label>
			<div class="form-static col-sm-8">
				{{ helpers.getStripeField( namePrefix + '.first_name' ) }}
				{{ helpers.getStripeField( namePrefix + '.last_name' ) }}
			</div>
		</div>
	</div>
</div>
