<div
	class="status-bar fill-darker clearfix"
	:class="{
		'-is-showing': isShowing,
	}"
	>

	<div class="pull-left">
		<div
			class="-item"
			v-if="numPlaying > 0"
			>
			<app-jolticon icon="play" />
			<translate>Currently Playing:</translate>
			<strong :title="currentlyPlayingList">
				{{ currentlyPlayingList }}
			</strong>
		</div>

		<router-link
			class="-item link-unstyled"
			v-if="numPatching > 0"
			:to="{ name: 'library.installed' }"
			v-app-tooltip="$gettext( `View Downloads` )"
			>
			<translate
				:translate-n="numPatching || 0"
				:translate-params="{ count: number( numPatching || 0 ) }"
				translate-plural="%{ count } Downloads"
				>
				%{ count } Download
			</translate>
			&nbsp;
			<div class="-progress">
				<app-client-status-bar-patch-item
					v-for="packageId of currentlyPatchingIds"
					:key="packageId"
					:package-id="packageId"
					/>
			</div>
		</router-link>
	</div>

	<div class="pull-right">
		<div class="-item" v-if="hasUpdate">
			<b>
				<translate>New Client version available!</translate>
				<a @click="updateApply()">
					<translate>Update now</translate>
				</a>
			</b>
		</div>
	</div>

</div>
