<div>

	<!-- Buttons -->
	<div class="devlog-post-controls timeline-list-item-controls">
		<!--<hr>-->

		<div class="devlog-post-controls-controls clearfix">
			<div class="pull-left" v-if="post.status === FiresidePost.STATUS_ACTIVE">

				<!--
					If we require tabs, then there is no reason to show the reply button.
				-->
				<button class="btn btn-outline btn-sparse btn-circle"
					v-if="!requireTabs"
					@click="toggleComments"
					v-app-tooltip="$gettext( 'Comment on This Post' )"
					>
					<app-jolticon icon="comment" />
				</button>

				<app-fireside-post-like-widget
					:post="post"
					:circle="true"
					/>

				<button class="btn btn-outline btn-sparse btn-circle"
					v-app-popover-trigger="sharePopoverId"
					v-app-tooltip="$gettext( 'Share' )"
					>
					<app-jolticon icon="share" />
				</button>

				<app-popover
					:popover-id="sharePopoverId"
					:append-to-body="!inModal"
					@focused="isShowingShare = true"
					@blurred="isShowingShare = false"
					>

					<div class="well fill-darkest sans-margin" v-if="isShowingShare">
						<div class="social-widgets" v-if="!GJ_IS_CLIENT">
							<app-social-twitter-share
								:url="shareUrl"
								:content="post.title"
								/>

							<span class="dot-separator"></span>

							<app-social-facebook-like
								:url="shareUrl"
								/>
						</div>

						<button class="btn btn-outline btn-block" @click="copyShareUrl">
							<translate>Copy Permalink</translate>
						</button>
					</div>

				</app-popover>
			</div>

			<div class="pull-right">
				<app-game-follow-widget
					v-if="
						showGameInfo
						&& (app.user && post.user.id !== app.user.id)
						&& !post.game.is_following
					"
					:game="post.game"
					:sparse="true"
					/>

				<div v-if="showEditControls && app.user && post.user.id === app.user.id">
					<button class="btn btn-success-outline" v-if="post.status === FiresidePost.STATUS_DRAFT" @click="publishPost">
						<app-jolticon icon="check" />
						<translate>Publish</translate>
					</button>
					<button class="btn btn-outline" @click="showEdit">
						<app-jolticon icon="edit" />
						<translate>Edit</translate>
					</button>
					<button class="btn btn-outline btn-sparse" v-app-popover-trigger="`devlog-post-controls-options-${post.id}`">
						<app-jolticon icon="ellipsis-h" />
					</button>

					<app-popover :popover-id="`devlog-post-controls-options-${post.id}`">
						<div class="list-group list-group-dark">
							<a class="list-group-item has-icon"
								@click="removePost"
								>
								<app-jolticon icon="remove warning" />
								<translate>Remove Post</translate>
							</a>
						</div>
					</app-popover>
				</div>
			</div>
		</div>

		<!--
			We don't show this in the feed on mobile.
		-->
		<div class="devlog-post-controls-links clearfix" v-if="showExtraInfo">

			<div class="devlog-post-controls-stats text-muted"
				v-if="app.user && post.user.id === app.user.id"
				>

				<translate
					:translate-n="post.view_count || 0"
					:translate-params="{ count: number( post.view_count || 0 ) }"
					translate-plural="%{ count } views"
					>
					1 view
				</translate>

				<span class="dot-separator"></span>

				<translate
					:translate-n="post.expand_count || 0"
					:translate-params="{ count: number( post.expand_count || 0 ) }"
					translate-plural="%{ count } expands"
					>
					1 expand
				</translate>

				<span v-app-tooltip="$gettext( 'An expand is some sort of interaction with your post. For example, playing a video post, or clicking into your post.' )">
					<app-jolticon icon="help-circle" />
				</span>

			</div>

			<a class="devlog-post-controls-link link-muted"
				v-if="post.comment_count > 0"
				:class="{ active: tab === 'comments' }"
				@click="toggleComments"
				>
				<translate
					:translate-n="post.comment_count"
					:translate-params="{ count: number( post.comment_count ) }"
					translate-plural="<b>%{ count }</b> comments"
					:escape-html="false"
					>
					<b>1</b> comment
				</translate>
			</a>

			<a class="devlog-post-controls-link link-muted"
				v-if="post.like_count > 0"
				:class="{ active: tab === 'likes' }"
				@click="toggleLikes"
				>
				<translate
					:translate-n="post.like_count"
					:translate-params="{ count: number( post.like_count ) }"
					translate-plural="<b>%{ count }</b> likes"
					:escape-html="false"
					>
					<b>1</b> like
				</translate>
			</a>

			<router-link
				class="devlog-post-controls-link link-muted"
				v-if="showGameInfo"
				:to="{ name: 'discover.games.view.overview', params: { slug: post.game.slug, id: post.game.id } }"
				>
				<translate>View game</translate>
			</router-link>
		</div>

	</div>

	<app-comment-widget-add
		v-if="app.user && !tab"
		resource="Fireside_Post"
		:resource-id="post.id"
		/>

	<div class="devlog-post-controls-well" v-if="tab">

		<app-comment-widget
			v-if="tab === 'comments'"
			resource="Fireside_Post"
			:resource-id="post.id"
			:no-intro="true"
			@count="updateCommentsCount"
			/>

		<div v-else-if="tab === 'likes'">
			<app-loading v-if="!hasLoadedLikes" />

			<div v-if="hasLoadedLikes">
				<router-link
					v-for="like of likes"
					:key="like.id"
					:to="{ name: 'profile.overview', params: { username: like.user.username } }"
					>
					<app-card>
						<div style="width: 40px; height: 40px; float: left">
							<div class="friend-request-popover-avatar">
								<app-user-avatar-img :user="like.user" />
							</div>
						</div>
						<div style="margin-left: 55px;">
							<div class="card-title">
								<h5>
									{{ like.user.display_name }}
									<small>@{{ like.user.username }}</small>
								</h5>
							</div>
						</div>
					</app-card>
				</router-link>
			</div>
		</div>

	</div>

</div>
