.post-grid-item

	@media $media-xs
		.scrollable-grid-xs &
			margin-bottom: 0
			white-space: normal

	post-grid-small()
		.post-item-title
			font-size: $font-size-base

		.post-item-for
		.post-item-time
			font-size: $font-size-small

		.post-item-excerpt
			font-size: $font-size-tiny

	@media $media-mobile
		post-grid-small()

	.post-grid-small &
		post-grid-small()


