@require '~styles/variables'
@require '~styles-lib/mixins'

>>> body.client-intro-no-overflow
	overflow: hidden

.client-intro
	theme-prop('background-color', 'darkest')
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 100000
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column

	&.-leave
		theme-prop('background-color', 'darkest-trans')
		transition: all 500ms
		pointer-events: none

		.-wrap
			transition: all 500ms $strong-ease-out
			opacity: 0
			transform: scale(2)

		.loading
			opacity: 0

.-logo
	display: inline-block
	margin: 0 4px
