@require '~styles/variables'

>>> body.client-intro-no-overflow
	overflow: hidden

.client-intro
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: $gray-darkest
	z-index: 100000
	display: flex
	align-items: center
	justify-content: center

	&.-leave
		transition: all 500ms
		background-color: rgba($gray-darkest, 0)
		pointer-events: none

		.-wrap
			transition: all 500ms $strong-ease-out
			opacity: 0
			transform: scale(2)

		.loading
			opacity: 0

.-logo
	display: inline-block
	margin: 0 4px
