<form gj-form="formModel" name="resetPasswordForm" ng-submit="onSubmit()">
	<fieldset ng-disabled="!Connection.isOnline">

		<form-group name="password" label="{{ ::'auth.reset_password.password_label' | translate }}" hide-label="true">
			<p class="help-block">{{ ::'auth.reset_password.password_help' | translate }}</p>

			<input form-control="password"
				ng-minlength="4"
				ng-maxlength="30"
				ng-model-options="{ updateOn: 'blur', debounce: { 'blur': 0 } }"
				ng-attr-placeholder="{{ ::'auth.reset_password.password_label' | translate }}">

			<control-errors></control-errors>
		</form-group>
		<br>

		<div class="form-group">
			<button gj-form-submit-button class="i-button block">
				<span class="jolticon jolticon-key-diagonal"></span>
				{{ ::'auth.reset_password.submit_button' | translate }}
			</button>
		</div>

	</fieldset>
</form>
