<div
	class="-statbar"
	:class="{
		'-ratings-disabled': !game.ratings_enabled,
	}"
	>
	<template v-if="game.ratings_enabled">
		<div class="-rating">
			<app-rating-widget
				:game="game"
				:user-rating="userRating"
				hide-count
				/>
		</div>
		<div class="-split" />
		<a
			class="-stat"
			@click="showLikers()"
			v-app-tooltip="$gettext(`View all people that liked this game`)"
			>
			<div class="-label">
				<translate>likes</translate>
			</div>
			<app-lazy-placeholder :when="isOverviewLoaded">
				<span class="lazy-placeholder"></span>
				<span class="-metric" :title="number( likeCount )">
					<strong>{{ fuzzynumber( likeCount ) }}</strong>
				</span>
			</app-lazy-placeholder>
		</a>
	</template>
	<div
		class="-stat"
		>
		<div class="-label">
			<translate>views</translate>
		</div>
		<app-lazy-placeholder :when="isOverviewLoaded">
			<span class="lazy-placeholder"></span>
			<span class="-metric" :title="number( profileCount )">
				<strong>{{ fuzzynumber( profileCount ) }}</strong>
			</span>
		</app-lazy-placeholder>
	</div>

</div>
