<span
	class="topic-upvote-btn"
	v-if="canUpvote"
	v-app-auth-required
	>
	<button
		class="btn btn-outline btn-sparse btn-circle"
		:class="{
			'active btn-success': isUpvoted
		}"
		@click="onUpvoteClick"
		v-app-tooltip="upvoteTooltip"
		v-app-track-event="`topic-upvote-widget:click`"
		>
		<app-jolticon icon="thumbs-up" />
	</button>
	<span class="blip light filled" v-if="upvoteCount > 0">
		<span class="blip-caret"></span>
		<span class="blip-count">{{ upvoteCount | number }}</span>
	</span>
	&nbsp;
</span>
