<div class="poll-voting">
	<template v-if="!showResults">
		<div v-app-auth-required>
			<button
				class="btn btn-outline btn-block"
				v-for="item of poll.items"
				:key="item.id"
				:disabled="isProcessing"
				@click="vote(item.id)"
				>
				{{ item.text }}
			</button>
		</div>

		<br>
	</template>
	<template v-else>
		<div
			v-for="item of poll.items"
			:key="item.id"
			:class="{
				'-chosen': item.is_voted
			}"
			>
			<app-progress-bar :percent="getItemPercentage(item) * 100">
				<span v-if="!poll.is_private" class="-progress-percent">
					{{ number(getItemPercentage(item), { style: 'percent', maximumFractionDigits: 0 }) }}
				</span>

				{{ item.text }}
			</app-progress-bar>
		</div>

		<div v-if="poll.is_private && votedId" class="alert alert-info">
			<translate>Thank you for voting! The results are not available yet, check back later?</translate>
		</div>
	</template>

	<div class="text-muted">
		<translate
			:translate-n="poll.vote_count || 0"
			:translate-params="{ votes: number(poll.vote_count || 0) }"
			translate-plural="%{ votes } votes"
			>
			%{ votes } vote
		</translate>

		<span class="dot-separator"></span>

		<app-time-ago v-if="isVotable" :date="poll.end_time" is-future />
		<translate v-else-if="poll.end_time">
			Voting finished
		</translate>
		<translate v-else>
			Draft poll
		</translate>
	</div>
</div>
