<gj-nav-tab-list>
	<ul>
		<li>
			<a
				ng-class="{ active: $ctrl.tab === 'template' }"
				ng-click="$ctrl.tab = 'template'"
				>
				<span class="sites-manage-page-active-tab"
					ng-if="$ctrl.templateEnabled"
					>
					<span class="jolticon jolticon-checkbox"></span>
				</span>
				<span translate>Use a Template</span>
			</a>
		</li>
		<li>
			<a
				ng-class="{ active: $ctrl.tab === 'static' }"
				ng-click="$ctrl.tab = 'static'"
				>
				<span class="sites-manage-page-active-tab"
					ng-if="$ctrl.staticEnabled"
					>
					<span class="jolticon jolticon-checkbox"></span>
				</span>
				<span translate>Upload Your Own</span>
			</a>
		</li>
	</ul>
</gj-nav-tab-list>

<div class="row"
	ng-if="
		($ctrl.templateEnabled && $ctrl.tab === 'template')
		||
		($ctrl.staticEnabled && $ctrl.tab === 'static')
	">
	<div class="col-xs-9">

		<div class="alert alert-success" ng-if="$ctrl.templateEnabled">
			<p><strong translate>Your site is turned on and active.</strong></p>
			<p translate>You can customize it using the site editor below.</p>
		</div>

		<div class="alert alert-success" ng-if="$ctrl.staticEnabled">
			<p><strong translate>Your static site is turned on and active.</strong></p>
			<p translate>You can upload new static site builds at any time.</p>
		</div>

	</div>
	<div class="col-xs-3">
		<button class="btn btn-danger-outline anim-fade-in no-animate-leave pull-right"
			ng-click="$ctrl.disable()"
			gj-tooltip="{{ 'This will turn your Site off completely and it will no longer be accessible.' | translate }}"
			>
			<span translate>Disable</span>
		</button>
	</div>
</div>

<gj-sites-manage-page-template
	ng-if="$ctrl.tab === 'template'"
	[site]="$ctrl.site"
	[enabled]="$ctrl.templateEnabled"
	[static-enabled]="$ctrl.staticEnabled"
	>
</gj-sites-manage-page-template>

<gj-sites-manage-page-static
	ng-if="$ctrl.tab === 'static'"
	[site]="$ctrl.site"
	[enabled]="$ctrl.staticEnabled"
	[template-enabled]="$ctrl.templateEnabled"
	>
</gj-sites-manage-page-static>
