<div class="well fill-lightest text-center"
	ng-if="!$ctrl.enabled"
	>
	<div class="row">
		<div class="col-xs-8 col-centered">

			<p class="lead" translate>
				Have a site already, or want full and complete control over how your site will look? Upload a .zip file of static content.
			</p>

			<gj-form-dashboard-site-build
				ng-if="!$ctrl.site.build"
				site="$ctrl.site"
				gj-form-submit-handler="$ctrl.onBuildAdded( $response )"
				>
			</gj-form-dashboard-site-build>

			<button class="btn btn-success-outline"
				ng-if="$ctrl.site.build"
				ng-click="$ctrl.activateBuild()"
				gj-tooltip="{{ $ctrl.templateEnabled ? ('This will disable your template and use your static build instead.' | translate) : undefined }}"
				>
				<span translate>Turn On</span>
			</button>

		</div>
	</div>
</div>

<div ng-if="$ctrl.enabled">

	<h2 translate>Upload a New Build</h2>

	<gj-form-dashboard-site-build
		site="$ctrl.site"
		gj-form-submit-handler="$ctrl.onBuildAdded( $response )"
		>
	</gj-form-dashboard-site-build>

</div>
