<div>
	<div
		class="well fill-lightest text-center"
		v-if="!enabled"
		>
		<div class="row">
			<div class="col-xs-8 col-centered">

				<p class="lead">
					<translate>Use one of our pre-built templates and customize it to your style.</translate>
				</p>

				<button
					class="btn btn-success-outline"
					@click="enable()"
					v-app-tooltip="staticEnabled ? $gettext('This will disable your static site and use a customizable template instead.') : undefined"
					>
					<translate>Turn On</translate>
				</button>

			</div>
		</div>
	</div>
	<div v-else>

		<div class="alert alert-warning visible-xs full-bleed-xs">
			<p><translate>The site editor doesn't work on mobile devices at this time.</translate></p>
		</div>

		<div class="hidden-xs">
			<button
				class="btn btn-outline anim-fade-in no-animate-leave stagger"
				@click="showEditor( 'theme' )"
				>
				<app-jolticon icon="cog" />
				<translate>Customize Theme</translate>
			</button>

			<button
				class="btn btn-outline anim-fade-in no-animate-leave stagger"
				@click="showEditor( 'content' )"
				>
				<app-jolticon icon="edit" />
				<translate>Edit Content</translate>
			</button>
		</div>

		<h2>
			<translate>Settings</translate>
		</h2>

		<form-site-settings
			:model="site"
			@submit="onSettingsSaved"
			/>

	</div>
</div>
