.nav-justified
	> ul
		width: 100%
		display: flex

		> li
			float: none
			flex: 1 1 auto

			> a
				display: block !important
				margin: 0 !important
				padding-left: 0 !important
				padding-right: 0 !important
				text-align: center
