$gj-app-styles-folder ?= '../../../../auth'

@import './styles/variables'
@import './styles/layers'
@import '../lib/gj-lib-client/stylus/common'

@import '../lib/gj-lib-client/components/well/well'
@import '../lib/gj-lib-client/components/i-button/i-button'
@import '../lib/gj-lib-client/components/button/button'
@import '../lib/gj-lib-client/components/jolticons/jolticons'
@import '../lib/gj-lib-client/components/section/section'
@import '../lib/gj-lib-client/components/form/form'
@import '../lib/gj-lib-client/components/alert/alert'
@import '../lib/gj-lib-client/components/error/error'
@import '../lib/gj-lib-client/components/collapse/collapse'
@import '../lib/gj-lib-client/components/loading/loading'
@import '../lib/gj-lib-client/components/growls/growls'
@import '../lib/gj-lib-client/components/popover/popover'
@import '../lib/gj-lib-client/components/list-group/list-group'
@import '../lib/gj-lib-client/components/translate/lang-selector/lang-selector'
@import '../lib/gj-lib-client/components/auth/auth'

// Styles/overrides.
@import './styles/scaffolding'
@import './styles/client'

// Components.
@import './components/**/*.styl'

// Views.
@import './views/**/*.styl'
