.devlog-post-video

	&-game
		float: right
		width: 120px
		border: 2px solid $white

	.timeline-list-item-header
		margin-bottom: 0

	.timeline-list-item-details
		margin-top: 0

	&-embed
		position: relative

		a
			display: block

		&-thumb
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
