<div class="devlog-post-video-embed timeline-list-full-bleed">
	<app-responsive-dimensions
		:ratio="16 / 9"
		@change="onDimensionsChange"
		>
		<a
			v-if="!isShowingVideo"
			@click="play"
			>
			<div class="play-button-overlay">
				<app-jolticon icon="play" />
			</div>

			<div class="devlog-post-video-embed-thumb"
				:style="{ 'background-image': `url('${video.thumbnail_url}')` }"
				>
			</div>
		</a>

		<app-video-embed
			v-if="isShowingVideo"
			video-provider="youtube"
			:video-id="video.video_id"
			:autoplay="shouldAutoplay"
			/>
	</app-responsive-dimensions>
</div>
