<div>
	<div v-if="address.fullname">
		<strong>{{ address.fullname }}</strong>
	</div>

	<div v-if="address.street1">
		{{ address.street1 }}
	</div>

	<div v-if="address.street2">
		{{ address.street2 }}
	</div>

	<div>
		<template v-if="address.city">
			{{ address.city }}
		</template>
		<template v-if="address.region">
			{{ region }}
		</template>
		<template v-if="address.postcode">
			{{ address.postcode }}
		</template>
	</div>

	<div v-if="address.country">
		{{ country }}
	</div>
</div>
