<app-form name="tokenForm">

	<app-form-group name="token" :label="$gettext( 'Game Token' )">
		<app-form-control
			type="text"
			:rules="{
				min: 4,
				max: 30,
			}"
			autocomplete="off"
			v-app-focus-when
			/>

		<app-form-control-errors />

		<p class="help-block">
			<translate>For security reasons, don't make your game token the same as your password.</translate>
		</p>
	</app-form-group>

	<app-form-button icon="edit">
		<translate>Save Game Token</translate>
	</app-form-button>

</app-form>
