@require '../variables'
@require '~styles-lib/mixins'

.-item
	rounded-corners()
	theme-prop('background-color', 'bg-subtle')
	position: relative
	display: inline-block
	vertical-align: top
	// Spacing through margins.
	margin-right: $-padding

	&:last-child
		margin-right: 0

	img
		rounded-corners()
		z-index: 1

.-controls
	position: absolute
	top: 3px
	right: 3px
	z-index: 2
