// This path has to be relative to the "main.styl" file of each section (auth,
// app, etc.)
$gj-font-lib = '../_styles/fonts/'

font-url($font-url, $variant)
	src: url($gj-font-lib + $font-url + '/' + $variant + '/' + $font-url + '.woff2') format('woff2'), url($gj-font-lib + $font-url + '/' + $variant + '/' + $font-url + '.woff') format('woff')

// Lato
@font-face
	font-family: 'Lato'
	font-url('lato', 'regular')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Lato'
	font-url('lato', 'light')
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'Lato'
	font-url('lato', 'bold')
	font-weight: 700
	font-style: normal

// Nunito
@font-face
	font-family: 'Nunito'
	font-url('nunito', 'regular')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Nunito'
	font-url('nunito', 'regular-italic')
	font-weight: normal
	font-style: italic

@font-face
	font-family: 'Nunito'
	font-url('nunito', 'bold')
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'Nunito'
	font-url('nunito', 'bold-italic')
	font-weight: 700
	font-style: italic

@font-face
	font-family: 'Nunito'
	font-url('nunito', 'semibold')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'Nunito'
	font-url('nunito', 'semibold-italic')
	font-weight: 600
	font-style: italic

// Inconsolata
@font-face
	font-family: 'Inconsolata'
	font-url('inconsolata', 'regular')
	font-weight: normal
	font-style: normal

// Germania
@font-face
	font-family: 'Germania'
	font-url('germania', 'regular')
	font-weight: normal
	font-style: normal

// Staatliches
@font-face
	font-family: 'Staatliches'
	font-url('staatliches', 'regular')
	font-weight: normal
	font-style: normal
