/**
 * Media Helper
 */
media( min = false, max = false )
	if min != false and max != false
		'screen and (min-width: ' + min + ') and (max-width: ' + max + ')'
	else if min != false
		'screen and (min-width: ' + min + ')'
	else if max != false
		'screen and (max-width: ' + max + ')'

/**
 * Calculating widescreen 16:9 height
 */
calc-hd-height( width )
	width / (16 / 9)

/**
 * When v-binding into stylus, the values often are unitless, so we need to add
 * a "px" unit to the end. You can use this function to quickly do so:
 *   left: add-unit(v-bind(KGutterWidth), px)
 */
add-unit(binding, unit)
	unquote('calc(' + binding + ' * 1' + unit + ')')
