//
// Loading Bar
$zindex-loading-bar = 2000
//
// Tooltips
$zindex-tooltip = 1300
//
// Growls
$zindex-growls = 1200
//
// Content Editor
$zindex-content-editor = 200
//
// Backdrop
$zindex-backdrop = 20
//
// Play Button Overlay
$zindex-play-button-overlay = 11
//
// Sticker Layer
$zindex-sticker-layer = $zindex-modal + 1
