<div>

	<app-page-header
		:should-affix-nav="true"
		col-classes="col-md-8 col-lg-7 col-centered"
		>

		<h1 class="text-center">
			<translate>Activity Feed</translate>
		</h1>
		<br>

		<nav slot="nav" class="platform-list inline nav-justified">
			<ul>
				<li>
					<router-link :to="{ name: 'activity', params: { tab: 'activity' } }" active-class="active">
						<app-jolticon icon="feed" class="hidden-xs" />
						<translate>Feed</translate>
						<span class="tag tag-highlight" v-if="unreadActivityCount > 0">
							{{ unreadActivityCount < 100 ? unreadActivityCount : '99+' }}
						</span>
					</router-link>
				</li>
				<li>
					<router-link :to="{ name: 'activity', params: { tab: 'notifications' } }" active-class="active">
						<app-jolticon icon="notifications" class="hidden-xs" />
						<translate>Notifications</translate>
						<span class="tag tag-highlight" v-if="unreadNotificationsCount > 0">
							{{ unreadNotificationsCount < 100 ? unreadNotificationsCount : '99+' }}
						</span>
					</router-link>
				</li>
			</ul>
		</nav>

	</app-page-header>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-7 col-centered">

					<app-activity-feed-placeholder v-if="!feed" />
					<div v-else>

						<p>
						<app-button
							@click="addActivityCount"
							>
							Add activity count
						</app-button>

						<app-button
							@click="addNotificationCount"
							>
							Add notification count
						</app-button>
						</p>

						<div v-for="_feed of [ feed ]" :key="feed.type">
							<app-activity-feed
								v-if="_feed.hasItems"
								:feed="_feed"
								show-game-info
								:show-ads="tab === 'activity'"
								:new-count="unreadCount"
								@load-new="loadedNew()"
								/>

							<div class="alert" v-else>
								<template v-if="tab === 'activity'">
									<p>
										<translate>You don't have any activity yet. Follow games to stay up to date on their latest development!</translate>
									</p>
								</template>
								<template v-if="tab === 'notifications'">
									<p>
										<translate>You don't have any notifications yet.</translate>
									</p>
								</template>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>


</div>
