<div>

	<app-page-header
		:class="{ '-header': shouldShowHeaderImage }"
		:should-affix-nav="true"
		col-classes="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-7"
		>

		<img
			v-if="shouldShowHeaderImage"
			class="-header-img"
			src="./header.png"
			:width="704 / (Screen.isXs ? 3 : 2)"
			:height="416 / (Screen.isXs ? 3 : 2)"
			alt="Activity Feed"
			>
		<template v-else>
			<h1>
				<translate>Activity Feed</translate>
			</h1>
			<br>
		</template>

		<nav slot="nav" class="platform-list inline nav-justified">
			<ul>
				<li>
					<router-link :to="{ name: 'activity', params: { tab: 'activity' } }" active-class="active">
						<app-jolticon icon="feed" class="hidden-xs" />
						<translate>Feed</translate>
						<span class="tag tag-highlight" v-if="activityUnreadCount > 0">
							{{ activityUnreadCount < 100 ? activityUnreadCount : '99+' }}
						</span>
					</router-link>
				</li>
				<li>
					<router-link :to="{ name: 'activity', params: { tab: 'notifications' } }" active-class="active">
						<app-jolticon icon="notifications" class="hidden-xs" />
						<translate>Notifications</translate>
						<span class="tag tag-highlight" v-if="notificationsUnreadCount > 0">
							{{ notificationsUnreadCount < 100 ? notificationsUnreadCount : '99+' }}
						</span>
					</router-link>
				</li>
			</ul>
		</nav>

	</app-page-header>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-7">

					<app-activity-feed-placeholder v-if="!feed" />
					<div v-else>

						<div v-for="_feed of [ feed ]" :key="feed.type">
							<app-activity-feed
								v-if="_feed.hasItems"
								:feed="_feed"
								show-game-info
								:show-ads="tab === 'activity'"
								/>

							<div class="alert" v-else>
								<template v-if="tab === 'activity'">
									<p>
										<translate>You don't have any activity yet. Follow games to stay up to date on their latest development!</translate>
									</p>
								</template>
								<template v-if="tab === 'notifications'">
									<p>
										<translate>You don't have any notifications yet.</translate>
									</p>
								</template>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>


</div>
