@require '~styles/variables'

.-header
	& >>> .page-header-cover
		background-image: url(./mascot-pattern.png)
		background-size: (832px / 2)
		background-repeat: repeat

	& >>> .page-header-content
		padding-bottom: 0

.-header-img
	display: block
	margin: 0 auto
